* userid : $userid<br/>
* 사용할 수 있는 크기 : ${ProfileFarm.getSizesString()}<br/>
<br/>
<ul>
	<li>158x158
		<img src="${ProfileFarm.getUrl158x158("$userid")}" />
	</li>&nbsp;
	<li>110x110
		<img src="${ProfileFarm.getUrl110x110("$userid")}" />
    </li>&nbsp;
	<li>55x55
		<img src="${ProfileFarm.getUrl55x55("$userid")}" />
	</li>&nbsp;
	<li>40x40
		<img src="${ProfileFarm.getUrl40x40("$userid")}" />
	</li>&nbsp;
	<li>30x30
		<img src="${ProfileFarm.getUrl30x30("$userid")}" />
    </li>
</ul>

