
<div class="section_chart">
	<h3 class="screen_out">인기차트</h3>
	
	<div class="wrap_cate">
		#printDetailChartNaviTab($!{command.song_type})
		
		#if(!$StringUtils.equals("$!{songDetailYn}", "N")) 
		<a id="btnMoreInfo" class="btn_detail btn_songeasy" status="$!{command.view_type}" href="javascript:;" onclick="daum.Music.setSongListView(this, 'btn_songfull', 'btn_songeasy');return false;">곡정보 자세히</a>
		#end
	</div>
		
	##차트영역	
	<div class="album_songlist">
		##printArtistPopularSongList($popularSongList) ## 아티스트 인기차트 곡 리스트
		
    	<div class="wrap_tool_btn wrap_option">			
    		<div class="tool_btn f_l">
    		##	#printListButton("song", "controlBtn")
				#printListButton("song" "" "" "" "")
    		</div>
    		
    		<span class="ipn_listenchk f_l">
				#if($StringUtils.equals("$!{command.listen_yn}", "Y"))
    			<input type="checkbox" class="chk_listen" id="chkListen" onclick="daum.Music.setListenFilter('/artist/song/list', '$!{command.artist_id}', 'N', '$!{command.song_type}', '$!{command.order_type}');" checked>
				#else
				<input type="checkbox" class="chk_listen" id="chkListen" onclick="daum.Music.setListenFilter('/artist/song/list', '$!{command.artist_id}', 'Y', '$!{command.song_type}', '$!{command.order_type}');">
				#end
    			<label for="chkListen">듣기가능</label>
    		</span>
			
    		<div class="sort_option f_r">
				#if($StringUtils.equals("$!{command.order_type}", "01"))
				<a href="/artist/song/list?artist_id=$!{command.artist_id}&song_type=$!{command.song_type}&listen_yn=$!{command.listen_yn}" onclick="daum.Music.setChartOrder('btnMoreInfo', '/artist/song/list?artist_id=$!{command.artist_id}&song_type=$!{command.song_type}&listen_yn=$!{command.listen_yn}');return false;">인기순</a><span class="txt_bar">|</span><em class="link_option">최신순</em>
				#else
    			<em class="link_option">인기순</em><span class="txt_bar">|</span><a href="/artist/song/list?artist_id=$!{command.artist_id}&amp;order_type=01&song_type=$!{command.song_type}&listen_yn=$!{command.listen_yn}" onclick="daum.Music.setChartOrder('btnMoreInfo', '/artist/song/list?artist_id=$!{command.artist_id}&amp;order_type=01&song_type=$!{command.song_type}&listen_yn=$!{command.listen_yn}');return false;">최신순</a>
				#end
    		</div>
			
    	</div>
    	<div class="bg_thead">
    		<input type="checkbox" class="all_chk" id="allCheck">
    		<label class="screen_out" for="allCheck">전체선택</label>
    	</div>
    	<table id="trackContainer" class="tbl_music">
    		<caption class="screen_out">앨범정보_곡 리스트</caption>
    		#printListHeader( "album" )
    		<tbody>
    		#printListEventRow($!{artist.event}, $!{artist.oneLineNotice})
    		#if($popularSongList.size() > 0)
        		#printListItems( "artist_chart" $popularSongList "" false)
        	#else
        		<tr class="no_listinfo">
    				<td colspan="11">
    					<p class="fc_txt">저장된 곡이 없습니다.</p>	
    				</td>
    			</tr>
        	#end
    		</tbody>
    	</table>
    	<div class="wrap_tool_btn">			
    		<div class="tool_btn f_l">
    		##	#printListButton("song", "controlBtn")
				#printListButtonFoot("song" "" "" "" "")
    		</div>
    		##<span class="arr_comm link_more"><a href="#">앨범정보 더보기</a></span>
    	</div>
		#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10) ## 공통 페이징
		#printSNSList( $popularSongList )
    	<script type="text/javascript">
		var controller = new daum.Music.ListPrototype();
		controller.initialize({pageType:'detail', arrow:false, colNum:11, isDuplicate:false});
		controller.addClassAndEvent('more_info');
		
		##if(!$StringUtils.equals("$!{command.view_type}", "simple"))
		##if(!$StringUtils.equals("$!{songDetailYn}", "N"))
            domReady( function(){
				if( daum.Browser.getCookie("AVEASY")=="true" ){
        		controller.viewSongInfo("", {el:daum.$$(".section_songinfo .btn_songfull")[0], foldClass:'btn_songfull', unfoldClass:'btn_songeasy' });
				} else {
				if(daum.$("btnMoreInfo")){ daum.$("btnMoreInfo").setAttribute("status", "detail"); }
				}
            });
		##end
		##end
		new daum.Music.CheckBoxDrag("trackContainer");
		</script>
		
	</div>
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )

<b>아티스트</b><br /> 
이미지 : $artist.mainImage.filePath<br /> 
이름 : $artist.name<br />
<br/>

<b>인기차트 갯수</b><br />
종합 : ${songCount.get("TOTALCOUNT")} <br />
발매곡 : ${songCount.get("REGULARCOUNT")}<br />
소속그룹 : ${songCount.get("OWNBANDCOUNT")}<br />
참여곡 : ${songCount.get("PARTCOMPILCOUNT")}<br />
<br/>

<b>곡정보 자세히 버튼 노출여부</b><br />
$!{songDetailYn} 
<br>
<b>인기차트</b><br /> 
#foreach($song in $popularSongList)
-------------------------------------------------<br/>
songId : $song.songId<br/>
title : $song.title<br/>
artist : #foreach($artist in $song.keyArtistList) $artist.artistId | $artist.name #end <br/>
featArtist : #foreach($artist in $song.featArtistList) $artist.artistId | $artist.name #end <br/>
creditArtist : #foreach($artist in $song.creditArtistList) $artist.artistId | $artist.name | $artist.creditTitle #end <br/>
favorite : $song.favorite<br/>
AODLinkId : $song.AODLinkId<br/>
lyricsYn : $song.lyricsYn<br/>
albumId : $song.album.albumId<br/>
vclipLinkId : $song.vclipLinkId<br/>
tvpotVId : $song.tvpotVId<br/>
MP3LinkId : $song.MP3LinkId<br/>
BGMLinkId : $song.BGMLinkId<br/>
bellSalesStatus : $song.bellSalesStatus<br/>
ringSalesStatus : $song.ringSalesStatus<br/>
$!{song.relationSongList}<br/>
#end
</table>

##page
#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)

#end
