#set($_albumType = "$!{command.album_type}")
#set($_artistId = "$!{command.artist_id}")
#set($_orderType = "$!{command.order_type}")
#set($_url = "/artist/main")

#set($onePage = 0)
#set($nowPageAlbumSize = $albumList.size())
#if($nowPageAlbumSize % 5 == 0) #set($nowPageAlbumSize = $nowPageAlbumSize - 5)#end
#set($nowPageAlbumLineSize = $nowPageAlbumSize - ($nowPageAlbumSize % 5))
#if($albumCount.get("TOTALALBUMCOUNT")<=25)#set($onePage = 1)#end

<div class="section_album#if($onePage == 1) one_page #end">
    <em class="tit_info">앨범 목록</em>
##   <h3>앨범 목록</h3>

	#if(!$StringUtils.equals('$!{albumCount.get("TOTALALBUMCOUNT")', "0"))
#*        <div class="wrap_cate">
            <ul class="category_navi">
                <li class="fst#if($StringUtils.equals("$!{_albumType}", "TOTAL") || !$StringUtils.isNotBlank("$!{_albumType}")) on#end">
                    <a href="$_url?artist_id=$!{_artistId}&amp;album_type=TOTAL">
                        <span class="cate_total f_l">종합</span>
                        <em class="f_l">($!{albumCount.get("TOTALALBUMCOUNT")} 개)</em>
                    </a>
                </li>
				#if(!$StringUtils.equals("$!{albumCount.get('REGULARALBUMCOUNT')}", "0"))
                    <li #if($StringUtils.equals("$!{_albumType}", "REGULAR"))class="on"#end>
                        <a href="$_url?artist_id=$!{_artistId}&amp;album_type=REGULAR">
                            <span class="cate_regular f_l">정규</span>
                            <em class="f_l">($!{albumCount.get("REGULARALBUMCOUNT")} 개)</em>
                        </a>
                    </li>
				#end
				#if(!$StringUtils.equals("$!{albumCount.get('IRREGULARALBUMCOUNT')}", "0"))
                    <li #if($StringUtils.equals("$!{_albumType}", "IRREGULAR"))class="on"#end>
                        <a href="$_url?artist_id=$!{_artistId}&amp;album_type=IRREGULAR">
                            <span class="cate_irregular f_l">비정규</span>
                            <em class="f_l">($!{albumCount.get("IRREGULARALBUMCOUNT")} 개)</em>
                        </a>
                    </li>
				#end
				#if(!$StringUtils.equals("$!{albumCount.get('SINGLEALBUMCOUNT')}", "0"))
                    <li #if($StringUtils.equals("$!{_albumType}", "SINGLE"))class="on"#end>
                        <a href="$_url?artist_id=$!{_artistId}&amp;album_type=SINGLE">
                            <span class="cate_single f_l">싱글</span>

                            <em class="f_l">($!{albumCount.get("SINGLEALBUMCOUNT")} 개)</em>
                        </a>
                    </li>
				#end
				#if(!$StringUtils.equals("$!{albumCount.get('OWNBANDALBUMCOUNT')}", "0"))
                    <li #if($StringUtils.equals("$!{_albumType}", "OWNBAND"))class="on"#end>
                        <a href="$_url?artist_id=$!{_artistId}&amp;album_type=OWNBAND">
                            <span class="cate_group f_l">소속그룹</span>
                            <em class="f_l">($!{albumCount.get("OWNBANDALBUMCOUNT")} 개)</em>
                        </a>
                    </li>
				#end
				#if(!$StringUtils.equals("$!{albumCount.get('PARTCOMPILALBUMCOUNT')}", "0"))
                    <li #if($StringUtils.equals("$!{_albumType}", "PARTCOMPIL"))class="on"#end>
                        <a href="$_url?artist_id=$!{_artistId}&amp;album_type=PARTCOMPIL">
                            <span class="cate_compil f_l">참여&amp;컴필레이션</span>
                            <em class="f_l">($!{albumCount.get("PARTCOMPILALBUMCOUNT")} 개)</em>
                        </a>
                    </li>
				#end
            </ul>
        </div>
*#
##        <div class="wrap_option">
##            <div class="sort_option f_r">
##				#printAlbumListCate($_url $_albumType $_artistId $_orderType)
##            </div>
##        </div>
##        <div class="wrap_option">
            <div class="sort_option f_r">
                #printAlbumListCate($_url $_albumType $_artistId $_orderType)
            </div>
##        </div>
		#if(!$CollectionUtils.isEmpty($albumList))
            <div class="wrap_album">
                #if($onePage == 0)
                    <ul class="list_album underline">
                #else
                    <ul class="list_album">
                #end
					#foreach($album in $albumList)
                        #if($velocityCount>$nowPageAlbumLineSize)
                            <li>
							    #printAlbumSet( $album "" )
                            </li>
                        #else
                            <li class="underline">
                                #printAlbumSet( $album "" )
                            </li>
                        #end
					#end
                </ul>
            </div>
		#else
            <div class="no_listinfo">
                <p class="fc_txt">저장된 앨범이 없습니다.</p>
            </div>
		#end
	##page
		#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
	#else
        <div class="wrap_cate">
            <ul class="category_navi">
                <li class="fst#if($StringUtils.equals("$!{_albumType}", "TOTAL") || !$StringUtils.isNotBlank("$!{_albumType}")) on#end">
                    <a href="$_url?artist_id=$!{_artistId}&amp;album_type=TOTAL">
                        <span class="cate_total f_l">종합</span>
                        <em class="f_l">($!{albumCount.get("TOTALALBUMCOUNT")} 개)</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="wrap_option">
            <div class="sort_option f_r">
				#printAlbumListCate($_url $_albumType $_artistId $_orderType)
            </div>
        </div>
        <div class="no_listinfo">
            <p class="fc_txt">저장된 앨범이 없습니다.</p>
        </div>
	#end
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )

"artist"<br />
"mainImage" : "${artist.mainImage.filePath}" <br />
"name" : "${artist.name}" <br />
<br />

"album_type" : $!{albumType} <br />
<br />

"count"<br />
"종합" : "$!{albumCount.get("TOTALALBUMCOUNT")}" <br />
"정규" : "$!{albumCount.get("REGULARALBUMCOUNT")}" <br />
"비정규" : "$!{albumCount.get("IRREGULARALBUMCOUNT")}" <br />
"싱글" : "$!{albumCount.get("SINGLEALBUMCOUNT")}" <br />
"소속그룹" : "$!{albumCount.get("OWNBANDALBUMCOUNT")}" <br />
"참여&컨필레이션" : "$!{albumCount.get("PARTCOMPILALBUMCOUNT")}" <br />
<br />

"albums"<br />
	#foreach($album in $albumList)
    "albumId" : "$!{album.albumId}" <br />
    "title" : "$!{album.title}" <br />
    "한줄공지" : "$!{album.oneLineNotice}" <br />
    "typeName" : "$!{album.typeName}" <br />
    "volume" : "$!{album.volume}" <br />
    "releaseDt" : "$!{album.releaseDt}" <br />
    "playYn" : "$!{album.playYn}" <br />
    "image" : "$!{album.mainImage.filePath}" <br />
    "artists" <br />
		#foreach($artist in $album.keyArtistList)
        "Id" : "$!{artist.artistId}" <br />
        "name" : "$!{artist.name}" <br />
		#end
    <br />
    "songs" <br />
		#foreach($song in $album.masterSongList)
        곡ID : $!{song.songId}<br>
        곡명 : $!{song.title}<br>
        듣기 여부 : $!{song.AODLinkId}<br>
        성인 여부 : $!{song.adultYn}<br>
		#end
    <br />
	#end
<br />

##page
	#printPaging($pagingUrl, $command.page_no, $pageHandler)

#end