#set( $URI = "#getter('URI', '')" )
#if($URI.indexOf('/artist/main') == -1 && $URI.indexOf('/song/list') == -1)
	#set($dir = "album")
	#if( $StringUtils.isNotBlank("$!{artist}"))
		#set($dir = "artist")
	#end
#else
	#set($dir = "artist")
#end

<h2 class="screen_out">상세</h2>
<h3 class="screen_out">앨범</h3>
<div class="article_menu">
	<strong class="tit_artist">
		<span title="$!{album.getAlbumNamesWithVolume()}">#strCut($!{album.getAlbumNamesWithVolume()}, 80)</span>
	</strong>
	##printDetailNaviTabBar($artist $album)
</div>

<div class="article_info album_detail">
	<h4 class="screen_out">앨범 기본정보</h4>
	<div class="wrap_thumb">
		#if(!$CollectionUtils.isEmpty($album.keyArtistList))#set($artistId = $album.keyArtistList[0].artistId)#end
		#if($StringUtils.isNotBlank("$!{album.mainImage.imageId}") && !$StringUtils.equals("$!{album.mainImage.imageId}", "0") && $StringUtils.isNotBlank("$!{album.mainImage.filePath}"))
			##&amp;obj_type=$!{image.objType} 이게없음
##    	<a class="album_type5" title="$!{album.title}" href="/$dir/photo/detail?artist_id=$!{artistId}&album_id=$!{command.album_id}&image_id=$!{album.mainImage.imageId}">
        <span class="album_type5 no_link">
		#else
		<span class="album_type5 no_link">
		#end
			##if($StringUtils.equals('$!{artist.mainImage.imageId}', '0'))#end
    		<img width="200" height="200" alt="Owl City" src="$ImageUtil.getImageUrl("$!{album.mainImage.filePath}", "200x200", "ALBUM")" />
    		<span class="bg_album5"></span>			
			#printAlbumTag ($album 5 "")
			
			#set($albumListenAble = false)
			#foreach($song in $!{album.songList})
				#if(!$!{song.AODLinkId} || $StringUtils.isEmpty("$!{song.AODLinkId}") || $StringUtils.equals("$!{song.AODLinkId}","0"))
				#else
					#set($albumListenAble = true)
				#end
			#end
			#if($albumListenAble)
    		<span class="ico_albumlisten CT_ZONE_ALBUMLISTEN" onclick="daum.Music.AodPlayer.add(this, $!{album.albumId}, 'itemTypeAlbumId' );return false;">앨범듣기</span>
			#end
		#if($StringUtils.isNotBlank("$!{album.mainImage.imageId}") && !$StringUtils.equals("$!{album.mainImage.imageId}", "0") && $StringUtils.isNotBlank("$!{album.mainImage.filePath}"))
##    	</a>
		</span>
		#else
		</span>
		#end
	</div>

	<div class="artist_info">
##   	<strong class="tit_album">
##			#printAlbumName( $!{album} "fw_b fc_etc" 40 3 true )
##    	</strong>
    	
		## 확인필요
    	<dl class="list_info">
			#if(!$CollectionUtils.isEmpty($album.keyArtistList))
    		<dt class="tit_detail tit_artist">아티스트</dt>
    		<dd>
				##printArtistName( $album, "artist_name", 20, true )
				#if($album.keyArtistList.get(0).getArtistId()!=0)
   					#printArtistName( $album.keyArtistList "artist_name" 50 true )
				#else
					#printArtistName( $album.keyArtistList "no_artist" 50 true )
				#end
			</dd>
			#end
    	</dl>
    	
    	<dl class="list_info">
			#if($StringUtils.isNotBlank("$!{album.typeName}"))
        	<dt class="tit_detail tit_songinfo">앨범정보</dt>
        	<dd>#if($StringUtils.isNotBlank("$!{album.typeName}"))$!{album.typeName}#end#foreach($tag in $tagList), $!{tag}#end#if($StringUtils.isNotBlank("$!{album.recordTypeName}")), $!{album.recordTypeName}#end</dd>
			#end
    	</dl>
    	
    	<dl class="list_info">
			#if(!$CollectionUtils.isEmpty($album.masterSongList))
    		<dt class="tit_detail tit_music">타이틀 곡</dt>
        	<dd class="titlesong">
				#foreach($song in $album.masterSongList)
					<dd>$song.title</dd>
##					#printSongName( $song, "ico_comm ico_listen", 45, true, false, false )
					#if($foreach.index == 0)#break;#end
                #end
			</dd>
			#end
    	</dl>

		<dl class="list_info">
        	#if(!$CollectionUtils.isEmpty($genreList))
        	<dt class="tit_detail tit_genre">장르</dt>
        	<dd>
			#foreach($genre in $genreList)
##				#if($foreach.index != 0), #end<a href="/genre/genrealbum/list?genre_group_cd=$!{genre.genreGroupCode}">$!{genre.genreGroupName}</a> &gt; <a href="/genre/genrealbum/list?genre_group_cd=$!{genre.genreGroupCode}&amp;genre_cd=$!{genre.genreCode}">$!{genre.genreName}</a>##
				#if($foreach.index != 0), #end<span>$!{genre.genreGroupName}</span> &gt; <span>$!{genre.genreName}</span>##
			#if($foreach.index == 1)#break#end##
			#end
        	</dd>
        	#end
    	</dl>
    	
    	<dl class="list_info">
        	#if($StringUtils.isNotBlank("$!{album.releaseDt}") || $StringUtils.isNotBlank("$!{album.salesAgentName}"))
            <dt class="tit_detail tit_sale">발매정보</dt>
			<dd>$!{CheckDate.makeReleaseDate($!{album.releaseDt})}#if($StringUtils.isNotBlank("$!{album.releaseDt}") && $StringUtils.isNotBlank("$!{album.salesAgentName}"))<span class="txt_bar"> | </span>#end$!{album.salesAgentName}</dd>
        	#end
    	</dl>
    	
    	<dl class="list_info">
        	#if($StringUtils.isNotBlank("$!{album.entertainmentName}") || $StringUtils.isNotBlank("$!{album.neighborName}"))	
        	<dt class="tit_detail tit_project">기획/유통</dt>
        	<dd>
##				#if($StringUtils.isNotBlank("$!{album.entertainmentId}") && !$StringUtils.equals("$!{album.entertainmentId}", "0"))
##				<a href="/genre/lablealbum/list?lable_id=$!{album.entertainmentId}" title="$!{album.entertainmentName}">$!{album.entertainmentName}</a>
##				#else
				<span>$!{album.entertainmentName}</span>
##				#end
        		#if($StringUtils.isNotBlank("$!{album.entertainmentName}") && $StringUtils.isNotBlank("$!{album.neighborName}"))
        		<span class="txt_bar"> | </span>
				#end
        		##<a href="/genre/lablealbum/list?lable_id=$!{album.neighborId}" title="$!{album.neighborName}">$!{album.neighborName}</a>
				#if($StringUtils.isNotBlank("$!{album.neighborName}"))
        		<span>$!{album.neighborName}</span>
				#end
			</dd>
        	#end
    	</dl>
		
##		<div class="btn_consumer">
			#printArtistDetailHighlightBtnSet("album", $artist, $album, $albumListenAble) ## 아티스트 상세 아티스트 공통 버튼 세트
##		</div>
		
	</div>
</div>
