#*
<h3 class="screen_out">이용권 구매 메뉴</h3>
#printPurchaseMenu("2")
<h3 class="screen_out">전체 이용권</h3>

#parse("/velocity/purchase/common/banner.vm")

#set( $ticketId = ["APG0027","APG0026","APMOG0034","APMOG0033","AMG0020","AMG0019","AMG0022","AMG0021","MCG0011","MCG0015","MCG0018","MCG0017","MCG0020","MCG0019","MCG0022","MCG0021","BTG0001","BTG0002","BTG0003"])

<h4 class="screen_out">전체 이용권 상세소개</h4>
<div class="wrap_good">
	<div class="good_all good_type1">
		<strong class="img_box box_good">
			<span class="img_pass tit_good tit_streaming">스트리밍 무제한</span><span class="img_pass desc_good desc_streaming">PC+ 스마트폰에서 무제한 전곡듣기</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>6,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>5,400<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[0]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>6,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[1]}','')"><span class="img_pass txt_payment">구매</span></a><!-- off시 a태그 span태그로 변경 -->
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[1]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
	<div class="good_all good_type1 lst">
		<strong class="img_box box_good">
			<span class="img_pass tit_good tit_smartphone">스마트폰 무제한</span><span class="img_pass desc_good desc_smartphone">스마트폰에서 DRM 무제한 다운로드+ 무제한 전곡듣기</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>8,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>7,200<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[2]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>8,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
					<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[3]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[3]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
	<div class="good_all good_type2">
				<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp30unlim">MP3 30곡 + 무제한 듣기</span><span class="img_pass desc_good desc_mp30unlim">PC, 안드로이드앱에서 MP3 30곡 다운로드 + PC, 스마트폰에서 무제한 전곡듣기</span><!-- // 2014-06-27 수정 : ENTDEVNEWMUSIC-4993 v2 -->
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>9,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>8,100<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[4]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>9,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
					<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[5]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[5]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
	<div class="good_all good_type2 lst">
		<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp100unlim">MP3 100곡 + 무제한 듣기</span><span class="img_pass desc_good desc_mp100unlim">PC, 안드로이드앱에서 MP3 100곡 다운로드 + PC, 스마트폰에서 무제한 전곡듣기</span><!-- // 2014-06-27 수정 : ENTDEVNEWMUSIC-4993 v2 -->
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>13,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>11,700<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[6]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>13,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[7]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[7]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
					<div class="good_all good_type3">
				<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp30">MP3 30곡</span><span class="img_pass desc_good desc_mp30">PC, 안드로이드앱에서 MP3 30곡 다운로드 다운 받은 MP3 평생 소장, 모든 기기 가능</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>6,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>5,400<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[8]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>6,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
					<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[9]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[9]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
					<div class="good_all good_type3">
				<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp40">MP3 40곡</span><span class="img_pass desc_good desc_mp40">PC, 안드로이드앱에서 MP3 40곡 다운로드 다운 받은 MP3 평생 소장, 모든 기기 가능</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>7,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>6,300<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[10]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>7,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
										<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[11]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[11]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
									</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
					<div class="good_all good_type3">
				<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp50">MP3 50곡</span><span class="img_pass desc_good desc_mp50">PC, 안드로이드앱에서 MP3 50곡 다운로드 다운 받은 MP3 평생 소장, 모든 기기 가능</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>8,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>7,200<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[12]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>8,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
										<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[13]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[13]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
									</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
					<div class="good_all good_type3 lst">
				<strong class="img_box box_good">
			<span class="img_pass tit_good tit_mp100">MP3 100곡</span><span class="img_pass desc_good desc_mp100">PC, 안드로이드앱에서 MP3 100곡 다운로드 다운 받은 MP3 평생 소장, 모든 기기 가능</span>
		</strong>
		<ul class="list_payment">
			<li>
				<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">10%<span class="screen_out">할인</span></span>
				<div class="info_before">
					<span class="num_before"><span class="screen_out">할인 전 가격 :</span>10,000<span class="img_pass won_before">원</span></span>
				</div>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">할인 가격 :</span>9,000<span class="img_pass won_pay">원</span></span>
				</div>
				<a href="#none" class="btn_coupon link_buyit"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[14]}','')">구매하기</a>
			</li>
			<li class="lst">
				<span class="img_pass txt_30day">30일 이용권</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>10,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_btn">
										<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[15]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[15]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
									</div>
			</li>
		</ul><!-- //list_payment -->
	</div><!-- //good_all -->
		<div class="good_all good_type4">
		<strong class="img_box box_good">
			<span class="img_pass tit_good tit_bgm">BGM 이용권</span><span class="img_pass desc_good desc_bgm">카페, 블로그에 설정할 배경음악을 매번 결제하기가 번거로울 때 </span>
		</strong>
				<ul class="list_payment">
									<li>
							<span class="img_pass txt_bgm txt_bgm5">BGM 5곡</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>3,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_type4btn">
										<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[16]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[16]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
									</div>
			</li>
									<li>
							<span class="img_pass txt_bgm txt_bgm10">BGM 10곡</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>6,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_type4btn">
					<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[17]}','')"><span class="img_pass txt_payment">구매</span></a><!-- off시 a태그 span태그로 변경 -->
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[17]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
			<li class="lst">
				<span class="img_pass txt_bgm txt_bgm30">BGM 30곡</span>
				<div class="info_payment">
					<span class="num_pay"><span class="screen_out">가격 :</span>18,000<span class="img_pass won_pay">원</span></span>
				</div>
				<div class="btn_coupon info_type4btn">
					<a href="#none" class="link_payment"  onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[18]}','')"><span class="img_pass txt_payment">구매</span></a>
					<a href="#none" class="link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('$!{ticketId[18]}', 'GIFT')"><span class="img_pass txt_gift">선물</span></a>
				</div>
			</li>
					</ul><!-- //list_payment -->
	</div><!-- //good_all -->
</div><!-- //wrap_goodall -->
<h4 class="tit_guide"><span class="ico_coupon ico_guide"></span><span class="img_noti txt_guide">상품 이용안내 </span></h4>
<!-- 2014-05-14 수정 시작 -->
<ul class="list_guide">
	<li><em class="emph_guide">배경음악 이용권을 제외한 나머지 상품은 부가세 10%가 별도 청구됩니다.</em></li>
	<li>30일권 상품은 구매 후 최대 30일 이내에 <a href="/my/own_ticket/ticket/list" class="emqh_path">MY뮤직 &gt; MY 관리 &gt; 이용권 현황</a>에서 사용시작을 클릭해야 하며, 30일 이후부터 자동으로 이용권 사용이 시작됩니다.</li>
	<li>본 상품은 이용 시작일 기준 7일 이내 청약철회 가능상품입니다.<br>단, 이용권 구매 후 전곡듣기를 1건이라도 사용하셨거나 MP3나 배경음악을 1곡이라도 사용 시에는 취소, 환불이 불가능합니다. </li>
	<li>다음 뮤직의 모든 서비스는 해외에서는 서비스가 원활하지 않으며, 국내에서만 정상 이용 가능합니다.</li>
	<li>사용중인 음악감상 이용권이 있을 경우에는 다른 음악감상 이용권은 구매하실 수 없습니다.</li>
	<li>스마트폰 무제한 이용권에 제공되는 대여MP3는 PC나 다른 기기로 옮길 수 없고 해당 이용권 사용시에만 재생 가능합니다.</li>
	<li>MP3는 모든 기기에서 사용가능하며, 일부 MP3는 음원 권리사의 요청으로 구매 후 1년만 재다운로드가 가능합니다. </li>
	<li>기간 내에 사용하지 않은 MP3 이용권은 이월되지 않습니다.</li>
	<li>음원 권리사의 요청에 따라 MP3 다운로드 기기는 3대로 제한되며, 스마트폰 무제한 다운로드 기기는 2대로 제한 됩니다.</li>
	<li>구입하신 이용권은 <a href="/my/own_ticket/ticket/list" class="emqh_path">MY뮤직 &gt; MY 관리 &gt; 이용권 현황</a>에서 페이지에서 확인할 수 있습니다.</li>
	<li>자동결제 상품의 해지는 <a href="/my/own_ticket/periodic/list" class="emqh_path">MY뮤직 &gt; MY 관리 &gt; 이용권 현황 &gt; 자동결제해지</a>에서 가능합니다.</li>
</ul>
<!-- 2014-05-14 수정 끝 -->

#parse("/velocity/purchase/ticketitem/ticket.vm")
*#

<script type="text/javascript">
    alert("2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.")
    history.back();
</script>