#set( $popupType = "ticket")
#set( $tabNumber = 0)
#set( $param_ticket_id = "MCG0004" ) ##MCG0101
#if( $StringUtils.isNotBlank("$!{ListTool.get($!{command.itemId},0)}") )
	#set( $param_ticket_id = $!{ListTool.get($!{command.itemId},0)} )
#end	
 
#set( $shopping = "false" )
#if($StringUtils.isNotEmpty("$!{shoppingSubscriptionResult}") && $StringUtils.equals("$!{shoppingSubscriptionResult}", "true"))
	#set( $shopping = $!{shoppingSubscriptionResult} )
#end


#set( $ticket_id = $StringUtils.trim("#checkTicketId($param_ticket_id, $shopping)"))

#set( $param_ticket_id = "#print_OnlyChar($ticket_id)")
#set($arrCode = ["MCG", "BTG", "APG", "MOG", "AMG"]) ## AMMOG APMOG AMMOG

#if( $param_ticket_id.length() == 5)
	#set( $param_ticket_id = $param_ticket_id.substring(2,5)) 
#end
 
#foreach($item in $arrCode )
	#if(  $StringUtils.equals("$!{item}" ,"$!{param_ticket_id}") )
		#set( $tabNumber = $foreach.index )
	#end	
#end
#if(  $StringUtils.equals("$!tabNumber" ,"4"))#set($tabNumber=0)#end
#set($display1="none")#set($display2="none")#set($display3="none")#set($display4="none")
#if( $tabNumber == 0)#set($display1="")#end
#if( $tabNumber == 1)#set($display2="")#end
#if( $tabNumber == 2)#set($display3="")#end
#if( $tabNumber == 3)#set($display4="")#end

## 탭별 ItemId 리스트		

#set( $ticketId_tab2 = ["BTG0001", "BTG0002", "BTG0003"] )

#if( $StringUtils.equals("$!{shopping}", "true") )
#set( $ticketId_tab1 = ["MCG0102", "MCG0101", "MCG0004", "MCG0003", "AMG0105", "AMG0106", "AMG0007", "AMG0008"] )
#set( $ticketId_tab3 = ["APG0009", "APG0010", "APG0111", "APG0112", "APG0013", "APG0014", "APG0015"] )
#set( $ticketId_tab4 = ["APMOG0111", "APMOG0112", "APMOG0015", "AMMOG0005", "AMMOG0006", "AMMOG0007", "AMMOG0008"] )
#else
#set( $ticketId_tab1 = ["MCG0012", "MCG0011", "MCG0014", "MCG0013", "AMG0015", "AMG0016", "AMG0017", "AMG0018"] ) ## 2013.01. 이전 "MCG0002", "MCG0001", "MCG0004", "MCG0003", "AMG0005", "AMG0006", "AMG0007", "AMG0008"
#set( $ticketId_tab3 = ["APG0019", "APG0021", "APG0022", "APG0025"] ) ## 2013.01. 이전  "APG0009", "APG0010", "APG0011", "APG0012", "APG0013", "APG0014", "APG0015"
#set( $ticketId_tab4 = ["APMOG0031", "APMOG0032"] ) ## 2013.01. 이전  "APMOG0011", "APMOG0012", "APMOG0015", "AMMOG0005", "AMMOG0006", "AMMOG0007", "AMMOG0008"
#end

	
<div id="daumWrap" class="popup_music type_ticket">
	<div class="popup_head">
		<h1>
			<a class="bg_logo daum_logo" href="http://www.daum.net/" target="_blank">다음</a>
			<span class="bg_logo tit_music_pass">뮤직 이용권 구매하기</span>
		</h1>
		
		<div id="chargeInfo" class="wrap_guide box_layer#if($StringUtils.isEmpty("$!{display2}")) hide#end">
			<a href="#" class="bnr_popup txt_month" onclick="return false;" onmouseover="daum.Music.Ticket.showTooltip(this,'month');" onmouseout="daum.Music.Layer.clear();">1개월</a>
			<a href="#" class="bnr_popup txt_auto" onclick="return false;" onmouseover="daum.Music.Ticket.showTooltip(this,'periodic');" onmouseout="daum.Music.Layer.clear();">자동결제</a>
		</div>		
		<a class="bnr_popup" href="#" onclick="daum.Music.Purchase.goSocialShopping();return false;">최대 40% 특별할인받기</a>
	</div><!-- // popup_head -->
	<div class="popup_body" >

	
    	<form action="">
    		<div class="article_ticket">
    			#print_TicketMenu($tabNumber)
     
                <h2 class="screen_out">MP3 이용권 상세 정보</h2>
				<div class="cont_ticket song_mp3 tab_mp3_ticket $display1">
					<div class="wrap_info mp3_download">
						<div class="ticket">
							<span class="tit_popup1 mp3_down"><h3>MP3 다운로드</h3><em class="screen_out">다운로드 무제한. MP3 평생소장</em></span>
						</div>
						<div class="cont">
							<!--<span class="tit_price">
								<span class="tit_popup1 txt_price"></span>
								<a href="#" class="tit_popup1 txt_sale" onclick="daum.Music.Purchase.goSocialShopping();return false;" title="특별할인가"></a>
							</span>-->
							<div class="cont_tit"><h4 class="tit_popup3 month_30song">30곡 다운로드</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_month">1개월</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[0]}">
										
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">5,900</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[0]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_free">자동결제</strong>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[1]}">
										
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">5,400</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[1]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="cont list_lst">
							<div class="cont_tit"><h4 class="tit_popup3 month_100song">100곡 다운로드</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_month">1개월</strong>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[2]}">
										
										<label class="num_price" for="">
											<div  class="wrap_price">
												
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">9,900</span><span class="screen_out">원</span>
												</div>
												<div class="oprice">
													<span class="num size_12 l_m fc_gray">60,000</span><span class="txt size_12 l_m fc_gray">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[2]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_free">자동결제</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[3]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">8,900</span><span class="screen_out">원</span>
												</div>
												
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[3]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="wrap_info mp3_endless">
						<div class="ticket">
							<span class="tit_popup1 mp3_free"><h3>MP3 다운로드 + 무제한 듣기</h3> <em class="screen_out">다운로드 무제한. MP3 평생소장</em></span>
						</div>
						<div class="cont">
							<!--<span class="tit_price">
								<span class="tit_popup1 txt_price"></span>
								<a href="#" class="tit_popup1 txt_sale" onclick="daum.Music.Purchase.goSocialShopping();return false;" title="특별할인가"></a>
							</span>-->
							<div class="cont_tit"><h4 class="tit_popup3 free_30song">30곡 다운로드 + 무제한 듣기</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_month">1개월</strong>
									</div>
									<div class="clickable f_r"  ticketId="$!{ticketId_tab1[4]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">8,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[4]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_free">자동결제</strong>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[5]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">7,200</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[5]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="cont list_lst">
							<div class="cont_tit"><h4 class="tit_popup3 free_100song">100곡 다운로드 + 무제한 듣기</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_month">1개월</strong>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[6]}">
				
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">12,000</span><span class="screen_out">원</span>
												</div>
												<div class="oprice">
													<span class="num size_12 l_m fc_gray">65,000</span><span class="txt size_12 l_m fc_gray">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[6]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<strong class="ico_popup ico_free">자동결제</strong>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab1[7]}">
					
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">10,800</span><span class="screen_out">원</span>
												</div>
												
											</div>
										</label>
										
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab1[7]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>				
			
                <h2 class="screen_out">BGM 이용권 상세 정보</h2>
                <div class="cont_ticket song_bgm tab_bgm_ticket $display2">
                	<div class="wrap_info">
                		<div class="ticket">
                			<span class="tit_popup1 bgm_use"><h3>BGM 이용권</h3> <em class="screen_out">기간제한 없이 배경음악 필요한 곡 수만큼 이용하세요.</em></span>
                		</div>
                		<div class="cont list_fst">
                			<div class="cont_tit"><h4 class="tit_popup1 use_5song">배경음악 5곡 이용권</h4></div>
                			<ul class="list_info">
                				<li>
                					<div class="clickable f_r" ticketId="$!{ticketId_tab2[0]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_16">3,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
                						<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab2[0]}"))inp_chk_on#{else}inp_chk_off#end">
                							<input class="screen_out" type="radio" id="" name="">
                						</span>
                					</div>
                				</li>
                			</ul>
                		</div>
                		<div class="cont cont_mid">
                			<div class="cont_tit"><h4 class="tit_popup1 use_10song">배경음악 10곡 이용권</h4></div>
                			<ul class="list_info">
                				<li>
                					<div class="clickable f_r" ticketId="$!{ticketId_tab2[1]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_16">6,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
                						<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab2[1]}"))inp_chk_on#{else}inp_chk_off#end">
                							<input class="screen_out" type="radio" id="" name="">
                						</span>
                					</div>
                				</li>
                			</ul>
                		</div>
                		<div class="cont list_lst">
                			<div class="cont_tit"><h4 class="tit_popup1 use_30song">배경음악 30곡 이용권</h4></div>
                			<ul class="list_info">
                				<li>
                					<div class="clickable f_r" ticketId="$!{ticketId_tab2[2]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_16">18,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
                						<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab2[2]}"))inp_chk_on#{else}inp_chk_off#end">
                							<input class="screen_out" type="radio" id="" name="">
                						</span>
                					</div>
                				</li>
                			</ul>
                		</div>
                	</div>
                </div>
				
                <h2 class="screen_out">음악감상 이용권 상세 정보</h2>
                <div class="cont_ticket listen_music tab_listen_ticket $display3">
                	<div class="wrap_info">
                		<div class="ticket">
                			<span class="tit_popup1 music_use"><h3>음악감상 이용권</h3> <em class="screen_out">무제한 음악 감상</em></span><!-- //2013-01-03 수정 -->
                		</div>
                		<div class="cont list_fst">
                			<div class="cont_tit"><h4 class="tit_popup1 listen_1day">1일 듣기</h4></div>
                			<ul class="list_info">
                				<li>
                					<div class="prefare f_r" ticketId="$!{ticketId_tab3[0]}">
                						<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">500</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab3[0]}"))inp_chk_on#{else}inp_chk_off#end">
                							<input class="screen_out" type="radio" id="" name="">
                						</span>
                					</div>
                				</li>
                			</ul>
                		</div>
                		

                		<div class="cont cont_listen">
							<!--<span class="tit_price">
								<span class="tit_popup1 txt_price"></span>
								<a href="#" class="tit_popup1 txt_sale" onclick="daum.Music.Purchase.goSocialShopping();return false;" title="특별할인가"></a>
							</span>-->
							<div class="cont_tit"><h4 class="tit_popup1 listen_30day">1개월 듣기</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_month">1개월</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab3[1]}">
			
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">5,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab3[1]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_free">자동결제</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab3[2]}">
			
										
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">4,500</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab3[2]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>							
                		</div>
                		

                		<div class="cont list_lst">
                			<div class="cont_tit"><h4 class="tit_popup3 listen_365day">365일 듣기</h4></div><!-- //2013-01-03 수정 -->
                			<ul class="list_info">
                				<li>
                					<div class="prefare f_r" ticketId="$!{ticketId_tab3[3]}">
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">48,000</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
                						<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab3[3]}"))inp_chk_on#{else}inp_chk_off#end">
                							<input class="screen_out" type="radio" id="" name="">
                						</span>
                					</div>
                				</li>
                			</ul>
                		</div>
                	</div>
                </div>				
				
				
                <h2 class="screen_out">스마트폰 무제한 이용권 상세 정보</h2>
                <div class="cont_ticket data_fee tab_data_ticket $display4">
                	<div class="data_cost">
                		<p class="screen_out">
                			<strong>스마트폰 무제한 이용권이란?</strong>Daum뮤직앱 이용자분들을 위한 전용 이용권으로, 무제한 스트리밍 음악감상 + 무제한 다운로드 (DRM)가 가능합니다. 단, 음원은 DRM 파일로 PC나 다른 기기로 옮길 수 없고 해당 이용권 사용시에만 들으실 수 있습니다.<!-- 2013-01-03 수정 -->
                		</p>
						
                		##<a class="link_help" href="/musicbar/musicbar/detail?menu_id=3&board_id=865" target="_blank" title="도움말 보기">도움말 보기</a>
						<a class="link_help" href="/purchase/ticketitem/list?ticket_tab_type=DATA" target="_blank" title="도움말 보기">도움말 보기</a>
                		##<a class="btn_popup btn_iphone" href="http://itunes.apple.com/kr/app/id411835583" target="_blank" title="아이폰용 다운로드">아이폰용 다운로드</a>
						<a class="btn_popup btn_iphone" href="http://itunes.apple.com/kr/app/id411835583" target="_blank" title="아이폰용 다운로드">아이폰용 다운로드</a>
						<a class="btn_popup btn_android" href="https://play.google.com/store/apps/details?id=net.daum.entertainment.music.android" target="_blank" title="안드로이드용 다운로드">안드로이드용 다운로드</a>
                	</div>
                	<div class="wrap_info listen_free">
                		<div class="ticket">
                			<span class="tit_popup3 cost_free"><h3>스마트폰 무제한 저장 + 스마트폰+PC 무제한 음악감상</h3></span>
                		</div>
						<div class="cont">
							<!--<span class="tit_price">
								<span class="tit_popup1 txt_price"></span>
								<a href="#" class="tit_popup1 txt_sale" onclick="daum.Music.Purchase.goSocialShopping();return false;" title="특별할인가"></a>
							</span>-->
							<div class="cont_tit"><h4 class="tit_popup3 free_month">1개월 무제한 다운로드</h4></div><!-- //2013-01-03 수정 -->
							<ul class="list_info">
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_month">1개월</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab4[0]}">
		
										<label class="num_price" for="">
											<div  class="wrap_price">
												<div class="ico_coupon_won txt_nprice">
													<span class="num size_15">6,900</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab4[0]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
								<li>
									<div class="f_l">
										<div class="box_layer">
											<strong class="ico_popup ico_free">자동결제</strong>
										</div>
									</div>
									<div class="clickable f_r" ticketId="$!{ticketId_tab4[1]}">
	
										<label class="num_price" for="">
											<div  class="wrap_price">
												<span class="ico_coupon_tbl ico_10">10% 할인 이용가</span>
												<div class="ico_coupon_won txt_sprice">
													<span class="num size_15 fc_red">6,300</span><span class="screen_out">원</span>
												</div>
											</div>
										</label>
										
										<span class="btn_popup #if($StringUtils.equals("$!{ticket_id}","$!{ticketId_tab4[1]}"))inp_chk_on#{else}inp_chk_off#end">
											<input class="screen_out" type="radio" id="" name="">
										</span>
									</div>
								</li>
							</ul>
						</div>					
						
						

                	</div>
                	
                </div>				
				
    		</div>
    		#print_TicketPurchase($ticket_id $inUseTicketList $notInUseTicketList)
    	</form>
	</div><!-- // popup_body -->
</div>
 
		<form name="frmCart"></form>

		
<script type="text/javascript">
var ticketItemList = []; 
#foreach($item in $mp3LimitDownloadTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}" ,salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMp3DownloadTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $bgmDownloadTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMobileTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMp3DownloadMobileTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

var arr_inuse_ticket_list = [
#foreach($item in $inUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end

#foreach($item in $notInUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($inUseTicketList.size()!=0 || $foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end
]; 
	
domReady( function(){
	daum.Music.Ticket.init(ticketItemList, 
	{tabIdx:"$!{tabNumber}",
	ticketId:"$!{ticket_id}",
	form : document.frmCart,
	daum_cash : "#if($daumCashBalance==-9999)0#{else}$daumCashBalance#end",
	payment_type : "#if($daumCashBalance==-9999)MOBILE#{else}DAUMCASH#end",
	own_ticket_list : ["$isAodUse", "$isAodUseTransform", "$isMobileAodUse", "$isTodayPeriodic"], 
	inuse_ticket_list : arr_inuse_ticket_list,
	shoppingSubscriptionResult : "$!{shopping}", 
	BI_DOMAIN : "#getter('BI_DOMAIN', '')",
	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')"
	});
	window.resizeTo(775, 634);
}); 

#if( $inUseTicketList.size()>0 || $notInUseTicketList.size()>0 )
#set( $totCount= $MathTool.add($!{inUseTicketList.size()}, $notInUseTicketList.size()))
#if( $totCount > 1)
##이용권 롤링
var msRoll = new daum.Music.ListRoll("inuseTicketList", {amount:1, listTag : "dl",  duration:0.2, viewList:true, prevId:"msPrevBtn", nextId:"msNextBtn", defaultIdx:0, loop:false,preonclassName:"on_prev", preoffclassName:"off_prev", nextonclassName:"on_next", nextoffclassName:"off_next"	});
msRoll.render();
#end
#end	
</script>

## 이용권 중지 임시 팝업
#*
<script type="text/javascript">
#if( $tabNumber == 1)

#else
	alert("죄송합니다. 징수규정 개정에 따른 음악 이용권 변경 준비로 음악이용권 신규구매가 일시적으로 중단됩니다.");
	window.close();
#end
</script>
*#
#if( $StringUtils.equals("$!{command.debugmode}", "2") )
<div id="FTMessage" >
---------------------<br/>
FT 체크<br/>
---------------------<br/>	
1. 맨 하단, 자동결제 마우스 오버시 확인!!<br>
2. 현재 듣기 이용권은 있으나, bgm이용권을 사려고 할 경우는??<br>
3. 캐쉬 충전  액션 - MP3구매 팝업 공통 요소들, purchase.popup.js로. <br>
4. 다음 캐쉬 잔액이 클 경우 아래로 글자 떨어짐<br>


<br>
</div>

1. 현재 선택될 이용권 ID : $!{ticket_id}<br>
2. 다음캐시 : $daumCashBalance 
(값을 가지고 오는데 실패하면 -9999값이 나옴.이때는 -와 같은 표시를 해주시면 됩니다. 로컬에서 하면 무조건 -9999)
<br/>
사용자 이름 :$user.getDaumName()
* 특별 할인 shoppingSubscriptionResult  : $!{shoppingSubscriptionResult} <br/>
<br/>
<h3>사용중인 보유이용권 :</h3>
#foreach($item in $inUseTicketList)
	/$item/
#set( $isAod = false)
#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end
[$item.itemId - $isAod]
#end
<br/>
<h3>사용중이지 않은 보유이용권 :</h3>
#foreach($item in $notInUseTicketList)
	${item.itemId}<br/>
#end
<br/>
<h3>사용중인 이용권 중 AOD 이용권이 있는지 여부 :</h3>
$isAodUse <br/>
<h3>사용중인 이용권 중 데이터이용권으로 변환가능한 AOD 이용권이 있는지 여부:</h3>
$isAodUseTransform <br/>
<h3>사용중인 이용권 중 데이터 절약 이용권이 있는지 여부 :</h3>
$isMobileAodUse <br/>
<h3>사용중인 이용권 중 aod이용권이 있는데 오늘 결제한 것인지 여부(기존에 만들어 쓰던걸 직접 백단에서 만들어 내림) :</h3>
$isTodayPeriodic <br/>
<br/><br/>
위에 내용은 vm/purchase/ticketPurchaseDetail.vm
을 보고 작성해주심 됩니다


<br/><br/><br/><br/>
<p> mp3 다운로드 이용권 </p>
#foreach($item in $mp3LimitDownloadTicketList)
${item.title} - ${item.itemId} $item.salePrice<br/>
자동결제 여부 : ${item.periodic}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end
<p> mp3 + 음악감상이용권 </p>
#foreach($item in $aodMp3DownloadTicketList)
${item.title} - ${item.itemId}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end
<p> bgm 이용권 </p>
#foreach($item in $bgmDownloadTicketList)
	/${item}/ 
${item.title} - ${item.itemId}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end
<p> 음악감상 이용권 </p>
#foreach($item in $aodTicketList)
${item.title} - ${item.itemId}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end
<p> 무제한 음악감상 이용권 </p>
#foreach($item in $aodMobileTicketList)
${item.title} - ${item.itemId}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end
<p> MP3 + 음악감상 이용권 </p>
#foreach($item in $aodMp3DownloadMobileTicketList)
${item.title} - ${item.itemId}<br/>
aod이용권인지 여부: $item.isAodItem()<br/>
<br/>
#end

<br/><br/>
변수중 몇가지만 찍어두었습니다.
위와 같은 식으로 dto를 빼고 바로 변수로  접근하시면되구요.
위 내용은 vm/purchase/ticket.vm과 완전히 동일하니 
그대로 사용하시면됩니다.

aod이용권인지 여부는 기존에
-> if($StringUtils.equals( "$StringUtils.mid(${itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${itemId}, 0, 2)", "AM" ) )
로 쓰였는데 위에 $item.isAodItem()를 사용하시면 됩니다. 

#end