#*
<h3 class="screen_out">이용권 구매 메뉴</h3>
#printPurchaseMenu("1")
<h3 class="screen_out">3개월 반값 할인</h3>
<p class="info_3months">다음 뮤직 반값!<br>뭐? 뭐라고!?<br> 기간은?<br> 단3개월! 콜!</p>
<a href="http://webtoon.daum.net/webtoon/view/streetstall" target="_blank" class="img_3months link_webtoon">책봉 노점묵시룩 웹툰 보러가기</a>
<h4 class="screen_out">3개월 반값 할인권 상세소개</h4>

<div class="wrap_3months">
		<div class="good_3months"> 
		<strong class="tit_3months"><span class="img_3months tit_streaming">스트리밍 무제한</span></strong>
		<div class="info_price">
			<span class="img_3months desc_3months desc_streaming">PC + 스마트폰에서 무제한 전곡듣기(APG0028)</span>
			<div class="price_3months">
				<em class="screen_out">반값할인</em>
				<!-- 2014-05-15 수정 시작 -->
				<div class="info_before">
					<span class="img_3months txt_autopay">자동결제</span><span class="screen_out">할인 전 가격</span><span class="img_num num_before before_streaming">6,000</span><span class="img_3months won_before">원</span>
				</div>
				<div class="info_payment">
					<span class="screen_out">할인 가격</span><span class="img_num num_pay pay_streaming">3,000</span><span class="img_3months won_pay">원</span>
				</div>
				<!-- 2014-05-15 수정 끝 -->
				<span class="ico_coupon ico_half"></span>
			</div>
			<a href="#none" class="btn_coupon link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('APG0028','')">구매하기</a>
		</div><!-- //info_price -->
	</div><!-- //good_3months -->
		<div class="good_3months"> 
		<strong class="tit_3months"><span class="img_3months tit_smartphone">스마트폰 무제한</span></strong>
		<div class="info_price">
			<span class="img_3months desc_3months desc_smartphone">스마트폰에서 무제한 전곡듣기 + DRM 무제한 다운로드(APMOG0035)</span>
			<div class="price_3months">
				<em class="screen_out">반값할인</em>
				<!-- 2014-05-15 수정 시작 -->
				<div class="info_before">
					<span class="img_3months txt_autopay">자동결제</span><span class="screen_out">할인 전 가격</span><span class="img_num num_before before_smartphone">8,000</span><span class="img_3months won_before">원</span>
				</div>
				<div class="info_payment">
					<span class="screen_out">할인 가격</span><span class="img_num num_pay pay_smartphone">4,000</span><span class="img_3months won_pay">원</span>
				</div>
				<!-- 2014-05-15 수정 끝 -->
				<span class="ico_coupon ico_half"></span>
			</div>
			<a href="#none" class="btn_coupon link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('APMOG0035','')">구매하기</a>
		</div><!-- //info_price -->
	</div><!-- //good_3months -->
		<div class="good_3months"> 
		<strong class="tit_3months"><span class="img_3months tit_mp30unlim">MP3 30곡 + 무제한 듣기</span></strong>
		<div class="info_price">
			<span class="img_3months desc_3months desc_mp30unlim">PC/안드로이드앱에서 MP3 30곡 다운로드 + 무제한 전곡듣기(AMG0023)</span>
			<div class="price_3months">
				<em class="screen_out">반값할인</em>
				<!-- 2014-05-15 수정 시작 -->
				<div class="info_before">
					<span class="img_3months txt_autopay">자동결제</span><span class="screen_out">할인 전 가격</span><span class="img_num num_before before_mp30unlim">9,500</span><span class="img_3months won_before">원</span>
				</div>
				<div class="info_payment">
					<span class="screen_out">할인 가격</span><span class="img_num num_pay pay_mp30unlim">4,500</span><span class="img_3months won_pay">원</span>
				</div>
				<!-- 2014-05-15 수정 끝 -->
				<span class="ico_coupon ico_half"></span>
			</div>
			<a href="#none" class="btn_coupon link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('AMG0023','')">구매하기</a>
		</div><!-- //info_price -->
	</div><!-- //good_3months -->
		<div class="good_3months"> 
		<strong class="tit_3months"><span class="img_3months tit_mp30">MP3 30곡 다운로드(MCG0016)</span></strong>
		<div class="info_price">
			<span class="img_3months desc_3months desc_mp30">PC/안드로이드앱에서 MP3 30곡 다운로드</span>
			<div class="price_3months">
				<em class="screen_out">반값할인</em>
				<!-- 2014-05-15 수정 시작 -->
				<div class="info_before">
					<span class="img_3months txt_autopay">자동결제</span><span class="screen_out">할인 전 가격</span><span class="img_num num_before before_mp30">6,000</span><span class="img_3months won_before">원</span>
				</div>
				<div class="info_payment">
					<span class="screen_out">할인 가격</span><span class="img_num num_pay pay_mp30">3,000</span><span class="img_3months won_pay">원</span>
				</div>
				<!-- 2014-05-15 수정 끝 -->
				<span class="ico_coupon ico_half"></span>
			</div>
			<a href="#none" class="btn_coupon link_payment" onclick="javascript:daum.Music.Ticket.buyTicket('MCG0016','')">구매하기</a>
		</div><!-- //info_price -->
	</div><!-- //good_3months -->
	</div><!-- //wrap_3months -->
<h4 class="tit_guide"><span class="ico_coupon ico_guide"></span><span class="img_noti txt_guide">상품 이용안내 </span></h4>
<!-- 2014-05-14 수정 시작 -->
<ul class="list_guide">
	<li><em class="emph_guide">이용권 구매 시 부가세 10%가 별도 청구됩니다.</em></li>
	<li><em class="emph_guide">3개월 반값 할인 상품은 이용권 구매일로부터 최대 3개월간 할인가격이 적용되며, 4개월차부터 정상가로 결제됩니다.</em></li>
	<li>특가 할인가로 이용 중 상품을 해지하실 경우, 특가 할인상품 구매가 제한되며 정상가로 구매는 가능합니다.</li>
	<li>본 상품은 이용 시작일 기준 7일 이내 청약철회 가능상품입니다. <br>단, 이용권 구매 후 전곡듣기를 1건이라도 사용하셨거나 MP3나 배경음악을 1곡이라도 사용 시에는 취소, 환불이 불가능합니다. </li>
	<li>다음 뮤직의 모든 서비스는 해외에서는 서비스가 원활하지 않으며, 국내에서만 정상 이용 가능합니다.</li>
	<li>사용중인 음악감상 이용권이 있을 경우에는 다른 음악감상 이용권은 구매하실 수 없습니다.</li>
	<li>스마트폰 무제한 이용권에 제공되는 대여MP3는 PC나 다른 기기로 옮길 수 없고 해당 이용권 사용시에만 재생 가능합니다.</li>
	<li>MP3는 모든 기기에서 사용가능하며, 일부 MP3는 음원 권리사의 요청으로 구매 후 1년만 재다운로드가 가능합니다.</li>
	<li>기간 내에 사용하지 않은 MP3 이용권은 이월되지 않습니다.</li>
	<li>음원 권리사의 요청에 따라 MP3 다운로드 기기는 3대로 제한되며, 스마트폰 무제한 다운로드 기기는 2대로 제한 됩니다.</li>
	<li>구입하신 이용권은 <a href="/my/own_ticket/ticket/list" class="emqh_path">MY뮤직 &gt; MY 관리  &gt; 이용권 현황</a>에서 확인할 수 있습니다.</li>
	<li>자동결제 상품의 해지는 <a href="/my/own_ticket/periodic/list" class="emqh_path">MY뮤직 &gt; MY 관리  &gt; 이용권 현황 &gt; 자동결제해지</a>에서 가능합니다.</li>
	<li>이 프로모션은 사전 예고 없이 종료될 수 있습니다.</li>
</ul>


#parse("/velocity/purchase/ticketitem/ticket.vm")
*#
<script type="text/javascript">
    alert('2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.');
    history.back();
</script>