{
    "updatedAt" : "$date",
    "items" : [
    #foreach($song in $chartSongList)
        #if($chartSongList.indexOf($song) != 0),#end
        {
            "id" : "$!{song.songId}",
            "title" : "$!{EscapeUtil.escapeJsonString($!{song.title})}",
            "url" : "http://music.daum.net/album/main?album_id=$!{song.album.albumId}&song_id=$!{song.songId}",
            "author" : "$!{EscapeUtil.escapeJsonString($!{song.keyArtistNamesWithComma})}",
            "description" : "$!{EscapeUtil.escapeJsonString($!{song.title})} - $!{EscapeUtil.escapeJsonString($!{song.keyArtistNamesWithComma})} : 앨범[$!{EscapeUtil.escapeJsonString($!{song.album.title})}] $!{EscapeUtil.escapeJsonString($!{song.info})}",
            "image" : [{
                "url" : "$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "45x45", "ALBUM")",
                "width" : 45,
                "height" : 45
            }],
            "category" : "$!{song.album.genreNamesWithComma}",     
            "coordinate" : [{
                "coordSystem" : null,
                "title" : null,
                "latitude" : null, 
                "longitude" : null 
            }],
            "rank" : ${song.rank},
            "modRank" : "${song.modRank}",
            "adultYn" : "$!{song.adultYn}",
            "totalPoints" : null,
            "points" : null,
            "comments" : null,
            "hits" : null,
            "likes" : null,
            "createdAt" : null,
            "updatedAt" : null,
            "expiredAt" : null
        }
    #end
    ]
}
