#* highlight.vm 으로 통합
<h2 class="screen_out">상세</h2>
<h3 class="screen_out">아티스트</h3>

<div class="article_menu">
	#printDetailNaviTabBar($artist) ## 아티스트 상세 Navi Tab
</div>

<div class="article_info">
	
	<h4 class="screen_out">아티스트 기본정보</h4>
	<div class="wrap_thumb">
		#printArtistDetailHighlightThumbnail($artist) ## 아티스트 상세 아티스트 썸네일
	</div>
	
	<div class="artist_info">
		
    	<dl class="list_info">
			<dt class="tit_detail tit_activity">활동정보</dt>
        	<dd>
    			#if($StringUtils.isNotBlank("$!{artist.creditTitle1}"))$artist.creditTitle1#end
    			#if($StringUtils.isNotBlank("$!{artist.creditTitle2}")), $artist.creditTitle2#end
    			#if($StringUtils.isNotBlank("$!{artist.strActYear}") && $StringUtils.isNotBlank("$!{artist.endActYear}"))
    			($artist.strActYear년대~$artist.endActYear년대)
				#end
				#if(!$CollectionUtils.isEmpty($actAreaList))
        			#foreach($area in $actAreaList)
        				#if($foreach.index != 0),#end
                    	$area
        			#end
        		#end
        	</dd>
    	</dl>
    	
    	<dl class="list_info">
			#if(!$CollectionUtils.isEmpty($artistBandList))
        	<dt class="tit_detail tit_group">그룹</dt>
        	<dd>
        		#foreach($artist in $artistBandList)
        			#if($foreach.index != 0),#end
                	##$artist.bandOrderNo 이건 머지
                	#printThumbTooltipText( $artist.name, $ImageUtil.getImageUrl("$!{artist.mainImage.filePath}", "45x45", "ALBUM"), "fc_blue", "/artist/main?artist_id=$!{artist.artistId}", "daum.Music.artistDetail($!{artist.artistId});return false;" )
        		#end
        	</dd>
        	#end
    	</dl>
    	
    	<dl class="list_info">
    		#printArtistDetailInfoActivityName($artistNameList) ## 아티스트 상세 활동명
    	</dl>
    	
    	<dl class="list_info">
        	<dt class="tit_detail tit_life">생몰</dt>
        	<dd>
        		#if($StringUtils.isNotBlank("$!{artist.birthDt}"))
				$!{CheckDate.makeReleaseDate($!{artist.birthDt})} ~ #if($StringUtils.isNotBlank("$!{artist.deathDt}"))$!{CheckDate.makeReleaseDate($!{artist.deathDt})}#end
        		#if($StringUtils.isNotBlank("$!{artist.birthCity}"))$artist.birthCity 출생#end
        		#end
        	</dd>
    	</dl>
    	
    	<dl class="list_info">
			<dt class="tit_detail tit_body">신체</dt>
        	<dd>
        		#if($StringUtils.isNotBlank("$!{artist.height}"))키 $!{artist.height}Cm#end
        		#if($StringUtils.isNotBlank("$!{artist.weight}")), 몸무게 $!{artist.weight}Kg#end
        		#if($StringUtils.isNotBlank("$!{artist.bloodType}")), $!{artist.bloodType}형#end
        	</dd>
    	</dl>
    	
    	<dl class="list_info">
    		#printArtistDetailInfoDebut($artist) ## 아티스트 상세 데뷔정보
    	</dl>
    	
    	<dl class="list_info">
			#if(!$CollectionUtils.isEmpty($artistFamilyList))
        	<dt class="tit_detail tit_family">가족</dt>
        	<dd>
        		#foreach($artist in $artistFamilyList)
        			#if($foreach.index != 0),#end
        			$!{artist.content}
					#printThumbTooltipText( $!{artist.name}, $ImageUtil.getImageUrl("$!{artist.mainImage.filePath}", "45x45", "ALBUM"), "fc_blue", "/artist/main?artist_id=$!{artist.artistId}", "daum.Music.artistDetail($!{artist.artistId});return false;" )
                #end
        	</dd>
        	#end
    	</dl>
    	
    	<dl class="list_info">
    		#printArtistDetailInfoSite($artist) ## 아티스트 상세 사이트정보
    	</dl>
		
		<div class="btn_consumer">
			#printArtistDetailHighlightBtnSet("artist", $artist, "") ## 아티스트 상세 아티스트 공통 버튼 세트
		</div>
		
	</div>
	
	<div class="other_info music_bar">
		#printArtistDetailHighlightBarSpecial($musicSpecial) ## 아티스트 상세 뮤직 바 스페셜
	</div>
	
</div>
*#
