
<h2 class="screen_out">상세</h2>
<h3 class="screen_out">아티스트</h3>

<div class="article_menu">
	#set( $URI = "#getter('URI', '')" )
	#if($URI.indexOf('/vclip/detail') !=-1)
		#printDetailNaviTabBar($artist $album) ## 아티스트 상세 Navi Tab
	#elseif($URI.indexOf('/vclip/list') !=-1 || $URI.indexOf('/photo/') !=-1)
		#printDetailNaviTabBar($artist $album) ## 아티스트 상세 Navi Tab
	#else
		#printDetailNaviTabBar($artist "") ## 아티스트 상세 Navi Tab
	#end
</div>
