#set( $param_ticket_id = '')
#if( $StringUtils.isNotBlank("$!{ListTool.get($!{command.itemId},0)}") )
	#set( $param_ticket_id = $!{ListTool.get($!{command.itemId},0)} )
#end	
 
#set( $shopping = "false" )
#if($StringUtils.isNotEmpty("$!{shoppingSubscriptionResult}") && $StringUtils.equals("$!{shoppingSubscriptionResult}", "true"))
	#set( $shopping = $!{shoppingSubscriptionResult} )
#end

#set( $ticket_id = $StringUtils.trim("#checkTicketId($param_ticket_id, $shopping)"))

#set($isLogin = '')
#if("$!userId" !="") 
#set($isLogin = 'Y')
#end

<script type="text/javascript">
var ticketItemList = [];
var buyPromotionticketItemList = [];

#foreach($item in $mp3LimitDownloadTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}" ,salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}", itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $promotionItemIdList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}" ,salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}", itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMp3DownloadTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMobileTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

#foreach($item in $aodMp3DownloadMobileTicketList)
ticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$item.isAodItem()",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

var arr_inuse_ticket_list = [
#foreach($item in $inUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end

#foreach($item in $notInUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($inUseTicketList.size()!=0 || $foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end
];


#foreach($item in $buyPromotionTicketList)
	#set( $isAod = false)
	#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
    	#set( $isAod = true)
    #end
buyPromotionticketItemList["$!{item.itemId}"] = {title:"$!{item.title}", auto:"$!{item.periodic}", isAod:"$isAod",price:"$!{item.price}",salePrice:"$!{item.salePrice}", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"$!{item.promotionYn}",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};
#end

##buyPromotionticketItemList["APG0028"] = {title:"TEST", auto:"Y", isAod:"Y",price:"100",salePrice:"100", mobileDataItemYn:"$!{item.mobileDataItemYn}", promotionYn:"Y",itemType:"$!{item.itemType}", saleItem:"$StringUtils.trim("#checkTicketIdSaleYn($item.itemId)")"};

music.mobile.Ticket.init(ticketItemList , buyPromotionticketItemList, "$!isLogin");
#if("$!userId" !="")
music.mobile.Ticket.optionInit( 
	{
    	ticketId:"$!{ticket_id}",
    	form : document.frmCart,
		sale_price : "$!item.salePrice",
    	daum_cash : "#if($!daumCashBalance==-9999)0#{else}$!daumCashBalance#end",
    	payment_type : "#if($!daumCashBalance==-9999)MOBILE#{else}DAUMCASH#end",
		own_ticket_list : ["$isAodUse", "$isAodUseTransform", "$isMobileAodUse", "$isTodayPeriodic"],
		promotion_ticket_list : [{itemId:"APG0027", promotionItemId:"APG0028"},{itemId:"APMOG0034", promotionItemId:"APMOG0035"},{itemId:"AMG0020", promotionItemId:"AMG0023"},{itemId:"MCG0011", promotionItemId:"MCG0016"}],
    	shoppingSubscriptionResult : "$!{shopping}", 
    	BI_DOMAIN : "#getter('BI_DOMAIN', '')",
		BI_V2_DOMAIN : "#getter('BI_V2_DOMAIN', '')",
    	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')",
		cart_action_type : "PURCHASE",
		referer: "$!{command.referer}"
	});
#end
</script>
