<div id="daumIndex">
	<a href="#daumGnb" rel="bookmark">뮤직 메뉴 바로가기</a>
	<a href="#daumContent" rel="bookmark">뮤직 내용 바로가기</a>
</div>
	
#if( $ua_result.isIphone == true || $ua_result.isIpad == true || $ua_result.isIpod == true )
    
#else
## flash player
<div id="daumAodLuncherWrap"></div>
<script type="text/javascript">
	daum.Music.AodPlayer.init( "daumAodLuncherWrap" );
</script>
## air downloader
<div id="daumDownloaderWrap"><div id="DownloaderLauncher"></div></div>
<script type="text/javascript">
	daumMusic.DownLoader.embedSWF( "DownloaderLauncher", daum.Music.Downloader.lunched, daum.Music.Downloader.click, daum.Music.Downloader.cancel );
</script>
#end