#set( $headTitle = "Daum" )
#set($titleMap = {
	
	"musicbar": {
		"title": "$!{boardInfo.title}",
		
		"musicbar" : {
			"title" : "",
			"detail" : {
				"title" : "$!{boardInfo.menuName}",
				"image" : "$!{$boardInfo.menuImage}",
				"description" : ""
			}
		}
	},
	
	"event" : {
		"title" : "이벤트",
		"image" : "",
		"description" : ""
	},

	"artist" : {
		"title" : "$!{artist.name}",
		"image" : "$!{artist.mainImage.filePath}",
		"description" : "#strCut( $!{artist.wikiInfo}, 130 )"
	},
	
	"album" : {
		
	
		"title" : "$!{album.title}",
		"image" :"$!{album.mainImage.filePath}",
		"description" : "#strCut( $!{album.description}, 130 )"
	},
	
	"song" : {
		"title" : "$!{song.title}",
		"image" : "",
		"description" : ""
	},
	"onair": {
		"timeline" : {
			"title" : "방금그곡"
		},
		"radio" : {
			"recomm" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"channel" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"genre" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"detail" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표"
			}
		},
		"tv" : {
			"list" : {
				"title" : "방금그곡"
			},
			"detail" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표"
			}
		}
	}
})

#getHeadTitle($titleMap, "#getter('PATH_URI', '')")
#if( $StringUtils.isNotBlank("$!{title}") ) #set( $headTitle = $title + " | " + $headTitle ) #end
#set( $headMetaTitle = '<title>'+$!{headTitle}+'</title>')