#if( $!{command.date_key} )
#set($dateKey = $!{command.date_key})
#else
#set($dateKey = "")
#end
#if( $!{command.date} )
#set($date = $!{command.date})
#else
#set($date = "")
#end
#if( $!{command.page_no} )
#set($pageNo = $!{command.page_no})
#else
#set($pageNo = "")
#end
#if( $!{genre_cd} )
#set($genreCd= $!{genre_cd})
#else
#set($genreCd= "")
#end
#set($link = "/vclip/chart?")
<ul class="tab_cont tab_video">
	<li class="video_menu1 #if($StringUtils.equals('chart', $!{tabType}))on#end">
		<a href="/vclip/chart">인기차트</a>
	</li>
	<li class="video_menu2 #if($StringUtils.equals('newest', $!{tabType}))on#end">
		<a href="/vclip/newest">최신뮤비</a>
	</li>
	<li class="video_menu3 #if($StringUtils.equals('KO', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO">가요</a>
	</li>
	<li class="video_menu4 #if($StringUtils.equals('KO10', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO10">아이돌</a>
	</li>
	<li class="video_menu5 #if($StringUtils.equals('KO11', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO11">인디</a>
	</li>
	<li class="video_menu6 #if($StringUtils.equals('PO', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=PO">팝</a>
	</li>
	<li class="video_menu7 #if($StringUtils.equals('type', $!{tabType}))on#end">
		<a href="/vclip/type?obj_type=02">공연</a>
	</li>
	<li class="video_menu8 #if($StringUtils.equals('broadcast', $!{tabType}))on#end">
		<a href="/vclip/broadcast">방송<span class="ico_new">NEW</span></a>
	</li>
</ul>
<div class="wrap_cate">
	<ul class="category_cont f_l">
		<li class="fst #if( $dateKey == 3 )on#end">
			<a class="cate1" href="/vclip/chart?date_key=3">일간</a>
		</li>
		<li class="#if( $dateKey == 2 )on#end">
			<a class="cate2" href="/vclip/chart?date_key=2">주간</a>
		</li>
		<li class="#if( $dateKey == 1 )on#end">
			<a class="cate3" href="/vclip/chart?date_key=1">월간</a>
		</li>
	</ul>
	#printChartDateInfo("" $genreCd $dateKey $date $pageNo $link)
</div>
##set($count = 1)
#if( $vclipList.size() > 0 )
	<style type="text/css">
		.cover_on {z-index:999999em;}
	</style>
<div class="wrap_list_mv">
	<div class="box_list_mv">
		<ol id="trackContainer" class="list_mv" style="position:relative;">
		#foreach($vclip in $vclipList)
			<li style="position:relative;">
				## 아티스트가 없거나 아티스트가 여러명이고 곡매핑이 되어 있으면 앨범 뮤직비디오로,
				## 아티스트가 한명이거나 곡매핑이 안되어 있으면 아티스트 뮤직비디오로.
				#if((!$CollectionUtils.isEmpty($vclip.keyArtistList) && $vclip.keyArtistList.size() > 1 && ($StringUtils.isNotBlank("$!{vclip.song.AODLinkId}") && !$StringUtils.equals("$!{vclip.song.AODLinkId}", "0"))) || (!($CollectionUtils.isEmpty($vclip.keyArtistList)) && $vclip.keyArtistList.size() == 1 && ($StringUtils.equals("$!{vclip.keyArtistList.get(0).getArtistId()}", "0"))))#set($dir = "album")#else#set($dir = "artist")#end
				#printVideoThumb( $vclip 1 $foreach.index "" $dir)
				#*#foreach($artist in $vclip.keyArtistList)
				<a class="thumb_link" title="$!{vclip.title}" href="/artist/vclip/detail?artist_id=$!{artist.artistId}&vclip_id=$!{vclip.vclipId}">
					<img id="thumbLink$!{vclip.rank}" class="thumb_img" src="$ImageUtil.getImageUrl("$!{vclip.mainImage.filePath}", "172x128", "VCLIP")" width="172" height="128" alt="" vclipId="$!{vclip.vclipId}" artistId="$!{artist.artistId}" count="$!{count}">
				#end
					<span class="box_no #if($vclip.rank < 4)top #end">
						<span class="wrap_no">
							#if( $vclip.rank < 10 )
							<span class="num_video num$!{vclip.rank}"></span>
							#else
								#if( $vclip.rank > 99 )
									<span class="num_video num$StringUtils.mid("$vclip.rank", 0, 1)"></span>
									<span class="num_video num$StringUtils.mid("$vclip.rank", 1, 1)"></span>
									<span class="num_video num$StringUtils.mid("$vclip.rank", 2, 1)"></span>
								#else
									<span class="num_video num$StringUtils.mid("$vclip.rank", 0, 1)"></span>
									<span class="num_video num$StringUtils.mid("$vclip.rank", 1, 1)"></span>
								#end
							#end
						</span>
					</span>
					<span class="ico_comm ico_play"></span>
				</a>*#
				<div class="wrap_info">
					##<strong class="wrap_title">
						#if($StringUtils.equals("$!{vclip.HDYn}", "Y"))
						#printVideoName( $!{vclip} "fw_b wrap_title ico_hdvideo" 16 true )
						#else
						#printVideoName( $!{vclip} "fw_b wrap_title" 16 true )
						#end
					##</strong>
					##foreach($!{artist} in $!{vclip.keyArtistList})
					<span class="wrap_artist">
						#printArtistName($!{vclip.keyArtistList} "name_artist" 16 true)
					</span>
					##end
					<em class="txt_date">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</em>
					<span class="song_listen"> 
						#printSongName( $!{vclip.song} "ico_comm ico_listen" 14 true true false)
					</span>
				</div>
			</li>
		#end	
		</ol>
		#printVideoCover()
	</div>	
    	
    ##page
    #printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
</div>
#else
	<div class="no_listinfo">
		<p class="fc_txt">저장된 뮤직비디오가 없습니다.</p>
	</div>
#end
<script type="text/javascript">
	var VideoDataList = [];
	#foreach( $vclip in $vclipList )
		VideoDataList.push({
			linkType : #if((!$CollectionUtils.isEmpty($vclip.keyArtistList) && $vclip.keyArtistList.size() > 1 && ($StringUtils.isNotBlank("$!{vclip.song.AODLinkId}") && !$StringUtils.equals("$!{vclip.song.AODLinkId}", "0"))) || ($CollectionUtils.isEmpty($vclip.keyArtistList)))"album",#else "artist",#end
			vclipId : "$!{vclip.vclipId}",
			songId : "$!{vclip.song.songId}",
			albumId : "$!{vclip.album.albumId}",
			artistId : "#getArtistId($!{vclip})",
			count : "$!{foreach.count}",
			size : "$!{vclipList.size()}"
		});
	#end
	var controller = new daum.Music.ListPrototype();
	daum.Music.Video.init({totalCount:$vclipList.size(), imgString:"thumbLink", colCount:4});
</script>


#if( $StringUtils.equals("$!{command.debugmode}","2") )
	##date_key=1 ->월간 $CheckDate.getDiffMonth("201101", -1)
##date_key=2 ->주간 $CheckDate.getDiffDate("20110301", -7)
##date_key=3 ->일간 $CheckDate.getDiffDate("20110301", -1)
##최종날짜 여부 - $maxDateYn 
#set($weekMap = $CheckDate.getWeekNum("20110201"))
##현재년도 : -  $weekMap.get("year"))<br/>
##현재월 : -  $weekMap.get("month"))<br/>
##현재주 : -  $weekMap.get("weekNum"))<br/>
##날짜 : $command.date<br/>
##주간날짜 예시: <br/>
##foreach($dateInfo in $CheckDate.getWeekInfo("201103"))
##$dateInfo.weekNum주  : $dateInfo.startDate~$dateInfo.endDate <br/>
##end
##*
이벤트 있을때 아닐때 ... 임의로 변경해서 작업해주시면 되지 않을까 싶어요 ;; <br />
#if(true)
	이벤트 URL : ${motEventTempleteList.get(0).linkUrl}<br />
	이벤트 image : ${motEventTempleteList.get(0).imageUrl} <br />
#end
<br />

상단 뮤직비디오 3개 운영자<br />
#foreach($vclip in $topVclipList) <br />
    "태그타입" : $!{vclip.tagType} <br />##NEW, LIVE, HOT 세가지가 있고 없을수도 있어요.. 
	"vclipId" : $!{vclip.vclipId} <br />
	"title" : $!{vclip.title} <br />
	"keyArtistList" <br />
	#foreach($artist in $vclip.keyArtistList)
		" - name" : $!{artist.name} <br />
		" - artistId" : $!{artist.artistId} <br />
	#end
	"image" : $!{vclip.mainImage.filePath} <br /><br />
#end<br />

"genreCD" : $!{genre_cd} <br />
"tabType" : $!{tabType} <br />
"dateKey" : $!{command.date_key} <br />
"date" : $!{command.date} <br />
"pageNo" : $!{pageNo} <br />
<br />
동영상 목록 <br />
#foreach($vclip in $vclipList)
	"rank" : $!{vclip.rank} <br />
	hd여부 : $vclip.hdYn<br />
	ID : $!{vclip.vclipId} <br />
	TVPOTID : $!{vclip.tvpotVId} <br />
	제목 : $!{vclip.title} <br />
	이미지 : $!{vclip.mainImage.filePath} <br />
	등록일 : $!{vclip.regDateTime} <br />
	곡 ID : $!{vclip.song.songId} <br />
	곡제목 : $!{vclip.song.title} <br />
	듣기여부 : $!{vclip.song.AODLinkId} <br />
	아티스트 <br />
	#foreach($artist in $vclip.keyArtistList)
	 - 이름 : $!{artist.name} <br />
	 - ID : $!{artist.artistId} <br />
	#end<br />
#end<br />
<br />
#end

