#if( $!{command.date_key} )
#set($dateKey = $!{command.date_key})
#else
#set($dateKey = "")
#end
#if( $!{command.date} )
#set($date = $!{command.date})
#else
#set($date = "")
#end
#if( $!{command.page_no} )
#set($pageNo = $!{command.page_no})
#else
#set($pageNo = "")
#end
#if( $!{genre_cd} )
#set($genreCd= $!{genre_cd})
#else
#set($genreCd= "")
#end
#set($link = "/vclip/chart?")
<ul class="tab_cont tab_video">
	<li class="video_menu1 #if($StringUtils.equals('chart', $!{tabType}))on#end">
		<a href="/vclip/chart">인기차트</a>
	</li>
	<li class="video_menu2 #if($StringUtils.equals('newest', $!{tabType}))on#end">
		<a href="/vclip/newest">최신뮤비</a>
	</li>
	<li class="video_menu3 #if($StringUtils.equals('KO', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO">가요</a>
	</li>
	<li class="video_menu4 #if($StringUtils.equals('KO10', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO10">아이돌</a>
	</li>
	<li class="video_menu5 #if($StringUtils.equals('KO11', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=KO11">인디</a>
	</li>
	<li class="video_menu6 #if($StringUtils.equals('PO', $!{genreCd}))on#end">
		<a href="/vclip/genre?genre_cd=PO">팝</a>
	</li>
	<li class="video_menu7 #if($StringUtils.equals('type', $!{tabType}))on#end">
		<a href="/vclip/type?obj_type=02">공연</a>
	</li>
	<li class="video_menu8 #if($StringUtils.equals('broadcast', $!{tabType}))on#end">
		<a href="/vclip/broadcast">방송</a>
	</li>
</ul>
<div class="wrap_cate">
	<h3 class="tit_video tit_ETC">방송</h3>
	<div class="sort_option f_r">
		<a #if( $StringUtils.isBlank("$!{command.order_type}") )class="link_option"#end href="/vclip/hdvclip">최신순</a>
		<span class="txt_bar">|</span>
		<a #if( $StringUtils.equals("$!{command.order_type}","02") )class="link_option"#end href="/vclip/hdvclip?order_type=02">조회순</a>
##		<span class="txt_bar">|</span>
##		<a #if( $StringUtils.equals("$!{command.order_type}","04") )class="link_option"#end href="/vclip/hdvclip?order_type=04">추천순</a>
	</div>
</div>
#set($count = 1)
#set($idNum = $vclipList.size()*$pageNo - 1)
#if( $vclipList.size() > 0 )
<div class="wrap_list_mv">
	<div class="box_list_mv">
		<ol id="trackContainer" class="list_mv" style="position:relative;">
		#foreach($vclip in $vclipList)
			<li style="position:relative;">
			##	#set( $idx = $foreach.count + 1 )
				## 아티스트가 없거나 아티스트가 여러명이고 곡매핑이 되어 있으면 앨범 뮤직비디오로,
				## 아티스트가 한명이거나 곡매핑이 안되어 있으면 아티스트 뮤직비디오로.
				#if((!$CollectionUtils.isEmpty($vclip.keyArtistList) && $vclip.keyArtistList.size() > 1 && ($StringUtils.isNotBlank("$!{vclip.song.AODLinkId}") && !$StringUtils.equals("$!{vclip.song.AODLinkId}", "0"))) || (!($CollectionUtils.isEmpty($vclip.keyArtistList)) && $vclip.keyArtistList.size() == 1 && ($StringUtils.equals("$!{vclip.keyArtistList.get(0).getArtistId()}", "0"))))#set($dir = "album")#else#set($dir = "artist")#end
				#printVideoThumb( $vclip 1 $foreach.index $vclipList.size $dir)
				<div class="wrap_info">
				##	<strong class="wrap_title">
						#printVideoName( $!{vclip} "fw_b wrap_title ico_hdvideo" 16 true )
				##	</strong>
				##	#foreach($!{artist} in $!{vclip.keyArtistList})
					<span class="wrap_artist">
						#printArtistName($!{vclip.keyArtistList} "name_artist" 16 true)
					</span>
				##	#end
					<em class="txt_date">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</em>
					<span class="song_listen">
						#printSongName( $!{vclip.song} "ico_comm ico_listen" 14 true true false)
					</span>
				</div>
			</li>
		#end		
		</ol>
		#printVideoCover()
	</div>
	#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
</div>
#else
	<div class="no_listinfo">
		<p class="fc_txt">저장된 뮤직비디오가 없습니다.</p>
	</div>
#end
<script type="text/javascript">
	var VideoDataList = [];
	#foreach( $vclip in $vclipList )
		VideoDataList.push({
			linkType : #if((!$CollectionUtils.isEmpty($vclip.keyArtistList) && $vclip.keyArtistList.size() > 1 && ($StringUtils.isNotBlank("$!{vclip.song.AODLinkId}") && !$StringUtils.equals("$!{vclip.song.AODLinkId}", "0"))) || ($CollectionUtils.isEmpty($vclip.keyArtistList)))"album",#else "artist",#end
			vclipId : "$!{vclip.vclipId}",
			songId : "$!{vclip.song.songId}",
			albumId : "$!{vclip.album.albumId}",
			artistId : "#getArtistId($!{vclip})",
			count : "$!{foreach.count}",
			size : "$!{vclipList.size()}"
		});
	#end
	var controller = new daum.Music.ListPrototype();
	daum.Music.Video.init({totalCount:$vclipList.size(), imgString:"thumbLink", colCount:4});
</script>

##date_key=1 ->월간 $CheckDate.getDiffMonth("201101", -1)
##date_key=2 ->주간 $CheckDate.getDiffDate("20110301", -7)
##date_key=3 ->일간 $CheckDate.getDiffDate("20110301", -1)
##최종날짜 여부 - $maxDateYn 
#set($weekMap = $CheckDate.getWeekNum("20110201"))
##현재년도 : -  $weekMap.get("year"))<br/>
##현재월 : -  $weekMap.get("month"))<br/>
##현재주 : -  $weekMap.get("weekNum"))<br/>
##날짜 : $command.date<br/>
##주간날짜 예시: <br/>
##foreach($dateInfo in $CheckDate.getWeekInfo("201103"))
##$dateInfo.weekNum주  : $dateInfo.startDate~$dateInfo.endDate <br/>
##end

#if( $StringUtils.equals("$!{command.debugmode}","2") )
이벤트 있을때 아닐때 ... 임의로 변경해서 작업해주시면 되지 않을까 싶어요 ;; <br />
#if(true)
	이벤트 URL : $event.linkUrl <br />
	이벤트 image : $event.bannerUrl <br />
#end
<br />

상단 뮤직비디오 3개 운영자<br />
#foreach($vclip in $topVclipList)
    "태그타입" : $!{vclip.tagType} #NEW, LIVE, HOT 세가지가 있고 없을수도 있어요.. <br />
	"vclipId" : $!{vclip.vclipId} <br />
	"title" : $!{vclip.title} <br />
	"keyArtistList" <br />
	#foreach($artist in $vclip.keyArtistList)
		" - name" : $!{artist.name} <br />
		" - artistId" : $!{artist.artistId} <br />
	#end
	"image" : $!{vclip.filePath} <br /><br />
#end<br />

"genreCD" : $!{genre_cd} <br />
"tabType" : $!{tabType} <br />
"dateKey" : $!{dateKey} <br />
"date" : $!{date} <br />
"pageNo" : $!{pageNo} <br />
<br />
동영상 목록 <br />
#foreach($song in $vclipList)
	"rank" : $!{vclip.rank} <br />
	ID : $!{vclip.vclipId} <br />
	TVPOTID : $!{vclip.tvpotVId} <br />
	제목 : $!{vclip.title} <br />
	이미지 : $!{vclip.mainImage.filePath} <br />
	등록일 : $!{vclip.regDateTime} <br />
	곡 ID : $!{vclip.song.songId} <br />
	곡제목 : $!{vclip.song.title} <br />
	듣기여부 : $!{vclip.song.AODLinkId} <br />
	성인여부 : $!{vclip.song.adultYn} <br />
	앨범 ID : $!{vclip.album.albumId} <br />
	아티스트 <br />
	#foreach($artist in $vclip.keyArtistList)
	 - 이름 : $!{artist.name} <br />
	 - ID : $!{artist.artistId} <br />
	#end<br />
#end<br />
<br />

##page
#end
