<?xml version="1.0" encoding="UTF-8"?>
<Basic>
	<Set label="image">
		#foreach($topImageItem in $topImageItemList)
		<Item label="image" imagetype="$!{topImageItem.imagetype}">
			<A href="$!{topImageItem.linkurl.replaceAll("&","&amp;")}">
				<Img src="$!{topImageItem.imageurl.replaceAll("&","&amp;")}" alt="$!{topImageItem.imagealt.replaceAll("&","&amp;")}"/>
					<Label>$!{topImageItem.label.replaceAll("&","&amp;")}</Label>
					<Copy label="first">$!{topImageItem.copy1.replaceAll("&","&amp;")}</Copy>
					<Copy label="second">$!{topImageItem.copy2.replaceAll("&","&amp;")}</Copy>
			</A>
		</Item>
		#end
	</Set>
	<Set label="text">
		#foreach($topTextItem in $topTextItemList)
		<Item label="text">
			<A href="$!{topTextItem.linkurl.replaceAll("&","&amp;")}">
					<Label>$!{topTextItem.label.replaceAll("&","&amp;")}</Label>
					<Copy>$!{topTextItem.copy1.replaceAll("&","&amp;")}</Copy>
			</A>
		</Item>
		#end
	</Set>
	<Set label="shortcut" show="$!{shortcutsize}">
		#foreach($topShortCutItem in $topShortCutItemList)
		<Item label="shortcut" emphasis=#if($StringUtils.equals("$!{topShortCutItem.emphasis}","Y"))"true"#else"false"#end>
			<A href="$!{topShortCutItem.linkurl.replaceAll("&","&amp;")}">
					<Copy label="first">$!{topShortCutItem.copy1.replaceAll("&","&amp;")}</Copy>
			</A>
		</Item>
		#end
	</Set>
</Basic>