#set( $tab = "standard" )
#parse("/velocity/imagene/piece/tab.vm")
<!--<div class="intro_month">
	<p>IAM(이매진 어워드 뮤직페스트)과 함께하는 Daum 뮤직 이달의 앨범</p>
	<p>젊은 비평가들로 구성된 전문가 집단과 함께 매달 좋은 앨범을 추천하여 소개합니다.</p>
</div>
<div class="wrap_tab">
	<ul class="tab_month">
		<li><a href="#" class="tab_link txt_monthalbum">이달의 앨범</a></li>
		<li class="on"><span class="tab_link txt_standard">선정기준</span></li>

		<li><a href="#" class="tab_link txt_intro">IAM소개</a></li>
	</ul>
	<div class="btn_consumer">
		<span class="btn_sns">
			<a class="btn_comm btn_yozm" href="#" title="요즘으로 보내기"><span class="screen_out">요즘</span></a>
			<a class="btn_comm btn_my" href="#" title="마이피플로 보내기"><span class="screen_out">마이피플</span></a>
			<a class="btn_comm btn_twitter" href="#" title="트위터로 보내기"><span class="screen_out">트위터</span></a>

			<a class="btn_comm btn_cyworld" href="#" title="싸이월드로 보내기"><span class="screen_out">싸이월드</span></a>
			<a class="btn_comm btn_more" href="#" title="SNS 더보기"><span class="screen_out">더보기</span></a>
		</span>
	</div>
	<div class="cl_b"></div>
</div>-->
<div class="section_selection">					
	<h3 class="screen_out">선정기준</h3>

	<div class="album">
		<h4 class="ir_pm">이달의 앨범?</h4>
		<p class="ir_pm">좋은 음악이란 무엇일까요? 음악이 주는 가치는 매우 개인적이라, 좋은 음악의 기준은 각자 다릅니다. 하지만 좋은 음악, 나쁜 음악이라는 것은 없는 것 같습니다. 내가 좋아하거나, 누군가가 좋아하는 음악만이 있을 뿐이죠. 세상에는 인기 차트 TOP100 말고도 정말 많은 음악이 있습니다. 그 중에서 나를 위로하는, 나만의 보석을 찾으려면 다양한 음악을 접해봐야 합니다. 음악을 만드는 분들 역시, 누군가 내 음악의 가치를 인정해준다면 더 좋은 음악을 만들 힘이 되지 않을까요? 다양한 음악을 좀 더 많은 분이 함께 듣고, 뮤지션을 격려하는 기회를 만들고 싶어 시작합니다.  -Daum 뮤직 -</p>
	</div>
	<div class="selection">
		<h4 class="ir_pm">이달의 앨범 선정기준</h4>
		<div class="wrap_standard">

			<strong class="ir_pm">선정기준</strong>
			<p class="ir_pm">음악적 성취를 최우선적으로 평가하되 사회적 파급과 대중적 영향을 함께 고려하는 것을 목표로 합니다. 특히, 참신한 시도와 창의적 방식으로 대중음악의 다양성과 예술성을 성취한 작품을 적극 평가합니다. 대중적 음악 경험의 지평을 확장하는데 일조한 작품을 우선으로 하며, 상업적 성공 여부를 차별 혹은 역차별의 잣대로 사용하지 않는다는 것도 원칙으로 명문화하고 있습니다.</p>
		</div>
		<div class="wrap_target">
			<strong class="ir_pm">선정대상</strong>
			<p class="ir_pm">이달의 앨범은 매월 첫째 날부터 마지막 날까지 한달간 국내에서 발매되고 국내에서 유통된 국내 아티스트의 모든 앨범을 선정대상으로 합니다. 여기서 국내 유통이란 바코드를 취득한 피지컬 음반이나 합법적인 업체에서 판매되는 디지털 음원 가운데 어느 하나의 조건이라도 충족하는 경우를 말하고, 앨범은 공식 UK차트가 기준으로 삼고 있는 것과 마찬가지로 4곡 이상의 수록곡 혹은 25분 이상의 연주시간을 담고 있는 작품을 뜻합니다. 단, 히트곡모음집 등의 편집 앨범, 스플릿 앨범을 포함한 여러 가수의 컴필레이션, 기발표곡들로 구성된 리메이크 앨범과 실황음반 등은 추천 대상에서 배제합니다. 또한 곡은 형식과 내용에서 완결성을 갖춘 노래를 조건으로 하므로 인트로, 아우트로, 스킷 등의 트랙은 곡으로 간주하지 않습니다. 마찬가지로 동일한 노래의 상이한 버전 (리믹스, MR, 라이브, 어쿠스틱 버전 등) 도 별개의 곡으로 간주하지 않습니다.</p>
		</div>							
		<div class="wrap_procedure">

			<strong class="ir_pm">선정절차</strong>
			<ol>
				<li class="ir_pm"><em>STEP1</em> 음악평론가 선정단 1차 추천</li>
				<li class="ir_pm"><em>STEP2</em> 추천 작품 대상 선정단 투표진행</li>
				<li class="ir_pm"><em>STEP3</em> 이달의 앨범 최종선정 매월 15일 Daum 뮤직공개</li>

				<li class="ir_pm"><em>STEP4</em> 1년에 한번 IAM을 통해 올해의앨범 선정 및 시상</li>
			</ol>
			<p class="ir_pm">이달의 앨범은 세 차례의 투표를 통해 선정작을 확정합니다. 선정위원회는 매월 마지막 날로부터 상기한 기준조건을 충족하는 앨범을 대상으로 1차 투표를 진행하는데, 선정위원당 추천 앨범의 수에는 제한이 없습니다.  이어 1차 투표 집계결과 집계결과 1회 이상 추천된 모든 앨범들을 대상으로  2차 투표를 진행하고 전체 선정위원 1/3 이상의 득표를 획득한 앨범을 이달의 앨범으로 선정합니다. 그리고 마지막으로 3차 투표를 실시하여 추가 선정작을 결정하는데, 2차 투표에서 전체 선정위원 1/4 이상 1/3 미만의 득표를 획득한 차순위 앨범들을 대상으로 재투표합니다. 차순위 앨범들은 득표수에 따라 각각 2순위와 3순위로 분류하고, 2순위의 경우 전체 유효투표의 절반 이상, 3순위의 경우 전체 유효투표의 2/3이상을 얻으면 기존 선정작과 대등한 것으로 평가하여 이달의 앨범으로 최종 선정합니다. 그리고 선정된 앨범들은 매월 15일 Daum 뮤직을 통해 공개됩니다.</p>
			<em class="ir_pm">이달의 앨범 선정 기준과 대상, 절차는 음악평론가 선정단을 통해 마련되었습니다</em>
		</div> 
	</div>
	<div class="reviewer">

		<h4 class="ir_pm">음악평론가 선정단 소개</h4>
		<dl class="list_reviewer">
			<dt class="name">박은석</dt>
			<dd class="vocation">웹진 '백비트' 편집장</dd>
			<dt class="name">강일권</dt>
			<dd class="vocation">웹진 '리드머' 편집장</dd>

			<dt class="name">김광현</dt>
			<dd class="vocation">음악지 '재즈피플' 편집장</dd>
			<dt class="name">김봉현</dt>
			<dd class="vocation">MBC '문화사색' 자문위원</dd>
			<dt class="name">김윤하</dt>
			<dd class="vocation">교통방송 프리랜서 PD</dd>

			<dt class="name">김작가</dt>
			<dd class="vocation">추계예대 영상시나리오학과 강사</dd>
			<dt class="name">김종윤</dt>
			<dd class="vocation">웹진 '스캐터브레인' 편집장</dd>
			<dt class="name">김학선</dt>
			<dd class="vocation">웹진 '보다' 편집장</dd>

			<dt class="name fst">김현준</dt>
			<dd class="vocation fst">EBS '스페이스 공감' 기획위원</dd>
			<dt class="name">나도원</dt>
			<dd class="vocation">웹진 '백비트' 편집인</dd>
			<dt class="name">문정호</dt>
			<dd class="vocation">웹진 '보다' 편집인</dd>

			<dt class="name">배순탁</dt>
			<dd class="vocation">'배철수의 음악캠프' 작가</dd>
			<dt class="name">서성덕</dt>
			<dd class="vocation">웹진 '보다' 편집인</dd>
			<dt class="name name2">서정민갑</dt>
			<dd class="vocation vocation2">'인디어워드' 자문위원</dd>

			<dt class="name">윤호준</dt>
			<dd class="vocation">웹진 '음악취향 Y' 편집인</dd>

			<dt class="name fst">이경준</dt>
			<dd class="vocation fst">웹진 '백비트' 편집인</dd>
			<dt class="name">이민희</dt>
			<dd class="vocation">웹진 '백비트' 편집인</dd>

			<dt class="name">이태훈</dt>
			<dd class="vocation">뮤직랜드 기획팀장</dd>
			<dt class="name">조일동</dt>
			<dd class="vocation">한양대 문화인류학과 강사</dd>
			<dt class="name">최민우</dt>
			<dd class="vocation">웹진 '웨이브' 편집자</dd>

			<dt class="name">최지선</dt>
			<dd class="vocation">웹진 '웨이브' 편집인</dd>
			<dt class="name">최지호</dt>
			<dd class="vocation">웹진 '음악취향 Y' 편집인</dd>
		</dl>
	</div>
</div>				