#set( $tab = "albumview" )
#parse("/velocity/imagene/piece/tab.vm")
<div class="section_albumview">
	<div class="inner_album">

		<h3 class="screen_out">이달의 앨범</h3>
		<div class="wrap_date">
			<!-- 추가된 부분 -->
			<p class="album_caution">아래 노출 순서는 앨범 발매일 순이며 순위와 관계없습니다.</p>
			
			<div class="info_day">
				<div class="box_date">
					#printImageDate($award.awardDate "month" "")
				</div>
				
				#if( $!{preAward.awardId} )
				<a href="/imagene/detail?award_id=$!{preAward.awardId}" class="btn_arr btn_prev" title="이전"><span class="arr_comm prev">이전달</span></a>
				#else
				<span class="btn_arr btn_prev" title="이전"><span class="arr_comm prev_off">이전달</span></span>
				#end
				#if( $!{postAward.awardId} )
				<a href="/imagene/detail?award_id=$!{postAward.awardId}" class="btn_arr btn_next" title="다음"><span class="arr_comm next">다음달</span></a>
				#else
				<span class="btn_arr btn_next" title="다음"><span class="arr_comm next_off">다음달</span></span>
				#end
			</div>
			<div class="btn_whole">
				#set( $albumIds = "" )
				#foreach($album in $albumList)
					#if( $foreach.index > 0 ) #set( $albumIds = $albumIds + "/" ) #end
					#if( $StringUtils.equals("$!{album.playYn}","Y") ) #set( $albumIds = $albumIds + "$!{album.albumId}" ) #end
				#end
				<a href="/imagene/main" class="btn_month btn_album">선정된 앨범 전체목록</a>
				<a href="#" onclick="daum.Music.AodPlayer.add(this, '$!{albumIds}', 'itemTypeAlbumId' );return false;" class="btn_month btn_music">이번달 곡 전체듣기</a>
			</div>
		</div>

		#foreach($album in $albumList)
		<div class="wrap_album" id="$!{album.albumId}">
			<h4 class="ico_month tit_album">#printAlbumName( $album "" 0 2 true ) - #printArtistName( $album.keyArtistList "" 0 true )</h4>
			#printAlbumThumb( $album 5 "" "" )
			<div class="cont_review">
				<strong class="tit">$!{album.criticims}님의 앨범리뷰</strong>
				<div class="desc">
					<p class="txt_desc">
						#strCut("$!{album.criticimsContents}", 420)
					</p>
					<span class="txt_bar">|</span><a href="/album/main?album_id=$!{album.albumId}#imageneInfo" class="arr_comm btn_more">더보기</a>
				</div>
				<div class="btn_consumer">
					<a href="#" class="btn_comm btn_recom" onclick="daum.Music.API.Recommend.send({id:'$!{album.albumId}',el:'recomNum$!{album.albumId}',contents:'album', user:'#if($StringUtils.isNotEmpty($!{user.userId}))Y#end'});return false;" title="추천하기"><span class="screen_out">추천</span><em id="recomNum$!{album.albumId}" class="num_recom">$!{album.recommendCount}</em></a>
					<a href="#" onclick="daum.Music.API.Favorite.send({id:'$!{album.albumId}', contents:'album', el:this});return false;" class="btn_comm btn_interest" title="관심등록하기"><span class="screen_out">관심등록</span></a>
					<a href="/album/main?album_id=$!{album.albumId}" class="btn_month btn_detail" title="자세히보기"><span class="screen_out">자세히보기</span></a>
				</div>
			</div>

			<div class="cont_artist">
				<a href="/artist/main?artist_id=#getArtistId($album)" class="thumb_link">
					<img width="135" height="85" src="$!{album.artistImagePath}">
					<span class="line_thumb"></span>
				</a>
				<strong class="artist">#printArtistName( $album.keyArtistList "link_artist" 15 true )</strong>
				<p class="desc"><a href="/artist/main?artist_id=#getArtistId($album)" class="link_desc">#strCut("$!{album.artistContents}",60)</a></p>
				#if($StringUtils.isNotBlank("$!{album.artistSnsUrl}"))
				<a href="$!{album.artistSnsUrl}" class="arr_comm btn_info"#if( $album.artistSnsUrl.indexOf("http://music.daum.net/")>-1)#else target="blank"#end>$!{album.artistSnsTitle}</a>
				#end
			</div>
			#if( !$CollectionUtils.isEmpty($album.commanderList) )
			<div class="cont_hundred">
				<div class="inner_hundred">
					<div class="wrap_hundred">
						<strong class="tit_month tit_hundred">선정단 100자평</strong>
						#foreach($commander in $album.commanderList)
						<dl class="hundred_cmt#if($foreach.index==0) hundred_fst#end">
							<dt class="tit">$!{commander.commandDj.name}</dt>
							<dd class="desc">
								<p class="txt_desc">
									$!{commander.command}
								</p>
							</dd>
						</dl>
						#end
					</div>
				</div>
			</div>
			#end
		</div>
		#end
	</div>
</div>

## 이달의 앨범 아티스트 영상 롤링
#if(!$CollectionUtils.isEmpty($vclipList))
<div class="section_mov">
	<div class="view_mov">
		<h4 class="tit_month tit_monthmov">이달의 앨범 아티스트 영상</h4>

		<div class="view_frame">
			<div class="wrap_listroll">
				<ul id="listRollul" class="list_view" style="left:0px;">
					#foreach($vclip in $vclipList)
					<li vclipId="$!{vclip.vclipId}" class="roll">
						#if(!$CollectionUtils.isEmpty($vclip.keyArtistList))
            				#set($dir = "artist")
            			#else
            				#set($dir = "album")
            			#end
            			#printVideoThumb( $!{vclip} 2 "" "" $dir)
						<div class="info">
						#if($StringUtils.equals("$!{vclip.HDYn}", "Y"))
						<strong class="title">
    						<span class="screen_out">HD영상 </span>#printVideoName($vclip "link_title ico_detail ico_hd" 12 true)
    					</strong>
						#else
            			<strong class="title">
            				#printVideoName($vclip "link_title" 18 true)
            			</strong>
						#end
						
						#if($StringUtils.isNotBlank("$!{vclip.regDateTime}"))
						<strong class="artist">#printArtistName( $vclip.keyArtistList "link_artist" 10 true )</strong>
                		<span class="txt_bar">|</span>
                		<span class="time">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</span>
						#else
						<strong class="artist">#printArtistName( $vclip.keyArtistList "link_artist" 20 true )</strong>
						#end
						</div>
					</li>
					#end
				</ul>
			</div>
		</div>
		<a id="msPrevBtn" href="javascript:;" class="btn_detail prev_off" title="이전">이전</a>
		<a id="msNextBtn" href="javascript:;" class="btn_detail next_on" title="다음">다음</a>
	</div>
</div>

<script type="text/javascript">
	var msRoll = new daum.Music.ListRoll("listRollul", {alimPopup:true, amount:5, playingVclipId:"", duration:0.5, liwidth:184, viewList:true, prevId:"msPrevBtn", nextId:"msNextBtn", defaultIdx:0,perGroup:true, loop:false,preonclassName:"prev_on",preoffclassName:"prev_off",	nextonclassName:"next_on",	nextoffclassName:"next_off"	});
	msRoll.render();
</script>

#end

## 이벤트댓글 or 가이아댓글
#if($event) 
#printEvent( $event $album $artist $songList )
#end
#if( $StringUtils.isBlank("$!{event}") || !$event )		## 4번도 있는데 아직 고려 사항임
	<div><iframe id="commentFrame" frameborder="0" width="100%" height="" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN', '')/gaia/do/comment/commentList?bbsId=$!{award.bbsId}&articleId=$!{award.articleId}&templatePath=/content.htmp"></iframe></div>
#elseif( $event && $event.musicEventType == 2 )
	<div><iframe id="commentFrame" frameborder="0" width="100%" height="" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN', '')/gaia/do/comment/commentList?bbsId=$!{award.bbsId}&articleId=$!{award.articleId}&templatePath=/content.htmp"></iframe></div>
#end
	

<!--
<div>
	<iframe width="100%" scrolling="no" height="1733" frameborder="0" src="http://bbs.music.daum.net/gaia/do/comment/commentList?bbsId=C004&articleId=12592&templatePath=/content.htmp" title="댓글 영역" charset="utf-8" id="commentFrame"></iframe>
</div>
-->

## 스폰서 배너 랜덤 노출
#if( !$CollectionUtils.isEmpty($bannerList) )
#set( $firstIdx = $MathTool.random(0, $bannerList.size()) )
#set( $secondIdx = $MathTool.random(0, $bannerList.size()) )
#foreach($i in [1..10])
#if( $firstIdx == $secondIdx )
	#set( $secondIdx = $MathTool.random(0, $bannerList.size()) )
#else
	#break
#end
#end

#set( $firstBanner = $bannerList.get($firstIdx) )
#set( $secondBanner = $bannerList.get($secondIdx) )

<div class="bnr_event">
	<a href="$!{firstBanner.url}" class="bnr_thumb f_l"><img src="$!{firstBanner.imagePath}" width="483" height="85" class="thumb_img"></a>
	<a href="$!{secondBanner.url}" class="bnr_thumb f_r"><img src="$!{secondBanner.imagePath}" width="483" height="85" class="thumb_img"></a>
</div>
#end
<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->
#if( $StringUtils.equals("$!{cmd.debugmode}","2") )
수상 ID : "$!{award.awardId}" <br />
수상 년월 : "$!{award.awardDate}" <br />
이벤트 ID : "$!{award.eventId}" <br />
이벤트 YN : "$!{award.eventYn}" <br />

이전 정보
수상 ID : "$!{preAward.awardId}" <br />
수상 년월 : "$!{preAward.awardDate}" <br />
이벤트 ID : "$!{preAward.eventId}" <br />
이벤트 YN : "$!{preAward.eventYn}" <br />


이후 정보
수상 ID : "$!{postAward.awardId}" <br />
수상 년월 : "$!{postAward.awardDate}" <br />
이벤트 ID : "$!{postAward.eventId}" <br />
이벤트 YN : "$!{postAward.eventYn}" <br />

#foreach($album in $albumList)
	"albumId" : "$!{album.albumId}" <br />
	"title" : "$!{album.title}" <br />
	"releaseDt" : "$!{album.releaseDt}" <br />
	"playYn" : "$!{album.playYn}" <br />
	"image" : "$!{album.mainImage.filePath}" <br />
	평론가 : "$!{album.criticims}"<br/>
	평론 : "$!{album.criticimsContents}"<br/>

	추천수 : "$!{album.recommendCount}"<br/>

	아티스트 썸네일 : "$!{album.artistImagePath}"<br/>
	아티스트 설명 : "$!{album.artistContents}"<br/>
	아티스트 썸네일 URL (?) : "$!{album.artistUrl}"<br/>
	아티스트 SNS TITLE : "$!{album.artistSnsTitle}"<br/>
	아티스트 SNS URL : "$!{album.artistSnsUrl}"<br/>

	100자평:<br/>
	#foreach($commander in $album.commanderList)
	 - 이름 : $commander.commandDj.name<br/>
	 - 평 : $commander.command<br/>
	#end
	"artists" <br />
		#foreach($artist in $album.keyArtistList)
			"Id" : "$!{artist.artistId}" <br />
			"name" : "$!{artist.name}" <br />
			설명 : "$!{artist.content}" <br />
			설명(wiki) : "$!{artist.wikiInfo}" <br />
			이미지 : <img src="$!{artist.mainImage.filePath}"/>${artist.mainImage.filePath}<br/>
		#end
	<br />
#end

아티스트 동영상<br/>
한꺼번에 다 내리는 걸로 수정했습니다. paging 따로 없어요 ~~ ㅎ
#foreach($vclip in $vclipList)
	##if($velocityCount < 6)
		<li style="position:relative;">
			#if((!$CollectionUtils.isEmpty($album.keyArtistList) && $StringUtils.equals("$!{album.keyArtistList.size()}", "1") && !$StringUtils.equals("$!{album.keyArtistList[0].artistId}", "0")) || ($CollectionUtils.isEmpty($album.keyArtistList) && $StringUtils.isNotBlank("$!{artist.artistId}")))
				#set($dir = "artist")
			#else
				#set($dir = "album")
			#end
			#printVideoThumb( $!{vclip} 1 $foreach.index "" $dir)
			<div class="wrap_info">
				<strong class="wrap_title">
					## $command.artist_id와 $vclip.artist_id가 동일하지 않아서 SET
					#if($StringUtils.equals("$!{vclip.HDYn}", "Y"))
						#printVideoName($vclip "ico_detail ico_hd" 12 true)
					#else
						#printVideoName( $!{vclip} "" 16 true )
					#end
				</strong>
				<span class="wrap_artist">
					#printArtistName($!{vclip.keyArtistList} "" 20 true)
				</span>
				<em class="txt_date">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</em>
			</div>
		</li>
	##else
	##	#set($page = $cmd.page_no +1)

	##	ajax를 이용할거 같아 리스트만 가져오는 api만들었습니다.   <a href="/imagene/api/vclipList.json?award_id=$!{cmd.award_id}&page_no=$page" target="_blank">다음페이지가 있음... </a><br/>
	##end
#end



<br/><br/><br/>
이벤트 기본정보<br>
eventId : $event.eventId<br>
eventKey : $event.eventKey<br>
eventTitle : $event.eventTitle // 이벤트제목<br>
startDate : $event.startDate // 이벤트 시작일<br>
endDate : $event.endDate // 이벤트 종료일<br>
winningDate : $event.winningDate // 발표일자<br>
description : $event.description //이벤트 설명인데 현재 경품 내역용으로 입력하고있음<br>

이벤트 추가 설정 정보<br>
musicEventType : $event.musicEventType<br>
musicEventSpecial : $event.musicEventSpecial<br>
musicEventTitle : $event.musicEventTitle	// 추가설정한 이벤트 제목<br>
musicAlbumId : $event.musicAlbumId<br>
musicArtistId: $event.musicArtistId<br>
musicPollItems : ${event.musicPollItems}<br>

==응모내용==
댓글수 : ${commentTotalCount}
<br />
#foreach ($comment in $commentList)
	아이디 : $comment.daumId<br/>
	이름 : $comment.daumName<br/>
	댓글 : $comment.comment<br/>
	코멘트 정보 : $comment <br/>
	<br/>
#end

메인 배너 <br />
#foreach ($banner in $bannerList)
	URL : $banner.url<br/>
	이미지 : $banner.imagePath<br/>
#end
<br/>

스폰서 배너 <br />
#foreach ($banner in $sponBannerList)
	URL : $banner.url<br/>
	이미지 : $banner.imagePath<br/>
#end

로그인정보
$user.userId $user
<br/>
#end