#set( $tab = "intro" )
#parse("/velocity/imagene/piece/tab.vm")
<!--<div class="intro_month">
	<p>IAM(이매진 어워드 뮤직페스트)과 함께하는 Daum 뮤직 이달의 앨범</p>
	<p>젊은 비평가들로 구성된 전문가 집단과 함께 매달 좋은 앨범을 추천하여 소개합니다.</p>
</div>
<div class="wrap_tab">
	<ul class="tab_month">
		<li><a href="#" class="tab_link txt_monthalbum">이달의 앨범</a></li>
		<li><a href="#" class="tab_link txt_standard">선정기준</a></li>
		<li class="on"><span class="tab_link txt_intro">IAM소개</span></li>
	</ul>
	<div class="btn_consumer">
		<span class="btn_sns">
			<a class="btn_comm btn_yozm" href="#" title="요즘으로 보내기"><span class="screen_out">요즘</span></a>
			<a class="btn_comm btn_my" href="#" title="마이피플로 보내기"><span class="screen_out">마이피플</span></a>
			<a class="btn_comm btn_twitter" href="#" title="트위터로 보내기"><span class="screen_out">트위터</span></a>
			<a class="btn_comm btn_cyworld" href="#" title="싸이월드로 보내기"><span class="screen_out">싸이월드</span></a>
			<a class="btn_comm btn_more" href="#" title="SNS 더보기"><span class="screen_out">더보기</span></a>
		</span>
	</div>
	<div class="cl_b"></div>
</div>
-->
<div class="section_iam">
	<h3 class="screen_out">IA 소개</h3>

	<div class="wrap_tit">
		<h4>IMAGENE AWARDS</h4> <!-- 2012-07-05 수정 -->
		<strong class="ir_pm">coming soon 2012.08</strong> <!-- 2012-07-05 수정 -->
		<p>2012년 8월!! 단 하나뿐인 시상식 &amp; 페스티벌이 찾아갑니다!</p> <!-- 2012-07-05 수정 -->
	</div>

	<div class="wrap_imagine">
		<dl>
			<dt class="ir_pm">IMAGINE</dt>
			<dd class="ir_pm">상상하다, (마음속으로)그리다/ 고안하다. 존 레논의 전설적인 싱글 곡명</dd>
		</dl>
		<span class="ir_pm">+</span>
		<dl>
			<dt class="ir_pm">GENE</dt>
			<dd class="ir_pm">유전자</dd>
		</dl>
		<span class="ir_pm">=</span>
		<dl>
			<dt class="ir_pm">IMAGENE</dt>
			<dd class="ir_pm">상상하고 꿈꾸는 유전자 2012년부터 시잘될 한국 대중음악 시상식, 축제</dd>
		</dl>
	</div>
	<dl class="list_desc">
		<dt class="ir_pm">Inspired by EVERY MUSIC</dt>
		<dd class="ir_pm">우리의 가슴을 울리는 음악이라면 어떤 장르든 발굴하고, 평가하고, 시상하고, 공연합니다. 젊은 비평가들로 구성된 전문가집단이 예술성과 대중성의 접점을 찾아 모든 음악을 추구합니다.</dd>
		<dt class="ir_pm">Created for EVERY DAY</dt>
		<dd class="ir_pm">매일 새롭게 탄생하는 음악들을 섭렵하여, 매달 후보 앨범을 선정하여 'Daum 뮤직 이달의 앨범'을 통해 소개합니다.</dd>

		<dt class="ir_pm">Expressed through FESTIVITY</dt>
		<dd class="ir_pm">그리고 그렇게 쌓아올린 관심과 열기를 한판 축제의 난장으로 분출합니다</dd>
	</dl>
</div>