#set( $tab = "album" )
#parse("/velocity/imagene/piece/tab.vm")
<div class="section_album">
	<div class="inner_album">

		<h3 class="screen_out">선정작 목록</h3>
		#*
		<div class="current_day info_day">
			<a href="#" class="box_date">
				<span class="num_month award1">1</span>
				<span class="num_month award_st">st award</span>
				<span class="num_comm num2">2</span>
				<span class="num_comm num0">0</span>
				<span class="num_comm num1">1</span>
				<span class="num_comm num1">1</span>
				<span class="num_comm spot">.</span>
				<span class="num_comm num0">0</span>
				<span class="num_comm num6">6</span>
				<span class="num_comm dash">~</span>
				<span class="num_comm num2">2</span>
				<span class="num_comm num0">0</span>
				<span class="num_comm num1">1</span>
				<span class="num_comm num2">2</span>
				<span class="num_comm spot">.</span>
				<span class="num_comm num0">0</span>
				<span class="num_comm num5">5</span>
			</a>
			<span class="btn_arr btn_prev" title="이전"><span class="arr_comm prev_off">이전달</span></span>
			<span class="btn_arr btn_next" title="다음"><span class="arr_comm next_off">다음달</span></span>
		</div>
		*#
		
		<div class="wrap_album">
			
    		<div class="box_awardlist">
    			<span class="box_pageinfo">
    				<span class="screen_out">현재 페이지</span>
    				<strong class="tit_yearaward no$!{roundInfo.roundNo}">$!{roundInfo.roundNo} Award</strong>
					
					#if($StringUtils.equals("$!{roundInfo.roundNo}", "2")) ## 1년간만 하드코딩
					<span class="date">$!{CheckDate.makeReleaseDate($!{awardInfo.minDate})}~2013.05</span>
					#else
    				<span class="date">$!{CheckDate.makeReleaseDate($!{awardInfo.minDate})}~$!{CheckDate.makeReleaseDate($!{awardInfo.maxDate})}</span>			
					#end
    			</span>
				
				#if( !$StringUtils.equals("$!{roundInfo.prevRoundNo}", "0") )
				<a href="/imagene/main?round_no=$!{roundInfo.prevRoundNo}" title="이전" class="btn_yearaward btn_prevaward">이전</a>
				#else
				<span class="btn_yearaward btn_prevawardoff">이전</span>
				#end
				#if( !$StringUtils.equals("$!{roundInfo.nextRoundNo}", "0") )
				<a href="/imagene/main?round_no=$!{roundInfo.nextRoundNo}" title="다음" class="btn_yearaward btn_nextaward">다음</a>
				#else
				<span class="btn_yearaward btn_nextawardoff">다음</span>
				#end
    		</div>
			
			#foreach($award in $awardList)
			<div class="cont_month">
				<div class="info_month">
					<strong class="num_month year$StringUtils.mid($award.awardDate, 0, 4)">$StringUtils.mid($award.awardDate, 0, 4)년</strong>
					<strong class="num_month month$StringUtils.mid($award.awardDate, 4, 2)">$StringUtils.mid($award.awardDate, 4, 2)월</strong>
					<a href="/imagene/detail?award_id=$!{award.awardId}" class="btn_month btn_detail">자세히 보기</a>
				</div>
				<div class="info_album">
					<ul class="list_album">
					#foreach($album in $award.albumList)
						<li>
							#printAlbumThumb( $album "imagene_4" "$!{award.awardId}" "" )
							<div class="info">
								<strong class="title"><a href="/imagene/detail?award_id=$!{award.awardId}#$!{album.albumId}">#printAlbumName( $album "link_title" 17 2 false )</a></strong>
								<span class="artist">#printArtistName( $album.keyArtistList "link_artist" 20 true )</span>
								<span class="time">$!{CheckDate.makeReleaseDate($!{album.releaseDt})}</span>
							</div>
						</li>
						#end
					</ul>
				</div>
			</div>
			#end
		</div>
		<div class="together_iam">
			<p class="cont">이달의 앨범은 IAM(이매진 어워드 뮤직페스타)과 함께합니다.</p>
		</div>
	</div>
</div>
<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->
#if( $StringUtils.equals("$!{command.debugmode}","2") )
#foreach($award in $awardList)
	수상 ID : "$!{award.awardId}" <br />
	수상 년월 : "$!{award.awardDate}" <br />
	이벤트 ID : "$!{award.eventId}" <br />
	이벤트 YN : "$!{award.eventYn}" <br />

	#foreach($album in $award.albumList)
		"albumId" : "$!{album.albumId}" <br />
		"title" : "$!{album.title}" <br />
		"releaseDt" : "$!{album.releaseDt}" <br />
		"playYn" : "$!{album.playYn}" <br />
		"image" : "$!{album.mainImage.filePath}" <br />
		"artists" <br />
			#foreach($artist in $album.keyArtistList)
				"Id" : "$!{artist.artistId}" <br />
				"name" : "$!{artist.name}" <br />
			#end
		<br />
	#end
#end

앞 $roundInfo.prevRoundNo (0일 경우 막아주세요) <br/> 
현재 $roundInfo.roundNo  | $awardInfo.minDate ~ $awardInfo.maxDate <br/>
뒤 $roundInfo.nextRoundNo (0일 경우 막아주세요)<br/> 


<br />
#end