<ul class="tab_detail">
	<li class="#if($!requestURI.indexOf("/onair/search/channel") >-1 && ("$!{command.mediaType}" == "1" || "$!{command.mediaType}" == "") )on#end"><!--li에 on 클래스 추가시 해당 탭 선택-->
		<a href="/onair/search/channel?mediaType=1" class="link_tab">TV</a>
	</li>
	<li class="#if($!requestURI.indexOf("/onair/search/channel") >-1 &&  "$!{command.mediaType}" == "4")on#end">
		<a href="/onair/search/channel?mediaType=4" class="link_tab">라디오</a>
	</li>
	<li class="#if($!requestURI.indexOf("/onair/search/program") >-1)on#end">
		<a href="/onair/search/program" class="link_tab">프로그램</a>
	</li>
</ul>