<script type="text/javascript">
	var itemJson = { 
		'item' : { 
#foreach ($item in $dto.mobileItemList)
	#if($foreach.index>0),#end
	'$!{item.corpCd}$!{item.typeCd}':{'price':$!{item.price},'itemId':'$!{item.itemId}','itemName':'$!{item.itemName}','listenUrl':'$!{item.prelistenUrl}','linkId':'$!{item.linkId}'}
#end
		},
		'corp' : [
#set ($corp = "")
#foreach ($item in $dto.mobileItemList)
	#if($corp != $item.corpCd) #if($corp!=""),#end '$item.corpCd' #set($corp = $item.corpCd) #end
#end
#set ($corp = "")	
		],
		'type' : {
#set ($corp = "")
#set ($type = "")
#foreach ($item in $dto.mobileItemList)
	#if($corp != $item.corpCd) #if($corp!="")],#end '$item.corpCd' : [ #set($corp = $item.corpCd) #set($type = "") #end
	#if($type != $item.typeCd) #if($type!=""),#end '$item.typeCd' #set($type = $item.typeCd) #end
#end
#if($corp!="")]#end
#set ($corp = "")
#set ($type = "")
		}		
	};
	
	function setCorp(el) { _phone.ringSet(el); }
	function setBuy(el) { _phone.buySet(el); }
 </script>
<div id="wPhone" class="popWrap">		
	<div id="wSelSong">
	<form name="frm">
	<input type="hidden" name="songId" value="$!{command.songId}">
		#printPhoneTopInfo($dto)
		#printPhoneCorporation()
		## SKT Setting ##
		<div id="corpSKTCont" class="hide">
			<dl class="setLst clearfix" id="setBuySK">
				<dt class="setTit titForBuy">구입/선물</dt>
				<dd><input type="radio" name="forbuySK" id="buyMineSK" value="mine" checked="true"><label for="buyMineSK">내 폰 설정</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="forbuySK" id="buyGiftSK" value="gift"><label for="buyGiftSK">선물하기</label> ( 같은 통신사만 가능 )</dd>
			</dl>			
			
			<dl class="setLst clearfix" id="setTimeSK">
				<dt class="setTit titTimeLen">시간선택</dt>
				<dd><input type="radio" name="typeSK" id="timeLongS" value="LO" disabled="true"><label for="timeLongS">롱:60초(1,300원)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="typeSK" id="timeShortS" value="NO" disabled="true"><label for="timeShortS">일반:40초(1,200원)</label></dd>
			</dl>				
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setTimeSK'), {tagName:'input'});</script>
				
			<div id="buyMineSKCont" style="display:none">
				<dl class="setLst clearfix" id="setOptionSK">
					<dt class="setTit titOption">상세설정</dt>
					<dd><input type="radio" name="optionSK" id="ringBaseS" value="NO" checked="true"><label for="ringBaseS">기본 컬러링</label>&nbsp;&nbsp;</dd>
					<dd><input type="radio" name="optionSK" id="ringTimeS" value="TI"><label for="ringTimeS">시간대별 컬러링</label>&nbsp;&nbsp;</dd>
					<dd><input type="radio" name="optionSK" id="ringSenderS" value="SE"><label for="ringSenderS">발신자별 컬러링</label></dd>
				</dl>
				<script type="text/javascript">daum.Music.OnOffClass(daum.$('setOptionSK'), {tagName:'input'});</script>
			</div>
			<div id="buyGiftSKCont" style="display:none">
				<dl class="setLst clearfix">
					<dt class="setTit titSender2">보내는사람</dt>
					<dd><select id="sendSK1" onchange="_phone.chNum(event);"><option value="010">010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="sendSK2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="sendSK3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
				</dl>
			</div>				
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setBuySK'), {tagName:'input', isTab:true, tabBody:'Cont', fnCallback:setBuy});</script>
			
			<dl class="setLst clearfix">
				<dt class="setTit titSender">받는사람</dt>
				<dd><select id="getSK1" onchange="_phone.chNum(event);"><option value="010">010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="getSK2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="getSK3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
			</dl>		
		</div>
		
		## KT Setting ##
		<div id="corpKTCont" class="hide">
			<dl class="setLst clearfix" id="setBuyKT">
				<dt class="setTit titForBuy">구입/선물</dt>
				<dd><input type="radio" name="forbuyKT" id="buyMineKT" value="mine" checked="true"><label for="buyMineKT">내 폰 설정</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="forbuyKT" id="buyGiftKT" value="gift"><label for="buyGiftKT">선물하기</label> ( 같은 통신사만 가능 )</dd>
			</dl>	
			<dl class="setLst clearfix" id="setTimeKT">
				<dt class="setTit titTimeLen">시간선택</dt>
				<dd><input type="radio" name="typeKT" id="timeLongK" value="LO" disabled="true"><label for="timeLongK">롱:60초(1,300원)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="typeKT" id="timeShortK" value="NO" disabled="true"><label for="timeShortK">일반:40초(1,200원)</label></dd>
			</dl>
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setTimeKT'), {tagName:'input'});</script>
			
			<div id="buyMineKTCont" style="display:none">
			</div>
			<div id="buyGiftKTCont" style="display:none">
				<dl class="setLst clearfix">
    				<dt class="setTit titSender2">보내는사람</dt>
    				<dd><select id="sendKT1" onchange="_phone.chNum(event);"><option value="010" selected>010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="sendKT2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="sendKT3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
    			</dl>
			</div>
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setBuyKT'), {tagName:'input', isTab:true, tabBody:'Cont', fnCallback:setBuy});</script>
			
			<dl class="setLst clearfix">
				<dt class="setTit titSender">받는사람</dt>
				<dd><select id="getKT1" onchange="_phone.chNum(event);"><option value="010" selected>010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="getKT2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="getKT3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
			</dl>
		</div>

		## LGT Setting ##
		<div id="corpLGTCont" class="hide">
			<dl class="setLst clearfix" id="setBuyLG">
				<dt class="setTit titForBuy">구입/선물</dt>
				<dd><input type="radio" name="forbuyLG" id="buyMineLG" checked="true"><label for="buyMineLG">내 폰 설정</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="forbuyLG" id="buyGiftLG"><label for="buyGiftLG">선물하기</label> ( 같은 통신사만 가능 )</dd>
			</dl>			
			
			<dl class="setLst clearfix" id="setTimeLG">
				<dt class="setTit titTimeLen">시간선택</dt>
				<dd><input type="radio" name="typeLG" id="timeLongL" value="LO" disabled="true"><label for="timeLongL">롱 필링(1,400원)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
				<dd><input type="radio" name="typeLG" id="timeShortL" value="NO" disabled="true"><label for="timeShortL">일반 필링(1,200원)</label></dd>
			</dl>
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setTimeLG'), {tagName:'input'});</script>
			
			<div id="buyMineLGCont" style="display:none">	
				<dl class="setLst clearfix" id="setOptionLG">
					<dt class="setTit titOption">상세설정</dt>
					<dd><input type="radio" name="optionLG" id="ring1L" value="NO" checked="true"><label for="ring1L">기본 링</label>&nbsp;</dd>
					<dd><input type="radio" name="optionLG" id="ring2L" value="SE"><label for="ring2L">발신자별 링</label>&nbsp;</dd>
					<dd><input type="radio" name="optionLG" id="ring3L" value="TI"><label for="ring3L">시간대별 링</label>&nbsp;</dd>
					<dd><input type="radio" name="optionLG" id="ring4L" value="DA"><label for="ring4L">기념일별 링</label></dd>
				</dl>
				<script type="text/javascript">daum.Music.OnOffClass(daum.$('setOptionLG'), {tagName:'input'});</script>
			</div>
			<div id="buyGiftLGCont" style="display:none">	 
				<dl class="setLst clearfix">
					<dt class="setTit titSender2">보내는사람</dt>
					<dd><select id="sendLG1" onchange="_phone.chNum(event);"><option value="010">010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="sendLG2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="sendLG3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
				</dl>				
			</div>
			<script type="text/javascript">daum.Music.OnOffClass(daum.$('setBuyLG'), {tagName:'input', isTab:true, tabBody:'Cont', fnCallback:setBuy});</script>
			
			<dl class="setLst clearfix">
				<dt class="setTit titSender">받는사람</dt>
				<dd><select id="getLG1" onchange="_phone.chNum(event);"><option value="010">010</option><option value="011">011</option><option value="016">016</option><option value="017">017</option><option value="018">018</option><option value="019">019</option></select> <input type="text" class="inp" id="getLG2" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"> <input type="text" class="inp" id="getLG3" maxlength="4" onKeyPress="return _phone.onlyNum(event, false);" style="ime-mode:disabled"></dd>
			</dl>			
		</div>

	</div>
	<div class="btnSend" id="btnSend">
		<div class="btn">			
			<a href="#" onclick="_phone.ringSubmit();" title="확인"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_ok_1.gif" alt="확인"></a>
			<a href="#" onclick="window.close();" title="닫기"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_close.gif" alt="닫기"></a>
		</div>
	</form>
	</div>
	<script type="text/javascript">	
		var _phone = new daum.Music.Phone({type:"ring"});
		_phone.ringInit("$!{dto.cpNumber}");
	</script>
	
	<ul class="notiMsg">
		<li><strong class="black"> 스마트폰 고객님은 통화연결음 이용이 불가합니다.</strong> <a title="스마트폰 사용 제한 안내" target="_blank" class="blue_d1" href="http://bbs.music.daum.net/gaia/do/music/notice/read?articleId=26&amp;bbsId=Notice">자세히 보기</a></li>
		<li>통화연결음 부가 서비스 가입자인 경우에 한해 이용 가능합니다.</li>
		<li>이통사에 따라 길이와 구간이 미리듣기와 상이할 수 있습니다.</li>	
		<li><strong class="black">SKT / LG U+ 통화연결음</strong>은 본 팝업 페이지의 '상세설정' 영역에서 선택하신 것으로 설정 완료되며, 설정 완료 후 별도의 SMS가 발송되지 않습니다.</li>
		<li><strong class="black">KT 통화연결음</strong>은 구매 완료 후 SMS 가 발송되며, 수신된 SMS 에서 데이터 통신으로 접속하여 설정을 완료해야 합니다.</li>
		<li><strong class="black">SKT 통화연결음</strong>은 구매 시 선택한 '상세설정' 외에 <strong class="black">재설정 기능이 없으므로</strong>, 설정 시 유의해주세요.</li>
		<li>통신사별 통화연결음 설정 상태 확인 방법 <a title="통신사별 통화연결음 설정상태 확인 방법 안내" target="_blank" class="blue_d1" href="http://bbs.music.daum.net/gaia/do/music/notice/read?bbsId=Notice&amp;articleId=38">바로가기</a></li>
	</ul>
</div>	
	
 #if( $StringUtils.equals("$!{command.debugmode}","2") )
========= 모바일(벨) ========
<br/>
곡제목 : $dto.songInfo.title <br/>
곡아이디 : $dto.songInfo.songId <br/>
앨범제목 : $dto.songInfo.album.title <br/>
앨범아이디 : $dto.songInfo.album.albumId <br/>
앨범커버 : $dto.songInfo.album.mainImage.filePath <br/>
#foreach ($artist in $dto.songInfo.keyArtistList)
	아티스트아이디 : $artist.artistId<br/>
	아티스트명 : $artist.name<br/>
#end
<br/>
<br/>
전화번호 : $dto.cpNumber
<br/>
<br/>
#foreach ($mobileItem in $dto.mobileItemList)
           통신사 : $mobileItem.corpCd<br/>
           타입 : $mobileItem.typeCd<br/>
           가격 : $mobileItem.price<br/>
    ITEMID : $mobileItem.itemId<br/>
    ITEMNAME : $mobileItem.itemName<br/>
           미리듣기 주소 : $mobileItem.prelistenUrl<br/>
	LinkID : $mobileItem.linkId<br/>
	------------------------------<br/>
    </br>
#end

#*
구매시도 url : 
		http://music.daum.net/mobile/preCheckPurchase.do?getNumber=받는번호&sendNumber=보내는번호&corpCd=통신사&mobileItemCd=RI&linkId=링크아이디
ajax로 분기
 예)http://music.daum.net/purchase/ring/precheck.json?getNumber=01020094725&corpCd=SK&mobileItemCd=RI&linkId=13000088207_SK_NO
 예) http://music.daum.net/purchase/ring/precheck.json?getNumber=01020094725&corpCd=KT&mobileItemCd=RI&linkId=20270407029715_KT_N

-1번결과일 경우-
KT면 바로 결제내역페이지
예)http://music.daum.net/purchase/ring/option.popup?songId=8096828&itemId=RIG0005&getNumber=01020094725&optCd=NO
선물하기 여도 바로 결제내역페이지
예)http://music.daum.net/purchase/ring/option.popup?songId=8096828&itemId=RIG0005&getNumber=01020094725&sendNumber=01020094725&optCd=NO

SK, LG면 인증번호 전송페이지 후 결제내역 페이지로 넘어간다.
인증번호 성공 예)
http://music.daum.net/purchase/ring/sendcertnum.popup?corpCd=SK&getNumber=01020094725&itemId=BEG0013&songId=8096828&optCd=SE
http://music.daum.net/purchase/ring/sendcertnum.popup?corpCd=SK&getNumber=01023107128&itemId=BEG0013&songId=8096828&optCd=SE

*#
#end