#set($event_id = $request.getParameter("event_id"))
<div id="daumContent" class="cont_spe">
	<h2 class="screen_out">스페셜</h2>
	<ul class="wrap_spemenu">
		<li class="menu1"><a href="/event/main?event_id=$!event_id " class="pround"><span class="inner">스페셜홈</span></a></li>
		<li class="menu2 on"><a href="/event/photo_vclip/list?event_id=$!event_id " class="pround"><span class="inner">포토동영상</span></a></li>
		<li class="menu3"><a href="/event/detail?event_id=$!event_id " class="pround"><span class="inner">상세정보</span></a></li>
		<li class="menu4"><a href="/event/eventInfo?event_id=$!event_id " class="pround"><span class="inner">이벤트</span></a></li>
	</ul>
	<div class="section_view">
		<div class="cont_navi">
			<h3 class="tit">포토</h3>
			<em class="count">(<span class="fc_blue">$!{pageNo}</span>/$!{totalCnt})</em>
			<a href="/event/photo_vclip/list?event_id=$!event_id " class="round btn_prev" title="이전">
				<span class="inner">
					<span class="ico_music ico_arrow"></span>이전
				</span>
			</a>
			<div class="wrap_navi">
#if("$!{pageNo}"=="1")
				<a class="round btn_prev_photo" title="이전 포토">
					<span class="inner off">
#else
				<a href="/event/photo_vclip/detail?event_id=$!{cooperEvent.prevPhoto.eventId}&photo_id=$!{cooperEvent.prevPhoto.photoId}" class="round btn_prev_photo" title="이전 포토">
					<span class="inner">
#end
						<em class="ico_music ico_arrow"></em>
					</span>
				</a>
#if("$!{pageNo}"=="$!{totalCnt}")
				<a class="round btn_next_photo" title="다음 포토">
					<span class="inner off">
#else
				<a href="/event/photo_vclip/detail?event_id=$!{cooperEvent.nextPhoto.eventId}&photo_id=$!{cooperEvent.nextPhoto.photoId}" class="round btn_next_photo" title="다음 포토">
					<span class="inner">
#end
						<em class="ico_music ico_arrow"></em>
					</span>
				</a>

			</div>
		</div>
		<div class="wrap_photo">
			<img src="$ImageUtil.getMobileImageUrl("${photo.filePath}", "320x344", "PHOTO", "C")" alt="">
		</div>
	</div>
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")
#*
pageNo  : $!{pageNo}<br/>
totalCnt : $!{totalCnt}<br/>

<br/>

prev.eventId : $!{cooperEvent.prevPhoto.eventId}<br/>
prev.photoId : $!{cooperEvent.prevPhoto.photoId}<br/>

<br/>

next.eventId : $!{cooperEvent.nextPhoto.eventId}<br/>
next.photoId : $!{cooperEvent.nextPhoto.photoId}<br/>

<br/>

eventId : $!{photo.eventId}<br/>
photoId : $!{photo.photoId}<br/>
filePath : $!{photo.filePath}<br/>
*#
