var artistData = {
	"artistDetailId": "$!{artist.artistId}",
    "albumId": "$!{artistMainSong.album.albumId}",
	"artistType": "$!{artist.artistType}",
    "name": "#escScript( $!{artist.name} )",
    "orgLang": "#escScript( $!{artist.nameOrgLang} )",
    "korLang": "#escScript( $!{artist.nameKorLang} )",
    "activeYear": [
		#foreach( $item in ${artist.activeYear} )
			"$!item"#if( $velocityHasNext ),#end
		#end
	],
    "artistInfo": {
		"sex": "$!{artist.sexName}",
		"creditTitle1": "$!{artist.creditTitle1}",
		"nationList": [
			#foreach($nation in $artist.nationList)
				"$!nation"#if( $velocityHasNext ),#end
			#end
		],
		"birthDate": "$!CheckDate.makeReleaseDate($!{artist.birthDt})",
		"deathDate":  "$!CheckDate.makeReleaseDate($!{artist.debutDt})",
		"startActYear": "$!artist.strActYear",
		"endActYear": "$!artist.endActYear",
		"bandTypeName": "$!{artist.bandTypeName}",
		"imgUrl": "$ImageUtil.getImageUrl( "$!{artist.mainImage.filePath}", "74x107", "ARTIST" )"
	},
    "relationArtistCount": "$!{artist.relationArtistCount}",
    "serviceStatus": "$!{artist.svcstatus}",
	"rating": {
    	"count": "$!artist.recommendCount",
        "score": ""
	},
	"mainSongId": "$!{artistMainSong.songId}",
	"mainSongTitle": "$!{artistMainSong.title}"
};

#*
${artist}

대표곡 : $!{artistMainSong}<br>

##아티스트 타입(PS, BD)
#set($artistType = $artist.artistType)
## 활동정보
#set ( $_info = "" )
#if($StringUtils.equals("$!{artistType}","PS")) ## 인물
    #set ( $_info = "" )
    #if ( "$!{artist.sexName}" != "" ) #set ( $_info = $_info + '"'+${artist.sexName}+'"' ) #end ## 성별
    #if ( "$!{artist.creditTitle1}" != "" ) ## 대표크레딧
        #if( !$StringUtils.equals("$!{_info}","") ) #set ( $_info = $_info + ',' ) #end
        #set ( $_info = $_info + '"'+${artist.creditTitle1}+'"' )
    #end
    #if ( $!{artist.nationList.size()} != 0  ) ## 관련지역
        #if( !$StringUtils.equals("$!{_info}","") ) #set ( $_info = $_info + ',' ) #end
        #foreach($nation in $artist.nationList)
            #if($foreach.index>0) #set ( $_info = $_info + ',' ) #end
            #set ( $_info = $_info + '"'+${nation}+'"' )
        #end
    #end
    ## 개인은 데뷔일보다 출생일 데이터가 더 많아서 출생일, 사망일을 보여준다는.......
    #if ( !$StringUtils.equals("$!{artist.birthDateTime}","") ) ## 출생일
        #if( !$StringUtils.equals("$!{_info}","") ) #set ( $_info = $_info + ',' ) #end
        #set( $infoBirth = '출생: ' + $CheckDate.makeReleaseDate($!{artist.birthDateTime}) )
		#set( $_info = $_info + '"' + $infoBirth )
    #end
    #if ( "$!{artist.deathDateTime}" != "" ) ## 사망일
        #if( !$StringUtils.equals("$!{info}","[") && !${infoBirth} ) #set ( $_info = $_info + ',"' ) #end
        #set ( $infoDeath = ' ~ 사망: ' + $CheckDate.makeReleaseDate($!{artist.deathDateTime}) )
		#set( $_info = $_info + $infoDeath )
    #end
	#if( $infoBirth || $infoDeath )#set( $_info = $_info + '"' )#end
#else ## 밴드
    #set ( $_info = "" )
    #if ( "$!{artist.bandTypeName}" != "" ) #set ( $_info = $_info + '"'+${artist.bandTypeName}+'"' ) #end ## 밴드형태코드

    #if ( $artist.nationList.size() != 0  ) ## 관련지역
        #if( !$StringUtils.equals("$!{_info}","") ) #set ( $_info = $_info + ',' ) #end
        #foreach($nation in $artist.nationList)
            #if($foreach.index>0) #set ( $_info = $_info + ',' ) #end
            #set ( $_info = $_info + '"'+${nation}+'"' )
        #end
    #end

    #if ( $!{artist.birthDateTime} ) ## 결성일
        #if( !$StringUtils.equals("$!{_info}","") ) #set ( $_info = $_info + ',' ) #end
        #set ( $infoOrgani = '결성: ' + $CheckDate.makeReleaseDate($!{artist.birthDateTime}) )
		#set( $_info = $_info + '"' + $infoOrgani )
    #end

    #if ( $!{artist.deathDateTime} ) ## 해체일
        #if( !$StringUtils.equals("$!{_info}","") && !${infoOrgani} ) #set ( $_info = $_info + ',"' ) #end
        #set ( $infoDissolve = ' ~ 해체: ' + $CheckDate.makeReleaseDate($!{artist.deathDateTime}) )
		#set( $_info = $_info + $infoDissolve )
	#end
    #if( $infoOrgani || $infoDissolve )#set( $_info = $_info + '"' )#end
#end

var artistData = {
    ## 아티스트 ID
    "artistId": "$!{artist.artistId}",
    ## 앨범ID
    "albumId": "$!{artist.albumId}",
	## 아티스트 구분
	"artistType": "$!{artistType}",
    ## 아티스트 명
    "name": "#escScript( $!{artist.name} )",
    ## 아티스트명 원어
    "orgLang": "#escScript( $!{artist.nameOrgLang} )",
    ## 아티스트명 한국어표기
    "korLang": "#escScript( $!{artist.nameKorLang} )",
    ## 활동연도
    "activeYear": [#foreach( $item in ${artist.activeYear} )#if( $foreach.index > 0 ),#end$item#end],
    ## 활동정보
    "activityInfo": [$!{_info}],
    ## 관련아티스트 수
    "relationArtistCount": "$!{artist.relationArtistCount}",
    ## 아티스트 서비스 상태
    "serviceStatus": "$!{artist.serviceStatus}"
};
##
## artistScore
#set($score = $artistScore)
var artistScore = {
    ## 총 참여자수
    "count": "",
    ## 평점
    "score": ""
};
##
## Image
#set ($img = $ListTool.get($artist.imageList, 0))
var artistImage = {
    ## 이미지 파일패스
    "filePath": "$ImageUtil.getImageUrl( "$!{img.filePath}", $ImageUtil.ARTIST_74_107 )"
};
##
## style
var styleList = [
#foreach($style in $artist.styleList)
    #if($foreach.index > 0),#end{
    ## 스타일 코드
    "styleCode": "$!{style.styleCode}",
    ## 스타일 코드 명
    "styleName": "#escScript( $!{style.styleName} )",
    ## 스타일 그룹 코드
    "styleGroupCode": "$!{style.styleGroupCode}",
    ## 스타일 그룹 코드명
    "styleGroupName": "#escScript( $!{style.styleGroupName} )",
    ## 장르 코드
    "genreCode": "$!{style.genreCode}",
    ## 장르 코드 명
    "genreName": "#escScript( $!{style.genreName} )"
    }
#end
];
#*
## actYear
var actYearList = [
#foreach($actYear in $artist.activeYear)
	#if($foreach.index > 0)
	,
	#end
	{
		"actYear": "$!{actYear}"				## 활동연도
	}
#end
];
*#
#*
putArtistInfo( { data:artistData, score:artistScore, image:artistImage, styleList:styleList }  );
*#