<artist>
##앨범 수
#set($albumCount = $albumCount)
##앨범목록 (정규, 비정규, 싱글)
#set($albumList = $albumList)
	<artistDetailId>$!{command.artist_detail_id}</artistDetailId>
	<albumCount>$!{albumCount.getTotalAlbumCount()}</albumCount>
	<albumList>
#if($!{albumList})
#foreach($album in $albumList)
		<album>
			<id>${album.albumId}</id>
			<image><![CDATA[$!{album.mainImage.filePath}]]></image>
			<volume>$!{album.volume}</volume>
			<volumn>$!{album.volume}</volumn>
			<title><![CDATA[$!{album.title}]]></title>
			<awardYN>$!{album.awardYn}</awardYN>
			<type><![CDATA[$!{album.typeName}]]></type>
			<score></score>
	#set($masterSong = "")
	#if($StringUtils.isNotBlank("$!{album.masterSongList}") && $!{album.masterSongList.size()} > 0 )
		#set($masterSong = $ListTool.get($!{album.masterSongList}, 0))
	#else## 마스터 곡이 없는 경우, 앨범 삽입곡의 첫번째 곡을 노출 해줌
		#if($!{album.songList.size()}>0)#set($masterSong = $ListTool.get($!{album.songList}, 0))#end
	#end
			<song>
				<id>$!{masterSong.songId}</id>
				<title><![CDATA[$!{masterSong.title}]]></title>
				<listenYN>#if(${masterSong.AODLinkId}) Y #else N #end</listenYN>
			</song>
			<listenYN>$!{album.playYn}</listenYN>
			<releaseDate>$!{album.releaseDt}</releaseDate>
			<nation>$!{album.nationName}</nation>
		</album>
#end
#end
	</albumList>
</artist>