#set ($serviceId = "music")
#set ($sectionId = "artist_xml")
##아티스트 타입(PS, BD)
#set($artistType = $artist.artistType)
<cia>
	<serviceid>${serviceId}</serviceid>
	<sectionid>${sectionId}</sectionid>
	<itemid>$!{artist.artistId}</itemid>
	<title><![CDATA[$!{artist.name}]]></title>
	<subtitle><![CDATA[$!{artist.nameKorLang}]]></subtitle>
	<synonym>
		<list>
		#foreach($synonym in $artist.synonymList)
			<value><![CDATA[$!{synonym}]]></value>
		#end
		</list>
	</synonym>
	<link>http://music.daum.net/artist/main?artist_id=${artist.artistId}</link>
	<image>$ImageUtil.getImageUrl( "$!{artist.mainImage.filePath}", "74x107", "ARTIST")</image>
	<point></point>
	<point_cnt></point_cnt>
	<mod_dttm>$!{artist.modDateTime}</mod_dttm>
	<status>#if("$!{artist.svcstatus}" == "2") "Y" #else "N" #end</status>
	<detail>
		<type>
			<title>아티스트 타입</title>
			<content>
				#if($!{artistType})
				<title>$!{artistType}</title>
				#end
			</content>
		</type>
		<credit>
			<title>대표직업(역할)</title>
			<content>
				<list>
				#if($!{artist.creditTitle1})
					<value><![CDATA[$!{artist.creditTitle1}]]></value>
				#end
				#if($!{artist.creditTitle2})
					<value><![CDATA[$!{artist.creditTitle2}]]></value>
				#end
				</list>
			</content>
		</credit>
		<birthdate>
			<title>출생일</title>
			<content>
			#if($!{artist.birthDt})
				<title>$!{CheckDate.makeReleaseDate($artist.birthDt)}</title>
			#end
			</content>
		</birthdate>
		<deathdate>
			<title>사망일</title>
			<content>
			#if($!{artist.deathDt})
				<title>$!{CheckDate.makeReleaseDate($artist.deathDt)}</title>
			#end
			</content>
		</deathdate>
		<debutdate>
			<title>데뷔일</title>
			<content>
			#if($!{artist.debutDt})
				<title>$!{CheckDate.makeReleaseDate($artist.debutDt)}</title>
			#end
			</content>
		</debutdate>
		<nation>
			<title>국가</title>
			<content>
			#if($!{artist.birthCity})
				<title><![CDATA[$!{artist.birthCity}]]></title>
			#end
			</content>
		</nation>
		<genre>
			<title>장르</title>
			<content></content>
		</genre>
		<activityNation>
			<title>활동국가</title>
			<content>
			#foreach($nation in $nationList)
				<title><![CDATA[$!{nation}]]></title>
			#end
			</content>
		</activityNation>
		<activityName>
			<title>활동명</title>
			<content>
			<title><![CDATA[$!{artist.name}]]></title>
			#foreach($name in $artistNameList)
				<title><![CDATA[$!{name}]]></title>
			#end
			</content>
		</activityName>
		<activityYear>
			<title>활동연도</title>
			<content>
			#if($!{artist.strActYear})
				<title><![CDATA[$!{artist.strActYear}]]></title>
			#end
			#if( $!{artist.strActYear} != $!{artist.endActYear} )
				<title><![CDATA[$!{artist.endActYear}]]></title>
			#end
			</content>
		</activityYear>
		<masterSong>
			<title>대표곡</title>
			<content>
				<list>
				#foreach( $song in ${artistMainSongList} )
					<object>
						<id>$!{song.songId}</id>
						<title><![CDATA[$!{song.title}]]></title>
						<listenAvailable>#if($song.AODLinkId && ${song.AODLinkId} != "")true #else false#end</listenAvailable>
					</object>
				#end
				</list>
			</content>
		</masterSong>
		<bestSong>
			<title>인기차트(5곡)</title>
			<content>
				<list>
				#foreach( $song in ${popularSongList} )
					#if($StringUtils.equals("$!{song.creditCd}","0055"))#set($coverArtistYn = "Y")#else#set($coverArtistYn = "N")#end
					<object>
						<id>$!{song.songId}</id>
						<artist>
						#set( $roleYN = "Y" )
						#foreach( $artist in ${song.keyArtistList} )
							#if($artist.artistId == $artist.artistId)#set( $roleYN = "N" )#end
							<id>$!{artist.artistId}</id>
							<title><![CDATA[$!{artist.name}]]></title>
						#end
						</artist>
						<title><![CDATA[$!{song.title}]]></title>
						<rank>$!{velocityCount}</rank>
						<role>
							#set( $roleName = "" )
							#foreach( $creditArtist in ${song.creditArtistList} )
								#if($creditArtist.artistId == $artist.artistId)
									#if(!$StringUtils.equals($roleName,""))
										#set( $roleName = $roleName + "," + $creditArtist.creditTitle )
									#else
										#set( $roleName = $roleName + $creditArtist.creditTitle )
									#end
								#end
							#end
							<![CDATA[$!{roleName}]]>
						</role>
						<albumId>$!{song.album.albumId}</albumId>
						<albumTitle><![CDATA[$!{song.album.title}]]></albumTitle>
						<vclipId>$!{song.vclipLinkId}</vclipId>
						<aodListenYn>#if(${song.AODLinkId} && ${song.AODLinkId} != "") Y #else N #end</aodListenYn>
						<vclipYn>#if(${song.vclipLinkId} && ${song.vclipLinkId} != 0) Y #else N #end</vclipYn>
						<lyricsYn>$!{song.lyricsYn}</lyricsYn>
						<bgmSaleYn>#if(${song.BGMLinkId}  && ${song.BGMLinkId} != "") Y #else N#end</bgmSaleYn>
						<mp3SaleYn>#if(${song.MP3LinkId}  && ${song.MP3LinkId} != "") Y #else N#end</mp3SaleYn>
						<coverArtistYn>$!{coverArtistYn}</coverArtistYn>
					</object>
					#set ($rank = $rank + 1)
				#end
				</list>
			</content>
		</bestSong>
		<movie>
			<title>뮤직비디오</title>
			<content>
				<list>
				#foreach( $vclip in ${vclipList} )
					#if($StringUtils.equals("$!{vclip.creditCd}","0055"))#set($coverArtistYn = "Y")#else#set($coverArtistYn = "N")#end
					<object>
						<id>$!{vclip.vclipId}</id>
						<image>$!{vclip.mainImage.filePath}</image>
						<title><![CDATA[$!{vclip.title}]]></title>
						<artist>
						#foreach( $artist in ${vclip.keyArtistList} )
							<id>$!{artist.artistId}</id>
							<title><![CDATA[$!{artist.name}]]></title>
						#end
						</artist>
						<date>$CheckDate.makeReleaseDate($!{vclip.regDateTime})</date>
						<albumId>$!{vclip.album.albumId}</albumId>
						<songId>$!{vclip.song.songId}</songId>
						<coverArtistYn>$!{coverArtistYn}</coverArtistYn>
					</object>
				#end
				</list>
			</content>
		</movie>
		<album>
			<title>앨범</title>
			<content>
				<list>
				#foreach( $album in ${albumList} )
					#set( $albumName = "$!{album.title}" )
					#set( $albumVolumn = "$!{album.volume}" )
					#set( $albumTypeName = "$!{album.typeName}" )
					#if(!$StringUtils.equals("$!{albumVolumn}",""))#set( $albumVolumn = $albumVolumn + "집 " )#end
					#if($StringUtils.equals("$!{albumVolumn}","") && !$StringUtils.equals($albumTypeName,""))#set( $albumVolumn = "[" + $albumTypeName + "] " )#end
					#set( $albumName = $!{albumVolumn} + $!{albumName} )
					#if($StringUtils.equals("$!{album.creditCd}","0055"))#set($coverArtistYn = "Y")#else#set($coverArtistYn = "N")#end
					<object>
						<id>$!{album.albumId}</id>
						<image>$!{album.mainImage.filePath}</image>
						<title><![CDATA[$!{albumName}]]></title>
						<releaseDate>$!{CheckDate.makeReleaseDate($album.releaseDt)}</releaseDate>
						<role><![CDATA[발매]]></role>
						<listenYn>$!{album.playYn}</listenYn>
						<bgmSaleYn>$!{album.mp3SaleYn}</bgmSaleYn>
						<mp3SaleYn>$!{album.bgmSaleYn}</mp3SaleYn>
						<coverArtistYn>$!{coverArtistYn}</coverArtistYn>
						<masterSong>
							<list>
							#foreach( $song in ${album.masterSongList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{EscapeUtil.escapeJsonString($!{song.title})}]]></title>
								</object>
							#end
							</list>
						</masterSong>
						<Songs>
							<list>
							#foreach( $song in ${album.songList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{EscapeUtil.escapeJsonString($!{song.title})}]]></title>
									<masterYn>$!{song.masterYn}</masterYn>
									<listenYn>#if(${song.AODLinkId} && ${song.AODLinkId} != "") Y #else N #end</listenYn>
									<lyricsYn>$!{song.lyricsYn}</lyricsYn>
									<vclipYn>#if(${song.vclipLinkId} && ${song.vclipLinkId} != 0) Y #else N #end</vclipYn>
									<bgmSaleYn>#if(${song.BGMLinkId} && ${song.BGMLinkId} != "") Y #else N#end</bgmSaleYn>
									<ringSaleYn></ringSaleYn>
									<bellSaleYn></bellSaleYn>
									<mp3SaleYn>#if(${song.MP3LinkId} && ${song.MP3LinkId} != "") Y #else N#end</mp3SaleYn>
								</object>
							#end
							</list>
						</Songs>
						<artist>
							#set( $artist = ${album.keyArtistList.get(0)} )
							<id>$!{artist.artistId}</id>
							<title><![CDATA[$!{artist.name}]]></title>
						</artist>
					</object>
				#end
				#foreach( $album in ${albumOwnBandList} )
					<object>
						<id>$!{album.albumId}</id>
						<image>$!{album.mainImage.filePath}</image>
						<title><![CDATA[$!{album.title}]]></title>
						<releaseDate>$!{CheckDate.makeReleaseDate($album.releaseDt)}</releaseDate>
						<role><![CDATA[소속밴드]]></role>
						<listenYn>$!{album.playYn}</listenYn>
						<bgmSaleYn>$!{album.mp3SaleYn}</bgmSaleYn>
						<mp3SaleYn>$!{album.bgmSaleYn}</mp3SaleYn>
						<masterSong>
							<list>
							#foreach( $song in ${album.masterSongList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{song.title}]]></title>
								</object>
							#end
							</list>
						</masterSong>
						<Songs>
							<list>
							#foreach( $song in ${album.songList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{song.title}]]></title>
									<masterYn>$!{song.masterYn}</masterYn>
									<listenYn>#if(${song.AODLinkId} && ${song.AODLinkId} != "") Y #else N #end</listenYn>
									<lyricsYn>$!{song.lyricsYn}</lyricsYn>
									<vclipYn>#if(${song.vclipLinkId} && ${song.vclipLinkId} != 0) Y #else N #end</vclipYn>
									<bgmSaleYn>#if(${song.BGMLinkId} && ${song.BGMLinkId} != "") Y #else N#end</bgmSaleYn>
									<ringSaleYn></ringSaleYn>
									<bellSaleYn></bellSaleYn>
									<mp3SaleYn>#if(${song.MP3LinkId} && ${song.MP3LinkId} !="") Y #else N#end</mp3SaleYn>
								</object>
							#end
							</list>
						</Songs>
						<artist>
							#set( $artist = ${album.keyArtistList.get(0)} )
							<id>$!{artist.artistId}</id>
							<title><![CDATA[$!{artist.name}]]></title>
						</artist>
					</object>
				#end
				#foreach( $album in ${albumPartCompilList} )
					<object>
						<id>$!{album.albumId}</id>
						<image>$!{album.mainImage.filePath}</image>
						<title><![CDATA[$!{album.title}]]></title>
						<releaseDate>$!{CheckDate.makeReleaseDate($album.releaseDt)}</releaseDate>
						<role><![CDATA[참여]]></role>
						<listenYn>$!{album.playYn}</listenYn>
						<bgmSaleYn>$!{album.mp3SaleYn}</bgmSaleYn>
						<mp3SaleYn>$!{album.bgmSaleYn}</mp3SaleYn>
						<masterSong>
							<list>
							#foreach( $song in ${album.masterSongList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{song.title}]]></title>
								</object>
							#end
							</list>
						</masterSong>
						<Songs>
							<list>
							#foreach( $song in ${album.songList} )
								<object>
									<id>$!{song.songId}</id>
									<title><![CDATA[$!{song.title}]]></title>
									<masterYn>$!{song.masterYn}</masterYn>
									<listenYn>#if(${song.AODLinkId} && ${song.AODLinkId} != "") Y #else N #end</listenYn>
									<lyricsYn>$!{song.lyricsYn}</lyricsYn>
									<vclipYn>#if(${song.vclipLinkId} && ${song.vclipLinkId} != 0) Y #else N #end</vclipYn>
									<bgmSaleYn>#if(${song.BGMLinkId}  && ${song.BGMLinkId} != "") Y #else N#end</bgmSaleYn>
									<ringSaleYn></ringSaleYn>
									<bellSaleYn></bellSaleYn>
									<mp3SaleYn>#if(${song.MP3LinkId} && ${song.MP3LinkId} != "") Y #else N#end</mp3SaleYn>
								</object>
							#end
							</list>
						</Songs>
						<artist>
							#if(${album.keyArtistList.size()} > 0)
								#set( $artist = ${album.keyArtistList.get(0)} )
								<id>$!{artist.artistId}</id>
								<title><![CDATA[$!{artist.name}]]></title>
							#end
						</artist>
					</object>
				#end
				</list>
			</content>
		</album>
		<imageCount>
			<title>아티스트 이미지 수</title>
			<content>
				<title>$!{imageCount}</title>
			</content>
		</imageCount>
		<belongTo>
			<title>소속정보</title>
			<content>
			#foreach( $band in ${artist.ownBandList} )
				<title><![CDATA[#if(!$StringUtils.equals("$!{band.bandOrderNumber}","999")) (전) #end$!{band.name}]]></title>
			#end
			</content>
		</belongTo>
		<member>
			<title>멤버</title>
			<content>
			#foreach( $member in ${artist.memberList} )
				<title><![CDATA[$!{member.name}]]></title>
				<link>http://music.daum.net/artist/artist.do?artistDetailId=${member.artistDetailId}</link>
			#end
			</content>
		</member>
	</detail>
	<ucc></ucc>
</cia>
