{
"serviceid" : "music",
"sectionid" : "my_albumlist",
"title" : "마이 앨범 리스트",
"list" :[
#foreach($item in $aodMyPlayList)
{
	"serviceid":"music",
	"sectionid":"my_album",
	"itemid" : "$!{item.playListId}",
	"title" : "$!{EscapeUtil.escapeJsonString($!{item.title})}",
	"link" : "http://music.daum.net/my/album.do?id=$!{item.playListId}",
	"etc" : {
    	"songcount" : "$!{item.songCnt}",
    	"description" : "",
    	"defaultalbumyn" : "",
    	"mainsongid" : "$!{item.mainsongId}",
    	"mainsongname" : "$!{EscapeUtil.escapeJsonString($!{item.mainsongTitle})}"    
    }
    }#if($velocityHasNext),#end
#end
]
}