<?xml version="1.0" encoding="UTF-8"?>
<XML>
	<RESULT>
		<RESULT_CODE>$!{aod.resultCode}</RESULT_CODE> 
	</RESULT>
	<MYPLAYLIST>
#foreach($item in $upperList)
	#set ($title = $!{item.get(0)})
	#if($title == "FREQUENT_MUSIC") #set ( $re_title = "즐겨 듣는 음악" )
	#elseif($title == "RECENT_MUSIC") #set ( $re_title = "최근 들은 음악" )
	#else #set ( $re_title = "구매 음악" )
	#end
		<PLAYLIST>
			<TITLE><![CDATA[$!{re_title}]]></TITLE>
			<SONG_COUNT>$!{item.get(1)}</SONG_COUNT>
			<PLAYLISTID>$!{item.get(2)}</PLAYLISTID>
		</PLAYLIST>
#end
#foreach($item in $aodMyPlayList)
		<PLAYLIST>
			<TITLE><![CDATA[$!{item.title}]]></TITLE>
			<SONG_COUNT>$!{item.songCnt}</SONG_COUNT>
			<PLAYLISTID>$!{item.playListId}</PLAYLISTID>
		</PLAYLIST>
#end
	</MYPLAYLIST>
</XML>

