<?xml version="1.0" encoding="UTF-8"?>
<XML>
	<RESULT>
		<RESULT_CODE>$!{aod.resultCode}</RESULT_CODE> 
	</RESULT>
	<SONG_LIST>
#if(${myList.size()} > 0)
#foreach($item in $myList)	
 
	#set ( $adult = "1" )
	#if($item.adultYn == "Y") #set ( $adult = "1" )
	#elseif($item.adultYn == "N") #set ( $adult = "0" )
	#else #set ( $adult = "0" )
	#end	
	
	#set ( $aod = "0" )
	#if($StringUtils.isNotEmpty("$!{item.AODLinkId}"))
		#set ( $aod = "1" )
	#end
	
	#set ( $mp3 = "0" )
	#if($StringUtils.isNotEmpty("$!{item.MP3LinkId}"))
		#set ( $mp3 = "1" )
	#end
	
	#set ( $bgm = "0" )
	#if($StringUtils.isNotEmpty("$!{item.BGMLinkId}"))
		#set ( $bgm = "1" )
	#end
	
         <SONG>
			<SONG_ID>$!{item.songId}</SONG_ID> 
			<SONG_TITLE><![CDATA[#getSongTitle($item)]]></SONG_TITLE> 
			<TYPECD>$!{item.typeCd}</TYPECD> 
			<ARTISTS>
			#if($item.keyArtistList.size()>0)
				#foreach($artist in $item.keyArtistList)
					<ARTIST>
						<ARTIST_ID><![CDATA[$!{artist.artistId}]]></ARTIST_ID>
						<ARTIST_NAME>#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[아티스트없음]]>#end</ARTIST_NAME>
					</ARTIST>
				#end
			#end
			</ARTISTS>
			<ALBUMID>$!{item.album.albumId}</ALBUMID> 
			<VOLUME>$!{item.album.volume}</VOLUME> 
			<TYPENAME>$!{item.album.typeName}</TYPENAME>
			<ALBUM_TITLE><![CDATA[$!{item.album.title}]]></ALBUM_TITLE>
			<ALBUM_RELEASEDATE><![CDATA[$!{item.album.releaseDt}]]></ALBUM_RELEASEDATE> 
			<ALBUM_IMGPATH>$!{item.album.mainImage.filePath}</ALBUM_IMGPATH>
			<ALBUM_IMGHEIGHT>$!{item.album.mainImage.height}</ALBUM_IMGHEIGHT>
			<ALBUM_IMGWIDTH>$!{item.album.mainImage.width}</ALBUM_IMGWIDTH>
            <ADULT_YN>$!{adult}</ADULT_YN>
			<AOD_SERVICE_YN>$!{aod}</AOD_SERVICE_YN>
			<MP3_SERVICE_YN>$!{mp3}</MP3_SERVICE_YN>
			<BGM_SERVICE_YN>$!{bgm}</BGM_SERVICE_YN>
			<FEAT_ARTIST_NAME>$!{item.featAllArtistWithComma}</FEAT_ARTIST_NAME> 
		</SONG>
#end	
#else
	보유곡이 존재하지 않습니다.
#end
</SONG_LIST>
</XML>
