#if("$!{artistList}" != "")
<Artists>
#foreach($artist in $artistList)
	<Artist>
		<ArtistDetailId>$!{artist.ArtistDetailId}</ArtistDetailId>
	#if("$!{artist.name}" != "")		
		<ArtistName><![CDATA[$!{artist.name}]]></ArtistName>
	#else
		<ArtistName/>
	#end

	#if("$!{artist.birthDt}" != "")
		<BirthYear><![CDATA[$!{artist.birthDateTime}]]></BirthYear>
	#else
		<BirthYear/>
	#end

	#if("$!{artist.artistGrade}" != "")
		<ArtistGrade><![CDATA[$!{artist.artistGrade}]]></ArtistGrade>
	#else
		<ArtistGrade/>
	#end
	</Artist>
#end
</Artists>
#end