<div class="gallery_view section_photo">
<h3 class="screen_out">포토 목록</h3>
	<div class="wrap_option">
		#printArtistPhotoListHeader($artist, $!{command.obj_type}, $pageHandler, "album")
	</div>
	
	#if(!$CollectionUtils.isEmpty($photoList))
	<div class="wrap_photo">
		#printArtistDetailPhotoList($artist, $photoList, $!{command.obj_type}, $pageHandler, "album")
	</div>
	#else
	<div class="no_listinfo">
		<p class="fc_txt">저장된 포토가 없습니다.</p>
	</div>
	#end
	
	<div class="wrap_paging">
		#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
	</div>
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
{
	"artist" : {
		"mainImage" : "${artist.mainImage.filePath}",
		"name" : "${artist.name}"
	},
	"images" : [
		#foreach($image in $photoList)
			#if($foreach.index > 0),#end
			{
				"imageId" : "$!{image.imageId}",
				"filePath" : "$!{image.filePath}"
			}
		#end
	]
}
#end 
##page
