#*
QuizTemplet 종류
printQuizText : 텍스트형
printQuizImage : 이미지형
*#

#macro(printQuizText $quizContent $hintImage)
<div class="quiz_detail">
    <div class="info_question">
        <div class="inner_question">
	        #if($hintImage != "")
            <a href="#none" target="_blank" class="thumb_hint">
                <span class="ico_comm ico_hint">hint</span>
                <img src="$!{ImageUtil.getFaceDetectImageUrl("$!{hintImage}", "C300x280")}" width="60" height="60" class="thumb_g" alt="혜리">
            </a>
	        #end
            <strong class="tit_question"><span class="ico_comm ico_question">Q.</span>$!{quizContent.quizTitle}</strong>
        </div>
    </div>
    <!-- 2015-04-13 수정 시작 -->
	#if($!{quizContent.quizList[0].quizImageUrl} != "")
        <ul class="list_answer1">
			#foreach($quiz in $quizContent.quizList)
                <li>
                    <label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">
						<span class="thumb_answer">
							<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{quiz.quizImageUrl}", "C300x280")}" class="thumb_g" alt="$!{EscapeUtil.encodeHtmlTag($!{quiz.quizItem})}">
						</span>
	                    <span class="txt_answer">$!{quiz.quizItem}</span>
                    </label>
                    <input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" class="ico_comm inp_answer">
                </li>
			#end
        </ul>
	#else
        <ul class="list_answer2">
	        #foreach($quiz in $quizContent.quizList)
                <li>
                    <input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" class="ico_comm inp_answer">
                    <label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">
	                    <span class="txt_answer">$!{quiz.quizItem}</span>
                    </label>
                </li>
	        #end
		</ul>
	#end
</div>
#end

#macro(printQuizImage $quizContent $hintImage)
<div class="quiz_detail quiz_type2">
    <!-- 2015-04-09 수정 시작 -->
    <div class="thumb_question">
        <img src="$!{ImageUtil.getMobileImageUrl("$!{quizContent.quizImage}", "640x0", "PHOTO", "R")}" class="thumb_visual">
    </div>
    <div class="bg_question">
	    #if($hintImage != "")
            <a href="#none" target="_blank" class="thumb_hint">
                <span class="ico_comm ico_hint">hint</span>
                <img src="$!{ImageUtil.getFaceDetectImageUrl("$!{hintImage}", "C300x280")}" width="60" height="60" class="thumb_g" alt="혜리">
            </a>
	    #end
        <strong class="tit_question"><span class="ico_comm ico_question">Q.</span>$!{quizContent.quizTitle}</strong>
    </div>
    <!-- 2015-04-09 수정 끝 -->
	#if($!{quizContent.quizList[0].quizImageUrl} != "")
        <ul class="list_answer1">
			#foreach($quiz in $quizContent.quizList)
                <li>
                    <label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">
						<span class="thumb_answer">
							<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{quiz.quizImageUrl}", "C300x280")}" class="thumb_g" alt="$!{EscapeUtil.encodeHtmlTag($!{quiz.quizItem})}">
						</span>
                        <span class="txt_answer">$!{quiz.quizItem}</span>
                    </label>
                    <input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" class="ico_comm inp_answer">
                </li>
			#end
        </ul>
	#else
        <ul class="list_answer2">
			#foreach($quiz in $quizContent.quizList)
                <li>
                    <input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" class="ico_comm inp_answer">
                    <label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">
                        <span class="txt_answer">$!{quiz.quizItem}</span>
                    </label>
                </li>
			#end
        </ul>
	#end
</div>
#end
