
#if(($!{albumCount}) && $!{albumCount} > 0)
<div class="section_album wrap_album" id="albumSection">
	<div class="wrap_title">
		<h3 class="tit_search tit_albumsec">앨범</h3>
		<span class="txt_bar"> | </span>
		<span class="txt_quantity">총 <strong class="fc_blue ls_0">$!{albumCount}</strong> 건</span>
	</div>
#if($StringUtils.equals("$!{albumCount}", "1") && $StringUtils.equals("$albumList[0].isExactMatch()", "true"))
	#set($album = $albumList[0])
	<div class="album_info">
		<div class="wrap_thumb">		
				#printAlbumThumb( $album 5 "" "" )
		</div>
		<div class="info">
			<dl>
				<dt class="screen_out">앨범명</dt>
				<dd class="tit_album">	
					#printSearchAlbumName( $album "" 24 false true )
				</dd>
			</dl>
			<dl class="col_info">
				<dt>아티스트</dt>
				<dd>
					#printSearchArtistName( $!{album.keyArtistList} "" 16 true )
					#if($StringUtils.isNotBlank("$!{album.birthDt}"))
					($!{CheckDate.makeReleaseDate($!{album.birthDt})})
					#end
				</dd>
			</dl>
			<dl class="col_info">
				<dt>앨범정보</dt>
				<dd>${HtmlTool.cutHighlightedKoreanString("$!{album.typeName}", 50, "...")}</dd>
			</dl>
			<dl>
				<dt class="screen_out">타이틀곡</dt>
				<dd class="titlesong">
					##<a href="#" class="ico_comm ico_listen">사랑해요</a>
					##printSearchSongName( $!{album.song} "ico_comm ico_listen" 30 true false )
					#if($StringUtils.equals("$!{album.album_title_listen_yn}", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
					#if($_listenAble)<a title="$!{album.album_title_name}" class="ico_comm ico_listen" #if($_listenAble)onclick="daum.Music.AodPlayer.add(this,$!{album.album_title_id});return false;"#end href="javascript:;">#else<span class="ico_comm ico_nolisten">#end
					${HtmlTool.cutHighlightedKoreanString("$!{album.album_title_name}", 30, "...")}
    				#if($_listenAble)</a>#else</span>#end
				</dd>
			</dl>
			<dl>
				<dt class="screen_out">앨범설명</dt>
				<dd class="desc">
					<a onclick="daum.Music.albumDetail($!{album.albumId});return false;" href="/album/main?album_id=$!{album.albumId}">${HtmlTool.cutHighlightedKoreanString("$!{album.description}", 120, "...")} </a> 
				</dd>
			</dl>
			<div class="btn_consumer">
				#if( $StringUtils.equals("$!{album.playYn}","Y")  )
				<a class="btn_search btn_listen" type="button" value="앨범듣기" title="앨범듣기" onclick="daum.Music.AodPlayer.add(this, $!{album.albumId}, 'itemTypeAlbumId' );return false;">앨범듣기</a>
				#end
				<a class="btn_comm btn_interest" href="javascript:;" title="관심등록하기" onclick="daum.Music.API.Favorite.send({id:'$!{album.albumId}', contents:'album', el:this});"><span class="screen_out">관심등록</span></a>
			</div>
		</div>
	</div>
	
	<div class="wrap_more">
		<a href="/search/album/list?query=$!{query}" class="link_more">앨범 더보기</a>
	</div>
	
	<script type="text/javascript">
		var controller = new daum.Music.ListPrototype();
		controller.initialize({pageType:'detail', arrow:false, colNum:9, rowIndex:0});
	</script>

#else

	<ul class="list_album" id="searchAlbumList">
	#if(!$CollectionUtils.isEmpty($albumList))
		#foreach($album in $albumList)
		<li#if ($foreach.index % 6 == 5) class="lst"#end>
			#printAlbumThumb( $album 3 "" "" )
			<span class="tit_album">##$!{album.album_vol}
				##printSearchAlbumName( $album "" 14 false true )
				#if($StringUtils.isNotBlank("$!{album.album_vol}"))
					#set($title = ${album.album_vol} + "집 " + $!{album.title})
				#else
					#set($title = $!{album.title})
				#end
				<a title="#stripHTML($!{title})" onclick="daum.Music.albumDetail($!{album.albumId});return false;" href="/album/main?album_id=$!{album.albumId}">${HtmlTool.cutHighlightedKoreanString("$!{title}", 13, '...')}</a>
			</span>
			
			<span class="wrap_artist">
				##if(!$CollectionUtils.isEmpty($!{album.keyArtistList}))
					#printSearchArtistName( $!{album.keyArtistList} "" 15 true )
				##else
					##<span>V.A</span>
				##end
			</span>
			
			#if($StringUtils.isNotBlank("$!{album.release_dttm}") && !$StringUtils.equals("$!{album.release_dttm}", "00000000"))
			<em class="fc_etc">$!{CheckDate.makeReleaseDate($!{album.release_dttm})}</em>
			#end
		</li>
		#end
	#end
	</ul>

	#if($!{albumCount} > 12)
	<div class="wrap_folding">
		<a href="#albumSection" id="btnAlbumListFold" class="btn_fold">접기</a>
		<a href="javascript:;" id="btnAlbumListUnFold" class="btn_unfold">펼치기</a>
		<a href="/search/album/list?query=$!{query}" class="link_more">앨범 더보기</a>
	</div>
	
	<script type="text/javascript">
    	var songExtendView = new daum.Music.ExtendView({
			"btnUnFoldId" : "btnAlbumListUnFold",
    		"btnFoldId" : "btnAlbumListFold",
    		"containerId" : "searchAlbumList",
			"jsonUrl" : "/search/album/list_for_unfolding.json",
			"query" : "$!{command.encodedQuery}",
			"type" : "album",
			"totalCount" : "$!{albumCount}",
			"defaultNum" : 12
		});
	</script>
	#else 
	<div class="wrap_more">
		<a href="/search/album/list?query=$!{query}" class="link_more">앨범 더보기</a>
	</div>
	#end
#end
	
</div>
#end


#if( $StringUtils.equals("$!{command.debugmode}","2") )
<!-- 앨범 -->	
	#if(($!{albumCount}) && $!{albumCount} > 0)
		<div class="collTitle"><h3>앨범 <span class="num">($!{dto.albumResult.getStartNum()}-$!{dto.albumResult.getEndNum(4)} / 총  $albumCount건)</span></h3></div>
		<div id="wAlbumArea" class="collWid collTot">
			<ul class="lst clearfix">		
			#foreach($album in $albumList)
				#set ( $count = $foreach.index + 1 )
				<li class="itm #if($foreach.index == 0) first #end">		
					##툴팁에는 전체 타이틀 길이 적용				
					<a href="/album/album.do?albumId=$!{album.album_id}" class="fl" onclick="return gLink(null, 'VCTY', '1', '1');"><img src="$ImageOldUtil.getImageUrl("$!{album.thumb}", $ImageOldUtil.ALBUM_110_110)" alt="#getStrongText($!{album.album_name_tooltip})" width="110" height="110" class="thumb"></a>
					<ul class="inf fl">
						<li class="i1"><a href="/album/album.do?albumId=$!{album.album_id}" class="abm stit" onclick="return gLink(null, 'VCTY', '2', '1');">$!{album.album_vol} $!{album.album_name}</a></li>
						##<li class="i2"><div class="starSmall pink">#drawStarSmall($!{album.getAvgScore()})<em>$!{album.getAvgScore()}</em></div></li>
						<li class="i3">#if($StringUtils.isNotEmpty("$!{album.artist_id}") && !$StringUtils.equals("$!{album.artist_id}","0"))<a href="/artist/artist.do?artistId=$!{album.artist_id}" class="arti" onclick="return gLink(null, 'VCTY', '3', '1');">$!{album.artist_name}</a>#else $!{album.artist_name}#end</li>
						<li class="i4">#if($StringUtils.isNotEmpty("$!{album.release_dttm}") && !$StringUtils.equals("$!{album.release_dttm}", "00000000"))<span class="date">$CheckDate.makeReleaseDate(${album.release_dttm})</span>#else &nbsp;#end</li>
					</ul>
				</li>
			#end
			</ul>
		</div>
		#if($!{albumCount} > 4)
			<div class="moreArea"><a href="/search/album.do?query=$!{command.encodedQuery}" onclick="return gExtraLink(this, 'VCTY', '1')">앨범 더보기</a></div>
		#else
			<div class="nmoreArea"></div>
		#end
		#if($dto.albumResult.isDrawingEndLine)
		<div id="line"></div><hr/>
		#end
	#end
#end