
#if(($!{lyricCount}) && $!{lyricCount} > 0)
<div class="section_lyrics" id="lyricsSection">
	<div class="wrap_title">
		<h3 class="tit_search tit_lyrics">가사</h3>
		<span class="txt_bar"> | </span>
		<span class="txt_quantity">총 <strong class="fc_blue ls_0">${lyricCount}</strong> 건</span>
	</div>
	
	<ul id="searchLyricsList" class="list_lyrics">
		#printSearchLyricsList($lyricsList)
	</ul>
	
	#if($!{lyricCount} > 4)
	<div class="wrap_folding">
		<a href="#lyricSection" id="btnLyricListFold" class="btn_fold">접기</a>
		<a href="javascript:;" id="btnLyricListUnFold" class="btn_unfold">펼치기</a>
		<a href="/search/lyrics/list?query=$!{query}" class="link_more">가사 더보기</a>
	</div>
	
	<script type="text/javascript">
		var lyricsExtendView = new daum.Music.ExtendView({
			"btnUnFoldId" : "btnLyricListUnFold",
    		"btnFoldId" : "btnLyricListFold",
    		"containerId" : "searchLyricsList",
			"jsonUrl" : "/search/lyrics/list_for_unfolding.json",
			"query" : "$!{command.encodedQuery}",
			"type" : "lyrics",
			"totalCount" : "$!{lyricCount}",
			"defaultNum" : 4
		});
	</script>
	#else 
	<div class="wrap_more">
		<a href="/search/lyrics/list?query=$!{query}" class="link_more">가사 더보기</a>
	</div>
	#end
</div>
#end


#if( $StringUtils.equals("$!{command.debugmode}","2") )
<!-- 가사 -->
	#if(($!{lyricCount}) && $!{lyricCount} > 0)
		<div class="collTitle"><h3>가사 <span class="num">($!{dto.lyricResult.getStartNum()}-$!{dto.lyricResult.getEndNum(5)} / 총  ${lyricCount}건)</span></h3></div>
		<div class="collWid collTot uccDl">
		#foreach($lyric in $lyricsList)		
			#*
			제목 : $!{lyric.songName}(${lyric.songId})<br/>
			가사 써머리 : $!{lyric.lyrics}<br/>
			$!{lyric.artistName}($!{lyric.artistId})|$!{lyric.albumVolumn}집 - $!{lyric.albumName} | $!{lyric.releaseDate}
			*#		
			<dl #if($foreach.index == 0)class="fst"#end>
		        <dt>
					<a href="/song/song.do?songId=$!{lyric.song_id}" class="btnListenTit fl" title="#getStrongText($!{lyric.song_name}) 곡 상세정보 바로가기" onclick="return gLink(null, 'LCTY', '1', '1');">$!{lyric.song_name}</a>
					#if($StringUtils.equals("$lyric.listen_yn", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
					<input class="fl typeBtn btSetMini btMiniListen#if(!$_listenAble)_dis#end" type="button" #if($_listenAble)onclick="listenSong('$!{lyric.song_id}', true);return gLink(null, 'LCTY', '2', '1');"#else disabled="true"#end title="#getStrongText($!{lyric.song_name}) 곡 듣기" value="#getStrongText($!{lyric.song_name}) 곡 듣기"/>
				</dt>
				<dd>
					#if($StringUtils.isNotEmpty("$!{lyric.lyrics}"))<span class="cb desc">$!{lyric.lyrics}</span> #end
					<span class="cb etc">
						#set($chkL = "off")
						#if($StringUtils.isNotEmpty("$!{lyric.artist_name}"))
							#if($StringUtils.isNotEmpty("$!{lyric.artist_id}") && !$StringUtils.equals("$!{lyric.artist_id}","0"))<a href="/artist/artist.do?artistId=$!{lyric.artist_id}" class="g_tit" onclick="return gLink(null, 'LCTY', '3', '1');">$!{lyric.artist_name}</a>#else $!{lyric.artist_name}#end
							#set($chkL = "on")
						#end
						#if($StringUtils.isNotEmpty("$!{lyric.album_vol}") || $StringUtils.isNotEmpty("$!{lyric.album_name}"))
							#if($StringUtils.equals($!{chkL},"on")) <span class="vline"> | </span> #end
							<a href="/album/album.do?albumId=$!{lyric.album_id}" class="g_tit" onclick="return gLink(null, 'LCTY', '4', '1');">#if($!{lyric.album_vol})$!{lyric.album_vol} #end$!{lyric.album_name}</a>
							#set($chkL = "on")
						#end
						#if($StringUtils.isNotEmpty("$!{lyric.release_dttm}"))
							#if($StringUtils.equals($!{chkL},"on")) <span class="vline"> | </span> #end
							발매 : $ConverterUtil.formatByStar(${lyric.release_dttm}, "****.**.**")
						#end
					</span>								
				</dd>
			</dl>
		#end				
		</div>
		#if($!{lyricCount} > 4)
			<div class="moreArea"><a href="/search/lyric.do?query=$!{command.encodedQuery}" onclick="return gExtraLink(this, 'LCTY', '1')">가사  더보기</a></div>
		#else
			<div class="nmoreArea"></div>
		#end
		#if($dto.lyricResult.isDrawingEndLine)
		<div id="line"></div><hr/>
		#end
	#end
#end