
#if(($!{songCount}) && $!{songCount} > 0)
<div class="section_song" id="songSection">
	#set($songCount = $songCount + $artistSongCount)
	<div class="wrap_title">
		<h3 class="tit_search tit_song">곡</h3>
		<span class="txt_bar"> | </span>
		<span class="txt_quantity">총 <strong class="fc_blue ls_0">$!{songCount}</strong> 건</span>
	</div>
	
	<div class="wrap_tool_btn">
		<div class="tool_btn">
			#printListButton("song" "" "" "" "")
		</div>
	</div>
	
	<div class="bg_thead">
		<input type="checkbox" class="all_chk" id="allCheck">
		<label for="allCheck" class="screen_out">전체선택</label>
	</div>
	<table id="trackContainer" class="tbl_music">
		<caption class="screen_out">곡 검색결과</caption>
		#printListHeader( "search" )
		<tbody id="searchSongList">
		#if(!$CollectionUtils.isEmpty($!{songList}))
    		#printSearchSongList( $songList "integrated_song")
    	#else
    		<tr class="no_listinfo">
				<td colspan="11">
					<p class="fc_txt">저장된 곡이 없습니다.</p>	
				</td>
			</tr>
		#end
		</tbody>
	</table>
	#* 
	#if(!$CollectionUtils.isEmpty($!{songList}))
    	<script type="text/javascript">
        var l = [];
        </script>
         
        #foreach($song in $songList)
        ## 예외 처리
        #if( $!{song.song} )
        	#set($song = $song.song)
        #end	
        <script type="text/javascript">
        l.push({
        	songId : '$!{song.songId}',
        	albumId : '$!{song.album.albumId}',
        	title : '#escScriptStrip($!{song.title})',
        	artistname : '#escScriptStrip("#printArtistName( $!{song.keyArtistList} '' 0 false )")',
        	thumb : '$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "200x200", "ALBUM" ,"S")'
        });
        </script>
        #end
        <script type="text/javascript">
        daum.Music.Social.setListData(l);
        l = null;
        </script>
	#end
	*# 
	
	
	<div class="wrap_tool_btn">
		<div class="tool_btn">
			#printListButtonFoot("song" "" "" "" "")
		</div>
	</div>
	#printSNSList($!{songList})
	<script type="text/javascript">
		var controller = new daum.Music.ListPrototype();
		controller.initialize({pageType:'detail', arrow:false});
		new daum.Music.CheckBoxDrag("trackContainer");
	</script>
	
	#if($!{songCount} > 10)
	<div class="wrap_folding">
		<a href="#songSection" id="btnSongListFold" class="btn_fold">접기</a>
		<a href="javascript:;" id="btnSongListUnFold" class="btn_unfold">펼치기</a>
		<a href="/search/song/list?query=$!{query}" class="link_more">곡 더보기</a>
	</div>
	
	<script type="text/javascript">
		var songExtendView = new daum.Music.ExtendView({
			"btnUnFoldId" : "btnSongListUnFold",
    		"btnFoldId" : "btnSongListFold",
    		"containerId" : "searchSongList",
			"contentTag" : ".track", //"tr",
			"jsonUrl" : "/search/song/list_for_unfolding.json",
			"query" : "$!{command.encodedQuery}",
			"type" : "song",
			"totalCount" : $!{songCount},
			"defaultNum" : 10
		});
	</script>
	#else 
	<div class="wrap_more">
		<a href="/search/song/list?query=$!{query}" class="link_more">곡 더보기</a>
	</div>
	#end
	
</div>
#end

#if( $StringUtils.equals("$!{command.debugmode}","2") )

<!-- 곡 -->			
	#if(($!{songCount}) && $!{songCount} > 0)
		#set($songCount = $songCount + $artistSongCount)
		<div class="collTitle collBn">
			<h3 class="fl titBn">곡 <span class="num">($!{dto.songResult.getStartNum()}-$!{dto.songResult.getEndNum(5)} / 총  $songCount건)</span></h3>
			##<a href="http://music.daum.net/extraEvent/playerEvent/" class="typeBtn btBn">플레이어 체험하면 공짜 이용권!</a>
		</div>
		
		<div class="collWid collTot">		
			<div class="tab">				
				<div class="tabBody conHdMv" id="tabBody_tpItem1">
					<table id="wAbmTbl" class="baseTbl baseTblTypeSch baseTblfst">
					<thead>
						<tr>
							<th class="c3">곡명</th>
							<th class="c4">아티스트</th>
							<th class="c5">앨범</th>
							<th class="tColListen">듣기</th>
                    		<th class="tColTxt">가사</th>
                    		<th class="tColView">뮤비</th>
							<th class="tColPhone">폰</th>
                    		<th class="tColMp3">MP3</th>
                    		<th class="tColBgm">배경음악</th>
						</tr>
					</thead>
					<tbody>

					#foreach($song in $songList)
						#set ($count = $foreach.index + 1)
						#if($stringUtil.isNotEmpty($!song.song_type_name))
							#set ($track = "track")
						#else
							#set ($track = "")
						#end
						
						#if($StringUtils.equals("$!{song.listen_yn}","Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
						#if($StringUtils.equals("$!{song.mp3_yn}","Y")) #set ( $_mp3Able = true ) #else #set ( $_mp3Able = false ) #end
						#if($StringUtils.equals("$!{song.bgm_yn}","Y")) #set ( $_bgmAble = true ) #else #set ( $_bgmAble = false ) #end
						<tr class="$track #if($foreach.index == 0) first #end">
							<td class="c3">
								#set ($featT = "")
								#if ($song.getFeatArtist().size() > 0)
									#foreach($feat in $song.getFeatArtist()) 
										#if ($foreach.index > 0) #set ($featT = $featT + ", ") #end
										#set ($featT = $featT + $feat)
									#end
									#set ($featT = "(feat. "+ $featT + ")")
								#else
									#set ($featT = "")
								#end 
																 
								#if ($_listenAble)
									##툴팁에는 전체 타이틀 길이 적용	
									<a href="javascript:;" onclick="titleSong('$!{song.song_id}', $_listenAble);return gLink(null, 'SCTY', '1', '$!{count}');" title="#getStrongText($!{song.song_name_tooltip}) 곡 듣기" class="gray_d2">
									$!{song.song_name} $!{featT} #if(!$StringUtils.isEmpty("$!{song.info}"))($!{song.info})#end</a>
								#else								
									<span class="gray" title="#getStrongText($!{song.song_name_tooltip})">$!{song.song_name} ${featT} #if(!$StringUtils.isEmpty("$!{song.info}"))($!{song.info})#end</span>
								#end
							##	#printSongIcon($song,true)					
								#if($StringUtils.equals("$!{song.song_adult_yn}","Y"))
								<span class="btSetTitleIcon icoProductAdult">&nbsp;</span>
								#end								
							</td>
							<td class="c4">								
#foreach($artist in $song.getKeyArtistList())##
#**##if ($foreach.index > 0), #end##
#**##if($StringUtils.isNotEmpty("$!{artist.artistId}") && !$StringUtils.equals("$!{artist.artistId}","0"))<a href="/artist/artist.do?artistDetailId=$!{artist.artistDetailId}" class="gray_d2" onclick="return gLink(null, 'SCTY', '2', '$!{count}');">$!{artist.name}</a>#else$!{artist.name}#end
#end##
							</td>
							<td class="c5"><a href="/album/album.do?albumId=$!{song.album_id}" class="gray_d2" onclick='return gLink(null, "SCTY", "3", "$!{count}");'>#if(${song.album_vol})${song.album_vol}#end ${song.album_name}</a></td>	
							<td class="tColListen"><input type="button" class="typeBtn btSetMini btMiniListen#if(!$!{song.song_id}||!$_listenAble)_dis#end" #if(!$!{song.song_id}||!$_listenAble)disabled#end id="listen_$!{song.song_id}" value="곡 듣기" title="곡 듣기" onclick="listenSong('$!{song.song_id}');return gLink(null, 'SCTY', '4', '$!{count}');"></td>
                			<td class="tColTxt"><input type="button" class="typeBtn btSetMini btMiniTxt#if(!$!{song.song_id}||$StringUtils.equals("$!{song.lyrics_yn}","N"))_dis#end" #if($StringUtils.equals("$!{song.lyrics_yn}","N")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{song.song_id}');return gLink(null, 'SCTY', '5', '$!{count}');"></td>
                			<td class="tColView"><input type="button" class="typeBtn btSetMini btMiniView#if(!$!{song.mv_id})_dis#end" #if(!$!{song.mv_id})disabled#end id="video_$!{song.mv_id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{song.song_id}', '$!{song.mv_id}');return gLink(null, 'SCTY', '6', '$!{count}');"></td>
							<td class="tColPhone"><input id="phone_$!{song.song_id}" class="typeBtn btSetMini btMiniPhone#if(!$!{song.song_id}||!$song.getMobileItemYn())_dis#end" type="button" #if(!$!{song.song_id}||!$song.getMobileItemYn())disabled#end onclick="phoneMini('$!{song.song_id}', this, '$!{song.ring_sales_yn}', '$!{song.bell_sales_yn}');"/></td>
                    		<td class="tColMp3"><input type="button" class="typeBtn btSetMini btMiniMp3#if(!$!{song.song_id}||!$_mp3Able)_dis#end" #if(!$!{song.song_id}||!$_mp3Able)disabled#end id="mp3_$!{song.song_id}" onclick="mp3Mini('$!{song.song_id}', this);return gLink(null, 'SCTY', '7', '$!{count}');"></td>
                    		<td class="tColBgm"><input type="button" class="typeBtn btSetMini btMiniBgm#if(!$!{song.song_id}||!$_bgmAble)_dis#end" #if(!$!{song.song_id}||!$_bgmAble)disabled#end id="bgm_$!{song.song_id}" onclick="bgmMini('$!{song.song_id}', this);return gLink(null, 'SCTY', '8', '$!{count}');"></td>
							#* 섹션검색에만 클릭로그 적용하면서 global_library.vm 수정하면 전체 페이지를 수정해야 해서   
							<td class="tColListen">#printListItemButton( $!{song.song_id}, "listen", $_listenAble )</td>
                			<td class="tColTxt">#printListItemButton( ${song.song_id}, "words", $!{song.lyrics_yn} )</td>
                			<td class="tColView">#printListItemButton( $!{song.mv_id}, "view", $!{song.mv_id} )</td>
                    		<td class="tColMp3">#printListItemButton( $!{song.song_id}, "mp3", $_mp3Able )</td>
                    		<td class="tColBgm">#printListItemButton( $!{song.song_id}, "bgm", $_bgmAble )</td>*#
						</tr>
						## 사용여부 체크하기...
					## 	#if($stringUtil.isNotEmpty($!song.song_type_name))	
					## 	<tr class="join">
					## 		<td colspan="2"></td>
					## 		<td class="t1" colspan="7">
					## 			<a href="#">원곡</a><span class="vline"> | </span><a href="#">$!{song.song_type_name}</a><span class="vline"> | </span>연주: <a href="#">자우림</a> 외&nbsp;&nbsp;<a href="http://movie.daum.net/tv/detail/main.do?tvProgramId=51380#synopsis" class="mlink">더보기</a>
					## 		</td>
					## 	</tr>
					## 	#end
					
					#end						
					</tbody>
					</table>
					<script type="text/javascript">
						//var controlBtn = new Music.ControlListButton();
						//var ds = new DragSelector(daum.$("wAbmTbl"));
					</script>
				</div>
			</div>
		</div>
		#if($!{songCount} > 5)
			<div class="moreArea"><a href="/search/song.do?query=$!{command.encodedQuery}" onclick="return gExtraLink(this, 'SCTY', '1')">곡 더보기</a></div>
		#else
			<div class="nmoreArea"></div>
		#end
		
		#if($dto.songResult.isDrawingEndLine && $artistSongCount <= 0)
		<div id="line"></div><hr/>
		#end
		
		#if($artistSongCount > 0)
		<div class="collWid collTot">
			<p class="AbmTitle">아티스트 명에서 검색</p>
			<div class="tab">
				
				<div class="tabBody conHdMv" id="tabBody_tpItem1">
					<table id="wAbmTbl" class="baseTbl baseTblTypeSch">
					<thead>
						<tr>
							<th class="c3">곡명</th>
							<th class="c4">아티스트</th>
							<th class="c5">앨범</th>
							<th class="tColListen">듣기</th>
                    		<th class="tColTxt">가사</th>
                    		<th class="tColView">뮤비</th>
							<th class="tColPhone">폰</th>
                    		<th class="tColMp3">MP3</th>
                    		<th class="tColBgm">배경음악</th>
						</tr>
					</thead>
					<tbody>
						
					#foreach($song in $artistSongList )
						#set ($count = $foreach.index + 1)
						#if($stringUtil.isNotEmpty($!song.song_type_name))
							#set ($track = "track")
						#else
							#set ($track = "")
						#end
						
						#if($StringUtils.equals("$!{song.listen_yn}","Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
            			#if($StringUtils.equals("$!{song.mp3_yn}","Y")) #set ( $_mp3Able = true ) #else #set ( $_mp3Able = false ) #end
            			#if($StringUtils.equals("$!{song.bgm_yn}","Y")) #set ( $_bgmAble = true ) #else #set ( $_bgmAble = false ) #end
						<tr class="$track #if($count == 1) first #end">
							<td class="c3">
								#* 
								#set ($featT = "")
								#if ($song.getFeatArtist().size() > 0)
									#foreach($feat in $song.getFeatArtist()) 
										#if ($foreach.index > 0) #set ($featT = $featT + ", ") #end
										#set ($featT = $featT + $feat)
									#end
									#set ($featT = "(feat. "+ $featT + ")")
								#else
									#set ($featT = "")
								#end *#	
								
								#if ($_listenAble)
									<a href="javascript:;" onclick="titleSong('$!{song.song_id}', $_listenAble);return gLink(null, 'SCTY', '1', '$!{count}');" title="#getStrongText(${song.song_name_tooltip}) 곡 듣기" class="gray_d2">
									$!{song.song_name} $!{featT} #if(!$StringUtils.isEmpty("$!{song.info}"))($!{song.info})#end</a>
								#else								
									<span class="gray" title="#getStrongText($!{song.song_name_tooltip})">$!{song.song_name} ${featT} #if(!$StringUtils.isEmpty("$!{song.info}"))($!{song.info})#end</span>
								#end
								
								#if($StringUtils.equals("$!{song.song_adult_yn}","Y"))
								<span class="btSetTitleIcon icoProductAdult">&nbsp;</span>
								#end 	
								
							</td>
							<td class="c4">
								#foreach($artist in $song.getKeyArtistList())
									#if ($foreach.index == 0)
										#if($StringUtils.isNotEmpty("$!{artist.artistDetailId}") && !$StringUtils.equals("$!{artist.artistDetailId}","0"))<a href="/artist/artist.do?artistDetailId=$!{artist.artistDetailId}" class="gray_d2" onclick="return gLink(null, 'SCTY', '2', '$!{count}');"> $!{artist.name} </a>#else $!{artist.name}#end									
									#end
								#end
							</td>
							<td class="c5"><a href="/album/album.do?albumId=$!{song.album_id}" class="gray_d2" onclick="return gLink(null, 'SCTY', '3', '$!{count}');">#strCut("#if(${song.album_vol})${song.album_vol}#end ${song.album_name}", 15)</a></td>		
							<td class="tColListen"><input type="button" class="typeBtn btSetMini btMiniListen#if(!$!{song.song_id}||!$_listenAble)_dis#end" #if(!$!{song.song_id}||!$_listenAble)disabled#end id="listen_$!{song.song_id}" value="곡 듣기" title="곡 듣기" onclick="listenSong('$!{song.song_id}');return gLink(null, 'SCTY', '4', '$!{count}');"></td>
                			<td class="tColTxt"><input type="button" class="typeBtn btSetMini btMiniTxt#if(!$!{song.song_id}||$StringUtils.equals("$!{song.lyrics_yn}","N"))_dis#end" #if($StringUtils.equals("$!{song.lyrics_yn}","N")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{song.song_id}');return gLink(null, 'SCTY', '5', '$!{count}');"></td>
                			<td class="tColView"><input type="button" class="typeBtn btSetMini btMiniView#if(!$!{song.mv_id})_dis#end" #if(!$!{song.mv_id})disabled#end id="video_$!{song.mv_id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{song.song_id}', '$!{song.mv_id}');return gLink(null, 'SCTY', '6', '$!{count}');"></td>
							<td class="tColPhone"><input id="phone_$!{song.song_id}" class="typeBtn btSetMini btMiniPhone#if(!$!{song.song_id}||!$song.getMobileItemYn())_dis#end" type="button" #if(!$!{song.song_id}||!$song.getMobileItemYn())disabled#end onclick="phoneMini('$!{song.song_id}', this, '$!{song.ring_sales_yn}', '$!{song.bell_sales_yn}');"/></td>
                    		<td class="tColMp3"><input type="button" class="typeBtn btSetMini btMiniMp3#if(!$!{song.song_id}||!$_mp3Able)_dis#end" #if(!$!{song.song_id}||!$_mp3Able)disabled#end id="mp3_$!{song.song_id}" onclick="mp3Mini('$!{song.song_id}', this);return gLink(null, 'SCTY', '7', '$!{count}');"></td>
                    		<td class="tColBgm"><input type="button" class="typeBtn btSetMini btMiniBgm#if(!$!{song.song_id}||!$_bgmAble)_dis#end" #if(!$!{song.song_id}||!$_bgmAble)disabled#end id="bgm_$!{song.song_id}" onclick="bgmMini('$!{song.song_id}', this);return gLink(null, 'SCTY', '8', '$!{count}');"></td>
							#*
							<td class="tColListen">#printListItemButton( $!{song.song_id}, "listen", $_listenAble )</td>
                			<td class="tColTxt">#printListItemButton( ${song.song_id}, "words", $!{song.lyrics_yn} )</td>
                			<td class="tColView">#printListItemButton( $!{song.mv_id}, "view", $!{song.mv_id} )</td>
                    		<td class="tColMp3">#printListItemButton( $!{song.song_id}, "mp3", $_mp3Able )</td>
                    		<td class="tColBgm">#printListItemButton( $!{song.song_id}, "bgm", $_bgmAble )</td>*#
						</tr>
					## 	#if($stringUtil.isNotEmpty($!song.song_type_name))	
					## 	<tr class="join">
					## 		<td colspan="2"></td>
					## 		<td class="t1" colspan="7">
					## 			<a href="#">원곡</a><span class="vline"> | </span><a href="#">$!{song.song_type_name}</a><span class="vline"> | </span>연주: <a href="#">자우림</a> 외&nbsp;&nbsp;<a href="http://movie.daum.net/tv/detail/main.do?tvProgramId=51380#synopsis" class="mlink">더보기</a>
					## 		</td>
					## 	</tr>
					## 	#end
					#end						
					</tbody>
					</table>
					<script type="text/javascript">
						//var controlBtnA = new Music.ControlListButton();
						//controlBtnA.setCheckboxName("checkBoxItemA");					
					</script>
				</div>
			</div>
		</div>
			#if($!{artistSongCount} > 5)
				<div class="moreArea"><a href="/search/song.do?query=#escUrl( $!{command.query} )&searchRange=2" onclick="return gExtraLink(this, 'SCTY', '1')">곡 더보기</a></div>
			#else
				<div class="nmoreArea"></div>
			#end
		#end
				
		#if($dto.songResult.isDrawingEndLine && $artistSongCount > 0)
		<div id="line"></div><hr/>
		#end
	#end
#end