#set($prev = $cooperEvent.prevPhoto)
#set($next = $cooperEvent.nextPhoto)

{
	"pageNo"  : "$!{pageNo}",
	"totalCnt" : "$!{totalCnt}",
	
	"prev" : 
		{
			"prev.eventId" : "$!{prev.eventId}",
			"prev.photoId" : "$!{prev.photoId}"
		},	
	"next" : 	
		{
			"next.eventId" : "$!{next.eventId}",
			"next.photoId" : "$!{next.photoId}"
		},	
	"photo" : 
		{
			"eventId" : "$!{photo.eventId}",
			"photoId" : "$!{photo.photoId}",
			"filePath" : "$!{photo.filePath}"
		}
}