{
"totalPhotoCnt" : $!{totalPhotoCnt}
,	
"photoList" :[
     	#foreach($item in $photoList)
     	#if($photoList.indexOf($item) != 0),#end
     	{
     		"eventId" : "$item.eventId",
     		"photoId" : "$item.photoId",
     		"filePath" : "$ImageUtil.getMobileImageUrl("${item.filePath}", "144x120", "PHOTO", "C")"
     	}
     	#end
     ]	
}






