<data>
#if("$!{bgmActiveListCount}" != "")
	<bgmcnt>$!{bgmActiveListCount}</bgmcnt>
#else
	<bgmcnt>0</bgmcnt>
#end
	<bgmlist>
#foreach($item in $bgmActiveList)
		<bgm>
			<bgmtrackid>$!{item.bgmTrackId}</bgmtrackid>
			<title><![CDATA[$!{item.songTitle}]]></title>
			<artist><![CDATA[$!{item.artistName}]]></artist>
			<songid>$!{item.songId}</songid>
		</bgm>
#end
	</bgmlist>
</data>