#if("$!{musicUser.userId}" == "")
	#set ($isExist = false)
	#set ($nameCheck = false)
#else
	#set ($isExist = true)
#end
{
	"DaumId": "$!{musicUser.daumId}",
	"DaumName": "$!{musicUser.daumName}",
	"IsExist": ${isExist},
	"IsAodUse": $!{isAodUse},
	"NameCheck": "$!{nameCheck}",
	"SendDaumId": "$!sendDaumId"
}