#if("$!{musicUser.userId}" == "")
	#set ($isExist = false)
	#set ($IsOwnAdultCheck = false)
	#set ($nameCheck = false)
#else
	#set ($isExist = true)
#end
{
	"DaumId": "$!{musicUser.daumId}",
	"DaumName": "$!{musicUser.daumName}",
	"IsExist": ${isExist},
	"OwnList": [#foreach($songId in $ownSongIdList)#if($ownSongIdList.indexOf($songId) != 0),#end$songId#end],
	"IsOwnAdultCheck":$!{IsOwnAdultCheck},
	"NameCheck": $!{nameCheck},
	"AdultSongList": [#foreach($songId in $adultSongIdList)#if($adultSongIdList.indexOf($songId) != 0),#end$songId#end]
	##"DaumId": "citizen_jane",
	##"DaumName": "이웃닭",
	##"IsExist": true,
	##"OwnList": [318386,7897325,8045031]
}
#*
$!{musicUser}
$!{ownSongIdList}
*#