{
"serviceid" : "music",
"sectionid" : "own_songlist",
"title" : "보유곡 리스트",
"list" :[
#foreach($song in $songList)
{
    "serviceid":"music",
    "sectionid":"song",
    "itemid" : "$!{song.songId}",
    "title" : "$!{EscapeUtil.escapeJsonString($!{song.title})}",
    "link" : "http://music.daum.net/song/$!{song.songId}",
    "image" : "$!{song.album.mainImage.filePath}",
    "adultyn" : "$!{song.adultYn}",
    "etc" : {
    	"artist" : [
    		#if($song.keyArtistList.size()>0)
			#foreach($artist in $song.keyArtistList)
	    		#if($song.keyArtistList.indexOf($artist) != 0),#end
				{
				"artistId" : "$!{artist.artistId}",
				"artistname" : "$!{EscapeUtil.escapeJsonString($!{artist.name})}"
				}
			#end
			#end
    	],
    	"featartist" : "$!{EscapeUtil.escapeJsonString($!{song.featAllArtistWithComma})}",
    	"tvpotvid" : "$!{song.tvpotVId}",
    	"albumid" : "$!{song.album.albumId}",
    	"albumname" : "$!{EscapeUtil.escapeJsonString($!{song.album.title})}",
    	"aod" : "$!{song.AODLinkId}",
    	"mp3" : "$!{song.MP3LinkId}",
    	"bgm" : "$!{song.BGMLinkId}"
    }
	}#if($velocityHasNext),#end
#end
]
}