## 컨텐츠 영역
#set( $type = "bgm")
#set( $typeStr = "BGM")
<div class="wrap_cont section_own">
	<h3 class="tit_mymusic tit_own">구매 음악</h3>
	#printDepositoryMenu($!{type})
 	<div class="music_chart $!{type}">
		<h4 class="screen_out">$!{typeStr}</h4>
		#printDepositorySearch($!{command} $!{ownTotalCnt} $type)
		## 아티스트일 경우에만.
		#if( $StringUtils.isNotBlank("$!{command.search_type}"))
			#printDepositoryArtistSuggest($!{type} $!{myArtistList} $!{command})
		#end
		#printDepositoryList($!{type} $!{myList} $!{myCount} $!{typeStr} $!{command})

		<div class="wrap_paging">
			#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
		</div>
	</div>
</div>
##if( $StringUtils.isNotBlank("$!{command.search_type}"))
<script type="text/javascript">
daum.Music.MyDepository.init({
	purchaseType:"BGM", 
	search_id : "$!{command.search_id}", 
	search_char : "$!{command.search_char}", 
	search_type : "$!{command.search_type}" 
	#if( $StringUtils.isNotBlank("$!{command.search_type}"))
	,tabObject:daum.$$(".wrap_list_artist .tab_mycont")[0]
	,listObject:daum.$$(".wrap_list_artist .list_keyword")[0]
	#end
})
//new daum.Music.CheckBoxDrag("trackContainer");
//var checkboxDrag = daum.Music.selectByDrag().init("#trackContainer .track", "col_check");
</script>
##end
#if( $StringUtils.equals("$command.debugmode", "2") )
BGM 갯수: #if($!{myCount}) $myCount #else 0 #end <br/>
현재오더링 :  #if($!{command.getOrdering()}) $command.getOrdering() #end (디폴트:최신순) <br/><br/>

#if($!{command.getSearch_artist()}) 찾는아티스트이름: $command.getSearch_artist() #end <br/>
#if($!{command.getSearch_title()}) 찾는노래제목: $command.getSearch_title() #end <br/><br/>

#if($!{myArtistList})
	#foreach($item in $myArtistList)
		 아티스트아이디: $item.artistId<br/>
	      아티스트명 : $item.name<br/>
		 곡수: $item.ownCount<br/>
	#end
#end

#if($!{myList})
	#foreach($item in $myList)
		지불수단: $item.order.paymentType <br/> 
		노래ID: $item.song.songId<br/> 
		제목: $item.song.title<br/> 
		성인여부: $item.song.adultYn<br/> 
	
		#foreach($artist in $item.keyArtistList)
			아티스트명 : $artist.name (아티스트아이디 : $artist.artistId) <br/>
		#end
		#foreach($artist in $item.featArtistList)
			피처링아티스트명 : $artist.name (피처링아이디 : $artist.artistId) <br/>
		#end	
		#if($!{item.giver.daumName}) 보낸사람 : $item.giver.daumName #end <br/>
		
		앨범명: $item.album.title (앨범ID: $item.album.albumId)<br/>
		앨범타입CD : $item.album.typeCd <br/>
		앨범타입네임 : $item.album.typeName <br/>
		앨범볼륨 : $item.album.volume <br/>

		듣기아이디(널이면 비활성화): #if($!{item.song.AODLinkId}) $item.song.AODLinkId #end <br/>
		가사정보 : $item.song.lyricsYn<br/>
		뮤직비디오아이디 (널이면 비활성화) :#if($!{item.song.vclipLinkId}) $item.song.vclipLinkId #end <br/>
		MP3아이디(널이면 비활성화) :#if($!{item.song.MP3LinkId}) $item.song.MP3LinkId #end <br/>
		BGM아이디(널이면 비활성화) :#if($!{item.song.BGMLinkId}) $item.song.BGMLinkId #end <br/>
		Bell판매상태(널이면 비활성화) :#if($!{item.song.bellSalesStatus}) $item.song.bellSalesStatus #end <br/>
		ring판매상태(널이면 비활성화) :#if($!{item.song.ringSalesStatus}) $item.song.ringSalesStatus #end <br/>		
		구매일: $!CheckDate.makeReleaseDate($!{item.ownDate}) <br/>

		<br/>	
	#end
#end

<b>왼쪽레프트정보</b><br/>
다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
	#if($foreach.index < 4)
		$item.get("SUBJECT") ||  $item.get("URL") <br />
	#end
#end <br />	
<br>

현재페이지 : $command.getPage_no() <br/>

<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 검색시: [아티스트별] 누를 경우 : 
<br/>- insert화면 필요없습니다. (테스트상 만들어놓은 것)<br/>
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
</div>		
#end	
