#macro( printArtistName $keyArtistList $classname $len $tag)
#set( $artistNameHTML = "")##'<span class="$!className">V.A</span>' )
#set( $len = $Display.alt($len, 100) )
#set( $tag = $Display.alt($tag, false) )
## 배열로 넘어왔을 때 
#if( $ListTool.isList($keyArtistList) || $ListTool.isArray($keyArtistList))
	#set( $commaHTML = "<span class='f_l'>,&nbsp;</span>" )
	#foreach ( $keyArtist in $keyArtistList )
		#set( $artistNameHTML = $artistNameHTML + "$!keyartist.name" )
		#if( $velocityHasNext ) ## 쉼표도 더하기
			#set( $artistNameHTML = $artistNameHTML + ", " )
		#end
	#end
	#set( $needToCut = $StringCutUtil.getStringByte("$!printArtistName") > len )

	#if( $tag )
		#set( $linkToArtistMain = "$Config.getProperty('SERVICE_DOMAIN').getValue()/artist/main?artist_id=" )
		#if( $needToCut)
			#if( $keyArtistList.size() == 1 ) ## 말줄임만 할 필요가 있을 때
				#set( $artistNameHTML = '<a class="$!className" href="$!{linkToArtistMain}"'
			#else ## "외 몇 명" 처리가 필요할 때 
				
			#end
		#else
			
		#end
		#foreach( $keyArtist in $keyArtistList)
			#if(!$StringUtils.equals("$!{artist.artistId}", "0"))
				
			#else
				
			#end
		#end
	#else
		#if( $needToCut )
			#set( $artistNameHTML = "#strCut($artistNameHTML, $len)")
			#set( $artistNameHTML = $artistNameHTML.replaceAll("(,\s?..)", "..") )## 쉼표가 마지막으로 나오면서 잘린 경우 예외처리
		#end
	#end
#else
## 배열이 아닐 때 
	
#end
#***##***##if( $tag )##	
#***##***##***##set( $l = $len )##
#***##***##***##if(!$StringUtils.equals("$!{artist.artistId}", "0"))##
#***##***##***##***##set( $tag1 = "<a class='$!{classname}' href='$Config.getProperty('SERVICE_DOMAIN').getValue()/artist/main?artist_id=$!{artist.artistId}' onclick='daum.Music.artistDetail($!{artist.artistId});return false;' title='#escTitle($!{artist.name})'>" )##
#***##***##***##***##set( $tag2 = "</a>" )##
#***##***##***##else##
#***##***##***##***##set( $tag1 = "<span class='$!{classname}'>" )##
#***##***##***##***##set( $tag2 = "</span>" )##
#***##***##***##end##
#***##***##***##if( $listSize == 1 || $len >= $StringCutUtil.getStringByte($!{printArtistName}) )##
#***##***##***##***##if( $l >= 0 )##
#***##***##***##***##set( $comma = "" )##
#***##***##***##***##***##if( $foreach.index > 0 )##
#***##***##***##***##***##***##set( $comma = "<span class='f_l'>,&nbsp;</span>" )## f_l 클래스 이름 제거, f_l로 재 변경 comma를 쓰지 않고 해결 함
#***##***##***##***##***##***##set( $l = $l - 2 )##
#***##***##***##***##***##end##
#***##***##***##***##***##set( $printName = $printName + $comma + $tag1 + "#strCut($!{artist.name}, $l)" + $tag2 )##
#***##***##***##***##***##set( $l = $l - $StringCutUtil.getStringByte($!{artist.name}) )##
#***##***##***##***##end##
#***##***##***##else##
#***##***##***##***##set( $keyArtistListJsonStr = "")
#***##***##***##***##foreach( $keyArtist in $song.keyArtistList )##
#***##***##***##***##***##set( $keyArtistListJsonStr = $keyArtistListJsonStr + "{ artistId: '$!keyArtist.artistId', name: '$!keyArtist.name' }")
#***##***##***##***##***##if( $velocityHasNext )#set( $keyArtistListJsonStr = $keyArtistListJsonStr + ", ")#end
#***##***##***##***##end##
#***##***##***##***##set( $l2 = 14 )##
#***##***##***##***##set( $printName = $tag1 + "#strCut($!{artist.name}, $MathTool.sub($l,7))" + $tag2 + "<span class='f_l'>&nbsp;외 " + ($listSize - 1) + "명</span>" + "<a href='#' onclick='daum.Music.artistMore(this, [ $!keyArtistListJsonStr ]);return false;' class='arr_comm ico_artist'>다른 가수 보기</a>" )## 수정된 부분
#***##***##***##end##
#***##***##***#$!{printName}##
#***##***##else## no tag
#***##***##***##strCut($!{printArtistName}, $len)##
#***##***##end##
#else##
############아티스트명이 배열형태가 아닌 하나짜리로 넘어 왔을때 ###############
#***##if($StringUtils.isNotBlank("$!{song.artist.name}") && !$StringUtils.equals("$!{song.artist.artistId}", "0"))##
#***##***##set($artist = $song.artist)##
#***##***##set( $printName = "#strCut($!{artist.name}, $len)" )##
#***##***##if( $tag )##
#***##***##***##if(!$StringUtils.equals("$!{artist.artistId}", "0"))<a #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end href="$Config.getProperty('SERVICE_DOMAIN').getValue()/artist/main?artist_id=$!{artist.artistId}" onclick="daum.Music.artistDetail($!{artist.artistId});return false;" title="#escTitle($!{artist.name})">#else<span ($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}">#end$!{printName}#if(!$StringUtils.equals("$!{artist.artistId}", "0"))</a>#else</span>#end##
#***##***##else##		
#***##***##***#$!{printName}##
#***##***##end##
#***##else##
#***##***#<span class="wrap_artist">V.A<br /></span>##
#***##end##
#end##
#end