###############################################################################################
## 예전거 복사해두긴했지만.. 필요한것만 toolbox 새로운거에 맞춰서 재작성해주세요
###############################################################################################
###############################################################################################
###############################################################################################




##
## escape  ###############################################################################################
#macro(escTitle $str)$!EscapeTool.html($str)#end
#macro(escUrl $str)$!EscapeTool.url($str)#end
#macro(escScript $str)$!EscapeTool.javascript($str)#end
#macro(escScriptUrl $str)$!EscapeTool.javascript( $!EscapeTool.url($str) )#end
#macro(escScriptUrlStrip $str)$!EscapeTool.javascript( $!EscapeTool.url( $!StringCutUtil.removeTag( $str ) ) )#end
#macro(escScriptStrip $str)$!EscapeTool.javascript( $!StringCutUtil.removeTag( $str ) )#end

## 날짜 스트링을 각 포멧에 맞춰서 출력 #####################################################################################################################
#macro(Str2DateYYYYMMDD $string)$!StringUtils.left($string, 4).$StringUtils.mid($string, 4, 2).$StringUtils.mid($string, 6, 2)#end
#macro(Str2DateForWeek $stringStart $stringEnd )##
#Str2DateYYYYMMDD( $stringStart )~##
#if( !$StringUtils.equals( $StringUtils.left($stringStart, 4), $StringUtils.left($stringEnd, 4) ) )$StringUtils.left($stringEnd, 4).#end##
#if( !$StringUril.equals( $StringUtils.mid($stringStart, 4, 2), $StringUtils.mid($stringEnd, 4, 2) ) )$StringUtils.mid($stringEnd, 4, 2).#end##
$StringUtils.mid($stringEnd, 6, 2)#end

#macro(stripHTML $val )
$!StringCutUtils.removeTag( $!{val} )##
##$!val.replaceAll('<(\?|/)?(xml:(.*)/|[a-zA-Z]*[1-6]?)(\s[a-zA-Z]*=[^>]*)?(\s)*(/)?>','')
#end


## Number Format #################################################################################################
#macro(toCurrency $number )#if( $number )$NumberTool.format("integer", $number )#else 0 #end#end
			
## 글자수 자르기 #################################################################################################
##macro(strCut $string $bytes)$!StringCutUtil.cutStringByByte($string,$bytes)#end
#macro(strCut $string $bytes)$StringCutUtil.cutStringRealLength($string,$bytes,"..",0)#end


## HTML/nbsp제거한 텍스트만 갖고오기 #################################################################################################
#macro(getCleanText $string)$StringCutUtil.removeTag($string).replaceAll("<","&lt;")#end 

	
## 큰 별 그리기(소숫점 포함된 10이하 점수를 넘겨 받습니다.) #################################################################################################
#macro(drawStarBig $avg)
#set($width = $MathTool.toInteger($MathTool.add($MathTool.mul($avg,10),1)))
#if(!$width || $width <= 2)#set($width=0)#end
#if($StringUtils.equals($avg, "NaN"))#set($score="0.0")#set($width="0")#else#set($score=$MathTool.roundTo(1, $avg))#end
#if($score && $score == 10.0)#set($score="10")#end
<span class="starBig pink"><span class="pt1 "><span class="pt2" style="width:${width}%;">네티즌별점</span></span><em>$!score</em></span>##
#end

## 증간 별 그리기($displayNumber에 no를 넣으면 숫자를 출력하지 않음) #################################################################################################
#macro(drawStarMiddle $avg)
#set($width = $MathTool.toInteger($MathTool.sub($MathTool.mul($avg,10),1)))
#if(!$width || $width <= 2)#set($width=0)#end
#if($StringUtils.equals($avg, "NaN"))#set($score="0.0")#set($width="0")#else#set($score=$MathTool.roundTo(1, $avg))#end
#if($score && $score == 10.0)#set($score="10")#end
<span class="starMiddle pink"><span class="pt1 "><span class="pt2" style="width:${width}%;">네티즌별점</span></span><em>$!score</em></span>##
#end    

## 작은 별 그리기($displayNumber에 no를 넣으면 숫자를 출력하지 않음) #################################################################################################
#macro(drawStarSmall $avg)
#set($width = $MathTool.toInteger($MathTool.add($MathTool.mul($avg,10),2)))
#if(!$width || $width <= 2)#set($width=0)#end
#if($StringUtils.equals($avg, "NaN"))#set($score="0.0")#set($width="0")#else#set($score=$MathTool.roundTo(1, $avg))#end
#if($score && $score == 10.0)#set($score="10")#end
<span class="starSmall pink"><span class="pt1 "><span class="pt2" style="width:${width}%;">네티즌별점</span></span><em>$!score</em></span>##
#end

## 순위등락 화살표 그리기 #################################################################################################
#macro( drawRankArrow $modRank )
#if($StringUtils.equals("$modRank","new"))
<span class="icoNew">&nbsp;</span>##
#else
#set($numRank = $NumberTool.toNumber($modRank))##
#if( $numRank && $numRank > 0 )<span class="icoUp">$!{numRank}</span>##
#elseif( $numRank && $numRank < 0 )<span class="icoDown">$MathTool.abs( $!{numRank} )</span>##
#else<span class="icoStay">&nbsp;</span>##
#end
#end
#end

## URL 에서 원하는 param 의 value 값을 치환 #################################################################################################
#macro( setUrlParam $url $paramName $value )
#set( $pattern = $paramName + '=[a-zA-Z0-9]+' )
#set( $changeValue = $paramName + '=' + $value )
$url.replaceAll( $pattern, $changeValue )##
#end

## URL param 조합 #################################################################################################
#macro( makeUrlParamList $paramList )
#foreach( $param in $paramList )
#set( $value = $ListTool.get( ${param}, 1 ) )##
#if( !$StringUtils.equals( $value, "" ) )
#if($foreach.index>0)&#end$ListTool.get( ${param}, 0 )=$ListTool.get( ${param}, 1 )##
#end##
#end##
#end

   
################ PRINT PAGINATION #################################################################################################
## pageHandler로 구동되는 표준 페이징 처리
## 사용법 : #printPaging("$!{domain}/search/mainSearch.do?query=${query}&pageNo=", $page, $pageHandler)
#macro(printPaging $urlbase $page $pageHandler)
    #set ($totalCnt = 0)
	#if ($pageHandler)
		#set ($totalCnt = $pageHandler.totalCnt)
	#end
	#if ($totalCnt gt 0)
    <div id="bbsPaging" class="cPaging">
        #set($blockPage=$pageHandler.getBlockPage($page))
        #set($blockNextPage=$pageHandler.getBlockNextPage($blockPage))
        #if($blockPage>$pageHandler.totalBlock)
			#set($start = ($pageHandler.totalPage / $pageHandler.oneBlockCnt) * $pageHandler.oneBlockCnt + 1)
            #set($stop=$pageHandler.totalPage)
		#elseif($blockPage==$pageHandler.totalBlock)
			#set($start=$blockNextPage - $pageHandler.oneBlockCnt)
			#set($stop=$pageHandler.totalPage)
        #else
            #set($start=$blockNextPage - $pageHandler.oneBlockCnt)
            #set($stop=$blockNextPage - 1)
        #end
        #if($stop==0)#set($stop=1)#end  
        #if($blockPage>1)
            #set($prev_stop=$start - 1)
            <a href="${urlbase}$prev_stop" class="numPrev" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);"><span class="sym">&lt; </span>$pageHandler.getBlockPrevPage($blockNextPage)~$prev_stop</a>
        #end
        #foreach($pageNumber in [$start..$stop])
            #if($pageNumber==$page)
            <a class="numSel">$pageNumber</a>
            #else
            <a href="${urlbase}$pageNumber" class="numBox" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);">$pageNumber</a>
            #end
        #end
        #if($blockPage<$pageHandler.totalBlock)
            #set($next_stop=$blockNextPage + $pageHandler.oneBlockCnt - 1 )
            #set($nextlink=${blockNextPage})
            <a href="${urlbase}$blockNextPage" class="numNext" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);">${nextlink}~${next_stop} <span class="sym"> &gt;</span></a>
        #end
    </div>
    #end
#end

## ADD Click Log
#macro(printPagingClickLog $urlbase $page $pageHandler)
    #set ($totalCnt = 0)
	#if ($pageHandler)
		#set ($totalCnt = $pageHandler.totalCnt)
	#end
	#if ($totalCnt gt 0)
    <div id="bbsPaging" class="cPaging">
        #set($blockPage=$pageHandler.getBlockPage($page))
        #set($blockNextPage=$pageHandler.getBlockNextPage($blockPage))
        #set($start=$blockNextPage - $pageHandler.oneBlockCnt)
        #if($blockPage>=$pageHandler.totalBlock)
            #set($stop=$pageHandler.totalPage)
        #else
            #set($stop=$blockNextPage - 1)
        #end
        #if($stop==0)#set($stop=1)#end  
        #if($blockPage>1)
            #set($prev_stop=$start - 1)
            <a href="${urlbase}$prev_stop" class="numPrev" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);" onclick="return gClickLink('1', '${prev_stop}', 'paging');"><span class="sym">&lt; </span>$pageHandler.getBlockPrevPage($blockNextPage)~$prev_stop</a>
        #end
        #foreach($pageNumber in [$start..$stop])
            #if($pageNumber==$page)
            <a class="numSel" onclick="return gClickLink('1', '${pageNumber}', 'paging');">$pageNumber</a>
            #else
            <a href="${urlbase}$pageNumber" class="numBox" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);" onclick="return gClickLink('1', '${pageNumber}', 'paging');">$pageNumber</a>
            #end
        #end
        #if($blockPage<$pageHandler.totalBlock)
            #set($next_stop=$blockNextPage + $pageHandler.oneBlockCnt - 1 )
            #set($nextlink=${blockNextPage})
            <a href="${urlbase}$blockNextPage" class="numNext" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);" onclick="return gClickLink('1', '${blockNextPage}', 'paging');">${nextlink}~${next_stop} <span class="sym"> &gt;</span></a>
        #end
    </div>
    #end
#end

#macro(printPagingScript $urlbase $page $pageHandler)
    #set ($totalCnt = 0)
	#if ($pageHandler)
		#set ($totalCnt = $pageHandler.totalCnt)
	#end
	#if ($totalCnt gt 0)
    <div id="bbsPaging" class="cPaging">
        #set($blockPage=$pageHandler.getBlockPage($page))
        #set($blockNextPage=$pageHandler.getBlockNextPage($blockPage))
        #if($blockPage>=$pageHandler.totalBlock)
			#set($start=($pageHandler.totalPage/$pageHandler.oneBlockCnt) * $pageHandler.oneBlockCnt + 1)
            #set($stop=$pageHandler.totalPage)
        #else
            #set($start=$blockNextPage - $pageHandler.oneBlockCnt)
            #set($stop=$blockNextPage - 1)
        #end
        #if($stop==0)#set($stop=1)#end  
        #if($blockPage>1)
            #set($prev_stop=$start - 1)
            <a href="javascript:;" onclick="setPage('$prev_stop');" class="numPrev" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);"><span class="sym">&lt; </span>$pageHandler.getBlockPrevPage($blockNextPage)~$prev_stop</a>
        #end
        #foreach($pageNumber in [$start..$stop])
            #if($pageNumber==$page)
            <a class="numSel">$pageNumber</a>
            #else
            <a href="javascript:;" onclick="setPage('$pageNumber');" class="numBox" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);">$pageNumber</a>
            #end
        #end
        #if($blockPage<$pageHandler.totalBlock)
            #set($next_stop=$blockNextPage + $pageHandler.oneBlockCnt - 1 )
            #set($nextlink=${blockNextPage})
            <a href="javascript:;" onclick="setPage('$blockNextPage');" class="numNext" onmouseout="mOutPaging(this);" onmouseover="mOverPaging(this);">${nextlink}~${next_stop} <span class="sym"> &gt;</span></a>
        #end
    </div>
    #end
#end

##
#macro( printMovePageTop )
<div class="conMoveTop"><a href="#" class="typeSprite btMoveTop" onclick="top.scrollTo(0,0);return false;" title="맨위로">맨위로 </a></div>##
#end


##
##
## 리스트 상하단에 위치하는 컨트롤 버튼 #################################################################################################
#macro( printListButton $type $script )
#if( $StringUtils.equals( $type, "song" ) )## 곡리스트
<input type="button" onclick="$!{script}.goAction('all_listen')" class="typeBtn btSetAct btActAllListen" value="전체듣기" title="전체듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_listen')" class="typeBtn btSetAct btActSelListen" value="선택듣기" title="선택듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_mp3', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm', this)" class="typeBtn btSetAct btActBgm" >##
<input type="button" onclick="$!{script}.goAction('chk_my')" class="typeBtn btSetAct btActMy" value="MY앨범담기" title="MY앨범담기" >##
#elseif( $StringUtils.equals( $type, "myAlbum" ) )## MY앨범
<input type="button" onclick="$!{script}.goAction('all_listen')" class="typeBtn btSetAct btActAllListen" value="전체듣기" title="전체듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_listen')" class="typeBtn btSetAct btActSelListen" value="선택듣기" title="선택듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_mp3', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm', this)" class="typeBtn btSetAct btActBgm" >##
#elseif( $StringUtils.equals( $type, "album" ) )## 앨범리스트
<input type="button" onclick="$!{script}.goAction('all_view')" class="typeBtn btSetAct btActAllView" value="전체보기" title="전체보기" >##
<input type="button" onclick="$!{script}.goAction('chk_view')" class="typeBtn btSetAct btActSelView" value="선택보기" title="선택보기" >##
<input type="button" onclick="$!{script}.goAction('chk_mark_mv')" class="typeBtn btSetAct btActMvZzim" value="뮤비찜" title="뮤비찜" >##
<input type="button" onclick="$!{script}.goAction('chk_mp3', this)" class="typeBtn btSetAct btActMp3" >##
#elseif( $StringUtils.equals( $type, "mv" ) )## 뮤비리스트
<input type="button" onclick="$!{script}.goAction('all_listen')" class="typeBtn btSetAct btActAllListen" value="전체듣기" title="전체듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_listen')" class="typeBtn btSetAct btActSelListen" value="선택듣기" title="선택듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_mp3_video', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm_video', this)" class="typeBtn btSetAct btActBgm" >##
<input type="button" onclick="$!{script}.goAction('chk_mark_mv')" class="typeBtn btSetAct btActMvZzim" title="뮤비찜" value="뮤비찜" >##
#elseif( $StringUtils.equals( $type, "album_bookmark" ) )## MY앨범 > 앨범찜
<input type="button" onclick="$!{script}.goAction('chk_mp3_album', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm_album', this)" class="typeBtn btSetAct btActBgm" >##
<input type="button" onclick="$!{script}.goAction('chk_my_album', this)" class="typeBtn btSetAct btActMy" value="MY앨범담기" title="MY앨범담기" >##
#elseif( $StringUtils.equals( $type, "publicalbum_bookmark" ) )## MY앨범 > 공개앨범찜
<input type="button" onclick="$!{script}.goAction('chk_mp3_public', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm_public', this)" class="typeBtn btSetAct btActBgm" >##
#elseif( $StringUtils.equals( $type, "video_bookmark" ) )## MY앨범 > 뮤직비디오찜
<input type="button" onclick="$!{script}.goAction('all_listen')" class="typeBtn btSetAct btActAllListen" value="전체듣기" title="전체듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_listen')" class="typeBtn btSetAct btActSelListen" value="선택듣기" title="선택듣기" >##
<input type="button" onclick="$!{script}.goAction('chk_mp3_video', this)" class="typeBtn btSetAct btActMp3" >##
<input type="button" onclick="$!{script}.goAction('chk_bgm_video', this)" class="typeBtn btSetAct btActBgm" >##
#elseif( $StringUtils.equals( $type, "down" ) )## 다운로드
<input type="button" onclick="$!{script}.goAction('chk_mp3_down', this)" class="typeBtn btSetAct btActDown" value="다운로드" title="다운로드" >##
#elseif( $StringUtils.equals( $type, "del" ) )## 선택삭제
<input type="button" onclick="$!{script}.goAction('chk_del')" class="typeBtn btSetAct btActDel" value="선택삭제" title="선택삭제" >##
#end
#end
##
## 리스트 내 mini 액션 버튼 템플릿 #################################################################################################
#macro( printListItemButton $id $type $value )
#if( $StringUtils.equals( $type, "words" ) )## 가사(곡상세)
<input type="button" class="typeBtn btSetMini btMiniTxt#if(!$id||!$StringUtils.equals($value,"Y"))_dis#end" #if(!$StringUtils.equals($value,"Y")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{id}');" id="lyrics_$!{id}">## 가사가 없으면 dimd만 시키고 링크는 그대로 유지
#elseif( $StringUtils.equals( $type, "words_s" ) )## 가사(곡상세)
<input type="button" class="typeBtn btSetMiniSmall btMiniSmallTxt#if(!$id||!$StringUtils.equals($value,"Y"))_dis#end" #if(!$StringUtils.equals($value,"Y")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{id}');"  id="lyrics_$!{id}">## 가사가 없으면 dimd만 시키고 링크는 그대로 유지
#elseif( $StringUtils.equals( $type, "album" ) )## 앨범
<input type="button" class="typeBtn btSetMini btMiniAbm#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="albumview_$!{id}" value="앨범 보기" title="앨범 보기" onclick="albumMini('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumBox" ) )## 앨범듣기
<input type="button" class="typeBtn btSetMini btMiniAbmBox#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "mark" ) )## 앨범찜
<input type="button" class="typeBtn btSetMini btMiniPlus#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="albumzzim_$!{id}" value="앨범 찜" title="앨범 찜" onclick="bookmarkAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumBookmark" ) )## 앨범찜
<input type="button" class="typeBtn btSetAbm btAbmBookmark#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="albumbookmark_$!{id}" value="앨범 찜" title="앨범 찜" onclick="bookmarkAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumListen" ) )## 앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "myAlbumListen" ) )## 내앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}', 'my');" >##
#elseif( $StringUtils.equals( $type, "publicAlbumListen" ) )## 공개앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}', 'public');" >##
#elseif( $StringUtils.equals( $type, "listen" ) )## 곡 듣기
<input type="button" class="typeBtn btSetMini btMiniListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="listen_$!{id}" value="곡 듣기" title="곡 듣기" onclick="listenSong('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "bgmListen" ) )## 배경음악 듣기(구매한 곡일 경우)
<input type="button" class="typeBtn btSetMini btMiniSpeaker#if($id<1||!$value)_dis#end" #if($id<1||!$value)disabled#end id="bgmlisten_$!{id}" value="배경음악 듣기" title="배경음악 듣기" onclick="Music.openPlayer('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "bgm_listen" ) )## 배경음악 미리 듣기
<input type="button" class="typeBtn btSetMini btMiniSpeaker#if($id<1||!$value)_dis#end" #if($id<1||!$value)disabled#end id="bgmlisten_$!{id}" value="배경음악 미리듣기" title="배경음악 미리듣기" onclick="Music.openPreview('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "mp3" ) )## mp3
<input type="button" class="typeBtn btSetMini btMiniMp3#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="mp3_$!{id}" onclick="mp3Mini('$!{id}', this);">##
#elseif( $StringUtils.equals( $type, "mp3down" ) )## mp3 개별 다운로드
<input type="button" class="typeBtn btSetMini btMiniMp3#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="mp3_$!{id}" onclick="mp3Down('$!{id}');">##
#elseif( $StringUtils.equals( $type, "bgm" ) )## 배경음악
<input type="button" class="typeBtn btSetMini btMiniBgm#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="bgm_$!{id}" onclick="bgmMini('$!{id}', this);">##
#elseif( $StringUtils.equals( $type, "phone" ) )## 폰(통화연결음, 벨소리)
## value = ringSalesStatus|bellSalesStatus (구분자 '|')
#set ( $phonesale = $StringUtils.split($value, "|") )
#foreach($val in $phonesale)
 #if($foreach.index == 0) #if($StringUtils.equals($val,"Y")) #set($ringsale = "Y") #else #set($ringsale = "N") #end
 #elseif($foreach.index == 1) #if($StringUtils.equals($val,"Y")) #set($bellsale = "Y") #else #set($bellsale = "N") #end
 #end
#end
<input type="button" class="typeBtn btSetMini btMiniPhone#if(!$id||$StringUtils.equals($value,"N|N"))_dis#end" #if(!$id||$StringUtils.equals($value,"N|N"))disabled#end id="phone_$!{id}" onclick="phoneMini('$!{id}', this, '$ringsale', '$bellsale');">##
#elseif( $StringUtils.equals( $type, "markArtist" ) )## 아티스트찜
<input type="button" class="typeBtn btSetMini btMiniPlus#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="아티스트찜" title="아티스트 찜" onclick="bookmarkArtist('$!{id}');">##
#elseif( $StringUtils.equals( $type, "map" ) )## 아티스트 맵 ## 현재 사용하는 곳 없음. (value 값으로 type을 썼었는데 버튼활성화 유무 체크를 관련아티스트수로 하면서 파라미터 개수가 늘어나서 쓰는곳이 아티스트차트 리스트밖에 없어서 그냥 해당페이지에서 따로 사용함 09.06.15
<input type="button" class="typeBtn btSetMini btMiniMap#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="아티스트 맵" title="아티스트 맵" onclick="artistMap('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "view" ) )## 뮤직비디오 보기
<input type="button" class="typeBtn btSetMini btMiniView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="video_$!{id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "view_s" ) )## 뮤직비디오 보기
<input type="button" class="typeBtn btSetMiniSmall btMiniSmallView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="video_$!{id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "viewArtistBBS" ) )## 아티스트 게시판보기
<input type="button" class="typeBtn btSetAbm btAbmBbs#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="게시판 보기" title="게시판 보기" onclick="viewArtistBBS('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "viewAlbumBBS" ) )## 앨범 게시판보기
<input type="button" class="typeBtn btSetAbm btAbmBbs#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="게시판 보기" title="게시판 보기" onclick="viewAlbumBBS('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumView" ) ) ##앨범보기
<input type="button" class="typeBtn btSetAbm btAbmView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="앨범 보기" title="앨범 보기" onclick="artistAlbum('$!{id}');" >##
#end
#end

## 리스트 내 new mini 액션 버튼 템플릿 #################################################################################################
#macro( printListActionButton $id $type $value )
#if( $StringUtils.equals( $type, "words" ) )## 가사(곡상세)
<input type="button" class="typeBtn btSetList btListLyrics#if(!$id||!$StringUtils.equals($value,"Y"))_dis#end" #if(!$StringUtils.equals($value,"Y")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{id}');" >## 가사가 없으면 dimd만 시키고 링크는 그대로 유지
#elseif( $StringUtils.equals( $type, "words_s" ) )## 가사(곡상세)
<input type="button" class="typeBtn btSetMiniSmall btMiniSmallTxt#if(!$id||!$StringUtils.equals($value,"Y"))_dis#end" #if(!$StringUtils.equals($value,"Y")) value="가사 등록" title="가사 등록"#else value="가사 보기" title="가사 보기"#end onclick="lyricMini('$!{id}');" >## 가사가 없으면 dimd만 시키고 링크는 그대로 유지
#elseif( $StringUtils.equals( $type, "album" ) )## 앨범
<input type="button" class="typeBtn btSetList btMiniAbm#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="앨범 보기" title="앨범 보기" onclick="albumMini('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumBox" ) )## 앨범듣기
<input type="button" class="typeBtn btSetList btMiniAbmBox#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "mark" ) )## 앨범찜
<input type="button" class="typeBtn btSetList btMiniPlus#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="앨범 찜" title="앨범 찜" onclick="bookmarkAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumBookmark" ) )## 앨범찜
<input type="button" class="typeBtn btSetAbm btAbmBookmark#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="앨범 찜" title="앨범 찜" onclick="bookmarkAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumListen" ) )## 앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "myAlbumListen" ) )## 내앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}', 'my');" >##
#elseif( $StringUtils.equals( $type, "publicAlbumListen" ) )## 공개앨범듣기
<input type="button" class="typeBtn btSetAbm btAbmListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="album_$!{id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{id}', 'public');" >##
#elseif( $StringUtils.equals( $type, "listen" ) )## 곡 듣기
<input type="button" class="typeBtn btSetList btMiniListen#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="listen_$!{id}" value="곡 듣기" title="곡 듣기" onclick="listenSong('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "bgm_listen" ) )## 배경음악 미리 듣기
<input type="button" class="typeBtn btSetList btMiniSpeaker#if($id<1||!$value)_dis#end" #if($id<1||!$value)disabled#end value="배경음악 미리듣기" title="배경음악 미리듣기" onclick="Music.openPreview('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "mp3" ) )## mp3
<input type="button" class="typeBtn btSetList btMiniMp3#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="mp3_$!{id}" onclick="mp3Mini('$!{id}', this);">##
#elseif( $StringUtils.equals( $type, "mp3down" ) )## mp3 개별 다운로드
<input type="button" class="typeBtn btSetList btMiniMp3#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="mp3_$!{id}" onclick="mp3Down('$!{id}');">##
#elseif( $StringUtils.equals( $type, "bgm" ) )## 배경음악
<input type="button" class="typeBtn btSetList btListBgm#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="bgm_$!{id}" onclick="bgmMini('$!{id}', this);">##
#elseif( $StringUtils.equals( $type, "markArtist" ) )## 아티스트찜
<input type="button" class="typeBtn btSetList btMiniPlus#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="아티스트찜" title="아티스트 찜" onclick="bookmarkArtist('$!{id}');">##
#elseif( $StringUtils.equals( $type, "map" ) )## 아티스트 맵 ## 현재 사용하는 곳 없음. (value 값으로 type을 썼었는데 버튼활성화 유무 체크를 관련아티스트수로 하면서 파라미터 개수가 늘어나서 쓰는곳이 아티스트차트 리스트밖에 없어서 그냥 해당페이지에서 따로 사용함 09.06.15
<input type="button" class="typeBtn btSetList btMiniMap#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="아티스트 맵" title="아티스트 맵" onclick="artistMap('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "view" ) )## 뮤직비디오 보기
<input type="button" class="typeBtn btSetList btMiniView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="video_$!{id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "view_s" ) )## 뮤직비디오 보기
<input type="button" class="typeBtn btSetMiniSmall btMiniSmallView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end id="video_$!{id}" value="뮤비 보기" title="뮤비 보기" onclick="viewVideo('$!{id}','$!{value}');">##
#elseif( $StringUtils.equals( $type, "viewArtistBBS" ) )## 아티스트 게시판보기
<input type="button" class="typeBtn btSetAbm btAbmBbs#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="게시판 보기" title="게시판 보기" onclick="viewArtistBBS('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "viewAlbumBBS" ) )## 앨범 게시판보기
<input type="button" class="typeBtn btSetAbm btAbmBbs#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="게시판 보기" title="게시판 보기" onclick="viewAlbumBBS('$!{id}');" >##
#elseif( $StringUtils.equals( $type, "albumView" ) ) ##앨범보기
<input type="button" class="typeBtn btSetAbm btAbmView#if(!$id||!$value)_dis#end" #if(!$id||!$value)disabled#end value="앨범 보기" title="앨범 보기" onclick="artistAlbum('$!{id}');" >##
#end
#end

## 키아티스트 리스트만 뿌려주기 (앵커 없음)
#macro( printKeyArtist $keyArtistListObj )
#set( $artistName = "" )##
#foreach( $artist in $keyArtistListObj )
#if( $foreach.index > 0 )#set( $artistName = $artistName + ", " )#end
#set( $artistName = $artistName + $artist.name )
#end##
$!{artistName}##
#end

## 아티스트 상세 링크 #################################################################################################
#macro( printAnchorArtist $artistObject $className $cutLen )
#if( $!{artistObject.keyArtistList} )##곡의 아티스트명
#***##set ( $artistLen = 0 )##
#***##foreach( $artist in $artistObject.keyArtistList )##
#***##if($cutLen <= 0 || $cutLen > $artistLen)	
#***##***##set ( $artistLen = $artistLen + $StringCutUtil.getStringByte($!{artist.name}) )##
#***##***##if( $cutLen > 0 )##
#***##***##***##set( $artistNameCut = "#strCut($!{artist.name},$cutLen)" )##
#***##***##else##
#***##***##***##set( $artistNameCut = "$!{artist.name}" )##
#***##***##end##
#***##***##if( $foreach.index > 0 ), #end##
#***##***##if( $!{artist.artistDetailId} == 0 )##
#***##***##***#<span class="$!{className}">$!{artistNameCut}</span>##
#***##***##else##
#***##***##***#<a href="#" onclick="goArtistDetail('$!{artist.artistDetailId}');" title="#escTitle($!{artist.name}) 아티스트 상세정보" class="$!{className}">$!{artistNameCut}</a>##
#***##***##end##
#***##end##
#***##end##
#else	
#if( $!{artistObject.artistName} )##
#***##set( $artistName = "$!{artistObject.artistName}" )##
#else##
#***##set( $artistName = "$!{artistObject.name}" )##
#end##
##
#if( $cutLen > 0 )
#***##set( $artistNameCut = "#strCut($!{artistName},$cutLen)" )##
#else
#***##set( $artistNameCut = "$!{artistName}" )##
#end
#if( $!{artistObject.artistDetailId} && !$StringUtils.equals("$!{artistObject.artistDetailId}", "0" ))	## not ""/null 
	<a href="#" onclick="goArtistDetail('$!{artistObject.artistDetailId}');" title="#escTitle($!{artistName}) 아티스트 상세정보" class="$!{className}">$!{artistNameCut}</a>##
#else<span class="$!{className}">
##	#if($StringUtils.equals("$!{artistObject.gubunCode}","02"))V.A
##	#elseif($StringUtils.equals( "$!{artistObject.gubunCode}","03"))O.S.T
##	#else$!{artistNameCut}
##	#end##
$!{artistNameCut}
</span>#end##
#end
#end

## 앨범 상세 링크 #################################################################################################
#macro( printAnchorAlbum $albumObject $className $cutLen $showVolumn )
#if( $!{albumObject.albumName} )##
#***##set( $albumName = "$!{albumObject.albumName}" )##
#else##
#***##set( $albumName = "$!{albumObject.title}" )##
#end##
##
#if( $showVolumn == true )
#***##if( $!{albumObject.albumVolumn} )#set( $albumVolumn = "$!{albumObject.albumVolumn}" )##
#***##else#set( $albumVolumn = "$!{albumObject.volumn}" )#end##
#***##if(!$StringUtils.equals($albumVolumn,""))#set( $albumVolumn = $albumVolumn + "집 " )#end##
#***##set( $albumName = $!{albumVolumn} + $!{albumName} )##
#end##
#if( $cutLen > 0 )
#***##set( $albumNameCut = "#strCut($!{albumName},$cutLen)" )##
#else##
#***##set( $albumNameCut = "$!{albumName}" )##
#end##
#if( $!{albumObject.albumId} )<a href="javascript:;" onclick="goAlbumDetail('$!{albumObject.albumId}');return false;" title="#escTitle("$!{albumName}") 앨범 상세정보" class="$!{className}">$!{albumNameCut}</a>#else<span class="$!{className}">$!{albumNameCut}</span>#end##
#end


## 앨범 상세 링크 - 모든 정보 표시 #####################################################
#macro( printAnchorAlbumAll $albumObject $className $cutLen )
#if( $!{albumObject.albumName} )##
#***##set( $albumName = "$!{albumObject.albumName}" )##
#else##
#***##set( $albumName = "$!{albumObject.title}" )##
#end##
#if( $!{albumObject.albumVolumn} )
#***##set( $albumVolumn = "$!{albumObject.albumVolumn}" )##
#else
#***##set( $albumVolumn = "$!{albumObject.volumn}" )##
#end##
#if(!$StringUtils.equals($albumVolumn,""))#set( $albumVolumn = $albumVolumn + "집 " )#end##
#set( $albumName = $!{albumVolumn} + $!{albumName} )##
#set( $albumNameByte = $StringCutUtil.getStringByte($!{albumName}))##
#set($_desc = "")##
#set($_award = "")##
#set($_remaster = "")##
#set($_live = "")##
###if($StringUtils.equals($!{albumObject.awardYn},'Y'))#set($_award = ' <span class="btSetTitleIcon icoProductAward" title="수상">&nbsp;</span>')#set($cutLen = $MathTool.sub($cutLen,2))#end##
#***##if($StringUtils.equals($!{albumObject.typeName},'Best')||$StringUtils.equals($!{albumObject.typeName},'싱글'))##
#***##***##set($cutLen = $MathTool.sub($cutLen,4))##
<span class="gray">[<strong>$!{albumObject.typeName}</strong>]</span>##
#***##elseif($StringUtils.equals($!{albumObject.typeName},'EP'))##
#***##***##set($cutLen = $MathTool.sub($cutLen,3))##
<span class="gray">[<strong>$!{albumObject.typeName}</strong>]</span>##
#***##elseif($StringUtils.equals($!{albumObject.typeName},'리믹스') || $StringUtils.equals($!{albumObject.typeName},'디지털'))##
#***##***##set($cutLen = $MathTool.sub($cutLen,5))##
<span class="gray">[<strong>$!{albumObject.typeName}</strong>]</span>##
#***##end
#if($albumNameByte<$cutLen)
#***##set( $albumNameCut = $albumName )##
#***##set($_spaceByte = $MathTool.sub($cutLen,$albumNameByte))##    
#***##if($StringUtils.equals("$!{albumObject.remasterYn}","Y"))#set($_remaster ='<span class="gray"> 리마스터</span>')#end##
#***##if($StringUtils.equals("$!{albumObject.recordTypeCode}","01"))#set($_live ='<span class="gray"> Live</span>')#end##
#***##if(!$StringUtils.equals($!{_remaster},'') && ($_spaceByte > 6 ))##
#***##***##set($comma="")##
#***##***##set($_desc = $_desc+$comma+$_remaster)##
#***##***##set($_spaceByte = $_spaceByte - 6)## 
#***##end##
#***##if(!$StringUtils.equals($!{_live},'') && ($_spaceByte > 6 ))##
#***##***##set($comma="")##
#***##***##if(!$StringUtils.equals($!{_remaster},'')) #set($comma=",") #end
#***##***##set($_desc = $_desc+$comma+$_live)##
#***##***##set($_spaceByte = $_spaceByte - 6)## 
#***##end##

#else##없을 경우 타이틀만 CUT
#***##if( $cutLen > 0 )
#***##***##set( $albumNameCut = "#strCut($!{albumName},$cutLen)" )##
#***##else##
#***##***##set( $albumNameCut = "$!{albumName}" )##
#***##end##
#end##
$!{_type}
#if( $!{albumObject.albumId} )
#***#<a href="http://music.daum.net/album/album.do?albumId=$!{albumObject.albumId}"  title="#escTitle("$!{albumName}") 앨범 상세정보" class="$!{className}">$!{albumNameCut}</a>##
#else<span class="$!{className}">$!{albumNameCut}</span>##
#end##
$!{_desc}$!{_award}##end
#end##



## 곡명 링크 #################################################################################################
#macro( printAnchorSong $songObject $className $cutLen )
#set($songTitle = "")
#if( $songObject.titleSongName )##
#***##set( $songTitle = $!{songObject.titleSongName} )##
#elseif( $songObject.songName )
#***##set( $songTitle = $!{songObject.songName} )##
#else##
#***##set( $songTitle = $!{songObject.title} )##
#end##
##
#if( !$StringUtils.equals("$!{songObject.featAllArtistWithComma}", "") ) #set ( $songTitle = $songTitle + " (Feat." + $!{songObject.featAllArtistWithComma} + ")" ) #end
##
#if( $songObject.titleSongId )##
#***##set( $songId = $!{songObject.titleSongId} )##
#***##if( $!{songObject.masterSong.AODLinkId} )#set ( $songListenAble = true )#else#set( $songListenAble = false )#end##
#else##
#***##set( $songId = $!{songObject.songId} )##
#***##if( $!{songObject.AODLinkId} )#set ( $songListenAble = true )#else#set( $songListenAble = false )#end##
#end##
##
#if( $cutLen > 0 )
#***##set( $songTitleCut = "#strCut($!{songTitle},$cutLen)" )##
#else##
#***##set( $songTitleCut = "$!{songTitle}" )##
#end##
###if( $!{songObject.titleSongId})#if( $!{songObject.masterSong.AODLinkId} )#set ( $songListenAble = true )#else#set( $songListenAble = false )#end<a href="javascript:;" onclick="titleSong('$!{songObject.titleSongId}', $songListenAble);"  title="#escTitle($!{songTitle}) 듣기" class="$!{className}">$!{songTitleCut}</a>##
###elseif( $!{songObject.songId})#if( $!{songObject.AODLinkId} )#set ( $songListenAble = true )#else#set( $songListenAble = false )#end<a href="javascript:;" onclick="titleSong('$!{songObject.songId}', $songListenAble);"  title="#escTitle($!{songTitle}) 듣기" class="$!{className}">$!{songTitleCut}</a>##
###else<span class="$!{className}">$!{songTitleCut}</span>#end##
##곡명 옆 듣기버튼 제거=>#if( $songListenAble )<a href="http://music.daum.net/song/song.do?songId=$!{songId}" title="#escTitle($!{songTitle}) 곡 상세정보" class="icoMasterListen $!{className}">$!{songTitleCut}</a>##
###else<a href="http://music.daum.net/song/song.do?songId=$!{songId}" title="#escTitle($!{songTitle}) 곡 상세정보" class="icoMasterListen_dis $!{className}">$!{songTitleCut}</a>##
###end##
#if( $songListenAble )
	<a href="javascript:;" onclick="titleSong('$!{songId}', $songListenAble);" title="#escTitle($!{songTitle}) 곡 듣기" class="$!{className}">#escTitle($!{songTitleCut})</a>
#else
	 #if($className.indexOf("icoMasterListen")>-1) #set ( $classNameView = $className.replaceAll("icoMasterListen", "icoMasterListen_dis") ) #elseif($className.indexOf("icoSpeaker")>-1) #set ( $classNameView = $className.replaceAll("icoSpeaker", "icoSpeaker_dis") ) #else #set ( $classNameView = $className )#end
	<span class="$!{classNameView} gray_d1" title="#escTitle($!{songTitle})">#escTitle($!{songTitleCut})</span>
#end
#end

## 앨범타입표시 #################################################################################################
#macro( printAlbumType $albumObject)
#if( $!{albumObject.typeName} )
#***##if($StringUtils.equals($!{albumObject.typeName},'Best') || $StringUtils.equals($!{albumObject.typeName},'싱글') || $StringUtils.equals($!{albumObject.typeName},'EP') || $StringUtils.equals($!{albumObject.typeName},'리믹스') || $StringUtils.equals($!{albumObject.typeName},'디지털') )
#***#<span class="gray">[<strong>$!{albumObject.typeName}</strong>]</span>
#***##end
#end## end of if
#end
		
## 메뉴on/off #################################################################################################
#macro( leftMenuOn $needle)#set($url="$request.getRequestURI()?$request.getQueryString()")#if($url.indexOf($needle)>=0) on#end#end
#macro( leftMenuHide $needle)#set($url="$request.getRequestURI()?$request.getQueryString()")#if($url.indexOf($needle)>=0) hide#end#end
## 기본 URL ( param 제외 ) #################################################################################################
#macro( baseUrl )$request.getRequestURI()#end
## 값의 일치/불일치에 따라서 on/off 를 return  #################################################################################################
#macro( getCompareOnOff $source $target )#if( $StringUtils.equals($source, $target) ) on#else off#end#end


## 이용권 구매 > 결제 가능 수단 텍스트 #################################################################################################
#macro( getPaymentType $array )
#if( $array.size() == 3 )모두가능##
#elseif( $array.size() == 0 )결제불가##
#else
#set( $cnt = 0 )
#foreach( $item in $array )
#if( $item == "DAUMCASH"  )Daum캐쉬#set( $cnt = $cnt+1 )##
#elseif( $item == "MOBILE" )#if( $cnt>0 ),#end 휴대폰#set( $cnt = $cnt+1 )##
#elseif( $item == "CREDITCARD" )#if( $cnt>0 ),#end 신용카드##
#end
#end
만 가능
#end
#end


## 이용권명 필터링
#macro( ticketNameFilter $str )
## 기간제한 X -> 기간제한없음
#set( $str = $str.replaceAll( '기간제한 X', '기간제한없음' ) )##
$str##
#end




#macro(menu_on2 $needle $needle2)#set($url="$request.getRequestURI()?$request.getQueryString()")#if($url.indexOf($needle)>=0 && $url.indexOf($needle2)>=0)_on#end#end
#macro(starts_with $haystack $needle $print)#if($haystack.startsWith($needle))$print#end#end

        
## 책서지 링크
#macro(link_book $bookId)$esc.html("/detail/book.do?bookid=$bookId")#end

	
## 이미지가 없을 경우 처리
#macro(noimg $img_url $title)#set($mytitle=$CleanHtmlTag.removeTag($!title.replaceAll("'","\\'"),25))#if($img_url.indexOf("/nbook/common")>0) onload="nopic(this,'$!mytitle');"#end onerror="imgError(this,'$!mytitle');"#end

## 이미지가 없을 경우 처리 - 오버시 책정보 나오는 것들
#macro(noimg2 $img_url $title)#if($img_url.indexOf('/nbook/common')>0) <div class="noimg"> $!{CleanHtmlTag.removeTag($title,30)} </div> #end #end

## 아웃링크 체크
#macro(outLink $link_url)#if($item.docUrl.indexOf('http://book.daum.net/')>0) #set ($outLink = false) #else #set ($outLink = true) #end #end    
    

    
#*
이용권 상태 정보
CANCEL : 결제 취소 
DONE : 사용완료 
USE : 사용중 
UNUSE : 미사용
*#
#macro(printTicketStatus $isStatus)
#if($isStatus == "USE")<span class="type ing">사용중</span>
#elseif($isStatus == "WAIT")<span class="type end">대기중</span>
#elseif($isStatus == "UNUSE")<span class="type yet">미사용</span>
#elseif($isStatus == "DONE")<span class="type end">사용완료</span>
#elseif($isStatus == "CANCEL")<span class="type end">취소/환불</span>#end
#end

#* 이용권 종류 (이용권 상태에 따라 다름)*#
#macro(printTicketTitle $ticket)
#set($ticketTitle = $!{ticket.order.item.title})
#if($ticket.order.isFreePay())#if($ticket.order.item.periodic)#set($ticketTitle = "[무료체험] $ticketTitle")#else#set($ticketTitle = "[무료체험] $ticketTitle")#end
#elseif($ticket.order.isCouponRegularPay()) #set($ticketTitle = "[자동결제] $ticketTitle")#end
#if($!{ticket.ticketUseStatus} == "USE")<span class="b">$!{ticketTitle}</span>
#else $!{ticketTitle} #end
#end

#*
이용권 만료 정보
*#

#macro(printRemainderInfo $ticket $user $isAodUse)
#if($!{ticket.ticketUseStatus} == "CANCEL")사용 불가능
#***##if($!{ticket.modDttm}) ($!CheckDate.makeTicketDateTime(${ticket.modDttm}) 취소)#end##
#else##
#***##set ($itemCode = $!{ticket.order.item.itemType.code})
#***##set ($ownerId = ${ticket.owner.userId})
#***##if("$itemCode" == "AP") ## AOD
#***##***##if($isAodUse)
#***##***##***##if($StringUtils.equals("$!{ticket.ticketUseStatus}","UNUSE") && $!{ticket.startDate}) 사용 불가능($!CheckDate.makeTicketDateTime(${ticket.startDate})부터 사용 가능) #end
#***##***##***##set ($clickEvent = "alert('현재 사용중인 음악감상 이용권 기간 만료 후 사용 가능합니다.');")
#***##***##***##set ($imgClass = "btUseTicket_dis")
#***##***##else
#***##***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##***##set ($imgClass = "btUseTicket")
#***##***##end
#***##***##if($ticket.isStart() == false)
#***##***##***##if("$!{ownerId}" == "$!{user.userId}" && !$!{ticket.startDate})<input type="button" class="typeBtn $!{imgClass}" title="이용권 사용하기" value="이용권 사용하기" onclick="$!{clickEvent}">#end
#***##***##else
#***##***##***##if($!{ticket.remainDate} == 0 && $!{ticket.getRemainDatetime()} > 0) #set($_remainDate = 1) #else #set ($_remainDate = $ticket.remainDate) #end
#***##***##***##if($_remainDate > 0)${_remainDate}일간 듣기 가능 #if($!{ticket.endDate})($!CheckDate.makeTicketDateTime(${ticket.endDate})까지)#end#else 이용권 사용완료 #end
#***##***##end
#***##elseif("$itemCode" == "AM") ## AOD+MP3
#***##***##if($isAodUse)
#***##***##***##if($StringUtils.equals("$!{ticket.ticketUseStatus}","UNUSE") && $!{ticket.startDate}) 사용 불가능($!CheckDate.makeTicketDateTime(${ticket.startDate})부터 사용 가능) #end
#***##***##***##set ($clickEvent = "alert('현재 사용중인 음악감상 이용권 기간 만료 후 사용 가능합니다.');")
#***##***##***##set ($imgClass = "btUseTicket_dis")
#***##***##else
#***##***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##***##set ($imgClass = "btUseTicket")
#***##***##end
#***##***##if($ticket.isStart() == false)
#***##***##***##if("$!{ownerId}" == "$!{user.userId}" && !$!{ticket.startDate})<input type="button" class="typeBtn $!{imgClass}" title="이용권 사용하기" value="이용권 사용하기" onclick="$!{clickEvent}">#end
##elseif(!$!{ticket.endDate})제한없음
#***##***##else
#***##***##***##if($!{ticket.remainDate} == 0 && $!{ticket.getRemainDatetime()} > 0) #set($_remainDate = 1) #else #set ($_remainDate = $ticket.remainDate) #end 
#***##***##***##if($_remainDate > 0)${_remainDate}일간 듣기, #end
#***##***##***##if($ticket.order.item.isPeriodic() && ($_remainDate <= 0 ||  ${ticket.remainder} <= 0))$!{ticket.remainDateTime}이용권 사용완료#else$!{ticket.remainder}곡 다운로드 가능 ($!CheckDate.makeTicketDateTime($!{ticket.endDate})까지)#end
#***##***##end
#***##elseif("$itemCode" == "MP") ## MP3
#***##***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##***##set ($imgClass = "btUseTicket")
#***##***##if(${ticket.remainder} <= 0)이용권 사용완료
#***##***##else${ticket.remainder}곡 다운로드 가능 (기간제한 없음) #if($ticket.startDate)($!CheckDate.makeTicketDateTime(${ticket.startDate}) ~ ) #end#end
#***##elseif("$itemCode" == "MC") ## MP3기간제
#***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##set ($imgClass = "btUseTicket")
#***##***##if($ticket.isStart() == false)
#***##***##***##if("$!{ownerId}" == "$!{user.userId}" && !$!{ticket.startDate})<input type="button" class="typeBtn $!{imgClass}" title="이용권 사용하기" value="이용권 사용하기" onclick="$!{clickEvent}">
#***##***##***##else 사용 불가능($!CheckDate.makeTicketDateTime(${ticket.startDate})부터 사용 가능)
#***##***##***##end
#***##***##else
#***##***##***##if(${ticket.remainder} <= 0)이용권 사용완료
#***##***##***##else
#***##***##***##if($!{ticket.remainDate} == 0 && $!{ticket.remainDateTime} > 0) #set($_remainDate = 1) #else #set ($_remainDate = $ticket.remainDate) #end
#***##***##***##if($_remainDate > 0)${ticket.remainder}곡 다운로드 가능 #if($!{ticket.endDate})($!CheckDate.makeTicketDateTime(${ticket.endDate})까지)#end#else 이용권 사용완료#end
#***##***##***##end
#***##***##end
#***##elseif("$itemCode" == "BT") ## BGM
#***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##set ($imgClass = "btUseTicket")
#***##***##if(${ticket.remainder} <= 0)이용권 사용완료
#***##***##else${ticket.remainder}곡 이용 가능 (기간제한 없음) #if($ticket.startDate)($!CheckDate.makeTicketDateTime(${ticket.startDate}) ~ ) #end#end
#***##elseif("$itemCode" == "BC") ## BGM기간제
#***##***##set ($clickEvent = "if(confirm('선택하신 이용권을 오늘부터 사용하시겠습니까?')){ linkTicketUse('$!{ticket.id}','$!{command.status}') }")
#***##***##set ($imgClass = "btUseTicket")
#***##***##if($ticket.isStart() == false)
#***##***##***##if("$!{ownerId}" == "$!{user.userId}")<input type="button" class="typeBtn $!{imgClass}" title="이용권 사용하기" value="이용권 사용하기" onclick="$!{clickEvent}">#end
#***##***##else
#***##***##***##if(${ticket.remainder} <= 0)이용권 사용완료
#***##***##***##else
#***##***##***##if($!{ticket.remainDate} == 0 && $!{ticket.remainDateTime} > 0) #set($_remainDate = 1) #else #set ($_remainDate = $ticket.remainDate) #end
#***##***##***##if($_remainDate > 0)${ticket.remainder}곡 이용 가능 #if($!{ticket.endDate})($!CheckDate.makeTicketDateTime(${ticket.endDate})까지)#end#else 이용권 사용완료#end
#***##***##***##end
#***##***##end
#***##end
#end
#end


##리스트용 버튼 & 아이콘 #################################################################################################
#macro( printSongIcon $Object $showTitle)## 
#if($StringUtils.equals($!{Object.masterYn},'Y') && $showTitle)##타이틀
<span class="icoProductTitle" title="타이틀">&nbsp;</span>#end##
#if($StringUtils.equals($!{Object.adultYn},'Y') || $StringUtils.equals($!{Object.song_adult_yn},'Y') )##19금
<span class="btSetTitleIcon icoProductAdult" title="19세 금지">&nbsp;</span>#end##
##if($!{Object.VClipLinkId})<input type="button" class="typeBtn btSetProduct btProductTv" value="뮤직비디오보기" title="#escTitle($!{Object.title})뮤직비디오 보기" onclick="viewVideo('$!{Object.VClipLinkId}');">#end ##곡리스트에 뮤비 아이콘 생김
#if($StringUtils.equals($!{Object.awardYn},'Y'))##
#if($!{Object.awardOpenId}>0)<a href="javascript:;" onclick="goAwardDetail('$!{Object.awardOpenId}', '$!{Object.openYear}', '$!{Object.songId}');return false;" class="btSetTitleIcon icoProductAward" title="$!{Object.awardName} $!{Object.openYear}년 수상 상세정보">&nbsp;</a>##
#else<span class="btSetTitleIcon icoProductAward" title="수상">&nbsp;</span>#end##
#end##
#end##


##검색 하이라이팅 제거 #################################################################################################
#macro(getStrongText $str)$!{str.replaceAll("<b>","").replaceAll("</b>","")}#end 
	
##인기차트 서비스 시작일 확인 #################################################################################################
#macro(getServiceDate $today $startDay)##
##set($startDay = 20090301)## 일간 20090412, 주간 20090411, 월간 20090401
#if($NumberTool.toNumber($today) > $NumberTool.toNumber( $startDay))
true#else##
false#end##	
#end 

##인기차트 서비스 종료일 확인
#macro( getSetviceLastDate $startDate $endDate )
#if( $NumberTool.toNumber( $startDate ) < $NumberTool.toNumber( $endDate ))
true#else##
false#end##
#end

##인기차트 월간 서비스 확인
#macro(getServiceDateByMonth $thisDate $endDate)##
#set($startDay = 20090430)##
#if($NumberTool.toNumber($thisDate) >= $startDay && $NumberTool.toNumber( $thisDate ) <= $NumberTool.toNumber( $endDate ) )
true#else##
false#end## 
#end 