<?xml version="1.0" encoding="UTF-8"?>
#set ($errorName = $!{exception.class.simpleName})
#if ($errorName == "InvalidParameterException")
	#set ( $errorView = "로그인이 필요합니다." )
#elseif ($errorName == "ItemUseException")
	#set ( $errorView = "이미 사용중인 이용권이 있습니다." )
#else
	#set ( $errorView = "이벤트에서 오류가 발생하였습니다." )
#end

#if($possibleApplication)
	#set ($message = "이용권이 발급되었습니다.")
	#set ($resultCode = "Y")
#else
	#set ($message = $errorView)
	#set ($resultCode = "N")
#end
<RESULT>
	<RESULTCODE>$!{resultCode}</RESULTCODE>
	<MESSAGE>$!{message}</MESSAGE>
</RESULT>
