<div id="daumContent" class="cont_app">
	<h2 class="screen_out">뮤직App</h2>
	<div class="section_app">
		#*
		<div class="wrap_app">
			<div class="wrap_txt">
				<h3 class="screen_out">Daum 뮤직앱</h3>
				<p class="screen_out">아이폰 이용자라면 편리하게 음악감상하세요. '안드로이드용은 준비중입니다'</p>
			</div>
			<a href="http://itunes.apple.com/kr/app/id411835583" class="btn_down"><span class="screen_out">아이폰용 다운로드하기</span></a>
		</div>
		<ul class="list_info">
			<li><span class="ico_music ico_dot">전곡감상은 이용권 구입 후 가능합니다.<br>이용권 구입은 다음뮤직App,<br>다음뮤직PC웹에서 모두 가능합니다.</span></li>
			<li><span class="ico_music ico_dot">임시저장 기능으로 데이터 요금 걱정없이<br>듣고 싶은 노래를 마음껏 즐기세요</span></li>
			<li><span class="ico_music ico_dot">타사 대비 훌륭한 음질!<br>직접 들어보고 결정하세요</span></li>
			<li><span class="ico_music ico_dot">레티나 디스플레이 완벽 지원!<br>아이폰4에서도 선명하게 즐기세요</span></li>
			<li><span class="ico_music ico_dot">높은 안정성과 빠른 반응속도!<br>역시 직접 써보고 결정하세요</span></li>
			<li class="lst"><span class="ico_music ico_dot">한층 빠르고 정확해진 음성검색!<br>음성검색으로 원하는 곡을 쉽고 빠르게<br>찾으세요</span></li>
		</ul>
		*#
		
		<div class="wrap_install">
			<h3 class="screen_out">Daum 뮤직앱</h3>
			<p class="txt_info">이제 스마트폰으로 데이터 걱정 없이<br />Daum 뮤직의 200만 곡을 손쉽게 즐기세요!</p>
			<div class="btn_wrap">
				<a href="http://itunes.apple.com/kr/app/id411835583" class="btn_comm iphone">아이폰용 설치</a>
				<a onclick="music.mobile.goAndroidMusicInstall();return false;" href="market://details?id=net.daum.entertainment.music.android" target="_blank" class="btn_comm android">안드로이드용 설치</a>
			</div>
		</div>
		<ul class="list_info">
			<li><span class="txt_comm"><strong class="txt_sub">01. 언제 어디서나 200만 곡을 마음껏 즐겨요!</strong>스마트폰 무제한 저장 기능으로<br />데이터 요금 걱정없이 음악을 마음껏 즐기세요.<br />안드로이드에서는 MP3 다운로드도 가능합니다.</span></li>
			<li><span class="txt_comm"><strong class="txt_sub">02. 수준 높고 다양한 뮤직BAR의 음악추천!</strong>TV프로그램 속 핫이슈 음악부터<br />추억 속 그 앨범 리뷰까지!<br />다양한 뮤직BAR 컨텐츠를 즐기세요!</span></li>
			<li><span class="txt_comm"><strong class="txt_sub">03. Daum뮤직앱 만의 강력한 검색 기능</strong>자판 치기 귀찮을 때는 음성검색,<br />지금 나오는 음악이 궁금할 땐 음악검색!<br />찾고 싶은 노래를 쉽고 빠르게 검색해 보세요.</span></li>
			<li><span class="txt_comm" ><strong class="txt_sub">04. 좋은 노래 있으면 함께 공유해요!</strong>노래를 듣다가 친구들과 공유하고 싶을 땐,<br />마이피플, 페이스북, 트위터, 싸이월드 등의<br />SNS로 손쉽게 추천할 수 있어요.</span></li>
		</ul>
		<p class="txt_lst"><span class="txt_comm">전곡감상은 이용권 구입 후 가능합니다.<br />이용권 구입은 daum뮤직 PC웹을 이용해주세요.<br /><span class="txt_desc">(아이폰은 뮤직앱에서도 이용권 구입이 가능합니다.)</span></span></p>
	</div>
</div>



<script type="text/javascript" src="http://issue.search.daum-img.net/jumpkeyword/API/tot_api.js" charset="euc-kr"></script>
#parse("/velocity/mobileweb/realtimeissue.vm")