<div>
<script type="text/javascript">
(function() {
	var osType = music.mobile.getOsType();
	if(osType === "AND") {
		music.mobile.goAndroidMusicInstall();
	} else if(osType === "IOS") {
		window.location.href = "http://itunes.apple.com/kr/app/id411835583";
	}
})();
</script>