{
"serviceid" : "music",
"sectionid" : "album_latest",
"title" : "앨범 최신순 목록",
"list" :[
#foreach($album in $albumList)
	{
    "serviceid":"music",
    "sectionid":"album",
    "albumid" : "$!{album.albumId}",
    "title" : "$!{EscapeUtil.escapeJsonString($!{album.title})}",
    "subtitle" : "$!{EscapeUtil.escapeJsonString($!{album.subTitle})}",
    "synonym" : [
    #foreach($synonym in $album.synonymList)
    	"$!{synonym}"#if($velocityHasNext),#end
    #end
    ],
    "link" : "http://music.daum.net/album/main?album_id=$!{album.albumId}",
    "image" : "$!{album.mainImage.filePath}",
    "point" : "",
    "point_cnt" : ""
	}#if($velocityHasNext),#end
#end
]
}