## album
var albumData = {
    ##앨범 명
    "title": "#escScript( $!{album.title} )",
    ##앨범명 영어
    "engLang": "#escScript( $!{album.titleEngLang} )",
    ##앨범명 한글
    "korLang": "#escScript( $!{album.titleKorLang} )",
    ##앨범명 한글발음 독음
    "korPron": "#escScript( $!{album.titleKorPron} )",
    ##앨범명 원어발음 독음
    "orgPron": "#escScript( $!{album.titleOrgPron} )",
    ##앨범 부제목
    "subTitle": "#escScript( $!{album.subTitle} )",
    ##앨범 Volume
    "volume": "$!{album.volume}",
    "volumn": "$!{album.volume}",
    ##앨범 ID
    "albumId": "$!{album.albumId}",
    ##아티스트 명
    "artistName": "#escScript( $!{artist.name} )",
    ##아티스트 ID
    "artistDetailId": "$!{album.artistId}",
    ##출시일
    "releaseDate": "$!{album.releaseDt}",
    ##앨범 서비스 상태
    "serviceStatus": "$!{album.svcstatus}"
};

##
## albumScore 
#set($score = $albumScore)
var albumScore = {
    ##총 참여자 수
    "count": "",
    ##평점
    "score": ""
};

##
## Image
#set ($image = $ListTool.get($!{imageList}, 0))	
var albumImage = {
    ## 이미지 파일 패스
    "filePath": "$ImageUtil.getImageUrl( "$!{image.filePath}", "110x110", "ALBUM")"	
};

##
## title Song
var titleSongList = [
#foreach($song in $album.masterSongList)
    {
    ##곡 ID
    "songId": "$!{song.songId}",
    ##곡 명
    "title": "#escScript( $!{song.title} )",
    ##AOD ID
    "AODLinkId": "$!{song.AODLinkId}"
    }#if($velocityHasNext),#end
#end
];

putAlbumInfo( { data:albumData, score:albumScore, image:albumImage, song:titleSongList } ); 