<!-- 2014-08-13 promotion -->
<style type="text/css">
.p_content {background-color:#1a1c1d}
.p_content .event_music {position:relative;width:320px;margin:0 auto;text-align:center}
.p_content .event_music1 {height:526px;background:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m320/img_event1.png)}
.p_content .event_music2 {height:690px;background:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m320/img_event2.png)}
.p_content .list_event {font-size:15px;color:#f4f4f4}
.p_content .list_event li {display:block}
.p_content .desc_event {font-size:10px;line-height:16px;color:rgba(244,244,244,0.5)}
.p_content .link_event {position:absolute;left:50%;width:251px;height:42px;margin-left:-125px;font-size:16px;line-height:42px;color:#fff}
.event_music1 .list_event {margin-top:360px;line-height:23px}
.event_music2 .list_event {margin-top:363px;line-height:21px}
.event_music1 .desc_event {margin-top:15px}
.event_music2 .desc_event {margin-top:20px}
.event_music1 .link_event {top:483px}
.event_music2 .link_event {top:508px}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.p_content .event_music1 {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m480/img_event1.png);-webkit-background-size:320px 526px;background-size:320px 526px}
	.p_content .event_music2 {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m480/img_event2.png);-webkit-background-size:320px 690px;background-size:320px 690px}
}
  
@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
	.p_content .event_music1 {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m640/img_event1.png);-webkit-background-size:320px 526px;background-size:320px 526px}
	.p_content .event_music2 {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140813_music/m640/img_event2.png);-webkit-background-size:320px 690px;background-size:320px 690px}
}
</style>
 <!-- 2014-08-13 promotion -->

<script type="text/javascript" src="http://event.daum.net/javascripts/daumEvent.js"></script>
#uaCheck()
 <!-- 2014-08-13 promotion -->
<div id="daumPromotion">
    <div class="p_content">
        <div class="event_music event_music1">
        	<strong class="ir_pm">01. 유희열이 무료쿠폰 신규고객 에게 쏜다</strong>
        	<em class="ir_pm">증정쿠폰</em>
        	<ul class="list_event">
        		<li>스마트폰 무제한 이용권</li>
        		<li>MP3 1곡 다운로드 이용권</li>
        	</ul>
        	<em class="ir_pm">주의사항</em>
        	<p class="desc_event">신규고객 3만명 중 실시간 추첨을 통해 당첨됩니다.<br>기존 다음뮤직 이용권 사용자는 참여하실 수 없습니다.</p>
        	#if($StringUtils.isNotBlank("$!{user.userId}"))
				#if($resultCode > 0)
					<a href="javascript:;" class="link_event" onclick="noApplication();return false;">당첨 확인</a>
				#else
					#if($StringUtils.equals("$!{isDaumMusicApp}", "true"))
						<a href="javascript:;" class="link_event" onclick="sendMobileApplication('10499', '10499','','http://music.daum.net/player/identityCancelRedirectForAndroid.html'); return false;">당첨 확인</a>				
    				#else
    					<a href="javascript:;" class="link_event" onclick="noAppApplication(); return false;">당첨 확인</a>
					#end	
				#end	
			#else
				##로그인 시킨다
				<a href="javascript:;" class="link_event" onclick="appEventCheckLogin(true);return false;">당첨 확인</a>
			#end	
        </div>
        <div class="event_music event_music2">
         	<strong class="ir_pm">02. 방금그곡 카스채널 구독 공유하면?</strong>
        	<em class="ir_pm">증정상품</em>
        	<ul class="list_event">
        		<li>닥터드레 이어폰 2개</li>
        		<li>Harman Kardon SoundSticks 2개</li>
        		<li>티볼리 오디오 1개</li>
        	</ul>
        	<em class="ir_pm">주의사항</em>
        	<p class="desc_event">채널에 나와있는 방금그곡앱 소개글을 공유해주세요<br>추첨을 통해 선정된 5명에게 경품을 드립니다.</p>
        	<a href="https://story.kakao.com/_djF8UFhCZHFmbFREeE9ZS0tSbXBvaktjUQ`" class="link_event">구독하러 가기</a>       
        </div>
    </div>
</div>
 <!--// 2014-08-13 promotion -->
<script type="text/javascript">
function appEventCheckLogin(doConfirm) {
	var returnUrl = "";
	try {
		returnUrl = location.href;
		if(doConfirm) {
			if(!confirm("쿠폰받기 이벤트는 로그인 후에 가능합니다.\n로그인  페이지로 넘어가시겠습니까?")) {
				return false;
			}
		}
		location.href = "https://logins.daum.net/accounts/loginform.do?category=music&finaldest=" + escape("http://music.daum.net") + "&url=" + escape(returnUrl);
	} catch(exception) {
		alert('예외상황이 발생하였습니다. 다시 한번 시도해 주세요.');
	}
}
function noApplication(){
	alert('죄송합니다. 신규고객 대상 이벤트라 이미 이용권을 사용 중인 분들은참여가 불가능 합니다. 기존고객 분들은 카스 채널 공유 이벤트에 많은 참여를 부탁 드립니다.');
}

function noAppApplication(){
	alert('방금그곡앱을 통해서만 응모가능합니다.');
}
</script>

## 미니다음을 통하지 않고 tiara 수집할때 사용
#parse("/velocity/common/manual_tiara.vm")




