#macro(printSearchNaviTab)
	#set($query = $!{command.encodedQuery})
	#set( $URI = "#getter('URI', '')" )
	<li class="search_menu1#if($URI.indexOf('/integrated/') !=-1) on#end"><a href="/search/integrated/list?query=$!{query}" title="전체">전체</a></li>
	<li class="search_menu2#if($URI.indexOf('/artist/') !=-1) on#end"><a href="/search/artist/list?query=$!{query}" title="아티스트">아티스트</a></li>
	<li class="search_menu3#if($URI.indexOf('/song/') !=-1) on#end"><a href="/search/song/list?query=$!{query}" title="곡">곡</a></li>
	<li class="search_menu4#if($URI.indexOf('/album/') !=-1) on#end"><a href="/search/album/list?query=$!{query}" title="앨범">앨범</a></li>
	<li class="search_menu5#if($URI.indexOf('/vclip/') !=-1) on#end"><a href="/search/vclip/list?query=$!{query}" title="뮤직비디오">뮤직비디오</a></li>
	<li class="search_menu6#if($URI.indexOf('/lyrics/') !=-1) on#end"><a href="/search/lyrics/list?query=$!{query}" title="가사">가사</a></li>
	<li class="search_menu7#if($URI.indexOf('/board/') !=-1) on#end"><a href="/search/board/list?query=$!{query}" title="뮤직BAR">뮤직BAR</a></li>
#end

#macro(printSearchSortOption $url $sortType)
	#if($StringUtils.equals($!{sortType}, "1"))<em class="link_option">최신순</em>#else<a href="$!{url}&amp;sortType=1" onclick="daum.Music.setChartOrder('btnMoreInfo', '$!{url}&amp;sortType=1');return false;">최신순</a>#end
	<span class="txt_bar">|</span>
	#if($StringUtils.equals($!{sortType}, "0"))<em class="link_option">정확도</em>#else<a href="$!{url}&amp;sortType=0" onclick="daum.Music.setChartOrder('btnMoreInfo', '$!{url}&amp;sortType=0');return false;">정확도</a>#end
	<span class="txt_bar">|</span>	
	#if($StringUtils.equals($!{sortType}, "2"))<em class="link_option">인기순</em>#else<a href="$!{url}&amp;sortType=2" onclick="daum.Music.setChartOrder('btnMoreInfo', '$!{url}&amp;sortType=2');return false;">인기순</a>#end
#end

#macro(printSearchSongList $songList $type)
	#foreach($song in $songList)
		#set($title = $song.title.replaceAll("\'","&apos;"))
		#set($artistName = $!StringCutUtil.removeTag( "#printArtistName( $!{song.keyArtistList} '' 20 false )").replaceAll("\'","&apos;").replaceAll('\"',"&quot;") )
		#set ($count = $foreach.index + 1)
		#if($stringUtil.isNotEmpty($!song.song_type_name))
			#set ($track = "track")
		#else
			#set ($track = "")
		#end
		#if($StringUtils.equals("$!{song.listen_yn}","Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
		#if($StringUtils.equals("$!{song.mp3_yn}","Y")) #set ( $_mp3Able = true ) #else #set ( $_mp3Able = false ) #end
		#if($StringUtils.equals("$!{song.bgm_yn}","Y")) #set ( $_bgmAble = true ) #else #set ( $_bgmAble = false ) #end
		<tr id="track$!{song.songId}_$count" class="track">
			<td class="col_check">
				<input class="inp_chk" type="checkbox" name="trackCheckbox" value="$!{song.song_id}" albumId="$!{song.album.albumId}">
			</td>
			
			<td class="col_title">
				#printSearchSongName( $!{song} "" 40 true false )
			</td>
			
			#if(!$StringUtils.equals("$!{type}", "integrated_album"))
				#if($StringUtils.isNotBlank("$!{song.trackLength}") && !$StringUtils.equals("$!{song.trackLength}", "-1"))
    				#set($min = $!{song.trackLength}/60)
    				#set($sec = $!{song.trackLength}%60)
    				#if($min<10)#set($min = "0"+$min)#end
    				#if($sec<10)#set($sec = "0"+$sec)#end
				#else
					#set($min = "00")
    				#set($sec = "00")
				#end
    			<td class="col_playtime">$min:$sec</td>
			#end
			
			<td class="col_artist">
			#printSearchArtistName( $!{song.keyArtistList} "" 24 true )
			</td>

			<td class="col_album"> 
				#printSearchAlbumName( $song.album "" 18 "2" true )
			</td>
			
			<td class="col_listen">
				#printListItemButton( $!{song.songId} "listen" $_listenAble "" false "" "" "" "" "" "" "")
			</td>
			
			<td class="col_lyrics">
				#printListItemButton( $!{song.songId} "lyrics" $!{song.lyrics_yn} "" "tr" $!{title} $count false "" $!{song.typeCd} "" "")
			</td>

			<td class="col_video">
				#printListItemButton( $!{song.songId} "video" $!{song.vclip.vclipId} 10 "chart" 1 "" "tr" $count false  "" $!{song.typeCd})
			</td>
			
			<td class="col_my">
            	#printListItemButton( $!{song.songId} "my" true "" $_listenAble "" "" "" "" "" "" "")
            </td>
			
            <td class="col_buy">
				#printListItemButton( $!{song.songId} "mp3" $!{song.MP3LinkId} "" $!{song.album.packageSaleYn} $!{song.album.albumId} "#stripHTML($!{title})" "$!{artistName}" "" "" "" "")
        		#printListItemButton( $!{song.song_id} "bgm" $!{_bgmAble} "" "" "" "" "" "" "" "" "")
            </td>
			
		</tr>
		#if($StringUtils.equals("$!{type}", "song"))
			#printListSearchSongInfoMore( $!{song} 10 "box_songinfo")
		#end
		#if($StringUtils.equals("$!{type}", "song") || $StringUtils.equals("$!{type}", "integrated_song"))
			#printListSearchSongExtraInfo( $!{song} 10 "box_songinfo")
		#end
	#end
#end

#macro(printSearchLyricsList $lyricsList)
	#if(!$CollectionUtils.isEmpty($lyricsList))
		#foreach($lyric in $lyricsList)
		<li #if($foreach.index == 0)class="fst"#end>
			#if($StringUtils.isNotBlank("$!{lyric.song_name}"))
			<div class="txt_tit">
				#if($StringUtils.equals("$lyric.listen_yn", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
        		#if($_listenAble)<a class="ico_comm ico_listen" title="#stripHTML($!{lyric.song_name})" #if($_listenAble)onclick="daum.Music.AodPlayer.add(this,$!{lyric.song_id});return false;"#end href="javascript:;">#else<span class="ico_comm ico_nolisten ">#end
				${HtmlTool.cutHighlightedKoreanString("$!{lyric.song_name}", 45, "..")}
        		#if($_listenAble)</a>#else</span>#end
			</div>
			#end
			#if($StringUtils.isNotBlank("$!{lyric.lyrics}"))
			<div class="txt_lyrics">
				<a title="가사" href="/album/main?album_id=$!{lyric.album_id}&song_id=$!{lyric.song_id}">${HtmlTool.cutHighlightedKoreanString("$!{lyric.lyrics}", 300, "..")}</a>
			</div>
			#end
			<div class="txt_info">
				#set($chkL = "off")
				#if($StringUtils.isNotBlank("$!{lyric.getArtist().getName()}"))
					#if($StringUtils.isNotBlank("$!{lyric.getArtist().getArtistId()}") && !$StringUtils.equals("$!{lyric.getArtist().getArtistId()}","0"))
					<a title="#stripHTML($!{lyric.getArtist().getName()})" href="/artist/main?artist_id=$!{lyric.getArtist().getArtistId()}" onclick="daum.Music.artistDetail($!{lyric.getArtist().getArtistId()});return false;" >$!{lyric.getArtist().getName()}</a>#else<span>$!{lyric.getArtist().getName()}</span>
					#end
					#set($chkL = "on")
				#else
					<span>V.A</span>
					#set($chkL = "on")
				#end
				#if($StringUtils.isNotBlank("$!{lyric.album_vol}") || $StringUtils.isNotBlank("$!{lyric.album_name}"))
					#if($StringUtils.equals($!{chkL},"on")) <span class="txt_bar"> | </span> #end
					<a title="#stripHTML($!{lyric.album_name})" href="/album/main?album_id=$!{lyric.album_id}" onclick="daum.Music.albumDetail($!{lyric.album_id}, $!{lyric.artist_id});return false;">#if($StringUtils.isNotBlank("$!{lyric.album_vol}"))$!{lyric.album_vol}집 #end$!{lyric.album_name}</a>
					#set($chkL = "on")
				#end
				#if($StringUtils.isNotBlank("$!{lyric.release_dttm}"))
					#if($StringUtils.isNotBlank("$!{lyric.release_dttm}") && !$StringUtils.equals("$!{lyric.release_dttm}", "00000000"))
					#if($StringUtils.equals($!{chkL},"on")) <span class="txt_bar"> | </span> #end
					발매 : $!{CheckDate.makeReleaseDate($!{lyric.release_dttm})}
					#end
				#end
			</div>
		</li>
		#end
	#end
#end

#macro(printSearchBoardList $boardList)
	#if(!$CollectionUtils.isEmpty($boardList))
		#foreach($board in $boardList)
			#if($StringUtils.isNotBlank("$!{board.url}"))
				#set($board_document_url = ${board.url})
			#else
				#set($board_document_url = "#getter('GAIA_DOMAIN', '')/gaia/do/musicbar/read?bbsId=$!{board.boardid}&articleId=$!{board.id}")
			#end
			#if($!{board_document_url} && $StringUtils.isNotBlank(${board.gaia_thumb_url}) && !$StringUtils.equals("${board.gaia_thumb_url}","http://icon.hanmail.net/gaia/img_no.gif") )
				#set($board_thumb_view = true)
			#else
				#set($board_thumb_view = false)
			#end
		<li class="#if(!$board_thumb_view)type_txt#end#if($foreach.index == 0) fst#end">
			#if( $board_thumb_view )
			<!--<div class="wrap_thumb">
				<div class="thumb_photo">
						<a class="thumb_a" style="font-size:0;vertical-align:middle;" href="http://star.fnnews.com/news/index.html?no=41365" onclick='smartLog(this, "s=NS&amp;a=NCNS&amp;d=47167392&amp;pg=7&amp;r=8&amp;p=1&amp;rc=10&amp;st=3&amp;e1=1396&amp;e2=L1NS&amp;e3=0&amp;hi=1", event);' target="_blank"><img style="border:0 none;vertical-align:middle;" src="http://photo-contents.daum-img.net/music/test/thum_2.jpg" alt="" onerror="SF._jsImgErr('news','7',{q:'sm',sv:'NNS',ex:'tab'});"><span class="line_thumb"></span></a>
					
				</div>
			</div>
			
			<div class="wrap_thumb">
				<div class="thumb_photo">
					<a class="thumb_a" href="${board_document_url}">
						<img src="$!{board.gaia_thumb_url.replaceAll("R64x47", "P135x85")}">
						<span class="line_thumb"></span>
					</a>
				</div>
			</div>-->
			<a class="thumb_link" href="${board_document_url}">
				<img width="135" height="85" src="$!{board.gaia_thumb_url.replaceAll("R64x47", "P135x85")}">		
				<span class="line_thumb"></span>
			</a>
			#end
			<div class="cont">
				<div class="tit">
					<a href="${board_document_url}">$!{board.subject}</a>
				</div>
				
				<p class="info_desc">
					#if($StringUtils.isNotBlank("$!{board.content}"))<a href="${board_document_url}">$!{board.content}</a>#end
					<span  class="link_from">
						#if($!{board.board_url})
						<a href="/musicbar/top">뮤직BAR</a>
						&gt;
							#if($!{board.board_name} == "아티스트")
						<a href="$!{board.board_url}">뮤직 게시판</a>
							#else
						<a href="$!{board.board_url}">$!{board.board_name}</a>
							#end
						#else
						<a href="/musicbar/top">뮤직BAR</a>
						&gt;
						<a href="#getter('GAIA_DOMAIN', '')/gaia/do/musicbar/list?bbsId=M004">뮤직 게시판</a>
						#end
						#if( $!{board.regdatetime} || $!{board.reg_datetime} )
						<span class="txt_bar"> | </span>
						#end
						#if( $!{board.regdatetime} ) #set( $board_reg_date = $board.regdatetime ) #elseif( $!{board.reg_datetime} ) #set( $board_reg_date = $board.reg_datetime ) #end
						$ConverterUtil.formatByStar($!{board_reg_date}, "****.**.**")
					</span>
				</p>
			</div>
		</li>
		#end
	#end
#end

## 뮤직비디오 세트
#macro( printSearchVideoSet $vclip $value $type)
	#if((!$CollectionUtils.isEmpty($vclip.keyArtistList) && $vclip.keyArtistList.size() > 1) || ($CollectionUtils.isEmpty($vclip.keyArtistList)))#set($dir = "album")#else#set($dir = "artist")#end
	#printSearchVideoThumb($vclip 1 $value "" $dir )
	#set($vclipNameCount = 20)
	<div class="wrap_info">
		#if($StringUtils.equals("$!{type}","check"))#set($vclipNameCount = 15)<input id="$!{vclip.vclipId}" class="chk_song" type="checkbox" name="trackCheckbox">#end
		<span class="wrap_title">
		#printSearchVideoName2( $!{vclip} "fw_b" $vclipNameCount true )
		</span>
		#printSearchArtistName($!{vclip.keyArtistList} "wrap_artist" 18 true)
		<em class="txt_date">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</em>
		<span class="song_listen">
    		#printSearchSongName( $!{vclip.song} "ico_comm ico_listen" 16 true "" )
    	</span>
	</div>
#end

## 뮤직비디오명 ####################################################################################################
#macro( printSearchVideoName $vclip $classname $len $tag)
#if( $len <= 0 )#set( $len = 100 )#end
#set($title = "#stripHTML($!{vclip.title})")
#if($!{tag})<a href="#" #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($title)" onclick="daum.Music.videoDetail('$!{vclip.vclipId}', '#getArtistId($!{vclip})');return false;">#end
${HtmlTool.cutHighlightedKoreanString("$!{vclip.title}", $len, "..")}
#if($tag)</a>#end
#if($StringUtils.equals("$!{vclip.adultYn}", "Y")) <span class="ico_adult" title="19세 미만 청취 불가">&nbsp;</span>#end##
#end

#macro( printSearchVideoName2 $vclip $classname $len $tag)
	#if( $len <= 0 )#set( $len = 100 )#end
    #set($title = "#stripHTML($!{vclip.title})")
	#set($tooltip = $title)
	#set($title = ${HtmlTool.cutHighlightedKoreanString("$!{title}", $len, "..")})
	
	#set($artistId = "#getArtistId($!{vclip})")
	#set($albumId = "$!{vclip.album.albumId}")
	#if($StringUtils.isBlank("$!{artistId}"))#set($artistId = "0")#end
	#if($StringUtils.isBlank("$!{albumId}"))#set($albumId = "0")#end

	#if($StringUtils.equals("$!{artistId}", "0"))
		#if($StringUtils.equals("$!{albumId}", "0"))  ##링크없음
			<span class="thumb_link">$title</span>
		#else  ##앨범으로
			<a #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($!{tooltip})" href="/album/vclip/detail?album_id=$!{albumId}&amp;vclip_id=$!{vclip.vclipId}">$title</a>
		#end
	#else  ##아티스트로
		<a #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($!{tooltip})" href="/artist/vclip/detail?artist_id=$!{artistId}&amp;vclip_id=$!{vclip.vclipId}" onclick="daum.Music.videoDetail('$!{vclip.vclipId}', '$!{artistId}');return false;">$title</a>
	#end
	
	##if($StringUtils.equals("$!{vclip.adultYn}", "Y") || $StringUtils.equals("$!{vclip.song.adultYn}", "Y")) <span class="ico_adult" title="19세 미만 청취 불가">&nbsp;</span>#end##
	
	#if($StringUtils.equals("$!{vclip.adultYn}", "Y"))
    	<span class="ico_adult" title="이 정보내용은 청소년 유해매체물로서 정보통&#13;신망 이용 촉진 및 정보보호 등에 관한 법률 및&#13;청소년보호법의 규정에 의하여 19세 미만의 &#13;청소년이 이용할 수 없습니다.">&nbsp;</span>
    #elseif($StringUtils.equals("$!{vclip.adultYn}", "A"))
    	<span class="ico_all" title="전체 이용 가능">&nbsp;</span>
    #elseif($StringUtils.equals("$!{vclip.adultYn}", "2"))
    	<span class="ico_12" title="12세 이상 이용 가능">&nbsp;</span>
    #elseif($StringUtils.equals("$!{vclip.adultYn}", "5"))
    	<span class="ico_15" title="15세 이상 이용 가능">&nbsp;</span>
    #end##
	
#end


## 피처링 아티스트명 ##############################################################################################
#macro( printSearchFeatArtistName $dto )
#if($!{dto.featArtistList} && $!{dto.featArtistList.size()} > 0 )##
#***##set( $printName = "" )##
#***##foreach( $artist in $dto.featArtistList )##
#***##***##if( $foreach.index > 0 ) #set( $printName = $printName + ", ") #end##
#***##***##set( $printName = $printName + "#stripHTML($!{artist.name})" )
#***##end##
#***# (Feat. $!{printName})##
#end
#end

## 곡명 (Feat. 피처링 아티스트명) ####################################################################################################
#macro( printSearchSongName $song $classname $len $tag $link)## 뮤직바 본문에서 곡명에 곡 상세 링크를 걸어달란 요청에 의해 $link 변수 추가 했음
#if($StringUtils.isNotBlank("$!{song.title}"))
	#set( $printName = "$!{song.title}" + " #printSearchFeatArtistName($song)" )##
#else
	#set( $printName = "$!{song.song_name}" + "#printSearchFeatArtistName($song)" )##
#end
#htmlSearchSongName( $song $classname $len $tag $printName $link)
#end

## 곡명 (Feat. 피처링 아티스트명) ####################################################################################################
#macro( printSongName $song $classname $len $tag $isNoneSongName $unconditional)
#set( $printName  = "")	
#set( $printName = "$!StringCutUtil.removeTag($!{song.title})" + " " + $StringUtils.trim("#printFeatArtistName($song)") )##
#htmlSongName( $song $classname $len $tag $printName $isNoneSongName $unconditional)
#end

## 곡명 - 아티스트명 ####################################################################################################
#macro( printSearchSongArtistName $song $classname $len $tag )
#set( $printName = "#printSearchSongName( $song '' 0 false false false)" + " - " + "#printArtistName( $song.keyArtistList '' 0 false )")
#htmlSearchSongName( $song $classname $len $tag $printName )
#end

## 곡명 프린트
#macro( htmlSearchSongName $song $classname $len $tag $printName $link )
#if( $len <= 0 )#set( $len = 100 )#end##
#if($StringUtils.equals("$!{song.listenYn}","Y") || ($StringUtils.isNotBlank("$!{song.AODLinkId}") && !$StringUtils.equals("$!{song.AODLinkId}", "0")))#set($listenAble = true)#else#set($listenAble = false)#end
#set( $title = "#stripHTML($printName)" )
#if($tag)##
#***##if($listenAble)<a href="#" #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($!{title})" onclick="daum.Music.AodPlayer.add(this, $!{song.songId});return false;">##
#***##else<span class="ico_nolisten#if($StringUtils.isNotBlank("$!{classname}")) $!{classname}#end">
#***##end## 
#***#$!{HtmlTool.cutHighlightedKoreanString("$!{printName}", $len, "..")}##
#***##if($listenAble)</a>#else</span>#end##
#else
	#if( $link )
	#if($!{song.keyArtistList.size()}>0)<a href="/album/main?album_id=$!{song.album.albumId}&song_id=$!{song.songId}" #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($!{title})" target="_top">#end
#***#${HtmlTool.cutHighlightedKoreanString("$!{printName}", $len, "..")}##
#***#</a>##
#***##else##
#***#${HtmlTool.cutHighlightedKoreanString("$!{printName}", $len, "..")}##
#***##end##
#end##
#if($StringUtils.equals("$!{song.original_song_yn}", "Y"))<span class="ico_original ff_dot" title="원곡">원곡</span>  #end##
#if($StringUtils.equals("$!{song.adultYn}", "Y")) <span class="ico_adult" title="이 정보내용은 청소년 유해매체물로서 정보통&#13;신망 이용 촉진 및 정보보호 등에 관한 법률 및&#13;청소년보호법의 규정에 의하여 19세 미만의 &#13;청소년이 이용할 수 없습니다.">&nbsp;</span>#end##
#end



## 아티스트명 ##############################################################################################
## tag == false :: 태그 없이 아티스트명만 반환
## artistId == 0 :: V.A or OST 임. 링크 없음
#macro( printSearchArtistName $keyArtistList $className $len $tag)
#set( $artistNameHTML = "")##'<span class="$!className">V.A</span>' )
#if( $len == 0 )#set( $len = 100 )#end
#set( $tag = $Display.alt($tag, false) )
#if( !$ListTool.isList($keyArtistList) && !$ListTool.isArray($keyArtistList) )
	#set( $keyArtistList = [ $keyArtistList.artist ] )
#end
## 배열로 넘어왔을 때
#if( $keyArtistList.size() > 0 )
	#set( $commaHTML = "<span class='comma'>,&nbsp;</span>" )
	#foreach ( $keyArtist in $keyArtistList )
		#set( $artistNameHTML = $artistNameHTML + "$!keyArtist.name" )
		#if( $velocityHasNext ) ## 쉼표도 더하기
			#set( $artistNameHTML = $artistNameHTML + ", " )
		#end
	#end
	#set( $needToCut = $StringCutUtil.getStringByte("$!artistNameHTML") > $len )
	#if( $tag )
		#set( $artistNameHTML = "")
		#set( $linkToArtistMain = "$Config.getProperty('SERVICE_DOMAIN').getValue()/artist/main?artist_id=" )
		#if( $needToCut )
			#if( $keyArtistList.size() > 1 )#set( $len = 7 )#end
			#set( $firstKeyArtist = $keyArtistList.get(0) )
			#set( $firstKeyArtist.name = $StringUtils.trim("$firstKeyArtist.name") )
			#set( $name = "${HtmlTool.cutHighlightedKoreanString($firstKeyArtist.name, $len, '..')}" )
			#if(!$StringUtils.equals("$!{keyArtist.artistId}", "0"))
				#set( $noTagName = "#stripHTML($firstKeyArtist.name)")
				#set( $artistNameHTML = "<a class='$!className' href='$!{linkToArtistMain}$!{firstKeyArtist.artistId}' title='#escTitle($noTagName)'>$!name</a>" )
			#else
				#set( $artistNameHTML = "<span class='$!{className}'>$!name</span>" )
			#end
			#if( $keyArtistList.size() > 1 )
				#set( $artistNameHTML = $artistNameHTML + "<span class='f_l'>&nbsp;외 " + ($keyArtistList.size() - 1) + "명</span>" )
				#set( $keyArtistListJsonStr = "")
				#foreach( $keyArtist in $keyArtistList )
					#set( $keyArtistListJsonStr = $keyArtistListJsonStr + "{ artistId: '$!keyArtist.artistId', name: '$!keyArtist.name'}")
					#if( $velocityHasNext )#set( $keyArtistListJsonStr = $keyArtistListJsonStr + ", ")#end
				#end
				#set( $artistNameHTML = $artistNameHTML + '<a href="javascript:;" onclick="daum.Music.artistMore(this, [ ' + $!keyArtistListJsonStr + ' ]);return false;" class="arr_comm ico_artist">다른 가수 보기</a>' )
			#end
		#else
			#foreach( $keyArtist in $keyArtistList )
				#if(!$StringUtils.equals("$!{keyArtist.artistId}", "0"))
					#set( $noTagName = "#stripHTML($!keyArtist.name)")
					#set( $artistNameHTML = $artistNameHTML + "<a class='$!className' href='$!{linkToArtistMain}$!{keyArtist.artistId}' title='#escTitle($noTagName)'>$!keyArtist.name</a>" )
				#else
					#set( $artistNameHTML = $artistNameHTML + "<span class='$!{className}'>$!keyArtist.name</span>" )
				#end
				#if($velocityHasNext)#set( $artistNameHTML = $artistNameHTML + $commaHTML )#end
			#end
		#end
	#else
		#if( $needToCut )
			#set( $artistNameHTML = "${HtmlTool.cutHighlightedKoreanString($artistNameHTML, $len, '..')}")
			#set( $artistNameHTML = $artistNameHTML.replaceAll("(,\s?\.\.\.)", "..") )## 쉼표가 마지막으로 나오면서 잘린 경우 예외처리
		#end
	#end
#else
	<span>V.A</span>
#end
$artistNameHTML
#end

## 앨범명 ##############################################################################################
## $full : true 이면 앨범 구분/집 정보 노출 <- 기존 full로 받던 분기값 type 으로 세분화
## $type :1 이면 앨범명만 노출, 
## $type :2 이면 앨범타입이 "정규" 일때  "집" 정보 노출 
## $type :3 이면 앨범타입이 "싱글/EP" 인경우 "[싱글]/[EP]" 앨범구분 노출 , "정규"일때 $type 2와 상동
## $type :4 이면 앨범 구분/정보 모두 노출
## $type :5 이면 sns 보내기용 형태 출력  앨범명 + 정규일때 집수 or (싱글)/(EP)
## classname : 앨범 구분의 classname ($link = true 일때만)
#macro( printSearchAlbumName $album $classname $len $type $tag)		## type 4 앨범형 수정 혹시 다른 곳에서 쓰게되면 알려주세요 뮤직바 사용
#set( $printName = "")##
#set( $albumHead = "" )##
#if( $len <= 0 )#set( $len = 100 )#end##
#if($MathTool.toNumber($!{type}) > 1 )##
#***##if($MathTool.toNumber($!{type}) == 2 || $MathTool.toNumber($!{type}) == 5)##
#***##***###if( $StringUtils.equals("$!{album.typeName}","정규") )##
#***##***##***##if( $StringUtils.isNotBlank("$!{album.volume}") )##
#***##***##***##***##set( $albumHead = $albumHead + $!{album.volume} + "집 " )##
#***##***##***##end##
#***##***###end##
#***##end##
#***##if($MathTool.toNumber($type) == 3)##
#***##***##if( $StringUtils.equals("$!{album.typeName}","EP")||$StringUtils.equals("$!{album.typeName}","싱글"))##
#***##***##***##if($tag)#set( $albumHead = "<em #if($StringUtils.isNotBlank('$!{classname}'))class='$!{classname}'#end>[" + $!{album.typeName} + "]</em> " )#set($len = $len + 30)##
#***##***##***##else#set( $albumHead = "[" + $!{album.typeName} + "] " )#end##
#***##***##end##
#***##***##if( $StringUtils.equals("$!{album.typeName}","정규") )##
#***##***##***##if( $StringUtils.isNotBlank("$!{album.volume}") )##
#***##***##***##***##set( $albumHead = $albumHead + $!{album.volume} + "집 " )##
#***##***##***##end##
#***##***##end##
#***##end##
#***##if($MathTool.toNumber($type) == 4 )##
#***##***##if( $StringUtils.isNotBlank("$!{album.typeName}") )##
#***##***##***##if($tag)#if( $StringUtils.equals("$!{album.typeName}","EP")||$StringUtils.equals("$!{album.typeName}","싱글") )#set( $albumHead = "<em #if($StringUtils.isNotBlank('$!{classname}'))class='$!{classname}'#end>[" + $!{album.typeName} + "]</em> " )#end#set($len = $len + 30)##
#***##***##***##else#set( $albumHead = "[" + $!{album.typeName} + "] " ) #end##
#***##***##end##
#***##***##if( $StringUtils.isNotBlank("$!{album.volume}") )##
#***##***##***##set( $albumHead = $albumHead + $!{album.volume} + "집 " )##
#***##***##end##
#***##end##
#end##
#set( $printName = "$!{albumHead}" + "$!{album.title}" )##
#set( $noTagName = "#stripHTML($printName)")
#set( $printName = "${HtmlTool.cutHighlightedKoreanString($!{printName}, $len, '..')}" )##
#if($tag)<a #if($type == 1)class="$!{classname}"#end href="$Config.getProperty('SERVICE_DOMAIN').getValue()/album/main?album_id=$!{album.albumId}" onclick="daum.Music.albumDetail($!{album.albumId},'');return false;" title="#escTitle($noTagName)">#end$!{printName}#if($tag)</a>#end##
#if($MathTool.toNumber($type) == 5)##
#***##if( $StringUtils.equals("$!{album.typeName}","EP")||$StringUtils.equals("$!{album.typeName}","싱글"))##
#***##***##if($tag)#set( $albumHead = "<em #if($StringUtils.isNotBlank('$!{classname}'))class='$!{classname}'#end>(" + $!{album.typeName} + ")</em> ")#set($len = $len + 30)##
#***##***##else #set( $albumHead = "(" + $!{album.typeName} + ")" )#end##
#***#$!{albumHead}##
#***##end
#end
#end

## 삽입곡 정보
#macro(printListSearchSongExtraInfo $song $colspan $class)
	#if($StringUtils.isNotBlank("$!{song.song_info}"))
	<tr id="songdetail$!{song.songId}" class="more_info open_direct songdetail">
		<td colspan="$colspan">
			<div class="box_info $class">
				#if($StringUtils.isNotBlank("$!{song.song_info}"))<p class="ico_comm ico_movie">$!{song.song_info}</p>#end
			</div>
		</td>
	</tr>
	#end
#end

## 곡정보 자세히
#macro(printListSearchSongInfoMore $song $colspan $class)
	#if(!$CollectionUtils.isEmpty($song.creditArtistList))
	<tr id="songdetail$!{song.songId}" class="more_info open_direct info_detail songdetail">
		<td colspan="$colspan">
			<div class="box_info $class">
				#set($creditTitleMap = {"0002":"작사", "0003":"작곡", "0004":"편곡"} ) ## 검색에는 편곡이 없다는 ..
				#set($arr2 = [])#set($arr3 = [])#set($arr4 = [])

				#foreach($artist in $song.creditArtistList)
				#if(!$StringUtils.equals("$!{artist.artistId}", "0"))
					#if($StringUtils.equals("$!{artist.creditCd}", "0002"))
						#set($temp = $arr2.add($!{artist}))
					#elseif($StringUtils.equals("$!{artist.creditCd}", "0003"))
						#set($temp = $arr3.add($!{artist}))
					#elseif($StringUtils.equals("$!{artist.creditCd}", "0004"))
						#set($temp = $arr4.add($!{artist}))
					#end
				#end
				#end
				
				#if(!$CollectionUtils.isEmpty($arr2))
				<p class="wrap_info">
					<em class="tit_info">$creditTitleMap.get("0002")</em>
				#foreach($artist in $arr2)
					#if($StringUtils.isNotBlank("$!{artist.artistId}") && !$StringUtils.equals("$!{artist.artistId}", "0"))<span class="txt_desc">#if($foreach.index != 0), #end<a href="/artist/main?artist_id=$!{artist.artistId}">$!{artist.name}</a></span>#end
				#end
				</p>
				#end
				#if(!$CollectionUtils.isEmpty($arr3))
				<p class="wrap_info">
					<em class="tit_info">$creditTitleMap.get("0003")</em>
				#foreach($artist in $arr3)
					#if($StringUtils.isNotBlank("$!{artist.artistId}") && !$StringUtils.equals("$!{artist.artistId}", "0"))<span class="txt_desc">#if($foreach.index != 0), #end<a href="/artist/main?artist_id=$!{artist.artistId}">$!{artist.name}</a></span>#end
				#end
				</p>
				#end
				#if(!$CollectionUtils.isEmpty($arr4))
				<p class="wrap_info">
					<em class="tit_info">$creditTitleMap.get("0004")</em>
				#foreach($artist in $arr4)
					#if($StringUtils.isNotBlank("$!{artist.artistId}") && !$StringUtils.equals("$!{artist.artistId}", "0"))<span class="txt_desc">#if($foreach.index != 0), #end<a href="/artist/main?artist_id=$!{artist.artistId}">$!{artist.name}</a></span>#end
				#end
				</p>
				#end
			</div>
		</td>
	</tr>
	#end
#end 

## 뮤직비디오 썸네일
#macro( printSearchVideoThumb $vclip $type $value $value2 $dir)
    #if( $type == 1 ) #set( $width = 172 ) #set( $height = 128 ) #end
    #if( $type == 2 ) #set( $width = 138 ) #set( $height = 103 ) #end
    #if( $type == 3 ) #set( $width = 320 ) #set( $height = 228 ) #end
    #if( $type == 4 ) #set( $width = 135 ) #set( $height = 101 ) #end
		
	#set($artistId = "#getArtistId($!{vclip})")
	#set($albumId = "$!{vclip.album.albumId}")
	#if($StringUtils.isBlank("$!{artistId}"))#set($artistId = "0")#end
	#if($StringUtils.isBlank("$!{albumId}"))#set($albumId = "0")#end
	
	#if($StringUtils.equals("$!{artistId}", "0"))
		#if($StringUtils.equals("$!{albumId}", "0"))  ##링크없음
			<span class="thumb_link">
		#else  ##앨범으로
			<a class="thumb_link" title="#escTitle($!{vclip.title})" href="/album/vclip/detail?album_id=$!{albumId}&amp;vclip_id=$!{vclip.vclipId}">
		#end
	#else  ##아티스트로
		<a class="thumb_link" title="#escTitle($!{vclip.title})" href="/artist/vclip/detail?artist_id=$!{artistId}&amp;vclip_id=$!{vclip.vclipId}" onclick="daum.Music.videoDetail('$!{vclip.vclipId}', '$!{artistId}');return false;">
	#end
	
	<img class="thumb_img" src="$ImageUtil.getImageUrl("$!{vclip.mainImage.filePath}", "$!{width}x$!{height}", "VCLIP", "#if( $!{type} == 3 )C#{else}S#end")" width="$!{width}" height="$!{height}" alt="뮤직비디오" #if($StringUtils.isNotBlank("$!{value}"))id="thumbLink$!{value}" index="$!{value}"#end>
	#if( $type == 3 )
		<span class="frame_thumb"></span>
	#end

	#if($type == 3 || $StringUtils.equals("$!{dir}", "top"))
	#set($tagType = $!{vclip.motTagType})
	#if( $StringUtils.isNotBlank("$!{tagType}") )
		#if( $StringUtils.equals("$!{tagType}","ONLY") )
		<span class="ico_monopoly"></span>
		#elseif( $StringUtils.equals("$!{tagType}","LIVE") )
		<span class="ico_live"></span>
		#elseif( $StringUtils.equals("$!{tagType}","HOT") )
		<span class="ico_hot"></span>
		#end
	#end
	#end

	#if( $!{vclip.rank} != 0)
		#printVideoRank( $!{vclip.rank} )
	#end
	#if( !$StringUtils.isNotBlank("$!{value}") )<span class="line_thumb"></span>#end

	<span class="ico_comm ico_play"></span>
	#if($StringUtils.equals("$!{artistId}", "0"))
		#if($StringUtils.equals("$!{albumId}", "0"))  ##링크없음
			</span>
		#else  ##앨범으로
			</a>
		#end
	#else  ##아티스트로
		</a>
	#end
#end
