<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Music</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
	<style type="text/css">
	/* reset */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
	fieldset,img{border:0 none}
	dl,ul,ol,menu,li {list-style:none}
	blockquote, q {quotes:none}
	blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
	input,select,textarea,button {font-size:100%;vertical-align:middle}
	button {border:0 none;background-color:transparent;cursor:pointer}
	table {border-collapse:collapse;border-spacing:0}
	body{-webkit-text-size-adjust:none} input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
	input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
	button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
	body {background-color:#fff}
	input::-webkit-input-placeholder {color:#a09999}
	textarea::-webkit-input-placeholder {color:#a09999}
	a {color:#333;text-decoration:none} a:active, a:hover {text-decoration:none}
	address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
	body,th,td,input,select,textarea,button {font-size:15px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}

	/* global */
	.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px}
	
	/* music */
	html, body {height:100%}
	.prm_music {position:relative;width:100%;min-width:320px;height:100%;background-color:#1a1c1d}
	.cont_music {height:100%;width:100%;position:absolute;top:0;left:0}	
	.img_music {background:url(http://m1.daumcdn.net/img-contents/event/promotion/140902_music/m320/img_music.png) no-repeat}	
	.tit_music {position:absolute;top:50%;left:50%;width:200px;height:206px;margin:-116px 0 0 -100px}
	.link_down {position:absolute;bottom:0;left:0;width:100%;height:52px;background-color:#ff4e64}
	.txt_down {display:block;width:148px;height:16px;margin:19px auto 0;background-position:0 -206px}	

	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
		.img_music {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140902_music/m480/img_music.png);-webkit-background-size:200px 222px;background-size:200px 222px}
	}
	
	@media
	only screen and (-webkit-min-device-pixel-ratio : 2),
	only screen and (min-device-pixel-ratio : 2) {
		.img_music {background-image:url(http://m1.daumcdn.net/img-contents/event/promotion/140902_music/m640/img_music.png);-webkit-background-size:200px 222px;background-size:200px 222px}
	} 
	</style>
</head>
<body>
#set($ua_string = $request.getHeader("User-Agent"))##
#parse("/velocity/common/ua_setting.vm")##
<div id="daumPromotion" class="prm_music ir_pm">
		#if( $isIos == true )
		<div id="daumContent">
			<a href="itms-apps://itunes.apple.com/kr/app/id411835583?mt=8" class="cont_music">
				<strong class="img_music tit_music">MUSIC</strong>
			</a>
			<a href="itms-apps://itunes.apple.com/kr/app/id411835583?mt=8" class="link_down">
				<em class="img_music txt_down">방금그곡앱 다운받기</em>
			</a>
		</div> 
		#elseif( $isAndroid == true)
		<div id="daumContent">
			<a href="market://details?id=net.daum.entertainment.music.android" class="cont_music">
				<strong class="img_music tit_music">MUSIC</strong>
			</a>
			<a href="market://details?id=net.daum.entertainment.music.android" class="link_down">
				<em class="img_music txt_down">방금그곡앱 다운받기</em>
			</a>
		</div> 
		#else
		<div id="daumContent">
			<a href="http://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBCO&q=%EB%B0%A9%EA%B8%88%EA%B7%B8%EA%B3%A1%EC%95%B1" class="cont_music">
				<strong class="img_music tit_music">MUSIC</strong>
			</a>
			<a href="http://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBCO&q=%EB%B0%A9%EA%B8%88%EA%B7%B8%EA%B3%A1%EC%95%B1" class="link_down">
				<em class="img_music txt_down">방금그곡앱 다운받기</em>
			</a>
		</div> 
		#end
</div>

#parse("/velocity/common/manual_tiara.vm")
</body>