#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
	<div class="cont_navi">
		<h3 class="tit">가사 및 곡정보</h3>
#btnPrev()
	</div>
	
#foreach($artist in $artistList)
#if("$!{artist.creditTitle}" == "커버 아티스트")
#set($cover_artist = "$!{cover_artist}, $!{artist.name}" )
#if("$!{cover_artist}"==", $!{artist.name}")
	#set($cover_artist="$!{artist.name}")
#end
#set($cover_artistId = $!{artist.artistId} )
#end
#end
	<div class="section_songinfo">
		<div class="wrap_head">
			<div class="cont_info">
				<h4 class="tit">$!{song.title}
					#if($!song.featArtistList.size()>0)(#foreach($artist in $!song.featArtistList)#if($velocityCount==1)Feat. #else, #end$artist.name#end)#end
					#if("$!song.adultYn"=="Y")<span class="ico_rating" title="이 정보내용은 청소년 유해매체물로서 정보통&#13;신망 이용 촉진 및 정보보호 등에 관한 법률 및&#13;청소년보호법의 규정에 의하여 19세 미만의 &#13;청소년이 이용할 수 없습니다."><span class="inner">19</span></span>#end
				</h4>
				<span class="txt_info"><a href="/artist/main?artist_id=$!cover_artistId">$!{cover_artist}</a><span class="txt_bar">|</span><a href="/album/main?album_id=$!{song.album.albumId}">#if("$!{song.album.volume}"!="")$!{song.album.volume}집 #end$!{song.album.title}</a></span>
			</div>
			<a href="/album/main?album_id=$!{song.album.albumId}" class="link_info"><img src="$ImageUtil.getMobileImageUrl("$!{song.album.mainImage.filePath}", "41x41", "ALBUM", "C")" width="36" height="36" alt="Bad Girls" class="thumb_info"><span class="frame_g"></span></a> <!-- 앨범이미지 없을시 link_info 제거 -->
		</div>
## 19금 음악
#set($song_type = "")
#if($musicUser)
#set($user_daumId = $!{musicUser.daumId})
#set($user_adultYn = $!{musicUser.adultYn})
#elseif($user)
#set($user_daumId = $!{user.daumId})
#set($user_adultYn= $!{user.adultYn})
#end
#if(("$!song.adultYn"=="Y") && ("$user_adultYn")!="Y")
#set($song_type = "adult")
#end
		<div class="wrap_action">
#if("$!{song.vclip.vclipId}"=="0")
			<a class="bround btn_video off ">
#else
##뮤비 유료 화 값이 1이면 full 버전 0이면 1분버전
##뮤비 19금 y 인것은 사용자 user 의 19금이 y 일때만 플레이 가능
##FreeYn[$vclip.FreeYn]tvpotPreVId[$vclip.tvpotPreVId]
##뮤직비디오유료화여부(false일 경우는 유료화아님, true일경우가 유료화) 
#if("$!{authorizedPlayVideo}"=="true" || "$!{authorizedPlayVideo}"=="1")
#set($video_id = $!{song.vclip.tvpotVId})
#set($movie_type = "full")
#else
#set($video_id = $!{song.vclip.tvpotPreVId})
#set($movie_type = "pre")
#end
#if($musicUser)
#set($user_daumId = $!{musicUser.daumId})
#set($user_adultYn = $!{musicUser.adultYn})
#elseif($user)
#set($user_daumId = $!{user.daumId})
#set($user_adultYn= $!{user.adultYn})
#end
#if(("$!song.vclip.adultYn"=="Y") && ("$user_adultYn")!="Y")
#set($movie_type = "adult")
#end
## 비디오 태그 섬네일 넣기
#set($thumb_img = $!{ImageUtil.getMobileImageUrl("$!{vclip.mainImage.filePath}", "94x70", "VIDEO", "C")})
			<a href="javascript:;" onclick="music.mobile.mMoviePlay('$!{movie_type}','$!{video_id}','$!{thumb_img}','320','240')" class="bround btn_video">
#if($ua_result.os.android)
<div style='position:absolute;top:0;left:0;'><video src='http://rt.flvs.daum.net:8080/RTES/Redirect?vid=$!{video_id}' poster='$!{thumb_img}' width='1' height='1' class='thumb_img' id='m_$!{video_id}' controls='controls'></video></div>
#end
#end
				<span class="ico_music ico_video"></span>뮤비
			</a>
			<a #if("$!{song.AODLinkId}"!="" && "$!{song.AODLinkId}"!="0") href="javascript:;" onclick="music.mobile.mMusicPlay.playSample('$!{song.songId}','$!{song_type}');"#end class="bround btn_prelisten #if("$!{song.AODLinkId}"=="" || "$!{song.AODLinkId}"=="0") off#end">
				<span class="ico_music ico_listen"></span>듣기
			</a>
##if("$!{song.MP3LinkId}"!="" && "$!{song.MP3LinkId}"!="0")
##			<a href="javascript:;" onclick="music.mobile_billing.mMusicMp3buy.goMp3Add('$!{song.songId}', '$!{song.album.albumId}');return false;" class="bround btn_buy">MP3 구매</a>
##else
            <a class="bround btn_buy off">MP3 구매</a>
##end
#if($ua_result.os.ios && "$!{song.AODLinkId}"!="" && "$!{song.AODLinkId}"!="0")
    #if($MathTool.toNumber($ua_result.browser.major) > 3 )
    		##<a href="/appHub?obj_type=SO&obj_id_list=$!{song.songId}" class="bround btn_app">
    		<a onclick="music.mobile.mMusicPlay.playOnApp('SO', '$!{song.songId}', '$!{song.album.albumId}');return false;" href="javascript:;" class="bround btn_app">
    #else
    		<a href="javascript:;" onclick="alert('사용하시는 IOS 버전에서는 지원하지 않는 기능입니다. IOS를 최신버전으로 업그레이드 해 주세요');" class="bround btn_app">
    #end
#elseif(($ua_result.os.android && $StringUtils.equals("$!{command.for_android_app}", "Y")))
	        <a onclick="music.mobile.mMusicPlay.playOnApp('SO', '$!{song.songId}', '$!{song.album.albumId}');return false;" href="javascript:;" class="bround btn_app">
#else
			<a class="bround btn_app off">
#end
				뮤직앱
			</a>
			<div id="sId_$!{song.songId}" class="audio"></div>
		</div>
		<div id="thumb_$!{video_id}"></div>
		<div class="wrap_songcont">
			<div class="wrap_lyrics">
				<strong class="tit">가사</strong>
				<p class="lyrics">
					#if("$!{song.lyrics.lyrics}"!="")
						$!{song.lyrics.lyrics.replaceAll("\r","").replaceAll("\n", "<br />")}<br/>
					#else
						가사 정보가 없습니다.<br/>
					#end
					
				</p>
			</div>
			<div class="making">
#set($loop_check = "")
#foreach($artist in $artistList)
#if("$!{artist.creditTitle}" == "작사" && $loop_check != "작사")
				<dl class="info_data">
					<dt class="tit_base">작사</dt>
					<dd class="desc">
						#set($tmp=0)
						#foreach($artist2 in $artistList)
							#if("$!{artist2.creditTitle}" == "작사")
							#if($tmp != 0),#end<a href="/artist/main?artist_id=$!{artist2.artistId}">$!{artist2.name}</a>
							#set($tmp=$tmp+1)
							#end
						#end
					</dd>
				</dl>
#set($loop_check = "작사")
#end
#if("$!{artist.creditTitle}" == "작곡" && $loop_check != "작곡")
				<dl class="info_data">
					<dt class="tit_base">작곡</dt>
					<dd class="desc">
						#set($tmp=0)
						#foreach($artist2 in $artistList)
							#if("$!{artist2.creditTitle}" == "작곡")
							#if($tmp != 0),#end<a href="/artist/main?artist_id=$!{artist2.artistId}">$!{artist2.name}</a>
							#set($tmp=$tmp+1)
							#end
						#end
					</dd>
				</dl>	
#set($loop_check = "작곡")
#end
#if("$!{artist.creditTitle}" == "편곡" && $loop_check != "편곡")
				<dl class="info_data">
					<dt class="tit_base">편곡</dt>
					<dd class="desc">
						#set($tmp=0)
						#foreach($artist2 in $artistList)
							#if("$!{artist2.creditTitle}" == "편곡")
							#if($tmp != 0),#end<a href="/artist/main?artist_id=$!{artist2.artistId}">$!{artist2.name}</a>
							#set($tmp=$tmp+1)
							#end
						#end
					</dd>
				</dl>
#set($loop_check = "편곡")
#end
#end
			</div>
<script type="text/javascript">//<![CDATA[
/**
 * sns 공유하기
 * @param {String} 포스팅시 링크에 적용될 문장
 */
doc = document;
doc.loc = music.mobile.replaceURL();
var sourceId = 2;
var prefix ="$!{cover_artist}#if($!song.featArtistList.size()>0)(#foreach($artist in $!song.featArtistList)#if($velocityCount==1)Feat. #else, #end$artist.name#end)#end - $!{song.title}"
var url = doc.loc;
var imagePath = "$ImageUtil.getMobileImageUrl("$!{albumImage}", "94x94", "ALBUM", "C")";
var metaType = "DMU";
var metaKey = "$!{song.songId}";
	
var shareSNS = {
	"prefix" : prefix,
	"link" : url,
	"sourceId" : sourceId,
	"image_path" : imagePath,
	"meta_type" : metaType,
	"meta_key" : metaKey		
}

/* 2013-2-14 웹투앱 2차로 인해 막음
shareSNS = function( prefix, serviceName ){
	var sourceId = 2; // yozm sourceid
	var urlPre = 'http://m.profile.daum.net/api/popup/Share.daum?source_id=';
	if(serviceName === "mypeople") {
		urlPre = "https://m.mypeople.daum.net/mypeople/mweb/share.do?source_id="; 
	}
	var prefix ="$!{cover_artist}#if($!song.featArtistList.size()>0)(#foreach($artist in $!song.featArtistList)#if($velocityCount==1)Feat. #else, #end$artist.name#end)#end - $!{song.title}"
	var link = doc.loc;
	var url = urlPre + sourceId + '&link='+ encodeURIComponent( link ) + '&prefix=' + encodeURIComponent( prefix ) + '&service_name=' + encodeURIComponent( serviceName );
	url += "&image_path=$ImageUtil.getMobileImageUrl("$!{albumImage}", "94x94", "ALBUM", "C")";
	url += "&meta_type=DMU";
	url += "&meta_key=$!{song.songId}";
	window.location.href = url;
	return false;
};
*/


/**
 * 19세 이상일경우 로그인창 띄움
 */
#if($StringUtils.equals("$!{song_type}", "adult"))
	daum.Event.addEvent(window, "load", function(){
		var URL = "https://logins.daum.net/accounts/loginform.do";
		if(!miniDaum_varUserid){
			if(confirm("먼저 로그인 하셔야 합니다.\n로그인 페이지로 이동 하시겠습니까?")){
				var url = URL+"?url="+ escape( window.location.href );
				window.location.href = url;
			}else{
				window.location.href = "http://m.music.daum.net/";
			}
		} else {
			alert("해당곡은 실명인증이 된 19세 이상 사용자만 이용 가능합니다");
			window.location.href = "http://m.daum.net/";
		}
	});
#end
//]]></script>
#snsLayer()
<div id="socialShareMoreViewContainer"></div>
		</div>
		
	</div>
#SearchForm("only_bottom")
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")

#*

[$!{song}]

songId : $!{song.songId}<br/> 
title : $!{song.title} <br/>
adultYn : $!{song.adultYn} <br/>

<br/>

albumId : $!{song.album.albumId}<br/> 
title : $!{song.album.title} <br/>
volume : $!{song.album.volume} <br/>
<br/>


<b>사용자 정보</b><br />
#if($musicUser)
	daumId : $!{musicUser.daumId} <br />
	adultYn : $!{musicUser.adultYn} <br />
#elseif($user)
	daumId : $!{user.daumId} <br />
	adultYn : $!{user.adultYn} <br />
#end

뮤직비디오유료화여부(false일 경우는 유료화아님, true일경우가 유료화) : $!{authorizedPlayVideo} <br/>
ID : $!{vclip.vclipId} <br />
TVPOTID : $!{vclip.tvpotVId} <br />
제목 : $!{vclip.title} <br />
이미지 : $!{vclip.mainImage.filePath} <br />
썸네일 : $!{ImageUtil.getMobileImageUrl("$!{vclip.mainImage.filePath}", "94x70", "VIDEO", "C")}  <br/>
등록일 : $!{vclip.regDateTime} <br />
<br/>	

lyricsId : $!{song.lyrics.lyricsId}<br/>
lyrics : $!{song.lyrics.lyrics.replaceAll("\r","").replaceAll("\n", "<br />")}<br/>


<br/>

#foreach($artist in $artistList)<br/> 
	name : $!{artist.name}<br/> ,
	artistId : $!{artist.artistId}<br/> 
	creditTitle : $!{artist.creditTitle}<br/> 
	creditCd : $!{artist.creditCd}<br/> 
#end

*#

