#*
templeteName 종류
AI : 통이미지
BA : 텍스트 기본
IT : 이미지 + 텍스트
VC : 동영상
SL : 곡리스트
AL : 앨범형
RT : 관련정보 탭형 
WI : 작성자 정보

templeteName, count, board, boardContents 
*#

<div id="wrapContents" class="wrap_cont article_cont">
	<div class="wrap_option">
		<h3 class="tit_cont f_l">
			<img width="545" height="21" alt="$!{boardInfo.menuName}" src="$!{boardInfo.menuImage}">
		</h3>
		<div class="tool_btn f_r">
			<a class="btn_comm btn_alllist CT_ZONE_BTN_LIST" href="/musicbar/musicbar/list?menu_id=$!{command.menu_id}">전체목록</a>
		</div>
	</div>
#if( $boardContents.boardTempleteList.size() > 0 )
    #foreach ($board in $boardContents.boardTempleteList)
        #if($foreach.count == 1 && $board.templeteName == "AI")
        	<div class="cont_img">
        		<img alt="#escTitle($!{$board.title})" src="$ImageUtil.getImageUrl("$!{board.imageUrl}", "698x0", "PHOTO", "R")">
        	</div>
        	#if( $StringUtils.isNotEmpty("$!{relatedBoardList}"))
        	<div class="wrap_list_connect CT_ZONE_RELBOARDLIST">
        		<span class="bg_mid#if( $relatedBoardList.size() > 6 ) bg_mid_spread#end">
        			<strong class="tit_bar tit_writing">관련글</strong>
        			<ul id="ListConnectUl" class="list_connect">
        			#foreach($rboard in $relatedBoardList) ##관련글
        				<li #if( $foreach.count > 6 )class="none"#end>
        					<a href="/musicbar/musicbar/detail?board_id=$!{rboard.boardId}" title="$!{rboard.title} 바로가기" #if( $StringUtils.equals("$!{rboard.boardId}","$!{command.board_id}"))class="equal_board"#end>#strCut($!{rboard.title}, 34)</a>
        				</li>
        			#end
        			</ul>
        			#if( $relatedBoardList.size() > 6 )
        			<a href="javascript:;" class="spread_relative_board" onclick="daum.Music.MusicBar.spread(this); return false;" title="펼치기">펼치기</a>
        			#end
        		</span>
        	</div>
        	#end
        #else
        	#if($foreach.count == 2)
        	<div class="section_textual">
        		<div class="wrap_option">
        			#if($StringUtils.isNotEmpty("$!{boardContents.totalSongIdList}"))
        			<div class="wrap_tool_btn f_l CT_ZONE_BTN_BARBUY">
        				<div class="tool_btn f_l">
        					<a href="javascript:;" class="btn_comm btn_bar all_listen_v2" title="소개된 곡 전체듣기" onclick="controller.allCheckBoxBtn(this, 'listen'); return false;"><span class="screen_out">소개된 곡 전체듣기</span></a>
        					<a href="javascript:;" class="btn_comm btn_bar all_buy_v2 mg_r0" title="소개된 곡 전체구매" onclick="controller.allCheckBoxBtn(this, 'buy'); return false;"><span class="screen_out">소개된 곡 전체구매</span></a>			
        				</div>
        			</div>
        			#end
        			<div class="txt_info f_r">
        				추천 <em class="fc_em">$boardInfo.recommendCount</em><span class="txt_bar"> | </span>조회 <em class="fc_em">$boardInfo.pvCnt</em><span class="txt_bar"> | </span><span class="txt_day">$!{CheckDate.makeReleaseDate($!{boardInfo.regdttm})}</span>
        			</div>
        		</div>
        	#end
        	#if($StringUtils.equals("$!{board.templeteName}","BA")) ##텍스트 기본
    			#printMusicBarTemplateBA($board)
            #elseif($StringUtils.equals("$!{board.templeteName}","AI")) ##통이미지
    			#printMusicBarTemplateAI($board)
            #elseif($StringUtils.equals("$!{board.templeteName}","IT")) ##이미지 + 텍스트
    			#printMusicBarTemplateIT($board)
        	#elseif($StringUtils.equals("$!{board.templeteName}","VC")) ##동영상
    			#printMusicBarTemplateVC($board)
    		#elseif($StringUtils.equals("$!{board.templeteName}","VL")) ##동영상뷰어
    			#printMusicBarTemplateVL($board)	
    		#elseif($StringUtils.equals("$!{board.templeteName}","PO")) ##폴
    			#printMusicBarTemplatePO($board, $boardInfo)				
            #elseif($StringUtils.equals("$!{board.templeteName}","SL")) ##곡리스트
    			#printMusicBarTemplateSL($board)
    		#elseif($StringUtils.equals("$!{board.templeteName}","PV")) ##포토뷰어
    			#printMusicBarTemplatePV($board)
            #elseif($StringUtils.equals("$!{board.templeteName}","AL")) ##앨범형
    			#printMusicBarTemplateAL($board)
			#elseif($StringUtils.equals("$!{board.templeteName}","LP")) ##생중계플레이어
    			#printMusicBarTemplateLP($board)	
            #elseif($board.templeteName == "RT") ##관련정보탭형
        		#printMusicBarTemplateRT($board)
            #elseif($board.templeteName == "WI") ##작성자 정보
    			#printMusicBarTemplateWI($board)
        	#end
        	#if($foreach.count == $boardContents.boardTempleteList.size())
            	<div class="wrap_consumer">
            		<div class="btn_consumer">
            			<a class="btn_comm btn_recom" href="javascript:;" title="추천하기" onclick="daum.Music.API.Recommend.send({id:'$!{boardInfo.boardId}',contents:'board', user:'#if($StringUtils.isNotEmpty($!{user.userId}))Y#end',el:'recomNum$!{boardInfo.boardId}'}); return false;"><span class="screen_out">추천</span><em id="recomNum$!{boardInfo.boardId}" class="num_recom">$!{boardInfo.recommendCount}</em></a>
    					<a class="btn_comm btn_enroll" href="javascript:;" title="관심등록하기" onclick="daum.Music.API.Favorite.send({id:'$!{boardInfo.boardId}', contents:'musicbar', el:this});">관심글 등록</a>
            			<span class="btn_sns">
							
						#set($link='http://music.daum.net/musicbar/musicbar/detail?menu_id='+$command.menu_id+'&board_id='+$!{boardInfo.boardId})
						#set($prefix = $!{boardInfo.title.replaceAll("'", "apos;")})
						
						#printSnsButton($!{command.board_id} "snsButton2" $!link $prefix "musicbar")
            			</span>
        				#if( $!{adminRoleId} && $!{adminRoleId} > 2 )
                			<a class="btn_comm btn_recom" href="http://op2.admin.music.daum.net/musicbar/board/updateForm.daum?page=1&boardId=$!{command.board_id}" target="_blank"><em class="num_recom" title="뮤직Bar 운영">admin</em></a>
        				#end
            		</div>
            	</div>
        	</div>
        	#end
        #end
    #end
#end
##	#if($stringUtils.isNotBlank($!{boardContents.songCommentList}) && $stringUtils.isNotBlank($!{boardContents.bestCommentList}))
#if( $StringUtils.equals("$boardInfo.commentYn", "Y") )
	<div class="section_songbest">
		<h4 class="tit_bar tit_why">이 노래는 왜 없어?</h4>
		<div id="wrapSearch" class="search_form">
			<form name="playlistSearch" onsubmit="return daum.Music.MusicBar.search(this);">
				<fieldset>
					<legend class="screen_out">검색 폼</legend>					
					<div class="bg_bar wrap_text">
						<input class="inp_search msg_default" id="q2" autocomplete="off" type="text" onfocus="daum.Element.removeClassName(this,'msg_default');" #if(!$encodedUserId)onclick="daum.Music.login(); return false;"#end>
					</div>
					<input id="SearchButton" class="bg_bar btn_search" type="submit" value="검색" onclick="daum.Music.MusicBar.search(this);return false;">								
				</fieldset>
			</form>
		</div>
		<script type="text/javascript">
			var sug2 = daum.suggest.Service.add(
    				"q2",
    				"wrapSearch",
                	"http://suggest.music.daum.net",
                	"/music_all2_cfsuggest",
                	"/suggestProxy.html" ).
    				setLimit( [8,0] ).
    				setEncodeKeyword( "utf_in_out" ).
					setBeforeSubmitFunc( daum.Music.MusicBar.search ).
					setForm( document.playlistSearch );
		</script>
		<div id="recommendWrap" class="song_recom#if( $!{boardContents.totalCommentCount} < 11 ) line_recom#end">
			<div class="wrap_tool_btn">
				<div class="tool_btn f_l">
					#printListButton( "song" "" "" "" "")
				</div>
				<em class="txt_quantity f_l">총 <strong id="TotalRecommendCount" class="fc_blue">$!{boardContents.totalCommentCount}</strong> 곡</em>
			</div>
			#if( $!{boardContents.totalCommentCount} == 0 )
			<div id="NoDataDiv" class="wrap_nodata list_recom">
				<strong>추천된 노래가 없습니다</strong>
			</div>
			#else
			<ul id="trackContainer" class="list_recom">
				#foreach($best in $boardContents.bestCommentList)
				#set($title = $best.title.replaceAll("\'","&apos;"))
				#set($artistName = $!StringCutUtil.removeTag( "#printArtistName( $!{best.keyArtistList} '' 20 true )") )
				<li id="track$!{best.songId}_$!{foreach.count}" class="best_song track" data-userequestid="$!{best.userRequestId}">
					<span class="col_check">
					##	<input id="eachCheck$!{best.songId}_$!{foreach.count}" type="checkbox" name="trackCheckbox" value="$!{best.songId}" albumId="$!{best.album.albumId}" title="$!{title}" artistName="$!{artistName}" packageSaleYn="$!{best.album.packageSaleYn}" isAODLinkId="$!{best.AODLinkId}">
						<input id="eachCheck$!{best.songId}_$!{foreach.count}" type="checkbox" name="trackCheckbox" value="$!{best.songId}">
					</span>
					<span class="col_song">
						<span class="ico_comm ico_best">BEST</span>
						<strong class="screen_out">곡명</strong>
						#printSongName( $best "tit_song" 30 true false false)
						<strong class="screen_out">아티스트</strong>
						<span class="wrap_artist">
							#printArtistName( $best.keyArtistList "" 30 true )
						</span>
					</span>
					<span class="col_access">
						#printListItemButton( $!{best.songId} "listen" $!{best.AODLinkId} "" "" "" "" "" "" "" "" "")
						#printListItemButton( $!{best.songId} "lyrics" $!{best.lyricsYn} "" "li" $!{title} $!{foreach.count} false "" "" "" "")
						#foreach($artist in $best.keyArtistList)
							#if($foreach.count == 1)
							#printListItemButton( $!{best.album.albumId} "album" $!{artist.artistId} "" "" "" "" "" "" "" "" "")
							#else
							#end
						#end
				##		#printListItemButton($!{best.songId} "buy_one" "_list" "$!{best.songId}_$!{foreach.count}")
						#printListItemButton( $!{best.songId} "buy_one" "" "$!{best.songId}_$!{foreach.count}" "$!{foreach.count}" $!{best.album.albumId} $!{title} $!{artistName} $!{best.album.packageSaleYn} "" "" "")
					</span>
					<span class="col_user">
						<span class="txt_user">#strCut($!{best.nickName}, 20)</span>
						#if( $StringUtils.isNotBlank("$!{encodedUserId}"))
							#if($StringUtils.equals("$!{encodedUserId}", "$!{best.getEncodedUserId()}"))
								<a href="#" title="삭제" onclick="daum.Music.MusicBar.delItem('$!{best.userRequestId}'); return false;" ><img width="15" height="15" alt="" src="http://s1.daumcdn.net/img-contents/music/2011_home/common/ico_gaia_del.gif"></a>
							#end
						#end
						#if( $!{adminRoleId} && $!{adminRoleId} > 2 )
							<a href="#" title="삭제" onclick="daum.Music.MusicBar.delItem(event, '$!{best.userRequestId}'); return false;" ><img width="15" height="15" alt="" src="http://s1.daumcdn.net/img-contents/music/2011_home/common/ico_gaia_del.gif"></a>
						#end
						<span class="fc_etc">$!{CheckDate.makeReleaseDate($!{best.regdttm})}</span>
					</span>
					<span class="col_recomm">
						<a title="추천하기" href="javascript:;" class="btn_comm btn_recom" onclick="daum.Music.MusicBar.Recommend('recomNum$!{best.songId}_$!{foreach.count}', '$!{encodedUserId}', '$!{best.userRequestId}', '$!{best.getEncodedUserId()}'); return false;"><span class="screen_out">추천</span><em id="recomNum$!{best.songId}_$!{foreach.count}" class="num_recom">$!{best.recommendCount}</em></a>
					</span>
					#printListItemButton( $!{best.songId} "mp3" $!{best.MP3LinkId} "N" $!{best.album.packageSaleYn} $!{best.album.albumId} $!{title} $!{artistName} "" "" "" "")
					#printListItemButton( $!{best.songId} "bgm" $!{best.BGMLinkId} "N" "" "" "" "" "" "" "" "")
				</li>
				#end
				#foreach($best in $boardContents.songCommentList)
					#if($StringUtils.isNotBlank('$!{boardContents.bestCommentList.size()}'))
						#set($idx = $!{boardContents.bestCommentList.size()} + $foreach.count)
					#end
				#set($title = $best.title.replaceAll("\'","&apos;"))
				#set($artistName = $!StringCutUtil.removeTag( "#printArtistName( $!{best.keyArtistList} '' 20 true )") )
				<li id="track$!{best.songId}_$!{idx}" data-userequestid="$!{best.userRequestId}" class="track">
					<span class="col_check">
				##		<input id="eachCheck$!{best.songId}_$!{idx}" type="checkbox" name="trackCheckbox" value="$!{best.songId}" albumId="$!{best.album.albumId}" title="$!{title}" artistName="$!{artistName}" packageSaleYn="$!{best.album.packageSaleYn}" isAODLinkId="$!{best.AODLinkId}">
					<input id="eachCheck$!{best.songId}_$!{idx}" type="checkbox" name="trackCheckbox" value="$!{best.songId}">
					</span>
					<span class="col_song">
						<strong class="screen_out">곡명</strong>
						#printSongName( $best "tit_song" 30 true false false)
						<strong class="screen_out">아티스트</strong>
						<span class="wrap_artist">
							#printArtistName( $best.keyArtistList "" 30 true )
						</span>
					</span>
					<span class="col_access">
						#printListItemButton( $!{best.songId} "listen" $!{best.AODLinkId} "" "" "" "" "" "" "" "" "")
						#printListItemButton( $!{best.songId} "lyrics" $!{best.lyricsYn} "" "li" $!{title} $!{idx} false "" "" "" "")
						#foreach($artist in $best.keyArtistList)
							#if($foreach.count == 1)
							#printListItemButton( $!{best.album.albumId} "album" $!{artist.artistId} "" "" "" "" "" "" "" "" "")
							#else
							#end
						#end
					##	#printListItemButton( $!{best.songId} "buy_one" "_list" "$!{best.songId}_$!{idx}")
						#printListItemButton( $!{best.songId} "buy_one" "$!{best.songId}_$!{idx}" "$!{idx}" $!{best.album.albumId} $!{title} $!{artistName} $!{best.album.packageSaleYn} "" "" "" "")
					</span>
					<span class="col_user">
						<span class="txt_user">#strCut($!{best.nickName}, 20)</span>
						#if( $StringUtils.isNotBlank("$!{encodedUserId}"))
							#if($StringUtils.equals("$!{encodedUserId}", "$!{best.getEncodedUserId()}"))
								<a href="#" title="삭제" onclick="daum.Music.MusicBar.delItem(event, '$!{best.userRequestId}'); return false;" ><img width="15" height="15" alt="" src="http://s1.daumcdn.net/img-contents/music/2011_home/common/ico_gaia_del.gif"></a>
							#end
						#end
						#if( $!{adminRoleId} && $!{adminRoleId} > 2 )
							<a href="#" title="삭제" onclick="daum.Music.MusicBar.delItem(event, '$!{best.userRequestId}'); return false;" ><img width="15" height="15" alt="" src="http://s1.daumcdn.net/img-contents/music/2011_home/common/ico_gaia_del.gif"></a>
						#end
						
						<span class="fc_etc">$!{CheckDate.makeReleaseDate($!{best.regdttm})}</span>
					</span>
					<span class="col_recomm">
						<a title="추천하기" href="javascript:;" class="btn_comm btn_recom" onclick="daum.Music.MusicBar.Recommend('recomNum$!{best.songId}_$!{idx}', '$!{encodedUserId}', '$!{best.userRequestId}', '$!{best.getEncodedUserId()}'); return false;"><span class="screen_out">추천</span><em id="recomNum$!{best.songId}_$!{idx}" class="num_recom">$!{best.recommendCount}</em></a>
					</span>
					#printListItemButton( $!{best.songId} "mp3" $!{best.MP3LinkId} "N" $!{best.album.packageSaleYn} $!{best.album.albumId} $!{title} $!{artistName} "" "" "" "")
					#printListItemButton( $!{best.songId} "bgm" $!{best.BGMLinkId} "N" "" "" "" "" "" "" "" "")
				</li>
				#end
			</ul>
			#end
			<div class="wrap_tool_btn">	
				<div class="tool_btn">
					#printListButtonFoot( "song" "" "" "" "")
				</div>
			</div>
			#if( $!{boardContents.totalCommentCount} > 10 )
			<div id="RecomWrapToggle" class="wrap_folding">
				<a class="link_unfold" href="javascript:;" onclick="daum.Music.MusicBar.showMoreItems('$!{boardInfo.boardId}'); return false;" title="추천노래 더보기"><span class="arr_comm">펼치기</span></a>
				<a id="closeMoreItemsButton" class="link_fold" href="javascript:;" title="추천 노래 더보기 접기"><span class="arr_comm">접기</span></a>
			</div>
			#end
		</div>
	</div>
#end

#if($event) 
	#printEvent( $event $album $artist $songList $boardInfo)
#end

#if( $StringUtils.isBlank("$!{event}") || !$event )		## 4번도 있는데 아직 고려 사항임
	<div><iframe id="commentFrame" frameborder="0" width="100%" height="" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN', '')/gaia/do/comment/commentList?bbsId=C008&articleId=$!{boardInfo.articleId}&templatePath=/content.htmp"></iframe></div>
#elseif( $event && $event.musicEventType == 2 )
	<div><iframe id="commentFrame" frameborder="0" width="100%" height="" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN', '')/gaia/do/comment/commentList?bbsId=C008&articleId=$!{boardInfo.articleId}&templatePath=/content.htmp"></iframe></div>
#end

	<div class="wrap_list_prevnext CT_ZONE_OTHERLIST">
		<ul class="list_letter">
			#foreach($board in $otherBoardList)
			<li #if( $StringUtils.equals("$!{boardInfo.boardId}", "$!{board.boardId}") )class="on"#end>
				<span class="f_l item_tit">
					<a href="/musicbar/musicbar/detail?board_id=$!{board.boardId}&menu_id=$!{boardInfo.menuId}" class="txt_tit ico_gaia">#strCut($!{board.title}, 50)</a>
				</span>
				<span class="fc_etc">$!{CheckDate.makeReleaseDate($!{board.regdttm})}</span>				
			</li>
			#end
		</ul>
	</div>
	#if(!$CollectionUtils.isEmpty($motTempleteList))
		<div class="wrap_event CT_ZONE_EVENTBANNER">
			#printDetailEventBanner($motTempleteList) 
		</div>
	#end
</div>

#foreach($board in $boardContents.boardTempleteList)
    #if($StringUtils.equals("$!{board.templeteName}", "SL"))
		#printSNSList( $board.songList )
    #end
#end

#if( $StringUtils.equals("$boardInfo.commentYn", "Y") )
    #printSNSList( $boardContents.bestCommentList )
    #printSNSList( $boardContents.songCommentList )
#end

#set($totalRecomCount = $!{boardContents.totalCommentCount} )
#if( $boardContents.bestCommentList.size() )
	#set( $bestRecomCount = $boardContents.bestCommentList.size() )
#else
	#set( $bestRecomCount = 0 )
#end

<script type="text/javascript">
	var controller = new daum.Music.ListPrototype();
	controller.initialize({isMusicBar : true});
	daum.Music.MusicBar.setBoardInfo({boardId:'$!{boardInfo.boardId}', adminId:'$!{adminRoleId}', encodeUserId:'$!{encodedUserId}', totalRecomCount:'$!{totalRecomCount}', bestRecomCount:'$!{bestRecomCount}'});
</script>	
#*
<script type="text/javascript">
	var controller = new daum.Music.ListPrototype();
	controller.initialize({container:'trackContainer$!{board.templeteOrder}', checkboxName:'trackCheckbox$!{board.templeteOrder}', allCheckbox:'allCheck$!{board.templeteOrder}'});
</script>
*#
<script type="text/javascript">//<![CDATA[
//var ct_pid = "music_musicbar_detail"; 
//]]></script>

<script type="text/javascript">//<![CDATA[
	daum.Event.addEvent( window, "load", function(){
		new daum.Ajax().request('/pageview/pageView.json', {paramString:'objId=$!{boardInfo.boardId}&objType=RV', onsuccess:function(r){}.bind(this)});
	});
//]]></script>





#if( $StringUtils.equals("$!{command.debugmode}","2") )
운영자 로그인시 내려오는 값 : $adminRoleId <br/>
전체 곡리스트 : $boardContents.totalSongIdList
<br/><br/>
게시글 아이디:$boardInfo.boardId <br/>
게시글 제목 : $boardInfo.title <br/>
게시글 댓글아이디 : $boardInfo.bbsId <br/><br/>
카테고리 메뉴이미지 : $boardInfo.menuImage <br/><br/>
카테고리 메뉴이름 : $boardInfo.menuName <br/><br/>
게시 날짜 : $boardInfo.regdttm <br/><br/>
게시글 추천 수 :$boardInfo.recommendCount <br/><br/>

##템플릿 리스트
#foreach ($board in $boardContents.boardTempleteList)
	#if($board.templeteName == "BA") ##텍스트 기본
	<b>BA</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.title</br>
		내용: $board.contents</br></br>
	#elseif($board.templeteName == "TB") ##상단 타이틀 기본 X
	<b>TB</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		소제목: $board.subTitle</br>
		제목: $board.title</br>
		이미지주소: $board.imageUrl</br></br>
	#elseif($board.templeteName == "AI") ##통이미지
	<b>AI</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.title</br>
		링크: $board.linkUrl</br>
		이미지주소: $board.imageUrl</br></br>
	#elseif($board.templeteName == "IT") ##이미지 + 텍스트
	<b>IT</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.title</br>
		내용: $board.contents</br>
		링크: $board.linkUrl</br>
		이미지위치: $board.imageAlign</br>
		이미지주소: $board.imageUrl</br></br>
	#elseif($board.templeteName == "VC") ##동영상
	<b>VC</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.title</br>
		비디오ID: $board.id</br>
		티비팟vid(비디오id가 있을경우) : $board.videoInfo.tvpotVId</br>
		비디오주소: $board.vclipUrl</br>
		내용: $board.htmlContents</br></br>
		서비스상태 : $$board.videoInfo.svcstatus
	#elseif($board.templeteName == "SL") ##곡리스트
	<b>SL</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		곡 리스트:<br/>
		곡 리스트제목:$board.songTitle<br/>
		#foreach ($song in $board.songList)
			곡아이디: $song.songId<br/>
			곡명 : $song.title<br/>
			앨범아이디 : $song.album.albumId<br/>
			앨범명 : $song.album.title<br/>
			#foreach ($artist in $song.keyArtistList)
				아티스트아이디 : $artist.artistId<br/>
				아티스트명 : $artist.name<br/>
			#end
			가사유무 : $song.lyricsYn<br/>
			aodLinkId : $song.AODLinkId<br/>
			bgmLinkId : $song.BGMLinkId<br/>
			mp3LinkId : $song.MP3LinkId<br/>
			$song.ringSalesStatus<br/>
			##송커멘트 : $board.songCommentList.get($foreach.index)</br></br>
			패키지 : $song.album.packageSaleYn<br/>
			
		#end
		<br/>
	#elseif($board.templeteName == "AL") ##앨범형
	<b>AL</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		앨범 리스트:<br/>
		앨범 리스트제목:$board.albumTitle<br/>
		#foreach ($album in $board.albumList)
			앨범아이디 : $album.albumId<br/>
			앨범명 : $album.title<br/>
			#foreach ($artist in $album.keyArtistList)
				아티스트아이디 : $artist.artistId<br/>
				아티스트명 : $artist.name<br/>
			#end
			발매일 : $album.releaseDt<br/>
			앨범평 : $album.description<br/>
			듣기가능 : $album.playYn<br/>
			이미지주소 : $album.mainImage.filePath<br/>
			대표곡 아이디 : $album.masterSong.songId<br/>
			대표곡명 : $album.masterSong.title<br/>
			AODLINKID : $album.masterSong.AODLinkId<br/>
			추천 수 : $album.recommendCount<br/>
			<br/>
		#end
		<br/>
	#elseif($board.templeteName == "RT") ##관련정보탭형
	<b>RT</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		앨범 리스트:<br/>
		앨범 리스트제목:$board.albumTitle<br/>
		#foreach ($album in $board.albumList)
			앨범아이디 : $album.albumId<br/>
			앨범명 : $album.title<br/>
			#foreach ($artist in $album.keyArtistList)
				아티스트아이디 : $artist.artistId<br/>
				아티스트명 : $artist.name<br/>
				아티스트이미지 : $artist.mainImage.filePath<br/>
			#end
			발매일 : $album.releaseDt<br/>
			앨범평 : $album.description<br/>
			듣기가능 : $album.playYn<br/>
			이미지주소 : $album.mainImage.filePath<br/>
			대표곡 아이디 : $album.masterSong.songId<br/>
			대표곡명 : $album.masterSong.title<br/>
			AODLINKID : $album.masterSong.AODLinkId<br/>
			<br/>
		#end
		<br/>
		아티스트 리스트:<br/>
		아티스트 리스트제목:$board.artistTitle<br/>
		#foreach ($artist in $board.artistList)
			아티스트아이디 : $artist.artistId<br/>
			아티스트명 : $artist.name<br/>
			아티스트이미지 : $artist.mainImage.filePath<br/>
		#end
		<br/>
	#elseif($board.templeteName == "WI") ##작성자 정보
	<b>WI</b> <br/>
		작성자id : $board.writerInfo.djId <br/>
		작성자명 : $board.writerInfo.name <br/>
		작성자이미지 : $board.writerInfo.imageUrl <br/>
		작성자정보 : $board.writerInfo.info <br/>
		작성자직업 : $board.writerInfo.job <br/>
		회사명 : $board.writerInfo.companyName <br/>
		회사url : $board.writerInfo.companyUrl <br/>
		회사정보 : $board.writerInfo.companyInfo <br/>
		<br/>
	#elseif($board.templeteName == "VL") ##동영상뷰어
	<b>VL</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.vclipTitle</br>
		#foreach ($vclip in $board.vclipList)
    		티비팟vid(비디오id가 있을경우) : $vclip.tvpotVId</br>
			제목: $vclip.title</br>
    		비디오주소: $vclip.vclipId</br>
    		서비스상태 : $vclip.svcstatus<br/>
			이미지 : $vclip.mainImage.filePath<br/>
			#foreach ($artist in $vclip.keyArtistList)
				아티스트아이디 : $artist.artistId<br/>
				아티스트명 : $artist.name<br/>
			#end			
			<br/><br/>
		#end
	#elseif($board.templeteName == "PV") ##포토뷰어
	<b>PV</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.photoTitle</br>
		#foreach ($photo in $board.photoList)
			이미지 : $photo.filePath<br/>
		#end
	#elseif($board.templeteName == "PO") ##폴
	<b>PO</b> <br/>
		상단 공백여부 : $board.spaceYn</br>
		순서: $board.templeteOrder</br>
		제목: $board.pollTitle</br>
		시작일: $board.pollStartTime</br>
		종료일: $board.pollEndTime</br>
		#foreach ($poll in $board.pollItemList)
			폴순서 : $poll.pollOrder<br/>
			폴아이디 : $poll.pollId<br/>
			폴내용 : $poll.pollItem<br/>
		#end
	#end
#end

<br/><br/>
#foreach($rboard in $relatedBoardList) ##관련글
	연관뮤직바id : $rboard.boardId <br/>
	연관뮤직바제목 : $rboard.title <br/>
	<br/>
#end

사용자 인코딩 userid : $encodedUserId <br/>
곡댓글 커멘트 전체 수: $boardContents.totalCommentCount <br/>
곡 베스트댓글 <br/>
#foreach($best in $boardContents.bestCommentList)
	곡id : $best.songId <br/>
	곡제목 : $best.title <br/>
	곡길이 : $best.getTrackLengthMinute() <br/>
	앨범id : $best.album.albumId <br/>
	앨범제목 : $best.album.title <br/>
	commentId : $best.userRequestId <br/>
	암호화된 userId : $best.getEncodedUserId() <br/>
	글쓴이 : $best.nickName <br/>
	글등록일 : $best.regdttm <br/>
	추천수 : $best.recommendCount <br/>
	<br/>
#end
곡댓글 <br/>
#foreach($best in $boardContents.songCommentList)
	곡id : $best.songId <br/>
	곡제목 : $best.title <br/>
	곡길이 : $best.getTrackLengthMinute() <br/>
	앨범id : $best.album.albumId <br/>
	앨범제목 : $best.album.title <br/>
	commentId : $best.userRequestId <br/>
	암호화된 userId : $best.getEncodedUserId() <br/>
	글쓴이 : $best.nickName <br/>
	글등록일 : $best.regdttm <br/>
	추천수 : $best.recommendCount <br/>
	<br/>
#end
앞뒤게시물 <br/>
#foreach($board in $otherBoardList)
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/>
	카테고리 : $board.subTitle <br/>
	추천수 : $board.recommendCount <br/>
	댓글수 : $board.replyCount <br/>
	등록일 : $board.regdttm <br/>
	작성자 : $board.writer.nickName <br/>
	링크 : http://music.daum.net/musicbar/musicbar/detail?menu_id=$command.menu_id&board_id=$board.boardId <br/><br/>
#end

##이벤트가 있으면 가이아 댓글 대신에 이벤트 정보와 댓글을 보여준다<br/>
#if($event)
	이벤트 정보 <br/>
	이벤트 타입 : $event.musicEventType<br/>
	eventId : $event.eventId<br/>
	eventKey : $event.eventKey<br/>
	eventTitle : $event.eventTitle // 이벤트제목<br/>
	startDate : $event.startDate // 이벤트 시작일<br/>
	endDate : $event.endDate // 이벤트 종료일<br/>
	winningDate : $event.winningDate // 발표일자<br/>
	description : $event.description //이벤트 설명인데 현재 경품 내역용으로 입력하고있음<br/><br/>
	
	#if($event.musicAlbumId)
		앨범정보<br/>
		대표 이미지 : $album.mainImage.filePath<br/>
		앨범명 : $album.title<br/>
		아티스트<br/>
		#foreach($artist in $album.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		대표곡<br/>
		#foreach( $song in $album.masterSongList )
			$!{song.songId} : $!{song.title}<br/>
		#end
	#end
	
	#if($event.musicEventType == "2")
		앨범 구매이벤트인경우 곡 목록<br/>
		#foreach( $song in $songList )
			$!{song.songId} : $!{song.title}<br/>
		#end
	#end
	<br/>
	
	#if($event.musicArtistId)
		아티스트 정보<br/>
		대표 이미지 : $artist.mainImage.filePath<br/>
		$artist.name<br/>
		$artist.masterSongList<br/>
		#foreach( $song in $artist.masterSongList )
			$!{song.songId} : $!{song.title}<br/>
		#end
	#end
	
	
	</br>
	==댓글입력(닫아놓음)==
	</br>
	<input type="text" name="comment">
	##<button onclick="sendApplication('$event.eventId', $event.eventKey,'','http://music.daum.net/event/detail?event_id=$command.eventId','', 'comment'); return false;" >응모하기</button>
	<button onclick="refresh();" >리로딩</button>
	</br>
	<p>&nbsp</p>
	</br></br>
	
	==응모내용==
	<p>&nbsp</p>
	</br>
	#foreach ($comment in $commentList)
		아이디 : $comment.daumId<br/>
		이름 : $comment.daumName<br/>
		댓글 : $comment.comment<br/>
		<br/>
	#end
	
	#foreach($motTemplete in $motTempleteList)
		$motTemplete
		이미지 : $motTemplete.imageUrl <br/>
		링크 : $motTemplete.linkUrl <br/>
		<br/><br/>
	#end
	<b>하단 이벤트 배너</b><br /> 
#foreach($motTemplete in $motTempleteList)
	$motTemplete
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	<br/><br/>
#end
	## 댓글 page
	#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
#end
#end