<style type="text/css">
	.list_thumb li .wrap_info .tit {margin-left:-2px;}
</style>
#set($URI = "#getter('URI', '')")
<div class="wrap_cont section_barlist" style="width:698px;">
	<div class="wrap_option">
		<h3 class="tit_cont f_l">
			#foreach($board in $boardList)
			#if( $foreach.index == 0 && $StringUtils.isBlank("$!{command.search_word}"))
			<img height="21" width="545" src="$!{board.menuImage}" alt="$!{board.menuName}">
			#end
			#end
		</h3>
		<div id="sortOption" class="sort_option f_r">
			<a href="/musicbar/musicbar/list?menu_id=$!{command.menu_id}" onclick="daum.Music.MusicBar.clickOption('DATE'); return false;" title="최신순 바로가기"><em class="link_option">최신순</em></a><span class="txt_bar">|</span><a href="/musicbar/musicbar/list?menu_id=$!{command.menu_id}&order_type=POP" onclick="daum.Music.MusicBar.clickOption('POP'); return false;" title="인기순 바로가기"><em class="">인기순</em></a><span class="txt_bar">|</span><a href="/musicbar/musicbar/list?menu_id=$!{command.menu_id}&order_type=REPLY" onclick="daum.Music.MusicBar.clickOption('REPLY'); return false;" title="댓글순 바로가기"><em class="">댓글순</em></a>
		</div>
	</div>
	<div id="resultSerachWrap" class="box_search_result">
		뮤직Bar 전체 게시글 중 <strong id="resultSearchText" class="txt_search">'$!{command.search_word}’</strong>(으)로 검색한 결과입니다.
	</div>
	#if( $StringUtils.isBlank("$!{boardList}") || $!{boardList.size()} == 0 )
	<div class="wrap_nodata list_recom">
		<strong>해당 게시판 내용이 없습니다.</strong>
	</div>
	#else
	<ul class="list_thumb">

#foreach($board in $boardList)
		<li>
			<div class="wrap_thumb">
				<a class="thumb_link" href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" title="$!{board.title} 바로가기">
					<img width="220" height="138" alt="" src="$ImageUtil.getImageUrl("$!{board.imageUrl}", "220x138", "PHOTO", "C")">
					<span class="line_thumb"></span>
				</a>
			</div>
			<div class="wrap_info">
				<strong class="tit">
					<a class="tit_info" href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" title="$!{board.title}">#if($StringUtils.isNotBlank("$!{board.subTitle}"))<span class="fc_etc">[$!{board.subTitle}]</span>#end #strCut($!{board.title}, 60)</a>
				</strong>
				<p class="txt_desc">
					<a href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}">#if( $!{board.subTitle} != "" )#strCut("#stripHTML($!{board.summary})", 220)#{else}#strCut("#stripHTML($!{board.summary})", 300)#end</a>
				</p>
				<span class="txt_origin">
					#if( $StringUtils.isNotBlank("$!{board.writer.nickName}") )
					<a href="javascript:;" onclick="daum.Music.MusicBar.linkToWriter('$!{command.menu_id}', '$!{board.writer.nickName}'); return false;" title="$!{board.writer.nickName}" style="color:#888;">$!{board.writer.nickName}</a>	
					<span class="txt_bar"> | </span>
					#end
					<span class="txt_day">$!{CheckDate.makeReleaseDate($!{board.regdttm})}</span>
					<span class="txt_bar"> | </span>
					##<span>댓글 <em class="fc_red">#if( $StringUtils.equals("$!{board.eventYn}", "N") )$!{board.replyCount}#else$!{board.eventCommentCount}#end</em></span>
					<span>댓글 <em class="fc_red">#if( $StringUtils.equals("$!{board.eventYn}", "Y") && $StringUtils.equals("$!{board.purchaseEventYn}", "N") && !$StringUtils.equals("$!{board.eventType}", "1"))$!{board.eventCommentCount}#else$!{board.replyCount}#end</em></span>
					<span class="txt_bar"> | </span>					
					<span class="ico_comm ico_recom">
						<span class="screen_out">추천</span><em class="fc_red">$!{board.recommendCount}</em>
					</span>
					<span class="txt_bar"> | </span>					
					<span>조회 <em class="fc_red">$!{board.pvCnt}</em></span>					
				</span>
				#*
				#set($idx = 0)
				#foreach($song in $board.songList)
				#if($StringUtils.isNotBlank("$!{song.AODLinkId}") )
				#set($idx = $idx + 1)
				#if( $idx < 3 )
				<span class="song_listen">
					#printSongArtistName( $song "ico_comm ico_listen" 60 true )
				</span>
				#end
				#end
				#end
				*#
			</div>			
		</li>
#end
	</ul>
	#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
	#end
	<div class="list_footer">
		<form class="wrap_search" method="get" name="SearchForm" onsubmit="daum.Music.MusicBar.searchSubmitForm(this);">
			<fieldset>
				<input type="hidden" name="menu_id" value="$!{command.menu_id}">
				<input id="orderType" type="hidden" name="order_type" value="DATE">
				<legend class="hide">게시물 검색</legend>
				<div class="wrap_cate">
				<select class="bg_search box_search" id="search_type" name="search_type">
					<option value="TITLE">제목</option>
					<option value="NAME">글쓴이</option>
				</select>
				</div>
				##	<div class="wrap_cate">
					##	<div class="bg_search box_search">
					##		<span class="txt_cate">제목+본문</span>
					##		<span class="bg_search bg_right">
					##			<span class="ico_arrow"></span>
					##		</span>
					##	</div>
					##	<ul class="list_cate">
					##		<li>
					##			<input id="selTitle" name="qCate" class="screen_out" type="radio">
					##			<label for="selTitle">제목</label>
					##		</li>
					##		<li>
					##			<input id="selWriter" name="qCate" class="screen_out" type="radio">
					##			<label for="selWriter">글쓴이</label>
					##		</li>
					##	</ul>
				##	</div>
					<div class="bg_search box_search">
						<input id="SearchWordBox" class="inp_search" type="text" value="">
						<input name="search_word" class="inp_search" type="hidden" value="">
					</div>
					<input class="bg_search btn_search" type="submit" value="검색">
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
	daum.Music.MusicBar.init();
	new daum.Music.CustomSelect("search_type", {
		selectedCustomOptionAttributes: {
			"class": "txt_cate"
		},
		customOptionContainerAttributes: {
			"class": "list_cate"
		}
	});
</script>
#if( $StringUtils.equals("$!{command.debugmode}","2") )
우측메뉴<br/>
#foreach($motTemplete in $rightMenuList)
	타이틀 : $motTemplete.title <br/>
	일반이미지 : $motTemplete.imageUrl <br/>
	활성화이미지2 : $motTemplete.activatedImageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	활성화여부 : $motTemplete.activatedYn <br/>
	<br/><br/>
#end

#foreach($board in $boardList)
	뮤직바 상단 이미지 : $board.menuImage <br/>
	메뉴 타이틀 : $board.menuName <br/>
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/> ## 제목
	카테고리 : $board.subTitle <br/> ## 기획특집 제목
	요약 : $board.summary <br/> 
	이미지 : $board.imageUrl <br/> 
	추천수 : $board.recommendCount <br/> 
	댓글수 : $board.replyCount <br/>
	이벤트댓글수 : $board.eventCommentCount <br/>
	등록일 : $board.regdttm <br/>
	작성자 : $board.writer.nickName <br/>
	링크 : http://music.daum.net/musicbar/musicbar/detail?menu_id=$command.menu_id&board_id=$board.boardId <br/><br/>
	#foreach($song in $board.songList)
		곡제목 : $song.title<br/>
		곡아이디 : $song.songId<br/>
		가사유무 : $song.lyricsYn<br/>
		듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
		MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
		BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
		벨소리 서비스 여부 : $song.bellSalesStatus<br/>
		통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
		아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		<br/>
	#end
	<br/>
#end
<br/><br/>
#end
##page