<div class="daum_popup">
	<div class="popup_music_type1">
		<div class="popup_head">
			<h1 class="screen_out">Daum 뮤직</h1>
			<h2 class="tit_poll">poll</h2>
		</div>
		<div class="popup_body">
			#if( $!{board.pollTitle} ) <h3 class="tit_festival"> $!{board.pollTitle} </h3> #end
			<dl class="poll_info">
				<dt class="tit">총 참여자</dt>
				<dd class="info"><strong>$board.totalCount</strong>명 <span class="txt_bar">|</span></dd>
				<dt class="tit">기간</dt>
				<dd class="info"> $!{CheckDate.makeReleaseDate($!{board.pollStartTime})} - $!{CheckDate.makeReleaseDate($!{board.pollEndTime})} </dd>
			</dl>
			<table class="tbl_result" border="0" cellspacing="0" cellpadding="0" summary= "문항별 백분율 결과 안내">
			<caption class="screen_hide">투표 결과</caption>
			<colgroup>
				<col width="310px" />
				<col width="235px" />
			</colgroup>
			<thead>
			<tr>
				<th class="tit_list">문항</th>
				<th class="tit_percent">득표수</th>
			</tr>
			</thead>
			<tbody>
#foreach ($poll in $board.pollItemList)
			<tr>
				<td>$!{poll.pollItem}</td>
				<td>
					<span class="percent_bar">
						<span class="percent" style="width:$!{poll.pollPerc}%"></span>
					</span>
					<span class="txt_percent">$!{poll.pollCountComma}</span>
				</td>
			</tr>
#end			
			</tbody>
			</table>
		</div>
		<div class="popup_foot">
			<a href="javascript:;" onclick="self.close();return false;" class="btn_close">닫기</a>
		</div>
	</div>
</div>