#*
#uaCheck()
<div id="daumContent" class="cont_purchase cont_discount" role="main">
#if( !$isIos == true )	
	#printPurchaseMenuApp("1")
#end
	<div class="wrap_cont">
		<strong class="tit_discount"><img src="http://m1.daumcdn.net/img-contents/music/mobile/m320/img_discount.png" width="275" height="135" class="thumb_discount" alt="Daum Music 3개월 반값 할인"></strong>
		<div class="box_type1">
			<em class="tit_purchase">스트리밍 무제한</em>
			<span class="txt_detail">PC + 스마트폰에서 무제한 전곡듣기</span>
			<a href="#none" class="link_discount" onclick="javascript:music.mobile.Ticket.buyTicket('APG0028','')">
				<span class="txt_discount">자동결제 <span class="txt_price">6,000원</span></span>
				<span class="ico_purchase">반값</span>
				<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="bg_amount txt_amount30">3,000원</em></span>
			</a>
		</div>
		<div class="box_type1">
			<em class="tit_purchase">스마트폰 무제한</em>
			<span class="txt_detail">스마트폰에서 무제한 듣기 + 무제한 대여</span>
			<a href="#none" class="link_discount" onclick="javascript:music.mobile.Ticket.buyTicket('APMOG0035','')">
				<span class="txt_discount">자동결제 <span class="txt_price">8,000원</span></span>
				<span class="ico_purchase">반값</span>
				<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="bg_amount txt_amount40">4,000원</em></span>
			</a>
		</div>
		<div class="box_type1">
			<em class="tit_purchase tit_type3">MP3 30곡  + 무제한 듣기</em>
			<span class="txt_detail">MP3 30곡 다운로드 + 무제한 전곡듣기</span>
			<a href="#none" class="link_discount"  onclick="javascript:music.mobile.Ticket.buyTicket('AMG0023','')">
				<span class="txt_discount">자동결제 <span class="txt_price">9,000원</span></span>
				<span class="ico_purchase">반값</span>
				<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="bg_amount txt_amount45">4,500원</em></span>
			</a>
		</div>
		<div class="box_type1">
			<em class="tit_purchase tit_type3">MP3 30곡 다운로드</em>
			<span class="txt_detail">PC/안드로이드앱에서 MP3 30곡 다운로드</span>
			<a href="#none" class="link_discount" onclick="javascript:music.mobile.Ticket.buyTicket('MCG0016','')">
				<span class="txt_discount">자동결제 <span class="txt_price">6,000원</span></span>
				<span class="ico_purchase">반값</span>
				<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="bg_amount txt_amount30">3,000원</em></span>
			</a>
		</div>
		<strong class="tit_purchaseinfo">3개월 특가 할인 안내</strong>
		<ul class="list_notice">
			<li><em class="emph_notice">이용권 구매 시 부가세 10%가 별도 청구됩니다.</em></li>
			<li><em class="emph_notice">3개월 특가 할인 상품은 이용권 구매일로부터 최대 3개월간 할인가격이 적용되며, 4개월차부터 정상가로 결제됩니다.</em></li>
			<li>특가 할인가로 이용 중 상품을 해지하실 경우, 특가 할인상품 구매가 제한되며 정상가로 구매는 가능합니다.</li>
			<li>본 상품은 이용 시작일 기준 7일 이내 청약철회 가능상품입니다. 단, 이용권 구매 후 전곡듣기를 1건이라도 사용하셨거나 다운로드를 1곡이라도 사용 시에는 취소, 환불이 불가능합니다.</li>
			<li>본 프로모션은 사전예고 없이 종료될 수 있습니다.</li>
		</ul>
	</div> 
</div>
<!-- 2014-10-13 수정,추가 페이지 끝 -->
#parse("/velocity/mobileweb/ticket/ticketitem/ticket.vm")
#parse("/velocity/mobileweb/realtimeissue.vm")
*#
<script type="text/javascript">
    alert("2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.")
    history.back();
</script>