
## 배너 영역
<div class="bnr_info2 CT_ZONE_HOME_LEFTBANNER">
#if(!$CollectionUtils.isEmpty($leftDownBannerTotalImageList) && $StringUtils.isNotBlank("$!{leftDownBannerTotalImageList.get(0).imageUrl}"))
	## 통이미지형 배너 일때
    #foreach($motTemplete in $leftDownBannerTotalImageList)
	<a href="#replaceAmp($!{motTemplete.linkUrl})" class="bnr_img" title="배너광고" style="display:none;">
		<img width="220" height="190" alt="#escTitle($!{motTemplate.title})" src="$ImageUtil.getImageUrl("$!{motTemplete.imageUrl}", "220x190", "PHOTO", "C")"/>
	</a>
	<script type="text/javascript">
		(function(){
            var list = daum.$$(".bnr_info2 .bnr_img");
            var randIndex = Math.floor(Math.random()*list.length);
            daum.Element.show(list[randIndex]);
        })();
	</script>
	#end
#else
	#if(!$CollectionUtils.isEmpty($leftDownBannerNormalList))
	## 리스트형 배너 일때
	<ul class="list_bnr">  
		#foreach($motTemplete in $leftDownBannerNormalList)
		<li #if($foreach.index == 0)class="fst"#end>
			<a class="thumb_link" href="#replaceAmp($!{motTemplete.linkUrl})" title="배너광고">
				<img width="63" height="42" alt="#escTitle($!{motTemplate.title})" src="$ImageUtil.getImageUrl("$!{motTemplete.imageUrl}", "63x42", "PHOTO", "C")"/>
				<span class="line_thumb"></span>
			</a>
			<span class="thumb_info">
				<a href="#replaceAmp($!{motTemplete.linkUrl})" title="#escTitle($!{motTemplate.title})">#strCut("$!{motTemplete.contents}", 45)</a>
			</span>			
		</li>
		#end
	</ul>
    #end
#end
</div>

<div class="section_now" id="section_onair">

</div>

<script type="text/javascript">
	
	jQuery("document").ready(
	function(){
		var ajaxUrl = "/onair/songlistformusictop.json";
		var opt = {
	    	method : "POST",
	    	onsuccess : function(res){
				var data = daum.jsonToObject(res.responseText);
				daum.Music.Home.Timeline.addSongToList(data);
	    	}
	    };
	    new daum.Ajax().request(ajaxUrl, opt);
	});
</script>
