#set($titleMap = {
	
	"musicbar": {
		"title": "$!{boardInfo.title}",
		
		"musicbar" : {
			"title" : "",
			"detail" : {
				"title" : "$!{boardInfo.menuName}",
				"image" : "$!{$boardInfo.menuImage}",
				"description" : ""
			}
		}
	},
	
	"event" : {
		"title" : "이벤트",
		"image" : "",
		"description" : ""
	},

	"artist" : {
		"title" : "$!{artist.name}",
		"image" : "$!{artist.mainImage.filePath}",
		"description" : "#strCut( $!{artist.wikiInfo}, 260 )"
	},
	
	"album" : {
		"title" : "$!{album.title}",
		"image" :"$!{album.mainImage.filePath}",
		"description" : "#strCut( $!{album.description}, 260 )",
		"songTitle" : "$!{song.title}",
		"songImage" : "$!{song.album.mainImage.filePath}"
	},
	
	"song" : {
		"title" : "$!{song.title}",
		"image" : "$!{song.album.mainImage.filePath}",
		"description" : ""
	},
	"onair": {
		"timeline" : {
			"title" : "방금그곡"
		},
		"radio" : {
			"recomm" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"channel" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"genre" :{
				"list" : {
					"title" : "방금그곡"
				}
			},
			"detail" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표",
				"image" : "$!{selectedProgram.programImage}",
				"description" : "#strCut($!{selectedProgram.description}, 260)"
			}
		},
		"tv" : {
			"list" : {
				"title" : "방금그곡"
			},
			"detail" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표",
				"image" : "$!{selectedProgram.programImage}",
				"description" : "#strCut($!{selectedProgram.description}, 260)"
			}
		}
	}
})

#getOpenGraphData($titleMap, "#getter('PATH_URI', '')")
#if($StringUtils.contains("#getter('PATH_URI', '')", "musicbar/detail") && $StringUtils.isNotBlank("$!{boardInfo.imageUrl}") )
	<meta property="og:image" content="$ImageUtil.getImageUrl("$!{boardInfo.imageUrl}", "200x200", "","R")">
#end
#set($seperator = "")
#if("$title" !="")#set($seperator = " | ")#end
#if("$songTitle" !="")#set($seperator = " | ")#end
#if($StringUtils.isNotBlank("$!{songTitle}"))
<meta property="og:title" content="$!{songTitle}$!{seperator}Daum">
#else
<meta property="og:title" content="$!{title}$!{seperator}Daum">
#end
#if($StringUtils.isNotBlank("$!{songImage}") )
<meta property="og:image" content="$ImageUtil.getImageUrl("$!{songImage}", "200x200", "")">
#elseif($StringUtils.isNotBlank("$!{image}"))
<meta property="og:image" content="$ImageUtil.getImageUrl("$!{image}", "200x200", "")">
#else
<meta property="og:image" content="http://m1.daumcdn.net/svc/image/U03/common_icon/557673530569150003">
#end

##<meta property="og:title" content="$!{title}$!{seperator}Daum">
###if($StringUtils.isNotBlank("$!{image}") )
##<meta property="og:image" content="$ImageUtil.getImageUrl("$!{image}", "200x200", "")">
###else
##<meta property="og:image" content="http://m1.daumcdn.net/svc/image/U03/common_icon/557673530569150003">
###end


#if($StringUtils.contains("#getter('PATH_URI', '')", "/onair/"))
	#if($StringUtils.isNotBlank("$!{description}"))
		#set ($description = $!{description} + " - 방금 전 TV와 라디오에서 나온 그 노래가 궁금하다면?! 이제 Daum뮤직 - 방금그곡 에서 실시간으로 확인하세요. 혹은 다음 검색창에 '방금그곡'을 입력하세요!")
	#else
		#set ($description = "방금 전 TV와 라디오에서 나온 그 노래가 궁금하다면?! 이제 Daum뮤직 - 방금그곡 에서 실시간으로 확인하세요. 혹은 다음 검색창에 '방금그곡'을 입력하세요!")
	#end
#end
<meta property="og:description" content="">
<meta property="og:site_name" content="Daum">
<meta name="keywords" content="다음" />