## wrapClass에는 아래와 같은 순서로 된 4가지의 정보들로 조합됩니다.
## os정보(prefix값으로 "os_"가 붙음),  browser정보,  platform명, version값(prefix값으로 "version_"가 붙음)
## ex 1.) os_mac safari pc version_5_0_3
## ex 2.) os_android android mobile version_4_0_3
## ex 3.) os_windows msie mobile version_9_0
## ex 4.) os_bada dolfin mobile version_2_2

#uaCheck()
#set($wrapClass = "os_$ua_result.os.name $ua_result.browser.name $ua_result.platform version_$ua_result.browser.version.replace('.', '_')")
<div id="daumWrap" class="$!wrapClass"> 
	