<style type="text/css">
.section_interest .tab_genre .tab_mycont .tab_KO {width:68px;background-position:0 -560px;}
.section_interest .tab_genre .tab_mycont .tab_PO {width:66px;background-position:-70px -560px;}
.section_interest .tab_genre .tab_mycont .tab_OS {width:63px;background-position:-138px -560px;}
.section_interest .tab_genre .tab_mycont .tab_JP {width:70px;background-position:-203px -560px;}
.section_interest .tab_genre .tab_mycont .tab_JA {width:91px;background-position:-276px -560px;}
.section_interest .tab_genre .tab_mycont .tab_CL {width:111px;background-position:-368px -560px;}
.section_interest .tab_genre .tab_mycont .tab_WO {width:75px;background-position:-482px -560px;}
.section_interest .tab_genre .tab_mycont .tab_RE {width:76px;background-position:-559px -560px;}
.section_interest .tab_genre .tab_mycont .tab_ET {width:76px;background-position:-636px -560px;}	

.article_my .setting {padding-top:0;}
</style>	
 ##referer_service
<div class="article_my">	
	<div class="section_interest $!Escape.url($!{command.referer_service})">
		#if(!$StringUtils.equals("$!{command.referer_service}", "setting")) 
		<div class="wrap_title">
			<h3 class="tit_mymusic tit_interest">관심장르 추천신보</h3>
			<span class="txt_interest">
					<span class="txt_bar"> | </span>
					좋아하는 장르를 설정하시면 해당 장르 신보를 매일 받아보실 수 있습니다.
			</span>
		</div>
		#end
 
		<form action="">
			<fieldset>
				<legend class="screen_out">관심장르 설정</legend>
				<div class="wrap_list_genre">
					<div class="bg_list_genre">
						<div class="wrap_tab tab_genre">
							
							<ul class="tab_mycont">
    						#if($!{myGenreList})
    							#foreach($item in $myGenreList)
								<li #if($foreach.index==0)class="on"#end>
									<a class="tab_$!{item.genreCode}" href="#" onclick="return false">$!{item.genreName}</a>
								</li>
								#end 
							#end
							</ul>
						</div>
						<div class="sub_genre_list scroll">
						#set($totCount = 0)
						#if($!{myGenreList})
							#foreach($item in $myGenreList)
							<ul id="genre_$!{item.genreCode}" class="list_genre#if($foreach.index!=0) hide#end" >
								
								#set( $allChecked = true)
								#foreach($genre in $item.genreList)
									#if(!$StringUtils.equals("$!{genre.userChecked}", "Y"))
										#set( $allChecked = false)
									#else
										#set($totCount = $totCount+1)
									#end
								#end
								<li>
									<input id="chkGC_$!{item.genreCode}" type="checkbox" #if($!{allChecked})checked#end tag="$!{allChecked}" class="inp_chk" onclick='daum.Music.MyFavoriteGenre.allCheck(this,"$!{item.genreCode}");'><label class="lab_chk" for="chkGC_$!{item.genreCode}">전체</label>
								</li>
								#foreach($genre in $item.genreList)
								<li>
									<input id="chkGC_$!{genre.genreCode}" name="chkGenreCode" class="inp_chk inp_$!{item.genreCode}" type="checkbox" value="$!{genre.genreCode}"
										#if($StringUtils.equals("$!{genre.userChecked}", "Y"))checked#end tag="#if($StringUtils.equals("$!{genre.userChecked}", "Y"))true#{else}false#end"><label for="chkGC_$!{genre.genreCode}" class="lab_chk">$genre.genreName</label>
								</li>
								##end
								#end
							</ul>
							#end
						#end	
						</div>
					</div>
					<div class="wrap_btn">
						<a class="btn_mymusic btn_submit" href="javascript:;" onclick='daum.Music.MyFavoriteGenre.submit("$!Escape.url($!{command.referer_service})");return false'>수정</a>
						<input class="btn_mymusic btn_cancel" type="clear" value="취소"  onclick='daum.Music.MyFavoriteGenre.cancel("$!Escape.url($!{command.referer_service})");return false'>
					</div>
				</div>
			</fieldset>			
		</form>
	</div>
</div>
<script type="text/javascript">
daum.Music.MyFavoriteGenre.init(daum.$$(".tab_mycont")[0], {totCount:$!{totCount}});
</script>
#if( $StringUtils.equals("$!{command.debugmode}","2") )
	#*
<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- userChecked라는 부분이 Y인 녀석들을 체크박스에 표시해 주세요^^  
<br/>- 체크박스를 선택하고 수정버튼 클릭시, 체크된 장르코드값을 전부넘겨주세요(구분자는/로 제일 마지막은 붙이지말아주세요^^). ex)insert.do?code_list=ET01/ET02 
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
</div>
*#
모든장르 : 
#if($!{myGenreList})	
	#foreach($item in $myGenreList)
		대: $item.genreName ($item.genreCode) <br/>
	
		#foreach($genre in $item.genreList)
			ㅡ $genre.genreName  ($genre.genreCode) $genre.userChecked<br/>
		#end
	#end
#end
<br/>
#end
