#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
	<div class="cont_navi">
		<h3 class="tit">앨범</h3>
#btnPrev()
	</div>
	<div class="section_album">
		<div class="wrap_cont">
			<div class="wrap_detail_tit">
				<a href="/artist/main?artist_id=$!{artist.artistId}">
				<div class="thumb">
					<img #if($isWVGA)width="49" height="49"#else width="33" height="33"#end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{artist.mainImage.filePath}", "33x33", "ARTIST", "C")" class="thumb_img">
					<span class="outline"></span>
				</div>
				<h4 class="tit"><span class="tit_album">$!{artist.name}</span></h4>
				</a>
			</div>
			<ul class="list_info list_thumb">
#foreach($album in $albumList)
				<li>
    				<div class="wrap_cont">
    					<a href="/album/main?album_id=$!{album.albumId}" class="wrap_thumb">
    						<span class="thumb">
    							<img #if($isWVGA)width="141" height="141"#else width="94" height="94"#end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "94x94", "ALBUM", "C")" class="thumb_img">
    							<span class="outline"></span>
    						</span>
    						<span class="info">
    							<strong class="tit">$!{album.title}</strong>
    							<span class="txt_info">#foreach($artist in $album.keyArtistList)#if($velocityCount!=1), #end$!{artist.name}#end<span class="txt_bar"> | </span>$CheckDate.makeReleaseDate($!{album.releaseDt})</span>
    						</span>
    					</a>
    				</div>
    			</li>
#end
			</ul>
		</div>
#mobilePaging($pagingUrl, $command.page_no, $pageHandler)
	</div>
#SearchForm("only_bottom")
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")


#*
아티스트 정보 <br />
대표이미지 : $!{artist.mainImage.filePath} <br />
아티스트명 : $!{artist.name} <br />
아티스트ID : $!{artist.artistId} <br />
<br />

#foreach($album in $albumList)
	albumId :$!{album.albumId} <br/>
    title:$!{album.title} <br/>
	typeCd:$!{album.typeCd} <br/>
	typeName:$!{album.typeName} <br/>
	volume:$!{album.volume} <br/>
	releaseDt:$!{album.releaseDt} <br/>
	playYn:$!{album.playYn} <br/>
	imageUrl:$!{album.mainImage.filePath} <br/><br/>
	artists <br />
	#foreach($artist in $album.keyArtistList)
		Id : "$!{artist.artistId}" <br />
		name : "$!{artist.name}" <br />
	#end
<br />	
#end

##page
#printPaging($pagingUrl, $command.page_no, $pageHandler)

*#