#parse("/velocity/onair/common/menu.vm") 

<h3 class="screen_out">방금 그 곡</h3>
<input id="standardStartDate" type="hidden"  value="$!{command.searchSDate}">
<input id="standardEndDate" type="hidden"  value="$!{command.searchEDate}">
<div class="now_detail now_option">
	<strong class="screen_out">옵션 선택</strong>
	#parse("/velocity/onair/common/searchMenu.vm") 
	<h4 class="screen_out">프로그램 검색</h4>
	<a href="/onair/timeline" class="btn_now btn_live">실시간 보기</a>
	<div class="detail_option">
		<form id="searchProgramForm" action="/onair/search/program" onsubmit="daum.Music.Onair.searchSubmitForm('searchProgramForm');">
			<fieldset>
				<legend class="screen_out">프로그램 검색 폼</legend>
				<div id="boxSearchBar" class="box_searchbar ">
					<label id="tfSearchTxt" for="tfSearch" class="#if($StringUtils.isBlank("$!{command.programName}"))lab_search #else screen_out #end">프로그램명을 입력하세요</label><!-- 입력창 선택시 screen_out 으로 변경 (class="screen_out") -->
					<input type="text" id="tfSearch" class="tf_keyword" name="programName"  value="$!{command.programName}" title="검색어 입력" onclick="jQuery('#tfSearchTxt').addClass('screen_out')">
					<button type="submit" class="btn_now btn_search"><span class="ir_wa">검색</span></button>
				</div>
				<div class="opt_date">
					<strong class="tit_now">날짜</strong>
					<ul id="titDateList" class="list_option">
						<li #if($StringUtils.equals("$!{command.searchDueType}","today"))class="on"#end>
							##<button type="button" class="btn_now btn_today">오늘</button>
							<input type="radio" name="searchDueType" value="today" class="screen_out" id="sh_t1" onclick="daum.Music.Onair.setSearchDate('sh_t1','today','searchProgramForm');" #if($StringUtils.equals("$!{command.searchDueType}","today"))checked#end>
							<label class="btn_now btn_today" for="sh_t1">오늘</label>	
						</li>
						<li #if($StringUtils.equals("$!{command.searchDueType}","week"))class="on"#end>
							##<button type="button" class="btn_now btn_day7">7일</button>
							<input type="radio" name="searchDueType" value="week" class="screen_out" id="sh_t2" onclick="daum.Music.Onair.setSearchDate('sh_t2','week','searchProgramForm');" #if($StringUtils.equals("$!{command.searchDueType}","week"))checked#end>
							<label class="btn_now btn_day7" for="sh_t2">7일</label>	
						</li>
						<li #if($StringUtils.equals("$!{command.searchDueType}","day15"))class="on"#end>
							##<button type="button" class="btn_now btn_day15">15일</button>
							<input type="radio" name="searchDueType" value="day15" class="screen_out" id="sh_t3" onclick="daum.Music.Onair.setSearchDate('sh_t3','day15','searchProgramForm');" #if($StringUtils.equals("$!{command.searchDueType}","day15"))checked#end>
							<label class="btn_now btn_day15" for="sh_t3">15일</label>
						</li>
						<li #if($StringUtils.equals("$!{command.searchDueType}","day30"))class="on"#end>
							##<button type="button" class="btn_now btn_month">한달</button>
							<input type="radio" name="searchDueType" value="day30" class="screen_out" id="sh_t4" onclick="daum.Music.Onair.setSearchDate('sh_t4','day30','searchProgramForm');" #if($StringUtils.equals("$!{command.searchDueType}","day30"))checked#end>
							<label class="btn_now btn_month" for="sh_t4">한달</label>
						</li>
						<li class="screen_out">
							##<button type="button" class="btn_now">기간</button>
							<input type="radio" name="searchDueType" value="custom" class="" id="sh_t5" onclick="daum.Music.Onair.setSearchDate('sh_t5','custom','searchProgramForm');" #if($StringUtils.equals("$!{command.searchDueType}","custom"))checked#end>
							<label class="btn_now" for="sh_t5">기간</label>
						</li>
						
					</ul>
					<label for="dateStart" class="screen_out">조회 시작일</label>
					<input type="text" id="dateStart" name="searchSDate" class="tf_date" readonly value="$CheckDate.makeReleaseDate($!{command.searchSDate})">
					<div class="date_cont">
						<a href="#none" class="btn_now link_calendar" onclick="calendarLayer.toggle('start');return false;">달력 보기</a>
						<div id="startCalwrap" class="calendar_comm"> <!-- 활성화시 display:block -->
							
						</div>
					</div>
					<span class="txt_inclusive">-</span>
					<label for="dateEnd" class="screen_out">조회 종료일</label>
					<input type="text" id="dateEnd" name="searchEDate" class="tf_date" readonly value="$CheckDate.makeReleaseDate($!{command.searchEDate})">
					<div class="date_cont">
						<a href="#none" class="btn_now link_calendar" onclick="calendarLayer.toggle('end');return false;">달력 보기</a>
						<div id="endCalwrap" class="calendar_comm"> <!-- 활성화시 display:block -->
						</div>
					</div>
				</div>
			</fieldset>  
		</form>
	</div>
	
	#set($minDay = "20140204")
	<script type="text/javascript">
    	// 달력
    
    	var changeRadioButton = function(){

    		jQuery("#sh_t5").click();
    	}
    
    	// 레이어 달력	
    	var calendarLayer = new daum.Music.OnairSearchCalendar(
    		{
    			//selectedDay : "$!{command.searchDate}",
    			startDateElId : "dateStart",
				endDateElId : "dateEnd",
				startCalContainerId : "startCalwrap",
				endCalContainerId : "endCalwrap",
    			useScheduleDays : false,
				selectDateAddFunc : changeRadioButton,
    			minDay : "$!minDay"
    		}
    	);
		

	</script>
	
	<dl class="detail_select">
		<dt class="tit_option">선택된옵션</dt>
		#if($StringUtils.isNotBlank($!{command.programName}))
			<dd class="txt_option">$!{command.programName}<button type="button" class="btn_now btn_delete" onclick="daum.Music.Onair.searchDeleteProgramName('searchProgramForm')" >옵션삭제</button></dd>
		#else
			<dd class="txt_option">프로그램 전체<span style="color:#000">,</span></dd> 
		#end
		#if($StringUtils.isNotBlank($!{command.searchSDate}) && $StringUtils.isNotBlank($!{command.searchEDate}))
			<dd class="txt_option">
				$CheckDate.makeReleaseDate($!{command.searchSDate})-$CheckDate.makeReleaseDate($!{command.searchEDate})#if("$CheckDate.diffOfDate($!{command.searchSDate})" =="15" && "$CheckDate.diffOfDate($!{command.searchEDate})" == "0")#else<button type="button" class="btn_now btn_delete" onclick="daum.Music.Onair.searchDeleteDate('searchProgramForm')" >옵션삭제</button>#end
			</dd>
		#end
	</dl>
	<a href="#none" class="btn_now btn_initialize" onclick="daum.Music.Onair.searchInit()">초기화</a>
</div>

#if(!$CollectionUtils.isEmpty($schduleKeyList))
<div class="searchWrap">
<h4 class="screen_out">곡 리스트</h4>

	<div id="searchSongListWrap">


	#foreach($schduleKey in $schduleKeyList)
		
		<div class="opt_date opt_timeline">
        	<div class="date_cont">
        		<span class="screen_out">$schduleKey</span>
        		<span class="txt_date txt_num$!schduleKey.substring(0,1)"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(1,2)"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(2,3)"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(3,4)"></span>
        		<span class="txt_date txt_dot"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(4,5)"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(5,6)"></span>
        		<span class="txt_date txt_dot"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(6,7)"></span>
        		<span class="txt_date txt_num$!schduleKey.substring(7,8)"></span>
        		<span class="txt_date txt_$CheckDate.getDayEngNameByDate("$!schduleKey")"></span>
        	</div>
        </div>
		

		
		#set($channelSongListByDate = ${channelSongMap.get($schduleKey)})
		
		#if(!$CollectionUtils.isEmpty($channelSongListByDate))
		#set($heightList = $MathTool.mul($channelSongListByDate.size(),68))
		<div id="$!{schduleKey}_timelinelistWrap" class="now_musiclist now_timelist" style="height:$!{heightList}px">
            	<!--68px 단위로 더보기 클릭시 리스트 늘어남-->
            	<div class="timeline_slide" style="top:0px">
            		<!--68px 단위로 슬라이드-->
            		<table class="tbl_now">
            			<caption class="screen_hide">방금 그곡 리스트</caption>
            			<colgroup>
            				<col style="width:57px">
            				<col style="width:79px">
            				<col style="width:300px">
            				<col style="width:auto">
            				<col style="width:234px">
            			</colgroup>
            			<thead class="screen_out">
            				<tr>
            					<th scope="col">방송시간</th>
            					<th scope="col">앨범</th>
            					<th scope="col">곡명, 아티스트</th>
            					<th scope="col">채널, 프로그램</th>
            					<th scope="col">구매하기</th>
            				</tr>
            			</thead>
            			<tbody id="$!{schduleKey}_timelinelist">
            				#foreach($channelSong in $channelSongListByDate)
            				#set($count = $count + 1)
            				<tr #if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")class='tr_special'#end>
            					<td class="td_clock"><span class="ico_now ico_clock" data-time="$!{channelSong.startTime}">$!{channelSong.startTime.substring(8,10)}:$!{channelSong.startTime.substring(10,12)}</span></td>
            					<td class="td_album">
            							#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "" && "$!{channelSong.hotIconImage}" != "")
            								#set($linkSpecialCn = "link_special")
            							#else
            								#set($linkSpecialCn = "")
            					        #end
            						
            							#if("$!{channelSong.song.album.albumId}" != "0")
            						<a href="/album/main?album_id=${channelSong.song.album.albumId}" class="link_album $!{linkSpecialCn}">
            							#else
            						<em href="#none" class="link_album $!{linkSpecialCn}">
            							#end
            							
            							#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "" && "$!{channelSong.hotIconImage}" != "")
            								<img src="$!{channelSong.hotIconImage}" width="66" height="60" class="thumb_album" alt="HOT">												
            							#else
            								
            								#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
            									<em class="ico_now ico_hot">Hot</em>
            								#end
            									
            								#if("$!{channelSong.song.album.albumId}" != "0" && "$!{channelSong.song.songId}" != "0" && "$!{channelSong.song.album.mainImage.filePath}" != "")
            								<img src='$ImageUtil.getImageUrl("$!{channelSong.song.album.mainImage.filePath}", "42x42", "ALBUM", "C")' width="42" height="42" class="thumb_album" alt="#strCut(${channelSong.song.title}, 10, "..")">
            								#else
            								<img src="http://i1.daumcdn.net/img-contents/music/2011_home/common/noalbum_42_42.gif" width="42" height="42" class="thumb_album" alt="#strCut(${channelSong.title}, 10, "..")">
            								#end
            								<span class="frame_g"></span>	
            							#end	
            							
            							#if("$!{channelSong.song.album.albumId}" != "0")
            						</a>
            							#else
            						</em>
            							#end
            					</td>
            					<td class="td_song">
            						<span class="txt_desc">
            							#set($className = "")
            							#if("$!{channelSong.song.songId}" != "0" && "${channelSong.song.AODLinkId}" != "" && "${channelSong.song.AODLinkId}" != "0")
            								#set($className = "link_song")	
            							#end
            							#if("$!{channelSong.song.songId}" != "0")#printSongName($!{channelSong.song} $className 35 true)#else<em class="link_song">#strCut(${channelSong.title}, 35)</em>#end
            						</span>
            						#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
            							<span class="txt_special">$!{channelSong.copy}</span>
            						#else
            							#if("$!{channelSong.song.songId}" != "0")
            								#set($artistCount = 0)
            								#set($etcArtistCount = 0)
            								#foreach($songArtist in $!{channelSong.song.keyArtistList})
            									#set($artistCount = $artistCount +1)
            									#set($strCutLen = 17)
            									#if($!{channelSong.song.keyArtistList.size()} == 1)
            										#set($strCutLen = 35)
            									#end
            									#if("$!{songArtist.artistId}" != "0")
            										<a href="/artist/main?artist_id=${songArtist.artistId}" class="link_artist">#strCut(${songArtist.name}, $strCutLen, "..")</a>
            									#else
            										#strCut(${songArtist.name}, $strCutLen, "..")
            									#end
            									#if($artistCount < $!{channelSong.song.keyArtistList.size()} && $artistCount < 2),#end
            									#if($artistCount == 2) #set($etcArtistCount = $!{channelSong.song.keyArtistList.size()} - 2) #break #end
            								#end
            								#if($etcArtistCount > 0)
            								외 ${etcArtistCount}명
            								#end
            							#else
                            			 <em href="#none" class="link_artist">#strCut($!{channelSong.artistName}, 35, "..")</em>
            							#end
            						#end
            					</td>
            					<td class="td_program">
            						<span class="txt_desc"><a href="/onair/search/channel?searchSDate=$!{channelSong.startTime.substring(0,8)}&searchEDate=$!{channelSong.startTime.substring(0,8)}&channelIds=${channelSong.channel.channelId}" class="link_channel">${channelSong.channel.channelName}</a></span>
            						
									#set($printProgramName = "")
									#if($StringUtils.isNotBlank("$!{command.programName}"))
										#if($channelSong.schedule.programName.matches("(?i).*($!{command.programName}).*"))
											#set($matchStr = $channelSong.schedule.programName.replaceAll("(?i).*($!{command.programName}).*","$1"))
										#else
											#set($matchStr = "")
										#end
										#set($printProgramName = $channelSong.schedule.programName.replace("$matchStr","<span style='color:#fb6765'>$matchStr</span>"))
									#else
										#set($printProgramName = $channelSong.schedule.programName)
									#end
									
									#if("$!{channelSong.schedule.programId}" != "" && "$!{channelSong.schedule.programId}" != "0" && "$!{channelSong.channel.mediaType}" == "1")
            						<a href="/onair/tv?programId=${channelSong.schedule.programId}#nowMusicListWrap" class="link_program" title="$channelSong.schedule.programName">$printProgramName</a> <!-- a태그 em으로 변경시 딤드 처리 -->
            						#elseif("$!{channelSong.schedule.programId}" != "" && "$!{channelSong.schedule.programId}" != "0" && "$!{channelSong.channel.mediaType}" == "4")	
            						<a href="/onair/radio/channel?channelId=${channelSong.channel.channelId}&programId=${channelSong.schedule.programId}#nowMusicListWrap" class="link_program" title="$channelSong.schedule.programName">$printProgramName</a> <!-- a태그 em으로 변경시 딤드 처리 -->
            						#else	
            						<em href="#none" class="link_program" title="$channelSong.schedule.programName">$printProgramName</em>
            						#end
            						
            					</td>
            					<td class="td_option">
            						#printListItemButtonOnair(${channelSong.song.songId}, "listen", "", ${channelSong.song.AODLinkId})
            						#printListItemButtonOnair(${channelSong.song.album.albumId}, "album", "")
            						#printListItemButtonOnair(${channelSong.song.songId}, "my", "", ${channelSong.song.AODLinkId})
            						#printListItemButtonOnair(${channelSong.song.songId}, "mp3", "", ${channelSong.song.MP3LinkId})
            						#printListItemButtonOnair(${channelSong.song.songId}, "bgm", "", ${channelSong.song.BGMLinkId})
            					</td>
            				</tr>
                        	#if($count == ${songList.size()})
                        		#set($songEndTime = ${channelSong.startTime})	
                        	#end
            			#end
    	
						</tbody>
            		</table>
            	</div>
            </div>
			
		#end
        	
	#end
	</div>
	<a href="#none" class="btn_more" onclick="daum.Music.Onair.SearchTimeLine.getBottomSongList();"><span class="btn_now txt_more">더보기</span></a>	

	

</div>

#else
	#if($StringUtils.isNotBlank($!{command.programName}))
	<h4 class="screen_out">검색결과</h4>
    <div class="wrap_noresult">
		<strong class="tit_noresult"><span class="emph_noresult">검색결과가 없습니다</span></strong>
    	<ul class="list_noresult">
    		<li>· 날짜의 범위를 더 넓혀주세요.</li>
    	    <li>· 입력하신 프로그램명이 정확한지 확인해주세요.</li>
    		<li>· 특수 문자를 제외하고 검색해보세요.</li>
    	</ul>
     </div>
	#end	
#end


#parse("/velocity/onair/common/specialbanner.vm") 
#parse("/velocity/onair/common/programChart.vm") 

			



<script type="text/javascript">
jQuery( "#tfSearch" ).focus(function() {
  jQuery(boxSearchBar).addClass("input_on")
});

jQuery( "#tfSearch" ).focusout(function() {
  jQuery(boxSearchBar).removeClass("input_on")
});

var nextPageNo = $!{command.pageNo}+1;
var totalPage = $!totalPage;
var option = {
	 programName : "$!{command.programName}",
	 nextPageNo : nextPageNo,
	 searchSDate : "$!{command.searchSDate}",
	 searchEDate : "$!{command.searchEDate}",
	 totalCnt : $!totalCnt,
	 totalPage : $!totalPage,
	 searchSongListWrapId : "searchSongListWrap",
	 type : "program"
};

jQuery("document").ready(
function(){
	new daum.Music.Onair.SearchTimeLine.init(option);
});	

var controller = new daum.Music.ListPrototype();
controller.initialize();  
</script>


#if( $StringUtils.equals("$!{command.debugmode}","2") )
</br>
</br>
#set($date = $!{command.searchDate})
searchDate : $!searchDate </br>
date : $!date </br>
searchSDate : $!{command.searchSDate} -  오늘과 날짜 차 $CheckDate.diffOfDate($!{command.searchSDate})</br>
searchEDate : $!{command.searchEDate} - 오늘과 날짜 차 $CheckDate.diffOfDate($!{command.searchEDate})</br>
earchDueType : $!{command.SearchDueType} </br>
programName : $!{command.programName} </br>
totalcnt : $!{totalCnt} </br>
totalPage : $!{totalPage} </br>
pageNo : $!{command.pageNo} </br>
</br>
스케줄리스트 </br>
#foreach($schduleKey in $schduleKeyList)
	$schduleKey </br>
	
	#set($channelSongListByDate = ${channelSongMap.get($schduleKey)})
    곡리스트 : $channelSongListByDate.size()</br>
	#foreach($channelSong in $channelSongListByDate)
			#set($pret = $channelSong.schedule.programName.replaceAll("(?i).*($!{command.programName}).*","$1"))
			#set($pret = $channelSong.schedule.programName.replaceAll("$pret","<span style='color:#fb6765'>$pret</span>"))
			$pret
		</br>
    #end	
#end	

</br>
</br>
#end
	