
아티스트 동영상<br/>
#foreach($vclip in $vclipList)
	#if($velocityCount < 6)
			#if((!$CollectionUtils.isEmpty($album.keyArtistList) && $StringUtils.equals("$!{album.keyArtistList.size()}", "1") && !$StringUtils.equals("$!{album.keyArtistList[0].artistId}", "0")) || ($CollectionUtils.isEmpty($album.keyArtistList) && $StringUtils.isNotBlank("$!{artist.artistId}")))
				#set($dir = "artist")
			#else
				#set($dir = "album")
			#end
			이미지 : #printVideoThumb( $!{vclip} 1 $foreach.index "" $dir)<br/>
			#if($StringUtils.equals("$!{vclip.HDYn}", "Y"))
				비디오명 : #printVideoName($vclip "ico_detail ico_hd" 12 true)<br/>
			#else
				비디오명: #printVideoName( $!{vclip} "" 16 true )<br/>
			#end
			아티스트명 : #printArtistName($!{vclip.keyArtistList} "" 20 true)<br/>
			날짜 : $!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}<br/>
	#else
		#set($page = $cmd.page_no +1)
		<a href="/imagene/api/vclipList.json?award_id=$!{cmd.award_id}&page_no=$page" target="_self">다음페이지가 있음... </a><br/>
	#end
#end
