#parse("/velocity/common/ua_check_core.vm")

## 둥둥이
#set( $URI = "#getter('URI', '')" )##
#if( ($URI.indexOf("/chart/") > -1 && $URI.indexOf('/chart/issuesong')<=-1 ) ||
		$URI.indexOf('/artist/main')>-1 ||
		$URI.indexOf('/album/main')>-1 ||
		$URI.indexOf('/musicbar/detail')>-1 ) 
#parse("/mot/balloon/balloon.vm")
#end
<script type="text/javascript">
domReady( function(){
	daum.Music.Config.init( {service_domain:"#getter('SERVICE_DOMAIN', '')",gaia_domain:"#getter('GAIA_DOMAIN', '')", bi_domain: "#getter('BI_DOMAIN', '')" } )
	daum.Music.goToMobile();
	
	var fbEl = daum.$("fb-root");
    if(fbEl) {
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    }
}); 
</script>

#* CT 변경
<!-- CT (Click Tracking) -->
<script type="text/javascript">
	//var ct_call_stop = true;
</script>
<script src="http://s1.daumcdn.net/photo-section/lib/ct.js" type="text/javascript" charset="euc-kr"></script>
*#
#if($URI.indexOf("popup") > -1 || $URI.indexOf("/event/mypeople") > -1 || $URI.indexOf("/event/promotion") > -1)
#else
<script id="CTConfigScript" type="text/javascript">
	var CTConfig = {
		targetElement: "daumWrap"   // (Required) 타겟이 될 element의 id를 넣어주세요. 보통 docDaum, daumWrap입니다.
	};
</script>
<script src="http://s1.daumcdn.net/photo-media/static/ct/ct.js" type="text/javascript" charset="utf-8"></script>
#end

#*
#if($URI.indexOf("/home/")>-1)
<!-- noie6 팝업 -->
<script type="text/javascript">
(function(){
    if(!daum.Browser.ie6) return;
    var parentElement = $('daumWrap'); //부보앨리먼트
    var positionTop = "180px"; //top 위치
    var positionLeft = "0px"; //left 위치
    var noie6popupCookie = daum.Browser.getCookie('noie6popup');
     
    window.setCookieNoIE6popup = function(day, hide){
        var days = day ? day : 1;
        daum.Browser.setCookie("noie6popup", "1", days);
        if(hide) daum.hide($('ie6outPopup'));
    }
     
    if(noie6popupCookie !== "1"){
        setCookieNoIE6popup(1); // 1일1회 frequency
        var iepopupElement = new daum.createElement('<div id="ie6outPopup" style="z-index:999;width:442px;height:265px;background:url(http://i1.daumcdn.net/img-section/common/noie6-popup.jpg) no-repeat;"><input id="NoIE6popupCheckBox" type="checkbox" onclick="if(this.checked) setCookieNoIE6popup(7, true);" style="position:absolute;top:236px; left:11px;"><a href="#" title="닫기" onclick="daum.hide($(\'ie6outPopup\'));return false;" style="position:absolute;top:5px;right:5px;display:block;width:18px;height:18px;text-indent:-9999px;overflow:hidden;">닫기</a><a href="http://promotion.daum.net/ie6nomore/goodbye_ie6_1227.html" target="_blank" style="position:absolute;top:179px; left:119px;width:207px; height:39px;text-indent:-9999px;overflow:hidden;">익스플로러 업그레이드하기</a></div>');
        daum.setStyle(iepopupElement, {'position':'absolute', 'top':positionTop,'left':positionLeft});
        parentElement.appendChild(iepopupElement); // 부모앨리먼트에 appendChild할지 insertBefore할지는 서비스단 알아서 결정 - 당연히 부보앨리먼트는 position:relative 또는 absolute가 되어있어야겠지요??
 
    }
})();
</script>
-->
#end
*#