아티스트 정보 <br />
대표이미지 : $!{artist.mainImage.filePath} <br />
아티스트명 : $!{artist.name} <br />
아티스트ID : $!{artist.artistId} <br />
<br />

앨범 정보 <br />
앨범명 : $!{song.album.title} <br />
앨범 ID : $!{song.album.albumId} <br />
아티스트 <br />
#foreach($artist in $song.album.keyArtistList)
 - 이름 : $!{artist.name} <br />
 - ID : $!{artist.artistId} <br />
#end<br />
발매일 : $!{song.album.releaseDt} <br />
볼륨 : $!{song.album.volume} <br />
이미지 : $!{song.album.mainImage.filePath} <br />
<br />

뮤직비디오 정보 <br />
비디오명 : $!{song.vclip.title} <br />
비디오ID : $!{song.vclip.vclipId} <br />
TVPOTID : $!{song.vclip.tvpotVId} <br />
아티스트 <br />
#foreach($artist in $song.vclip.keyArtistList)
 - 이름 : $!{artist.name} <br />
 - ID : $!{artist.artistId} <br />
#end<br />
<br />

