#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
	<div class="cont_navi">
		<h3 class="tit">뮤직비디오</h3>
#btnPrev()
	</div>
	<div class="section_mvideo">
		<div class="wrap_cont">
			<div class="wrap_detail_tit">
				<a href="/artist/main?artist_id=$!{artist.artistId}">
				<div class="thumb">
					<img #if($isWVGA)width="49" height="49"#else width="33" height="33"#end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{artist.mainImage.filePath}", "33x33", "ARTIST", "C")" class="thumb_img">
					<span class="outline"></span>
				</div>
				<h4 class="tit"><span class="tit_album">$!{artist.name}</span></h4>
				</a>
			</div>
			<ul class="list_info list_thumb">
#foreach($vclip in $vclipList)
#mVideoList()
#end
			</ul>
		</div>
#mobilePaging($pagingUrl, $command.page_no, $pageHandler)
	</div>
#SearchForm("only_bottom")
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")
#*
아티스트 정보 <br />
대표이미지 : $!{artist.mainImage.filePath} <br />
아티스트명 : $!{artist.name} <br />
아티스트ID : $!{artist.artistId} <br />
<br />

<b>사용자 정보</b><br />
#if($musicUser)
	daumId : $!{musicUser.daumId} <br />
	adultYn : $!{musicUser.adultYn} <br />
#elseif($user)
	daumId : $!{user.daumId} <br />
	adultYn : $!{user.adultYn} <br />
#end

뮤직비디오<br />
#foreach($vclip in $vclipList)
	뮤직비디오유료화여부(0일 경우는 유료화아님, 1일경우가 유료화) : $authorizedPlayVideoList[$!{foreach.index}] <br/>
	ID : $!{vclip.vclipId} <br />
	TVPOTID : $!{vclip.tvpotVId} <br />
	제목 : $!{vclip.title} <br />
	이미지 : $!{vclip.mainImage.filePath} <br />
	썸네일 : $ImageUtil.getMobileImageUrl("$!{vclip.mainImage.filePath}", "94x70", "VIDEO") <br/>
	등록일 : $!{vclip.regDateTime} <br />
	곡 ID : $!{vclip.song.songId} <br />
	곡제목 : $!{vclip.song.title} <br />
	듣기여부 : $!{vclip.song.AODLinkId} <br />
	아티스트 <br />
	#foreach($artist in $vclip.keyArtistList)
	 - 이름 : $!{artist.name} <br />
	 - ID : $!{artist.artistId} <br />
	#end<br />
#end

##page
#printPaging($pagingUrl, $command.page_no, $pageHandler)

*#