{
"totalCount" : "$totalCount",
"list" : [
#foreach($album in $djAlbumList)
#if($velocityCount > 1),#end
{
	"albumid" : "$album.albumId",
	"title" :  $JSONUtil.valueToString($album.title),
	#foreach($artist in $album.keyArtistList)
		#if ($velocityCount == 1)
	"artist" :$JSONUtil.valueToString($artist.name),
		#end
	#end
	 "imageurl" : "$album.mainImage.filePath",
	 "djid" : "$album.recommendDj.djId",
	 "nickname" : $JSONUtil.valueToString($album.recommendDj.nickName),
	 "comment" : $JSONUtil.valueToString($album.recommendDj.comments),
	 "regdate" : "$album.recommendDj.formalRegdate",
	 "albumdate" : "$album.formalReleaseDt"
}	 
#end
]} 