{
    "serviceid" : "rmc",
    "sectionid" : "musicbar_list",
    "title" : "뮤직Bar",
    "list" : [
	#foreach($item in $musicbarList)
		#if($velocityCount > 1),#end
        {
            "articleid" : $JSONUtil.valueToString($item.boardId),
            "title" : $JSONUtil.valueToString($item.title),
            "link" : ${JSONUtil.valueToString("http://music.daum.net/musicbar/musicbar/detail?menu_id=$!item.menuId&board_id=$!item.boardId")},
            "image" : $JSONUtil.valueToString($item.imageUrl),
            "summary" : $JSONUtil.valueToString($item.summary),
            "pub_dttm" : $JSONUtil.valueToString($item.regdttm)
        }
    #end
    ]
    ,
    "paging" : {
        "page" : $cmd.page,
        "count_per_page" : $cmd.per_page,
        "page_count" : #if( $MathTool.mod($musicbarListCount,$cmd.per_page) != 0)$MathTool.toInteger($MathTool.add($MathTool.div($musicbarListCount,$cmd.per_page),1))#else$MathTool.toInteger($MathTool.div($musicbarListCount,$cmd.per_page))#end,
        "count" : $musicbarListCount
    }
	
}