<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>뮤직바</title>
    <id>musicbar4m</id>
	#foreach($board in $recentBoardList)
		#if($velocityCount == 1)
			<updated><![CDATA[$!board.regdttm]]></updated>
		#end
	#end
	#foreach($board in $recentBoardList)
	<entry>
        <id><![CDATA[$!board.boardId]]></id>
      	<title><![CDATA[$!board.title]]></title>
        <category><![CDATA[$!board.menuName]]></category>
      	<summary><![CDATA[#strCut($!board.summary,200)]]></summary>
      	<link href="$ImageUtil.getMobileImageUrl("$!board.imageUrl", "90x60", "PHOTO", "S")" rel="enclosure" type="image/jpeg"/>			
      	<link href="http://music.daum.net/musicbar/musicbar/detail?board_id=$!board.boardId"/>
        <updated><![CDATA[$!board.regdttm]]></updated>
	</entry>			
	#end
</feed>
