{
	"boardid" : "$board.boardId",
	"title" :  "$EscapeUtil.escapeJsonString($board.title)",
	"subtitle" : "$EscapeUtil.escapeJsonString($!{board.subTitle})",
	"regdate" : "$board.formalRegdate",
	"summary" :  "$EscapeUtil.escapeJsonString($StringCutUtil.cutStringRealLength($StringCutUtil.removeTag($board.summary), 120,"..", 0).replaceAll("\r","").replaceAll("\t","").replaceAll("\n",""))",
	"songcount" : "$board.songCount",
	"listimageurl" : "$board.imageUrl",
	#foreach($boardTemplate in $boardContents.boardTempleteList)
	#if ($velocityCount == 1 && $boardTemplate.templeteName == "AI")
	"imageurl" : "$ImageUtil.getImageUrl("$!{boardTemplate.imageUrl}", "320x0", "PHOTO", "R")",
	#end
	#end
	
	"list" : [
	#set ($isFirst = true)
	#foreach($boardTemplate in $boardContents.boardTempleteList)
		#foreach($song in $boardTemplate.songList)
		#if ($isFirst == false) , #end
	    {
	    "songtitle" : "$EscapeUtil.escapeJsonString($!{song.title})",
	    "songid" :  "$!{song.songId}",
	    "tvpotvid" :  $JSONUtil.valueToString($song.vclip.tvpotVId),
	    "tvpotprevid" : $JSONUtil.valueToString($song.vclip.tvpotPreVId),
	    "artist" : [
	    #if ($song.keyArtistList && $song.keyArtistList.size() > 0)
	    #foreach($artist in $song.keyArtistList)
	    #if ($velocityCount > 1) , #end
	    {
	    "artistid" : "$artist.artistId",
	    "artistname" : $JSONUtil.valueToString($artist.name)
	    }
	    #end
	    #else
	    {
	    "artistid" : "0",
	    "artistname" : "V.A"
	    }
	    #end
	    ],
	    "albumid" : "$song.album.albumId",
	    "albumtitle" : "$EscapeUtil.escapeJsonString($!{song.album.title}))",
	    "albumimage" : "$!{song.album.mainImage.filePath}",
	    "aod" : "$song.AODLinkId",
	    "mp3" : "$song.MP3LinkId" ,
	    "adultYn" : "$song.adultYn"
	    }
	    #set ($isFirst = false)
	    #end
     #end
     ]
 }
