$response.setContentType("text/xml")<?xml version="1.0" encoding="UTF-8"?>
<Music>
	<Albums>
		#foreach($album in $recommandAlbumList)
			<Album>
				<AlbumId><![CDATA[$!{album.albumId}]]></AlbumId>
				<AlbumName><![CDATA[$!{album.title}]]></AlbumName>
				<ReleaseDate><![CDATA[$!{album.releaseDt}]]></ReleaseDate>
				<PlayYn><![CDATA[$!{album.playYn}]]></PlayYn>
				#set($artist = $song.keyArtistList.get(0))
				<ArtistId><![CDATA[]]></ArtistId>
				<ArtistDetailId><![CDATA[$!{artist.artistId}]]></ArtistDetailId>
				<ArtistName><![CDATA[$!{album.name}]]></ArtistName>
				#set($masterSong = $album.masterSongList.get(0))
				<TitleSongId><![CDATA[$!{masterSong.songId}]]></TitleSongId>
				<TitleSongName><![CDATA[$!{masterSong.title}]]></TitleSongName>
				<AOD><![CDATA[$!{masterSong.AODLinkId}]]></AOD>
				<FilePath><![CDATA[$!{album.mainImage.filePath}]]></FilePath>
				<Volumn><![CDATA[$!{album.volume}]]></Volumn>
			</Album>
		#end
	</Albums>
</Music>