<div id="daumWrap" class="other">
<div id="daumContent">
	<div class="wrap_event">
		<div class="box_event">
			<h1>Daum</h1>
			<p>뮤직앱 재생목록 100개! 2만곡 저장 기능 추가!</p>
			<h2>스마트폰 1개월 무제한 이용권을 드립니다.</h2>

			<p>아이폰 전용 선착순 3만명</p>
			<a href="/musicevent/iphone2011/result?event_id=81" class="btn_ticket">무료 이용권 받기</a>
		</div>
	</div>
</div><!-- // daumContent -->
</div>