#parse( "/mot/player/banner.vm") 	

<div id="playerWrap" >
	<div id="daumtrans"><img src="https://logins.daum.net/accounts/auth.gif" width="0" height="0" alt="" /></div>
	<div id="flashContainer">
		<a href="http://www.adobe.com/go/getflashplayer" target="_blank">
			<img src="http://www.adobe.com/macromedia/style_guide/images/160x41_Get_Flash_Player.jpg" />
		</a>
	</div>
	#set( $ran = 0)
	#set( $ran = $MathTool.toInteger("$MathTool.random(0, 5)"))
	<div id="bannerContainer" class="#if($StringUtils.equals("$!{player_use_value}", "true"))Y#{else}N#end" >#if($StringUtils.equals("$!{player_use_value}", "true"))<a href="$!{ad_playerLink[$!{ran}]}" target="_blank" onclick="console.log('click')"><img height="60" width="688" alt="" src="$!{ad_playerSrc[$!{ran}]}" style="border:none"></a>#end</div> 
	<div style="display:none;"><iframe name="frmLogin" id="frmLogin" src="about:blank" frameborder="0" width="100%" height="36" scrolling="no"><!-- Login Frame --></iframe></div>
	<div style="display:none;"><iframe name="dummyFrame" id="dummyFrame" src="about:blank" frameborder="0" width="1" height="1" scrolling="no"><!-- Login Frame --></iframe></div>
	<script type="text/javascript">	
	#if( $StringUtils.isNotBlank("$!{command.player_ver}") )
		daumMusic.AodLauncher.setVersion('$!{command.player_ver}');
		daumMusic.AodPlayer.setVersion('$!{command.player_ver}');
	#end
	
	setInterval( daumtrans, 600000 );
	daumMusic.AodPlayer.embedSWF( "flashContainer" );
	
	daum.addEvent(window, 'load', function(){
		daumMusic.AodPlayer.resizeWindow();
		if(daum.ie)
		{
			daum.addEvent(swfobject.getObjectById( 'flashContainer' ), 'blur', function(e){
				if(event.y <= swfobject.getObjectById( 'flashContainer' ).height){
					swfobject.getObjectById( 'flashContainer' ).focus();		
				}
			});
			swfobject.getObjectById( 'flashContainer' ).focus();
		}
	});
	daum.addEvent(window, 'beforeunload', function(){pageUnloaded();});
	
	</script>
</div>
<form id="loginform" style="width:0;height:0;font-size:0;" target="frmLogin" action="https://logins.daum.net/accounts/logout.do" name="loginform"><input type="hidden" name="url" value="http://music.daum.net/player/aod/logout.html" /></form>
$!{gnorePlayerStingValue}

