	<style type="text/css">
	body { background-color:#fafafa;position:absolute; overflow:hidden; padding:0; margin:0; width:100%; height:100%; }
	ul li {margin-bottom:10px;}
	</style>		
	
	<div>
        <p><b>〈다운로드 매니저 수동설치 방법〉</b></p>
        <br />
        <p>Daum 뮤직 다운로드 매니저는 Adobe AIR 프로그램을 설치해야 사용 가능하며, Windows 뿐만 아니라 맥OS, 리눅스 등 모든 운영체제에서 작동됩니다.</p>
        <br />
		
        <ul>
            <li><b>Windows 운영체제</b><br />
				PC에 다운로드 매니저 프로그램을 다운로드 받은 후 설치해주세요.<br />
				<a href="javascript:;" onclick="downloadAppFile('exe');" title="Daum 뮤직 다운로드 매니저 설치">☞ 다운로드 매니저 설치하기</a>
			</li>
            <li><b>맥OS, 리눅스 운영체제 등</b><br />
				Adobe AIR 프로그램과 다운로드 매니저 프로그램을 각각 다운로드 받은 후 순서대로 설치해주세요.<br />
                <a href="http://get.adobe.com/kr/air/" target="_blank" title="Adobe AIR 다운로드">☞ Adobe AIR 설치하기</a><br />
                <a href="javascript:;" onclick="downloadAppFile('air');" title="Daum 뮤직 다운로드 매니저 설치">☞ 다운로드 매니저 설치하기</a>
			</li>
        </ul>
	</div>
#* 
	<div>
		<p><b>다운로드 매니저 수동설치 방법</b></p>
		<br />
		<p><b>Daum 뮤직 다운로드 매니저는 Adobe AIR 프로그램을 설치해야 사용 가능합니다.</b></p>
		<br />
		
		<ul>
		<li>1. Adobe AIR 프로그램을 다운로드 받은 후 설치해주세요.<br /><a href="http://get.adobe.com/kr/air/" target="_blank" title="Adobe AIR 다운로드">☞ Adobe AIR 설치하기</a></li>
		<li>2. Daum 뮤직 다운로드 매니저를 설치해주세요.<br /><a href="javascript:;" onclick="downloadAppFile();" title="Daum 뮤직 다운로드 매니저 설치">☞ 다운로드 매니저 설치하기</a></li>
		</ul>
		
	</div>
	*#
	<script type="text/javascript">
		function downloadAppFile(type) {
			
			var fileUrl = (type=="exe"?daumMusic.DownLoader.getWindowFilePath():daumMusic.DownLoader.getAppFilePath());			
			window.open(fileUrl);
		}
	</script>
 