	<script type="text/javascript" src="http://i1.daumcdn.net/photo-contents/music/aodplayer/suggest/suggestPlayer.js" charset="utf-8"></script>
	
	<style type="text/css">
	body {overflow:hidden;padding:0; margin:0; z-index:1 }
	#flashContainer {position:relative;overflow:hidden;width:688px;height:340px;}
	#playerWrap {display:block;overflow:hidden;position:relative;width:688px;}
	#bannerContainer {}
	#bannerContainer a {display:block;width:688px;height:60px;border:none;}
	</style>	
	
	<script type="text/javascript">
		try{
		document.domain = 'daum.net';
 		}catch(e){}
 		
		var pageUnloaded = daumMusic.AodPlayerSuggest.pageUnloaded;
		var pageLoaded = daumMusic.AodPlayerSuggest.pageLoaded;
 
		// 이벤트 함수 동기화
		daumMusic.AodPromotion.eventFunc = function()
		{
			sendApplication('2543', '13218571','','','','player');
		}
		function callDummyframe ( url )
		{
			var iframe = daum.$("dummyFrame");
			var callUrl = url;
 
	
			if(!iframe) {
				return;
			}
 
			iframe.src = callUrl+"?time="+new Date().getTime();
			
 
		}
		function doLogout()
		{
			var requestToken = new Image();
			requestToken.src = "http://player.music.daum.net/aod/token/delete.do";
 
			daum.$("loginform").submit();
		}
		function doLogin()
		{
			var openerUrl = encodeURIComponent("http://music.daum.net/player/aod/login.html");
			daum.popup("http://login.daum.net/accounts/loginform.do?category=music&popup=1&url="+openerUrl,400,260);
		}
		function getSongList()
		{
			if(!opener) return "";
			var songList = "";
			var itemType = "";
 
			try
			{
				songList = opener.daumMusic.AodPlayerSuggest.getSongList();
				itemType = opener.daumMusic.AodPlayerSuggest.getItemType();
			}
			catch (e)
			{
				//alert("플레이어가 비정상적인 오류로 인해 재생이 불가능 합니다.");
			}
 
			if( opener.daumMusic.AodLauncher.isOpenerClose() ){ opener.close(); }
 
			return {item:songList,type:itemType};
		}
 
		var daumtrans = function(){
			var daumtrans = daum.$("daumtrans");
			daumtrans.innerHTML = "<img src='https://logins.daum.net/accounts/auth.gif?dummy="+new Date().getMilliseconds()+"' width='1' height='1' alt='' />";
		};
 
		setInterval( daumtrans, 600000 );	
	</script>
</head>
<body onbeforeunload="pageUnloaded()">
<div style="display:none;">
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListSongItem(['8442103'])">연주곡 </button>
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListSongItem(['7932804'])">구매불가 </button>
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListSongItem(['7891665'])">19금</button>
	
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListSongItem(['8214729'])">테스트곡</button>
	<button onclick='var a = ["9036135", "9035589", "9036132", "9036129", "9036134", "9036130", "9011263", "9036133", "8778484", "9036131", "9012057", "9032486", "7890555", "8778491", "9036128", "272653", "9010820", "9033971", "206563", "8778485", "9034032", "9028691", "9034845", "9026347", "9031158", "8998613", "272673", "272681", "9008283", "218182", "9031159", "272654", "9034842", "9026348", "9031152", "8991850", "8092942", "272674", "272665", "9031155", "9000756", "51732", "9019122", "57123", "9034846", "9031422", "9034840", "9026294", "9010819", "8955583"]; daumMusic.AodPlayerSuggest.addPlayListSongItem([a[Math.floor(Math.random() * a.length)]])'>랜덤곡</button>
	<button onclick='var a = ["9010820", "9014173", "9014074", "9011674", "9013968", "57123", "9008283", "9010819", "9012052", "8991850", "9011724", "9000756", "9014756", "8995614", "9012058", "9004935", "9007652", "9010750", "8856299", "9008574", "8955583", "9010746", "9004997", "9015326", "9010748", "9010744", "8998613", "9009490", "8995937", "9010749", "8996635", "9004639", "9000317", "8998819", "8904710", "8999944", "9015315", "8970783", "9015303", "8973589", "9015331", "9015325", "8967241", "8836922", "7964212", "9005277", "9004936", "8795199", "9000315", "8957088"]; daumMusic.AodPlayerSuggest.addPlayListSongItem(a)'>여러곡 추가</button>
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListSongItem(['8343084'])">JPOP</button>
	<button onclick="daumMusic.AodPlayerSuggest.addPlayListAlbumItem(['604756'])">UI</button>
	
	</div>	
<div id="playerWrap" >
	<div id="daumtrans"><img src="https://logins.daum.net/accounts/auth.gif" width="0" height="0" alt="" /></div>
	<div id="flashContainer">
		<a href="http://www.adobe.com/go/getflashplayer" target="_blank">
			<img src="http://www.adobe.com/macromedia/style_guide/images/160x41_Get_Flash_Player.jpg" />
		</a>
	</div>
	<div style="display:none;"><iframe name="dummyFrame" id="dummyFrame" src="about:blank" frameborder="0" width="1" height="1" scrolling="no"><!-- Login Frame --></iframe></div>
	
	<div id="bannerContainer" class="Y"><a href="http://music.daum.net/common/promotion2011" target="_blank"><img height="60" width="688" alt="" src="http://cfile80.uf.daum.net/image/1707FC434E4B276B2E2C56" style="border:none"></a></div>
	<script type="text/javascript">	
		daumMusic.AodPlayerSuggest.embedSWF( "flashContainer" );
		
		
		daum.addEvent(window, 'load', function(){
		
		
			daumMusic.AodPlayerSuggest.resizeWindow();
			
			
			if(daum.ie)
			{
				daum.addEvent(swfobject.getObjectById( 'flashContainer' ), 'blur',function(){				
					//console.log("flash blur");
					swfobject.getObjectById( 'flashContainer' ).focus();					
				});
				//맨처음 주고
				swfobject.getObjectById( 'flashContainer' ).focus();
			}			
			
		});		
		

		

	</script>
</div>
	
<form id="loginform" style="width:0;height:0;font-size:0;" target="frmLogin" action="https://logins.daum.net/accounts/logout.do" name="loginform"><input type="hidden" name="url" value="http://music.daum.net/player/aod/logout.html" /></form>
<script type='text/javascript'> 
	var __pageTracker = {};
 
	if (typeof __Tiara != 'undefined' && typeof __Tiara.__getTracker != 'undefined') {
		__pageTracker = __Tiara.__getTracker();
	} else {
		__pageTracker.__trackPageview = function() {};
	}
	window.setTimeout('try { __pageTracker.__trackPageview(); } catch(e) {}', 1);
</script>
