<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
<title>Daum 뮤직</title>
</head>
<body>
<script charset='utf-8' type='text/javascript' src='http://d1.daumcdn.net/tiara/tracker/tiara.min.js'></script>
<script type='text/javascript'>
document.domain = "daum.net";
</script>
<script type='text/javascript'>
    var __pageTracker = {};

    if (typeof __Tiara != 'undefined' && typeof __Tiara.__getTracker != 'undefined') {
        __pageTracker = __Tiara.__getTracker();
    } else {
        __pageTracker.__trackPageview = function() {};
    }
    window.setTimeout('try { __pageTracker.__trackPageview(); } catch(e) {}', 1);
</script>
</body>
</html>