<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Daum 뮤직 안내</title><!-- 내용에 맞는 타이틀로 변경 할 것 -->
    <style type="text/css">
        /* reset */
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
        fieldset,img{border:0 none}
        dl,ul,ol,menu,li {list-style:none}
        blockquote, q {quotes: none}
        blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
        input,select,textarea,button {vertical-align:middle}
        input::-ms-clear {display:none}
        button {border:0 none;background-color:transparent;cursor:pointer}
        body {background:#fff}
        body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
        a {color:#333;text-decoration:none}
        a:active, a:hover {text-decoration:underline}
        a:active {background-color:transparent}
        address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

        /* common */
        .ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
        .ir_wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
        .screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
        .screen_hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */

        .f_l {float:left}
        .f_r {float:right}
        .cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
        .show {display:block}
        .hide {display:none}
        .tbl {border-collapse:collapse;border-spacing: 0} /* 테이블 초기화 */
        .clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
        .clear_g:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

        /* 전사_오류페이지 */
        /* Layout */
        .notice_head {overflow:hidden;width:100%;height:43px}
        .notice_head .tit_daum {display:inline;float:left;height:43px}
        .notice_head .tit_daum .img_logo {vertical-align:top}
        .tit_daum .link_daum {float:left;height:43px}
        .notice_footer {padding-top:9px;font-size:11px;color:#7b7b7b;text-align:center;letter-spacing:-1px}
        .notice_footer .link_daumcorp {font-weight:bold;color:#868c95}

        /* 공통 이미지 */
        .img_notice {display:inline-block;overflow:hidden;background:url(http://icon.daumcdn.net/error/img_error.png) no-repeat 0 0;font-size:0;line-height:0;vertical-align:top}
        .ico_search {background-image:url(http://icon.daumcdn.net/2010_global/img_error_search.gif)}

        /* search bar 기본 */
        #daumSearch .box_searchbar {float:left;background:url(http://icon.daumcdn.net/2010_global/img_error_search.gif) no-repeat;background-position:0 0}
        #daumSearch .search_on {position:relative;background-position:0 -50px}
        #daumSearch .tf_keyword {display:inline;float:left;width:370px;height:18px;margin:11px 10px 0;padding:0;border:0 none;font-weight:bold;font-size:16px;line-height:18px;font-family:'돋움',dotum,sans-serif;background-color:transparent;outline:none}
        #daumSearch .btn_search {float:left;overflow:hidden;width:66px;height:39px;border:0 none;background-position:0 -300px;cursor:pointer;text-indent:-9999px}
        #daumSearch .btn_search:hover  {background-position:-70px -300px}

        /* search bar 내부검색창 */
        #daumSearch .fld_inside {position:relative;width:100%;height:31px}
        #daumSearch .fld_inside .box_searchbar {background-position: 0 0}
        #daumSearch .fld_inside .tf_keyword {width:262px;height:18px;margin:7px 9px 0;font-weight:normal;font-size:12px;line-height:1.5}
        #daumSearch .fld_inside .btn_search {width:50px;height:31px;background-position:100% 0}
        #daumSearch .fld_inside .btn_search:hover {background-position:100% -100px}
        #daumSearch .fld_inside .bg_on {background:url(http://icon.daumcdn.net/2010_global/img_error_search.gif) no-repeat 2px -97px}
        #daumSearch .fld_inside .search_on {background-position:0 -50px}
        #daumSearch .fld_inside .search_on .btn_search {background-position:100% -50px}
        #daumSearch .fld_inside .search_on .btn_search:hover {background-position:100% -100px}

        /* 에러 페이지 */
        .page_notice {position:relative;width:600px;margin:0 auto;padding:50px 0;background-color:#fff}
        .page_notice .notice_head {width:600px;height:64px;margin:0 auto}
        .page_notice .daum_notice {margin:0 auto;border-top:1px solid #5a94fa;color:#777;background-color:#fbfbfb}
        .page_notice .ico_error {display:block;width:86px;height:77px;margin:0 auto;background-position:0 -60px}
        .page_notice .tit_error {display:block;margin-top:31px;padding:0 45px 13px;font-size:18px;line-height:29px;letter-spacing:-1px;color:#222}
        .page_notice .notice_error {width:500px;padding:50px 50px 57px}
        .page_notice .desc_error {padding:0 46px 20px}
        .page_notice .link_rel {font-weight:bold;color:#3c77eb;text-decoration:underline}
        .page_notice .btn_main {display:block;overflow:hidden;width:116px;height:38px;margin:14px auto 0;background-position:0 0;text-indent:-9999px}

        /* 서비스단 활용 영역 */
        .page_notice .cont_service {width:408px;margin:30px auto 0;border:1px solid #d7d7d7}

        /* 동영상 영역 */
        .page_notice .cont_video {width:488px;margin:30px auto 0}

        .page_notice .search_total {width:330px;margin:37px auto 0}
        .page_notice .search_total .desc_search {display:inline-block;padding-top:10px;font-size:11px;color:#888;letter-spacing:-1px}
        .page_notice .link_custom {position:absolute;right:-1px;top:79px;color:#777}
        .page_notice .notice_footer {width:600px;margin:0 auto;border-top:1px solid #dee0e4;padding-top:17px}
        .page_notice .notice_footer .txt_copyright {font-size:11px;font-family:Tahoma;color:#868c95;letter-spacing:0}
        .page_notice .notice_footer .link_daumcorp:hover {text-decoration:underline}

        /* 점검 */
        .page_notice .list_error {width:385px;height:48px;margin:0 auto 20px;padding:13px 0 0 19px;border:1px solid #e8e7ed;background-color:#fff}
        .page_notice .list_error li {line-height:19px;color:#444}

        /* 점검박스*/
        .notiBox {padding: 20px;background-color: #fff;font: normal 12px "돋움",Dotum;line-height: 19px;}
        .notiBox .tit {color: #566EE8;}
    </style>	</head>
<body>
<div id="daumWrap" class="page_notice">
    <div id="daumHead" class="notice_head" role="banner">
        <h1 class="tit_daum">
            <a href="http://www.daum.net" id="daumLogo" class="link_daum" title="Daum 메인페이지로 가기"><img src="http://icon.daumcdn.net/2010_global/daumlogo_error.gif" width="103" height="43" class="img_logo" alt="Daum"></a>
        </h1>
    </div>
    <div id="daumContent" role="main">
        <div class="daum_notice notice_error">
            <span class="img_notice ico_error"></span>
            <strong class="tit_error"  style="text-align:center;">서비스 이용에 불편을 드려 죄송합니다.<br>일시적인 오류가 발생하였습니다.</strong>
            <p class="desc_error">일시적인 오류로 인하여 회원 여러분께 불편을 드려서 대단히 죄송합니다 <br>아래 Daum 첫화면 바로 가기 버튼을 클릭 후 이동하여 이용해 주시기 바랍니다. 관련하여 문의가 있으시면 언제든지, <a href="http://cs.daum.net" class="link_rel">고객센터</a>로 문의하여 주십시오.</p>
            <a href="http://www.daum.net/" class="img_notice btn_main">Daum 첫화면</a>

            <div class="search_total">
                <form id="daumSearch" name="daumSearch" action="#" onsubmit="return false">
                    <fieldset class="fld_inside"><!--  내부검색 fld_inside 추가 -->
                        <legend class="screen_out">검색어 입력폼</legend>
                        <div class="box_searchbar"><!-- 입력창 선택시 search_on 추가 -->
                            <input type="text" class="tf_keyword bg_on" id="qTop" name="q" value="" title="검색어 입력"  autocomplete="off" spellcheck="false"><!-- bg_on삭제시 bg삭제  -->
                            <button id="daumBtnSearch" class="ico_search btn_search" type="submit">검색</button>
                        </div>
                    </fieldset>
                </form>
                <p class="desc_search">이젠, 검색도 다음입니다.&nbsp; 원하시는 모든것을 다음검색에서 찾으세요.</p>
            </div>
        </div>
        <a href="http://cs.daum.net/" class="link_custom">고객센터</a>
    </div>
    <div id="daumFoot" class="notice_footer" role="contentinfo">
        <small class="txt_copyright">Copyright &copy; <a href="http://info.daum.net/" target="_blank" title="다음카카오 회사소개" class="link_daumcorp">Daum Kakao Corp.</a> All Rights Reserved.</small>
    </div>
</div>
<img src="http://group1.magpie.daum.net/magpie/opencounter/Open.do?service=music&key=OutOfControllerError" width="0"height="0"alt="" />
<script type="text/javascript">
    commentListResize = function() {
        document.domain = "daum.net";

        if(parent.document.getElementById("commentFrame")) {

            var oBody = document.body;
            oBody.style.top='0';
            var height, width;
            /*
            if (navigator.userAgent.indexOf("MSIE") == -1) {
                height=oBody.scrollHeight;
            } else {
                height=oBody.scrollHeight+oBody.offsetHeight-oBody.clientHeight;
            }

             // PC인경우에만 노출해준다
            if(parent.document.URL.indexOf("m.music") != -1){
                height = 0;
            }
            */

            // 코멘트 PC웹 모바일웹 노출 안되도록 변경
            height = 0;
            parent.document.getElementById("commentFrame").height=height+10;


        }


    }
    window.onload = function() {
        //setTimeout (commentListResize, 200);
        //코멘트 안보이게 할꺼므로 바로실행.
        commentListResize();
    }
</script>
</body>
</html>