<div class="section_guide">
	<div class="top_guide">
		<h2 class="screen_out">다음 뮤직 이용가이드</h2>
		<p class="screen_out">특별하고 새로워진 뮤직 컨텐츠 이용가이드</p>
	</div>
	<ul class="tab_guide">
		<li#if($StringUtils.isEmpty("$!{command.info_type}") || $StringUtils.equals("$!{command.info_type}", "chart")) class="on"#end><a href="/common/musicguide?info_type=chart" class="tab chart">인기차트</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "musicbar")) class="on"#end><a href="/common/musicguide?info_type=musicbar" class="tab bar">뮤직BAR</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "info")) class="on"#end><a href="/common/musicguide?info_type=info" class="tab info">음악정보</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "my")) class="on"#end><a href="/common/musicguide?info_type=my" class="tab my">MY뮤직</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "player")) class="on"#end><a href="/common/musicguide?info_type=player" class="tab player">플레이어</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "downloader")) class="on"#end><a href="/common/musicguide?info_type=downloader" class="tab down">다운로더</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "purchase")) class="on"#end><a href="/common/musicguide?info_type=purchase" class="tab purchase">구매안내</a></li>
		<li#if( $StringUtils.equals("$!{command.info_type}", "mobile")) class="on"#end><a href="http://mobile.daum.net/web/mobileApp.daum?serviceId=music" target="_blank" class="tab mobile">모바일</a></li>
	</ul>
	
	#if($StringUtils.isEmpty("$!{command.info_type}") || $StringUtils.equals("$!{command.info_type}", "chart"))
	<div class="cont_guide">
		<h3 class="screen_out">인기차트</h3>
		<div class="cont_comm hot">
			<h5 class="screen_out">핫이슈공감</h5>
			<p class="screen_out">HOT ISSUE 지금 화제가 되는 노래 실시간 뮤직이슈를 소셜웹으로 한눈에 볼 수 있습니다</p>
			<a href="/chart/issuesong/list" class="btn_go">핫이슈공감 바로가기</a>
		</div>
		<div  id="guide_video" class="cont_comm video">
			<h5 class="screen_out">뮤직비디오 가사 바로보기</h5>
			<p class="screen_out">불편한 팝업, 귀찮은 페이지 이동 없이 뮤직비디오와 가사를 편하게 감상하세요</p>
			<a href="/vclip/chart" class="btn_go">뮤직비디오 바로가기</a>
		</div>
		<div class="cont_comm cate">
			<h5 class="screen_out">장르별차트</h5>
			<p class="screen_out">아이돌, 인디, 트로트 차트까지 다양한 차트를 보여줍니다. 장르별로 있는 핫이슈 공감</p>
			<a href="/chart/chartsong/list" class="btn_go">실시간차트 바로가기</a>
		</div>
	</div>
	#elseif( $StringUtils.equals("$!{command.info_type}", "musicbar"))
	<div class="cont_guide">
		<h3 class="screen_out">뮤직BAR</h3>
		<div class="cont_comm musicbar">
			<h4 class="screen_out">뮤직BAR</h4>
			<p class="screen_out">뮤직BAR에는 사람과 음악에 관한 특별한 음악 이야기가 있습니다</p>
			<p class="screen_out">세상을 바꾼 노래, 위대한 아티스트, 숨겨진 뮤지션의 음악을 만나보세요</p>
			<a href="/musicbar/top" class="btn_go">뮤직BAR 바로가기</a>
		</div>
		<div class="cont_comm dj">
			<h4 class="screen_out">DJ 추천음악</h4>
			<p class="screen_out">뮤직BAR DJ들이 직접 골라주는 노래와 사연을 장르별로 선택해서 들어보세요</p>
			<p class="screen_out">넓고 넓은 음악의 바다에서 보물을 건지는 법?</p>
			<a href="/musicbar/djalbum/list" class="btn_go">DJ추천음악 바로가기</a>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "info"))
	<div class="cont_guide">
		<h3 class="screen_out">음악정보</h3>
		<div class="cont_comm making">
			<h4 class="screen_out">작사/작곡자 정보확인</h4>
			<p class="screen_out">곡정보 자세히를 통해 작사, 작곡, 편곡자 정보를 제공합니다</p>
		</div>
		<div class="cont_comm artist_chart">
			<h4 class="screen_out">아티스트별 인기차트</h4>
			<p class="screen_out">이 아티스트의 대표곡은 뭘까? 궁금할땐 아티스트 인기차트부터 체크</p>
		</div>
		<div class="cont_comm artist">
			<h4 class="screen_out">한눈에 보는 아티스트 정보</h4>
			<p class="screen_out">위키백과 프로필. 초기부터 현재 멤버 정보까지</p>
			<p class="screen_out">시상식에서 올해의 앨범상을? 아티스트에 대한 모든것</p>
		</div>
		<div class="cont_comm share">
			<h4 class="screen_out">쉽고 편한 음악정보 공유</h4>
			<p class="screen_out">트위터, 페이스북, SNS부터 카페, 블로그까지 좋은 음악을 나누세요</p>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "my"))
	<div class="cont_guide">
		<h3 class="screen_out">MY뮤직</h3>
		<div class="cont_comm set">
			<h4 class="screen_out">맞춤정보를 한눈에</h4>
			<p class="screen_out">알리미로 내게 필요한 정보 제공</p>
			<p class="screen_out">관심장르를 설정하면, 새로 나온 앨범을 추천해드려요</p>
			<a href="/my/top" class="btn_go">MY뮤직 바로가기</a>
		</div>
		<div class="cont_comm playlist">
			<h4 class="screen_out">재생목록 간편하게 관리</h4>
			<p class="screen_out">재생목록에서 검색후 바로 추가하거나 음악을 듣다가 바로 담아보세요</p>
			<dl class="screen_out">
				<dt>tip. 기본재생목록은?</dt>
				<dd>플레이어 &gt; 재생목록 탭에서 사용되는 재생목록으로 이름 수정과 삭제가 불가능합니다</dd>
			</dl>
			<a href="/my/playList/detail?playlist_id=1" class="btn_go">재생목록 바로가기</a>
		</div>
		<div class="cont_comm enjoy">
			<h4 class="screen_out">내가 즐겨듣는 음악, 최근 들은 음악</h4>
			<p class="screen_out">즐겨듣는 음악과 최근 들은 음악은 뮤직플레이어 MY뮤직에서 바로 들어 볼 수 있습니다</p>
			<p class="screen_out">최근 들은 노래, 최근 찾은앨범, 최근 본 뮤비까지 최대 100건씩 제공</p>
			<a href="/my/frequent/list" class="btn_go">즐겨듣는음악 바로가기</a>
		</div>
		<div class="cont_comm search">
			<h4 class="screen_out">구매한 음악 쉽게 찾기</h4>
			<p class="screen_out">내가 구매한 노래들 찾기 힘드셨죠? 아티스트별, 노래 제목순 보기 등으로 쉽게 찾아보세요</p>
			<a href="/my/depository/mp3/list" class="btn_go">구매음악 바로가기</a>
		</div>
		<div class="cont_comm sns">
			<h4 class="screen_out">내 음악활동 자동 SNS보내기</h4>
			<p class="screen_out">SNS 설정을 하시면, 내가 구매한 노래, 추천한 음악을 실시간으로 요즘, 트위터, 페이스북에 알려드립니다.</p>
			<a href="/my/setting/list" class="btn_go">내설정 바로가기</a>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "player"))
	<div class="cont_guide">
		<h3 class="screen_out">플레이어</h3>
		<div class="cont_comm mymusic">
			<h4 class="screen_out">나만의 음악 바로듣기</h4>
			<p class="screen_out">내가 즐겨듣는 음악, 최근 들은 음악, 구매한 음악뿐만 아니라 내가 만든 재생목록까지 바로 들을 수 있어요</p>
			<a href="#" onclick="daum.Music.AodPlayer.add();return false;" class="btn_go">뮤직플레이어 바로가기</a>
		</div>
		<div class="cont_comm popularity">
			<h4 class="screen_out">인기차트 바로듣기</h4>
			<p class="screen_out">오늘 나온 신곡과 최신 인기음악을 한번에 들으려면, 인기차트를 들어보세요</p>
			<dl class="screen_out">
				<dt>tip. 인기차트곡을 재생목록에 추가하려면?</dt>
				<dd>곡선택 &gt; 담기버튼 클릭 &gt; 기본재생목록 선택후 담아주세요</dd>
			</dl>
			<a href="#" onclick="daum.Music.AodPlayer.add();return false;" class="btn_go">뮤직플레이어 바로가기</a>
		</div>
		<div class="cont_comm new">
			<h4 class="screen_out">새로워진 플레이어 TIP</h4>
			<p class="screen_out">추가하는 곡을 바로 듣고 싶으시면 플레이어에서 환경설정 아이콘을 클릭하여 재생순서 옵션을 변경해주세요</p>
			<a href="#" onclick="daum.Music.AodPlayer.add();return false;" class="btn_go">뮤직플레이어 바로가기</a>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "downloader"))
	<div class="cont_guide">
		<h3 class="screen_out">다운로더</h3>
		<div class="cont_comm mp3">
			<h4 class="screen_out">모든 브라우져 MP3 다운로드</h4>
			<p class="screen_out">파이어폭스, 크롬, 맥OS에서도 MP3 다운로드를 하실 수 있습니다</p>
			<p class="screen_out">음질과 파일명 선택 가능</p>
			<dl class="screen_out">
				<dt>tip. MP3 이용권을 사용하면?</dt>
				<dd>별도의 구매 절차 없이 다운로드 버튼 클릭만으로 바로 다운로드가 가능</dd>
			</dl>
			<a href="#" class="btn_go" onmouseover="daum.Music.Downloader.add(this,'')">다운로드 매니져 설치</a>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "purchase"))
	<div class="cont_guide">
		<h3 class="screen_out">구매안내</h3>
		<div class="cont_comm haveno">
			<h4 class="screen_out">Daum뮤직 이용권 없다면</h4>
			<p class="screen_out">음악듣기는 뮤직 플레이어에서 1분까지 감상 할 수 있습니다.</p>
			<p class="screen_out">MP3, BGM은 1곡당 600원에 개별 구매 가능하며 MP3는 부가세 별도</p>
			<p class="screen_out">뮤직비디오는 일부에 한해 1분까지 감상할 수 있습니다</p>
			<dl class="screen_out">
				<dt>tip. 이용권 구매하면?</dt>
				<dd>구매하신 MP3 또는 BGM의 곡은 전곡감상이 가능하며 뮤직비디오도 전곡영상을 보실 수 있습니다</dd>
			</dl>
			<a href="/purchase/ticketitem/list" class="btn_go">이용권 구매하러 가기</a>
		</div>
		<div class="cont_comm have">
			<h4 class="screen_out">Daum뮤직 이용권 있다면</h4>
			<p class="screen_out">스마트폰 무제한 이용권, 음악듣기 이용권, 다운로드 이용권은 최대 90% 할인된 저렴한 금액으로 MP3를 다운</p>
			<dl class="screen_out">
				<dt>tip. 이용권 구매하면?</dt>
				<dd>Daum뮤직에서 구매한 모든 MP3는 평생 소장, 기기제한이 없습니다</dd>
			</dl>
			<a href="/purchase/ticketitem/list" class="btn_go">이용권 구매하러 가기</a>
		</div>
		<div class="cont_comm payment">
			<h4 class="screen_out">결제는 어떻게 하나요</h4>
			<p class="screen_out">신용카드, 휴대폰, 다음캐쉬 중 선택하여 결제가 가능합니다</p>
			<p class="screen_out">자동결제 상품은 다음캐쉬로 결제하실 수 없습니다</p>
		</div>
	</div>		
	#elseif( $StringUtils.equals("$!{command.info_type}", "mobile"))
	<div class="cont_guide">
		<h3 class="screen_out">구매안내</h3>
		<div class="cont_comm web">
			<h4 class="screen_out">모바일웹</h4>
			<p class="screen_out">최신앨범, 인기차트, 뮤직BAR 음악 이야기를 손쉽게 만나세요</p>
			<p class="screen_out">앨범, 아티스트 정보를 언제나 쉽게 검색할 수 있습니다</p>
			<dl class="screen_out">
				<dt>tip. 모바일웹 바로가기는?</dt>
				<dd>모바일 기기 브라우저의 주소창에 m.music.daum.net을 입력하세요</dd>
			</dl>
			<a href="http://mobile.daum.net/web/mobileWeb.daum?serviceId=music" target="_blank" class="btn_go">모바일웹 자세히 보기</a>
		</div>
		<div class="cont_comm app">
			<h4 class="screen_out">뮤직APP</h4>
			<p class="screen_out">PC 다운로드, 동기화 필요 없이 어디서나 Daum뮤직의 모든 곡을 모바일로 편하게 감상하세요</p>
			<p class="screen_out">스마트폰 무제한 저장 기능으로 끊김없이 음악감상이 가능합니다.</p>
			<a href="http://mobile.daum.net/web/mobileApp.daum?serviceId=music" target="_blank" class="btn_go">뮤직APP 자세히보기</a>
			<a href="http://itunes.apple.com/kr/app/id411835583" class="btn_go btn_down">아이폰용 다운로드</a>
		</div>
	</div>		
	#end
</div>