		<style type="text/css">
		/* reset */
		body,div,dl,dt,dd,ul,li,h1,h2,h3,p {margin:0;padding:0;}
		dl,ul,li {list-style:none;}
		html, body {background:#fff;}
		body {font:12px/1.5 "돋움",dotum,sans-serif;color:#} /* color값은 디자인가이드에 맞게사용 */

		a {color:#444;text-decoration:none;}
		a:active, a:hover {text-decoration:underline;}
		address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal;}

		/* IR 기법은 아래 케이스만 사용함 */
		.ir_pm {display:block;overflow:hidden;width:0;height:0;font-size:0px;line-height:0;text-indent:-9999px;}

		/* screen_out : 숨김 텍스트 사용시 필히 사용 - display:none 사용금지 */
		.screen_out {overflow:hidden;position:absolute;left:-9999in;width:0;height:0;}
		.screen_hide {font-size:0;line-height:0;visibility:hidden;}
		.tbl {border-collapse:collapse;border-spacing: 0;} /* 테이블 초기화 */
		/* body */
		body {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_patturn_1.jpg) repeat left top;}
		#daumPromotion {margin:0 auto;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_wing_1.jpg) no-repeat center top;}
		#daumHead {width:978px;height:199px;margin:0 auto;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_head_1.jpg) no-repeat; padding-top:0;}
		#daumContent {width:978px;margin:0 auto;}
		#mTop {width:978px;height:637px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_menu_1.jpg) no-repeat;}
		#mCenter .section_use {position:relative;width:978px;height:550px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_cont1_1.jpg) no-repeat;}
		#mCenter .section_dj {width:978px;}
		#daumFoot {width:978px;height:46px;margin:0 auto;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_foot_1.jpg) no-repeat;}
		#daumServiceLogo {display:none;}
		/* mTop */
		.list_menu {overflow:hidden;width:720px;padding:14px 0 0 157px;}
		.list_menu li {float:left;}
		.list_menu .link {float:left;width:360px;height:119px;font-size:0;text-indent:-9999px;}

		/* mCenter */
		.section_use .btn_use {position:absolute;height:29px;font-size:0;text-indent:-9999px;}
		.list_guide .btn_subscribe {top:166px;left:92px;width:109px;}
		.list_guide .btn_purchase {top:166px;left:420px;width:129px;}
		.wrap_discount .btn_purchase {top:245px;left:117px;width:70px;height:27px;}
		.section_dj .wrap_music {overflow:hidden;position:absolute;bottom:28px;right:29px;float:left;width:761px;}

		/* dj영역 */
		.section_dj .tit {width:978px;height:70px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_dj_1.jpg) no-repeat;text-indent:-9999px;}
		.section_dj .dj_bg {position:relative;width:978px;height:313px;}
		.section_dj .dj1 {height:294px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/dj_music1_1.jpg) no-repeat;;}
		.section_dj .dj2 {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/dj_music2_1.jpg) no-repeat;;}
		.section_dj .dj3 {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/dj_music3_1.jpg) no-repeat;;}
		.section_dj .dj4 {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/dj_music4_1.jpg) no-repeat;;}
		.section_dj .dj5 {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/dj_music5_1.jpg) no-repeat;;}
		.section_dj .link_album {display:block;position:absolute;bottom:28px;left:28px;width:142px;height:136px;}
		.section_dj .dj_recom {overflow:hidden;position:absolute;top:20px;width:978px;height:98px;text-indent:-9999px;}
		.section_dj .norang .dj_recom {top:0px;}
		.section_dj .album_info {padding-bottom:7px;color:#404040;font-size:14px;}
		.section_dj .album_info .album_name {font-weight:bold;}
		.section_dj .album_info .txt_bar {color:#e4e4e4;}
		.section_dj .album_info .artist .link {position:relative;top:-1px;color:#888;font-size:12px;}

		/* 이미지 */
		.ico_songlisten {overflow:hidden;position:absolute;bottom:36px;left:132px;width:30px;height:30px;text-indent:-9999px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_listen2_normal.png) no-repeat;cursor:pointer;}
		.ico_songlisten:hover, .ico_songlisten.on {background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_listen2_over.png) no-repeat;}
		.bg_thead {width:761px;height:31px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_thead.gif) no-repeat;}
		.ico_comm {overflow:hidden;float:left;width:21px;height:22px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_comm.gif) no-repeat;text-indent:-9999px;}
		.listen_song {background-position:0 -25px;}
		.listen_off {background-position:0 -50px;cursor:default;}
		.lyrics_song {background-position:-30px -25px;}
		.lyrics_off {background-position:-30px -50px;}
		.album_song {background-position:-60px -25px;}
		.video_song {background-position:-90px -25px;}
		.video_off {background-position:-90px -50px;cursor:default;}
		.my_song {background-position:-120px -25px;}
		.mp3_song {width:62px;height:22px;background-position:-40px 0;}

		/* 테이블 */
		.section_dj .tbl_music td {border-bottom:1px solid #eaeaea;}
		.section_dj .tbl_music .col_rank {width:35px;padding:8px 0 8px 9px;color:#898989;font:9px tahoma;text-align:center;}
		.section_dj .tbl_music .col_title {width:317px;padding:8px 0 8px 4px;}
		.section_dj .tbl_music .col_artist {width:128px;padding:8px 0;}
		.section_dj .tbl_music .col_popular {width:41px;padding:8px 0;}
		.section_dj .tbl_music .col_listen {width:29px;padding:8px 0;}
		.section_dj .tbl_music .col_lyrics {width:23px;text-align:center;padding:8px 0;}
		.section_dj .tbl_music .col_album {width:23px;text-align:center;padding:8px 0;}
		.section_dj .tbl_music .col_video {width:23px;text-align:center;padding:8px 0;}
		.section_dj .tbl_music .col_my {width:48px;text-align:center;padding:8px 0;}
		.section_dj .tbl_music .col_buy {width:81px;padding:8px 0;}
		.section_dj .tbl_music .col_popular .wrap_bar_graph {display:block;overflow:hidden;width:29px;height:8px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_comm.gif) no-repeat 0 0;}
		.section_dj .tbl_music .col_popular .wrap_bar_graph .bar_popular {display:block;height:8px;background-position:0 -8px;text-indent:-9999px;}

		/* 무료감상하단부분 */
		.list_info {width:978px;height:83px;background:url(http://s1.daumcdn.net/img-contents/music/2011_home/promotion/bg_music_bot_1.jpg) no-repeat;}

		/* ie6 png */
		.ico_songlisten {_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_listen2_normal.png', sizingMethod='crop');}
		.ico_songlisten:hover {_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s1.daumcdn.net/img-contents/music/2011_home/promotion/ico_listen2_over.png', sizingMethod='crop');}





		</style>
		<div id="daumPromotion">
			<div id="daumHead">
				<h1>
					<span id="daumLogo" class="ir_pm">Daum</span>
					<span id="daumServiceLogo" class="ir_pm">Music</span>
				</h1>
			</div>
			<div id="daumContent">
				<div id="mTop">
					<ul class="list_menu">
						<li>
							<a href="/chart/chartsong/list" class="link chart">
								<em>친절한 차트씨</em>
								<span>지금 화제가 되고 있는 곡은 뭘까? 실시간 뮤직이슈를 한눈에 본다!</span>
							</a>
						</li>
						<li>
							<a href="/musicbar/djalbum/list" class="link dj">
								<em>나는 DJ다</em>
								<span>라디가 즐겨듣는 음악이 궁금해? 음악애호가가 직접 추천하는 음악들</span>
							</a>
						</li>
						<li>
							<a href="/musicbar/musicbar/list?menu_id=3" class="link tribute">
								<em>트리뷰트 90</em>
								<span>90년대 히트곡, 인디밴드의 재해석 고퀄리티 영상 독점공개</span>
							</a>
						</li>
						<li>
							<a href="/common/musicguide?info_type=player" class="link player">
								<em>똑똑해진 뮤직플레이어</em>
								<span>내맘대로 구성하는 재생목록! MY뮤직, 인기차트를 플레이어에서 바로 듣는다</span>
							</a>
						</li>
						<li>
							<a href="/common/musicguide?info_type=chart#guide_video" class="link view">
								<em>새창NO 바로가기OK</em>
								<span>은근 귀찮았던 팝업과 새창 이제 가사와 뮤직비디오는 바로보기로 편하게 본다</span>
							</a>
						</li>
						<li>
							<a href="/common/musicguide?info_type=mobile" class="link mobile">
								<em>내손안에 Daum 뮤직</em>
								<span>아직도 MP3로 노래듣니? 더 강력해진 모바일 파워! 뮤직앱과 모바일앱으로 언제어디서나!</span>
							</a>
						</li>
						<li>
							<a href="/common/musicguide?info_type=info" class="link making">
								<em>음악정보 종결자</em>
								<span>이 곡 작사 작곡은 누가했어? 국내 최강의 아티스트 앨범 정보를 한눈에</span>
							</a>
						</li>
						<li>
							<a href="/common/promotion2011#pro_event" class="link event">
								<em>뮤직 대박 이벤트</em>
								<span>푸짐한 선물이 한가득 Daum 뮤직이 쏩니다!</span>
							</a>
						</li>
					</ul>
				</div>
				<div id="mCenter">
					<div id="pro_event" class="section_use">
						<h2 class="ir_pm">1. 뮤직이용권 평생 최대 40% 할인 + 아이패드2, 비틀즈 박스셋을 드려요!</h2>
						<ol class="list_guide">
							<li>
								<p class="ir_pm">내 관심 지역 쇼핑 할인 정보를 이메일로 보내주는 Daum 소셜 쇼핑을 구독 신청한다.</p>
								<a href="/purchase/ticketitem/list" class="btn_use btn_subscribe" onclick="daum.Music.Purchase.goSocialShopping();return false;">구독신청</a>
							</li>
							<li>
								<p class="ir_pm">소셜 쇼핑을 신청한 ID로 아래 8개 추천 이용권 중 하나를 최대 40% 할인된 가격으로 구매한다.</p>
								<a href="/purchase/ticketitem/list" class="btn_use btn_purchase">이용권 구매하기</a>
							</li>
							<li>
								<p class="ir_pm">8월 31일까지 아래 추천 이용권 8개중 하나를 구매했다면, 자동으로 아래 경품이벤트 응모 완료!</p>
								<p class="ir_pm">경품 이벤트는 8월 31일까지 추천 이용권 구매자에 한함</p>
							</li>
						</ol>
						<div class="wrap_discount">
							<strong class="ir_pm">특별할인가</strong>
							<a href="/purchase/ticketitem/list" class="btn_use btn_purchase">구매하기</a>
							<dl class="ir_pm">
								<dt>스마트폰용</dt>
								<dd>1개월권 기존 5,000원에서 3,800원으로 할인</dd>
								<dd>자동결재 기존 4,500원에서 2,800원으로 할인</dd>
							</dl>
							<dl class="ir_pm">
								<dt>MP3+음악감상</dt>
								<dd>1개월권 기존 7,700원에서 5,500원으로 할인</dd>
								<dd>자동결재 기존 7,000원에서 4,500원으로 할인</dd>
							</dl>
							<dl class="ir_pm">
								<dt>음악감상</dt>
								<dd>1개월권 기존 3,000원에서 1,900원으로 할인</dd>
								<dd>자동결재 기존 3,000원에서 1,800원으로 할인</dd>
							</dl>
							<dl class="ir_pm">
								<dt>MP3</dt>
								<dd>1개월권 기존 5,500원에서 4,400원으로 할인</dd>
								<dd>자동결재 기존 5,000원에서 4,000원으로 할인</dd>
							</dl>
						</div>
						<div class="wrap_giveaway">
							<strong class="ir_pm">경품</strong>
							<ul class="ir_pm">
								<li>아이패드2 (70만원상당)</li>
								<li>비틀즈 박스셋 (30만원상당)</li>
								<li>wesc 헤드폰 (16만원상당)</li>
							</ul>
						</div>
					</div>
					<div class="section_dj">
						<h2 class="tit">2.뮤직BAR DJ가 추천하는 곡을 선물로 드립니다! 무료로 감상&amp;다운로드 하세요.</h2>
						<div class="dj_bg dj1">
							<strong class="norang"><a href="/musicbar/djalbum/list?order_type=DATE&dj_id=15" class="dj_recom">노랑트위티의 추천평</a></strong>
							<p class="ir_pm">가끔은 버터냄새 쫙 빠진 담백한 게 땡기고 그럴 때 있지않나요? 기왕이면 제 스테이크는 미디움레어로 주세요.</p>
							#set($song1 = $songList[4])
							#foreach ($artist in $song1.keyArtistList)
								#set($artist1 = $artist)								
							#end
							#set($song2 = $songList[5])
							#foreach ($artist in $song2.keyArtistList)
								#set($artist2 = $artist)								
							#end
							<a href="/album/main?album_id=$song1.album.albumId" class="link_album" onclick="daum.Music.albumDetail('$song1.album.albumId', '');return false;"></a>
							<a title="앨범듣기" href="javascript:;" class="ico_songlisten" onclick="daum.Music.AodPlayer.add(this,'$song1.album.albumId', 'itemTypeAlbumId' );return false;">앨범듣기</a>
							<div class="wrap_music">
								<p class="album_info">
									<em class="album_name"><a href="/album/main?album_id=$song1.album.albumId" onclick="daum.Music.albumDetail('$song1.album.albumId','');return false;">$song1.album.title</a></em>
									<span class="txt_bar">|</span>
									<span class="artist"><a href="/artist/main?artist_id=$artist1.artistId" class="link" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></span>
								</p>
								<div class="bg_thead"></div>
								<table id="trackContainer" class="tbl tbl_music">
									<caption class="screen_hide">앨범정보_곡 리스트</caption>
									<colgroup>
										<col class="col_rank" />
										<col class="col_title" />
										<col class="col_artist" />
										<col class="col_popular" />
										<col class="col_listen" />
										<col class="col_lyrice" />
										<col class="col_album" />
										<col class="col_video" />
										<col class="col_my" />
										<col class="col_buy" />
									</colgroup>
									<thead class="screen_hide">
										<tr class="screen_out">
											<th scope="col">순위</th>
											<th scope="col">곡명</th>
											<th scope="col">아티스트</th>
											<th scope="col">인기도</th>
											<th scope="col">듣기</th>
											<th scope="col">가사</th>
											<th scope="col">앨범</th>
											<th scope="col">뮤비</th>
											<th scope="col">담기</th>
											<th scope="col">구매하기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col_rank">1</td>
											<td class="col_title"><a href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId"  title="$song1.title" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">$song1.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist1.artistId" title="$artist1.name" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:68%;" class="ico_comm bar_popular">인기도 68%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song1.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song1.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song1.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song1.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist1.artistId&vclip_id=$song1.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song1.vclipLinkId','$artist1.artistId');return false">#end 뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song1.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song1.songId','$song1.album.albumId');return false;">MP3</a>
											</td>
										</tr>
										<tr>
											<td class="col_rank">2</td>
											<td class="col_title"><a href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId"  title="$song2.title" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">$song2.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist2.artistId" title="$artist2.name" onclick="daum.Music.artistDetail('$artist2.artistId');return false;">$artist2.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:34%;" class="ico_comm bar_popular">인기도 34%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song2.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song2.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song2.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song2.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist2.artistId&vclip_id=$song2.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song2.vclipLinkId','$artist2.artistId');return false">#end뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song2.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song2.songId','$song2.album.albumId');return false;">MP3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="dj_bg dj2">
							<strong class="gom"><a href="/musicbar/djalbum/list?order_type=DATE&dj_id=11" class="dj_recom">곰PD의 추천평</a></strong>
							<p class="ir_pm">펑크 음악은 좋은데... 징징거리는 기타소리 때문에 귀가 피곤하다면? 기타없이 신나는 펑크 음악을 들려주는 이들이 있다. Beatles부터 Ben Folds를 거쳐 MIKA까지 각각의 장점들만 쏙쏙 흡수한 네 명의 24살 동갑내기. 올 여름엔 딕펑스!</p>
							#set($song1 = $songList[8])
							#foreach ($artist in $song1.keyArtistList)
								#set($artist1 = $artist)								
							#end
							#set($song2 = $songList[9])
							#foreach ($artist in $song2.keyArtistList)
								#set($artist2 = $artist)								
							#end
							<a href="/album/main?album_id=$song1.album.albumId" class="link_album" onclick="daum.Music.albumDetail('$song1.album.albumId', '');return false;"></a>
							<a title="앨범듣기" href="javascript:;" class="ico_songlisten" onclick="daum.Music.AodPlayer.add(this,'$song1.album.albumId', 'itemTypeAlbumId' );return false;">앨범듣기</a>
							<div class="wrap_music">
								<p class="album_info">
									<em class="album_name"><a href="/album/main?album_id=$song1.album.albumId" onclick="daum.Music.albumDetail('$song1.album.albumId','');return false;">$song1.album.title</a></em>
									<span class="txt_bar">|</span>
									<span class="artist"><a href="/artist/main?artist_id=$artist1.artistId" class="link" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></span>
								</p>
								<div class="bg_thead"></div>
								<table id="trackContainer" class="tbl tbl_music">
									<caption class="screen_hide">앨범정보_곡 리스트</caption>
									<colgroup>
										<col class="col_rank" />
										<col class="col_title" />
										<col class="col_artist" />
										<col class="col_popular" />
										<col class="col_listen" />
										<col class="col_lyrice" />
										<col class="col_album" />
										<col class="col_video" />
										<col class="col_my" />
										<col class="col_buy" />
									</colgroup>
									<thead class="screen_hide">
										<tr class="screen_out">
											<th scope="col">순위</th>
											<th scope="col">곡명</th>
											<th scope="col">아티스트</th>
											<th scope="col">인기도</th>
											<th scope="col">듣기</th>
											<th scope="col">가사</th>
											<th scope="col">앨범</th>
											<th scope="col">뮤비</th>
											<th scope="col">담기</th>
											<th scope="col">구매하기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col_rank">1</td>
											<td class="col_title"><a href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId"  title="$song1.title" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">$song1.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist1.artistId" title="$artist1.name" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:86%;" class="ico_comm bar_popular">인기도 86%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song1.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song1.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song1.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song1.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist1.artistId&vclip_id=$song1.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song1.vclipLinkId','$artist1.artistId');return false">#end 뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song1.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song1.songId','$song1.album.albumId');return false;">MP3</a>
											</td>
										</tr>
										<tr>
											<td class="col_rank">2</td>
											<td class="col_title"><a href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId"  title="$song2.title" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">$song2.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist2.artistId" title="$artist2.name" onclick="daum.Music.artistDetail('$artist2.artistId');return false;">$artist2.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:68%;" class="ico_comm bar_popular">인기도 68%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song2.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song2.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song2.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song2.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist2.artistId&vclip_id=$song2.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song2.vclipLinkId','$artist2.artistId');return false">#end뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song2.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song2.songId','$song2.album.albumId');return false;">MP3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="dj_bg dj3">
							<strong class="rabbit"><a href="/musicbar/djalbum/list?order_type=DATE&dj_id=12" class="dj_recom">루싸이트 토끼의 추천평</a></strong>
							<p class="ir_pm">익숙한 느낌이지만 분명 전혀 새로운 이들의 음악은 2000년대에 꾸는 90년대의 꿈같다. 듣고있자면 뭐든 타고 달리고 싶어진다. 터질 듯 부풀어 오르지만 동시에 쉽게 무너져버릴 것 같은 유약한 젊음이 느껴져 사랑스럽다.</p>
							#set($song1 = $songList[6])
							#foreach ($artist in $song1.keyArtistList)
								#set($artist1 = $artist)								
							#end
							#set($song2 = $songList[7])
							#foreach ($artist in $song2.keyArtistList)
								#set($artist2 = $artist)								
							#end
							<a href="/album/main?album_id=$song1.album.albumId" class="link_album" onclick="daum.Music.albumDetail('$song1.album.albumId', '');return false;"></a>
							<a title="앨범듣기" href="javascript:;" class="ico_songlisten" onclick="daum.Music.AodPlayer.add(this,'$song1.album.albumId', 'itemTypeAlbumId' );return false;">앨범듣기</a>
							<div class="wrap_music">
								<p class="album_info">
									<em class="album_name"><a href="/album/main?album_id=$song1.album.albumId" onclick="daum.Music.albumDetail('$song1.album.albumId','');return false;">$song1.album.title</a></em>
									<span class="txt_bar">|</span>
									<span class="artist"><a href="/artist/main?artist_id=$artist1.artistId" class="link" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></span>
								</p>
								<div class="bg_thead"></div>
								<table id="trackContainer" class="tbl tbl_music">
									<caption class="screen_hide">앨범정보_곡 리스트</caption>
									<colgroup>
										<col class="col_rank" />
										<col class="col_title" />
										<col class="col_artist" />
										<col class="col_popular" />
										<col class="col_listen" />
										<col class="col_lyrice" />
										<col class="col_album" />
										<col class="col_video" />
										<col class="col_my" />
										<col class="col_buy" />
									</colgroup>
									<thead class="screen_hide">
										<tr class="screen_out">
											<th scope="col">순위</th>
											<th scope="col">곡명</th>
											<th scope="col">아티스트</th>
											<th scope="col">인기도</th>
											<th scope="col">듣기</th>
											<th scope="col">가사</th>
											<th scope="col">앨범</th>
											<th scope="col">뮤비</th>
											<th scope="col">담기</th>
											<th scope="col">구매하기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col_rank">1</td>
											<td class="col_title"><a href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId"  title="$song1.title" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">$song1.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist1.artistId" title="$artist1.name" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:34%;" class="ico_comm bar_popular">인기도 34%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song1.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song1.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song1.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song1.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist1.artistId&vclip_id=$song1.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song1.vclipLinkId','$artist1.artistId');return false">#end 뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song1.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song1.songId','$song1.album.albumId');return false;">MP3</a>
											</td>
										</tr>
										<tr>
											<td class="col_rank">2</td>
											<td class="col_title"><a href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId"  title="$song2.title" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">$song2.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist2.artistId" title="$artist2.name" onclick="daum.Music.artistDetail('$artist2.artistId');return false;">$artist2.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:34%;" class="ico_comm bar_popular">인기도 34%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song2.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song2.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song2.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song2.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist2.artistId&vclip_id=$song2.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song2.vclipLinkId','$artist2.artistId');return false">#end뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song2.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song2.songId','$song2.album.albumId');return false;">MP3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="dj_bg dj4">
							<strong class="rad"><a href="/musicbar/djalbum/list?order_type=DATE&dj_id=17" class="dj_recom">Ra.D의 추천평</a></strong>
							<p class="ir_pm">고등학교때 테잎으로, 스무살이 되어서는 씨디로, 현재는 아이폰으로 항상듣는 명반중의 명반!</p>
							#set($song1 = $songList[2])
							#foreach ($artist in $song1.keyArtistList)
								#set($artist1 = $artist)								
							#end
							#set($song2 = $songList[3])
							#foreach ($artist in $song2.keyArtistList)
								#set($artist2 = $artist)								
							#end
							<a href="/album/main?album_id=$song1.album.albumId" class="link_album" onclick="daum.Music.albumDetail('$song1.album.albumId', '');return false;"></a>
							<a title="앨범듣기" href="javascript:;" class="ico_songlisten" onclick="daum.Music.AodPlayer.add(this,'$song1.album.albumId', 'itemTypeAlbumId' );return false;">앨범듣기</a>
							<div class="wrap_music">
								<p class="album_info">
									<em class="album_name"><a href="/album/main?album_id=$song1.album.albumId" onclick="daum.Music.albumDetail('$song1.album.albumId','');return false;">$song1.album.title</a></em>
									<span class="txt_bar">|</span>
									<span class="artist"><a href="/artist/main?artist_id=$artist1.artistId" class="link" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></span>
								</p>
								<div class="bg_thead"></div>
								<table id="trackContainer" class="tbl tbl_music">
									<caption class="screen_hide">앨범정보_곡 리스트</caption>
									<colgroup>
										<col class="col_rank" />
										<col class="col_title" />
										<col class="col_artist" />
										<col class="col_popular" />
										<col class="col_listen" />
										<col class="col_lyrice" />
										<col class="col_album" />
										<col class="col_video" />
										<col class="col_my" />
										<col class="col_buy" />
									</colgroup>
									<thead class="screen_hide">
										<tr class="screen_out">
											<th scope="col">순위</th>
											<th scope="col">곡명</th>
											<th scope="col">아티스트</th>
											<th scope="col">인기도</th>
											<th scope="col">듣기</th>
											<th scope="col">가사</th>
											<th scope="col">앨범</th>
											<th scope="col">뮤비</th>
											<th scope="col">담기</th>
											<th scope="col">구매하기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col_rank">1</td>
											<td class="col_title"><a href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId"  title="$song1.title" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">$song1.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist1.artistId" title="$artist1.name" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:16%;" class="ico_comm bar_popular">인기도 16%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song1.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song1.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song1.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song1.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist1.artistId&vclip_id=$song1.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song1.vclipLinkId','$artist1.artistId');return false">#end 뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song1.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song1.songId','$song1.album.albumId');return false;">MP3</a>
											</td>
										</tr>
										<tr>
											<td class="col_rank">2</td>
											<td class="col_title"><a href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId"  title="$song2.title" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">$song2.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist2.artistId" title="$artist2.name" onclick="daum.Music.artistDetail('$artist2.artistId');return false;">$artist2.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:68%;" class="ico_comm bar_popular">인기도 68%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song2.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song2.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song2.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song2.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist2.artistId&vclip_id=$song2.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song2.vclipLinkId','$artist2.artistId');return false">#end뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song2.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song2.songId','$song2.album.albumId');return false;">MP3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="dj_bg dj5">
							<strong class="soda"><a href="/musicbar/djalbum/list?order_type=DATE&dj_id=19" class="dj_recom">SODA의 추천평</a></strong>
							<p class="ir_pm">난 보니핑크의 밝은곡 보단 습기가 많은듯한 노래들을 더 좋아한다. 전에 오사카 공연을 갔을때, 관계자께서 보니핑크가 가까운 교토출신이라며, 같은무대에서 공연한적이 있다고해 무지무지 설레였던적이 있다. 요즘같이 비가 자주올때에 한밤중 혼자 집에서 들어보시길. 꼭 혼자!</p>
							#set($song1 = $songList[0])
							#foreach ($artist in $song1.keyArtistList)
								#set($artist1 = $artist)								
							#end
							#set($song2 = $songList[1])
							#foreach ($artist in $song2.keyArtistList)
								#set($artist2 = $artist)								
							#end
							<a href="/album/main?album_id=$song1.album.albumId" class="link_album" onclick="daum.Music.albumDetail('$song1.album.albumId', '');return false;"></a>
							<a title="앨범듣기" href="javascript:;" class="ico_songlisten" onclick="daum.Music.AodPlayer.add(this,'$song1.album.albumId', 'itemTypeAlbumId' );return false;">앨범듣기</a>
							<div class="wrap_music">
								<p class="album_info">
									<em class="album_name"><a href="/album/main?album_id=$song1.album.albumId" onclick="daum.Music.albumDetail('$song1.album.albumId','');return false;">$song1.album.title</a></em>
									<span class="txt_bar">|</span>
									<span class="artist"><a href="/artist/main?artist_id=$artist1.artistId" class="link" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></span>
								</p>
								<div class="bg_thead"></div>
								<table id="trackContainer" class="tbl tbl_music">
									<caption class="screen_hide">앨범정보_곡 리스트</caption>
									<colgroup>
										<col class="col_rank" />
										<col class="col_title" />
										<col class="col_artist" />
										<col class="col_popular" />
										<col class="col_listen" />
										<col class="col_lyrice" />
										<col class="col_album" />
										<col class="col_video" />
										<col class="col_my" />
										<col class="col_buy" />
									</colgroup>
									<thead class="screen_hide">
										<tr class="screen_out">
											<th scope="col">순위</th>
											<th scope="col">곡명</th>
											<th scope="col">아티스트</th>
											<th scope="col">인기도</th>
											<th scope="col">듣기</th>
											<th scope="col">가사</th>
											<th scope="col">앨범</th>
											<th scope="col">뮤비</th>
											<th scope="col">담기</th>
											<th scope="col">구매하기</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col_rank">1</td>
											<td class="col_title"><a href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId"  title="$song1.title" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">$song1.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist1.artistId" title="$artist1.name" onclick="daum.Music.artistDetail('$artist1.artistId');return false;">$artist1.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:34%;" class="ico_comm bar_popular">인기도 34%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song1.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song1.album.albumId&song_id=$song1.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song1.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song1.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song1.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song1.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist1.artistId&vclip_id=$song1.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song1.vclipLinkId','$artist1.artistId');return false">#end 뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song1.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song1.songId','$song1.album.albumId');return false;">MP3</a>
											</td>
										</tr>
										<tr>
											<td class="col_rank">2</td>
											<td class="col_title"><a href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId"  title="$song2.title" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">$song2.title</a></td>
											<td class="col_artist"><a href="/artist/main?artist_id=$artist2.artistId" title="$artist2.name" onclick="daum.Music.artistDetail('$artist2.artistId');return false;">$artist2.name</a></td>
											<td class="col_popular">
												<span class="wrap_bar_graph">
													<span style="width:34%;" class="ico_comm bar_popular">인기도 34%</span>
												</span>
											</td>
											<td class="col_listen">
												<a title="듣기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm listen_song" onclick="daum.Music.AodPlayer.add(this,'$song2.songId');return false;">듣기</a>
											</td>
											<td class="col_lyrics">
												<a title="가사 보기" href="/album/main?album_id=$song2.album.albumId&song_id=$song2.album.albumId" class="ico_comm lyrics_song" onclick="daum.Music.lyricsDetail('$song2.album.albumId','$song1.songId');return false">가사 보기</a>
											</td>
											<td class="col_album">
												<a href="/album/main?album_id=$song2.album.albumId" title="앨범 보기" class="ico_comm album_song" onclick="daum.Music.albumDetail('$song2.album.albumId');return false;">앨범 보기</a>
											</td>
											<td class="col_video">
												<a title="뮤직비디오 보기" #if($StringUtils.equals("$!{song2.vclipLinkId}", '0'))class="ico_comm video_off"> #else href="/artist/vclip/detail?artist_id=$artist2.artistId&vclip_id=$song2.vclipLinkId" class="ico_comm video_song" onclick="daum.Music.videoDetail('$song2.vclipLinkId','$artist2.artistId');return false">#end뮤직비디오 보기</a>
											</td>
											<td class="col_my">
												<a title="담기" href="javascript:;" onclick="controller.putMy('$song2.songId');return false;" class="ico_comm my_song">담기</a>
											</td>
											<td class="col_buy">
												<a title="MP3 구매하기" href="javascript:;" class="ico_comm mp3_song" onclick="controller.cart('mp3','$song2.songId','$song2.album.albumId');return false;">MP3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<script type="text/javascript">
						var controller = new daum.Music.ListPrototype();
						controller.initialize();
						</script>
						<ul class="list_info ir_pm">
							<li>해당 이벤트는 Daum 뮤직을 이용하는 모든 분들께 무료감상이 가능하도록 음원 관리자와 협의하에 합당한 댓가를 지불한 합법적인 음원입니다.</li>
							<li>이용권이 없이도 8월 31일까지 무료로 전체 듣기가 가능하며, MP3 버튼을 클릭하면 0원에 무료 다운로드 하실 수 있습니다.</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="daumFoot" class="ir_pm">Copyright(c) Daum Communications. All rights reserved.</div>		
		</div>
#if( $StringUtils.equals("$!{command.debugmode}","2") )
#foreach ($song in $songList)
			곡아이디: $song.songId<br/>
			곡명 : $song.title<br/>
			앨범아이디 : $song.album.albumId<br/>
			앨범명 : $song.album.title<br/>
			#foreach ($artist in $song.keyArtistList)
				아티스트아이디 : $artist.artistId<br/>
				아티스트명 : $artist.name<br/>
			#end
			인기도 : #printPopularity($song) <br/>
			인기도2: $!{song.favorite}  <br/>
			듣기아이디(널이면 비활성화): #if($!{song.AODLinkId}) $song.AODLinkId #end <br/>
			뮤직비디오아이디 (널이면 비활성화) :#if($!{song.vclipLinkId}) $song.vclipLinkId #end <br/>
			가사유무 : $song.lyricsYn<br/>
			aodLinkId : $song.AODLinkId<br/>
			bgmLinkId : $song.BGMLinkId<br/>
			mp3LinkId : $song.MP3LinkId<br/>
			$song.ringSalesStatus<br/>
			패키지 : $song.album.packageSaleYn<br/>		
#end
#end