##########################################################################
## UserAgentParser
##########################################################################
##
## Toolbox에 등록된 userAgentUtil의 UserAgentParser를
## 사용할 땐 먼저 아래와같이 parse 메소드에 request객체를 넘겨준뒤
## 그 결과를 받아서 사용합니다
##
## 기존 ua_check_core.vm을 대체하는 기능을 제공하는
## 신규 표준 ua parsing library 입니다.
##
## 하위호환을 위해 제공하는 UserAgentCheckCoreAdapter 기능대신에
## UserAgentParser 사용을 추천합니다. 사용을 위해선
## 툴박스에 정의된 키값을 인스턴스명으로 parse를 하는 과정을
## 아래와 같이 반드시 선언하도록 합니다.
## #set($ua_result = $userAgent.parse($request.getHeader("User-Agent")))
##
## 예제는 아래 코드를 참고하세요.
##########################################################################
#set($ua_result = $userAgent.parse($request.getHeader("User-Agent")))
<h3>UserAgentParser tool example</h3>
<p>&#35;set(&#36;ua_result = &#36;userAgent.parse(&#36;request.getHeader("User-Agent")))</p>
<ul>
	<li>&#36;ua_result.ua : <strong>$!{ua_result.ua}</strong></li>
	<li>
		&#36;ua_result.os
		<ul>
    		<li>&#36;ua_result.os.name : <strong>$!{ua_result.os.name}</strong></li>
        	<li>&#36;ua_result.os.windows : <strong>$!{ua_result.os.windows}</strong></li>
        	<li>&#36;ua_result.os.android : <strong>$!{ua_result.os.android}</strong></li>
        	<li>&#36;ua_result.os.ios : <strong>$!{ua_result.os.ios}</strong></li>
        	<li>&#36;ua_result.os.mac : <strong>$!{ua_result.os.mac}</strong></li>
        	<li>&#36;ua_result.os.linux : <strong>$!{ua_result.os.linux}</strong></li>
        	<li>&#36;ua_result.os.blackberry : <strong>$!{ua_result.os.blackberry}</strong></li>
        	<li>&#36;ua_result.os.bada : <strong>$!{ua_result.os.bada}</strong></li>
        	<li>&#36;ua_result.os.polaris : <strong>$!{ua_result.os.polaris}</strong></li>
        	<li>&#36;ua_result.os.webos : <strong>$!{ua_result.os.webos}</strong></li>
		</ul>
   	<li>&#36;ua_result.platform : <strong>$!{ua_result.platform}</strong></li>
	<li>
		&#36;ua_result.browser
		<ul>
            <li>&#36;ua_result.browser.name: <strong>$!{ua_result.browser.name}</strong></li>
			<li>&#36;ua_result.browser.version : <strong>$!{ua_result.browser.version}</strong></li>
			<li>&#36;ua_result.browser.major : <strong>$!{ua_result.browser.major}</strong></li>
			<li>&#36;ua_result.browser.minor : <strong>$!{ua_result.browser.minor}</strong></li>
			<li>&#36;ua_result.browser.patch : <strong>$!{ua_result.browser.patch}</strong></li>
		</ul>
	</li>
	<li>
		&#36;ua_result.app
		<ul>
			<li>&#36;ua_result.app.isApp : $!{ua_result.app.isApp}</li>
			<li>&#36;ua_result.app.name : $!{ua_result.app.name}</li>
			<li>&#36;ua_result.app.version : $!{ua_result.app.version}</li>
		</ul>
	</li>
</ul>