#set($ua_string = $request.getHeader("User-Agent"))
#set($ua=$ua_string.toLowerCase())
#set($ua_result = $userAgent.parse($ua_string))

#set($isWebviewer = false)
#if($ua.matches(".*uzard.*") || ($ua.matches(".*wv.*") && $ua.matches(".*lg.*")))
    #set($isWebviewer = true)
#end

#set($isAndroid=false)
#set($isIos=false)

#if($ua.matches(".*android.*"))
	#set($isAndroid=true)
#end

#if($ua.matches(".*ipod.*") || $ua.matches(".*ipad.*") || $ua.matches(".*iphone.*"))
	#set($isIos=true)
#end

#set($integer = 0)
#set($isOldOpera = false)
#if($ua_result.browser.name == "opera" && $ua_result.platform == "mobile" &&
        $integer.parseInt($ua_result.browser.major)<10)
    #set($isOldOpera = true)
#end

#set($isWVGA=false)
#if(($isOldOpera || $ua_result.browser.name == "polaris" || $isWebviewer))
    #set($isWVGA=true)
#end