#uaCheck()
<div id="daumContent"  class="cont_buy" role="main">
<h2 class="screen_out">MP3 구매</h2>
<div class="section_tit">
	<h3 class="tit_buy">MP3 구매 결제하기</h3>
</div>


##onclick="music.mobile_billing.mMusicMp3buy.checkBuy('$!{song.songId}', '$!{song.album.albumId}');				
##<form name="frmCart" action="javascript:music.mobile.Cart.getPurchase();">

#set($songCart = 0)
#foreach($item in $songCartList)
	#set($songCart = $item)
	#break
#end
#set($totalPrice = 0)
#set($totalPriceAddTax = 0)

<form name="frmCart" action="javascript:music.mobile_billing.mMusicMp3buy.checkBuy('$!{command.song_id_list}', '$!{songCart.album.albumId}');">
	<fieldset class="fld_check">
		<legend class="screen_out">MP3 구매 결제 수단 선택 폼</legend>
		<strong class="screen_out">상품 정보</strong>
            #set( $artistList = $songCart.song.keyArtistList)
            #set( $title = $!songCart.song.title )

            #if( $artistList.size()>0)
            	#set( $artist = $artistList.get(0).name )
            #else
            	#set( $artist = "" )
			#end
			
		<input type="hidden" name="song_id_list" id="song_id_list" value="$!{command.song_id_list}"/>
		<input type="hidden" name="song_id" id="song_id" value=""/>
		<input type="hidden" name="album_id" id="album_id" value=""/>
		<input type="hidden" name="payment_type" id="payment_type" value=""/>
		<input type="hidden" name="referer" id="referer" value=""/>
		<!-- 2013-09-26 수정 -->
		<ul class="list_album">
			<li>
				<strong class="tit_album">상품명</strong>
				<span class="cont_album">$!{artist} <span class="txt_emph">#strCut($title,20)</span>
					#if($!songListCount > 1)
						#set($otherSongCount = $songListCount - 1)
						외 $!otherSongCount 건
					#end
				</span>
			</li>
			#set($totalPrice = $!songListCount * 600)
			#set($totalPriceAddTax = $!songListCount * 660)
			
			#if($!songCart.salePrice == 0)
    			#set($totalPrice = 0)
    			#set($totalPriceAddTax = 0)
			#end
			
			<li>
				<strong class="tit_album">상품가격</strong>
				<span class="cont_album">
					<span class="txt_num">#toCurrency($!totalPrice)</span>원
				</span>
			</li>		
		</ul>
		<!-- END 2013-09-26 수정 -->
		<div class="buy_check">
			<strong class="tit_check">결제 수단 선택</strong>
			<ul class="list_check" id="purchaseType">
				<li class="on">
					<input type="radio" id="daumCash" name="daumBuy" class="screen_out" checked="checked" name="daumBuy" value="DAUMCASH" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="daumCash" class="lab_check lab_on"><span class="ico_comm ico_check"></span>Daum 캐쉬 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(잔액 <span class="txt_num">$Number.format("integer", ${daumCashBalance})</span>원)</span>
					<a href="javascript:;" onclick="javascript:music.mobile.Cart.openCash('mp3');" class="link_charge" target="_self">충전하기</a>
				</li>
				<li class="on">
					<input type="radio" id="phoneCash" name="daumBuy" class="screen_out" name="daumBuy" value="MOBILE" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="phoneCash" class="lab_check "><span class="ico_comm ico_check"></span>핸드폰 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
				</li>
				<li #if($!totalPriceAddTax >= 1000) class="on" #else class="off" #end>
					<input type="radio" id="cardCash" name="daumBuy" class="screen_out" name="daumBuy" value="CREDITCARD" #if($!totalPriceAddTax >= 1000) onclick="javascript:music.mobile_billing.changePaymentType(this);" #end>
					<label for="cardCash" class="lab_check "><span class="ico_comm ico_check"></span>신용카드 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(<span class="txt_num">1,000</span>원 이하 결제 불가)</span>
				</li>
			</ul>
		</div>
		<dl class="buy_money">
			<dt class="tit_money">최종 결제 금액</dt>
			<dd class="item_money"><span class="txt_num">#toCurrency($!totalPriceAddTax)</span>원 <span class="info_money">(부가세 10% 포함)</span></dd>
		</dl>
		<div class="buy_btns">
			<p class="txt_buy">${user.data.daumName}님, 위 내역을 결제 하시겠습니까?</p>
			<button type="submit" class="btn_buy btn_pay">결제하기</button>
			#if($StringUtils.equals("$!{isDaumMusicApp}", "true") && ("$!{command.referer}" == "ET01" || "$!{command.referer}" == ""))
			<button type="button" class="btn_buy btn_cancel" onclick="javascript:goToBack();">취소</button>
			#else
			<button type="button" class="btn_buy btn_cancel" onclick="javascript:window.history.back();">취소</button>
			#end
		</div>
	</fieldset>
</form>
</div>

<script type="text/javascript">
music.mobile_billing.resetPaymentType();

var songlist = {
#set( $artist = "")##
#set( $tit = "")##


#if($!songCart.song.keyArtistList.size()>0)##
	#set( $artist = $!songCart.song.keyArtistList.get(0).name.replaceAll("'", "&apos;").replaceAll('"', '&quot;'))##
#end##
#if( $!{songCart.song.title} )
#set( $tit = $!{songCart.song.title.replaceAll("'", "&apos;").replaceAll('"', '&quot;')})##
#end

#foreach($songCart in $songCartList)
    "$!{songCart.song.songId}" : {"type":"song", "id":"$idx", "songId" : "$!{songCart.song.songId}", "songTitle":"#escScript( $!{tit} )", "typeCd" : "$!{songCart.song.typeCd}", "artist":"$!{artist}", "salePrice":"$!{songCart.salePrice}", "price":"$!{songCart.price}", "isHave" :#if("$!{songCart.ownStatus}" == "Y")"true"#else"false"#end, "isBuy" :#if($!{songCart.song.MP3LinkId})"true"#else"false"#end, songIdList:"", songCount:"1"}
    #if( $velocityHasNext),#end
    #set( $idx = $idx + 1 )
#end
};

var denialList = []; 
#if( $StringUtils.isNotEmpty("$!{denialList}") && $!{denialList.size()} >= 1 )
denialList = [
#foreach( $song in $denialList)
	#set($tit = $song.title.replaceAll("'", "&apos;"))
	#if($foreach.index>0),#end{songId:$song.songId, title:"$!{tit}"}
#end	
]
#end	
##denialList = [{songId:111, title:'가나다라'}]; 

var cart = music.mobile.Cart; 
cart.init("cartList", {
	form : document.frmCart,
	songinfo:songlist, 
	how: "mp3", 
	cart_action_type : "PURCHASE",
	daum_cash :#if($daumCashBalance==-9999)0#{else}$daumCashBalance#end,
	#if($StringUtils.equals("$!{command.debugmode}", "2"))
	debug_mode : "true",
	#end
	overLimitCartCount : "$!{overLimitCartCount}",
	BI_DOMAIN : "#getter('BI_DOMAIN', '')", 
	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')",
	referer : "$!{command.referer}",
	denialList : denialList
	});

</script>

#if($StringUtils.equals("$!{isDaumMusicApp}", "true"))
<script type="text/javascript">
function goToBack(){
	JSInterface.goToBack();
}
</script>
#end

#parse("/velocity/mobileweb/realtimeissue.vm")