{
"ProgramList" : {
	"Program" : [
	#foreach($program in $programList)
	#if($velocityCount!=1),#end
	{
		"ProgramId" : "$program.programId",
		"ProgramName" : "$!{EscapeUtil.escapeJsonString($program.programMasterName)}" 
	}
	#end
]
}
}