#set ($errorCode = "$!{exception.class.name}")
#set ($errorName = "$!{exception.class.simpleName}")
#set ($errorMsg = "$!{exception.message}")
$!exception.printStackTrace()

#if($exception)
	#if ($errorName == "PermissionException")
		#set ($errorMsg = "해당 페이지에 접근권한이 없습니다.")
	#elseif ($errorName == "DataErrorException")
		#set ($errorMsg = "요청하신 정보에 이상이 있습니다.")
	#elseif ($errorName == "InvalidParameterException")
		#set ($errorMsg = "매개변수가 부족합니다.")
	#elseif ($errorName == "UnrecognizedPaymentTypeException")
		#set ($errorMsg = "올바르지 않은 결제수단입니다.")
	#elseif ($errorName == "PaymentFailException")
		## BI로부터 받은 isSuccess 값이 T가 아닌 경우
		#set ($errorMsg = "결제에 실패하였습니다. 잠시후 다시 시도해주세요.")
	#### 결제 매니저 에러 ####
	#elseif ($errorName == "DaumCashPaymentException")
		## 다음캐쉬 결제 오류
		#set ($errorMsg = "다음캐시 결제 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "DirectPaymentRequestException" || $errorName == "DirectPaymentConfirmException")
		## 직납결제 오류
		#set ($errorMsg = "직납결제 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "PaymentCartAddItemException" || $errorName == "PaymentCartDeleteException")
		## 다건결제 오류
		#set ($errorMsg = "다건결제 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName.startsWith("AutoPayment"))
		## 자동결제 오류
		#set ($errorMsg = "자동결제 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "RefundRequestException")
		## 환불신청 오류
		#set ($errorMsg = "환불신청 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "PaymentCancelException")
		## 결제취소 오류
		#set ($errorMsg = "결제취소 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "PizzaClientException")
		## 결제취소 오류
		#set ($errorMsg = "결제모듈 오류 ($!{exception.originalErrorCode})")
	#elseif ($errorName == "PurchaseValidateEmptyException")
		## 구매내역 없음
		#set ($errorMsg = "구매내역이 없습니다.")
	#elseif ($errorName == "PurchaseValidateItemTypeException")
		## 구매 불가능한 아이템
		#set ($errorMsg = "해당 아이템은 구매가 불가능합니다.")
	#elseif ($errorName == "ItemUseException")
		$errorMsg
	#elseif ($errorName == "PurchaseValidateDuplicationException")
		## 중복 아이템
		## 모든 중복된 정보를 가져온다.
		#set($duplicationMap = $exception.duplicationMap)
		#if($duplicationMap)
			#foreach($entry in $duplicationMap.entrySet())
	    		## 사람이 키
	    		#set($user = $entry.key)
	    		## 중복 리스트가 값
	    		#set($duplicationList = $entry.value)
	    		## daumId와 곡명을 출력
	    		## ownInfo는 bgm이면 bgmOwnInfo를 mp3면 mp3OwnInfo로 나옵니다.
	    		## 각각에 대해서 따로 나타내려는 정보가 있다면 말씀해 주세요.
				#set ($errorMsg = "받는 사람이 선택곡을 보유하고 있습니다.")
				#set ($errorMsg = "$errorMsg ($!{user.daumId}님 - ")
				#set ($idx = 0)
				#foreach($ownInfo in $duplicationList)
					#set ($idx = $idx + 1)
					#if($idx > 1)#set ($errorMsg = "$!{errorMsg},")#end
					#set ($errorMsg = "$!{errorMsg}$!{ownInfo.song.title}")
				#end
				#set ($errorMsg = "$!{errorMsg})")
	    	#end
		#end
	#elseif ($errorName == "PurchaseValidateGiftItemException")
		## 선물 불가능한 아이템
		#set ($errorMsg = "해당 아이템은 선물하기가 불가능합니다.")
	#else
		#set ($errorMsg = "일시적인 오류가 발생하였습니다. 잠시 후 다시 실행해주시기 바랍니다.")
	#end
#end