#uaCheck()
<div id="daumContent"  class="cont_buy" role="main">
<h2 class="screen_out">이용권 구매</h2>
<div class="section_tit">
	<h3 class="tit_buy">이용권 구매 결제하기</h3>
</div>
#set( $param_ticket_id = "AMG0015" ) ##MCG0101
#if( $StringUtils.isNotBlank("$!{ListTool.get($!{command.itemId},0)}") )
	#set( $param_ticket_id = $!{ListTool.get($!{command.itemId},0)} )
#end	

#set( $shopping = "false" )
#if($StringUtils.isNotEmpty("$!{shoppingSubscriptionResult}") && $StringUtils.equals("$!{shoppingSubscriptionResult}", "true"))
	#set( $shopping = $!{shoppingSubscriptionResult} )
#end

#set( $ticket_id = $StringUtils.trim("#checkTicketId($param_ticket_id, $shopping)"))

#set( $param_ticket_id = "#print_OnlyChar($ticket_id)")
#set($arrCode = ["MCG", "BTG", "APG", "MOG", "AMG"]) ## AMMOG APMOG AMMOG

#if( $param_ticket_id.length() == 5)
	#set( $param_ticket_id = $param_ticket_id.substring(2,5)) 
#end



<form name="frm" action="javascript:music.mobile.Ticket.getPurchase();">
##	<input type="hidden" name="itemId" />
##	<input type="hidden" name="payment_type" />
##	<input type="hidden" name="referer" />
	<fieldset class="fld_check">
		<legend class="screen_out">이용권 구매 결제 수단 선택 폼</legend>
		<strong class="screen_out">상품 정보</strong>
		
		<!-- 2013-09-26 수정 -->
		<ul class="list_album">
			<li>
				<strong class="tit_album">상품명</strong>
				<span class="cont_album">${item.title}</span>
			</li>
			<li>
				<strong class="tit_album">상품가격</strong>
				<span class="cont_album"><span class="txt_num">$Number.format("integer", ${item.price})</span>원</span>
			</li>
		</ul>
		<!-- END 2013-09-26 수정 -->
		
		<div class="buy_check">
			<strong class="tit_check">결제 수단 선택</strong>
			<ul class="list_check"  id="purchaseType">
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="daumCash" name="daumBuy" class="screen_out" checked="checked" name="daumBuy" value="DAUMCASH" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="daumCash" class="lab_check lab_on"><span class="ico_comm ico_check"></span>Daum 캐쉬 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(잔액 <span class="txt_num">$Number.format("integer", ${daumCashBalance})</span>원)</span>
					<a href="javascript:;" onclick="javascript:music.mobile.Ticket.openCash();" class="link_charge">충전하기</a>
				</li>
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="phoneCash" name="daumBuy" class="screen_out" name="daumBuy" value="MOBILE" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="phoneCash" class="lab_check "><span class="ico_comm ico_check"></span>핸드폰 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
				</li>
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="cardCash" name="daumBuy" class="screen_out" name="daumBuy" value="CREDITCARD" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="cardCash" class="lab_check "><span class="ico_comm ico_check"></span>신용카드 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(<span class="txt_num">1,000</span>원 이하 결제 불가)</span>
				</li>
			</ul>
		</div>
		<dl class="buy_money">
			<dt class="tit_money">최종 결제 금액</dt>
			<dd class="item_money"><span class="txt_num">$Number.format("integer", ${item.salePrice})</span>원 <span class="info_money">(부가세 10% 포함)</span></dd>
		</dl>
		<div class="buy_btns">
			<p class="txt_buy">${user.daumName}님, 위 내역을 결제 하시겠습니까?</p>
			<button type="submit" class="btn_buy btn_pay">결제하기</button>
			<button type="button" class="btn_buy btn_cancel" onClick="javascript:window.history.back();">취소</button>
		</div>
	</fieldset>
</form>
</div>

<form name="frmCart"></form>

<script type="text/javascript">
music.mobile_billing.resetPaymentType();
var ticketItemList = { 
    "AMG0015" : {title:"월30곡 MP3 다운로드+무제한 듣기", auto:"false", isAod:"true",price:"8000",salePrice:"8800", mobileDataItemYn:"N",itemType:"AODMP3TICKET", saleItem:"false"}, 
    "APG0021" : {title:"30일 듣기", auto:"false", isAod:"true",price:"5000",salePrice:"5500", mobileDataItemYn:"N",itemType:"AODTICKET", saleItem:"false"},
    "APMOG0031" : {title:"[스마트폰]1개월 무제한 ", auto:"false", isAod:"true",price:"6900",salePrice:"7590", mobileDataItemYn:"Y",itemType:"AODTICKET", saleItem:"false"},
    "MCG0012" : {title:"월30곡 MP3 다운로드", auto:"false", isAod:"false",price:"5900" ,salePrice:"6490", mobileDataItemYn:"N", itemType:"MP3CONNECTION", saleItem:"false"}
};

var arr_inuse_ticket_list = [
#foreach($item in $inUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end

#foreach($item in $notInUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($inUseTicketList.size()!=0 || $foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end
]; 

music.mobile.Ticket.init(ticketItemList, 
	{ticketId:"$!{ticket_id}",
	form : document.frmCart,
	daum_cash : "#if($daumCashBalance==-9999)0#{else}$daumCashBalance#end",
	payment_type : "#if($daumCashBalance==-9999)MOBILE#{else}DAUMCASH#end",
	own_ticket_list : ["$isAodUse", "$isAodUseTransform", "$isMobileAodUse", "$isTodayPeriodic"], 
	inuse_ticket_list : arr_inuse_ticket_list,
	shoppingSubscriptionResult : "$!{shopping}", 
	BI_DOMAIN : "#getter('BI_DOMAIN', '')",
	referer : "$!{command.referer}",
	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')"
	});

</script>

#parse("/velocity/mobileweb/realtimeissue.vm")
