#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
	<div class="cont_navi">
		<h3 class="tit">$!{artist.name}의 인기차트</h3>
#btnPrev()
	</div>
	<div class="section_cont">
		<div class="wrap_detail_tit">
			<a href="/artist/main?artist_id=$!{artist.artistId}">
			<div class="thumb">
				<img #if($isWVGA)width="49" height="49"#else width="33" height="33"#end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{artist.mainImage.filePath}", "33x33", "ARTIST", "C")" class="thumb_img">
				<span class="outline"></span>
			</div>
			<h4 class="tit"><span class="tit_album">$!{artist.name}</span></h4>
			</a>
		</div>
		<ol class="list_info list_music">
#foreach($song in $popularSongList)
#playList($command.page_no)
#end
		</ol>
#mobilePaging($pagingUrl, $command.page_no, $pageHandler)
	</div>
#SearchForm("only_bottom")
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")
#*

<b>사용자 정보</b><br />
#if($musicUser)
	daumId : $!{musicUser.daumId} <br />
	adultYn : $!{musicUser.adultYn} <br />
#elseif($user)
	daumId : $!{user.daumId} <br />
	adultYn : $!{user.adultYn} <br />
#end

아티스트 정보 <br />
대표이미지 : $!{artist.mainImage.filePath} <br />
아티스트명 : $!{artist.name} <br />
아티스트ID : $!{artist.artistId} <br />
<br />

<b>인기차트</b><br /> 

#foreach($song in $popularSongList)
-------------------------------------------------<br/>
songId : $song.songId<br/>
title : $song.title<br/>
artist : #foreach($artist in $song.keyArtistList) $artist.artistId | $artist.name #end <br/>
featArtist : #foreach($artist in $song.featArtistList) $artist.artistId | $artist.name #end <br/>
creditArtist : #foreach($artist in $song.creditArtistList) $artist.artistId | $artist.name | $artist.creditTitle #end <br/>
favorite : $song.favorite<br/>
AODLinkId : $song.AODLinkId<br/>
lyricsYn : $song.lyricsYn<br/>
albumId : $song.album.albumId<br/>
vclipLinkId : $song.vclipLinkId<br/>
tvpotVId : $song.tvpotVId<br/>
MP3LinkId : $song.MP3LinkId<br/>
BGMLinkId : $song.BGMLinkId<br/>
bellSalesStatus$song.bellSalesStatus<br/>
ringSalesStatus : $song.ringSalesStatus<br/>
#end

#printPaging($pagingUrl, $command.page_no, $pageHandler)
*#