<Music>
	<Albums>
		#foreach($album in $albumList)
			<Album>
				<AlbumId><![CDATA[$!{album.albumId}]]></AlbumId>
				<Title><![CDATA[$!{album.title}]]></Title>
				<Artists>
				#foreach($artist in $album.keyArtistList)
					<Artist>
						<ArtistId><![CDATA[]]></ArtistId>
						<ArtistDetailId><![CDATA[$!{artist.artistId}]]></ArtistDetailId>
						<ArtistName><![CDATA[$!{artist.name}]]></ArtistName>
					</Artist>
				#end
				</Artists>
				<Rank><![CDATA[$!{velocityCount}]]></Rank>
				<ModRank><![CDATA[]]></ModRank>
				<FilePath><![CDATA[$!{album.mainImage.filePath}]]></FilePath>
			</Album>
		#end
	</Albums>
</Music>