<Music>
	<Songs>
		#foreach ($ranking in $chartSongList)
			<Song>
				<SongId><![CDATA[$!{ranking.songId}]]></SongId>
				<SongName><![CDATA[$!{ranking.title}]]></SongName>
				<AlbumId><![CDATA[$!{ranking.album.albumId}]]></AlbumId>
				<AlbumName><![CDATA[$!{ranking.album.title}]]></AlbumName>
				<AlbumImage><![CDATA[$!{ranking.album.mainImage.filePath}]]></AlbumImage>
				<Artists>
					#if($ranking.keyArtistList.size()>0)
						#foreach($artist in $ranking.keyArtistList)
							<Artist>
								<ArtistDetailId><![CDATA[$!{artist.artistId}]]></ArtistDetailId>
								<ArtistName>#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[아티스트없음]]>#end</ArtistName>
								<ArtistDetailUrl>#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</ArtistDetailUrl>
							</Artist>
						#end
					#else
						<Artist>
							<ArtistDetailId></ArtistDetailId>
							<ArtistName><![CDATA[아티스트없음]]></ArtistName>
						</Artist>
					#end
				</Artists>
				<VClipId><![CDATA[$!{ranking.vclipLinkId}]]></VClipId>
				<LyRicsYn><![CDATA[$!{ranking.lyricsYn}]]></LyRicsYn>
				<ModRank><![CDATA[$!{ranking.modRank}]]></ModRank>
				<MP3><![CDATA[$!{ranking.MP3LinkId}]]></MP3>
				<BGM><![CDATA[$!{ranking.BGMLinkId}]]></BGM>
				<AOD><![CDATA[$!{ranking.AODLinkId}]]></AOD>
				<SongDetailUrl>#if($ranking.songId)<![CDATA[http://music.daum.net/album/main?albumId=$!{ranking.album.albumId}&song_id=$!{ranking.songId}]]>#end</SongDetailUrl>
				<AlbumDetailUrl>#if($ranking.album.albumId)<![CDATA[http://music.daum.net/album/main?albumId=$!{ranking.album.albumId}]]>#end</AlbumDetailUrl>
				<BGMPlayUrl></BGMPlayUrl>
				<BELLYN><![CDATA[$!{ranking.bellSaleStatus}]]></BELLYN>
				<RINGYN><![CDATA[$!{ranking.ringSaleStatus}]]></RINGYN>
				<FEATARTISTS><![CDATA[$!{ranking.featAllArtistWithComma}]]></FEATARTISTS>
			</Song>
		#end
	</Songs>
</Music>