var searchData = [
#foreach($song in $chartSongList)
	#if($chartSongList.indexOf($song) != 0),#end
	{
		"SongId": "$!{song.songId}",
		"Title": "$!{EscapeUtil.escapeJsonString($!{song.title})}",
		"AlbumId": "$!{song.album.albumId}",
		"AlbumTitle": "${EscapeUtil.escapeJsonString($!{song.album.title})}",
		"AODLinkId" : "$!{song.AODLinkId}",
		"MainImage" : "$!{song.album.mainImage.filePath}",
		#if(!$StringUtil.equals("$!{song.AODLinkId}", ""))
			"ListenYN" : "Y",
		#else
			"ListenYN" : "N",
		#end
		"LyricsYN" : "$!{song.lyricsYn}",
		"ArtistList" : [
    		#set($artistList = $song.keyArtistList)
    		#foreach($artist in $artistList)
    			#if($artistList.indexOf($artist) != 0),#end
				{
					"ArtistDetailId" : "$!{artist.artistId}",
					"ArtistName" : "${EscapeUtil.escapeJsonString($!{artist.name})}"
				}
    		#end
		]
	}
#end
];

var PageHandler = {
	"page": $!{pageHandler.pageNo},
	"onePageCnt" : $!{pageHandler.oneBlockCnt},
	"oneBlockCnt" : $!{pageHandler.totalPage},
	"totalCnt" : $!{pageHandler.totalCnt}
};