<root>
	<items order="L">
	  <meta>
	    <data idx="1" desc="제목">실시간인기차트</data>
		<data idx="2" desc="타이틀링크"></data>
		<data idx="3" desc="더보기">더보기</data>
		<data idx="4" desc="더보기링크"><![CDATA[http://music.daum.net/chart/chartsong/list]]></data>
	  </meta>
	  #foreach ($ranking in $chartSongList)
	  	  #set ($idx = $velocityCount + 1)
	  	  <item order="$idx">
			   <data idx="1" desc="순위숫자"><![CDATA[$!{ranking.rank}]]></data>
			   #set($tmpRank = "")
			   #set($modRank = "")
			   #if($StringUtil.equals("$!{ranking.modRank}","new"))
			   	<data idx="2" desc="변동표시">new</data>
			   #else
			   	   #set($modRank = $ranking.modRank)
				   #if($StringUtils.equals("$!{modRank}", "new"))
						<data idx="2" desc="변동표시"></data>
					#elseif($StringUtils.contains("$!{modRank}", "-"))
						<data idx="2" desc="변동표시">-</data>
					#elseif($StringUtils.equals("$!{modRank}", "0"))
						<data idx="2" desc="변동표시">-</data>
					#else
						<data idx="2" desc="변동표시">+</data>
					#end
			   #end
			   <data idx="3" desc="변동숫자"><![CDATA[$!{modRank}]]></data>
			   <data idx="4" desc="곡명"><![CDATA[$!{ranking.title}]]></data>
			   <data idx="5" desc="링크"><![CDATA[http://music.daum.net/song/$!{ranking.songId}]]></data>
			   #foreach($artist in $ranking.keyArtistList)
				   #if($velocityCount < 3)
					   #set ($aridx1 = 2*$velocityCount + 5 + 1)
					   #set ($aridx2 = 2*$velocityCount + 5 + 2)
					   #set ($aridx = $velocityCount + 1)
					   <data idx="$aridx1" desc="아티스트$aridx">#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[아티스트없음]]>#end</data>
					   <data idx="$aridx2" desc="링크">#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</data>
				   #end
			   #end
			   #if($ranking.keyArtistList.size() == 0)
			   	   <data idx="8" desc="아티스트1"></data>
				   <data idx="9" desc="링크"></data>
			   	   <data idx="8" desc="아티스트2"></data>
				   <data idx="9" desc="링크"></data>
				   <data idx="10" desc="아티스트3"></data>
				   <data idx="11" desc="링크"></data>
			   #elseif($ranking.keyArtistList.size() == 1)
				   <data idx="8" desc="아티스트2"></data>
				   <data idx="9" desc="링크"></data>
				   <data idx="10" desc="아티스트3"></data>
				   <data idx="11" desc="링크"></data>
			   #elseif($ranking.keyArtistList.size() == 2)
			   	   <data idx="10" desc="아티스트3"></data>
				   <data idx="11" desc="링크"></data>
			   #end
		  </item>
	  #end
	</items>
	<items order="R">
		<meta>
		   <data idx="1" desc="제목">뮤직BAR추천앨범</data>
		   <data idx="2" desc="링크"><![CDATA[http://music.daum.net/musicbar/djalbum/list]]></data>
		</meta>
		#foreach($album in $recommandAlbumList)
			#if($velocityCount < 1)
			#set ($artist = $album.keyArtistList.get(0))
			<item order="1">
				<data idx="1" desc="이미지"><![CDATA[$ImageUtil.getImageUrl("$!{album.mainImage.filePath}", $ImageUtil.TOTALSEARCH_100_100)]]></data>
			    <data idx="2" desc="제목"><![CDATA[$!{album.title}]]></data>
			    <data idx="3" desc="앨범링크"><![CDATA[http://music.daum.net/album/main?album_id=$!{album.albumId}]]></data>
			    <data idx="4" desc="아티스트"><![CDATA[$!{artist.name}]]></data>
			    <data idx="5" desc="아티스트링크">#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</data>
			    <data idx="6" desc="앨범듣기링크"><![CDATA[http://music.daum.net/album/main?album_id=$!{album.albumId}&player=$!{album.albumId}]]></data>
			    <data idx="7" desc="더보기">더보기</data>
				<data idx="8" desc="더보기링크"><![CDATA[http://music.daum.net/musicbar/djalbum/list]]></data>
			</item>
			#end
		#end
	</items>
</root>