#parse("/velocity/onair/common/menu.vm")
<h3 class="screen_out">라디오 선곡표</h3>

<div class="now_detail">
	#parse("/velocity/onair/radio/tabmenu.vm")
	<h4 class="screen_out">채널별</h4>
	<div id="ChannelWrap" class="detail_sort"> <!-- 다른 장르/채널 보기에 마우스 오버 시 sort_on클래스 추가 -->
		<div class="info_radio">
			<strong class="tit_channel tit_$!{selectedChannel.engName}">$!{selectedChannel.channelName}</strong>
			<a id="btnViewCannel" href="#none" class="btn_now btn_channel">다른 채널 보기</a>
			<div id="listChannelWrap" class="radio_channel">
				<ul  class="list_channel">
					#foreach($channel in $channelList)
						<li #if($!{selectedChannel.channelId} == $!{channel.channelId})class="on"#end><a href="/onair/radio/channel?channelId=$!{channel.channelId}" class="link_broadcast" title="$!{channel.frequency}">$!{channel.channelName}</a></li>
					#end
				</ul>
			</div>
		</div>
		
		
		
		<div class="radio_name">
			<div id="swiper" class="slide_radio group_slide" style="width:810px"> <!-- left 값 -810px씩 조절하여 슬라이드 효과 -->
				
			</div>
		</div>
		
	</div>
	
    #printOnairProgramListPaging($programList)
    <p class="txt_noti">위 목록은 실제 라디오 편성표와는 차이가 있을 수 있습니다.</p>
	
    <script type="text/javascript">
    jQuery( "#btnViewCannel" ).mouseover(function() {
      jQuery( "#ChannelWrap" ).addClass( "sort_on" );
    });
    
    jQuery( "#listChannelWrap" ).mouseleave(function() {
      jQuery( "#ChannelWrap" ).removeClass( "sort_on" );
    });
    
    
    ## swiper setting
    var programListJSON = [##
	#***##set($selectedPageNo = 0)
	#***##set($pageIndex = 0)
    #***##foreach($program in $programList)##
    #***##***##set($imgsrc = "$!{program.programNameImage}")##
    #***##***##if($MathTool.mod($foreach.index, 12) == 0 && !$foreach.first),#set($pageIndex = $pageIndex+1)#end##
    #***##***##if($MathTool.mod($foreach.index, 12) == 0)##
    
    { items :[ ##
    #***##***##end
    #***##***##if($MathTool.mod($foreach.index, 12) != 0),#end##
	#***##***##if("$!{program.programId}" == "$!{command.programId}")#set($selectedPageNo = $pageIndex)#end##    		
    		
    	{"programId" : "$!{program.programId}",
    	"imageSrc" : "$!imgsrc",
    	"programMasterName" : "$!{program.programMasterName}",
    	"description" : "$!{program.description}",
    	"channelName" : "$!{program.channel.channelName}",
    	"channelId" : "$!{program.channel.channelId}",
    	"channelType" : "$!{program.channel.channelType}",
    	"broadcastTime" : "$!{program.broadcastTime}",
    	"weekendYn" : "$!{program.weekendYn}"
    	}##
    #***##***##if($MathTool.mod($foreach.index, 12) == 11 || $foreach.last)##
    	
    	]
    }##
    #***##***##end##		
    #***##***##end##	
    ];##
    
    
    initOnairProgramList(programListJSON,"/onair/radio/channel?channelId=$!{selectedProgram.channelId}", ONAIR_RADIO_CHANNEL_PROGRAM_ITEM_TEMPLATE, ONAIR_RADIO_EMPTY_PROGRAM_ITEM_TEMPLATE, 12, '$!selectedPageNo', '$!{selectedProgram.programId}');
    
    </script>
	
	
</div>



#parse("/velocity/onair/common/trsonglist.vm")

#*

selectedChannel : $selectedChannel.channelName   / $selectedChannel.channelId / $selectedChannel.engName



</br></br>
channelList
<ul>
#foreach($channel in $channelList)
<li>
	${channel.channelName} - ${channel.channelId} , ${channel.engName}
</li>	
#end
</ul>
programList

#foreach($program in $programList)
<li>
	#if($StringUtils.isNotBlank("$!program.programNameImage"))
		<img src="$!program.programNameImage" width="134" height="40"> </br>
	#end	
	$program.programNameImage	</br>
	$program.programMasterName </br>
	$CheckDate.makeBroadCastTime("$!program.broadcastTime") </br>

	$program.description
</li>	
#end


</br></br></br></br>

selectedProgram

$selectedProgram.programMasterName </br>
programID: $selectedProgram.programId </br>
$CheckDate.makeBroadCastTime("$!selectedProgram.broadcastTime") </br>

<div class="btn_consumer">
<a class="btn_comm btn_recom" href="javascript:;" onclick="daum.Music.API.Recommend.send({id:'$!{selectedProgram.programId}',el:'recomNum',contents:'radio', user:'#if($StringUtils.isNotEmpty($!{user.userId}))Y#end'});return false;" title="추천하기"><span class="screen_out">추천</span><em class="num_recom" id="recomNum">$!{selectedProgram.recommendCount}</em></a>
</div>
시그널 송 </br>
song.songId : $selectedProgram.song.songId </br>
song.album.albumId : $selectedProgram.song.album.albumId </br>
song.title : $selectedProgram.song.title </br>
artist.name : 
#if(${selectedProgram.song.keyArtistList.size()} > 0)
	#foreach($artist in ${selectedProgram.song.keyArtistList})
     <a href="/artist/main?artist_id=${artist.artistId}"> ${artist.name} </a>
	#end	
#end

 <br/>
선택된 날짜로 여러 편성표 있는 경우 목록 보여주기 (1개 이상일 때만 보여주기)<br/>
#foreach($schedule in $sameDateScheduleList)
 ${schedule.programStartTime} ~ ${schedule.programEndTime} <br/>
#end

 <br/>
편성표있는 날짜 보여주기 <br/>
#foreach($schedule in $scheduleList)
 ${schedule.startDate} : ${schedule.programStartTime} ~ ${schedule.programEndTime} <br/>
#end

<br/>



곡 목록 보여주기 <br/>
${lastSchedule.programStartTime} ~ ${lastSchedule.programEndTime} <br/>

<div class="wrap_tool_btn">
<div class="tool_btn f_l">
#printListButton( "song" "" "" "" "" "$!{selectedProgram.programMasterName} $!{command.searchDate}")
</div>
</div>

#set($prefix = "$!{selectedProgram.programMasterName} $!{command.searchDate}")
#set($_link = "http://music.daum.net/onair/radio/channel?seachDate="+$!{command.searchDate})
#printSnsButton ("" "onair" $!{_link} $!{prefix} "onair")

<div class="">
	<input id="allCheck" class="all_chk" type="checkbox">
	<label for="allCheck" class="">전체선택</label>
</div>
	
#printSNSList( $songList )
<script type="text/javascript">
var controller = new daum.Music.ListPrototype();
controller.initialize({});

</script>
<table id="trackContainer">
#foreach($channelSong in $songList)
	<tr id="$channelSong.song.songId" class="track">
		<td class="col_check">
			##macro( printListCol $_listType $song $album $hasClass $name_index $checkboxDrag)
			#printListCol("check" $channelSong.song $!{channelSong.song.album} false "")
		</td>
		<td><img src='$ImageUtil.getImageUrl("$!{channelSong.song.album.mainImage.filePath}", "33x33", "ALBUM", "C")'></td>
		<td>${channelSong.song.title}</td>
		<td>
	#if(${channelSong.song.keyArtistList.size()} > 0)
		#foreach($artist in ${channelSong.song.keyArtistList})
         <a href="http://music.daum.net/artist/main?artist_id=${artist.artistId}"> ${artist.name} </a>
		#end
	#end
		</td>
		<td>${channelSong.channel.channelName}</td>
	</tr>
#end
</table>

*#

