#parse("/velocity/onair/common/menu.vm")
<h3 class="screen_out">라디오 선곡표</h3>

<div class="now_detail">
	#parse("/velocity/onair/radio/tabmenu.vm")
	<h4 class="screen_out">장르별</h4>
	<div id="ChannelWrap" class="detail_sort"> <!-- 다른 장르/채널 보기에 마우스 오버 시 sort_on클래스 추가 -->
		<div class="info_radio info_genre">
			<strong class="tit_channel song_$!{selectedGenre.engName}">$!{selectedGenre.tagName}</strong>
			<span class="num_program">$!programList.size()<span class="txt_now">개의 프로그램이 있습니다</span></span>
			<a id="btnViewCannel" href="#none" class="btn_now btn_genre">다른 장르 보기</a>
			<div id="listChannelWrap" class="radio_channel">
				<ul  class="list_channel">
					#foreach($genre in $genreList)
						<li #if($!{selectedGenre.tagId} == $!{genre.tagId})class="on"#end><a href="/onair/radio/genre?tagId=$!{genre.tagId}" class="link_broadcast">${genre.tagName}</a></li>
					#end
				</ul>
			</div>
		</div>
		
		
		
		<div class="radio_name">
			<div id="swiper" class="slide_radio group_slide" style="width:810px"> <!-- left 값 -810px씩 조절하여 슬라이드 효과 -->
				
			</div>
		</div>
		
	</div>
	
	
    #printOnairProgramListPaging($programList)
	##<p class="txt_noti">위 목록은 실제 라디오 편성표와는 차이가 있을 수 있습니다.</p>
    
    <script type="text/javascript">
    jQuery( "#btnViewCannel" ).mouseover(function() {
      jQuery( "#ChannelWrap" ).addClass( "sort_on" );
    });
    
    jQuery( "#listChannelWrap" ).mouseleave(function() {
    	console.log(this);
      jQuery( "#ChannelWrap" ).removeClass( "sort_on" );
    });
    
	
	  ## swiper setting
    var programListJSON = [##
	#***##set($selectedPageNo = 0)
	#***##set($pageIndex = 0)
    #***##foreach($program in $programList)##
    #***##***##set($imgsrc = "$!{program.programNameImage}")##
    #***##***##if($MathTool.mod($foreach.index, 12) == 0 && !$foreach.first),#set($pageIndex = $pageIndex+1)#end##
    #***##***##if($MathTool.mod($foreach.index, 12) == 0)##
    
    { items :[ ##
    #***##***##end
    #***##***##if($MathTool.mod($foreach.index, 12) != 0),#end##
	#***##***##if("$!{program.programId}" == "$!{command.programId}")#set($selectedPageNo = $pageIndex)#end##    		
    	{"programId" : "$!{program.programId}",
    	"imageSrc" : "$!imgsrc",
    	"programMasterName" : "$!{program.programMasterName}",
    	"description" : "$!{program.description}",
    	"channelName" : "$!{program.channel.channelName}",
    	"channelId" : "$!{program.channel.channelId}",
    	"channelType" : "$!{program.channel.channelType}",
    	"broadcastTime" : "$!{program.broadcastTime}",
		"channelEngName" : "$!{program.channel.engName}"
    	}##
    #***##***##if($MathTool.mod($foreach.index, 12) == 11 || $foreach.last)##
    	
    	]
    }##
    #***##***##end##		
    #***##***##end##	
    ];##
    
    
    initOnairProgramList(programListJSON,"/onair/radio/genre?tagId=$!{selectedGenre.tagId}", ONAIR_RADIO_GENRE_PROGRAM_ITEM_TEMPLATE, ONAIR_RADIO_EMPTY_PROGRAM_ITEM_TEMPLATE, 12, '$!selectedPageNo', '$!{selectedProgram.programId}');
    
    </script>

</div>



#parse("/velocity/onair/common/trsonglist.vm")

#*
선택된 장르
장르eng : ${selectedGenre.engName}
장르ID: ${selectedGenre.tagId}  </br>
장르명: ${selectedGenre.tagName} </br/>

#foreach($genre in $genreList)
	장르ID: ${genre.tagId}  </br>
	장르명: ${genre.tagName} </br/></br>
#end

</br></br></br>
#foreach($program in $programList) </br>
	프로그램ID: ${program.programId} / </br>
	프로그램명: ${program.programMasterName} / </br>
	채널명: ${program.channel.channelName} / </br>
	채널ID: ${program.channel.channelId} / </br>
	채널Type: ${program.channel.channelType} / </br>
	채널eng : ${program.channel.engName} </br>
	방송시간: ${program.broadcastTime} / </br></br>
#end

</br></br></br>

selectedProgram

programId: ${selectedProgram.programId} </br>
channelType: $selectedProgram.channelType </br>
channelId: $selectedProgram.channelId </br>
programMasterName: $selectedProgram.programMasterName </br>
$CheckDate.makeBroadCastTime("$!selectedProgram.broadcastTime") </br>


시그널 송 </br>
song.songId : $selectedProgram.song.songId </br>
song.album.albumId : $selectedProgram.song.album.albumId </br>
song.title : $selectedProgram.song.title </br>
artist.name : 
#if(${selectedProgram.song.keyArtistList.size()} > 0)
	#foreach($artist in ${selectedProgram.song.keyArtistList})
     <a href="/artist/main?artist_id=${artist.artistId}"> ${artist.name} </a>
	#end
	
#end

#foreach($schedule in $scheduleList)
	방송일: ${schedule.startDate} / </br>
	방송시작시간: ${schedule.programStartTime}/ </br>
	방송끝시간:${schedule.programEndTime} </br>
#end

</br></br>

동일한 날짜에 속한 편성표 목록 </br>
#foreach($schedule in $sameDateScheduleList)
	방송일: ${schedule.startDate} / </br>
	방송시작시간: ${schedule.programStartTime}/ </br>
	방송끝시간:${schedule.programEndTime} </br>
#end

</br></br>
선택된 편성표 </br>
	방송일: ${lastSchedule.startDate} / </br>
	방송시작시간: ${lastSchedule.programStartTime}/ </br>
	방송끝시간:${lastSchedule.programEndTime} </br>


	</br></br>
곡 목록 <br/>

<table>
#foreach($channelSong in $songList)
	<tr>
		<td><img src='$ImageUtil.getImageUrl("$!{channelSong.song.album.mainImage.filePath}", "33x33", "ALBUM", "C")'></td>
		<td>${channelSong.song.title}</td>
		<td>${channelSong.song.songId}</td>
		<td>
	#if(${channelSong.song.keyArtistList.size()} > 0)
		#foreach($artist in ${channelSong.song.keyArtistList})
         <a href="http://music.daum.net/artist/main?artist_id=${artist.artistId}"> ${artist.name} </a>
		#end
	#end
		</td>
		<td>${channelSong.channel.channelName}</td>
	</tr>
#end
</table>
*#
