#set( $type = "periodic")
<div class="wrap_cont section_coupon">
	<h3 class="tit_mymusic tit_coupon">이용권 현황</h3>
	#printOwnTicketTab($!{type})
    <div class="music_chart">
    	<div class="txt_paycancel">
    		<p>자동결제를 해지하시겠습니까?</p>
    		<p>고객님께서는 현재 자동결제 이용권 사용을 통해 최대 10%의 할인혜택을 얻고 계십니다
    		자동결제 해지가 완료되면 다음달부터는 결제금액이 청구되지 않으며, 
    		사용중인 이용권은 남은 일수만큼 사용 후 자동소멸됩니다</p>
    	</div>
    	<form action="">
    		<fieldset>
    			<legend>자동결제 해지 이유 </legend>
    			<div class="wrap_reason">
    				<p class="tit_product">$!{title}</p>
    				<dl class="txt_date date_start">
    					<dt>최초신청일</dt>
    					<dd>$CheckDate.makeReleaseDate($!{firstOrderDate})</dd>
    				</dl>
    				<dl class="txt_date date_end">
    					<dt>사용종료일</dt>
    					<dd>
                        #if(!$!{isCoupon})
                            $CheckDate.makeReleaseDate($!{endDate}) <br/>
                        #end
    					</dd>
    				</dl>
    				<div class="reason_choice">
    					<p class="txt_explain">해지신청 전에 자동결제 해지를 원하시는 이유를 들려주세요.</p>
    					<ul class="list_reason">
    						<li><input type="radio" name="idReason" id="idReason1" class="inp_radio" value="NM"><label for="idReason1" class="label_reason">찾는 노래가 많이 없어서</label></li>
    						<li><input type="radio" name="idReason" id="idReason2" class="inp_radio" value="FM"><label for="idReason2" class="label_reason">무료 음악 서비스를 선호해서</label></li>
    						<li class="lst"><input type="radio" name="idReason" id="idReason3"  class="inp_radio" value="BC"><label for="idReason3" class="label_reason">불편사항에 대한 고객 응대가 나빠서</label></li>
    						<li><input type="radio" name="idReason" id="idReason4" class="inp_radio" value="UI"><label for="idReason4" class="label_reason">이용이 불편해서</label></li>
    						<li><input type="radio" name="idReason" id="idReason5" class="inp_radio" value="FU"><label for="idReason5" class="label_reason">사용빈도가 낮아서</label></li>
    						<li class="lst"><input type="radio" name="idReason" id="idReason6" class="inp_radio" value="IE" ><label for="idReason6" class="label_reason">이용권 가격이 비싸서</label></li>
    						<li><input type="radio" name="idReason" id="idReason7" class="inp_radio" value="SO"><label for="idReason7" class="label_reason">서비스 장애가 잦아서</label></li>
    						<li><input type="radio" name="idReason" id="idReason8" class="inp_radio" value="FB"><label for="idReason8" class="label_reason">이벤트나 혜택이 적어서</label></li>
    						<li class="lst"><input type="radio" name="idReason" id="idReason9" class="inp_radio" value="ET"><label for="idReason9" class="label_reason lst">기타사유(아래에 작성 부탁드립니다)</label></li>
    					</ul>
    					<div class="box_etcreason"><textarea id="txtEtcReason" cols="100" rows="5" class="inp_reason scroll2"></textarea></div>
    				</div>
    			</div>
    			<div class="wrap_btn">
    				<input type="submit" value="자동결제 해지" class="btn_mymusic btn_submit" onclick='daum.Music.MyOwnTicket.cancel("$!{command.order_id}");return false;'>
    				<input type="reset" value="취소" class="btn_mymusic btn_cancel" onclick="javascript:history.back();">
    			</div>
    		</fieldset>
    	</form>
    </div>
</div>
<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 기존의 ticketStatus.vm 파일에서 참조하였습니다.^^ <br/>
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
</div>

#if($StringUtils.equals("$!{command.debugmode}","2"))
아이템아이디 : $itemId<br/>
오더상태 : $orderStatus<br/>
상품명 : $title <br/>
최초 신청일: $CheckDate.makeReleaseDate($!{firstOrderDate}) <br/>
#if(!$!{isCoupon})
		사용 종료 예정일 : $CheckDate.makeReleaseDate($!{endDate}) <br/>
#end		


<b>왼쪽레프트정보</b><br/>
다음이름: $cpDaumName <br/>
이미지url $imgUrl <br/>
전화번호 $cpNumber <br/>

이용권  #if($!{ticketCount}) $ticketCount #else 0 #end <br/>
음악감상잔여일 $aodLeftDay <br/>
구매가능MP3잔여곡 
#if(${dto.aodDownloadRemainder} > 0)${dto.aodDownloadRemainder}곡#if(${dto.downloadRemainder} > 0),#end<br/>#end
#if(${dto.aodDownloadRemainder} > 0 && ${dto.downloadRemainder} <= 0)다운로드가 가능합니다.#end
#if(${dto.downloadRemainder} > 0)무제한 ${dto.downloadRemainder}곡 다운로드가 가능합니다.#if(${dto.aodDownloadRemainder} <= 0)<br />&nbsp;#end#end
#if(${dto.aodDownloadRemainder} <= 0 && ${dto.downloadRemainder} <= 0)MP3 다운로드 가능곡이 없습니다.<br/>#end

<br>
MY 뮤직<br/> 
플레이리스트  #if($!{myPlayCount}) $myPlayCount #else 0 #end  <br/>

#if($!{myPlayList})
	#foreach($item in $myPlayList)<br/>
		ㅡ순서: $item.playListSeq || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
	#end <br/>
#end

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : #if($!{favoariteCount}) $favoariteCount #else 0 #end <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : #if($!{ownCount}) $ownCount #else 0 #end <br/>

<br/>
MY관리 <br/>
이용권현황 #if($!{ticketCount}) $ticketCount #else 0 #end <br/>
내알림  #if($!{announceCount}) $announceCount #else 0 #end <br/>
내설정 <br/>

공지사항 <br/>
#end

