## 컨텐츠 영역
#set( $type = "periodic")
<div class="wrap_cont section_coupon">
	<h3 class="tit_mymusic tit_coupon">이용권 현황</h3>
	#printOwnTicketTab($!{type})
	#if(!$CollectionUtils.isEmpty($dto.periodicPaymentTicketList))
	<div class="music_chart">
		<!-- 2014-06-27 수정 : ENTDEVNEWMUSIC-5006 -->
		<div class="txt_paycancel">
			<p>자동결제를 해지하시겠습니까?</p>
			<p>고객님께서는 현재 자동결제 이용권 사용을 통해 최대 50%의 할인혜택을 얻고 계십니다
			자동결제 해지가 완료되면 다음달부터는 결제금액이 청구되지 않으며, 
			사용중인 이용권은 남은 일수만큼 사용 후 자동소멸됩니다</p>
		</div>
		<!-- // 2014-06-27 수정 : ENTDEVNEWMUSIC-5006 -->	
		<div class="list_paycancel bg_thead">
			##if( !$!{dto.periodicPaymentTicketCancel} )
  			<table class="tbl_paycancel">
				<caption class="screen_out">자동결제 해지 내역</caption>
				<colgroup>
					<col class="col_product">
					<col class="col_startdate">
					<col class="col_enddate">
					<col class="col_paydate">
					<col class="col_cancel">
				</colgroup>
				<thead class="screen_out">
					<tr class="screen_out">
						<th scope="col">상품명</th>
						<th scope="col">최초신청일</th>
						<th scope="col">사용종료일 </th>
						<th scope="col">자동결제예정일</th>
						<th scope="col">해지신청</th>
					</tr>
				</thead>
				<tbody>
				#if(!$CollectionUtils.isEmpty($dto.periodicPaymentTicketList))	
					#foreach($ticket in $dto.periodicPaymentTicketList)
					<tr>
						<td class="col_product">#*<em class="txt_payment">[자동결제]</em>*#<em class="txt_payment">$!{ticket.order.item.title}</em></td>
						<td class="col_startdate">$CheckDate.makeReleaseDate($!{ticket.fitstorddttm})</td>
						<td class="col_enddate">$CheckDate.makeReleaseDate($!{ticket.endDate})</td>
						<td class="col_paydate">$CheckDate.makeReleaseDate($!{ticket.endDate})</td>
						<td class="col_cancel"><a href="#" onclick='daum.Music.MyOwnTicket.validation("$!{ticket.order.orderId}", {curDate:"$!{Date.get('yyyyMMdd')}", startDate:"$!{StringUtils.left($ticket.fitstorddttm, 8)}"});return false;' class="btn_mymusic btn_cancle">해지신청</a>
						</td>
					</tr>
					#end
				#else
					<tr class="no_listinfo">
						<td colspan="4"><p class="fc_txt">보유 이용권이 없습니다</p></td>
					</tr>					
				#end
				</tbody>
			</table>
			##end
		</div>
		<p class="ico_mymusic ico_tip">자동결제는 매일 오전 <span class="txt_num">10</span>시에 진행됩니다.<br>따라서 자동결제 해지 신청은 자동결제 예정일 당일 오전 10시 전까지 해주셔야 원하지 않는 결제를 피하실 수 있습니다.</p>
	</div>
	#else
	<div class="wrap_nodata">
		<div class="txt_guide">
			<strong class="txt_explan">현재 자동결제 해지를 진행할 이용권이 없습니다.</strong>
			<p>자동결제 이용권은 최초 결제일 기준 매월 같은 날에 해당 상품 가격이 휴대폰 또는<br>신용카드로 자동 청구되는 상품으로, 최대 40%의 할인 혜택을 제공하고 있습니다.<br>자동결제 이용권 혜택, 지금 누려 보세요.</p>
		</div>
##		<div class="box_coupon txt_mp3down">
##			<p class="txt"><strong>MP3 다운로드 이용권</strong>다운로드 받은 MP3는 평생소장 가능합니다</p><a href="/purchase/ticketitem/list?ticket_tab_type=NORMAL" class="btn_mymusic btn_coupon" title="MP3 다운로드 이용권 신청">신청하러 가기</a>
##		</div>
##		<div class="box_coupon txt_musicenjoy">
##			<p class="txt"><strong>음악감상 이용권</strong>필요한 기간동안 무제한으로 음악감상을 즐겨보세요</p><a href="/purchase/ticketitem/list?ticket_tab_type=NORMAL" class="btn_mymusic btn_coupon" title="음악감상 이용권 신청">신청하러 가기</a>
##		</div>
##		<div class="box_coupon txt_datacharge">
##			<p class="txt"><strong>데이터 요금 절약 이용권</strong>모바일 전용 Daum 뮤직어플 설치 후 사용 가능합니다</p><a href="/purchase/ticketitem/list?ticket_tab_type=DATA" class="btn_mymusic btn_coupon" title="데이터 요금 절약 이용권 이용권 신청">신청하러 가기</a>
##		</div>
	</div>
	#end	
</div>



#if($StringUtils.equals("$!{command.debugmode}","2"))
<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 기존의 ticketStatus.vm 파일에서 참조하였습니다.^^ <br/>
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
</div>

자동결제 해지 목록<br/>
#if( !$!{dto.periodicPaymentTicketCancel} ) 	orderId 가 없는 경우 :: 자동결제 리스트 or 리스트 없음  <br/>

	#if($dto.periodicPaymentTicketList.size() > 0) 자동결제 리스트가 있는경우 <br/>
		#foreach($ticket in $dto.periodicPaymentTicketList)
			주문ID : $ticket.order.orderId <br/>
			아이템ID: $ticket.order.item.itemId <br/>
			아이템명: $ticket.order.item.title <br/>
			시작일 : $CheckDate.makeReleaseDate($!{ticket.fitstorddttm}) <br/>
			종료일 : $CheckDate.makeReleaseDate($!{ticket.endDate}) <br/>
			자동결제예정일 : $CheckDate.makeReleaseDate($!{ticket.endDate})
			쿠폰여부 : $ticket.isCoupon <br/>
			자동결제취소 : $ticket.isCancel <br/>
		#end
	#else  자동결제 리스트가없는경우 
	#end

	#else ## orderId 가 있는 경우 :: 자동결제 리스트에서 해지할 item을 선택했을 경우 페이지  <br/> 
	
			오더상태 : $dto.periodicPaymentTicketCancel.order.orderStatus<br/>
			상품명 : $!{dto.periodicPaymentTicketCancel.order.item.title}
			최초 신청일: $CheckDate.makeReleaseDate($!{dto.periodicPaymentTicketCancel.fitstorddttm}) 
			#if(!$!{dto.periodicPaymentTicketCancel.isCoupon})
					사용 종료 예정일 : $CheckDate.makeReleaseDate($!{dto.periodicPaymentTicketCancel.endDate})
			#end		
#end


<b>왼쪽레프트정보</b><br/>
다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
	#if($foreach.index < 4)
		$item.get("SUBJECT") ||  $item.get("URL") <br />
	#end
#end <br />	
<br>
#end
