<script type="text/javascript">
#if($exception)
alert("${exception.message}");
#else
alert("쿠폰 등록이 완료되었습니다.");
#end
//window.history.back();

#if($StringUtils.equals("$!{isDaumMusicApp}", "true"))
	#if(!$StringUtils.equals("$!{isAndroid}", "true"))
//		  	window.location = "ios://goTicketInfo";
	#else
		   	JSInterface.goTicketInfo();
	#end
#else
	window.location.href="/my/own_ticket/ticket/app/list";
#end

</script>

#*

<div class="couponWrap">
	<div class="logo">
		<a href="/" title="Daum 뮤직" class="music">Daum 뮤직</a>
	</div>

#if($exception)
	#parse("/vm/purchase/piece/error.vm")

	<script type="text/javascript">
		daum.Element.hide(daum.$('errorWrap'));
	</script>
	<div class="regBox">
		#set ($errorView = $errorView.replaceAll("[.] ",".<br/>"))
		<p>${errorView}</p>
		<a href="/coupon/couponMobile.do" title="확인" class="typeBtn btnOk">확인</a>
	</div>
#else
	#set( $msg = "등록이 완료되었습니다.<br />등록한 쿠폰으로 PC와 스마트폰에서<br />Daum뮤직을 즐겨보세요!" )
	<div class="regBox">
		<p>$!{msg}</p>
		#set( $isApple = false )
		#if( ( $ua_result.isIphone == true || $ua_result.isIpad == true || $ua_result.isIpod == true ))
		<a href="http://itunes.apple.com/kr/app/id411835583" title="아이폰 앱 다운로드" class="typeBtn btnApp">아이폰 앱 다운로드</a>
		#set( $isApple = true )
		#end
		<a href="/" title="PC 화면" class="typeBtn btnPc#if($isApple) apple#end">PC 화면</a>
	</div>
	<ul class="noti">
		<li>Daum뮤직의 모든 음악감상 이용권은 PC와</li>
		<li>스마트폰 앱에서 이용 가능합니다.<br />(단, 앱에서 임시 저장 기능은 데이터요금절약 이용권에 한해 가능)</li>
		<li>MP3 다운로드 기능은 PC에서 사용해주세요.</li>
		<li>등록한 쿠폰은 PC웹에서 확인하실 수 있습니다.</li>
		<li><a href="/">music.daum.net</a> <span class="bar">></span> <a href="/my/album/group.do" title="MY뮤직">MY뮤직</a></li>
	</ul>
#end
	<div class="bgimg1"></div>
	<div class="bgimg2"></div>
</div>
*#
