#*
<div id="daumContent" class="cont_purchase">
	<strong class="screen_out">쿠폰등록</strong>
	<p class="desc_coupon">쿠폰번호 20자리를 입력 후 등록해 주세요.</p><!-- 2014-08-01 추가 -->
	<form name="frmCouponConfirm" onsubmit="return regCoupon(this);" class="form_purchase"><!-- 2014-08-01 추가 : class 추가 -->
		<fieldset>
			<legend class="screen_out">쿠폰번호 입력 폼</legend>
			<label for="idCoupon" class="screen_out">쿠폰 번호</label>
			<input type="text" id="idCoupon" class="inp_coupon" name="coupon_id" maxlength="20" onclick="goLogin();" spellcheck="false">
			<button type="submit" class="btn_coupon"> 등록하기</button>
		</fieldset>
	</form>
	<strong class="screen_out">유의사항</strong>
	<ul class="list_notice">
		<li>쿠폰을 등록하시려면 Daum 로그인이 필요합니다.</li>
		<li>쿠폰번호를 잘못 입력하면 등록이 되지 않습니다.</li>
		<li>유효기간이 지난 쿠폰은 등록할 수 없습니다.</li>
		<li>이미 사용한 쿠폰은 등록이 불가능합니다.</li>
		<li>현재 사용하는 이용권이 있는 경우 종류에 따라 등록이 제한될 수 있습니다.</li>
		<li>등록한 쿠폰은 <a href="/my/own_ticket/ticket/app/list" class="link_coupone">이용권 관리</a>에서 확인가능합니다.</li>
	</ul>
</div>

<script type="text/javascript">
	var strTrim = function(s) {
		return s.replace(/\s/g,'');
	}
	var goLogin = function(){
		var URL = "https://logins.daum.net/accounts/loginform.do";
			if(!miniDaum_varUserid){
				alert("먼저 로그인 하셔야 합니다.\n로그인 페이지로 이동합니다.")
				var url = URL+"?url="+ escape( window.location.href );
				window.location.href = url;
			}else{
				return true;
			}
	}
	var regCoupon = function(frm) {
		goLogin();
		var len = strTrim(frm.coupon_id.value).length;
		if(len == 0){
			alert('쿠폰번호를 입력해주세요.');
			daum.$('coupon_id').focus();
			return false;
		} else {
			if(len != 20){
				alert('쿠폰번호 20자리를 확인해주세요.');
				daum.$('coupon_id').focus();
				return false;
			}
		}
		frm.method = "get";
		frm.action = "/coupon/app/confirm";
		return true;
	}
</script>
#parse("/velocity/mobileweb/realtimeissue.vm")
*#
<script type="text/javascript">
    alert("2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.")
    history.back();
</script>
