{
	"excludedBoardId" : $JSONUtil.valueToInteger($!{excludedBoardId}),
	"talkContents" : [
		#foreach($talkContent in $talkContents)
		#if($velocityCount > 1),#end
		{
			"menuId" : $JSONUtil.valueToInteger($!{talkContent.menuId}),
			"boardId" : $JSONUtil.valueToInteger($!{talkContent.boardId}),
			"title" : $JSONUtil.valueToString($!{talkContent.title}),
			"subTitle" : $JSONUtil.valueToString($!{talkContent.subTitle}),
			"regdttm" : $JSONUtil.valueToString($!{CheckDate.makeReleaseDate($!{talkContent.regdttm})}),
            "imageUrl" : #if("$!{talkContent.cropYn}" == "Y") $JSONUtil.valueToString($!{ImageUtil.getFaceDetectImageUrl("$!{talkContent.imageUrl}", "C640x340")})
						 #else $JSONUtil.valueToString($!{ImageUtil.getMobileImageUrl("$!{talkContent.imageUrl}", "640x0", "PHOTO", "R")})
                         #end,
			"limitation" :$JSONUtil.valueToString($!{talkContent.limitation}),
			"progressStatus" :$JSONUtil.valueToString($!{talkContent.progressStatus}),
            "progressCode" : #if ( $JSONUtil.valueToString($!{talkContent.progressStatus}).indexOf("ING") > -1 ) "참여하기"
							 #elseif ( $JSONUtil.valueToString($!{talkContent.progressStatus}).indexOf("END") > -1 ) "결과보기"
							 #else "준비중"
							 #end,
			"classType" : #if("$!{talkContent.cropYn}" == "Y") "class=\"thumb_visual\""
						  #else "class=\"thumb_visual thumb_top\""
						  #end,
			"altMsg" : $JSONUtil.valueToString($!{EscapeUtil.encodeHtmlTag($!{talkContent.title})}),
			"issueType" : $JSONUtil.valueToString($!{talkContent.issueType}),
			"templetType" : $JSONUtil.valueToString($!{talkContent.templetType}),
			"nickName" : $JSONUtil.valueToString($!{talkContent.writer.nickName}),
			"recommendCount" : $JSONUtil.valueToInteger($!{talkContent.recommendCount}),
			"pvCnt" : $JSONUtil.valueToString($!{StringUtil.formatTypeByNumber($!{talkContent.pvCnt})})
		}
		#end
	]
}