#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
##	<div class="cont_navi">
		<h3 class="tit_category">앨범정보</h3>
##		#btnPrev()
##	</div>
##	<div class="section_info">
##		<h4 class="tit">
##			#if($StringUtils.isNotBlank("$!{imageneInfo.awardId}") && !$StringUtils.equals("$!{imageneInfo.awardId}", "0"))<a href="/imagene/main" class="ico_comm ico_month" title="이달의 앨범">이달의 앨범</a>#end
##			#if("$!{album.volume}"!="")$!{album.volume}집 #end$!{album.title}
##		</h4>
		<div class="wrap_cont">
			<div class="thumb_info">
				<img #if($isWVGA) width="141" height="141"#else width="94" height="94" #end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "94x94", "ARTIST", "C")">
				<span class="outline"></span>
			</div>
			<div class="cont_info">
				<h4 class="tit_subject">$!{album.title}</h4>
				<dl class="info_data">
					<dt class="tit_base">아티스트</dt>
                    <dd class="desc_base">#foreach($artist in $album.keyArtistList)#if($velocityCount!=1), #end#if("$!{artist.artistId}"!="0")<a href="/artist/main?artist_id=$!{artist.artistId}" class="txt_artist">$!{artist.name}</a>#else$!{artist.name}#end#end</dd>
				</dl>
                <dl class="info_data">
                    <dt class="tit_base">앨범정보</dt>
                    <dd class="desc_base">$!{album.typeName} $!{album.recordTypeName}</dd>
                </dl>
                <dl class="info_data">
                    <dt class="tit_base">발매정보</dt>
                    <dd class="desc_base">$CheckDate.makeReleaseDate($!{album.releaseDt})</dd>
                </dl>
			</div>
		</div>
		<h4 class="tit_sub">곡정보</h4>
   		 <ol class="list_info list_music">
			 #set($songIdArr = []) ## 안드로이드 앱에 앨범리스트를 넘겨주기 위한 처리
			 #if("$!album.discCount"!="1")
                 <strong class="wrap_disc fst">Disc 1</strong>
             <ol class="list_info list_music">
				 #foreach($song in $album.songList)
					 #playListAlbumNew(1,1)
					 #set($temp = $songIdArr.add("$!{song.songId}"))
				 #end
			 #else
             <ol class="list_info list_music">
				 #foreach($song in $album.songList)
					 #playListAlbumNew()
					 #set($temp = $songIdArr.add("$!{song.songId}"))
				 #end
			 #end
		</ol>




#*

<script type="text/javascript">//<![CDATA[
/**
 * sns 공유하기
 * @param {String} 포스팅시 링크에 적용될 문장
 */
doc = document;
doc.loc = music.mobile.replaceURLforSNS();

var sourceId = 2;
var prefix ="#foreach($artist in $album.keyArtistList)#if($velocityCount!=1), #end$!{artist.name}#end - #if("$!{album.volume}"!="")$!{album.volume}집 #end$!{album.title}"
var url = doc.loc;
var imagePath = "$ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "200x200", "ALBUM", "C")";
var metaType = "DMA";
var metaKey = "$!{album.albumId}";

var shareSNS = {
    "prefix" : prefix,
    "link" : url,
    "sourceId" : sourceId,
    "image_path" : imagePath,
    "meta_type" : metaType,
    "meta_key" : metaKey
}

/* 2013-2-14 웹투앱 2차로 인해 막음
shareSNS = function( prefix, serviceName ){
	var sourceId = 2; // yozm sourceid
	var urlPre = 'http://m.profile.daum.net/api/popup/Share.daum?source_id=';
	if(serviceName === "mypeople") {
		urlPre = "https://m.mypeople.daum.net/mypeople/mweb/share.do?source_id=";
	}
	var prefix ="#foreach($artist in $album.keyArtistList)#if($velocityCount!=1), #end$!{artist.name}#end - #if("$!{album.volume}"!="")$!{album.volume}집 #end$!{album.title}"
	var link = doc.loc;
	var url = urlPre + sourceId + '&link='+ encodeURIComponent( link ) + '&prefix=' + encodeURIComponent( prefix ) + '&service_name=' + encodeURIComponent( serviceName );
	url += "&image_path=$ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "94x94", "ALBUM", "C")";
	url += "&meta_type=DMA";
	url += "&meta_key=$!{album.albumId}";
	window.location.href = url;
	return false;
};
*/
//]]></script>
<div class="wrap_consumer">
    <a href="javascript:;" onclick="music.mobile.recommendByToken.call('$!{album.albumId}','album', '${securitytoken}')" class="btn_like bround" title="추천하기">
        <span class="ico_music ico_like">추천</span><em class="fc_blue" id="recommend_$!{album.albumId}">$!{album.recommendCount}</em>
    </a>
	#snsLayer("f_r")
</div>
<div id="socialShareMoreViewContainer"></div>
</div>

#if($album.songList.size() > 0)
<div class="section_song">
    <div class="wrap_head">
        <h4 class="tit">곡정보</h4>
    </div>
	#set($songIdArr = []) ## 안드로이드 앱에 앨범리스트를 넘겨주기 위한 처리
	#if("$!album.discCount"!="1")
        <strong class="wrap_disc fst">Disc1.</strong>
    <ol class="list_info list_music">
		#foreach($song in $album.songList)
			#playListAlbum(1,1)
			#set($temp = $songIdArr.add("$!{song.songId}"))
		#end
	#else
    <ol class="list_info list_music">
		#foreach($song in $album.songList)
			#playListAlbum()
			#set($temp = $songIdArr.add("$!{song.songId}"))
		#end
	#end
</ol>
	#if(($ua_result.os.ios ) && $CollectionUtils.isNotEmpty($!{songIdArr}))
		#if($MathTool.toNumber($ua_result.browser.major) > 3)
		##<a href="/appHub?obj_type=AL&obj_id=$!{album.albumId}&obj_id_list=$!{album.albumId}" class="bround btn_wholelist">전체듣기</a>
            <a href="javascript:;" onclick="music.mobile.mMusicPlay.playOnApp('AL', '$StringUtils.join($songIdArr, "/")', '$!{album.albumId}');return false;" class="bround btn_wholelist">전체듣기</a>
		#else
            <a href="javascript:;" onclick="alert('사용하시는 IOS 버전에서는 지원하지 않는 기능입니다. IOS를 최신버전으로 업그레이드 해 주세요');" class="bround btn_wholelist">전체듣기</a>
		#end
	#elseif(($ua_result.os.android && $StringUtils.equals("$!{command.for_android_app}", "Y")) && $CollectionUtils.isNotEmpty($!{songIdArr}))
        <a href="javascript:;" onclick="music.mobile.mMusicPlay.playOnApp('AL', '$StringUtils.join($songIdArr, "/")', '$!{album.albumId}');return false;" class="bround btn_wholelist">전체듣기</a>
	#end
</div>
#end

#if($StringUtils.isNotBlank("$!{imageneInfo.awardId}") && !$StringUtils.equals("$!{imageneInfo.awardId}", "0"))
	#if($!{imageneInfo.commanderList.size()} > 0)
    <div class="section_select">
        <div class="wrap_head">
            <h4 class="tit">
                <a href="/imagene/main" class="ico_comm ico_month" title="이달의 앨범">이달의 앨범</a>
                선정단 100자평
            </h4>
        </div>
		#foreach($commander in $imageneInfo.commanderList)
			#if($foreach.count == 1)
                <strong class="tit_hundred">$!{commander.commandDj.name}님의 100자평</strong>
                <div class="wrap_cont">
					#strCut("$!{commander.command}", 95)
                </div>
			#end
		#end

        <span class="link_more">
			<a class="txt_info" href="/album/comment?album_id=$!{album.albumId}">더보기</a> <span class="ico_music ico_arr"></span>
		</span>
    </div>
	#end

	#if($StringUtils.isNotBlank("$!{imageneInfo.criticims}"))
    <div class="section_select">
        <div class="wrap_head">
            <h4 class="tit">
                <a href="/imagene/main" class="ico_comm ico_month" title="이달의 앨범">이달의 앨범</a>
                선정 리뷰
            </h4>
        </div>
        <strong class="tit_hundred">$!{imageneInfo.criticims}님의 리뷰</strong>
        <div class="wrap_cont">
			#strCut("$!{imageneInfo.criticimsContents}", 95)
        </div>
		<span class="link_more">
			<a class="txt_info" href="/album/review?album_id=$!{album.albumId}">더보기</a> <span class="ico_music ico_arr"></span>
		</span>
    </div>
	#end
#end

*#
#if("$!{album.description}"!="")
<h4 class="tit_sub">앨범소개</h4>
<p class="txt_album">
	#set( $tmp_description = $!{album.description} )
	#set ( $tmp_description = $tmp_description.replaceAll("<br[^>]*", "#_br_#") )
	#set ( $tmp_description = $tmp_description.replaceAll("<", "&lt;") )
	#set ( $tmp_description = "#stripHTML( $tmp_description )" )
	#set ( $tmp_description = $tmp_description.replaceAll("#_br_#", "<br /") )
	$StringCutUtil.carriageReturnReplace( "#strCut( $tmp_description, 30000 )" )
</p>
#end
</div>
#*
#if($vclipList.size() > 0)
<div class="section_video">
    <div class="wrap_head">
        <h4 class="tit">뮤직비디오</h4>
    </div>
    <ul class="list_info list_thumb">
		#foreach($vclip in $vclipList)
#mVideoList()
#end
    </ul>
		<span class="link_more">
			<a href="/album/vclip/list?album_id=$!{album.albumId}" class="txt_info">더보기</a> <span class="ico_music ico_arr"></span>
		</span>
</div>
#end
<div class="cmt_comm">
    <iframe src="about:blank" name="commentFrame" id="commentFrame" width="1" height="50" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" title="commentFrame"></iframe>
</div>
<script type="text/javascript">//<![CDATA[
daum.Event.addEvent( window, "load", function(){
    var commentFrame = $("commentFrame");
    commentFrame.width = "100%";
    commentFrame.src="#getter('GAIA_MOBILE_DOMAIN', '')/gaia/do/mobile/comment/commentList?bbsId=$!{album.bbsId}&articleId=$!{album.articleId}";
});
//]]></script>
#SearchForm("only_bottom")
</div>

#parse("/velocity/mobileweb/realtimeissue.vm")



<b>사용자 정보</b><br />
#if($musicUser)
	daumId : $!{musicUser.daumId} <br />
	adultYn : $!{musicUser.adultYn} <br />
#elseif($user)
	daumId : $!{user.daumId} <br />
	adultYn : $!{user.adultYn} <br />
#end

아티스트 <br>
name : $!{artist.name} <br>
artistId : $!{artist.artistId} <br>
<hr/>

앨범 <br>
albumId : $!{album.albumId}<br>
title : $!{album.title}<br>
typeName : $!{album.typeName}<br>
recordTypeName : $!{album.recordTypeName}<br>
releaseDt : $!{album.releaseDt}<br>
mainImage : $!{album.mainImage.filePath}<br>
<hr/>


곡정보<br>
#foreach($song in $album.songList)
 - songId : $!{song.songId}<br>
 - title : $!{song.title}<br>
 - masterYn : $!{song.masterYn}<br>
 - keyArtistList<br>
	#foreach($artist in $song.keyArtistList)
 -  - name : $!{artist.name}<br>
 -  - artistId : $!{artist.artistId}<br>
	#end
 - favorite : $!{song.favorite}<br>
 - AODLinkId : $!{song.AODLinkId}<br>
 - lyricsYn : $!{song.lyricsYn}<br>
 - vclipLinkId : $!{song.vclipLinkId}<br>
 - favorite : $!{song.favorite}<br>
 - MP3LinkId : $!{song.MP3LinkId}<br>
 - BGMLinkId : $!{song.BGMLinkId}<br>
 - bellSalesStatus : $!{song.bellSalesStatus}<br>
 - ringSalesStatus : $!{song.ringSalesStatus}<br><br>
#end
<hr/>

#if($!{imageneInfo})
100자평<br/>
		#foreach($commander in $imageneInfo.commanderList)
		닉네임 : $commander.commandDj.name<br/>
		내용 : $commander.command<br/>

		#end
리뷰<br />
$!{imageneInfo.criticims}님의 리뷰<br />
$!{imageneInfo.criticimsContents}
#end

앨범소개<br/>
- 앨범소개 : $!{album.description}<br><br>
<hr/>

뮤직비디오<br />
#foreach($vclip in $vclipList)
	뮤직비디오유료화여부(0일 경우는 유료화아님, 1일경우가 유료화) : $authorizedPlayVideoList[$!{foreach.index}] <br/>
	$!{foreach.index} <br />
	ID : $!{vclip.vclipId} <br />
	TVPOTID : $!{vclip.tvpotVId} <br />
	제목 : $!{vclip.title} <br />
	이미지 : $!{vclip.mainImage.filePath} <br />
	등록일 : $!{vclip.regDateTime} <br />
	곡 ID : $!{vclip.song.songId} <br />
	곡제목 : $!{vclip.song.title} <br />
	듣기여부 : $!{vclip.song.AODLinkId} <br />
	아티스트 <br />
	#foreach($artist in $vclip.keyArtistList)
	 - 이름 : $!{artist.name} <br />
	 - ID : $!{artist.artistId} <br />
	#end<br />
#end
<hr/>

댓글 bbsId : $!{album.bbsId}<br>
<hr/>
*#

