<div class="wrap_special">
	<div style="width:100%;height:100%;background:#f0f0f0;">
	##	운영영역. 통짜이미지로 가신다 함. 698 * 208
	<ul id="topeventlist" class="top_event_list">
	#foreach($motTemplete in $motTempleteList)
	#if($StringUtils.isNotBlank("$!{motTemplete.linkUrl}") )
	<li id="num_event_$foreach.count" #if($foreach.count == 1 )class="event_top_banner on"#else class="event_top_banner"#end><a href="$!{motTemplete.linkUrl}" title="이벤트">
		<img src="$!{motTemplete.imageUrl}" width="698" height="230" alt="이벤트">
	</a></li>
	#end
	#end
	</ul>
	</div>
	<div id="btn_event_list" class="wrap_nav">
	#foreach($motTemplete in $motTempleteList)
	#if( $StringUtils.isNotBlank("$!{motTemplete.linkUrl}") )
		#if($foreach.count == 1)
		<a id="btn_event_num$!{foreach.count}" class="num_event num$!{foreach.count}_on" onclick="daum.Music.Event.choiceEvent($!{foreach.index});return false;" href="#">1</a>
		#else
		<a id="btn_event_num$!{foreach.count}" class="num_event num$!{foreach.count}" onclick="daum.Music.Event.choiceEvent($!{foreach.index});return false;" href="#">2</a>
		#end
	#end
	#end
	</div>
</div>
<div class="wrap_tab">
	#set( $tab3 = " on" )
	#parse("/velocity/event/piece/tab.vm")
	<h3 class="screen_out">무료음악감상</h3>
	<div class="sort_option">
		#if($StringUtils.equals("$!{command.sort_type}","6")||$StringUtils.isBlank("$!{command.sort_type}"))#set($classNameNew = "link_option")#end
		#if($StringUtils.equals("$!{command.sort_type}","7"))#set($classNameClose = "link_option")#end
		<a class="$!{classNameNew}" href="/event/freesong/list?sort_type=6" title="최신순 정렬">최신순</a>
		<span class="txt_bar"> | </span>
		<a class="$!{classNameClose}" href="/event/freesong/list?sort_type=7" title="마감일순 정렬">마감일</a>
	</div>
</div>
<div class="wrap_free_btn">
	<a class="btn_event btn_listen_all" href="#" onclick="daum.Music.Event.listenAll();return false;" title="무료곡 전체듣기" >무료곡 전체듣기</a>
	<a class="btn_comm btn_listen" href="#" onclick="daum.Music.Event.listenSelect(this);">선택듣기</a>
</div>

#if(!$CollectionUtils.isEmpty($albumList))
<ul id="trackContainer" class="list_event list_free">
#foreach($album in $albumList)
<li>
	#set($songs = '')
	#foreach($song in $album.songList)
		#if( $foreach.index > 0 ) #set( $songs = $songs + "/" ) #end
		#set( $songs = $songs + $!{song.songId} )
	#end
	#if( $StringUtils.equals("$!{album.freeEvent.servicePageYn.getAcronym()}", "N") )
		#set( $link = "/event/freesong/detail?event_id=$!{album.freeEvent.eventId}" )
	#else
		#set( $link = "/album/main?album_id=$!{album.albumId}" )
	#end
	<input class="inp_chk" type="checkbox" value="$!{songs}" name="trackCheckbox">
	<a class="thumb_link thumb_freesong" href="$!{link}">
		<img src="$!{album.mainImage.filePath}" width="110" height="110" alt="$!{album.freeEvent.eventId}">
		<span class="line_thumb"></span>
	</a>
	<div class="wrap_info_type2">
		<strong class="wrap_title tit_free">
			<a href="$!{link}">$!{album.freeEvent.eventTitle}</a>
			#set($diffDate = $Number.toNumber($CheckDate.diffOfDate($album.freeEvent.endDate)))
			#if($diffDate > 0)
				<span class="ico_event ico_limit">마감</span>
			#else
				#if($diffDate > -3)<span class="ico_event ico_approach">마감임박</span>#end
			#end
		</strong>
		<dl class="wrap_col">
			<dt class="tit_info album">앨범</dt>
			<dd class="txt_info">
				#printAlbumName($album "album_type" 40 4 true)
			</dd>
		</dl>
		<dl class="wrap_col">
			<dt class="tit_info album">아티스트</dt>
			<dd class="txt_info">
				#printArtistName($album.keyArtistList "" 40 true)
			</dd>
		</dl>
		<dl class="wrap_col">
			<dt class="tit_info album">기간</dt>
			<dd class="txt_info">#printDateWithName($album.freeEvent.startDate true) ~ #printDateWithName($album.freeEvent.endDate true)
			</dd>
		</dl>
		<dl class="wrap_col">
			<dt class="tit_info album">무료</dt>
			<dd class="txt_info">
				#set($aodYnflag = $StringUtils.equals("$!{album.freeEvent.aodfreeYn.getAcronym()}","Y"))
				#set($mp3Ynflag = $StringUtils.equals("$!{album.freeEvent.mp3freeYn.getAcronym()}","Y"))
				#set($bgmYnflag = $StringUtils.equals("$!{album.freeEvent.bgmfreeYn.getAcronym()}","Y"))
				#if($aodYnflag)<strong>듣기</strong>#end
				#if($aodYnflag && $mp3Ynflag)<span class="txt_bar"> | </span>#end
				#if($mp3Ynflag)<strong>MP3</strong>#end
				#if(($mp3Ynflag && $bgmYnflag)||($aodYnflag && $bgmYnflag))<span class="txt_bar"> | </span>#end
				#if($bgmYnflag)<strong>BGM</strong>#end
			</dd>
		</dl>
	</div>
	<div class="wrap_action">
		<div class="link_freesong">
			<a class="arr_comm" href="$!{link}">무료곡 (총 <strong class="fc_blue">$!{album.songList.size()}</strong>곡)</a>
		</div>
		<ul class="list_song">
			#foreach($song in $album.songList)
			#if($foreach.index < 3)
			<li>#printSongName( $!{song} "ico_comm ico_listen" 20 true false false )</li>
			#end
			#end
		</ul>
	</div>
</li>
#end
</ul>
<script type="text/javascript">
daum.Music.Event.init();
</script>
#else
<div class="wrap_nodata">
	<strong>현재 무료음악감상이 가능한 앨범이 없습니다</strong>
</div>
#end


##page
#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)

<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>
-<br />
---------------------<br/>
개발 체크<br/>
---------------------<br/>
<br/>-날짜 형식 YYYYMMDD 로 내려 주세요.
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )

"albumEventCount" : "$!{albumEventCount}"<br>
"performEventCount" : "$!{performEventCount}"<br>
"freeAodEventCount" : "$!{freeAodEventCount}"<br>
"winnerEventCount" : "$!{winnerEventCount}"<br>
<br>

"eventList"<br><br>
#foreach($album in $albumList)
	"eventId" : "$!{album.freeEvent.eventId}"<br>
	"eventTitle" : "$!{album.freeEvent.eventTitle}"<br>
	"startDate" : "$!{album.freeEvent.startDate}"<br>
	"endDate" : "$!{album.freeEvent.endDate}"<br>
	"aodfreeyn" : "$!{album.freeEvent.aodfreeYn.getAcronym()}"<br>
	"bgmfreeyn" : "$!{album.freeEvent.bgmfreeYn.getAcronym()}"<br>
	"mp3freeyn" : "$!{album.freeEvent.mp3freeYn.getAcronym()}"<br>
	"servicePageYn" : "$!{album.freeEvent.servicePageYn.getAcronym()}"<br>
	"albumId" : "$!{album.albumId}"<br>
	"albumTypeName" : "$!{album.typeName}"<br />
	"albumTitle" : "$!{album.title}"<br />
	"playYn" : "$!{album.playYn}"<br>
	"albumMainImage" : "$!{album.mainImage.filePath}"<br />
	"keyArtistList"<br />
	#foreach($artist in $album.keyArtistList)
		"name" : "$!{artist.name}"<br />
		"artistId" : "$!{artist.artistId}"<br />
		"image" : "$!{artist.mainImage.filePath}"<br />
	#end
	"songListCount" : $!{album.songList.size()}<br />
	"songList" 이거 3넘는경우 3개씩 짤라서 쓰실수 있을까요 ??? <br />
	#foreach($song in $album.songList)
		"songId" : "$!{song.songId}"<br />
		"title" : "$!{song.title}"<br />
		"AODLinkId" : "$!{song.AODLinkId}"<br />
	#end
	<br />
#end
#end
