<div class="wrap_cont section_alim">
	<h3 class="tit_mymusic tit_alim">내 알림</h3>
	#if((!$CollectionUtils.isEmpty($motNoticeList) && $StringUtils.isNotBlank("$!{motNoticeList[0].title}")) || (!$CollectionUtils.isEmpty($motEventList) && $StringUtils.isNotBlank("$!{motEventList[0].title}")))
	<div class="box_noti">
		<ul class="list_top_noti">
		#if(!$CollectionUtils.isEmpty($motNoticeList) && $StringUtils.isNotBlank("$!{motNoticeList[0].title}"))	
			#foreach($motTemplete in $motNoticeList)
			<li><span class="txt_category">[공지]</span><a href="$!{motTemplete.linkUrl}" class="txt_noitce">#strCut("$!{motTemplete.title}", 90)</a><span class="txt_date">$!{CheckDate.makeReleaseDate($!{motTemplete.generalText})}</span></li>#break;
			#end
		#end
		#if(!$CollectionUtils.isEmpty($motEventList) && $StringUtils.isNotBlank("$!{motEventList[0].title}"))
			#foreach($motTemplete in $motEventList)
			<li><span class="txt_category">[이벤트]</span><a  href="$!{motTemplete.linkUrl}" class="txt_noitce">#strCut("$!{motTemplete.title}", 90)</a><span class="txt_date">$!{CheckDate.makeReleaseDate($!{motTemplete.generalText})}</span></li>#break;
			#end
		#end
		</ul>
	</div>
	#end
	
	<div class="music_chart">
		<span class="txt_guide">최근 <strong class="fc_blue">30일</strong> 이내</span>
		<div class="wrap_tool_btn">
			#if(!$!{myCount})#set($disabled = "disabled")#end
			<div class="tool_btn">
			#printDeleteBtn("AN") ## 삭제 버튼
			</div>
		</div>
	#if(!$StringUtils.equals("$!{myCount}", "0"))
		<ul id="trackContainer" class="list_alim">
		#foreach($item in $myList)
			#if(!$StringUtils.equals("$!{item.code.code}", "AN00") && !$StringUtils.equals("$!{item.code.code}", "AN99"))
			<li id="track$!{item.announceSeq}" class="track">
				<input type="checkbox" name="trackCheckbox" title="선택" class="inp_chk" value="$!{item.announceSeq}">
				<div class="col_cont">
					<p class="txt_noti">
						<a href="$!{item.targetUrl}" title="">$!{item.description}</a>
					</p>
				</div>
				<div class="col_btn">
					#if($StringUtils.isNotBlank("$!{item.sendMessage}"))
					<button type="button" class="btn_mymusic btn_message btn_open" onclick="daum.Music.My.Announce.toggleMessage(this);return false;">메세지보기</button>
					#end
					<span class="txt_date">$!{CheckDate.makeReleaseDate($!{item.registDate})}</span>
					<button type="button" class="btn_mymusic btn_delete" onclick="daum.Music.My.Del.delOne('$!{item.announceSeq}', 'AN');return false;">삭제</button>
				</div>
			</li>
			<li style="display:none;">
			#if($StringUtils.isNotBlank("$!{item.sendMessage}"))
				<div class="wrap_message">
					<span class="txt_from"><em class="fc_blue ico_mymusic ico_from">$!{item.providerName}</em>님의 메세지</span>
					<div class="txt_message">$!{item.sendMessage}</div>
				</div>
			#end
			</li>
			#end
		#end
		</ul>
		
		<script type="text/javascript">
			//daum.Music.My.Announce.init("myListContainer");
			var controller = new daum.Music.ListPrototype();
			controller.initialize({MySection:true});
	//		daum.Music.List.init();
			//new daum.Music.CheckBoxDrag("trackContainer");
		</script>
	#else
		<ul class="list_alim wrap_nodata">
			<li>
				<strong class="txt_noalim">새로운 알림이 없습니다</strong>
				<span class="txt_explan">새로운 알림이 있는지 확인하시려면 F5 (새로고침) 를 눌러주세요</span>
			</li>
		</ul>
	#end
		<div class="wrap_tool_btn">
			<div class="tool_btn f_l">
			#printDeleteBtn("AN") ## 삭제 버튼
			</div>
			
			#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10) ## 공통 페이징
		</div>
	</div>
</div>


#if( $StringUtils.equals("$!{command.debugmode}","2") )
	
알림  갯수: #if($!{myCount}) $myCount #else 0 #end (공지사항을 제외한 내 알림만 해당) <br/> 


공지사항 :
#foreach($notice in $motNoticeList)
제목 : $notice.title <br/>
내용 : $notice.contents <br/>
날짜 : $notice.generalText <br/>
링크 : $notice.linkUrl <br/>
<br/><br/>
#end

이벤트 :
#foreach($event in $motEventList)
제목 : $even.title <br/>
내용 : $even.contents <br/>
날짜 : $even.generalText <br/>
링크 : $even.linkUrl <br/>
<br/><br/>
#end


#if($!{myList})
	#foreach($item in $myList)
		SEQ : $item.announceSeq <br/>
		코드 : $item.code.code <br/>
		설명 : $item.description <br/>
		URL : $item.targetUrl <br/>
		메세지: $item.sendMessage <br/>
		보낸사람 : $item.providerName <br/>
		등록일 : $!CheckDate.makeReleaseDate($!{item.registDate}) <br/>
		<br/>
	#end
#end

현재페이지 : $command.getPage_no(), $pageHandler <br/><br/>
		

<b>왼쪽레프트정보</b><br/>

다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
	#if($foreach.index < 4)
		$item.get("SUBJECT") ||  $item.get("URL") <br />
	#end
#end <br />	
	
	
<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 공지사항&이벤트가 안나오는 이유는 MOT 데이터로 변경했기 때문입니다.
<br/>- 삭제 애니메이션 확인 (구리니까 바꿔봅세~)  
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
<br/>- 전체삭제시 공지사항과 이벤트도 같이 삭제되는 부분 확인부탁 드립니다.
</div>		
		

#end