<div class="wrap_tit">
	<h3 class="tit_winner">당첨자발표</h3>
	<a class="btn_comm btn_list" href="/event/winner/list" title="전체목록">전체목록</a>
</div>
<div class="box_event_info">
	<div class="wrap_win_event">
		<a class="thumb_link" href="$!{event.linkUrl}">
			<img src="$!{event.bannerUrl}" width="242" height="86" alt="$!{event.eventTitle}">
			<span class="line_thumb"></span>
		</a>
		<div class="wrap_info">
			<strong class="wrap_title">
				<a href="$!{event.linkUrl}" title="$!{event.eventTitle}">#strCut($!{event.eventTitle},50)</a>
			</strong>
			<dl class="wrap_event_info">
				<dt class="tit_info">기간</dt>
				<dd class="txt_info">#printDateWithName($event.startDate true) ~ #printDateWithName($event.endDate true)</dd>
			</dl>
			<dl class="wrap_event_info">
				<dt class="tit_info">발표</dt>
				<dd class="txt_info">#printDateWithName($event.winningDate true)</dd>
			</dl>
			<dl class="wrap_event_info">
				<dt class="tit_info">경품</dt>
				<dd class="txt_info">
				##	$event.description
				#foreach($present in $event.presentList)
					#if($foreach.index > 0)<span class="txt_bar"> | </span>#end
					#set( $printName = "$!{present.title}" + " $!{present.quantity}"+"명")
					$!{printName}
				#end
				</dd>
			</dl>
		</div>
	</div>
	<div class="wrap_win_cont">		
		#if( $StringUtils.isNotBlank("$!{event.winningInfo}") )
		<div class="show_info_more">
		$!{event.winningInfo}
		</div>
		#end
		#if( $StringUtils.isNotBlank("$!{eventList}") )
		<div class="list_winner">
			<strong class="tit_winner">당첨자명단</strong>
			<div class="bg_thead"></div>
			<table class="tbl_winner" summary="당첨자명단">
				<caption class="screen_out"></caption>
				<colgroup>
					<col class="gift">
					<col class="user_id">
					<col class="nickname">
				</colgroup>
				<thead class="screen_out">
					<tr class="screen_out">
						<th scope="col">경품</th>
						<th scope="col">Daum ID</th>
						<th scope="col">닉네임</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($event in $eventList)
					<tr>
						<td class="gift" rowspan="$!{event.prizeCount}">$event.prizeName $event.prizeCount명</td>						
					#foreach ($winner in $event.winnerList)
					#if($foreach.index < 1)
						<td class="user_id">$winner.daumId</td>
						<td class="nickname">$winner.daumName</td>
					</tr>
					#else
					<tr>
						<td class="user_id">$winner.daumId</td>
						<td class="nickname">$winner.daumName</td>
					</tr>
					#end
					#end
					#end
				</tbody>
			</table>
		</div>
	</div>
	#end
	<div class="wrap_win_notice">

		<strong class="screen_out">이벤트 당첨 안내</strong>
		<ul>
			<li>게시판에 무작위로 도배하시거나 남의 글을 도용하여 응모하신 분은 자동으로 당첨이 취소되며, 중복 당첨자는 1개의 경품만 발송됩니다.<br>(아이디가 달라도 중복 당첨되신 분께는 당첨된 갯수에 관계없이 하나의 상품만 배송됩니다.)</li>
			<li>개인정보 수정은 이벤트 종료 전에 하셔야 하고, 종료 후에 수정하신 정보로 배송되지 않는 점 양해 부탁 드립니다. (해외배송불가)</li>
			<li>주소가 정확하지 않거나, 부재등의 이유로 반송되어 올 경우 재배송이 불가능 합니다. (추후 문의를 하셔도 경품 배송은 불가능합니다.)</li>
			<li>경품 배송은 당첨자 발표 4주 후에 이루어집니다. (기획사 사정에 따라 배송 일정이 변경될 수 있는 점 참고 부탁 드립니다.)</li>
			<li>공연 초대 이벤트의 경우 공연 당일에 현장에서 당첨자 본인 확인 후 티켓 수령 가능합니다.</li>
		</ul>
	</div>
</div>

#if ($request.getParameter("debugmode") == "2" )
"eventId" : "$!{event.eventId}"<br>
"title" : "$!{event.eventTitle}"<br>
"startDate" : "$!{event.startDate}"<br>
"endDate" : "$!{event.endDate}"<br>
"winningDate" : "$!{event.winningDate}"<br>
"linkUrl" : "$!{event.linkUrl}"<br>
"bannerUrl" : "$!{event.bannerUrl}"<br>
"winningInfo" :"$!{event.winningInfo}"<br>
"presentList"<br>
	#foreach($present in $event.presentList)
		"id" : "$!{present.id}"<br>
		"winningRank" : "$!{present.winningRank}"<br>
		"title" : "$!{present.title}"<br>
		"quantity" : "$!{present.quantity}"<br>
	#end

==경품, 당첨자 목록==

#foreach ($event in $eventList)
	$event.prizeName - $event.prizeCount 명<br/>
	#foreach ($winner in $event.winnerList)
		이름 : $winner.daumName<br/>
		아이디 : $winner.daumId<br/>
	<br/>
	#end
#end
<br>
#end
	
<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 경품내역이 길어서 한줄을 넘어갈땐 어떻게 처리 event_id=4071
<br/>- 공연정보랑, 관람안내는 메시지는 공연초대 이벤트 일때만 나오는건가요.?
<br/>- 
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
<br/>-==경품, 당첨자 목록== 안나와요.
<br/>-공연정보  $ event.winningInfo 이값으로 처리하는거 맞나요?
</div>
	