#if("$!{callback}" != "")
if (typeof(${callback}) == "function") ${callback} (
#end
{
	"result" : {
		"type" : "${result.resultType}",
		"message" : "${result.message.trim()}",
		"linkUrl" : "${result.linkUrl}"	

		#*
		"type" : "$!Escape.escapeJava(${result.resultType})",
		"message" : "$!Escape.escapeJava(${result.message})"
		*#
	}
}
#if("$!{callback}" != "")
);
#end
