{
"list" :[
#foreach($item in $dto.videoResult.documentList)
	#if($foreach.index > 0)
		,
	#end
{
	"serviceid":"music",
	"sectionid":"video",
	"itemid" : "$!{item.mv_id}",
	"title" : "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
	"link" : "http://music.daum.net/song/songVideo.do?songId=$!{item.song_id}&videoId=$!{item.mv_id}",
	"etc" : {
    	"artist" : [
				{
					"artistId" : "$!{item.artist_id}",
					"artistname" : "${StringCutUtil.removeTagJSON($!{item.artist_name})}"
				}
    	],
    	"tvpotvid" : "Rj5yooH1lq8$",
    	"songid" : "$!{item.song_id}",
    	"songname" : "${StringCutUtil.removeTagJSON($!{item.song_name})}",
    	"albumid" : "$!{item.album_id}",
    	"albumname" : "${StringCutUtil.removeTagJSON($!{item.album_name})}",
    	"thumbnail" : "$!{item.mv_thumb}"
    }
}
#end
]
,
"paging" : {
        "page" : $!{command.pageNo},
        "count_per_page" : $!{dto.ph.onePageCnt},
#set($page_count = $MathTool.ceil($MathTool.div($!{dto.ph.totalCnt},$!{dto.ph.onePageCnt})))
        "page_count" : $page_count,
        "count" : $!{dto.ph.totalCnt}
    }
}
	
	
	