#if("$!{callback}" != "")
if (typeof(${callback}) == "function") ${callback} (
#end
{
	"vclipList" : [
#foreach(${vclip} in ${dto.videoResult.documentList})
	#if(${foreach.index} > 0) , #end
	${JsonTool.toJson(${vclip.vclip})}
#end
	]
}
#if("$!{callback}" != "")
);
#end

