{
"channel" : {
	"totalCount": "$dto.totalCount",
	"item" :[
	#foreach($item in $dto.videoResult.documentList)
	#if($foreach.index > 0)
		,
	#end
		{
                "SONG_ID": "$!{item.song_id}",
                "SONG_NAME": "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
                "SONG_NAME_TOOLTIP": "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
                "ALBUM_ID": "$!{item.album_id}",
                "ALBUM_NAME": "$!{StringCutUtil.removeTagJSON($!{item.album_name})}",
                "ALBUM_VOL": "$!{item.album_volume}",
                "ARTIST_ID": "$!{item.artist_id}",
				#if($StringUtils.isNotBlank("$!{item.artist_name}") && $StringUtils.isNotBlank("$!{item.artist_id}") && !$StringUtils.equals("$!{item.artist_id}","0"))
                "ARTIST_NAME": "$!{StringCutUtil.removeTagJSON($!{item.artist_name})}",
				#else
				"ARTIST_NAME": "V.A",
				#end
                "MV_ID": "$!{item.mv_id}",
                "MV_NAME": "$!{StringCutUtil.removeTagJSON($!{item.mv_name})}",
                "MV_THUMB": "$!{item.mv_thumb_url}",
                "MV_TVPOT_ID": "$!{item.mv_tvpot_vid}",
                "MV_ADULT_YN": "$!{item.mv_adult_yn}",
                "RELEASE_DTTM": "$!{item.release_date}"
		}
	#end
			]
			}
}
