<?xml version="1.0" encoding="UTF-8"?>
<datalist>
<count><![CDATA[$allThemeData.size()]]></count>	
#if(${allThemeData.size()} > 0)	
	#foreach($itemList in $allThemeData)
	<data>
      	<lastModified><![CDATA[]]></lastModified>
      	<regDate><![CDATA[]]></regDate>
      	<dataKey><![CDATA[$itemList.sccDateKey]]></dataKey>
			<field>                                    
			  <id>text01</id>                          
			  		$itemList.title                                
			</field>                                   
			<field>                                    
			  <id>text02</id>                          
				#foreach($item in $itemList.issueWords)
				  	$item
				#end
			</field> 
			<field>                                    
			  <id>text03</id> 
				#foreach($item in $itemList.recommendThemeList)
				  $item
				#end   
			</field>  
			<field>                                    
			  <id>text04</id>                          
			  <item>                                   
			    <link><![CDATA[]]></link>              
			    <content><![CDATA[$itemList.totalSongCount]]></content>  
			  </item>                                  
			</field>   
			<field>                                    
			  <id>text05</id>                          
				#foreach($item in $itemList.songIdList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end
			</field>  
			<field>                                    
			  <id>text06</id>                          
				#foreach($item in $itemList.vclipIdList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                 
			</field>                                     
			<field>                                    
			  <id>text07</id>                          
				#foreach($item in $itemList.bellSaleStatusList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                   
			</field>  
			<field>                                    
			  <id>text08</id>                          
				#foreach($item in $itemList.ringSaleStatusList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                  
			</field>  
			<field> 
			  <id>text40</id>                          
				#foreach($item in $itemList.songTitle)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end
			</field> 
			<field>                                    
			  <id>text41</id>                          
				#foreach($item in $itemList.keyArtistNameList)
				  $item
				#end
			</field>  
			<field>                                    
			  <id>text42</id>                          
				#foreach($item in $itemList.AODLinkIdList)
				  $item
				#end                                 
			</field>  
			<field>                                    
			  <id>text43</id>                          
				#foreach($item in $itemList.albumList)
				  $item
				#end                                
			</field>  
			<field>                                    
			  <id>text44</id>                          
				#foreach($item in $itemList.vclipLinkIdList)
				  $item
				#end
			</field>
			<field>                                    
			  <id>text45</id>                          
				#foreach($item in $itemList.MP3LinkIdList)
				  	$item
				#end
			</field>
			<field>                                    
			  <id>text46</id>                          
				#foreach($item in $itemList.BGMLinkIdList)
				  	$item
				#end
			</field> 
			<field>                                    
			  <id>text47</id>                          
				#foreach($item in $itemList.synonymsWords)
				  	$item
				#end
			</field>  
			<field>                                    
			  <id>text48</id>                          
				#foreach($item in $itemList.allThemeList)
					$item
				#end
			</field>
			<field>                                    
			  <id>text49</id>                          
				#foreach($item in $itemList.vclipList)
				  $item
				#end                                 
			</field>				
		</data>			
	#end
#end	
</datalist>
