
<!-- popWrap -->
<div id="popWrap" class="cont_payment">
	<!-- popHead -->
	<div id="popHead">
		<h1 class="logoArea">
			<strong id="logo" class="text_imgpop">Support your music 지원서</strong>
		</h1>
	</div>
	<!-- //popHead -->
	<!-- popContent -->
	<div id="popContent">
		<div class="wrap">
			<form class="user_payment" onsubmit="javascript:daum.Music.Sym.submitSupportForm();return false;">
				<fieldset>
					<legend class="screen_out legend">결제하기</legend>
					<div class="form">
						<div class="block line_bottom">
							<strong class="text_imgpop text_select_money">후원금액 선택</strong>
							#if($StringUtils.equals("$!{symInfo.curStatus}", "E"))
							<p class="des"><em class="text_pink">$!{symInfo.title} </em>프로젝트에 <em class="text_pink" id="moneyLabel">0원</em> 후원 선택하셨습니다.</p>	
							#else
							<p class="des">아티스트 <em class="text_pink">$!{artist.name}</em>님에게 <em class="text_pink" id="moneyLabel">0원</em> 후원 선택하셨습니다.</p>
							#end
						</div>
						<div class="block line_bottom row_radio_money">
							<ul class="list_radio">
								#foreach ($item in $fundItemList)
									#set($disabled = false)
									#if($StringUtils.equals("$!{item.firstComeYn}", "Y") && $StringUtils.equals("$!{item.firstComeCount}", "$!{item.supportCount}"))
										#set($disabled = true)
									#end
								<li>
									<input class="radio" id="won0$foreach.count" name="chooseWon" type="radio" value="$!{item.fundPrice}" onclick="daum.Music.Sym.selectSupportMoney('#toCurrency($!{item.fundPrice})원', '$!{item.fundPrice}', '$!{disabled}')"#if($!{disabled}) disabled#end>
									<label class="label_money" for="won0$foreach.count">#toCurrency($!{item.fundPrice})원</label>
									<div class="box_desMoney">
										<div class="top"></div>
										<div class="cont_des">
											#if($!{disabled})	
												<img src="http://img-contents.daum-img.net/music/2011_home/sym/sym_pc/ico_end.gif" class="img" alt="마감">
											#end
											#strCut("$!{item.firstComeDesc}", 200)
										</div>
										<div class="bottom"></div>
										<span class=" ico_arrow"></span>
									</div>
									
								</li>
                                #end
							</ul>
						</div>
						
						<div class="block line_bottom row_cheer">
							#if($StringUtils.equals("$!{symInfo.curStatus}", "E"))
							<strong class="text_imgpop text_e_cheer">이 프로젝트에 응원의 한마디를 남겨주세요</strong>
							<input name="writeCheer" type="text" class="input_cheer" id="cheer" value="이 프로젝트를 후원합니다." onfocus="daum.Music.Sym.inputMessage();return false;" onkeyup="daum.Music.Sym.checkLength(400, 'cheer');">
							#else
							<strong class="text_imgpop text_cheer">아티스트에게 응원의 한마디를 남겨주세요</strong>
							<input name="writeCheer" type="text" class="input_cheer" id="cheer" value="이 아티스트를 후원합니다." onfocus="daum.Music.Sym.inputMessage();return false;" onkeyup="daum.Music.Sym.checkLength(400, 'cheer');">
							#end
						</div>
						
						<div class="block line_bottom row_question">
							<strong class="text_imgpop text_question">후원 보상과 관련해서 요청이나 문의가 있으시면 남겨주세요</strong>
							<input name="writeQuestion" type="text" class="input_question" id="question">
						</div>	
						
						<div class="block row_selectPayment">
							<strong class="text_imgpop text_selectPay">결제수단 선택</strong>
							<ul class="list_radio">
								#set($daumCash = " - ")
								#if(!$StringUtils.equals("$!{daumCashBalance}", "-9999"))
									#set($daumCash = "#toCurrency($MathTool.toNumber($!{daumCashBalance}))")
								#end 
								<li>
									<input class="radio" id="payment01" name="choosePayment" type="radio" value="DAUMCASH" #if($StringUtils.equals("$!{daumCashBalance}", "-9999"))disabled#end>
									<label class="label_payment" for="payment01">Daum캐쉬 결제(잔액 $!{daumCash}원)</label>
									<a target="_blank" class="label_payment charge_cash" onclick="daum.Music.Sym.openDaumCash();return false;" href="javascript:;">캐쉬충전</a>
								</li>
								<li>
									<input class="radio" id="payment02" name="choosePayment" type="radio" value="MOBILE">
									<label class="label_payment" for="payment02">핸드폰 결제</label>
								</li>
								<li>
									<input class="radio" id="payment03" name="choosePayment" type="radio" value="CREDITCARD">
									<label class="label_payment" for="payment03">신용카드(1,000원 이하 결제 불가)</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="btnArea">
						<button class="btn_pop btn_payment" type="submit">결제하기</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<form id="formPurchase" name="formPurchase"></form>
	<!-- //popContent -->
</div>
<!-- //popWrap -->

<script type="text/javascript">
	domReady(function(){
	console.log($!{command.sym_seq})
		daum.Music.Sym.supportFormInit('$!{command.sym_seq}', '$!{command.fund_id}', '$!{command.artist_id}', $!{daumCashBalance});
		window.resizeTo(510, 600);
		
//		if(location.href.indexOf("resize=true") > -1 ) {
//			window.resizeTo(510, 600);
			//daum.Browser.resizePop(500, 600);
//		}	
	});
</script>


#if( $StringUtils.equals("$!{command.debugmode}","2") )
##현재 유져
$user.userId || $user.daumId </br></br>

##유저의 개인정보동의여부
$agree.isExist </br></br>

##아티스트 이름
$artist.name </br></br>

	
##금액별 후원자 보상 
##선착순 인원수와 현재 후원한 인원이 같을 경우에는 더는 선택할 수 없어요. 막아버려주세요. 
##후원금액 표기는 매번 달라지니~ item.fundPrice를 보여줬다 안보여줬다 해주시면 될 것 같아요. 
#foreach ($item in $fundItemList)
	금액 : $item.fundPrice  || 선착순 여부: $item.firstComeYn  || 선착순 인원수 : $item.firstComeCount ||현재 후원한 인원 : $item.supportCount  || 내용 : $item.firstComeDesc 
	</br>
#end
</br></br>
	
다음캐시 : $daumCashBalance </br>
(값을 가지고 오는데 실패하면 -9999값이 나옴.이때는 -와 같은 표시를 해주시면 됩니다. 로컬에서 하면 무조건 -9999) </br></br>	
#end