#if("$!{command.searchType}" == "albumResult")
	#set($totalCount = $!{dto.albumResult.totalResultsCount})
	#set($list = $!{dto.albumResult.documentList})
#elseif("$!{command.searchType}" == "songResult")
	#set($totalCount = $!{dto.songResult.totalResultsCount})
	#set($list = $!{dto.songResult.documentList})
#elseif("$!{command.searchType}" == "videoResult")
	#set($totalCount = $!{dto.videoResult.totalResultsCount})
	#set($list = $!{dto.videoResult.documentList})
#else
	#set($totalCount = $!{dto.artistResult.totalResultsCount})
	#set($list = $!{dto.artistResult.documentList})
#end

<div class="con">

<script type='text/javascript'>
	document.domain = "daum.net";
	
	var stripHTMLtag = function(string) { 
       var objStrip = new RegExp(); 
       objStrip = /[<][^>]*[>]/gi; 
       return string.replace(objStrip, ""); 
    } 
	
    function selectItem(id, value){
		opener.searchCallback(id, stripHTMLtag(value));
		self.close();
	}
	/*
	function search(){
		var query = document.getElementById("query").value;
		var searchRange = "0";
		var searchType = document.getElementById("searchType").value;
		
		for(var i = 0; i < document.getElementsByName("searchRange").length; i++){
			if(document.getElementsByName("searchRange")[i].checked == true){
				searchRange = document.getElementsByName("searchRange")[i].value;
			}
		}
		
		var url = "/search/adminPopup.do?";
		url += "query=" + query;
		url += "&searchType=" + searchType;
		url += "&searchRange=" + searchRange;
		
		document.location.href = url;
	}
	*/
	function search(){
        var form = document.formSearch;
		form.action = "/search/adminPopup.do";
		form.method = "GET";
		//form.query.value = encodeURIComponent( form.query.value );
		
		return true;
	}
	
	
    
</script>
<form name="formSearch" onsunmit="return search();">
    <select id="searchType" name="searchType">
    	<option value="artistResult" #if("$!{command.searchType}" == "artistResult") selected #end>아티스트</option>
    	<option value="albumResult" #if("$!{command.searchType}" == "albumResult") selected #end>앨범</option>
    	<option value="songResult" #if("$!{command.searchType}" == "songResult") selected #end>곡</option>
    	<option value="videoResult" #if("$!{command.searchType}" == "videoResult") selected #end>뮤비</option>
    </select>
    
    <input type="text" class="input" value="$!{command.query}" id="query" name="query" />
    <input type="submit" value="검색"/>
    
    <div id="range">
    	<input type="radio" id="searchRange_0" name="searchRange" value="default"checked/><label for="searchRange_0">전체</label>
    	<input type="radio" id="searchRange_1" name="searchRange" value="0" #if($!{command.searchRange} == "0") checked #end/><label for="searchRange_1">제목</label>
    	<input type="radio" id="searchRange_2" name="searchRange" value="1" #if($!{command.searchRange} == "1") checked #end/><label for="searchRange_2">앨범</label>
    	<input type="radio" id="searchRange_3" name="searchRange" value="2" #if($!{command.searchRange} == "2") checked #end/><label for="searchRange_3">아티스트</label>
    </div><font color="red"> 곡검색, 앨범 검색(아티스트명에 매칭)만 가능한 옵션입니다..</font>
</form>
	
<br/>
#if($totalCount > 0)
	총 $totalCount 건이 검색되었습니다.<br/>
	<table border="1" class="list" summary="검색결과">
	<thead>
		<tr>
			<th>ID</td>
			<th align="center">이미지</th>
			<th align="center">제목</th>
			<th align="center">아티스트명</th>
			<th align="center">앨범명</th>
			<th align="center">선택</th>
		</tr>
	</thead>
	<tbody>
		
		#foreach($item in $list)
			#if("$!{command.searchType}" == "albumResult")
				#set($id = $item.album_id)
            #elseif("$!{command.searchType}" == "videoResult")
				#set($id = $item.mv_id)
            #elseif("$!{command.searchType}" == "songResult")
				#set($id = $item.song_id)
			#else
				#set($id = $item.artist_id)
			#end
			
			<tr>
				<td>$id</td>
			#if("$!{command.searchType}" == "songResult")
				<td>
				#set($index = $foreach.index + 1)
				$index
				</td>
			#else
				<td>
				#if("$!{command.searchType}" == "albumResult")
					<img src="$ImageOldUtil.getImageUrl("$!{item.thumb}", $ImageOldUtil.ALBUM_45_45)" width="45" height="45" class="oline"/>
				#elseif("$!{command.searchType}" == "videoResult")
					<img src="$ImageOldUtil.getImageUrl("$!{item.mv_thumb}", $ImageOldUtil.VIDEO_70_52)" width="70" height="52" class="oline"/>
				#elseif("$!{command.searchType}" == "artistResult")
					<img src="$ImageOldUtil.getImageUrl("$!{item.thumb}", $ImageOldUtil.ARTIST_50_63)" width="50" height="63" class="oline"/>
				#end
				</td>
			#end
			<td>
			#if("$!{command.searchType}" == "artistResult")
				#set($value = ${item.artist_name})
				${item.artist_name}
			#elseif("$!{command.searchType}" == "albumResult")
				#set($value = ${item.album_name})
				${item.album_name}
			#elseif("$!{command.searchType}" == "songResult")
				#set($value = ${item.song_name})
				${item.song_name}
			#elseif("$!{command.searchType}" == "videoResult")
				#set($value = ${item.song_name})
				${item.song_name}
			#end
			</td>
			<td>$!{item.artist_name}</td>
			<td>$!{item.album_name}</td>
				<td>
					<a href="javascript:;" class="btnSelect" onclick="selectItem('$!{id}', '#escScript($!{value})')">선택</a>
				</td>
			</tr>
		#end
	</tbody>
    </table>
	<br/><br/>
	#set ($url = "?")
	#set ($url = "${url}query=$!{command.query}")
	#set ($url = "${url}&searchType=$!{command.searchType}")
	#set ($url = "${url}&searchRange=$!{command.searchRange}")
	#printPaging("${url}&pageNo=", $dto.ph.pageNo, $dto.ph, "", 10)
#end

<input type="hidden" id="sortType" name="sortType" value="$!{command.sortType}" />
<input type="hidden" id="pageNo" name="pageNo" value="$!{command.pageNo}"/>
<input type="hidden" id="type" name="type" value="$!{command.searchType}"/>
	
</div>