{
     "searchData" : [
	 #foreach($item in $dto.albumResult.documentList)
    	#set($trackList = $item.getTrackList())
    	#if($foreach.index > 0),#end
    	{
    		"AlbumId": "$!{item.docid}",
        	"Title": "$StringCutUtil.removeTagJSON($item.album_name)",
        	"artistId": "$!{item.artist_id}",
        	"ArtistName": "$StringCutUtil.removeTagJSON($item.artist_name)",
        	"MainImage": "$!{Escape.xml($!{item.mainImage.filePath})}",
        	"AlbumVolumn": "$!{item.album_volume}",
        	"AlbumTitle": "$StringCutUtil.removeTagJSON($!{item.album_name})",
        	"SongList": [
        				#foreach($track in $trackList)
        				#if($foreach.index > 0),#end
        				{
        					"SongId": "$!{track.songId}",
        					"Title": "$StringCutUtil.removeTagJSON($!{track.title})",
        					"artistId": "$!{item.artist_id}",
        					"ArtistName": "$StringCutUtil.removeTagJSON($item.artist_name)",
        					"ListenYN" : "$!{track.listenYN}"
        					}
        					#end
        					]
    	}
    #end
    ],
    
    "pageHandler" : {
    "page_no": "$!{command.page_no}",
    "onePageCnt": "$!{dto.ph.onePageCnt}",
    "oneBlockCnt": "$!{dto.ph.oneBlockCnt}",
    "totalCnt": "$!{dto.ph.totalCnt}"
    }
}
