<div class="$!tiles.getAsString("wrapper")" id="$!tiles.getAsString("wrapperId")">
    <div class="tit">
        <h3 id="popTitle">$!tiles.getAsString("popTitle")</h3>
    </div>

	
<script type='text/javascript'>
var stripHTMLtag = function(string) { 
   var objStrip = new RegExp(); 
   objStrip = /[<][^>]*[>]/gi; 
   return string.replace(objStrip, ""); 
} 

var checkForm = function( form ){
    if( form.query.value == "" ){
       form.query.focus();
       alert("검색어를 입력해 주세요");
       return false;
    }
    
    return true;
};
#if( $StringUtils.equals( $command.type, "board" ) )
var selectItem = function( albumId, albumName ){
    var url = "http://bbs.music.daum.net/gaia/do/music/album/list?searchKey=meta&searchValue=1%3A"+albumId+"&bbsId=M001";
    try {
        opener.window.location.href=url;
    } catch(e){     
        UI.Popup( url );
	}    
    self.close();
};
#else
var selectItem = function(id, value){
    try {
        opener.searchCallback(id, stripHTMLtag(value));
        self.close();
    } catch( e ){
        alert("검색 결과를 정상적으로 전송할 수 없습니다.");   
    }   
};
#end
</script>
#set($count = $dto.albumResult.totalResultsCount)
#set($albumList = $dto.albumResult.documentList)
	<div class="con">

        <!-- 검색창 -->
        <div class="conSch">
            <fieldset>
            <form action="/search/albumPopup.do" method="get" onsubmit="return checkForm(this);" >
            <label class="em" for="pzAlbumName" class="lArtiName">앨범명</label> <input type="text" class="input" id="pzAlbumName" name="query"  value="$!{command.query}">
            <input type="image" src="http://i1.daumcdn.net/img-contents/music/2008_home/common/btn_search2.gif">
			<input type="hidden" name="sortType" id="sortType" value="$!{command.sortType}"/>
			<input type="hidden" name="type" value="$!{command.type}"/>
            </form>
            </fieldset>
			<script type="text/javascript">UI.$("pzAlbumName").focus();</script>

        </div>
        <!-- 검색결과 -->
        <div class="conRslt">
            <div class="conHead">
#if( $StringUtils.equals( $command.query, "" ) )
                <p class="none">앨범명을 입력 후 검색해 주세요.</p>
#else			
#if($count > 0)				
                <p class="cnt">총 <em class="em">$!{count}</em>건이 검색되었습니다.</p>
#set($url="$request.getRequestURI()?$request.getQueryString()")
                <span class="grpSort">
                    <a href="/search/albumPopup.do?query=#escUrl($!{command.query})&type=$!{command.type}&sortType=0" class="sort #if($url.indexOf("sortType=0")>=0) on #else off #end" title="정확도 순으로 검색결과 정렬">정확도</a>
                    <span class="bar">|</span>
                    <a href="/search/albumPopup.do?query=#escUrl($!{command.query})&type=$!{command.type}&sortType=2" class="sort #if($url.indexOf("sortType=2")>=0) on #else off #end" title="인기순으로 검색결과 정렬">인기순</a>
                </span>
#else
                <p class="cnt">검색결과가 없습니다.</p>
#end				
#end				
            </div>
		
#if($count > 0)
            <ul class="lst album clearfix">
#foreach($album in $albumList)
#set( $paramAlbumName = "#escTitle(${album.album_name})" )
#set( $paramAlbumName2 = $album.album_name.replaceAll("<b>","").replaceAll("</b>","") )
            <li class="itm#if( $foreach.index == 0 ) first#end" onmouseover="mOverPaging(this);" onmouseout="mOutPaging(this);">
                <a href="/album/$!{album.album_id}" target="_blank" class="thumb" title="$!{paramAlbumName}"><img src="$ImageOldUtil.getImageUrl("$!{album.album_thumb_url}", $ImageOldUtil.ALBUM_52_52)" alt="$!{paramAlbumName}"></a>
                <ul class="inf">
                <li class="i1"><a href="/album/$!{album.album_id}" target="_blank" class="blue_d1 b name" title="#escTitle($paramAlbumName2)">#strCut( "${paramAlbumName2}" 40 )</a></li>## <em class="nameEn fs_smaller">(James Hillier Blount)</em>
                <li class="i2"><label>아티스트</label><span class="dat">#if( $StringUtils.equals("$!{album.artist_name}","" )) - #else #strCut( "$!{album.artist_name}" 35 ) #end</span></li>
                <li class="i3"><label>타이틀곡</label><span class="dat">#if( $StringUtils.equals("$!{album.title_song_name}","")) - #else #strCut( "${album.title_song_name}" 26 )  #end</span></li>##$!{album.titlsSongId}
#***##if( $StringUtils.equals( $command.type, "board" ) ) 
                <li class="i4"><p class="btn"><input type="button" class="typeBtn btBbsView" value="게시글보기" title="게시글보기" onclick="selectItem( '$!{album.docid}', '#escScript($paramAlbumName)' );"></p></li>
#***##else
                <li class="i4"><p class="btn"><input type="button" class="typeBtn btSelect" value="선택" title="선택" onclick="selectItem( '$!{album.docid}', '#escScript($paramAlbumName)' );"></p></li>
#***##end    
                </ul>

            </li>
#end
</table>
            </ul>
## 페이징
#set ($url = "?query=" + "$!{command.encodedQuery}" + "&type="+$command.type +"&sortType=" + $command.sortType )
#printPaging("${url}&pageNo=", $dto.ph.pageNo, $dto.ph, "", 10)
#end
        </div>

</div>
    
<div class="btnSend">
    <div class="btn">
        <a id="btnConfirm" href="javascript:;" title="취소" onclick="closeWin();"><img src="http://i1.daumcdn.net/img-contents/music/2008_home/common/btn_cancel01.gif" alt="취소"></a>
    </div>
    <input type="button" value="닫기" title="닫기" class="typeBtn btPopCloseTxt" onclick="closeWin();">
</div>