#set($albumList = $dto.albumResult.documentList)
#set($albumCount = $dto.albumResult.totalResultsCount)
#set($query = $!{command.query})
#set($url = "/search/album/list?query=$!{query}")
#set ($artistUrl = "&artistId=$!{command.artistId}")
#set ($rangeUrl = "&searchRange=$!{command.searchRange}")
#set ($nationUrl = "&nationId=$!{command.nationId}")
#set ($genreUrl = "&genreId=$!{command.genreId}")
#set ($releaseUrl = "&releaseYear=$!{command.releaseYear}")
#set ($listenUrl = "&listenFilter=$!{command.listenFilter}")
#set ($bgmUrl = "&bgmFilter=$!{command.bgmFilter}")
#set($url = $url + $artistUrl + $rangeUrl + $nationUrl + $genreUrl + $releaseUrl + $listenUrl + $bgmUrl)

<ul class="tab_cont tab_search">
	#printSearchNaviTab()
</ul>


<div class="section_album">
	#parse("/velocity/search/piece/finder.vm")
    
	#parse("/velocity/search/piece/highlight.vm")

    #if(($!{albumCount}) && $!{albumCount} > 0)			
	
	<div class="wrap_title">
		<h3 class="tit_search tit_albumsec">앨범</h3>
		<span class="txt_bar"> | </span>
		<span class="txt_quantity">총 <strong class="fc_blue ls_0">$!{albumCount}</strong> 건</span>
		<div class="sort_option f_r">
			#printSearchSortOption( $url, $!{command.sortType} )
		</div>
	</div>
	
	<ul class="list_info list_album">
		#foreach($album in $albumList)
		<li>
				
			#printAlbumThumb($album 4 "" "")
			
			<div class="wrap_info">
				<span class="txt_name">
					##printSearchAlbumName($album "" 30 true true ) 
					##printAlbumName( $album "" 30 1 true )
					#if($StringUtils.isNotBlank("$!{album.album_vol}"))
    					#set($title = ${album.album_vol} + "집 " + $!{album.title})
    				#else
    					#set($title = $!{album.title})
					#end
					#set( $noTagTitle = "#stripHTML($title)" )
					<a title="$!{noTagTitle}" onclick="albumDetail($!{album.albumId});return false;" href="/album/main?album_id=$!{album.albumId}">${HtmlTool.cutHighlightedKoreanString("$!{title}", 35, '...')}</a>
				</span>
				
				<dl class="col_info">
					<dt>아티스트</dt>
					<dd class="wrap_artist">
    				#if(!$CollectionUtils.isEmpty($!{album.keyArtistList}))
						#printSearchArtistName( $!{album.keyArtistList} "f_l" 28 true )
					#else
						<span>V.A</span>
    				#end
					</dd>
				</dl>
				
				#if($StringUtils.isNotBlank("$!{album.genre.genreGroupName}") || $StringUtils.isNotBlank("$!{album.genre.genreName}"))
				<dl class="col_info">
					<dt>장르</dt>
					<dd>
						##if($StringUtils.isNotBlank("$!{album.class_name}"))
						#if($StringUtils.isNotBlank("$!{album.genre.genreGroupName}"))
							<a href="/genre/genrealbum/list?genre_group_cd=$!{album.genre.genreGroupCode}">$!{album.genre.genreGroupName}</a>
							#if($StringUtils.isNotBlank("$!{album.genre_name}")) &gt; #end
						#end
						##if($StringUtils.isNotBlank("$!{album.genre_name}"))
						#if($StringUtils.isNotBlank("$!{album.genre.genreName}"))
							<a href="/genre/genrealbum/list?genre_group_cd=$!{album.genre.genreGroupCode}&amp;genre_cd=$!{album.genre.genreCode}">$!{album.genre.genreName}</a>
						#end
					</dd>
				</dl>
				#end
				
				#if($StringUtils.isNotBlank("$!{album.release_dttm}") && !$StringUtils.equals("$!{album.release_dttm}", "00000000"))
				<dl class="col_info">
					<dt>발매</dt>
					<dd class="txt_num">$!{CheckDate.makeReleaseDate($!{album.release_dttm})}</dd>
				</dl>
				#end
				
				<dl class="col_info">
					<dt>추천</dt>
					<dd class="txt_num fc_like">#toCurrency(${album.recommendCount})</dd>
				</dl>
				
				#if($StringUtils.isNotBlank("$!{album.album_title_name}"))
				<span class="wrap_listen">
					#if($StringUtils.equals("$!{album.album_title_listen_yn}", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
					#if($_listenAble)<a title="$!{album.album_title_name}" class="ico_comm ico_listen" #if($_listenAble)onclick="daum.Music.AodPlayer.add(this,$!{album.album_title_id});return false;"#end href="javascript:;">#else<span class="ico_comm ico_nolisten">#end
    				##strCut("$!{album.album_title_name}", 45)
					${HtmlTool.cutHighlightedKoreanString("$!{album.album_title_name}", 40, "...")}
    				#if($_listenAble)</a>#else</span>#end
				</span>
				#end
			</div>
		</li>
		#end
	</ul>
	
	## 페이징
	#if($StringUtils.isNotBlank("$!{command.sortType}")) #set($url = $url + "&amp;sortType=$!{command.sortType}") #end
	#set($url = $url + "&amp;page_no=")
	#printPaging($url, $dto.ph.pageNo, $dto.ph, "", 10)

    #else
    <ul class="list_search_guide">
    	<li class="ico_comm">검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요.</li>
    	<li class="ico_comm">두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요.</li>
    	<li class="ico_comm">키워드에 있는 특수문자를 뺀 후에 검색해 보세요.</li>
    </ul>
    #end
</div>



<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>
- artistId가 없을경우 album링크는 어디로?<br/>
- 가사는 링크없음?<br/>
---------------------<br/>
개발 체크<br/>
---------------------<br/>
- 추천 정보<br/>
- 장르링크는 추후 변경됨<br/>
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )


#set($albumList = $dto.albumResult.documentList)
#set($albumCount = $dto.albumResult.totalResultsCount)

#set ($url = "?query=$!{command.encodedQuery}")
#if( $StringUtils.isNotEmpty("$!{command.searchRange}") ) #set ($url = $url + "&searchRange=$!{command.searchRange}") #end
#if( $StringUtils.isNotEmpty("$!{command.genreId}") ) #set ($url = $url + "&genreId=$!{command.genreId}") #end
#if( $StringUtils.isNotEmpty("$!{command.releaseYear}") ) #set ($url = $url + "&releaseYear=$!{command.releaseYear}") #end
#if( $StringUtils.isNotEmpty("$!{command.listenFilter}") ) #set ($url = $url + "&listenFilter=$!{command.listenFilter}") #end
#if( $StringUtils.isNotEmpty("$!{command.bgmFilter}") ) #set ($url = $url + "&bgmFilter=$!{command.bgmFilter}") #end

#if ($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))
	#set ($albumview = "on")
#else
	#if($!{albumCount} && $!{albumCount} > 0)
		#set ($albumview = "on")
	#else
		#set ($albumview = "off")
	#end
#end

		<h2>본문영역</h2>
	
<!-- 앨범 -->		
	#if($StringUtils.equals($!{albumview},"on"))		
		<div class="collTitle">
			<h3 class="fl">앨범 <span class="num">총  $!{albumCount}건</span></h3>
			<span class="fl">&nbsp;
				#if($StringUtils.equals($!{command.sortType}, "0"))
    				<span class="nrl base">정확도</span>
    			#else
    				<a href="$url&sortType=0" class="stlink" onclick="return gExtraLink(this, 'SRVY', '1')">정확도</a>
    			#end
    			#if($StringUtils.equals($!{command.sortType}, "1"))
    				<span class="nrl vline"> | </span><span class="nrl base">최신</span>
    			#else
    				<span class="nrl vline"> | </span><a href="$url&sortType=1" class="stlink" onclick="return gExtraLink(this, 'SRVY', '2')">최신</a>
    			#end
    			#if($StringUtils.equals($!{command.sortType}, "2"))
    				<span class="nrl vline"> | </span><span class="nrl base">인기도</span>
    			#else
    				<span class="nrl vline"> | </span><a href="$url&sortType=2" class="stlink" onclick="return gExtraLink(this, 'SRVY', '3')">인기도</a>
    			#end
			</span>
			<span class="chkSongR fw_n fs12">
				<input type="checkbox" name="checkBoxR1" id="checkBoxR1" onClick="_jsChkListenYN(this);return gExtraLink(this, 'SRVY', '4');"> 듣기가능
				<input type="checkbox" name="checkBoxR2" id="checkBoxR2" onClick="_jsChkListenYN(this);return gExtraLink(this, 'SRVY', '5');"> 배경음악 구매가능
			</span>
		</div>			
	
	
		<div class="collWid collTot">
		#if(($!{albumCount}) && $!{albumCount} > 0)			
			#foreach($album in $albumList)
				#set ( $count = $foreach.index + 1 )
			<div class="clearfix #if($foreach.index == 0) mThumImgListFst #else mThumImgList #end">			
				<a href="/album/album.do?albumId=$!{album.album_id}" class="collImg" onclick="return gLink(null, 'SRVY', '1', '$!{count}');"><img src="$ImageOldUtil.getImageUrl("$!{album.thumb}", $ImageOldUtil.ALBUM_110_110)" alt="#getStrongText($!{album.album_name_tooltip})" width="110" height="110" class="oline"></a>
				<div class="collCont">
					<span class="tit3 subj3">
						<a href="/album/album.do?albumId=$!{album.album_id}" class="fl" onclick="return gLink(null, 'SRVY', '2', '$!{count}');">$!{album.album_vol} $!{album.album_name}</a>
						<!--<span class="starSmall pink titStar">
							#set($albumPoint = $!{album.getAvgScore()} * 10)
							<span class="pt1"><span class="pt2" style="width: $!{albumPoint}%;">네티즌별점</span></span>
							<em>$!{album.getAvgScore()}</em>
						</span>-->
						<div class="titStar">#drawStarSmall($!{album.getAvgScore()})</div>
					</span>		
					#if($StringUtils.isNotEmpty("$!{album.artist_name}"))				
					<dl class="collDl">
						<dd class="tit">아티스트</dd>
						<dd class="con">
							#if($StringUtils.isNotEmpty("$!{album.artist_id}") && !$StringUtils.equals("$!{album.artist_id}","0"))<a href="/artist/artist.do?artistId=$!{album.artist_id}" class="arti" onclick="return gLink(null, 'SRVY', '3', '$!{count}');">$!{album.artist_name}</a>#else $!{album.artist_name}#end</dd>
					</dl>
					#end
						
					#if($StringUtils.isNotEmpty("$!{album.album_title_name}"))	
					<dl class="collDl">
						<dd class="tit">타이틀곡</dd>
						<dd class="con">
							<a href="/song/song.do?songId=$!{album.album_title_id}" class="gray_d2 fl" title="$!{album.album_title_name} 곡 상세정보 바로가기" onclick="return gLink(null, 'SRVY', '4', '$!{count}');">$!{album.album_title_name}</a>
    						#if($StringUtils.equals("$!{album.album_title_listen_yn}", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
    						<input class="typeBtn btSetMiniSmall btMiniSmallListen#if(!$_listenAble)_dis#end" type="button" #if($_listenAble)onclick="listenSong('$!{album.album_title_id}');return gLink(null, 'SRVY', '5', '$!{count}');"#else disabled="true"#end title="#escTitle($!{album.album_title_name}) 곡 듣기" value="#escTitle($!{album.album_title_name}) 곡 듣기"/>	
						</dd>
					</dl>
					#end					
					
					#if($StringUtils.isNotEmpty("$!{album.class_name}") || $StringUtils.isNotEmpty("$!{album.genre_name}"))
					<dl class="collDl">
						<dd class="tit">장르</dd>
						<dd class="con">
							#if($StringUtils.isNotEmpty("$!{album.class_name}"))
								<a href="/genre/genre.do?styleKind=genre&genreCode=$!{album.class_id}" onclick="return gLink(null, 'SRVY', '6', '$!{count}');">$!{album.class_name}</a>
								#if($StringUtils.isNotEmpty("$!{album.genre_name}")) &gt; #end
							#end
							#if($StringUtils.isNotEmpty("$!{album.genre_name}"))
								<a href="/genre/genre.do?styleKind=styleGroup&styleGroupCode=$!{album.genre_id}" onclick="return gLink(null, 'SRVY', '7', '$!{count}');">$!{album.genre_name}</a>
							#end
						</dd>
					</dl>
					#end
					
					#if($StringUtils.isNotEmpty("$!{album.release_dttm}") && !$StringUtils.equals("$!{album.release_dttm}", "00000000"))
					<dl class="collDl">
						<dd class="tit">발매</dd>
						##<dd class="con">$ConverterUtil.formatByStar(${album.release_dttm}, "****.**.**")</dd>
						<dd class="con">$CheckDate.makeReleaseDate(${album.release_dttm})</dd>
					</dl>
					#end
					
					<p class="collIcon">
						#if($StringUtils.equals("$!{album.album_listen_yn}","Y")) 
							<input type="button" class="typeBtn btSetAbm btAbmListen" id="album_$!{album.album_id}" value="앨범 듣기" title="앨범 듣기" onclick="listenAlbum('$!{album.album_id}');return gLink(null, 'SRVY', '9', '$!{count}');" >
							## #printListItemButton( $!{album.album_id}, "albumListen", "" )
						#end
						<input type="button" class="typeBtn btSetAbm btAbmBookmark#if(!$!{album.album_id})_dis#end" #if(!$!{album.album_id})disabled#end value="앨범 찜" title="앨범 찜" onclick="bookmarkAlbum('$!{album.album_id}');return gLink(null, 'SRVY', '8', '$!{count}');" > 
						## #printListItemButton( $!{album.album_id}, "albumBookmark", "" )
					</p>					
				</div>
			</div>	
			#end
		#else
			<div id="nResultN2">
				<div class="titArea"><b>'$!{command.query}'</b> 에 대한 
					#if ($StringUtils.equals($!{command.listenFilter},"y"))  
						듣기가능한 곡#if ($StringUtils.equals($!{command.bgmFilter},"y")), #end
					#end
					#if ($StringUtils.equals($!{command.bgmFilter},"y"))  
						배경음악 구매가능한 곡
					#end
					이 없습니다.</div>
				##<div class="contArea">다른 옵션을 선택해 보세요.</div>
			</div>			
		#end
			<script type="text/javascript">
			function _jsChkListenYN( ctrlCheckBox ) {
		        var _flag = false;
		        var listenFilterYN = "";
		        var bgmFilterYN = "";
		        			   		
		   		if (UI.$("checkBoxR1").checked) listenFilterYN = "&listenFilter=y"
		   		if (UI.$("checkBoxR2").checked) bgmFilterYN = "&bgmFilter=y"
		    
		        if( typeof( ctrlCheckBox ) == "object" ){
		##          window.location.href = "/search/album.do?query=#escUrl( $!{command.query} )&artistId=$!{command.artistId}&typeId=$!{command.typeId}&genreId=$!{command.genreId}&nationId=$!{command.nationId}&releaseYear=$!{command.releaseYear}&activeYear=$!{command.activeYear}&searchRange=$!{command.searchRange}"+listenFilterYN+bgmFilterYN;
		        }
		    } 
		    
		    var listenFilter = "${command.listenFilter}";
		    var bgmFilter = "${command.bgmFilter}";
		    if (listenFilter == "y") {
		    	UI.$("checkBoxR1").checked = true;
		    }
		    if (bgmFilter == "y") {
		    	UI.$("checkBoxR2").checked = true;
		    }
			</script>
		</div>			
		<div class="collBottom"></div>
		
<!-- 페이징 -->	
	   	#if( $StringUtils.isNotEmpty("$!{command.sortType}") ) #set ($url = $url + "&sortType=$!{command.sortType}") #end
		#printPagingClickLog("${url}&pageNo=", $dto.ph.pageNo, $dto.ph, "", 10)
		
	#end
		
		<!--검색결과 없음 -->
		#if($StringUtils.equals($!{albumview},"off"))
   ##     #if($albumCount <= 0)
    		<div class="rsltHelp">
        		<p><span class="dot">ㆍ</span>검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요.</p>
        		<p><span class="dot">ㆍ</span>두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요.</p>
        		<p><span class="dot">ㆍ</span>키워드에 있는 특수문자를 뺀 후에 검색해 보세요.</p>
        	</div>
    	</div>
    	#end
		
<!-- 제보 -->
##		<hr/><div id="wInfoArea"><span class="tit">지금 보시는 검색 결과에 추가, 수정이 필요한 내용을 직접 등록해 주세요.</span><input type="button" class="typeBtn btnInfo fl" value="제보하기" title="제보하기"></div>
	
<!-- 클릭로그 -->
<script type="text/javascript">init("VY", "$!{command.eucKrQuery}", "-1", "@@@");</script>

#end