## 컨텐츠 영역
#set( $type = "manage")
#if( $command.getTarget_service() == "CAFE"  && $cafeInfoList.size()==0 )
	#set( $noData = true )
#end	
#if( $command.getTarget_service() == "BLOG" && $StringUtils.isEmpty("$!{bgmStatus.blogUrl}") )
	#set( $noData = true )
#end	
#if( $command.getTarget_service() == "KIDS" && $StringUtils.isEmpty("$!{bgmStatus.kidsUrl}") )
	#set( $noData = true )
#end			

<div class="wrap_cont section_own">
	<h3 class="tit_mymusic tit_own">구매 음악</h3>
	#printDepositoryMenu($!{type})
	<div class="manage">
		<h4 class="screen_out">배경음악 관리</h4>
		<ul class="category_cont">
			<li class="fst#if( $command.getTarget_service() == "CAFE" ) on#end">
				<a class="cate1" href="?target_service=CAFE">카페 배경음악</a>
			</li>
			<li class="#if( $command.getTarget_service() == "BLOG" ) on#end">
				<a class="cate2" href="?target_service=BLOG">블로그 배경음악</a>
			</li>
			<li class="#if( $command.getTarget_service() == "KIDS" ) on#end">
				<a class="cate3" href="?target_service=KIDS">키즈짱 배경음악</a>
			</li>
		</ul>
				
		#if( $noData == true )
			#parse("/velocity/my/depository/bgm_status/list.nodata.vm")
		#else
			#parse("/velocity/my/depository/bgm_status/list.data.vm")
			#parse("/velocity/my/depository/bgm_status/list.manage.vm")
		#end
		
		<div class="wrap_bglist">
			<div class="box_rank">
				<h4 class="tit_mymusic tit_popular">배경음악 인기순위</h4>
				<ol class="list_rank">
					#foreach($song in $chartSongFive)
						#set($lyricHref = "/album/main?album_id=$!song.album.albumId&song_id=$!song.songId#viewLyrics")
						#set($bgmHref = "/purchase/cart/bgmadd.popup?song_id_list=$!song.songId")
    					<li>
    						<span class="num_rank num_rank$!{song.rank}"></span>
    						<span class="title">#printSongName( $song "" 20 true false false )</span>
    						<span class="artist">
								#set($cutLen = 10)
								#foreach($keyArtist in $song.keyArtistList)
									<a href="http://music.daum.net/artist/main?artist_id=$keyArtist.artistId" title="#escTitle($keyArtist.name)">#strCut($keyArtist.name, $cutLen)</a>#if($cutLen <= 0)#break#elseif($velocityHasNext), #end
									#set($cutLen = $cutLen - $StringCutUtil.getStringByte($keyArtist.name) - 2)
								#end
							</span>
    						<a class="btn_song lyrics_song#if($StringUtils.equals($!{song.lyricsYn}, 'N')) lyrics_off#end" #if($StringUtils.equals($!{song.lyricsYn}, 'Y'))href="$!lyricHref"#end title="가사 보기">가사 보기</a>
    						<a class="btn_song mybgm_song#if(!$!{song.BGMLinkId} || $StringUtils.isEmpty("$!{song.BGMLinkId}") || $StringUtils.equals("$!{song.BGMLinkId}","0")) bgm_off#end" #if((!$!{song.BGMLinkId} || $StringUtils.isEmpty("$!{song.BGMLinkId}") || $StringUtils.equals("$!{song.BGMLinkId}","0")) == false)href="javascript:;" onclick="daum.Browser.popup('$!bgmHref', 765, 550);"#end title="BGM 구매하기" #if($StringUtils.equals($value2,"N"))style="display:none"#end>BGM</a>
    					</li>
					#end
				</ol>
				<a href="/chart/chartsong/list?genre_cd=TORA&date_key=4" class="link_more">배경음악 인기순위 더보기</a>
			</div>
			<div class="box_rank box_recommend">
				<h4 class="tit_mymusic tit_recommend">추천배경 음악</h4>
				<ul class="list_rank list_recommend">
					#foreach($song in $chartOstFive)
						#set($lyricHref = "/album/main?album_id=$!song.album.albumId&song_id=$!song.songId")
						#set($bgmHref = "/purchase/cart/bgmadd.popup?song_id_list=$!song.songId")
    					<li>
    						<span class="title">#printSongName( $song "" 20 true false false)</span>
    						<span class="artist">
								#set($cutLen = 10)
								#foreach($keyArtist in $song.keyArtistList)
									<a href="http://music.daum.net/artist/main?artist_id=$keyArtist.artistId" title="#escTitle($keyArtist.name)">#strCut($keyArtist.name, $cutLen)</a>#if($cutLen <= 0)#break#elseif($velocityHasNext), #end
									#set($cutLen = $cutLen - $StringCutUtil.getStringByte($keyArtist.name) - 2)
								#end
							</span>
    						<a class="btn_song lyrics_song#if($StringUtils.equals($!{song.lyricsYn}, 'N')) lyrics_off#end" #if($StringUtils.equals($!{song.lyricsYn}, 'Y'))href="$!lyricHref"#end title="가사 보기">가사 보기</a>
    						<a class="btn_song mybgm_song#if(!$!{song.BGMLinkId} || $StringUtils.isEmpty("$!{song.BGMLinkId}") || $StringUtils.equals("$!{song.BGMLinkId}","0")) bgm_off#end" #if((!$!{song.BGMLinkId} || $StringUtils.isEmpty("$!{song.BGMLinkId}") || $StringUtils.equals("$!{song.BGMLinkId}","0")) == false)href="javascript:;" onclick="daum.Browser.popup('$!bgmHref', 765, 550);"#end title="BGM 구매하기" #if($StringUtils.equals($value2,"N"))style="display:none"#end>BGM</a>
    					</li>
					#end
				</ul>
				<a href="/chart/chartsong/list?date_key=4&date=2011022001&genre_cd=OSRA" class="link_more">추천배경 음악 더보기</a>
			</div>
		</div>
	</div>
</div>
#*
<script type="text/javascript">
var controller = new daum.Music.ListPrototype();
controller.initialize({tag:'li'});
</script>
*#
#if( $StringUtils.equals("$!{command.debugmode}","2") )
<div id="FTMessage">
	
</div>
배경음악관리<br/> 
현재보고있는부분: $command.getTarget_service() <br/><br/> 
$bgmStatus

#if( $command.getTarget_service() == "CAFE")
	내까페<br/>
	#if($!{cafeInfoList})
		#foreach($cafeInfo in $cafeInfoList)
			 $cafeInfo.groupId<br/> 
			 $cafeInfo.groupName<br/>
			 $cafeInfo.node<br/>
			 ----------------<br/>
		#end
		현재 화면에 보이는 카페링크 : 
			$cafeLinkUrl<br/> 
			$cafeNode<br/>
			$bgmStatus.useYN<br/>
			$cafeGroupId<br/>
	#else 
		없음
	#end
#end

#if( $command.getTarget_service() == "BLOG" || $command.getTarget_service() == "KIDS")
	내별명: $daumName<br/>	
	블로그URL : $bgmStatus.blogUrl<br/> 
	배경음악사용여부 : $bgmStatus.useYN<br/>
#end
<br/><br/>
<strong>BGM 플레이리스트</strong><br/>
	셔플: $bgmStatus.shuffleYN <br/>	
	곡수: $ownTotalCount <br/>
	곡:
	#foreach($play in $bgmStatus.playlist)
		아이디: ${play.bgmTrackId}<br/> 
		곡아이디: ${play.songId}<br/> 
		타이틀: ${play.title}<br/>
		아티스트 : ${play.artist}<br/>
	--------------------------------------<br/>
	#end<br/>	
<br/>
<br/>

<strong>실시간종합5개</strong> <br/>
#foreach($song in $chartSongFive)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	19금 여부 : $song.adultYn
	아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		피쳐링아티스트 :<br/>
		#foreach($artist in $song.featArtist)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
	<br/>
#end

실시간OST5개
#foreach($song in $chartOstFive)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	19금 여부 : $song.adultYn
	아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		피쳐링아티스트 :<br/>
		#foreach($artist in $song.featArtist)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
	<br/>
#end


<b>왼쪽레프트정보</b><br/>
다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
#if($foreach.index < 4)
	$item.get("SUBJECT") ||  $item.get("URL") <br />
#end
#end <br />	
<br>


CAFE regist parameter : target_service=CAFE&group_id={groupId}&node={node}&use_yn={useYN}&shuffle_yn={shuffleYN}&bgmTrack_id={bgmTrackId} <br>
BLOG parameter : target_service=BLOG&use_yn={useYN}&shuffle_yn={shuffleYN}&bgmTrack_id={bgmTrackId}

#end

