##set($bgmStatus = ${dto.bgmStatus})
<div class="wrap_choice">
#if( $StringUtils.equals("$command.getTarget_service()","CAFE") )		
		<script type="text/javascript">
		var changeCafe = function(obj) {
			if(obj.value != "0") {
				location.href = "?target_service=CAFE&group_id=" + obj.value;
				//daum.$('cafeUrl').style.display = "";
				//daum.$('cafeUrl').href = "http://cafe$!{dto.node}.daum.net/_c21_/home?grpid=$!{dto.groupId}";
			} else {
				//daum.$('cafeUrl').style.display = "none";
			}
		}
		</script>
		<h4 class="tit_mymusic tit_mycafe">내 카페</h4>
		<form name="inputform" onsubmit="return false;">
		<input type="hidden" name="target_service" value="CAFE">
		<input type="hidden" name="group_id" value="$!{cafeGroupId}">
		<input type="hidden" name="node" value="$!{cafeNode}">
			<select class="selectbox" name="my_cafe" onchange="changeCafe(this);">
				<option value="0">카페지기/운영자로 활동하는 카페</option>
				#foreach($cafeInfo in $cafeInfoList)
				<option value="$!{cafeInfo.groupId}" #if("$!{cafeInfo.groupId}" == "$!{cafeGroupId}") selected #end>$!{cafeInfo.groupName}</option>
				#end
			</select>
			<input class="btn_mymusic btn_go" type="button" value="바로가기" title="바로가기" onclick="window.open('$!{cafeLinkUrl}');">
			#printBgmUseRadio( $!{bgmStatus.useYN} )
	
#elseif( $StringUtils.equals("$command.getTarget_service()","BLOG") )
		<h4 class="tit_myblog"><strong class="fc_blue">$!{daumName}</strong>님의 블로그</h4>
		<form name="inputform" onsubmit="return false;">
		<input type="hidden" name="target_service" value="BLOG">
			<input class="btn_mymusic btn_go" type="button" value="바로가기" title="바로가기" onclick="window.open('http://blog.daum.net/$!{bgmStatus.blogUrl}');">
			#printBgmUseRadio( $!{bgmStatus.useYN} )

#elseif( $StringUtils.equals("$command.getTarget_service()","KIDS") )
		<h4 class="tit_myblog"><strong class="fc_blue">$!{daumName}</strong>님의 마이짱</h4>
		<form name="inputform" onsubmit="return false;">
			<input type="hidden" name="target_service" value="KIDS">
			<input class="btn_mymusic btn_go" type="button" value="마이짱 바로가기" title="마이짱 바로가기" onclick="window.open('http://my.kids.daum.net/myzzang/do/user/home', 'daum_kids');">
			#printBgmUseRadio( $!{bgmStatus.useYN} )
#end
</div>