#macro(cart_isParamSongExist $cmd $song)
#if($cmd.song_id_list)#if($cmd.song_id_list.indexOf("$!{song.songId}") >= 0)checked#end#{else}#end
#end
#macro(cart_isParamAlbumExist $_cmd $song)
#if($_cmd.album_id_list)#if($_cmd.album_id_list.indexOf("$!{song.album.albumId}") >= 0)checked#end#{else}#end
#end
 		
#macro(print_CartHeader $cn $title )
<h2 class="tit_popup1 $cn">$title</h2>	
#end

#macro(print_CartSubmitForm)
<form id="frmCart" name="frmCart"></form>#end

#macro(print_TicketItemList $itemList)
	#foreach($item in $itemList)
	<li #if(($foreach.index +1) == $aodTicketList.size()) class="lst"#end>
		#if($item.periodic) 
		<span class="img_pass txt_monthly">매월 자동 결제</span><span class="ico_coupon ico_sale">$item.discountRate%<span class="screen_out">할인</span></span>
		<div class="info_before">
			<span class="num_before"><span class="screen_out">할인 전 가격 :</span>#toCurrency($item.originalPrice1)<span class="img_pass won_before">원</span></span>
		</div>
		<div class="info_payment">
			<span class="num_pay"><span class="screen_out">할인 가격 :</span>#toCurrency($item.price)<span class="img_pass won_pay">원</span></span>
		</div>
		<a href="#none" class="btn_coupon link_buyit">구매하기</a>
		#else
		<span class="img_pass txt_30day">30일 이용권</span>
		<div class="info_payment">
			<span class="num_pay"><span class="screen_out">가격 :</span>#toCurrency($item.price)<span class="img_pass won_pay">원</span></span>
		</div>
		<div class="btn_coupon info_btn">
			<a href="#none" class="link_payment"><span class="img_pass txt_payment">구매</span></a>
			<a href="#none" class="link_payment"><span class="img_pass txt_gift">선물</span></a>
		</div>
		#end
	</li>
	#end
#end

#macro(print_CartActionScript $cartList $how $totalDownloadCount $daumId $cmd $denialList $overLimitCartCount)
<script type="text/javascript">
var cartalbum = [];
#if( $albumCartList.size()>0)
    #set($strSongId = "")
    #set($salePrice = 0)
    #set($price = 0)
    #set($count = 0)
	#set($_albumId = "")
    #foreach($item in $albumCartList)
	    #set($_albumId = $!{item.song.album.albumId})
        #if( $!{item.song.album.albumId} )
            #if( $StringUtils.isNotEmpty("$!{strSongId}"))#set( $strSongId = $strSongId+ "/") #end
            #set( $strSongId = $strSongId + "$!{item.song.songId}")
            #set( $salePrice = $salePrice + $item.salePrice )
            #set( $price = $price + $item.price )
            #set($count = $count +1 )
		#end

		#if($velocityHasNext) 
		#if( $!{item.song.album.albumId} != $albumCartList.get($foreach.count).song.album.albumId )
        	cartalbum["$!{_albumId}"]={type:"album", albumId:"$!{_albumId}", price:"$!price", salePrice:"$!salePrice", songCount:"$count", songIdList:"$!strSongId" };
			#set($strSongId = "")#set($salePrice = 0)#set($price = 0)#set($count = 0)
		#end
		#end
	#end
    cartalbum["$!{_albumId}"]={type:"album", albumId:"$!{_albumId}",price:"$!price", salePrice:"$!salePrice", songCount:"$count", songIdList:"$!strSongId" };
#end
 
#set($preAId = "")
#set( $idx = 0 ) 
var songlist = {
#foreach($item in $albumCartList)
#set( $artist = "")
#set( $tit = "")
    #if( $idx==0 || $preAId != $!{item.song.album.albumId} )
	
#if($!item.song.album.keyArtistList.size()>0)
	#set( $artist = $!item.song.album.keyArtistList.get(0).name.replaceAll("'", "&apos;").replaceAll('"', '&quot;'))
#end
#if( $!{item.song.album.title} )
#set( $tit = $!item.song.album.title.replaceAll("'", "&apos;").replaceAll('"', '&quot;'))
#end
	#if( $idx > 0),#end
    "$!{item.song.album.albumId}" : {"type":"album", "id":"$idx", "songId":"$!{item.song.album.albumId}",  "songTitle":"#escScript( $!{tit} )", "artist":"$!{artist}", "salePrice":cartalbum["$!{item.song.album.albumId}"].salePrice, "price":cartalbum["$!{item.song.album.albumId}"].price, "isHave" :#if("$!{item.ownStatus}" == "Y")"true"#else"false"#end, "isBuy" :#if($!{item.song.MP3LinkId})"true"#else"false"#end, songIdList:cartalbum["$!{item.song.album.albumId}"].songIdList, songCount:cartalbum["$!{item.song.album.albumId}"].songCount }
    #set( $idx = $idx + 1 )
	#end
	#set( $preAId = $!{item.song.album.albumId} )
#end
#if( $albumCartList.size()>0),#end
 
#foreach($item in $songCartList)
#set( $artist = "")##
#set( $tit = "")##
#if($!item.song.keyArtistList.size()>0)##
	#set( $artist = $!item.song.keyArtistList.get(0).name.replaceAll("'", "&apos;").replaceAll('"', '&quot;'))##
#end##
#if( $!{item.song.title} )
#set( $tit = $!{item.song.title.replaceAll("'", "&apos;").replaceAll('"', '&quot;')})##
#end

"$!{item.song.songId}" : {"type":"song", "id":"$idx", "songId" : "$!{item.song.songId}", "songTitle":"#escScript( $!{tit} )", "typeCd" : "$!{item.song.typeCd}", "artist":"$!{artist}", "salePrice":"$!{item.salePrice}", "price":"$!{item.price}", "isHave" :#if("$!{item.ownStatus}" == "Y")"true"#else"false"#end, "isBuy" :#if($!{item.song.MP3LinkId})"true"#else"false"#end, songIdList:"", songCount:"1"}
#if( $velocityHasNext),#end
#set( $idx = $idx + 1 ) 
#end
}
 
#set($payment = "MOBILE")
#if( !$StringUtils.equals("$!{totalTicketCount}","0"))
	#set($payment = "TICKET")
#elseif($daumCashBalance>0)
	#set($payment = "DAUMCASH")
#end
	
var denialList = []; 
#if( $StringUtils.isNotEmpty("$!{denialList}") && $!{denialList.size()} >= 1 )
denialList = [
#foreach( $song in $denialList)
	#set($tit = $song.title.replaceAll("'", "&apos;"))
	#if($foreach.index>0),#end{songId:$song.songId, title:"$!{tit}"}
#end	
]
#end	
##denialList = [{songId:111, title:'가나다라'}]; 

var cart = daum.Music.Cart; 
daum.Music.Cart.init("cartList", {
	form : document.frmCart,
	song_list:songlist, 
	album_in_song_list:cartalbum, 
	how: "$!{how}", 
	cart_action_type : "#if("$cmd.cart_action_type"=="GIFT")$cmd.cart_action_type#{else}PURCHASE#end",  
	ticketTotCount : #if($StringUtils.isBlank("$!{totalDownloadCount}"))0#{else}$!{totalDownloadCount}#end,
	daum_cash :#if($daumCashBalance==-9999)100#{else}$daumCashBalance#end,
	payment : "$!{payment}",
	referer : "$!{cmd.referer}", 
	#if($StringUtils.equals("$!{command.debugmode}", "2"))
	debug_mode : "true",
	#end
	BI_DOMAIN : "#getter('BI_DOMAIN', '')", 
	BI_V2_DOMAIN : "#getter('BI_V2_DOMAIN', '')", 
	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')",
	denialList : denialList,
	overLimitCartCount : "$!{overLimitCartCount}"
	});
	
## 선물하기	
#if("$cmd.cart_action_type"=="GIFT")
domReady( function(){
    daum.Music.Gift.init(cart, songlist, {daumId:"$!{daumId}",  how:"$!{how}"} );
}); 
#end

daum.addEvent(window, 'load', function(){
	daum.Music.Util.resizePop(daum.$("daumWrap")); 
}); 
</script>#end

#macro(printScriptCompleteWindowResize)
<script type="text/javascript">
daum.addEvent(window, 'load', function(){
	daum.Music.Util.resizePop(daum.$("daumWrap")); 
}); 
</script>
#end

#macro(print_CartSongList $how $albumCartList $songCartList $cmd $overLimitCartCount)
<div class="article_cart">
	<div class="choice_song">
		#set($pType = "buy")
		#if( $StringUtils.equals("$!{cmd.cart_action_type}", "GIFT"))
			#set($pType = "gift")
		#end	
		#if( $StringUtils.equals("$!{how}", "mp3") ) 
			#print_CartHeader("mp3_$!{pType}", "MP3 구매하기" )
		#else
			#print_CartHeader("bgm_$!{pType}", "BGM 구매하기" )
		#end	
		#print_CartPutinSongCount()
	</div>
	<div class="wrap_tbltit">
		<input class="btn_check" type="checkbox" value="전체선택" name="all_check" title="전체선택 상단">
	</div>
	<div id="WrapTable" class="wrap_table scroll type_scroll_1">
		<table id="trackContainer" class="tbl_list" summary="구매할 MP3 음원 듣기, 곡명, 시간, 아티스트, 가격 등의 정보를 제공합니다.">
			<caption class="screen_out">MP3 구매 내역 리스트</caption>
			<colgroup>
				<col width="40px">
				<col width="22px">
				<col width="">
				<col width="42px">
				<col width="78px">
				<col width="48px">
				<col width="38px">
			</colgroup>
			<thead class="screen_out">
				<tr>
					<th class="screen_out">선택</th>
					<th class="screen_out">듣기</th>
					<th class="screen_out">곡명</th>
					<th class="screen_out">시간</th>
					<th class="screen_out">아티스트</th> 
					<th class="screen_out">가격</th>
					<th class="screen_out">삭제</th>
				</tr>
			</thead>
			<tbody>
            ## 앨범
			
			#print_CartList($how, "album", $albumCartList, 0, $cmd $overLimitCartCount)
 
			## 곡 리스트 
			#print_CartList($how, "song", $songCartList,0, $cmd $overLimitCartCount)
			</tbody>
			
		</table>
	</div>
	<div class="wrap_alldel">
		<div id="flashContainer"></div>		
		<input class="btn_check" type="checkbox" value="전체선택" name="all_check" title="전체선택 하단">
		<input id="btnAllDelete" class="tit_popup1 btn_alldel" type="button" onclick="" value="선택삭제" title="선택삭제">
	</div>
</div>	
#end	

#macro(print_CartList $how $type $cartList $cnt $cmd $overLimitCartCount)
#set( $listcount = 0)
#set( $preAlbumId = "")
#set( $tmpCartList = $cartList)
#foreach($item in $cartList)
 ##album: $item.song.album.albumId,$!item.song.title, [$item.albumSongCount] </br>song: $item.song/</br>
    #set($strSongId = "")
    #set($salePrice = 0)
    #set($price = 0)
    #set($count = 0)
	#set($ischecked = "")

     #if( $type == "album")
        #foreach($itemSong in $tmpCartList)
        	#if( $item.song.album.albumId == $itemSong.song.album.albumId)
                #set( $strSongId = $strSongId +"/"+ "$!{itemSong.song.songId}")
                #set( $salePrice = $salePrice + $itemSong.salePrice )
                #set( $price = $price + $itemSong.price )
                #set( $count = $count +1 )
			#end
		#end
		
        #set( $astype = "A" )
        #set( $artistList = $item.song.album.keyArtistList)
        #set( $title = $!item.song.album.title )
        #set( $play_time = "-" )
		#if( $artistList.size()>0)
			#set( $artist = $artistList.get(0).name )
		#else
			#set( $artist = "" )
		#end
        #set( $price = $price )
        #set( $sale_price = $salePrice )
        #set( $songid =  $item.song.album.albumId)
        #set( $albumid = $item.song.album.albumId)
    #else
 
        #set( $astype = "S" )
        #set( $artistList = $item.song.keyArtistList)
        #set( $title = $!item.song.title )
		#set( $play_time = "-")
		#if( !$StringUtils.equals("$!{item.song.trackLength}", "0"))
			#set( $play_time = $!item.song.getTrackLengthMinute() )
		#end
		#if( $artistList.size()>0)
			#set( $artist = $artistList.get(0).name )
		#else
			#set( $artist = "" )
		#end
		
        #set( $price = $!item.price )
        #set( $sale_price = $!item.salePrice)
        #set( $songid = $item.song.songId)
        #set( $albumid = "")
    #end
    
	
    #set( $tag = "C")
    #if("$!{item.ownStatus}"=="Y")
    	#set( $tag = "O")
    #elseif($!{price}==0)
    	#set( $tag = "F")
    #end	
    #if($astype == "S" )
		#if( !$StringUtils.equals("$!{overLimitCartCount}", "Y"))
        #set ( $ischecked = "#cart_isParamSongExist($cmd $!{item.song})" )
		#end
		## 앨범이 묶음 판매가 안되는 경우, 곡으로 풀어서 내려옴, 
		## 파라미터에 앨범 아이디가 선택되어 있으면, 앨범 id로 체크 여부 확인 함.
		#if( $ischecked=="")
			#set ( $ischecked = "#cart_isParamAlbumExist($cmd $!{item.song})" )
		#end	
        #set( $idx = $foreach.index + 1 )
		
		#set ( $_listenAble = false )
        #if($StringUtils.isEmpty("$!{item.song.AODLinkId}") || $StringUtils.equals("$!{item.song.AODLinkId}","0") ) #set ( $_listenAble = false ) #else #set ( $_listenAble = true ) #end
 
            #if($how == "mp3")
        	#if($StringUtils.isBlank("$!{item.song.MP3LinkId}")) #set ( $_buyAble = false ) #else #set ( $_buyAble = true ) #end
        #else
        	#if($StringUtils.isBlank("$!{item.song.BGMLinkId}")) #set ( $_buyAble = false ) #else #set ( $_buyAble = true ) #end
        #end	
    #else
		#if( !$StringUtils.equals("$!{overLimitCartCount}", "Y"))
    	#set ( $ischecked = "#cart_isParamAlbumExist($cmd $item.song)" )
		#end
    	#if($strSongId!="") 
    		#set ( $_buyAble = true )
        #else 
    		#set ( $_buyAble = false )
    	#end	
	#end
	
	#if( ($type == "album" && ($preAlbumId != $item.song.album.albumId)) || ($type == "song") )
        <tr class="track #if( $ischecked == "checked" )on#end">
			<td class="tbl_check"><input type="checkbox" albumid="$!{albumid}" songId="$!{songid}" tag="$tag" name="cartList"
				#if( $_buyAble == false)disabled #end
				#if( $_buyAble || $StringUtils.equals("$!{astype}", "A")) #if($ischecked=="checked")checked=true#end#end >
        	</td>
            <td class="tbl_listen">
        		#if("$!{astype}"=="S" )
        			<input type="button" class="ico_popup #if($_listenAble==false)dontplay#{else}play#end" id="play_$!{songid}"   #if($_listenAble==true)onclick='cart.bitPlayer(this,"$!{songid}");return false;' value="재생" title="재생"#else title="재생 불가"#end > 
        		#else 
            		<input type="button" idx="$!{listcount}" class="ico_popup album" title="" value="앨범"  onmouseover="daum.Music.Cart.unableListenTooltip(this);" onmouseout="daum.Music.Layer.clear();">
        		#end				
        	</td>
			#if(!$StringUtils.equals("$!{cmd.cart_action_type}", "GIFT") && $StringUtils.equals("$!{item.ownStatus}","Y"))
				#set ( $_mp3_own = true )
            #else 
        		#set ( $_mp3_own = false )
        	#end
            <td class="tbl_song"><span class="f_l">#strCut($title,20)</span>
            	#if($_mp3_own)
            		<span class="ico_popup ico_possess">보유곡</span>
            	#elseif($_buyAble && "$!{tag}"=="F")
            		<span class="ico_popup ico_free">무료곡</span>
            	#end
            	#if($StringUtils.equals("$!{item.song.adultYn}", "Y"))
            		&nbsp;<span class="ico_adult" title="이 정보내용은 청소년 유해매체물로서 정보통&#13;신망 이용 촉진 및 정보보호 등에 관한 법률 및&#13;청소년보호법의 규정에 의하여 19세 미만의 &#13;청소년이 이용할 수 없습니다.">&nbsp;</span>
            	#end
            	#if($how == "mp3" && !$_mp3_own)
            		#if($!{item.song.isNoTicketUse()}== true)
            			<span class="ico_popup ico_unserviceability">이용권 사용 불가</span>
            		#elseif($!{item.song.isHoldback()}== true)
            			<a href="http://cs.daum.net/faq/list/65,9099.html" target="_blank" class="ico_popup ico_holdback">홀드백</a>
            		#end
            	#end
            	#if($item.song.typeCd == "13")
           			<span class="ico_popup ico_medley">메들리</span>
            	#end
            </td>
            <td class="tbl_time">$!play_time</td>
            <td class="tbl_artist">#strCut($!artist,10)</td>
            <td class="tbl_price">#if($_buyAble && $StringUtils.equals("$!{price}","0"))무료#else#toCurrency($!{price})원#end</td>
            <td class="tbl_del"><input class="btn_popup btn_del" type="button" albumid="$!{albumid}" songid="$!{songid}" name="delete" value="$!{listcount}" title="삭제"></td>
        </tr>
	#end
	#if( $StringUtils.equals("$!{type}", "album"))
		#set( $preAlbumId = $!{item.song.album.albumId})
	#end	
#end##foreach

#end

#macro (print_CartPutinSongCount)
<div class="choice_number">
	<span class="song_number"><span id="song_charge">0</span><span class="tit_popup1 song_charge">유료곡</span></span>
	<span class="ico_popup song_plus">+</span>
	<span class="song_number"><span id="song_free">0</span><span class="tit_popup1 song_free">무료곡</span></span>
	<span class="ico_popup song_sum">=</span> 
	<span class="song_number fc_em"><span id="song_total">0</span><span class="tit_popup1 song_opt">선택곡</span></span>
</div>	
#end	

						
#macro (print_CartPurchase $how $gift $totalTicketCount)
<div class="right_account">
	<div class="section_total">
		<h3 class="screen_out">결제하기</h3>
		<strong class="wrap_tit_total">
			<span class="inner">
				<span class="tit_popup1 total_$how">$how 총</span>
				<span class="txt_num" id="totSongCount">0</span>
				<span class="tit_popup1 choice_music">곡 선택</span>
			</span>
		</strong>
		<span id="purchaseInfomation">
    		## 이용권
    		<div id="TicketUse" class="choice_number#if( $totalTicketCount==0 ) none#end">
    			<span class="song_number"><span id="totalTicketCount">$!{totalTicketCount}</span><span class="tit_popup1 song_remainder">현재남은곡</span></span>
    			<span class="ico_popup song_minus">-</span>
    			<span class="song_number"><span id="useTicketCount">0</span><span class="tit_popup1 song_deduct">차감곡</span></span>
    			<span class="ico_popup song_sum">=</span> 
    			<span class="song_number fc_em remainder"><span id="remainTicketCount">0</span><span class="tit_popup1 song_result">-</span></span>
    		</div>	
    		## 핸드폰결제및 신용카드, Daum캐쉬
    		<dl id="EtcUse" class="total_cash#if( $totalTicketCount!=0  ) none#end">
    			<dt>결제금액</dt>
    			<dd class="tit_popup1 fc_red"><span id="totPrice">0</span><span class="screen_out">원</span></dd>
    		</dl>
		</span>
	</div>
	<div class="section_progress">
	#if( $gift == "GIFT")
		#print_CartGiftSendTo()
	#end
		<div class="wrap_cash">
			<h4 class="tit_popup1 choice_pay">결제선택</h4>
			<ul id="purchaseType" >
				<li>
					<input class="screen_out" type="radio" id="bgmPass" name="methodPay">
					<label for="bgmPass">$StringUtils.upperCase($how) 이용권 사용 (남은곡 <em class="ls_0" id="ticketBalance">$!{totalTicketCount}</em>곡)</label>
				</li>
#*
				<li class="off">
					<input class="screen_out" type="radio" id="directCash" name="methodPay">
					<label for="directCash">바로결제</label>
				</li>

				<li>
					<input class="screen_out" type="radio" id="daumCash" name="methodPay">
					<label for="daumCash">Daum캐쉬 결제 (잔액 <em class="ls_0" id="cashBalance">#if($daumCashBalance!=-9999)#toCurrency($!{daumCashBalance})#else-#end</em>원)</label>
				</li>
				
				<li>
					<input class="screen_out" type="radio" id="mobileCash" name="methodPay">
					<label for="mobileCash">핸드폰 결제</label>
				</li>
				<li class="off">
					<input class="screen_out" type="radio" id="creditCard" name="methodPay">
					<label for="creditCard">신용카드 <span class="fs_11">(<em class="ls_0">1,000</em>원 이하 결제 불가)</span></label>
				</li>
				*#
			</ul>
##			<a href="javascript:;" onclick='daum.Music.Cart.openCash("$!{how}");return false;' class="charge_cash" target="_blank">캐쉬충전</a>
##			<span class="bar">|</span>
##			<a href="#" target="_blank" onclick="daum.Music.Cart.openTicket();return false;" class="purchase_coupon">이용권 구매</a>
		</div>
		<div class="wrap_attention">
			<h4 class="screen_out">유의사항</h4>
			<ul>
##				<li id="info_addprice" class="fc_red">부가세 <span class="ls_0" id="addPrice">0</span>원 포함, 보유곡 제외</li>
				<li>이용권으로만 구매가 가능합니다.</li>
##				#if( $StringUtils.equals("$!{how}", "mp3"))
##				<li><span class="ls_0">MP3</span> 이용권을 구매하시면 1곡당 최대<br><span class="ls_0">90%</span>까지 할인됩니다&nbsp;&nbsp;<a class="lnk_buy" href="#" onclick="daum.Music.Cart.openTicket();return false;">이용권구매</a></li>
##				#else
##				#if( !$StringUtils.equals("$!{gift}", "GIFT"))
##				<li><span class="ls_0">BGM</span> 이용권을 구매하시면, 매번 결제할<br>필요 없이 편하게 구매할 수 있습니다.&nbsp;&nbsp;<br></li>
##				#end
##                <li>2011.12.20 이후 구매하신 배경음악은 블로그 개별 게시글 작성시에 넣을 수 없습니다.</li>##<a class="lnk_buy" href="/purchase/ticketitem/list" target="_blank">이용권구매</a>
##				#end
			</ul>
		</div>
		<div id="purchaseButton" class="wrap_btn mg_top14">
			<input id="btnSubmit" class="btn_submit btn_popup" type="button" value="결제">
			<input id="btnCancel"  class="btn_cancel btn_popup" type="button" value="취소">
		</div>
	</div>
</div>	
#end	

#macro(print_CartGiftSendTo )
<div class="wrap_send">
	<div class="tit_send">
		<h4 class="tit_popup1 to_person f_l">받는사람</h4>
		<span class="info_send fs_11 f_r">최대 <em id="maxReceiver">10</em>명, Daum회원만 가능</span>
	</div>
	<div class="entry_email" id="sendMailArea">
		
		<div id="friendsType" class="select_basic f_l">전에선물한사람</div>
			
		<ul id="ListType" class="list_basic list_friend none" >
			#*
			<li value="0">
				<a href="#">요즘친구</a>
			</li>
			*#
			<li value="1">
				<a href="#">전에선물한사람</a>
			</li>
			<li value="2">
				<a href="#">자주연락한지인</a>
			</li>
			<li value="3">
				<a href="#">메일주소록</a>
			</li>
			<li value="4">
				<a href="#">아이디직접입력</a>
			</li>
		</ul>
		<div id="friendsList" class="select_basic email_id f_l"><span class="text" id="txtSelectedFriend" >선택</span></div>
		<input id="txtDirectInput" class="select_basic email_id direct_email f_l none" /> 
		<a id="btnAddEmail" class="btn_plus btn_popup f_l"  value="추가">추가</a>
		<ul id="ListEmail" class="list_basic none">
			#*
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			<li>
				<a href="#">"하하하"semdaum@daumcorp.com</a>
			</li>
			*#
		</ul>
	</div>
	<h5 class="screen_out">받는사람 리스트</h5>
	<ul id="SendFriends" class="list_send list_send_bgm">
		 #* 
		<li class="hover">
			<a href="#">"허허"<span>&lt;haha@hanmail.net&gt;,</span></a><input class="btn_del ico_popup" type="button" value="삭제">
		</li>
		<li class="hover"><a href="#">"윤비" <span>&lt;yoonbinu@hanmail.net&gt;,</span></a><input type="button" class="btn_del ico_popup" value="삭제"></li>
		 *#
	</ul>
	<div id="SendMessageBtn" class="send_message">
		<input class="box_message f_l" type="text" value="보낼메시지를 작성해주세요." onfocus="this.blur()">
		<a class="btn_message btn_write btn_popup f_l" id="btnMessage">작성</a>
		<input type="hidden" id="txtMessageResult" value="">
		<span id="txtCharCnt" class="hide"></span>
	</div>
</div>
#end
 			
#macro(printCartPurchaseInfo $type $count $price $cmd)
<h2 class="screen_out">$!{type} 구매 완료</h2>
<strong class="info"><em>$!{type} 총 $!{count}곡</em> 구매 완료되었습니다.</strong>
<p class="money">
	#if( $StringUtils.equals("$!{cmd.payment_type}", "TICKET"))
	#else
	<span class="screen_out">결제금액 : </span>
	<span class="txt_price">#toCurrency($!{price})<span class="screen_out">원</span></span>
	#end
</p>	
#end	

#macro(printCartPurchaseInfoGift $type $count $price $receiverList $cmd)
<h2 class="screen_out">음악 선물하기 완료</h2>
#set($giftTotalCount = $receiverList.size()*$count)
#if( $receiverList.size() > 2)
<strong class="info"><em>#foreach($receiver in $receiverList )
#if( $foreach.index <= 1)#if($foreach.index>0),#end$!{receiver}#end#end</em>님 외 $MathTool.sub($receiverList.size(),2)명 <em>$!{type} 총 $!{giftTotalCount}곡</em> 선물 완료되었습니다.</strong>
#else
<strong class="info"><em>#foreach($receiver in $receiverList )#if($foreach.index>0),#end$!{receiver}#end</em> 님께 <em>$!{type} 총 $!{giftTotalCount}곡</em> 선물 완료되었습니다.</strong>
#end
<p class="money">
	#if( $StringUtils.equals("$!{cmd.payment_type}", "TICKET"))
	#else
	<span class="screen_out">결제금액 : </span>
	<span class="txt_price">#toCurrency($MathTool.mul($receiverList.size(),$!{price}))<span class="screen_out">원</span></span>
	#end
</p>
#end					
	
#macro(printCartCompleteRecentAlbumList $albumList)
<div class="wrap_cont album_cont">
	<div class="tit_cont"><h2 class="tit_popup1 tit_album">최신앨범</h2></div>
	<ul class="list_album">
#foreach($album in $albumList)		
	#if($foreach.index<=4)
	<li#if($foreach.index==4) class="lst"#end>
		#printAlbumThumb( $album 3 "" "" )
		<dl class="song_info">
			<dt class="screen_out">앨범명</dt>
			<dd class="tit">#printAlbumName( $album "" 14 1 true )</dd>
			<dt class="screen_out">아티스트 명</dt>
			<dd class="artist">#printArtistName( $album.keyArtistList "" 12 false )</dd>
		</dl>
	</li>
	#end
						#*	
		<li class="lst">
			<a class="thumb_link" href="#">
				<img width="100" height="100" alt="이미지정보" src="http://cfile90.uf.daum.net/S110x110/1443F110B07F73E7CD1295">
				<span class="cd_album"></span>
			</a>
			<dl class="song_info">
				<dt class="screen_out">앨범명</dt>
				<dd class="tit"><a href="#">Gobbledigook</a></dd>
				<dt class="screen_out">아티스트 명</dt>
				<dd class="artist"><a href="#">Sigur Ros </a></dd>
			</dl>
		</li>*#
#end		
	</ul>
	<a class="btn_popup link_more" target="_blank" href="/genre/genrealbum/list" title="더보기">더보기</a>
</div>
#end	

#macro(printEventNameList $eventList)#foreach($event in $eventList)#if($foreach.index>0), #end$!{event.eventTitle}#end#end

#macro(printCartCompleteEvent $eventList)
<div class="box_event wrap_cont#if($!{eventList.size()}>1) scroll type_scroll_2#end">	
    <div class="event">
		
		<h2 class="bg tit_event">지금 이 상품을 구매한 분들에게만 드리는 이벤트 찬스!</h2>
		<div class="tab_menu">
			#* 테스트용
			#foreach($i in [1..3])
     		<a href="javascript:;" class="link#if($foreach.first) on#elseif($foreach.last) lst#end"><span class="menu menu0$i">$i</span></a>
			#end
			*#
			#foreach($event in $eventList)
				<a href="javascript:;" class="link#if($foreach.first) on#elseif($foreach.last) lst#end"><span class="menu menu0$!{foreach.count}">$!{foreach.count}</span></a>	
			#end
		</div>
		
		<ul class="list_event_info">
			#* 테스트용
			#foreach($i in [1..3])
			<li class="list_event#if($foreach.first) on#end">
				<div class="event_info">
		     		<img src="http://i1.cartoon.daumcdn.net/svc/image/U03/cartoon/4F74FC100624F10001" class="thumb" width="240" height="84" alt="" />
		     		<h3 class="tit_geeks"><span class="tit">긱스 [그냥 가요]발매 이벤트$i$i$i$i$i$i</span><span class="tit_ico">마감임박</span></h3>
		     		<dl class="list_info">
		     			<dt>기간</dt>
		     			<dd>2012년 03월 15일 (목) ~ 2012년 03월 29일 (목)</dd>
		     			<dt>발표</dt>
		     			<dd>2012년 04월 04일 (수)</dd>
		     			<dt>경품</dt>
		     			<dd>싸인CD 10명</dd>
		     		</dl>
		     	</div>
		     	<div class="box_check">
				    <input type="checkbox" id="eventCheck" class="music_inp" onclick="daum.Music.eventSubmit(this, '$!{event.eventId}', '$!{event.eventKey}');"/>
			   		<label class="music_lab" for="eventCheck">이 이벤트에 응모하겠습니다</label>
			   		<p class="txt">(고객님이 구매하신 상품의 이벤트에 모두 체크하세요!)</p>
		   		</div>
	   		</li>
			#end
			*#
			
			#foreach($event in $eventList)
				<li class="list_event#if($foreach.first) on#end">
				<div class="event_info">
					#set($diffDate = $Number.toNumber($CheckDate.diffOfDate($!{event.endDate})))
		     		<img src="$!{event.bannerUrl}" class="thumb" width="240" height="84" alt="구매자 대상이벤트" />
		     		<h3 class="tit_geeks"><span class="tit">#strCut($!{event.eventTitle}, 28)</span>#if(-3 < $diffDate && $diffDate <= 0 )<span class="tit_ico">마감임박</span>#end</h3>
		     		<dl class="list_info">
		     			<dt>기간</dt>
		     			<dd>$CheckDate.makeReleaseDate($!{event.startDate})($CheckDate.getDayNameByDate($!{event.startDate.substring(0,8)}))~ $CheckDate.makeReleaseDate($!{event.endDate})($CheckDate.getDayNameByDate($!{event.endDate.substring(0,8)}))</dd>
		     			<dt>발표</dt>
		     			<dd>$CheckDate.makeReleaseDate($!{event.winningDate})($CheckDate.getDayNameByDate($!{event.winningDate.substring(0,8)}))</dd>
		     			<dt>경품</dt>
		     			<dd>
							#set( $printName = "")
    						#foreach($present in $event.presentList)
                   				#set( $printName = $printName + "$!{present.title}" + " $!{present.quantity}"+"명")
    							#if($!{velocityHasNext})#set( $printName = $printName+ ", " )#end 
    						#end
    						#strCut($printName,35)
						</dd>
		     		</dl>
		     	</div>
		     	<div class="box_check">
				    <input type="checkbox" id="eventCheck" class="music_inp" onclick="daum.Music.eventSubmit(this, '$!{event.eventId}', '$!{event.eventKey}');return false;"/>
			   		<label class="music_lab" for="eventCheck">이 이벤트에 응모하겠습니다</label>
			   		<p class="txt">(고객님이 구매하신 상품의 이벤트에 모두 체크하세요!)</p>
		   		</div>
				##<input class="btn_popup btn_entry" type="button" onclick="sendApplication('$!{event.eventId}', '$!{event.eventKey}','','','','');" value="응모하기">
					
	   		</li>
			#end
	   	</ul>
		
		<script type="text/javascript">
		daum.Music.eventSubmit = function(el, id, key) {
			if(el.checked === true) {
    			sendApplication(id, key, '', '', '', '');
			}
		};
		
		daum.Music.setTab(
    		daum.$$(".popup_body .box_event .tab_menu .link"), 
    		daum.$$(".box_event .list_event_info .list_event"), 
    		daum.$$(".popup_body .box_event .tab_menu .link")
    	);
		</script>

		
		#* 기존에 있던거
    	<div class="tit_cont">
    		<h2 class="tit_popup1 tit_event">이벤트</h2>
    		<span class="txt_bar">|</span><span class="total_num">총<strong class="fc_blue">$!{eventList.size()}</strong>건 (#printEventNameList($eventList))</span>
    	</div>
    	<p class="desc">모든 이벤트는 <strong class="fc_blue">이 구매 완료창에서만 1번씩 응모</strong>하실 수 있습니다</p>
		##foreach($event in $eventList)
    	<div class="box_event #if($eventList.size() == $foreach.count)last#end" >
			<div class="thumb_box">
				<a style="display:block;background:url($!{event.bannerUrl}) no-repeat 0px 0;width:242px;height:86px;" href="$!{event.linkUrl}" title="구매자 대상이벤트" target="_blank">
				</a>
			</div>			
    		<div class="thumb_cont">
    			<h3 class="tit" title="$!{event.eventTitle}">#strCut($!{event.eventTitle}, 28)</h3>
    			<dl class="info">
    				<dt class="fc_blue">기간</dt>
    				<dd>$CheckDate.makeReleaseDate($!{event.startDate})($CheckDate.getDayNameByDate($!{event.startDate.substring(0,8)}))~ $CheckDate.makeReleaseDate($!{event.endDate})($CheckDate.getDayNameByDate($!{event.endDate.substring(0,8)}))</dd>
    				<dt class="fc_blue">발표</dt>
    				<dd>$CheckDate.makeReleaseDate($!{event.winningDate})($CheckDate.getDayNameByDate($!{event.winningDate.substring(0,8)})) </dd>
    				<dt class="fc_blue">경품</dt>
    				<dd>
						#set( $printName = "")
						#foreach($present in $event.presentList)
               				#set( $printName = $printName + "$!{present.title}" + " $!{present.quantity}"+"명")
							#if($!{velocityHasNext})#set( $printName = $printName+ ", " )#end 
						#end
						#strCut($printName,35)
					</dd>
    			</dl>
    		</div>
    		<input class="btn_popup btn_entry" type="button" onclick="sendApplication('$!{event.eventId}', '$!{event.eventKey}','','','', '');" value="응모하기">
    	</div>
		##end
		*#
    </div>
</div>
<script type="text/javascript" src="http://event.daum.net/javascripts/daumEvent.js"></script>
#end					

 #macro(print_TicketMenu $idx)
<ul class="tab_ticket">
	<li #if( $idx==0)class="on"#end><a class="mp3_ticket" href="#" onclick="" onfocus="this.blur()" title="MP3 이용권">MP3 이용권</a></li>
	<li #if( $idx==1)class="on"#end><a class="bgm_ticket"href="#" onclick="" onfocus="this.blur()"  title="BGM 이용권">BGM 이용권</a></li>
	<li #if( $idx==2)class="on"#end><a class="listen_ticket" href="#" onclick="" onfocus="this.blur()"  title="음악감상 이용권">음악감상 이용권</a></li>
	<li #if( $idx==3)class="on"#end><a class="data_ticket" href="#" onclick="" onfocus="this.blur()"  title="데이터 요금 절약 이용권">데이터 요금 절약 이용권</a></li>
</ul>	
#end
 

#* 이용권 종류 (이용권 상태에 따라 다름)*#
#macro(print_TicketTitle $ticket)
#set($ticketTitle = $!{ticket.order.item.title})
#if($ticket.order.isFreePay())#if($ticket.order.item.periodic)#set($ticketTitle = "[무료체험] $ticketTitle")#else#set($ticketTitle = "[무료체험] $ticketTitle")#end
#elseif($ticket.order.isCouponRegularPay()) #set($ticketTitle = "[자동결제] $ticketTitle")#end
#if($!{ticket.ticketUseStatus} == "USE")<span class="b">$!{ticketTitle}</span>
#else $!{ticketTitle} #end
#end

## 0-9 숫자 제거 
#macro(print_OnlyChar $str)$str.replaceAll('\d', '')#end
	
#macro(print_TicketPurchase $ticket_id $inUseTicketList $notInUseTicketList)
#set($tot = $inUseTicketList.size() + $notInUseTicketList.size() )
#set($ticketName = "#print_OnlyChar($ticket_id)")
<div class="right_account">
	<div class="section_total">
		<h3 class="screen_out">결제하기</h3>
		<div class="wrap_tit_ticket">
			<strong id="topPurchaseTitle" class="tit_popup2 tit_MCG_auto">MP3 자동결제 이용권</strong>
			<span id="topTicketTitle" class="tit_popup2 MCG0001">월 150곡 MP3 다운로드</span>
		</div>
		<dl class="total_cash">
			<dt>결제금액</dt>
			<dd class="tit_popup1 fc_red"><span id="purchasePrice">0</span><span class="screen_out">원</span>
			##<span class="txt_speprice hide">특별할인가가 적용되었습니다.</span></dd>
		</dl>
	</div>
	<div class="section_progress">
	#if( $!{tot} > 0 )
		<div class="wrap_reserve">
			<div class="tit_reserve">
				<h4 class="tit_popup1 ticket_reserve">이용권 보유 현황</h4>
				<em>$!{tot}개</em>
			</div>
			
			<div id="inuseTicketList" style="width:$MathTool.mul($tot,204)px">
			#if(!$CollectionUtils.isEmpty($inUseTicketList))	
    			#foreach($item in $inUseTicketList)
				
    			<dl class="roll">
    				<dt>권종</dt>
    				<dd title="$!{item.order.item.title}">#strCut($!StringCutUtil.removeTag("#print_TicketTitle($item)"), 26)</dd>
    				#if($StringUtils.isNotBlank("$!{item.endDate}"))
    				<dt>기한</dt>
    				<dd><em class="fc_red">$CheckDate.makeReleaseDate($item.endDate)</em> 까지</dd>
    				#end
    				<dt>상태</dt>
    				<dd class="where"><a href="/my/own_ticket/ticket/list" target="_blank">사용중</a></dd>
    			</dl>
    			#end
			#end
			
			#if( !$CollectionUtils.isEmpty($notInUseTicketList))
    			#foreach($item in $notInUseTicketList)
    			<dl class="roll">
    				<dt>권종</dt>
    				<dd title="$!{item.order.item.title}">#strCut($!StringCutUtil.removeTag("#print_TicketTitle($item)"), 26)</dd>
    				#if($StringUtils.isNotBlank("$!{item.endDate}"))	
    				<dt>기한</dt>
    				<dd><em class="fc_red">$CheckDate.makeReleaseDate($item.endDate)</em> 까지</dd>
    				#end
    				<dt>상태</dt>
    				<dd class="where"><a href="/my/own_ticket/ticket/list" target="_blank">미사용</a></dd>
    			</dl>
    			#end	
			#end
			</div>
			#if( $tot > 1)
			<span class="cont_navi">
				<a id="msPrevBtn" class="btn_popup btn_prev" href="#" title="이전" onfocus="this.blur()">이전</a>
				<a id="msNextBtn" class="btn_popup btn_next" href="#" title="다음" onfocus="this.blur()">다음</a>
			</span>
			#end
		</div>
		#end
		<div class="wrap_cash">
			<h4 class="tit_popup1 choice_pay">결제선택</h4>
			<ul id="purchasType">
				<li #if($daumCashBalance!=-9999)class="on"#end>
					<input class="screen_out" type="radio" id="daumCash" name="methodPay">
					<label for="daumCash">Daum캐쉬 결제(잔액 <em class="ls_0" id="cashBalance">#if($daumCashBalance!=-9999)#toCurrency($!{daumCashBalance})#else-#end</em>원)</label>
				</li>
				<li #if($daumCashBalance==-9999)class="on"#end>
					<input class="screen_out" type="radio" id="mobileCash" name="methodPay">
					<label for="mobileCash">핸드폰 결제</label>
				</li>
				<li>
					<input class="screen_out" type="radio" id="creditCard" name="methodPay">
					<label for="creditCard">신용카드 <span class="fs_11">(<em class="ls_0">1,000</em>원 이하 결제 불가)</span></label>
				</li>
			</ul>
			<a href="javascript:;" onclick='daum.Music.Ticket.openCash("$!{how}");return false;' class="purchase_coupon" target="_blank">캐쉬충전</a>
		</div>
		<div class="wrap_attention">
			<h4 class="screen_out">유의사항</h4>
			<ul>
				<li class="fc_8">매월 휴대폰, 신용카드로 자동 결제됩니다</li>
				<li class="fc_8">부가세 <span class="ls_0">10%</span>가 별도로 청구됩니다</li>
			</ul>
		</div>
		<div class="wrap_btn mg_top14">
			<input id="btnSubmit" class="btn_submit btn_popup" type="submit" value="결제">
			<input id="btnCancel" class="btn_cancel btn_popup" type="button" value="취소">
		</div>
	</div>

	#* 특별할인 이용권 레이어
	<div id="specialSalesLayer" class="layer_interest layer_coupon hide" style="top:194px;left:531px;width:224px;">
		<div class="bg_layer info_head">
			<span class="bg_layer bg_tmid" style="width:196px;"></span>
			<span class="bg_layer bg_tright"></span>
		</div>
		<div class="info_body">	
			<strong class="ico_popup ico_coupon">특별할인 이용권</strong>
			<div class="img_coupon">
				소셜쇼핑 구독 신청만 하면 추천이용권 8개 평생 최대 40% 할인!
				간단한 설정으로 이메일로 쇼핑 정보도 받고 이용권 할인 혜택도 누리세요.
			</div>
			<div class="wrap_btn">
				<a href="#" class="btn_popup btn_take" onclick="daum.Music.Purchase.goSocialShopping();return false;">특별할인받기</a>
				<button type="button" class="btn_popup btn_close" onclick="daum.Element.toggle(daum.$('specialSalesLayer'));">닫기</button>
			</div>
		</div>
		<div class="bg_layer info_foot" style="width:210px;">
			<span class="bg_layer bg_bmid" style="width:196px;">
				<span class="wrap_todayclose">
					<input type="checkbox" id="idClose" class="inp_check"><label for="idClose" >오늘 하루 이 창을 열지 않기</label>
					<a href="#" class="ico_popup lab_today"  onclick="daum.Music.Ticket.specialClose();return false;">닫기</a>
				</span>
			</span>
			<span class="bg_layer bg_bright"></span>
		</div>
	</div>
	*#
</div>
#end	

#macro(printPhoneTopInfo $dto)
<div class="titCon"><h3>내가 선택한 곡</h3></div>
<div class="infoSong clearfix">
	<div id="thumbPlayer" class="fl ps_r">
		<img src="$ImageUtil.getImageUrl("$!{dto.songInfo.album.mainImage.filePath}", "74x74", "ALBUM")"  width="67" height="67">
		<div class="preTit">미리듣기</div>
		<div class="playStopArea">
		<a href="javascript:;" onclick="_phone.play();" title="Play" class="white"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_play_1.png" id="playerBtnPlay" class="png24" alt="Play"></a>
		<a href="javascript:;" onclick="_phone.stop();" title="Stop" class="white"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_stop_1.png" id="playerBtnStop" class="png24" style="display:none;" alt="Stop"></a>
		</div>
	</div>
	<dl class="fl infoLst">
		<dt class="title">곡명</dt>
		<dd class="title" title="#escTitle($!{dto.songInfo.title})">#strCut("$!{dto.songInfo.title}", 30)</dd>
		<dt>앨범제목</dt>
		<dd>#printAlbumName( $!{dto.songInfo.album} "" 20 4 false )</dd>
		<dt>아티스트</dt>
		<dd>#printArtistName( $dto.songInfo.keyArtistList ""  20 false )</dd>
	</dl>
</div>
#end	

#macro(printPhoneCorporation)
<dl class="setLst clearfix" id="setCorp">
	<dt class="setTit titCorp">통신사</dt>
	<dd><input type="radio" name="corp" id="corpSKT" checked="true" value="SK" disabled="true"><label for="corpSKT">SKT</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
	<dd><input type="radio" name="corp" id="corpKT" value="KT" disabled="true"><label for="corpKT">KT</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dd>
	<dd><input type="radio" name="corp" id="corpLGT" value="LG" disabled="true"><label for="corpLGT">LG U+</label></dd>
</dl>
<script type="text/javascript">daum.Music.OnOffClass(daum.$('setCorp'), {tagName:'input', onDefault:false, fnCallback:setCorp});</script>
#end	

#macro(printCartFooter $eventList $recommendAlbumList)
    #if($!{eventList} && $!{eventList.size()} > 0)
    ##if(true)
    	#printCartCompleteEvent($!{eventList})
    #else
    	#if( $recommendAlbumList && $recommendAlbumList.size()>0)
			#printCartCompleteRecentAlbumList($recommendAlbumList)
    	#end
    #end	
#end	

#macro(printPurchaseMenu $idx)
<ul class="list_meun">
	<li #if($StringUtils.equals("$!{idx}","1")) class="on"#end ><a href="/purchase/ticketitem/halfsale" class="link_menu"><span class="menu_coupon txt_menu1">3개월 반값 할인</span></a></li>
	<li #if($StringUtils.equals("$!{idx}","2")) class="on"#end ><a href="/purchase/ticketitem/list" class="link_menu"><span class="menu_coupon txt_menu2">전체 이용권</span></a></li>
	<li #if($StringUtils.equals("$!{idx}","3")) class="on"#end><a href="/purchase/coupon/form" class="link_menu"><span class="menu_coupon txt_menu3">쿠폰등록</span></a></li>
	<li class="lst"><a href="/my/own_ticket/ticket/list" class="link_menu"><span class="menu_coupon txt_menu4">내 이용권</span></a></li>
</ul>
#end	

#macro(printTicketInfoIcon $type1 $type2 $type3 $type4)
<span class="tooltip_ico1" title="PC에서 듣기#if($StringUtils.equals("$!{type1}", "0")) 불가능#end"></span>
<span class="tooltip_ico2" title="PC에서 MP3 다운#if($StringUtils.equals("$!{type2}", "0")) 불가능#end"></span>
<span class="tooltip_ico3" title="스마트폰에서 듣기#if($StringUtils.equals("$!{type3}", "0")) 불가능#end"></span>
<span class="tooltip_ico4" title="스마트폰 임시저장#if($StringUtils.equals("$!{type4}", "0")) 불가능#end"></span>
#end		

#macro(printBtnPopList $type $hasEvent)
##<a class="btn_popup btn_enter" href="#" type="button" onclick='daum.Music.PurchasePopup.goAndClose(window, "http://music.daum.net/my/depository/$!{type.toLowerCase()}/list");return false;'>확인</a>
#if($StringUtils.equals("$!{hasEvent}", "true")) 
<a class="btn_popup btn_close" href="#" type="button" onclick="daum.Music.closePopup(this);">닫기</a>
<script type="text/javascript">
daum.Music.closePopup = function(el) {
	daum.Music.Layer.view({
		el:el,  
		type:'application', 
		classname:'layer_info layer_interest', 
		text:'고객님께서 구매하신 상품이<br/>현재 이벤트 중입니다.<br/>응모하지 않고, 창을 닫으시겠습니까?<br/>(응모하신 분은 닫기 버튼을 눌러주세요)', 
		arrow:null, 
		top:-300, 
		left:100, 
		action:'click', 
		confirm_event:function(){window.close();}
	});
	daum.Music.closePopup = function(){window.close();};
};	
</script>
#else
<a class="btn_popup btn_close" href="#" type="button" onclick="window.close();">닫기</a>	
#end
#end	
#macro(printBtnDownload $songIdList)
<a class="btn_popup btn_download" type="button" href="#" onmouseover='daum.Music.Downloader.add(this, "$!{songIdList}");return false;'>다운로드</a>	
#end

#macro(printCouponHelp $type)
<a href="#" class="ico_coupon_tbl" onclick="daum.Music.Purchase.goSocialShopping();return false;">도움말</a>
#end	



#macro( checkTicketId $tid $isShopping)
	#set( $curTicketId = $tid )
	#set( $id_len = $StringCutUtil.getStringByte($tid) )
    #set( $idx = $MathTool.sub($id_len,3) )
    #set( $str1 = $StringUtils.left($tid,  $idx) )
    #set( $str2 = $StringUtils.mid($tid,  $idx,1 ) )
    #set( $str3 = $StringUtils.right($tid,2) )
	#if( $StringUtils.equals("$!{str2}","1"))
        #if( $StringUtils.equals("$!{isShopping}", "true") )
        	#set( $str2 = "1")
        #else
        	#set( $str2 = "0")
		#end
		#set( $curTicketId = $str1+ $str2 + $str3 )	
	#end
	$curTicketId
#end
	
#macro( checkTicketIdSaleYn $tid)
	#set( $result = "true")
	#set( $curTicketId = $tid )
	#set( $id_len = $StringCutUtil.getStringByte($tid) )
    #set( $idx = $MathTool.sub($id_len,3) )
    #set( $str1 = $StringUtils.left($tid,  $idx) )
    #set( $str2 = $StringUtils.mid($tid,  $idx,1 ) )
    #set( $str3 = $StringUtils.right($tid,2) )
	#if( $StringUtils.equals("$!{str2}","1"))
		#set( $result = "true")
    #else
		#set( $result = "false")
	#end
	$result
#end
		