#set($totalCount = $!{dto.songResult.totalResultsCount})
#set($songList = $!{dto.songResult.documentList})
<div class="wrap_result">
    <div class="txt_search">
    	<strong class="fc_blue">$!{command.query}</strong> 검색결과
    	<span class="txt_bar"> | </span>
    	<span class="txt_result">총 <em>$totalCount</em> 건</span>
    </div>
    <em class="ico_bar ico_guide">곡 추가 버튼을 눌러주세요</em>	
    <div class="music_chart">
    	<div class="wrap_tool_btn">
    		<div class="tool_btn">
    ##			<input class="btn_mymusic btn_addall" title="전체추가" value="전체추가" type="button">
    ##			<input class="btn_bar btn_add" title="선택추가" value="선택추가" type="button" onclick="parent.daum.Music.MusicBar.addItems(event); return false;">
    		</div>
    	</div>
    	<div class="bg_thead">	
    		<input id="allCheckSrch" class="all_chk" type="checkbox" style="visibility:hidden;">
    		<label for="allCheckSrch" class="screen_out">전체선택</label>			
    	</div>
    	<ul id="trackContainer" class="list_music">
    		#foreach($song in $songList)
    		<li id="track$!{song.song_id}" class="track">
   ## 			<div class="col_check">
   ## 				<input name="trackCheckbox" class="all_chk check_list" type="checkbox" value="$!{song.song_id}" style="visibility:hidden;">
   ## 			</div>
    			<div class="col_listen">
    				<button class="btn_bar play" id="play_$!{song.song_id}" onclick="daum.Music.BitPlayer.playStop(this,'$!{song.song_id}');">재생</button>
    			</div>
    			<div class="col_song">
    				<strong class="screen_out">곡명</strong>
					#printSearchSongName( $!{song} "" 25 false true)
    		##		#strCut($!{song.song_name},25)
    			</div>
    			<div class="col_artist">
    				<strong class="screen_out">아티스트</strong>
					#printSearchArtistName( $!{song.keyArtistList} "" 14 false )
    			##	#strCut($!{song.artist_name},17)
    			</div>
    			<div class="col_add">
    				<a id="add$!{song.song_id}" class="btn_bar btn_addsong" title="추가" href="javascript:;" onclick="parent.daum.Music.MusicBar.add('$!{song.song_id}'); return false;">추가</a>
    			</div>
    		</li>
    		#end
    	</ul>
		<div id="flashContainer"></div>
    	#printPaging($pagingUrl, $dto.ph.pageNo, $dto.ph, "", 5)
    </div>					
    <a class="btn_comm ico_close" href="#" onclick="daum.Music.BitPlayer.stop();parent.daum.Music.Playlist.searchClose();return false;">닫기</a>
</div>
<script type="text/javascript">
domReady( function(){
var _height = document.body.scrollHeight;
daumMusic.JsPlayer.embedSWF( "flashContainer", null, daum.Music.BitPlayer.stop );
parent.daum.Music.Playlist.searchResize( _height );
}); 
</script>

#*
#set($totalCount = $!{dto.songResult.totalResultsCount})
#set($songList = $!{dto.songResult.documentList})
<div class="wrap_result">
    <div class="txt_search">
    	<strong class="fc_blue">$!{command.query}</strong> 검색결과
    	<span class="txt_bar"> | </span>
    	<span class="txt_result">총 <em>$totalCount</em> 건</span>
    </div>
    <em class="ico_mymusic ico_guide">곡 추가 버튼을 눌러주세요</em>	
    <div class="music_chart">
    	<div class="wrap_tool_btn">
    		<div class="tool_btn">
    ##			<input class="btn_mymusic btn_addall" title="전체추가" value="전체추가" type="button">
    			<input class="btn_mymusic btn_add" title="선택추가" value="선택추가" type="button" onclick="parent.daum.Music.Playlist.add(daum.Music.List.getSelected(daum.Element.getParent(this))||[].join('/'));">
    		</div>
    	</div>
    	<div class="bg_thead">	
    		<input id="allCheckSrch" class="all_chk" type="checkbox">
    		<label for="allCheckSrch" class="screen_out">전체선택</label>			
    	</div>
    	<ul id="trackContainer" class="list_music">
    		#foreach($song in $songList)
    		<li id="track$!{song.song_id}" class="track">
    			<div class="col_check">
    				<input name="trackCheckbox" id="allCheck" class="all_chk" type="checkbox" value="$!{song.song_id}">
    			</div>
    			<div class="col_listen">
    				<button class="btn_mymusic btn_play" id="play_$!{song.song_id}" onclick="daum.Music.BitPlayer.playStop('$!{song.song_id}');">재생</button>
    			</div>
    			<div class="col_song">
    				<strong class="screen_out">곡명</strong>
    				#strCut($!{song.song_name},27)
    			</div>
    			<div class="col_artist">
    				<strong class="screen_out">아티스트</strong>
    				#strCut($!{song.artist_name},20)&nbsp;
    			</div>
    			<div class="col_add">
    				<a class="btn_mymusic btn_addsong" title="추가" href="#" onclick="parent.daum.Music.Playlist.add('$!{song.song_id}');return false;">추가</a>
    			</div>				
    		</li>
    		#end
    	</ul>
    	#printPaging($pagingUrl, $dto.ph.pageNo, $dto.ph)
    </div>					
    <a class="btn_comm ico_close" href="#" onclick="parent.daum.Music.Playlist.searchClose();return false;">닫기</a>
</div>
*#


#*

<div class="con">

#set($totalCount = $!{dto.songResult.totalResultsCount})
#set($songList = $!{dto.songResult.documentList})
    <div class="conSch">
		<form action="http://music.daum.net/search/songPopup.do" method="get" onsubmit="return checkForm(this);" >
			<fieldset>
			<label class="em" for="pzArtiName" class="lArtiName">곡명</label> 
			<input type="text" class="input" id="songName" name="query"  value="$!{command.query}">
			<input type="image" src="http://i1.daumcdn.net/img-contents/music/2008_home/common/btn_search2.gif">
			<input type="hidden" name="sortType" id="sortType" value="$!{command.sortType}">
			<input type="hidden" name="type" value="$!{command.type}">
			</fieldset>    
	</form>
    
    <script type="text/javascript">UI.$("songName").focus();</script>
	</div>
  <!-- 검색결과 -->
	<div class="conRslt">
		<div class="conHead">
#if( $StringUtils.equals( $command.query, "" ) )##
		<p class="none">곡명을 입력 후 검색해 주세요</p>
#else##
		<p class="cnt">총 <em class="em">$!{totalCount}</em>건이 검색되었습니다.</p>
		#if($totalCount > 0)##				
		#set($url="$request.getRequestURI()?$request.getQueryString()")
		<span class="grpSort">
		<a href="http://music.daum.net/search/songPopup.do?query=#escUrl($!{command.query})&type=$!{command.type}&sortType=0" class="sort #if($url.indexOf("sortType=0")>=0) on #else off #end">정확도</a>
		<span class="bar">|</span>
		<a href="http://music.daum.net/search/songPopup.do?query=#escUrl($!{command.query})&type=$!{command.type}&sortType=1" class="sort #if($url.indexOf("sortType=1")>=0) on #else off #end">인기순</a>&nbsp;
		</span>
		#end##
#end				
		</div>
#if($totalCount > 0)
		<ul class="lst song clearfix">
		#foreach($song in $songList)
	       <li class="itm#if( $foreach.index == 0 ) first#end" onmouseover="mOverPaging(this);" onmouseout="mOutPaging(this);">
			<a href="javascript:;" onclick="selectItem( '$!{song.song_id}', '$!StringCutUtil.removeTag( $!{song.song_name} )' );" class="thumb"><img src="$ImageOldUtil.getImageUrl("$!{song.album_thumb}", $ImageOldUtil.ALBUM_52_52)" alt="$!{song.song_name}" width="52" height="52"></a>
                <ul class="inf">
                <li class="i1"><span class="blue_d1 b name">#strCut( "$!{song.song_name}" 44 )</span></li>
                <li class="i2"><label>아티스트</label><span class="dat">#if( $StringUtils.equals("$!{song.artist_name}","" )) - #else #strCut( "$!{song.artist_name}" 35 ) #end</span></li>
                <li class="i3"><label>앨범</label><span class="dat">#if( $StringUtils.equals("$!{song.album_name}","")) - #else #strCut( "${song.album_name}" 26 )  #end</span></li>##$!{album.titlsSongId}
                <li class="i4"><p class="btn"><input type="button" class="typeBtn btSelect" value="선택" title="선택" onclick="selectItem( '$!{song.album_id}', '#escScript($song.song_name)' );"></p></li>
			    </ul>
			</li>
    #end
           </ul>
## 페이징
#set ($url = "?query=" + "#escUrl($command.query)" + "&sortType=" + $command.sortType )
#printPaging("${url}&pageNo=", $dto.ph.pageNo, $dto.ph)
#end
	</div>
</div>

<div class="btnSend">
    <div class="btn">
        <a id="btnConfirm" href="javascript:;" title="취소" onclick="closeWin();"><img src="http://i1.daumcdn.net/img-contents/music/2008_home/common/btn_cancel01.gif" alt="취소"></a>
    </div>
    <input type="button" value="닫기" title="닫기" class="typeBtn btPopCloseTxt" onclick="closeWin();">
</div>
	*#
#**********
<select id="searchRange" name="searchRange">
	<option value="0" selected>곡</option>
	<option value="1" #if("$!{command.searchRange}" == "1") selected #end>앨범</option>
	<option value="2" #if("$!{command.searchRange}" == "2") selected #end>아티스트</option>
</select>
	
<input type="text" value="$!{command.query}" onKeyDown="checkEnt();" id="query" name="query" />
<input type="button" value="검색" onClick="search();"/>
	
#if($totalCount > 0)
	총 $totalCount 건이 검색되었습니다.<br/>
	<input type="radio" id="sortType" name="sortType" value="0" onclick="search();" checked/>정확도순
	<input type="radio" id="sortType" name="sortType" value="1" onclick="search();" #if($!{command.sortType} == "1") checked #end/>최신도순
	<input type="radio" id="sortType" name="sortType" value="2" onclick="search();" #if($!{command.sortType} == "2") checked #end/>인기도순
	<br/>
	<table border="1" class="list">
		<tr>
			<th class="c1" align="center">제목</th>
			<th class="c2" align="center">아티스트명</th>
			<th class="c3" align="center">앨범명</th>
			<th class="c4" align="center">선택</th>
		</tr>
		#foreach($item in $songList)
			<tr>
				<td class="c1">$!{item.song_name}</td>
				<td class="c2">$!{item.artist_name}</td>
				<td class="c3">$!{item.album_name}</td>
				<td class="c4"><a href="javascript:;" onclick="selectItem('$!{item.song_id}', '#escScript( $!{item.song_name} )', '#escScript( $!{item.artist_name} )', '#escScript( $!{item.album_name})')">선택</a></td>
			</tr>
		#end
    </table>
	<br/><br/>
#else
	검색결과가 없습니다.<br/>
#end
#set ($url = "?")
#set ($url = "${url}query=$!{command.query}")
#set ($url = "${url}&searchType=$!{command.searchType}")
#set ($url = "${url}&searchRange=$!{command.searchRange}")
#printPaging("${url}&pageNo=", $dto.ph.pageNo, $dto.ph)

<input type="hidden" id="pageNo" name="pageNo" value="$!{command.pageNo}"/>
</div>
*#