{
"channel" : {
	"totalCount": "$dto.totalCount",
	"item" :[
	#foreach($item in $dto.songResult.documentList)
	#if($foreach.index > 0)
		,
	#end
		{
                "ALBUM_NAME": "$!{StringCutUtil.removeTagJSON($!{item.album_name})}",
                "ALBUM_ID": "$!{item.album_id}",
                "ALBUM_THUMB": "$!{item.album_thumb_url}",
                "ALBUM_VOL": "$!{item.album_volume}",
                "SONG_ID": "$!{item.song_id}",
                "SONG_NAME": "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
                "SONG_NAME_TOOLTIP": "$!{StringCutUtil.removeTagJSON($!{item.song_name_clean_display})}",
                "SONG_ADULT_YN": "$!{item.song_adult_yn}",
                "LISTEN_YN": "$!{item.listen_yn}",
                "MP3_YN": "$!{item.mp3_yn}",
                "LYRICS": $!{JSONUtil.valueToString($!{item.song.lyrics.lyrics})},
				#if($StringUtils.isNotBlank("$!{item.artist_name}") && $StringUtils.isNotBlank("$!{item.artist_id}") && !$StringUtils.equals("$!{item.artist_id}","0"))
					"ARTIST_NAME": "$!{StringCutUtil.removeTagJSON($!{item.artist_name})}",
					"ARTIST_NAME_DISP": "$!{StringCutUtil.removeTagJSON($!{item.artist_name})}",
				#else
					"ARTIST_NAME": "V.A",
					"ARTIST_NAME_DISP": "V.A",
				#end
                "ARTIST_ID": "$!{item.artist_id}",
                "ARTIST_NAME_FEAT": "$!{StringCutUtil.removeTagJSON($!{item.feat_artist_name})}",
                "ARTIST_NAME_FEAT_ID": "$!{StringCutUtil.removeTagJSON($!{item.feat_artist_id})}",
                "MV_TVPOT_ID": "$!{item.mv_tvpot_vid}",
                "MV_YN": "$!{item.exist_mv_yn}"
		}
	#end
			]
			}
}
