{
"serviceid" : "music",
"sectionid" : "song_search",
"title" : "곡 검색 결과 목록",
"list" :[
#foreach($item in $dto.songResult.documentList)
	#if($foreach.index > 0)
		,
	#end
{
	"serviceid":"music",
	"sectionid":"song",
	"itemid" : "$!{item.song_id}",
	"title" : "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
	"synonym" : [
    #foreach($synonym in $item.getSynonymList())
    	#if($foreach.index > 0),#end
    	"$!{synonym}"
    #end
    ],
	"link" : "http://music.daum.net/song/song.do?songId=$!{item.song_id}",
	"etc" : {
    	"artist" : [
    		#set($artistList = $item.getKeyArtistList())
    		#foreach($artist in $artistList)
    			#if($foreach.index > 0) , #end
				{
					"artistId" : "$!{artist.artist_id}",
					"artistname" : "${StringCutUtil.removeTagJSON($!{artist.name})}"
				}
    		#end
    	],
    	"albumid" : "$!{item.album_id}",
    	"albumname" : "${StringCutUtil.removeTagJSON($!{item.album_name})}",
    	"albumthumbnail" : "$!{item.album_thumb}"
    }
}
#end
]
,
"paging" : {
        "page" : $!{command.pageNo},
        "count_per_page" : $!{dto.ph.onePageCnt},
#set($page_count = $MathTool.ceil($MathTool.div($!{dto.ph.totalCnt},$!{dto.ph.onePageCnt})))
        "page_count" : $page_count,
        "count" : $!{dto.ph.totalCnt}
    }
}
