{
     "searchData" : [
    #foreach($item in $dto.songResult.documentList)
		#set($artistList = $item.getKeyArtistList())
#***##***##***##if($foreach.index > 0),#end##
    	{
		
    		"SongId": "$!{item.song_id}",
    		"Title": "$!{StringCutUtil.removeTagJSON($!{item.song_name})}",
    		"ArtistId": "$!{item.artist_id}",
    		"ArtistName": "$StringCutUtil.removeTagJSON($!{item.artist_name})",
    		"AlbumId": "$!{item.album_id}",
    		"AlbumTitle": "${StringCutUtil.removeTagJSON($!{item.album_name})}",
    		"ListenYN" : "$!{item.listen_yn}",
    		"LyricsYN" : "$!{item.lyrics_yn}",
    		"MainImage" : "$!{item.album_thumb}",
    		"keyArtistList" : [
        		#foreach($artist in $artistList)
        			#if($foreach.index > 0) , #end
    				{
    					"ArtistId" : "$!{artist.artistId}",
    					"name" : "${StringCutUtil.removeTagJSON($!{artist.name})}"
    				}
        		#end
    		]
    	}
    #end
    ], 
    
    "pageHandler" : {
    	"page_no": "$!{command.page_no}",
    	"onePageCnt": "$!{dto.ph.onePageCnt}",
    	"oneBlockCnt": "$!{dto.ph.oneBlockCnt}",
    	"totalCnt": "$!{dto.ph.totalCnt}"
   }
}
