<Music>
	<Song>
		<SongId><![CDATA[$!{song.songId}]]></SongId>
		<SongName><![CDATA[$!{song.title}]]></SongName>
		<AlbumId><![CDATA[$!{song.album.albumId}]]></AlbumId>
		<AlbumName><![CDATA[$!{song.album.title}]]></AlbumName>
		<AlbumVolumn><![CDATA[$!{song.album.volume}]]></AlbumVolumn>
		<ReleaseDate><![CDATA[$!{song.album.releaseDt}]]></ReleaseDate>
		<Artists>
			#foreach($artist in $song.keyArtistList)
				<Artist>
					<ArtistId><![CDATA[]]></ArtistId>
					<ArtistDetailId><![CDATA[$!{artist.artistId}]]></ArtistDetailId>
					<ArtistName><![CDATA[$!{artist.name}]]></ArtistName>
				</Artist>
			#end
		</Artists>
		<AOD><![CDATA[$!{song.AODLinkId}]]></AOD>
		<MP3><![CDATA[$!{song.MP3LinkId}]]></MP3>
		<BGM><![CDATA[$!{song.BGMLinkId}]]></BGM>
		<VClip><![CDATA[$!{song.vclipLinkId}]]></VClip>
		<AvgScore><![CDATA[]]></AvgScore>
		<ScoreCount><![CDATA[]]></ScoreCount>
		<AdultYn><![CDATA[$!{song.adultYn}]]></AdultYn>
		<LyricYn><![CDATA[$!{song.lyricsYn}]]></LyricYn>
		<AwardYn><![CDATA[$!{song.awardYn}]]></AwardYn>
		<AodItemId><![CDATA[$!{song.AODItemId}]]></AodItemId>
		<Mp3ItemId><![CDATA[$!{song.MP3ItemId}]]></Mp3ItemId>
		<BgmItemID><![CDATA[$!{song.BGMItemId}]]></BgmItemID>
	</Song>
</Music>