<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<title>Daum 블로그</title>
<meta name="Description" content="인터넷의 또 다른 세상, Daum 블로그">
<meta name="keywords" content="블로그, 다음 블로그, Daum 블로그, 다음, Daum, 생각, 글, 공간, 다음다섯, 행복한 사진관, 블로그 파티, 블로그 재발견, 인기 최고">
<style type="text/css">
    body, div { color:#333333;}
    a:link {  color:#333333; text-decoration:none; }
    a:visited {  color:#333333; text-decoration:none; }
    a:hover {  color:#333333; text-decoration:underline; }

    #cP_box { margin:10px 0 0 0; }
    #cP_box li { background:url(http://pimg.daum-img.net/blog/p_img/dot_ser.gif) 0px 6px no-repeat; padding:0 0 0 10px; line-height:140%; }
    #cP_box li.title { background:url(http://pimg.daum-img.net/blog/p_img/p_oarrow.gif) 0px 5px no-repeat; }

    select { font-size:12px; color:#666666; }

    .bul { position:relative; top:2px; }

#scrollbox {height: 300px; overflow:auto; padding:0px; border:0px; color:#666; text-align: left;
scrollbar-3dlight-color:#F7F7F7; scrollbar-arrow-color:#A4A4A4; scrollbar-base-color:#F7F7F7; scrollbar-darkshadow-color:#F7F7F7;
scrollbar-face-color:#F7F7F7; scrollbar-highlight-color:#F7F7F7; scrollbar-shadow-color:#A9A7A9;}

.bgm_list th    {background: #f3f3f3; padding: 8px 0 5px 0; border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; font-weight: bold; color: #333; font-size: 12px;}
.bgm_list th.song   {text-align: center;}
.bgm_list th.artist {text-align: left; padding-left: 13px;}
.bgm_list .bar  {background: #f3f3f3 url(http://cafeimg.hanmail.net/cf_img2/bum_butt_line.gif) 100% 50% no-repeat;}

.bgm_list td    {background: #fff; padding: 6px 8px; border-bottom: 1px solid #ededed; word-break:break-all;}
.bgm_list td.artist {padding-left: 15px;}
.bgm_list img.imgC  {vertical-align: -1px;}
.bgm_list td.bgm_repeat {padding: 8px 4px 0 0; width: 78px; text-align: center;}
.bgm_list td.bgm_buy    {padding: 8px 0 0 8px;}

img.icon_bgm    {vertical-align: -3px; margin-right: 4px;}
.msg_box    {padding: 30px 0; text-align: center;}

.txt_point2 {color: #5C87C8; font-size: 12px;}
a.txt_point2:link {color: #5C87C8; font-size: 12px;}
a.txt_point2:visited {color: #5C87C8; font-size: 12px;}
a.txt_point2:hover, a.txt_point2:active {color: #5C87C8; font-size: 12px; text-decoration:underline;}

.moreSong   { position:absolute;top:20px;right:10px; background: url(http://pimg.daum-img.net/blog3/bgm/arrow01.gif) no-repeat 100% 4px; color: #5C87C8; font-size: 11px; text-decoration: underline; padding: 0 5px 0 0; letter-spacing: -1px; }
a.moreSong:link { color: #5C87C8; font-size: 11px; text-decoration: underline; }
a.moreSong:visited { color: #5C87C8; font-size: 11px; text-decoration: underline; }
a.moreSong:hover, a.moreSong:active { color: #5C87C8; font-size: 11px; text-decoration: underline; }

.resourceFrom { color: #5C87C8; font-size: 11px; padding-top:20px;}
.noScriptBox { background: #F7F7F7; font-size: 11px; color: #999; padding: 18px; text-align: center;  }
#content {position:relative;}
//-->
</style>
<script type="text/javascript">
<!--

function popup_resize(){
    var h=0;
    if (navigator.userAgent.indexOf("SV1") > 0){  h=14; }
    else if(navigator.userAgent.indexOf("MSIE 7")>0) { h=35; }
    else if(navigator.userAgent.indexOf("Gecko")>0 && navigator.userAgent.indexOf("Firefox") <= 0 && navigator.userAgent.indexOf("Netscape") <= 0 ){ h=22; }
    else if(navigator.userAgent.indexOf("Firefox") >0 ){  h=18;
        if(navigator.userAgent.indexOf("Firefox/3") >0 ){
            h=45;
        }
    }
    else if(navigator.userAgent.indexOf("Netscape") >0 ){ h=-2; }
    else { h=0;}

    height = document.body.scrollHeight + 60 + h;

    window.resizeTo(578, height);
}
//-->
</script>

<!--BLOGSCRIPT-->
<link rel="stylesheet" href="http://s1.daumcdn.net/cafecj/css/2005/pop_template.css?ver=1.0" type="text/css">
<link rel="stylesheet" href="http://s1.daumcdn.net/cafecj/css/2006new/new_pop_template_euckr.css?v=1.0" type="text/css">
</head>
<body onload="popup_resize()">
<div class="boundary">
    <img src="http://image.daum-img.net/hanmail/2006_ui/pop_lt.gif" width="6" height="6" alt="" class="tl" />
    <img src="http://image.daum-img.net/hanmail/2006_ui/pop_rt.gif" width="6" height="6" alt="" class="tr" />
</div>
<div id="main">
    <div id="title_boundary">
        <img src="http://image.daum-img.net/hanmail/2006_ui/pop_tl.gif" width="3" height="31" alt="" class="tl" />
        <img src="http://image.daum-img.net/hanmail/2006_ui/pop_tr.gif" width="3" height="31" alt="" class="tr" />
        <div id="title">
        <img src="http://image.daum-img.net/hanmail/2006_ui/pop_tb.gif" width="8" height="14" alt="" class="bl" /> 가사보기
        </div>
    </div>
    <div id="content">
    
            <div id="scrollbox" style="border: 0;">
               ## <a href="http://music.daum.net/song/song.do?BGMLinkId=$!{command.BGMLinkId}" target="_blank" class="moreSong">곡 상세정보 보기</a>&nbsp;
				<a href=" http://music.daum.net/album/main?album_id=$!{song.album.albumId}&song_id=$!{song.songId}" target="_blank" class="moreSong">곡 상세정보 보기</a>
                <div style="padding: 15px 0 10px 0;"><b>#strCut($!{song.title},30)</b> - #printArtistName( $!{song.keyArtistList} "" 20 false )</div>
#if($StringUtils.equals( "$!{song.lyricsYn}","Y" ) )
<!-- 가사 있는 경우 -->
                <div style="margin: 15px 0 0 0; height:220px; overflow: auto;" class="d_12_6d6765">
<pre>
$!{song.lyrics.lyrics}
</pre>
                <p class="resourceFrom">Daum뮤직 제공</p>
            </div>
<!-- 가사 있는 경우 -->
#else
<!-- 가사 없는 경우 -->
                <div class="noScriptBox">
<p style="padding: 0 0 13px 0;">
이 곡은 가사 서비스 준비 중입니다.<br />
가사 등록하기 버튼을 클릭하시면 이 곡의 가사를 직접 입력하실 수 있습니다. <br />
등록하신 가사는 Daum뮤직 운영자의 확인을 거쳐 서비스에 제공되며, <br />
참여해주신 회원님의 닉네임이 함께 노출됩니다.<br />
</p>

<a href="#" onclick="daum.Music.ReportPop('SO','$song.songId');return false;" title="가사 등록하기"><img src="http://pimg.daum-img.net/blog3/bgm/btn_words.gif" width="92" height="22" alt="가사 등록하기" /></a>
                </div>

<!-- 가사 없는 경우 -->
#end
            <!-- Content end -->
        </div>

    </div>
</div>
<div class="boundary">
    <img src="http://image.daum-img.net/hanmail/2006_ui/pop_lb.gif" width="6" height="6" alt="" class="tl" />
    <img src="http://image.daum-img.net/hanmail/2006_ui/pop_rb.gif" width="6" height="6" alt="" class="tr" />
</div>
<div id="btn">
    <a href="javascript:window.close()"><img src="http://image.daum-img.net/hanmail/2006_ui/bt_ok.gif" width="42" height="22" alt="확인" /></a>
    <a href="javascript:window.close();"><img src="http://image.daum-img.net/hanmail/2006_ui/bt_close.gif" width="42" height="15" alt="닫기" class="close" /></a>
</div>
<script type="text/javascript">
<!--
popup_resize();
//-->
</script>
</body>
</html>
#*
곡ID : $song.songId </br>
곡명 : $song.title </br>

아티스트
#foreach($artist in $artistList)
	이름 : "$!{artist.name}</br>
	ID : "$!{artist.artistId}</br>
#end
</br>
가사 제공자ID : $!{lyrics.user.daumId}</br>
가사 제공자 다음네임 : $!{lyrics.user.daumName}</br>

가사 : $!{lyrics.lyrics.replaceAll('\r','').replaceAll('\n', '<br />').replaceAll('\"','&quote')} </br>
*#

