{
	"serviceid" : "music",
	"sectionid" : "song_list",
	"title" : "곡  최신 목록 (수정순)",
	"list" :[
	#foreach($song in $songList)
		{
		    "serviceid":"music",
		    "sectionid":"song",
		    "itemid" : "$!{song.songId}",
		    "title" : "$!{EscapeUtil.escapeJsonString($!{song.title})}",
		    "synonym" : [
		    #foreach($synonym in $song.synonymList)
		    	"$!{synonym}"#if($velocityHasNext),#end
		    #end
		    ],
		    "link" : "http://music.daum.net/album/main?album_id=$!{song.album.albumId}&song_id=$!{song.songId}"
		}#if($velocityHasNext),#end
	#end
	]
	,
	"paging" : {
		"page": $!{pageHandler.pageNo},
		"count_per_page" : $!{pageHandler.oneBlockCnt},
		"page_count" : $!{pageHandler.totalPage},
		"count" : $!{pageHandler.totalCnt}
	}
}