#uaCheck()
<div id="daumContent" class="cont_chart">
	<h2 class="screen_out">인기차트 상세정보</h2>
#SearchForm("only_top")
	<div class="section_chart">
		<div class="wrap_head">
			<h3 class="tit">인기차트</h3>
		</div>
		<ul class="list_info list_chart">
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=TORA" class="tit_chart">
						<span class="ico_music ico_clock"></span>
						<span class="f_l">실시간 TOP100</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=KORA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">가요</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=PORA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">POP</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=OSRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">OST</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=IDRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">아이돌</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=INRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">인디</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=TRRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">트로트</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=JPRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">J-POP</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=JARA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">재즈</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=CLRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">클래식</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=RERA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">종교음악</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/chart/list?genre_cd=ETRA&date_key=2" class="tit_chart">
						<span class="ico_music ico_list"></span>
						<span class="f_l">기타</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")