#uaCheck()
<div>

<div style="width:100%;padding-top:100px;text-align:center;"><img src="http://m1.daumcdn.net/img-section/enter/common/loading.gif" width="32" height="32" alt=""></div>

<script>
var musicHost = location.host;
var JviewerConfig = {
	tiaraDomain 		: 'm.music.daum.net',
    lyricsUrl 			: 'http://'+musicHost+'/song/vcliplyrics?song_id=#{songId}&album_id=#{albumId}',
    lyricsLinkText 		: '가사보기',
    albumUrl 			: 'http://'+musicHost+'/album/main?album_id=#{albumId}',
    albumLinkText 		: '앨범정보',
	apiUrl 				: 'http://'+musicHost+'/chart/list.json?genre_cd=#{genreCd}&date_key=$!{command.date_key}&callback=Jviewer.main.setItem',		
	closeUrl 			: 'http://'+musicHost+'/chart/list?genre_cd=#{genreCd}&date_key=$!{command.date_key}',
	pageNavigation 		: {"currentPageNo":"1", "rowCountPerPage":"100", "totalRowCount":"100", "pageCountPerGroup":"1"}
};

if (this.android && /DaumApps/.test(navigator.userAgent)) { 
                this.is3dSupported = false 
            } 
if (/DaumApps/.test(navigator.userAgent)) { 
                    daum.addClassName($$("body")[0], "daumapps") 
                } 
if (/DaumApps/.test(navigator.userAgent)) { 
                    daum.addClassName($$("body")[0], "daumapps") 
                } 
</script>
<style type="text/css">
body { overflow:hidden }
body.daumapps { 
 height:100%; 
} 
body.daumapps div.ps-carousel div.carousel-item img { 
 -webkit-transform:0; 
} 
div.ps-uilayer { 
 background:0; 
} 
</style>


