#if("$!{callback}" != "")
if (typeof(${callback}) == "function") ${callback} (
#end
{
	"name" : "$!{cacheName}",
	"statistics" : {
#if ($statistics)
		"cacheHits" : "${statistics.cacheHits}",
		"onDiskHits" : "${statistics.onDiskHits}",
		"inMemoryHits" : "${statistics.inMemoryHits}",
		"misses" : "${statistics.cacheMisses}",
		"size" : "${statistics.objectCount}",
		"averageGetTime" : "${statistics.averageGetTime}",
		"evictionCount" : "${statistics.averageGetTime}",
#end
	},
	"keys" : [
#if ($keyList && $keyList.size() > 0)
	#foreach($key in $keyList)
		#if ($foreach.index > 0) , #end
		"${Escape.javascript(${key})}"
	#end
#end
	]
}
#if("$!{callback}" != "")
);
#end
