 
## 검색옵션이랑, filter확인

#if($dto.totalCount > 0)
	#if($!{dto.isSearchAgain()})
		##<p class="toptitle"><span class="fc_blue">'$!{dto.originalQuery}'</span> 을 <span class="stit fc_blue">'$!{command.query}'</span> (으)로 자동 변환하여 검색하였습니다. <span class="more_link fc_blue">입력한 <a href="/search/integrated/list?query=#escUrl($!{dto.originalQuery})" class="fw_b fc_blue">'$!{dto.originalQuery}'</a>으로 검색하기</span></p>
		<p class="toptitle"><span class="fc_blue">'$!{dto.originalQuery}'</span> 를 <span class="stit fc_blue">'$!{command.query}'</span> (으)로 자동 변환하여 검색하였습니다.</p>
	#else
	##	<p class="toptitle"><strong class="stit">'$!{command.query}'</strong> 에 대한 통합검색 결과입니다.</p>
	#end
#elseif($dto.totalCount <= 0)
	##if(($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))&&($StringUtils.equals($!{dto.tab},"songResult")||$StringUtils.equals($!{dto.tab},"albumResult")))

	##else
	<div class="wrap_result">
		#if($!{dto.spellerResult.documentList} && $dto.spellerResult.documentList.size() > 0)
    		#set($splrWordList = $dto.spellerResult.documentList.get(0).getSpellerResult())
			#set($splrCount = $dto.spellerResult.documentList.get(0).getSplrCount())
		#else
			#set($splrCount = 0)
		#end

		#if($!dto.hasSimilarWords && $!{splrCount} > 0)
			<strong class="search_result">혹시 이것을 찾으시나요?&nbsp;#foreach($word in $splrWordList)<span class="search_word">#if ($foreach.index > 0), #end<a class="search_word" href="/search/integrated/list?query=#escUrl($!{word})" onclick="return gLink(null, 'SPTY', '1', '1');">$!{word}</a></span>#end</strong>
		#else
			<strong class="search_result"><a href="http://search.daum.net/search?w=tot&q=$!{command.query}" target="_blank" title="키워드의 Daum 통합검색 결과보기" class="search_word">'$!{command.query}#if($StringUtils.isNotBlank($!{route})) $!{route}#end'</a>에 대한 검색결과가 없습니다</strong>
		#end
		<p class="ico_search search_more">더 많은 검색결과를 원하신다면?<a href="http://search.daum.net/search?w=tot&q=$!{command.query}" onclick="goTotalSearch();return false;" class="arr_comm ico_more" target="_blank" title="키워드의 Daum 통합검색 결과보기">Daum 통합검색 결과보기</a></p>
	</div>
	##end
#end

#*
## 검색 옵션이 작동하고 있는지
#if(false)
<!-- 검색 옵션 -->
#if($StringUtils.isNotEmpty("$dto.getQueryString($command)"))

	#if ($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))
		#set ($comdview = "on")
	#else
		#if($dto.totalCount > 0)
			#set ($comdview = "on")
		#else
			#set ($comdview = "off")
		#end
	#end

	#if($StringUtils.equals($!{comdview},"on"))
	<div id="detailSearch">
		#set ($code = "")
		#if($StringUtils.equals($!{dto.tab},"all")) #set ($chkHurl = "/search/search.do") #end
		#if($StringUtils.equals($!{dto.tab},"artistResult")) #set ($chkHurl = "/search/artist.do") #set ($code = "SRAY") #set ($idx = "1") #end
		#if($StringUtils.equals($!{dto.tab},"songResult")) #set ($chkHurl = "/search/song.do") #set ($code = "SRSY") #set ($idx = "6") #end
		#if($StringUtils.equals($!{dto.tab},"albumResult")) #set ($chkHurl = "/search/album.do") #set ($code = "SRVY") #set ($idx = "6") #end
		#if($StringUtils.equals($!{dto.tab},"videoResult")) #set ($chkHurl = "/search/video.do") #set ($code = "SRMY") #set ($idx = "4") #end
		#if($StringUtils.equals($!{dto.tab},"lyricResult")) #set ($chkHurl = "/search/lyric.do") #set ($code = "SRLY") #set ($idx = "4") #end
		#if($StringUtils.equals($!{dto.tab},"boardResult")) #set ($chkHurl = "/search/board.do") #set ($code = "RSBY") #set ($idx = "1") #end
		#if($StringUtils.equals($!{dto.tab},"bgmResult")) #set ($chkHurl = "/search/bgm.do") #set ($code = "SRGY") #set ($idx = "6") #end

		<a href="?query=$!{command.encodedQuery}" class="stit" onclick="return gExtraLink(this, '${code}', '${idx}')"><b>전체</b></a>
		<span class="g_tit"> &gt; <b>$dto.getQueryString($command)</b> 에서 검색되었습니다.</span>
	</div><div class="cb"></div>
	<hr/>
	#end
#end

<hr/>
#end
*#

#if( $StringUtils.equals("$!{command.debugmode}","2") )
	
<h2>하이라이팅 영역</h2>

#set ($chkT1 = "")
#set ($chkT2 = "")
#set ($chkT3 = "")
#set ($chkT4 = "")
#set ($chkT5 = "")
#set ($chkT6 = "")
#set ($chkT7 = "")
#set ($chkT8 = "")

#if($StringUtils.equals($!{dto.tab},"all")) #set ($chkT1 = "on") #set ($gLinkCode = "TATY") #set ($typeNum = "0") #end
#if($StringUtils.equals($!{dto.tab},"artistResult")) #set ($chkT2 = "on") #set ($gLinkCode = "TAAY") #set ($typeNum = "1") #end
#if($StringUtils.equals($!{dto.tab},"songResult")) #set ($chkT3 = "on") #set ($gLinkCode = "TASY") #set ($typeNum = "2") #end
#if($StringUtils.equals($!{dto.tab},"albumResult")) #set ($chkT4 = "on") #set ($gLinkCode = "TAVY") #set ($typeNum = "3") #end
#if($StringUtils.equals($!{dto.tab},"videoResult")) #set ($chkT5 = "on") #set ($gLinkCode = "RAMY") #set ($typeNum = "4") #end
#if($StringUtils.equals($!{dto.tab},"lyricResult")) #set ($chkT6 = "on") #set ($gLinkCode = "TALY") #set ($typeNum = "5") #end
#if($StringUtils.equals($!{dto.tab},"boardResult")) #set ($chkT7 = "on") #set ($gLinkCode = "TABY") #set ($typeNum = "6") #end
#if($StringUtils.equals($!{dto.tab},"bgmResult")) #set ($chkT8 = "on") #set ($gLinkCode = "TAGY") #set ($typeNum = "7") #end

<input type="hidden" name="SearchKey" id="SearchKey" value="$!{command.query}">

<script type="text/javascript">
function _jsSbar(){
	try{
		daum.$("daumSearchOptionSelect").options[$!{typeNum}].selected=true;
		daum.$("daumSearchOption").innerHTML = (daum.$("daumSearchOptionSelect").options[$!{typeNum}].innerHTML).escapeHTML();
		daum.$("q").value = daum.$("SearchKey").value;

		if( daum.$("daumSearchOptionSelect").options[$!{typeNum}].value == "artist" ){
			sug1.setRequestUrl( "/music_arti2_cfsuggest" );
		} else if( daum.$("daumSearchOptionSelect").options[$!{typeNum}].value == "album" ){
			sug1.setRequestUrl( "/music_album2_cfsuggest" );
		}
	}catch(e){}
}
_jsSbar();
</script>

<ul id="tSch">
	<li><a id="tab1" class="$chkT1" href="/search/search.do?query=$!{command.encodedQuery}" title="전체" onclick="return gLink(null, '${gLinkCode}', '1', '1');">전체</a></li>
	<li><a id="tab2" class="$chkT2" href="/search/artist.do?query=$!{command.encodedQuery}" title="아티스트" onclick="return gLink(null, '${gLinkCode}', '1', '2');">아티스트</a></li>
	<li><a id="tab3" class="$chkT3" href="/search/song.do?query=$!{command.encodedQuery}" title="곡" onclick="return gLink(null, '${gLinkCode}', '1', '3');">곡</a></li>
	<li><a id="tab4" class="$chkT4" href="/search/album.do?query=$!{command.encodedQuery}" title="앨범" onclick="return gLink(null, '${gLinkCode}', '1', '4');">앨범</a></li>
	<li><a id="tab5" class="$chkT5" href="/search/video.do?query=$!{command.encodedQuery}" title="뮤직비디오" onclick="return gLink(null, '${gLinkCode}', '1', '5');">뮤직비디오</a></li>
	<li><a id="tab6" class="$chkT6" href="/search/lyric.do?query=$!{command.encodedQuery}" title="가사" onclick="return gLink(null, '${gLinkCode}', '1', '6');">가사</a></li>
	<li><a id="tab7" class="$chkT7" href="/search/board.do?query=$!{command.encodedQuery}" title="게시판" onclick="return gLink(null, '${gLinkCode}', '1', '7');">게시판</a></li>
	<li><a id="tab8" class="$chkT8" href="/search/bgm.do?query=$!{command.encodedQuery}" title="배경음악" onclick="return gLink(null, '${gLinkCode}', '1', '8');">배경음악</a></li>
</ul>
#if($dto.totalCount > 0)
	#if($!{dto.isSearchAgain()})
		<p class="toptitle"><strong>'$!{dto.originalQuery}'</strong>검색결과가 없어서 <strong class="stit">'$!{command.query}'</strong>(으)로 자동변환하여 검색하였습니다.</p>
	#else
	##	<p class="toptitle"><strong class="stit">'$!{command.query}'</strong> 에 대한 통합검색 결과입니다.</p>
	#end
#elseif($dto.totalCount <= 0)
	#if(($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))&&($StringUtils.equals($!{dto.tab},"songResult")||$StringUtils.equals($!{dto.tab},"albumResult")))

	#else
	<div id="ResultNotFound">
		<div class="rsltMsg">
		#set($splrWordList = $dto.spellerResult.documentList.get(0).getSpellerResult())
		#set($splrCount = $dto.spellerResult.documentList.get(0).getSplrCount())
		#if($!dto.hasSimilarWords && $!{splrCount} > 0)
			<h3>혹시 이것을 찾으세요? #foreach($word in $splrWordList)#if ($foreach.index > 0), #end <a href="/search/search.do?query=#escUrl($!{word})" onclick="return gLink(null, 'SPTY', '1', '1');"><strong class="blue">$!{word}</strong></a>#end</h3>
		#else
			<h3><strong class="blue">'<a href="http://search.daum.net/search?w=tot&q=$!{command.query}" class="blue" target="_blank" title="키워드의 Daum 통합검색 결과보기">$!{command.query}</a>'</strong>에 대한 검색결과가 없습니다.</h3>
		#end
		<p>더 많은 검색결과를 원하신다면? &nbsp; <a href="http://search.daum.net/search?w=tot&q=$!{command.query}" class="blue" target="_blank" title="키워드의 Daum 통합검색 결과보기">Daum 통합검색 결과보기</a></p>
	</div>
	#end
#end


<!-- 검색 옵션 -->
#if($StringUtils.isNotEmpty("$dto.getQueryString($command)"))

	#if ($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))
		#set ($comdview = "on")
	#else
		#if($dto.totalCount > 0)
			#set ($comdview = "on")
		#else
			#set ($comdview = "off")
		#end
	#end

	#if($StringUtils.equals($!{comdview},"on"))
	<div id="detailSearch">
		#set ($code = "")
		#if($StringUtils.equals($!{dto.tab},"all")) #set ($chkHurl = "/search/search.do") #end
		#if($StringUtils.equals($!{dto.tab},"artistResult")) #set ($chkHurl = "/search/artist.do") #set ($code = "SRAY") #set ($idx = "1") #end
		#if($StringUtils.equals($!{dto.tab},"songResult")) #set ($chkHurl = "/search/song.do") #set ($code = "SRSY") #set ($idx = "6") #end
		#if($StringUtils.equals($!{dto.tab},"albumResult")) #set ($chkHurl = "/search/album.do") #set ($code = "SRVY") #set ($idx = "6") #end
		#if($StringUtils.equals($!{dto.tab},"videoResult")) #set ($chkHurl = "/search/video.do") #set ($code = "SRMY") #set ($idx = "4") #end
		#if($StringUtils.equals($!{dto.tab},"lyricResult")) #set ($chkHurl = "/search/lyric.do") #set ($code = "SRLY") #set ($idx = "4") #end
		#if($StringUtils.equals($!{dto.tab},"boardResult")) #set ($chkHurl = "/search/board.do") #set ($code = "RSBY") #set ($idx = "1") #end
		#if($StringUtils.equals($!{dto.tab},"bgmResult")) #set ($chkHurl = "/search/bgm.do") #set ($code = "SRGY") #set ($idx = "6") #end

		<a href="?query=$!{command.encodedQuery}" class="stit" onclick="return gExtraLink(this, '${code}', '${idx}')"><b>전체</b></a>
		<span class="g_tit"> &gt; <b>$dto.getQueryString($command)</b> 에서 검색되었습니다.</span>
	</div><div class="cb"></div>
	<hr/>
	#end
#end

<hr/>
#end