<script id="imageTimeTmpl" type="text/x-jsrender">
  {{for}}{{if #parent.index > 0}}<li id="getRealTime" data-time="{{:startTime}}"></li>{{/if}}{{/for}}
</script>
<script id="timelineImageTmpl" type="text/x-jsrender">
  {{for}}
	<li onMouseover="daum.Music.Onair.Timeline.showSongDetail(this);" onMouseout="daum.Music.Onair.Timeline.showSongDetail(this);">
		<span class="box_shadow"></span>
		<a href="#none" class="link_detail">
    		{{if song.songId != 0 && song.album.mainImage.filePath !=null && song.album.mainImage.filePath != ""}}
    		<img src='{{:~getImageUrl(song.album.mainImage.filePath, "190x190", "ONAIR", "C")}}' width="190" height="190" class="thumb_detail" alt="{{:song.title}}">
    		{{else}}
    		<img src="http://s1.daumcdn.net/img-contents/music/2014_home/nowsong/img_none1.jpg" width="190" height="190" class="thumb_detail" alt="{{:title}}">
    		{{/if}}
		</a>
		<span class="desc_detail">
			<strong class="tit_detail">
				<em class="link_tit"><span class="screen_out">곡명 </span>{{if song.songId != 0}}{{:~printSongName(song, "", 30, false)}}{{else}}{{:title}}{{/if}}</em>
			</strong>
			<span class="txt_program">
				<span class="screen_out">프로그램 </span><a href="/onair/timeline?searchChannelType=sel&channelIds={{:channel.channelId}}" class="link_channel">{{:channel.channelName}}</a> - 
				{{if programId != null && programId !="" && channel.channelType == "1"}}<a href="/onair/tv?programId={{:programId}}" class="link_program">
				{{else programId != null && programId !="" && channel.channelType == "4"}}<a href="/onair/radio/channel?channelId={{:channel.channelId}}&programId={{:programId}}" class="link_program">
				{{else programId =="" || programId != null}}<a href="#none" class="link_txt">{{/if}}{{:schedule.programName}}</a>
			</span>
			<span class="txt_artist"><span class="screen_out">아티스트 </span>
			{{if song.songId != 0}}
            	{{for song.keyArtistList}}
            		{{:name}}{{if #index < #parent.data.size()-1}},{{/if}} 
        		{{/for}}
			{{else}}
			 {{:artistName}}
			{{/if}}
			</span>
		</span>
		<span class="box_detail">
			{{if song.songId != 0 && song.aodlinkId !=null && song.aodlinkId !="" && song.aodlinkId != "0"}}
			<a href="#none" class="btn_now link_play" onclick="daum.Music.AodPlayer.add(this, '{{:song.songId}}');return false;">노래 듣기</a>
			{{else}}
			<em href="#none" class="btn_now link_play">노래 듣기</em>
			{{/if}}
			<span class="detail_btn">
				{{if song.songId != 0}}
				<a href="/album/main?album_id={{:song.album.albumId}}" class="btn_now link_album">앨범 보기</a>
        			{{if programId != null && programId !="" && channel.channelType == "1"}}
       			<a href="/onair/tv?programId={{:programId}}#nowMusicListWrap" class="btn_now link_mp3">{{:schedule.programName}}</a>
    	    		{{else programId != null && programId !="" && channel.channelType == "4"}}
       			<a href="/onair/radio/channel?channelId={{:channel.channelId}}&programId={{:programId}}#nowMusicListWrap" class="btn_now link_mp3">{{:schedule.programName}}</a>
	        		{{else programId == null || programId ==""}}<em href="#none" class="btn_now link_mp3">{{:schedule.programName}}</em>{{/if}}
				{{else}}
				<a href="http://search.daum.net/search?q={{:title}} {{:artistName}}" class="btn_now link_result" target="_blank">통합검색 결과보기</a>
				{{/if}}
			</span>
		</span>
	</li>
	{{/for}}
</script>

<script id="timelineTmpl" type="text/x-jsrender">
  {{for}}
	<tr>
		<td class="td_clock"><span class="ico_now ico_clock" data-time="{{:startTime}}"></span></td>
		<td class="td_album">
				{{if song.songId != 0}}
			<a href="/album/main?album_id={{:song.album.albumId}}" class="link_album">
				<img src="{{:~getImageUrl(song.album.mainImage.filePath, "33x33", "ALBUM", "C")}}" width="42" height="42" class="thumb_album" alt="{{:song.title}}">
				{{else}}
			<a href="#none" class="link_album">
				<img src="http://s1.daumcdn.net/img-contents/music/2014_home/nowsong/img_none2.jpg" width="42" height="42" class="thumb_album" alt="{{:title}}">
				{{/if}}
				<span class="frame_g"></span>
			</a>
		</td>
		<td class="td_song">
			<span class="txt_desc">
				{{if song.songId != 0}}{{:~printSongName(song, "link_song", 30, true)}}{{else}}<em class="link_song">{{:~cutHighlightedKoreanString(title, 30, "..")}}</em>{{/if}}
			</span>
			{{if song.songId != 0}}
        		{{if song.keyArtistList.size() > 0}}
                	{{for song.keyArtistList}}
                		<a href='/artist/main?artist_id={{:artistId}}' class="link_artist">{{:name}}</a>{{if #index < #parent.data.size()-1}},{{/if}} 
            		{{/for}}
            	{{/if}}
			{{else}}
			 <em href="#none" class="link_artist">{{:~cutHighlightedKoreanString(artistName, 20, "..")}}</em>
			{{/if}}
		</td>
		<td class="td_program">
			<span class="txt_desc"><a href="/onair/timeline?channelIds={{:channel.channelId}}&{{:~getUrlParam()}}" class="link_channel">{{:channel.channelName}}</a></span>
		{{if programId != null && programId !="" && channel.channelType == "1"}}
			<a href="/onair/tv?programId={{:programId}}#nowMusicListWrap" class="link_program">{{:schedule.programName}}</a>
		{{else programId != null && programId !="" && channel.channelType == "4"}}
			<a href="/onair/radio/channel?channelId={{:channel.channelId}}&programId={{:programId}}#nowMusicListWrap" class="link_program">{{:schedule.programName}}</a>
		{{else programId == null || programId ==""}}<em href="#none" class="link_program">{{:schedule.programName}}</em>{{/if}}
		</td>
		<td class="td_option">
		{{if song.songId != 0}}
			{{:~printListItemButton(song.songId, "listen", "", song.aodlinkId)}}
			{{:~printListItemButton(song.album.albumId, "album", "")}}
			{{:~printListItemButton(song.songId, "my", "", song.aodlinkId)}}
			{{:~printListItemButton(song.songId, "mp3", song.bgmsaleStatus, song.mp3LinkId)}}
			{{:~printListItemButton(song.songId, "bgm", song.bgmsaleStatus, song.bgmlinkId)}}
		{{else}}
			<a href="http://search.daum.net/search?q={{:title}} {{:artistName}}" class="ico_now link_result" target="_new">Daum 통합검색 결과보기</a>
		{{/if}}
		</td>
	</tr>
{{/for}}
</script>
