#*
<h3 class="screen_out">이용권 구매 메뉴</h3>
#printPurchaseMenu("3")
<h3 class="screen_out">쿠폰등록</h3>
#parse("/velocity/purchase/common/banner.vm")

<div class="info_register"> 
	<div class="info_inp">
		<h4 class="img_register tit_register">쿠폰 번호를 등록해 주세요</h4>
		<p class="img_register desc_register">일정 기간 동안 Daum 뮤직 서비스를 무료로 이용하거나 MP3 또는 배경음악을 무료로 받으실 수 있습니다.</p>
		<em class="noti_resgiter">일련번호 20자리를 차례로 입력하거나, 전체번호를 복사하여 첫 칸에 붙여 넣은 후 등록해주세요</em>
		<div class="register_form">
			<form method="post" action="#">
				<fieldset> 
					<legend class="screen_hide">쿠폰 번호 등록 폼</legend>
					<input id="coupon1" name="couponNum" type="text" maxlength="20" class="inp_couponnum" id="CouponNum1" title="첫번째 5자리의 쿠폰번호 입력"><span class="txt_bar">-</span>
					<input id="coupon2" name="couponNum" type="text" maxlength="20" class="inp_couponnum" title="두번째 5자리의 쿠폰번호 입력"><span class="txt_bar">-</span>
					<input id="coupon3" name="couponNum" type="text" maxlength="10" class="inp_couponnum" title="세번째 5자리의 쿠폰번호 입력"><span class="txt_bar">-</span>
					<input id="coupon4" name="couponNum" type="text" maxlength="5" class="inp_couponnum" title="네번째 5자리의 쿠폰번호 입력">
					<button type="submit" class="btn_coupon btn_register" onclick='daum.Music.Coupon.regist("$!{user.daumName}");return false;'>등록하기</button>
				</fieldset>
			</form>
		</div>
	</div><!-- //info_inp -->
	<div class="info_notes">
		<h4 class="tit_notes"><span class="ico_coupon ico_notes"></span><span class="img_noti txt_error">쿠폰 등록이 잘 안되셨나요?</span></h4>
		<ul class="list_notes">
			<li>쿠폰을 이용하시려면 Daum 회원이셔야 합니다. 회원이 아니시라면 회원가입을 해주세요.</li>
			<li>쿠폰 등록 유효기간이 지나지 않으셨나요? 유효 기간이 지난 쿠폰은 등록할 수 없으니, 쿠폰에 명시된 기간을 확인해주세요.</li>
			<li>이미 사용하거나 등록된 쿠폰은 등록이 불가능하며 앞의 5개 일련번호가 동일한 쿠폰은 한 아이디에서 중복으로 사용이 불가능합니다.</li>
			<li>현재 사용하는 이용권이 있는 경우 종류에 따라 등록이 제한될 수 있습니다.</li>
			<li>잘못된 쿠폰 번호입니다. 라는 경고창이 뜰 경우 쿠폰 번호를 다시 한번 확인 후 입력해 주시거나, 마지막 칸에 공백이 들어가진 않았는지 확인 후 등록해 보세요.</li>
		</ul>
		<h4 class="tit_notes tit_end"><span class="ico_coupon ico_notes"></span><span class="img_noti txt_end">쿠폰 등록이 끝나셨나요?</span></h4>
		<ul class="list_notes list_end">
			<li>등록하신 쿠폰은 <a href="/my/own_ticket/ticket/list" class="emqh_path">MY뮤직 &gt; MY 관리 &gt; 이용권 현황</a>에서 확인하실 수 있습니다.</li>
			<li>MP3 재다운로드는 <a href="/my/depository/mp3/list" class="emqh_path">MY 뮤직 &gt; 구매음악 &gt; MP3</a> 에서 확인하실 수 있습니다.</li>
			<li>배경음악 설정은 <a href="/my/depository/bgm_status/list?target_service=CAFE" class="emqh_path">MY뮤직 &gt; 구매음악 &gt; 배경음악 관리</a>에서 확인하실 수 있습니다.</li>
			<li>쿠폰은 현금으로 환불할 수 없습니다.</li>
		</ul>
	</div><!-- //info_notes -->
</div><!-- //info_register -->
*#
<script type="text/javascript">
    alert("2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.")
    history.back();
</script>


<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->
#*
  
<div id="FTMessage" >
---------------------<br/>
개발 체크<br/>
---------------------<br/>	
1. 현재 popup으로 되어 있어, 타일즈가 popup템플릿 적용됨, 지영님 확인 중, <br>
2. 등록하기 버튼 클릭시 백단에서 내려오는 error message를 error code 값으로 요청함ㅡ<br>
	(message의 라인변경등 UI 요소가 들어가야 하므로, 프론트 단에서 제어)
<br>
</div>
	*#