	<h2 class="screen_out">서비스 정책 및 약관</h2>
	<p class="footer_link">
	    <a href="http://www.daum.net/doc/info.html" target="_blank" class="link_info">서비스 약관/정책</a> <span class="txt_bar">|</span>
	    <a href="http://www.daum.net/doc/info_protection.html" target="_blank" class="link_info">개인정보취급방침</a> <span class="txt_bar">|</span>
	    <a href="https://cs.daum.net/redbell/top.html" target="_blank" class="link_info">권리침해신고</a> <span class="txt_bar">|</span>
	    <a href="http://cs.daum.net" target="_blank" class="link_info">고객센터</a>
	</p>
	<small class="info_copyright">
		Copyright &copy; <a href="http://info.daum.net" target="_blank" class="link_daumkakao" title="다음카카오 회사소개">Daum Kakao Corp.</a>  All rights reserved.
	</small>