################ USER AGENT CHECK##
#set($ua_string = $request.getHeader("User-Agent"))##
#parse("/velocity/common/ua_check_core.vm")##
##
#set( $URI = "#getter('URI', '')" )##
#set( $PATH = "#getter('PATH_URI', '')" )##
#set( $DOMAIN = $URI.split($PATH)[0] )##
#set( $DEBUG = "#getter('debugmode', '')" == 2 || $StringUtils.isEmpty("#getter('VERSION', '')") )##
##
#if( $DEBUG )##
	#set( $STATIC_PATH = "/" )##
#else##
	#set( $STATIC_PATH = "#getter('VERSION', '')" )##
#end##
##
#set ($POPUP = false)##
#if ($URI.indexOf(".popup") > -1 ) #set ( $POPUP = true ) #end##
##
#set( $IFRAME = false)##
#if ( $URI.indexOf("iframe") > -1 ) #set ( $IFRAME = true ) #end##
##
## common.css 사용 ##
#set( $commonCss = true )##
#if( $!{POPUP} || $URI.indexOf("year2011") > -1 || $URI.indexOf("/player/") > -1 || $URI.indexOf("/event/promotion") > -1 )##
	#set( $commonCss = false )##
#end##
## reset.css 사용 ##
#set( $resetCss = true )##
#if( $URI.indexOf("/player/") > -1 )##
	#set( $resetCss = false )##
#end##
## suggest, addon 사용 ##
#set( $suggestAddon = false )##
#if( $!{IFRAME} || $!{POPUP} || $URI.indexOf("promotion") > -1 || $URI.indexOf("quiz_event") > -1 || $URI.indexOf("musicevent") > -1 )##
	#set( $suggestAddon = false )##
#end##
##
#parse("/layout/common/title.vm")
<meta charset="utf-8" />
##<!--[if lt IE 10]>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name='plink' content='$URI'/>
##<![endif]-->
$!{headMetaTitle}
##페이스북에 링크시 요약 정보제공을 위해
#parse("/layout/common/opengraph.vm")
##

#if( !$!{IFRAME} || $URI.indexOf("/my/depository/bgm_status") <= -1 )##
#if( $commonCss )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/common.css" />
#end
## 플레이어 팝업 ##
#if( $URI.indexOf("/player/") > -1 )
<link href="$!{STATIC_PATH}css/player.css" type="text/css" rel="stylesheet" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.player.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/player.popup.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/core/app.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/player.popup.js"></script>
#***##end##
#elseif( $suggestAddon )##
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/core.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/core/app.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.template2.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.fireEvent.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/domReady.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/common.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/config.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/utils.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/player.aod.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/downloader.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/message.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/suggest.merged.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jsonp-0.3.0.min.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/m/common.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/addon.js"></script>
#***##end##
#else##
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/core.popup.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/core/app.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.template2.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.fireEvent.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/domReady.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/common.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/config.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/utils.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/player.aod.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/downloader.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/message.js"></script>
#***##end##
#end##
#if( $resetCss )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/reset.css" />
#end##
#end##

## 인기차트 ##
#if( $URI.indexOf("/chart/") > -1 )##
<link href="$!{STATIC_PATH}css/chart.css" type="text/css" rel="stylesheet" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.chart.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/chart.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script> <!-- 보내기(sns) 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/social.web.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/social.web.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/balloon.js"></script>
#***##end##
#end##
## 아티스트 상세, 앨범 상세 ##
#if (($URI.indexOf("/artist") > -1 || $URI.indexOf("/album") > -1) && $URI.indexOf("/search") == -1)
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/detail.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.detail.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/album.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/album.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js?version=20110824"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script> <!-- 보내기(sns) 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/artist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/artist.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/chart.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/photo.js"></script>
#***##***##if( $URI.indexOf("/main") > -1 )##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/balloon.js"></script>
#***##***##end##
#***##end##
#end##
## 포토 상세 ##
#if( $URI.indexOf("/photo/detail") > -1 )##
<script type="text/javascript" src="/js/photo.viewer.min.js"></script>
<script type="text/javascript" src="/js/photo.ultra.light.box.min.js"></script>
#end##
## 뮤직비디오 ##
#if( $URI.indexOf("$!{DOMAIN}/vclip/") > -1||$URI.indexOf("$!{DOMAIN}/artist/vclip/") > -1)##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/video.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.video.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
#***##end##
#end##
## 장르뮤직 ##
#if( $URI.indexOf("/genre/") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/genre.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.genre.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/genre.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
#***##end##
#end
## MY 뮤직 ##
#if( !$!{POPUP} && (($URI.indexOf("/my/") > -1 && !$!{IFRAME}) || $URI.indexOf("_my") > -1) ) ##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/my.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.my.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/my.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.menu.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.menu.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.del.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.del.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script> <!-- 보내기(sns) 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/customSelect.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.favorite.genre.js"></script>
#if( $URI.indexOf("/my/playList/") > -1 )##	## 플레이리스트 편집
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/jigu.dnd.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.dnd.js"></script>
#end##
#if( $URI.indexOf("/my/depository/") > -1 )## ## 구매음악
<script type="text/javascript" src="$!{STATIC_PATH}js/my.depository.js"></script>
#end##
#if( $URI.indexOf("/my/own_ticket/") > -1 )## ## 내이용권
<script type="text/javascript" src="$!{STATIC_PATH}js/my.own.ticket.js"></script>
#end##
#if( $URI.indexOf("/bgm_status/") > -1 )## ## 배경음악 관리
<script type="text/javascript" src="$!{STATIC_PATH}js/my.bgm.manage.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.bgm.manage.template.js"></script>
#end##
#***##end##
#end##

#if( $URI.indexOf("/my/depository/bgm_status") > -1 && $IFRAME )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/common.old.css" type="text/css">
<link rel="stylesheet" href="$!{STATIC_PATH}css/my.old.css" type="text/css">
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.my.bgm.iframe.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/core/jigu.min.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/common.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/domReady.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/player.aod.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/core/app.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/common.old.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.old.js"></script>
#***##end##
#end##
## 관심장르 IFRAME ##
#if( $URI.indexOf("/my/favorite_genre") > -1 && $IFRAME )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/my.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.my.genre.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.favorite.genre.js"></script>
#***##end##
#end##
## 플레이리스트 담기 팝업 ##
#if($URI.indexOf("/my/playList/list.popup") > -1)##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/popup.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.my.put.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.put.js"></script>
#***##end##
#end##
## 구매 ##
#if( $URI.indexOf("/purchase/") > -1 )##
#if( $!{POPUP} )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/cart.css" />
#end##
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.purchase.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/purchase.popup.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/purchase.popup.api.js"></script>
## <script type="text/javascript" src="$!{STATIC_PATH}js/lib/dragnselect.js"></script> 쓰는데 없음
#if( $StringUtils.equals("$!{command.cart_action_type}","GIFT") )##
<script type="text/javascript" src="$!{STATIC_PATH}js/gift.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/gift.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/gift.template.js"></script>
#end##
#if( $URI.indexOf("/purchase/ticketitem/detail") > -1 || $StringUtils.equals("$!{command.cart_action_type}","GIFT"))##
<script type="text/javascript" src="$!{STATIC_PATH}js/ticket.gift.js"></script>
#end
#if( $URI.indexOf("/purchase/cart") > -1)##
<script type="text/javascript" src="$!{STATIC_PATH}js/cart.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/cart.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
#elseif( ($URI.indexOf("/purchase/ticketitem") > -1 || $URI.indexOf("/purchase/ticket/") > -1 ) )##
<script type="text/javascript" src="$!{STATIC_PATH}js/ticket.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/ticket.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.own.ticket.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/purchase.js"></script>
#end##
#***##end##
#end##
## 이용권 구매 ##
#if( ($URI.indexOf("/purchase/ticketitem") > -1 || $URI.indexOf("/purchase/ticket") > -1) && !$!{POPUP})##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/coupon.css" />
#end##
## 내부 검색 ##
#if( $URI.indexOf("/search/") > -1 && !$IFRAME )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/search.css" />
#if($URI.indexOf(".popup") > -1)##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/popup.css" />
#end##
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.search.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script> <!-- 보내기(sns) 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/artist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/search.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/search.extendview.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/search.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
#***##end##
#end##
## 이벤트 ##
#if( $URI.indexOf("/event/") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/event.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.event.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/event.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/mypeople.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script> <!-- 보내기(sns) 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/customSelect.js"></script>
#***##end##
#end##
## event 상세페이지에서 댓글 등록용 ##
#if( $URI.indexOf("/event/detail") > -1 )##
<script type="text/javascript" src="http://event.daum.net/javascripts/daumEvent.js"></script>
#end##
## 이 정보에 직접 참여 ##
#if( $URI.indexOf("/user/report") > -1 && $POPUP )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/popup.css" />
<script type="text/javascript" src="$!{STATIC_PATH}js/report.popup.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
#end##
## 뮤직바 ##
#if( ($URI.indexOf("/musicbar/") > -1 || $URI.indexOf("/sym/") > -1) && $URI.indexOf("my/favorite/musicbar") < 0 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/bar.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.musicbar.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/musicbar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/musicbar.sym.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/genre.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/issue_news.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/customSelect.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.menu.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/my.playlist.menu.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/balloon.js"></script>
#***##end##
#end##
## 뮤직바 본문 ##
#if( $URI.indexOf("/musicbar/detail") > -1 || $URI.indexOf("/sym/") > -1 )##
<script type="text/javascript" src="$!{STATIC_PATH}js/imagene.js"></script>
<script type="text/javascript" src="http://event.daum.net/javascripts/daumEvent.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/photo.js"></script>
<script type="text/javascript" src="/js/photo.viewer.min.js"></script>
<script type="text/javascript" src="/js/photo.ultra.light.box.min.js"></script>
#end##
## 뮤직바 iframe ##
#if( $URI.indexOf("/search/song/list_for_musicbar.iframe") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/bar.css" />
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
#end##
## 쿠폰 등록 ##
#if( $URI.indexOf("/coupon") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/coupon.css" />
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.coupon.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/coupon.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/coupon.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
#***##end##
#end##
## 뮤직 탑 ##
#if( $URI.indexOf("/home/") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/home.css" />
<script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
## 타 라이브러리와의 충돌을 피하기 위하여 반드시 jQuery.noConflict 를 사용하여야 한다. $ 변수 축약형을 사용하고자 할 때는 반드시 scope 을 분리하여 다른 부분에 영향 받지 않도록 하여야 한다.
<script type="text/javascript">
jQuery.noConflict();
</script>
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.home.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/home.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/home.chart.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/home.timeline.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/artist.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/checkboxDrag.js"></script>
#***##end##
#end##
## 미리듣기 퀴즈 ##
#if( $URI.indexOf("/game/prelistenquiz") > -1 )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/listen.quiz.css" />
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/calendar.js"></script>
#end##
## 외부연동 내 배경음악 첨부 팝업 ##
#if( $POPUP && $URI.indexOf("my/depository/bgm_setup/") > -1 )##
<link href="$!{STATIC_PATH}css/editor.bgm.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.bit.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/editor.bgm.js"></script>
#end##
## 뮤직비디오 팝업 ##
#if( $URI.indexOf("vclip/api/player") > -1 )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/mv.player.css" type="text/css">
<script type="text/javascript" src="$!{STATIC_PATH}js/mv.player.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
#end##
## 가이드 ##
#if( $URI.indexOf("common/musicguide") > -1 )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/guide.css" type="text/css">
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
#end##
## 이달의앨범(이매진어워드) ##
#if( $URI.indexOf("/imagene/") > -1 )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/imagene.css" type="text/css">
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.imagene.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/imagene.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/listRoll.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/player.video.js"></script>
#***##end##
#if( $URI.indexOf("/imagene/") > -1 )##
<script type="text/javascript" src="http://event.daum.net/javascripts/daumEvent.js"></script>
#end##
#end##
## 프로모션 ##
#if( $URI.indexOf("common/promotion2011") > -1 )##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>  <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/purchase.js"></script>
#end##
##
## 퀴즈 프로모션 2011.10 ##
#if( $URI.indexOf("/quiz_event/") > -1 )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/promotion.quiz.css" type="text/css">
#end##
##
## 연말 프로모션 2011.11 ##
#if( $URI.indexOf("/musicevent/year2011") > -1 )##
<link rel="stylesheet" href="$!{STATIC_PATH}css/promotion.year2011.css" type="text/css">
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
#end##
##
## 프로모션 2012.04 ##
##if( $URI.indexOf("/event/promotion") > -1 )##
##<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/promotion.mystyle.css" />
##<script type="text/javascript" src="$!{STATIC_PATH}js/promotion.mystyle.js"></script>
##end##
## http://cs.daum.net/faq/list/65,12034.html?faq=17583#hList_17583
#if( $URI.indexOf("/player/selfdownload") > -1 || ($StringUtils.contains("$!{URI}", "/sym/fund/") && $StringUtils.contains("$!{URI}", "popup")) )##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/common.css" />
#end
<!--[if IE 6]>
<link rel="stylesheet" href="$!{STATIC_PATH}css/ie6.css" type="text/css">
<![endif]-->

##소셜쉐어
##<script type="text/javascript" src="http://s1.daumcdn.net/svc/attach/U03/cssjs/pcsocialshare/pcSocialshare-1.2.2.min.js"></script>
<script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/pcsocialshare/pcSocialshare-1.5.0.min.js"></script>

## 방금그곡 ##
#if( $URI.indexOf("/onair/") > -1)##
<link type="text/css" rel="stylesheet" href="$!{STATIC_PATH}css/onair.css" />
#end
#if( $URI.indexOf("/onair/") > -1 || $URI.indexOf("/purchase/ticketitem/") > -1 )##
<script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
## 타 라이브러리와의 충돌을 피하기 위하여 반드시 jQuery.noConflict 를 사용하여야 한다. $ 변수 축약형을 사용하고자 할 때는 반드시 scope 을 분리하여 다른 부분에 영향 받지 않도록 하여야 한다.
<script type="text/javascript">
jQuery.noConflict();
</script>
##<script type="text/javascript" src="$!{STATIC_PATH}js/core/jsviews.js"></script>
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.onair.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.dto.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.api.js"></script> <!-- 가사/뮤비 바로보기 있을 경우 -->
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.social.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/list.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.timeline.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.scriptView.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.search.calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.search.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/onair.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/slide.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/animation.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/pc_slide.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/slider.js"></script>
#***##end##
#end

## 방금그곡 ##
#if( $URI.indexOf("/broadcast/") > -1 )##

<!--[if lt IE 9]>
    <script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-2.1.0.js"></script>
<!--<![endif]-->

##<script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
## 타 라이브러리와의 충돌을 피하기 위하여 반드시 jQuery.noConflict 를 사용하여야 한다. $ 변수 축약형을 사용하고자 할 때는 반드시 scope 을 분리하여 다른 부분에 영향 받지 않도록 하여야 한다.
<script type="text/javascript">
jQuery.noConflict();
</script>
#***##if( !$!{DEBUG} )##
<script type="text/javascript" src="$!{STATIC_PATH}js/min.imagene.js"></script>
#***##else##
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/layer.template.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/br_calendar.js"></script>
<script type="text/javascript" src="$!{STATIC_PATH}js/lib/angular_v1.2.13.js"></script>
#***##end##
#end

