#set( $headTitle = "Daum" )
## 뮤직BAR
#if( $boardList && $boardList.isArray() ) #set( $menuName = $!{boardList.get(0).menuName} ) #else #set( $menuName = "" ) #end
## 앨범상세
#if( $command.album_id ) #set( $albumDetailTitle = "#printAlbumName( $!{album} '' 0 3 false)" ) #end
## 곡상세
#if( $album.songList && $command.song_id ) 
    #foreach($item in $album.songList )
    	#if( $StringUtils.isNotEmpty("$!{command.song_id}") && $StringUtils.equals("$!{command.song_id}", "$item.songId"))
    		#set( $albumDetailTitle = "#printSongName( $!{item} '' 0 false false false)" ) 
    	#end
    #end
#end

#set($titleMap = {
	"chart": {
		"title": "인기차트",
    	"chartsong": {
    		"title": "인기차트"
    	},
		"issuesong": {
			"title": "핫이슈 공감"
		},
		"recommendsong": {
			"title": "추천음악"
		}
	},
	
	"genre": {
		"title": "장르뮤직"
	},
	
	"musicbar": {
		"title": "뮤직 BAR",
		"top" : {
			"title" : "뮤직 BAR"
		},
		"musicbar" : {
			"title" : "",
			"list" : {
				"title" : "$menuName"
			},
			"detail" : {
				"title" : "$!{boardInfo.menuName}"
			}
		},
		"djalbum" : {
			"title": "DJ 추천음악"
		}
	},
	
	"vclip" : {
		"title" : "뮤직비디오"
	},
	
	"event" : {
		"title" : "이벤트",
		"freesong" : {
			"title" : "무료음악감상"
		},
		"winner" : {
			"title" : "당첨자발표"
		},
		"promotion" : {
			"title" : "스마트폰에 Daum뮤직앱을 다운로드 해보세요"
		}
	},
	
	"my" : {
		"title" : "MY 뮤직",
		"playList" : {
			"title" : "$!{baseInfo.playListName}"
		},
		"frequent" : {
			"title" : "즐겨 듣는 음악"
		},
		"recent" : {
			"title" : "최근 들은 음악"
		},
		"favorite" : {
			"title" : "관심 음악"
		},
		"depository" : {
			"title" : "구매 음악",
			"bgm_status" : {
				"title" : "배경음악 관리"
			}
		}
	},
	
	"purchase" : {
		"ticketitem" : {
			"title" : "이용권 구매"
		},
		"coupon" : {
			"title" : "쿠폰 등록"
		},
		"cart" : {
			"title" : "구매하기"
		}
	},
	
	"artist" : {
		"title" : "$!{artist.name}",
		"vclip" : {
			"detail" : {
				"title" : "$!{song.vclip.title}"
			}
		}
	},
	
	"album" : {
		"title" : "$!{albumDetailTitle}",
		"vclip" : {
			"detail" : {
				"title" : "$!{song.vclip.title}"
			}
		}
	},
	
	"common": { 
		"promotion2011" : {
			"title" : "Daum music 그 새로움을 만나보세요!"
		}
	},
	
	"musicevent" : {
		"year2011" : {
			"title" : "인디뮤지션 이벤트"
		}
	},
	"onair": {
		"timeline" : {
			"title" : "방금그곡"
		},
		"radio" : {
			"title" : "",
			"recomm" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표"
			},
			"genre" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표"
			},
			"channel" : {
				"title" : "$!{selectedProgram.programMasterName} 선곡표"
			}
		},
		"tv" : {
			"title": "$!{selectedProgram.programMasterName} 선곡표"
		}
	}
})
#getHeadTitle($titleMap, "#getter('PATH_URI', '')")
#if($StringUtils.contains("#getter('PATH_URI', '')", "/sym/"))#set($headTitle = "Support Your Music!")#end  ## 프로모션용
#if( $StringUtils.isNotBlank("$!{title}") ) #set( $headTitle = $title + " | " + $headTitle ) #end
## 2012.07.05 뮤직바만 페이스북 메타정보 수정
#if($StringUtils.contains("#getter('PATH_URI', '')", "musicbar/detail") && $StringUtils.isNotBlank("$!{boardInfo.title}") )
	#set( $headTitle = "#stripHTML($!{boardInfo.title}) | Daum")
	#if($StringUtils.isNotBlank("$!{boardContents.boardTempleteList[1].contents}"))
		#set( $tmp_description = $!{boardContents.boardTempleteList[1].contents} )
	#else
		#set( $tmp_description = $!{boardInfo.summary} )
	#end
	#set( $tmp_description = $!{boardContents.boardTempleteList[1].contents} )
	#set( $tmp_description = $StringCutUtil.carriageReturnReplace("#strCut($tmp_description, 260)"))	
	#set( $tmp_description = $StringCutUtil.removeTagJSON("$tmp_description"))		
	#set( $headMetaTitle = '<meta content="'+$tmp_description+'" property="og:description" />	
<title>'+$!{headTitle}+'</title>' )
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/imagene/detail"))
	#set( $headMetaTitle = '<meta content=" 이달의 앨범을 소개합니다 | Daum 뮤직" property="og:description" />
<title>이달의 앨범 | '+$!{headTitle}+'</title>' )	
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/album/main"))
	#if($StringUtils.isNotBlank("$!{album.description}"))
    	#set( $tmp_description = $!{album.description} )
		#set( $tmp_description = $StringCutUtil.carriageReturnReplace("#strCut($tmp_description, 260)"))	
		#set( $tmp_description = $StringCutUtil.removeTagJSON("$tmp_description"))		
	#else
		#set( $tmp_description = $!{headTitle} )
	#end
	#set( $headMetaTitle = '<meta content="'+$tmp_description+'" property="og:description" />
<title>'+$!{headTitle}+'</title>' )
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/artist/main"))
	#if($StringUtils.isNotBlank("$!{artist.wikiInfo}"))
		#set( $tmp_description = $!{artist.wikiInfo} )
	#elseif($StringUtils.isNotBlank("$!{artist.content}"))
    	#set( $tmp_description = $!{artist.content} )
	#else
    	#set( $tmp_description = $!{headTitle} )
	#end
	#set( $tmp_description = $StringCutUtil.carriageReturnReplace("#strCut($tmp_description, 260)"))	
	#set( $tmp_description = $StringCutUtil.removeTagJSON("$tmp_description"))	
	#set( $headMetaTitle = '<meta content="'+$tmp_description+'" property="og:description" />
<title>'+$!{headTitle}+'</title>' )
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/album/main"))
	#if($StringUtils.isNotBlank("$!{album.description}"))
    	#set( $tmp_description = $!{album.description} )
		#set( $tmp_description = $StringCutUtil.carriageReturnReplace("#strCut($tmp_description, 260)"))	
		#set( $tmp_description = $StringCutUtil.removeTagJSON("$tmp_description"))		
	#else
		#set( $tmp_description = $!{headTitle} )
	#end
	#set( $headMetaTitle = '<meta content="'+$tmp_description+'" property="og:description" />
<title>'+$!{headTitle}+'</title>' )
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/artist/main"))
	#if($StringUtils.isNotBlank("$!{artist.wikiInfo}"))
		#set( $tmp_description = $!{artist.wikiInfo} )
	#elseif($StringUtils.isNotBlank("$!{artist.content}"))
    	#set( $tmp_description = $!{artist.content} )
	#else
    	#set( $tmp_description = $!{headTitle} )
	#end
	#set( $tmp_description = $StringCutUtil.carriageReturnReplace("#strCut($tmp_description, 260)"))	
	#set( $tmp_description = $StringCutUtil.removeTagJSON("$tmp_description"))	
	#set( $headMetaTitle = '<meta content="'+$tmp_description+'" property="og:description" />
<title>'+$!{headTitle}+'</title>' )
#elseif($StringUtils.contains("#getter('PATH_URI', '')", "/onair/"))
	## 방금그곡 오픈그래프용 메타태그는 opengraph.vm 에서 찍는다.
	#set( $headMetaTitle = '<title>'+$!{headTitle}+'</title>' )
#else
	#set( $headMetaTitle = '<meta content="'+$!{headTitle}+'" property="og:description" />
<title>'+$!{headTitle}+'</title>' )
#end