#uaCheck()
<!-- 2014-10-13 수정, 추가 페이지 시작 -->
<div id="daumContent" class="cont_buy" role="main">
	<h2 class="screen_out">이용권</h2>
#printPurchaseMenuMobile("1")
	<a href="http://m.webtoon.daum.net/m/webtoon/view/streetstall" class="link_discount">
		<img src="http://m1.daumcdn.net/img-contents/music/mobile//m320/bnr_discount.png" width="320" height="165" class="thumb_discount" alt="3개월간 다음뮤직 반값!'">
		백봉 ‘ 노점묵시록’ 웹툰 보러가기
	</a>
	<div class="buy_discount">
		<h3 class="screen_out">3개월 반값 할인</h3>
		<ul class="list_discount">
			<li>
				<strong class="tit_discount">스트리밍 무제한</strong>
				<div class="box_discount">
					<span class="txt_detail">PC + 스마트폰에서 무제한 전곡듣기</span>
					<span class="txt_discount">자동결제 <span class="txt_price">6,000원</span></span>
					<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="emph_price">3,000</em>원</span>
					<span class="ico_ticket">반값</span>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('APG0028','')">구매하기</a>
				</div>
			</li>
			<li>
				<strong class="tit_discount">스마트폰 무제한</strong>
				<div class="box_discount">
					<span class="txt_detail">스마트폰에서 무제한 듣기 + 무제한 대여</span>
					<span class="txt_discount">자동결제 <span class="txt_price">8,000원</span></span>
					<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="emph_price">4,000</em>원</span>
					<span class="ico_ticket">반값</span>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('APMOG0035','')">구매하기</a>
				</div>
			</li>
			<li>
				<strong class="tit_discount">MP3 30곡  + 무제한 듣기</strong>
				<div class="box_discount">
					<span class="txt_detail">MP3 30곡 다운로드 + 무제한 전곡듣기</span>
					<span class="txt_discount">자동결제 <span class="txt_price">9,000원</span></span>
					<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="emph_price">4,500</em>원</span>
					<span class="ico_ticket">반값</span>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('AMG0023','')">구매하기</a>
				</div>
			</li>
			<li>
				<strong class="tit_discount">MP3 30곡 다운로드</strong>
				<div class="box_discount">
					<span class="txt_detail">PC/안드로이드앱에서 MP3 30곡 다운로드</span>
					<span class="txt_discount">자동결제 <span class="txt_price">6,000원</span></span>
					<span class="txt_dcprice"><span class="screen_out">할인 가격</span><em class="emph_price">3,000</em>원</span>
					<span class="ico_ticket">반값</span>
					<a href="#none" class="link_purchase"  onclick="javascript:music.mobile.Ticket.buyTicket('MCG0016','')">구매하기</a>
				</div>
			</li>
		</ul>
		<strong class="tit_notice">3개월 특가 할인 안내</strong>
		<ul class="list_notice">
			<li><em class="emph_notice">이용권 구매 시 부가세 10%가 별도 청구됩니다.</em></li>
			<li><em class="emph_notice">3개월 특가 할인 상품은 이용권 구매일로부터 최대 3개월간 할인가격이 적용되며, 4개월차부터 정상가로 결제됩니다.</em></li>
			<li>특가 할인가로 이용 중 상품을 해지하실 경우, 특가 할인상품 구매가 제한되며 정상가로 구매는 가능합니다.</li>
			<li>본 상품은 이용 시작일 기준 7일 이내 청약철회 가능상품입니다. 단, 이용권 구매 후 전곡듣기를 1건이라도 사용하셨거나 다운로드를 1곡이라도 사용 시에는 취소, 환불이 불가능합니다.</li>
			<li>본 프로모션은 사전예고 없이 종료될 수 있습니다.</li>
		</ul>
	</div>
</div>
<!-- 2014-10-13 수정, 추가 페이지 끝 -->

#parse("/velocity/mobileweb/ticket/ticketitem/ticket.vm")
#parse("/velocity/mobileweb/realtimeissue.vm")