<?xml version="1.0" encoding="UTF-8"?>
<index xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="DaumSearchIndexDataSchema.xsd">
#foreach($vclip in $vclipList)
	#if($vclip.svcstatus == '2' && $vclip.artistCount > 0)
	<export type="update" url="http://music.daum.net/vclip/api/indexdata.xml?vclip_id=${vclip.vclipId}#moddttm=${vclip.modDateTime}" lastupdate="$vclip.iso8601ModDateTime" />
	#else
	<export type="del_item" url="http://music.daum.net/vclip/api/indexdata.xml?vclip_id=${vclip.vclipId}#moddttm=${vclip.modDateTime}" lastupdate="$vclip.iso8601ModDateTime" />
	#end
#end	
	<freq unit="minute" time="$command.term_min"></freq>
</index>