<?xml version="1.0" encoding="UTF-8"?>
<VideoList>
	#foreach($vclip in $vclipList)
	<Video id="$vclip.vclipId">
		<title><![CDATA[$!{vclip.title}]]></title>
		<adultyn>$!{vclip.adultYn}</adultyn>
		<svcstatus>$!{vclip.svcstatus}</svcstatus>
		<regdttm>$!{vclip.regDateTime}</regdttm>
		<moddttm>$!{vclip.modDateTime}</moddttm>
		<songid>$!{vclip.song.songId}</songid>
		<tvpotvid>$!{vclip.tvpotVId}</tvpotvid>
		<tvpotprevid>$!{vclip.tvpotPreVId}</tvpotprevid>
		<freeyn>$!{vclip.FreeYn}</freeyn>
		<source><![CDATA[$!{vclip.source}]]></source>
		<neighborid>$!{vclip.neighborid}</neighborid>
		<neighborname><![CDATA[$!{vclip.neighborname}]]></neighborname>
		<entertainmentid>$!{vclip.entertainmentid}</entertainmentid>
		<entertainmentname><![CDATA[$!{vclip.entertainmentname}]]></entertainmentname>
	</Video>
	#end
</VideoList>