<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>인기뮤비</title>
    <id>chart4m</id>
    <updated><![CDATA[$StringUtils.substring($!{command.date},0,4)-$StringUtils.substring($!{command.date},4,6)-$StringUtils.substring($!{command.date},6,8)T00:00:00]]></updated>
	#foreach($vclip in $vclipList)
	<entry>
        <id><![CDATA[$StringUtils.substring($!{command.date},0,4)-$StringUtils.substring($!{command.date},4,6)-$StringUtils.substring($!{command.date},6,8)-$!{vclip.vclipId}]]></id>
      	<title><![CDATA[$!{EscapeUtil.escapeJsonString($!{vclip.title})}]]></title>
      	<link href="$!{ImageUtil.getMobileImageUrl("$!{vclip.mainImage.filePath}", "94x70", "VIDEO", "C")}" rel="enclosure" type="image/jpeg"/>
      	<link
			#if(${vclip.album.albumId} > 0)
				href="http://music.daum.net/album/vclip/list?album_id=$!{vclip.album.albumId}"
			#else
				#foreach($artist in $!{vclip.keyArtistList})
					#if($velocityCount == 1)
					href="http://music.daum.net/artist/vclip/list?artist_id=$!{artist.artistId}"
					#end
				#end
			#end
		/>
        <author>
            <name><![CDATA[
			#foreach($artist in $!{vclip.keyArtistList})
				#if($velocityCount > 1),#end
                    $!artist.name
			#end
			]]></name>
		</author>
	</entry>
	#end
</feed>