<Music>
	<Video>
		<VideoId><![CDATA[$!{vclip.videoId}]]></VideoId>
		<VideoName><![CDATA[$!{vclip.title}]]></VideoName>
		<SongId><![CDATA[$!{vclip.songId}]]></SongId>
		<SongName><![CDATA[$!{vclip.songName}]]></SongName>
		<AlbumId><![CDATA[$!{vclip.albumId}]]></AlbumId>
		<AlbumName><![CDATA[$!{vclip.albumName}]]></AlbumName>
		<AlbumVolumn><![CDATA[$!{vclip.albumVolumn}]]></AlbumVolumn>
		<Artists>
				#foreach($artist in $vclip.keyArtistList)
					<Artist>
						<ArtistId><![CDATA[$!{artist.artistId}]]></ArtistId>
						<ArtistDetailId><![CDATA[$!{artist.artistDetailId}]]></ArtistDetailId>
						<ArtistName><![CDATA[$!{artist.name}]]></ArtistName>
					</Artist>
				#end
			</Artists>
		<AvgScore><![CDATA[]]></AvgScore>
		<ScoreCount><![CDATA[]]></ScoreCount>
		<PlayCount><![CDATA[$!{vclip.playCount}]]></PlayCount>
		<FilePath><![CDATA[$!{vclip.mainImage.filePath}]]></FilePath>
		<ImageContent><![CDATA[$!{vclip.mainImage.content}]]></ImageContent>
		<VideoContent><![CDATA[$!{vclip.content}]]></VideoContent>
		<VClipLinkId><![CDATA[$!{vclip.VClipLinkId}]]></VClipLinkId>
	</Video>
</Music>