## 아티스트의 다른 뮤직비디오 리스트
#if($Dto.artistOtherVideoList.size()>0)
#set($otherVideoList = $Dto.artistOtherVideoList)
#set($otherVideoTitle = "관련")
#set($otherVideoName = "rel")
#else
#set($otherVideoList = $Dto.hotVideoList)
#set($otherVideoTitle = "추천")
#set($otherVideoName = "recom")
#end
## 플레이할 뮤직비디오
#set($playVideo = $Dto.playVideo)

#if( $!{command.searchView} == 'total')
<div class="vt_collection">
#end
<div class="daumSearchQuickView">

	<h1 class="hiddenPhrase">동영상 바로보기</h1>
	<h2 class="hiddenPhrase">동영상</h2>
	<div id="movieClip">
		<script type="text/javascript">
			if( "$!{command.searchView}" == 'total'){
				var videoClip = UI.embedSWF('http://flvs.daum.net/flvPlayer.swf?vid=$!{playVideo.tvpotVId}&smooth=true&autoplay=true&informal=true&bannerMore=true',502,405,{bgcolor:'#fafafa',allowScriptAccess:'always'});
			} else {	// tab
				var videoClip = UI.embedSWF('http://flvs.daum.net/flvPlayer.swf?vid=$!{playVideo.tvpotVId}&smooth=true&autoplay=true&informal=true&bannerMore=true',640,390,{bgcolor:'#fafafa',allowScriptAccess:'always'});
			}
			
		</script>
	</div>
	<div class="infoPanel">
		<h2 class="hiddenPhrase">동영상 정보</h2>
		<div class="clipInfor">
			<p class="tit">
				<a href="/song/songVideo.do?songId=$!{command.songId}&videoId=$!{command.videoId}" title="#escTitle(${playVideo.title}) 뮤직비디오 정보 바로가기" target="_blank">#strCut($!{playVideo.title}, 40)</a>
			</p>
			<dl>
				<dt>날짜</dt>
				<dd>$!CheckDate.makeReleaseDate($!{playVideo.regDateTime})</dd>
				<dd><span>|</span></dd>
				<dt>출처</dt>
				<dd>
					#set($noArtist = false)
					#set($artistDetailId = "")
					#set($artistName = "")
					#foreach($artist in $playVideo.keyArtistList)
						#if( !$!{artist.artistDetailId} || $!{artist.artistDetailId} == 0 )
							#set($noArtist = true)
						#else
							#if($artistDetailId == "")	 ## 여러명일때 첫번째 아티스트만 취급
								#set($artistDetailId = $artist.artistDetailId)
								#set($artistName = $artist.name)
							#end
						#end
					#end
					#if( !$!{noArtist} )
					<a href="http://music.daum.net/artist/video.do?artistDetailId=$!{artistDetailId}" target="_blank" title="Daum뮤직 - #escTitle($!{artistName}) 뮤직비디오 바로가기">Daum 뮤직</a>
					#end
				</dd>
			</dl>
			<p class="albumLink">
				<a href="http://music.daum.net/album/album.do?albumId=$!{Dto.songDetail.albumId}" target="_blank" title="#escTitle($!{Dto.songDetail.albumName}) 앨범 바로가기">앨범 바로가기</a>
			</p>
		</div>
		
		<div id="videoRoll" class="listBody">
			<h2 class="tit $!{otherVideoName}_tit">$!{otherVideoTitle} 뮤직비디오</h2>
			#set($max = 3)
			#set($vidx = 0)		
			
			#foreach($video in $otherVideoList)
				#set($vidx = $vidx + 1)
			<dl>
				<dt><a title="#escTitle(${video.title}) 뮤직비디오 바로보기" href="totalSearchVideo.do?songId=$!{video.songId}&videoId=$!{video.videoId}&searchView=$!{command.searchView}">#strCut($!{video.title}, 30)</a></dt>
				<dd class="image">
					<a href="totalSearchVideo.do?songId=$!{video.songId}&videoId=$!{video.videoId}&searchView=$!{command.searchView}" title="#escTitle(${video.title}) 뮤직비디오 바로보기"><img alt="#escTitle(${video.title})" src="$ImageUtil.getImageUrl("$!{video.mainImage.filePath}", $ImageUtil.VIDEO_70_52)" /></a>
				</dd>
				<dd class="date">$!CheckDate.makeReleaseDate($!{video.regDateTime})</dd>
			</dl>
			#end						 	
			<span class="buttonWrap">
				<p class="navi"><span id="curNavi">0</span>/<span id="totNavi">0</span></p>
				<input type="button" id="vdoPrevBtn" class="naviBtn prevBtn" value="이전" style="display:none;">
				<input type="button" id="vdoNextBtn" class="naviBtn nextBtn" value="다음" style="display:none;">
			</span>

		</div>
	<script type="text/javascript">
		var max = parseInt("$!{max}", 10);	
		var tidx = parseInt("$!{vidx}", 10);
		
		UI.$('totNavi').innerHTML = Math.ceil( tidx / max ); 

		var vdoRoll = new UI.ListRoll("videoRoll",{amount:max, prevId:"vdoPrevBtn", nextId:"vdoNextBtn", listTag:"dl", defaultIdx:0, perGroup:true, loop:true, onoffClass:true});		
		vdoRoll.render = function() {           
            if(this.opt.type == 'display') this.display();
            else this.dataChk();
            
            this.isBtn();
			
			UI.$('curNavi').innerHTML = this.idx + 1; 
        }
		vdoRoll.render(); 
		if(tidx > max) {
			UI.show(vdoRoll.opt.prevId);
			UI.show(vdoRoll.opt.nextId);
		}
	</script>	
	</div>
</div>
#if( $!{command.searchView} == 'total')
</div>
#end
<script charset='utf-8' type='text/javascript' src='http://d1.daumcdn.net/tiara/tracker/tiara.min.js'></script>
<script type='text/javascript'>
	var __pageTracker = {};
    if (typeof __Tiara != 'undefined' && typeof __Tiara.__getTracker != 'undefined') {
        __pageTracker = __Tiara.__getTracker();
    } else {
        __pageTracker.__trackPageview = function() {};
    }
    window.setTimeout('try { __pageTracker.__trackPageview(); } catch(e) {}', 1);
</script>