#if($!{playValidation})
    <result>
    	<play><![CDATA[$!{playValidation}]]></play>
    	<vid><![CDATA[$!{tvpotVId}]]></vid>
    	<message>#if($!{message})<![CDATA[$!{message}]]>#end</message>
    </result>
#else
	<error>
    	<message>#if($!{message})<![CDATA[$!{message}]]>#end</message>
    </error>
#end