#set($album = $song.album)
#set($vclip = $song.vclip)
#set($lyrics = $song.lyrics)
{
	"user" : {
	#if($musicUser)
		"daumId" : "$!{musicUser.daumId}",
		"adultYn" : "$!{musicUser.adultYn}",
		"nameCheck" : "$!{user.data.nameCheck}"
	#elseif($user)
		"daumId" : "$!{user.daumId}",
		"adultYn" : "$!{user.adultYn}"
	#end
	},
	"authorizedPlayVideo" : "$!{authorizedPlayVideo}",
	"song" : {
		"songId" : "$!{song.songId}",
		"typeCd" : "$!{song.typeCd}",
		"title" : "$!{song.title.replaceAll('\"','&quot')}",
		"adultYn" : "$!{song.adultYn}",
		"serviceStatus" : "$!{song.svcstatus}"
	},
	"album" : {
		"albumId" : "$!{album.albumId}",
		"title" : "$!{album.title.replaceAll('\"','&quot')}",
		"volume" : "$!{album.volume}"
	},
	"vclip" : {
		"vclipId" : "$!{vclip.vclipId}",
		"tvpotVId" : "$!{vclip.tvpotVId}",
		"tvpotPreVId" : "$!{vclip.tvpotPreVId}",
		"title" : "$!{vclip.title.replaceAll('\"','&quot')}",
		"HDYn" : "$!{vclip.HDYn}",
		"FreeYn" : "$!{vclip.FreeYn}",
		"adultYn" : "$!{vclip.adultYn}",
		"bbsId" : "$!{vclip.bbsId}",
		"articleId" : "$!{vclip.articleId}",
		"serviceStatus" : "$!{vclip.svcstatus}",
		"filePath" : "$!{vclip.mainImage.filePath}",
		"commentCount" : "$!{commentCount}"
	},
	"lyrics" : {
		"lyricsId" : "$!{lyrics.lyricsId}",
		"lyrics" : "$!{lyrics.lyrics.replaceAll('\r','').replaceAll('\n', '<br />').replaceAll('\"','&quot')}",
		"user" : {
			"userId" : "$!{lyrics.user.userId}",
			"daumId" : "$!{lyrics.user.daumId}",
			"daumName" : "$!{lyrics.user.daumName}"
		}
	},
	"keyArtistList" : [
		#foreach($artist in $artistList)
			#if($foreach.index > 0),#end
			{
				"name" : "$!{artist.name.replaceAll('\"','&quot')}",
				"artistId" : "$!{artist.artistId}"
			}
		#end
	],
	"relationVclipList" : [
		#foreach($vclip in $relationVclipList)
			#if($foreach.index > 0),#end
			{
				"vclipId" : "$!{vclip.vclipId}",
				"tvpotVId" : "$!{vclip.tvpotVId}",
				"tvpotPreVId" : "$!{vclip.tvpotPreVId}",
				"title" : "$!{vclip.title.replaceAll('\"','&quot')}",
				"filePath" : "$ImageUtil.getImageUrl("$!{vclip.mainImage.filePath}", "85x60", "VCLIP", "C")"
			}
		#end
	]
}