{
"serviceid" : "music",
"sectionid" : "video_popularity",
"title" : "뮤직비디오 인기순 목록",
"list" :[
#foreach($vclip in $vclipList)
	#if($vclipList.indexOf($vclip) != 0),#end
{
	"serviceid":"music",
	"sectionid":"video",
	"rank" : "$!{vclip.rank}",
	"vclipid" : "$!{vclip.vclipId}",
	"title" : "$!{EscapeUtil.escapeJsonString($!{vclip.title})}",
	"link" : "http://music.daum.net/album/vclip/detail?album_id=#{vclip.album.albumId}&vclip_id=$!{vclip.vclipId}",
	"etc" : {
    	"artist" : [
    		#set($artistList = $vclip.keyArtistList)
    		#foreach($artist in $artistList)
    			#if($artistList.indexOf($artist) != 0),#end
				{
					"artistdetailid" : "$!{artist.artistId}",
					"artistname" : "${EscapeUtil.escapeJsonString($!{artist.name})}"
				}
    		#end
    	],
    	"tvpotvid" : "$!{vclip.tvpotPreVId}",
    	"albumid" : "$!{vclip.album.albumId}",
    	"albumname" : "${EscapeUtil.escapeJsonString($!{vclip.album.title})}",
    	"thumbnail" : "$!{vclip.mainImage.filePath}"
		}
}
#end
	]
}