<cia>
	<serviceid>music</serviceid>
	<sectionid>video_popularity</sectionid>
	<title>뮤직비디오 운영 목록(다음top에서 사용될 API)</title>
	<list>
	#foreach($vclip in $vclipList)
		<object>
			<serviceid>music</serviceid>
			<sectionid>video</sectionid>
			<itemid>$!{vclip.vclipId}</itemid>
			<title><![CDATA[$!{EscapeUtil.escapeJsonString($!{vclip.title})}]]></title>
			<link><![CDATA[http://music.daum.net/artist/vclip/detail?vclip_id=$!{vclip.vclipId}]]></link>
			<Artists>
				#if($vclip.keyArtistList.size()>0)
					#foreach($artist in $vclip.keyArtistList)
						<Artist>
							<ArtistDetailId><![CDATA[$!{artist.artistId}]]></ArtistDetailId>
							<ArtistName>#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[아티스트없음]]>#end</ArtistName>
							<ArtistDetailUrl>#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</ArtistDetailUrl>
						</Artist>
					#end
				#end
			</Artists>
			<tvpotvid>$!{vclip.tvpotPreVId}</tvpotvid>
			<albumid>$!{vclip.album.albumId}</albumid>
			<albumname><![CDATA[${EscapeUtil.escapeJsonString($!{vclip.album.title})}]]></albumname>
			<thumbnail><![CDATA[$!{vclip.mainImage.filePath}]]></thumbnail>
		</object>
	#end
	</list>
</cia>