<cia>
	<serviceid>music</serviceid>
	<sectionid>video_popularity</sectionid>
	<title>뮤직비디오 인기순 목록</title>
	<list>
	#foreach($vclip in $vclipList)
		<object>
			<serviceid>music</serviceid>
			<sectionid>video</sectionid>
			<itemid>$!{vclip.vclipId}</itemid>
			<title><![CDATA[$!{EscapeUtil.escapeJsonString($!{vclip.title})}]]></title>
			<link><![CDATA[http://music.daum.net/album/vclip/detail?album_id=${vclip.album.albumId}&vclip_id=$!{vclip.vclipId}]]></link>
			<artists>
				<artist>
					<artistDetailId><![CDATA[#if($vclip.keyArtistList.size() > 0)$!{vclip.keyArtistList[0].artistId}#end]]></artistDetailId>
					<artistName><![CDATA[#if($vclip.keyArtistList.size() > 0)$!{vclip.keyArtistList[0].name}#end]]></artistName>
				</artist>
			</artists>
			<tvpotvid>$!{vclip.tvpotPreVId}</tvpotvid>
			<albumid>$!{vclip.album.albumId}</albumid>
			<albumname>${EscapeUtil.escapeJsonString($!{vclip.album.title})}</albumname>
			<thumbnail>$!{vclip.mainImage.filePath}</thumbnail>
		</object>
	#end
	</list>
</cia>