#setter( "devel" "true" )
#setter( "debugmode" "$!request.getParameter('debugmode')" )
#setter( "URI" "$!{requestURI}" )
#setter( "PATH_URI" "$!{requestPathInfo}" )
#setter( "CSS", "http://html.ftdev.daum.net/music_2011/service/_css/music_" )

#set( $musicDomain = "http://music.daum.net")
#set( $musicMobileDomain = "http://m.music.daum.net")
#set( $gaiaDomain = "http://bbs.music.daum.net" )
#set( $gaiaMobileDomain = "http://m.bbs.music.daum.net" )
#set( $biDomain = "https://bill.daum.net" )
#set( $newBiDomain = "https://cash.daum.net" )
#set( $biV2Domain = "https://cash.daum.net" )

#if( $Link.host.indexOf("local") >= 0 || $Link.host.indexOf("sh.m.music.dev.daum.net") > -1)
	#set( $musicDomain = "http://local.music.daum.net")
	#set( $musicMobileDomain = "http://local.m.music.daum.net")
	#set( $gaiaDomain = "http://local.bbs.music.daum.net" )
	#set( $gaiaMobileDomain = "http://local.m.bbs.music.daum.net" )
	#set( $biDomain = "http://test.bill.daum.net" )
	#set( $newBiDomain = "http://test.cash.daum.net" )
	#set( $biV2Domain = "http://test.cash.daum.net" )
#elseif( $Link.host.indexOf("test") >= 0 || $Link.host.indexOf("m.music.dev.daum.net") > -1)
	#set( $musicDomain = "http://test.music.daum.net")
	#set( $musicMobileDomain = "http://test.m.music.daum.net")
	#set( $gaiaDomain = "http://bbs.music.test.daum.net" )
	#set( $gaiaMobileDomain = "http://test.m.bbs.music.daum.net" )
	#set( $biDomain = "http://test.bill.daum.net" )
	#set( $newBiDomain = "http://test.cash.daum.net" )
	#set( $biV2Domain = "http://test.cash.daum.net" )
#elseif( $Link.host.indexOf("stage") > -1)
	#set( $musicDomain = "http://stage.music.daum.net")
	#set( $musicMobileDomain = "http://stage.m.music.daum.net")
	#set( $gaiaDomain = "http://stage.bbs.music.daum.net" )
	#set( $gaiaMobileDomain = "http://stage.m.bbs.music.daum.net" )
#end

#setter( "SERVICE_DOMAIN", $musicDomain)
#setter( "GAIA_DOMAIN", $gaiaDomain)
#setter( "SERVICE_MOBILE_DOMAIN", $musicMobileDomain)
#setter( "GAIA_MOBILE_DOMAIN", $gaiaMobileDomain)
#setter( "BI_DOMAIN", $biDomain)
#setter( "NEW_BI_DOMAIN", $newBiDomain)
#setter( "BI_V2_DOMAIN", $biV2Domain)
