<h2 class="screen_out">뮤직비디오</h2>
<div class="wrap_list_hot">
    <h3 class="screen_out">스페셜</h3>
	#if( $StringUtils.isNotBlank("${motEventTempleteList.get(0).imageUrl}") )
    <div id="wrapPromotion" class="wrap_promo">
    	<a class="bnr_promo" href="${motEventTempleteList.get(0).linkUrl}">
   			<img id="wrapPromotionImg" src="${motEventTempleteList.get(0).imageUrl}" width="978" height="243" alt=""> 
   		</a>
		<span class="wrap_todayno"><input type="checkbox" id="id_todayno" class="inp_todayno"><label for="id_todayno" class="txt_todayno" style="color:$!{motEventTempleteList.get(0).color}">오늘 하루 다시 보지 않기</label></span>
		<input id="closeBtn" class="btn_close" type="button" value="닫기" onclick="javascript:;">
   	</div>
	<script type="text/javascript">
		daum.Music.Video.init({isPromotion:true});
	</script>	
	#end
   	<ul class="list_hot">
	#foreach($vclip in $topVclipList)
   		<li #if($foreach.index == 0)class="fst"#end>
		#*#foreach($artist in $vclip.keyArtistList)
			<a class="thumb_link" href="/artist/vclip/detail?artist_id=$!{artist.artistId}&vclip_id=$!{vclip.vclipId}" title="$!{vclip.title}">
   				<img class="thumb_img" src="$ImageUtil.getImageUrl("$!{vclip.filePath}", $ImageUtil.VIDEO_170_119)" width="320" height="228" alt="">
   				<span class="frame_thumb"></span>
				#if( $!{vclip.tagType} )
					#if( $!{vclip.tagType} == 'NEW' )
						<span class="ico_newdisc"></span>
					#elseif( $!{vclip.tagType} == 'LIVE' )
						<span class="ico_livedisc"></span>
					#else
						<span class="ico_hotdisc"></span>
					#end
				#end
			</a>*#
			#printVideoThumb( $vclip 3 "" "" "" )
    		<span class="wrap_info">
			#foreach($artist in $vclip.keyArtistList)
				#if($foreach.count == 1)
				#printArtistThumb( $!{artist} 1 )
				#end
			#end
				#*<a class="thumb_link" href="/artist/vclip/detail?artist_id=$!{artist.artistId}&vclip_id=$!{vclip.vclipId}" title="$!{vclip.title} - $!{artist.name}">
			
    				<img src="$!{vclip.mainImage.filePath}" width="35" height="35" alt="">
    				<span class="line_thumb"></span>
    			</a>*#
				
    			<span class="txt_info">
    				<span class="wrap_title">
					#printVideoName( $!{vclip} "fw_b txt_title" 23 true )
   					</span>
				##foreach($artist in $vclip.keyArtistList)
					#printArtistName($!{vclip.keyArtistList} "txt_sub" 26 true)
				##end
   				</span>
   			</span>
   		</li>

		
		
		
		
	#end
   	</ul>
</div>	
