
#set($chartType = "$!{command.chart_type}")
#set($genreCd= "$!{command.genre_cd}")
#set($dateKey = "$!{command.date_key}")
#set($date = "$!{command.date}")
#set($pageNo = "$!{command.page_no}")
#set($link = "/chart/recommendsong/list?")

#set($dateKey = "5") ## 추천음악은 5로 지정 - FT에서만 사용됨
## 상단 네비게이션 탭
#printChartNaviTab($chartType $genreCd $dateKey $date $pageNo)
<div class="wrap_cate">
	
	<h3 class="tit_chart tit_recom">추천음악 <em>뮤직 BAR에 소개된 음악의 인기차트입니다.</em></h3>
	
	## 상단 우측 날짜 & 시간 정보	
	#printChartDateInfo($chartType "RECOM" $dateKey $date $pageNo)
</div>

<div class="wrap_tbl_music recom_music">
	
	## 리스트 상단 버튼 set
	<div class="wrap_tool_btn">
		<div class="tool_btn f_l">
		##	#printListButton("song", "controlBtn" "" "")
		#printListButton("song"  "listen" "" "" "")
		</div>
	</div>
	
	## 리스트 테이블 시작
	<div class="bg_thead">
		<input id="allCheck" class="all_chk" type="checkbox">
		<label for="allCheck" class="screen_out">전체선택</label>
	</div>
	<table id="trackContainer" class="tbl_music"> 
		<caption class="screen_out">인기차트 - 추천음악</caption>
		#printListHeader( "chart" )
		<tbody>
		#if($chartSongList.size() > 0)
			#printListItems( "recommend" $chartSongList "" false )
		#else
			<tr class="no_listinfo">
				<td colspan="11">
					<p class="fc_txt">저장된 곡이 없습니다.</p>	
				</td>
			</tr>
		#end
		</tbody>
	</table>
	## 리스트 테이블 끝
	
	## 리스트 하단 버튼 set
	<div class="wrap_tool_btn">
		<div class="tool_btn f_l">
	##		#printListButton("song", "controlBtn" "" "")
		#printListButton("song" "listen" "" "" "")
		</div>
	</div>
	#printSNSList( $chartSongList )
	<script type="text/javascript">
	var controller = new daum.Music.ListPrototype();
	controller.initialize({pageType:'chart', colNum:11});
	
	//new daum.Music.CheckBoxDrag("trackContainer");
	//var checkboxDrag = daum.Music.selectByDrag().init("#trackContainer .track", "col_check");
	
//	daum.Music.List.init( {pageType:'chart', colNum:11} );	// chart : 뮤직비디오 바로보기에 관련동영상 포함 여부
	</script>
</div>

<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>
- 이미지 확인<br/>
---------------------<br/>
개발 체크<br/>
---------------------<br/>
- 페이지당 개수 확인필요합니다 (30개?)
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
	
날짜 : $command.date<br/>
장르코드 : $command.genre_cd<br/>
주간날짜 예시: <br/>
#foreach($dateInfo in $CheckDate.getWeekInfo("201103"))
	$dateInfo.weekNum주  : $dateInfo.startDate~$dateInfo.endDate <br/>
#end
각 링크는 아직 정해지지 않았습니다.
<br/>
#foreach($song in $chartSongList)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범제목 : $song.album.albumId<br/>
	앨범아이디 : $song.album.title<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	피쳐링아티스트 :<br/>
	#foreach($artist in $song.featArtist)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	뮤직바제목 : $song.musicBar.title<br/>
	뮤직바링크 : http://music.daum.net/musicbar/musicbar/detail?board_id=$song.musicBar.boardId<br/>
	<br/>
#end

#end