{
	"albumList" : [
	#foreach($album in $djAlbumList)
		{
			"albumId" : "$!{album.albumId}",
			"title" : "$!{album.title}",
			"volume" : "$!{album.volume}",
			"image" : "$!{album.mainImage.filePath}",
			"genre" : "$!{album.genre.genreGroupName} > $!{album.genre.genreName}",
			"listenYn" : "$!{album.playYn}",
			"masterSong" : [
				#foreach($masterSong in $album.masterSongList)
				{
					"title" : "$!{masterSong.title}",
					"songId" : "$!{masterSong.songId}",
					"listenYn" : #if(${masterSong.AODLinkId}) "Y" #else "N" #end
				}#if($velocityHasNext),#end
				#end
			],
			"releaseDate" : "$!{album.releaseDt}",
			"artist" : [
				#foreach( $artist in ${album.keyArtistList} )
				{
					"id" : "$!{artist.artistId}",
					"title" : "$!{EscapeUtil.escapeJsonString($!{artist.name})}"
				}#if($velocityHasNext),#end
				#end
			],
			"DJId" : "$!{album.recommendDj.djId}",
			"DJimage" : "$!{album.recommendDj.imageUrl}",
			"DJimageCrop" : "$!{ImageUtil.getImageUrl("$!{$album.recommendDj.imageUrl}", "90x90", "PHOTO", "C")}",
			"DJnickName" : "$!{album.recommendDj.nickName}",
			"DJcomments" : "$!{EscapeUtil.escapeJsonString($!{album.recommendDj.comments})}",
			"DJRecommendSongTitle" : "$!{album.recommendDj.songList.get(0).title}",
			"DJRecommendSongId" : "$!{album.recommendDj.songList.get(0).songId}",
			"DJRecommendSongListenYn" : "$!{album.recommendDj.songList.get(0).AODLinkId}",
			"DJRecommendDate" : "$!{album.recommendDj.regdttm}"
		}#if($velocityHasNext),#end
	#end
	]
}

#*

#foreach($album in $djAlbumList)
	앨범아이디 : $album.albumId <br/>
	앨범명 : $album.title <br/>
	앨범볼륨 : $album.volume <br/>
	앨범이미지 : $album.mainImage.filePath <br/>
	앨범장르 : $album.genre.genreGroupName > $album.genre.genreName <br/>
	앨범재생여부 : $album.playYn <br/>
	#foreach($masterSong in $album.masterSongList)
		타이틀곡명 : $masterSong.title <br/>
		타이틀곡아이디 : $masterSong.songId <br/>
		타이틀곡듣기여부 : $masterSong.AODLinkId <br/>
	#end
	발매일 : $album.releaseDt <br/>
	#foreach($artist in $album.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
		아티스트링크 : 아직 형식미정입니다.<br/>
	#end
	추천dj아이디 : $album.recommendDj.djId<br/>
	추천dj이미지 : $album.recommendDj.imageUrl<br/>
	추천dj이미지 : $ImageUtil.getImageUrl("$!{$album.recommendDj.imageUrl}", "90x90", "PHOTO", "C")<br/>
	추천dj명 : $album.recommendDj.nickName<br/>
	추천dj추천평 : $album.recommendDj.comments<br/>
	추천곡명 : $album.recommendDj.songList.get(0).title <br/>
	추천곡아이디 : $album.recommendDj.songList.get(0).songId <br/>
	추천곡듣기여부 : $album.recommendDj.songList.get(0).AODLinkId <br/>
	추천일 : $album.recommendDj.regdttm <br/>
	<br/><br/>
#end

*#
