<div id="daumWrap"><div id="daumPromotion">
	<div id="daumHead">
		<h1>
			<a href="http://www.daum.net/" id="daumLogo">Daum</a>
			<a href="http://music.daum.net/" id="daumServiceLogo">뮤직</a>
		</h1>
	</div><!-- // daumHead -->
	<div id="daumContent">
		<div id="mTop">
			<div class="screen_out">
				<h2>2011년 최고의 인디 뮤지션을 찾아라!</h2>
				<p>선정된 뮤지션에게는 앨범 홍보의 기회를, 참여해주신 100분께는 그린플러그드 레드 공연티켓을 드립니다!</p>
				<dl>
					<dt>이벤트 기간 : </dt>
					<dd>2011년 11월 29일 ~ 2011년 12월 20일</dd>
					<dt>당첨자 발표 : </dt>
					<dd>2011년 12월 22일</dd>
				</dl>
			</div>
			<h3 class="screen_out">INDIE MUSICIAN트</h3>
			<a href="#" onclick="focusChart();return false;" class="link_indie"><span class="screen_out">인디뮤지션 이벤트 참여하기</span></a>
			<div class="screen_out">
				<h4>올해의 인디뮤지션으로 선정되면!</h4>
				<p>1등 선정 뮤지션의 음악활동 지원 (아래 중 택일)</p>
				<dl>
					<dt>1안)</dt>
					<dd>500만원 상당 앨범 CD 구입 & 오프라인 홍보</dd>
					<dt>2안)</dt>
					<dd>앨범 제작 지원금 500만원 제공</dd>
				</dl>
				<h4>한겨울에 떠나는 음악 MT! 그린플러그드 레드!</h4>
				<dl>
					<dt>날짜</dt>
					<dd>2012년 1월 27일 (금)~2012년 1월 28일 (토)</dd>
					<dt>장소</dt>
					<dd>일산 킨텍스</dd>
					<dt>경품</dt>
					<dd>그린플러그드 레드 1일권 (1인 2매)</dd>
				</dl>
			</div>
		</div>
		<div id="mCenter">
			<div class="section_chart">
				<h3 id="chartMusic" class="tit_comm tit_chartsns">01 아래 차트에서 좋아하는 뮤지션을 골라 SNS에 보내주세요. 추첨을 통해 그린프러그드 레드 공연 티켓을 드립니다!</h3>
				<div class="bg_head"></div>
				<table class="tbl_music" summary="게시판의 순위, 앨범, 아티스트, 올해의 대표곡, 이벤트 참여하기, 점수의 정보가 게시됨">
					<caption class="screen_out">인기차트 - 실시간 종합 순위</caption>
					<colgroup>
						<col class="col_rank">
						<col class="col_album">
						<col class="col_artist">
						<col class="col_title">
						<col class="col_grade">
						<col class="col_export">
					</colgroup>
					<thead class="screen_out">
						<tr class="screen_out">
							<th scope="col">순위</th>
							<th scope="col">앨범</th>
							<th scope="col">아티스트</th>
							<th scope="col">올해의 대표곡</th>
							<th scope="col">점수</th>
							<th scope="col">인디뮤지션 이벤트 참여하기</th>
						</tr>
					</thead>
					<tbody>
					#foreach($song in $chartSongList)
					#if( $foreach.index < 30 )
						<tr #if( $foreach.index > 9 )class="hide"#end>
							<td class="col_rank">
								<div class="bg_chart">
                    				#printRankNumber( $!{song.rank} )
                    				<span class="hide">위</span>
                    				<span class="rank_vary">
                    					#printRankChanged( $!{song.modRank} )
                    				</span>
                    			</div>
							</td>
							<td class="col_album">
								#printAlbumThumb( $!{song.album} 1 "" "" )
							</td>
							<td class="col_artist">
								#printArtistName( $!{song.keyArtistList} "" 16 true )
							</td>
							<td class="col_title">
								#printSongName( $!{song} "ico_playlist" 30 true false false)
							</td>
							<td class="col_grade">
								#toCurrency($!{song.freq})점
							</td>
							<td class="col_export">
								<div class="wrap_export_btn">
									<a href="#" class="btn_comm yozm_song" title="요즘으로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'yozm'); return false;">요즘</a>
									<a href="#" class="btn_comm mp_song" title="마이피플로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'mypeople'); return false;">마이피플</a>
									<a href="#" class="btn_comm tw_song" title="트위터로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'twitter'); return false;">트위터</a>
									<a href="#" class="btn_comm cw_song" title="싸이월드로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'nate'); return false;">싸이월드</a>
									<a href="#" class="btn_comm fb_song" title="페이스북으로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'facebook'); return false;">페이스북</a>
									<a href="#" class="btn_comm mt_song" title="미투데이로 보내기" onclick="daum.Music.Social.add('$!{song.songId}', 'me2day'); return false;">미투데이</a>
								</div>
							</td>
						</tr>
					#end
					#end
					</tbody>
				</table>
				<button type="button" class="btn_more" onclick="viewMoreChart(this);"><span class="btn_comm txt_rank">11위~30위까지 보기</span></button>
				<button type="button" class="btn_more more_on hide" onclick="viewShortChart(this);"><span class="btn_comm txt_rank">11위~10위까지 보기</span></button>
			</div>
			<div class="section_event">
				<h3 class="tit_comm tit_event">02 차트에 내가 좋아하는 뮤지션이 없다면, 이렇게 해보세요! 중복 참여가 가능하며 많이 참여할수록 이벤트 당첨확률과 뮤지션 차트순위가 높아집니다.</h3>
				<div class="wrap_tap">
					<div class="tap_cont">
						<h4 class="tit_comm tit_infosns"><a href="#" class="tab" onclick="viewTab(0);return false;">좋아하는 뮤지션 정보를 직접 찾아 SNS에 보내기</a></h4>
						<ol class="list_info bg_sns">
							<li class="screen_out">01. 좋아하는 뮤지션의 아티스트, 앨범, 뮤직비디오, 뮤직BAR, 포토 페이지에서 SNS 보내기 버튼을 클릭해주세요. </li>
							<li class="screen_out">02. 보내기 팝업창에서 덧붙이는 말을 쓰고 보내기 버튼을 클릭하면 이벤트 참여가 완료됩니다.</li>
						</ol>
					</div>
					<div class="tap_cont">
						<h4 class="tit_comm tit_recom"><a href="#" class="tab" onclick="viewTab(1);return false;">내 활동 알림 설정하고 뮤지션 정보 추천하기</a></h4>
						<ol class="list_info bg_recom">
							<li><span class="screen_out">01. MY뮤직 > MY관리 > 내 설정 페이지에서 내 활동 알림을 설정해주세요</span><a href="/my/setting/list" class="ir_pm link_txt" target="_blank">설정 바꾸러 가기</a></li>
							<li class="screen_out">02. 좋아하는 뮤지션의 아티스트, 앨범, 뮤직비디오, 뮤직BAR 페이지에서 추천버튼이나 관심등록 버튼을 클릭해주세요.</li>
						</ol>
					</div>
					<div class="tap_cont">
						<h4 class="tit_comm tit_reply"><a href="#" class="tab" onclick="viewTab(2);return false;">SNS 동시등록 체크하고 감상 댓글 남기기</a></h4>
						<ol class="list_info bg_reply">
							<li class="screen_out">01. 좋아하는 뮤지션의 아티스트, 앨범, 뮤직비디오, 뮤직BAR 페이지에 SNS 동시 등록 체크하고 댓글을 써주세요.</li>
							<li class="screen_out">02. 동시등록 체크한 SNS에 내가 쓴 댓글이 자동 포스팅되며, 이벤트 참여가 완료됩니다</li>
						</ol>
					</div>
				</div>
				<div class="wrap_btn">
					<a href="/genre/genrealbum/list?genre_group_cd=KO&genre_cd=KO11" class="btn_comm btn_indienew">인디 장르 최신앨범 보기</a>
					<a href="/chart/chartsong/list?date_key=4&date=2011111016&genre_cd=INRA" class="btn_comm btn_indiebest">인디 장르 인기차트 보기</a>
				</div>
			</div>
			

#set( $firstIdx = $MathTool.random(0, $djAlbumList.size()) )
#set( $secondIdx = $MathTool.random(0, $djAlbumList.size()) )
#foreach($i in [1..10])
#if( $firstIdx == $secondIdx )
	#set( $secondIdx = $MathTool.random(0, $djAlbumList.size()) )
#else
	#break
#end
#end

#set( $firstDj = $djAlbumList.get($firstIdx) )
#set( $secondDj = $djAlbumList.get($secondIdx) )

			<div class="section_dj">
				<h3 class="tit_comm tit_bardj">03 뮤직BAR DJ들이 강추한 올해의 인디음악은?</h3>
				<ul class="list_review CT_ZONE_DJLIST" id="djWrap">
					<li>
						<div class="wrap_djreview">
							<div class="djreview">
								<a href="/musicbar/djalbum/list?dj_id=$!{firstDj.recommendDj.djId}" title="#escTitle($!{firstDj.recommendDj.nickName})님의 추천평"><img src="$ImageUtil.getImageUrl("$!{firstDj.recommendDj.imageUrl}", "149x101", "PHOTO", "C")" class="img_dj" alt="#escTitle($!{firstDj.recommendDj.nickName})님의 추천평"></a>
								<a href="/musicbar/djalbum/list?dj_id=$!{firstDj.recommendDj.djId}" title="#escTitle($!{firstDj.recommendDj.nickName})님의 추천평" style="text-decoration: none;"><strong class="main_dj_recommend txt_djname">$!{firstDj.recommendDj.nickName}님의 추천평</strong></a>
								<span class="txt_bar">|</span><span class="txt_reviewdate">$!{CheckDate.makeReleaseDate($!{firstDj.recommendDj.regdttm})}</span>
								<p class="txt_djreview">#strCut($!{firstDj.recommendDj.comments}, 200)</p>
							</div>
						</div>
						<div class="wrap_album">
							#printAlbumThumb( $firstDj 2 "" "" )
							<dl class="info">
								<dt class="screen_out">앨범명</dt>
								<dd class="tit_album">
									#printAlbumName($firstDj, "", 12, 1, true)
								</dd>
								<dt class="screen_out">아티스트</dt>
								<dd class="txt_artist">
									#printArtistName($firstDj.keyArtistList, "name_artist", 16, true)
								</dd>
								<dt class="screen_out">발매일</dt>
								<dd class="txt_issuedate">$!{CheckDate.makeReleaseDate($!{firstDj.releaseDt})}</dd>
							</dl>
						</div>
					</li>
					<li>
						<div class="wrap_djreview">
							<div class="djreview">
								<a href="/musicbar/djalbum/list?order_type=DATE&dj_id=$!{secondDj.recommendDj.djId}" title="#escTitle($!{secondDj.recommendDj.nickName})님의 추천평"><img src="$ImageUtil.getImageUrl("$!{secondDj.recommendDj.imageUrl}", "149x101", "PHOTO", "C")" class="img_dj" alt="#escTitle($!{secondDj.recommendDj.nickName})님의 추천평"></a>
								<a href="/musicbar/djalbum/list?order_type=DATE&dj_id=$!{secondDj.recommendDj.djId}" title="#escTitle($!{secondDj.recommendDj.nickName})님의 추천평" style="text-decoration: none;"><strong class="main_dj_recommend txt_djname">$!{secondDj.recommendDj.nickName}님의 추천평</strong></a>
								<span class="txt_bar">|</span><span class="txt_reviewdate">$!{CheckDate.makeReleaseDate($!{secondDj.recommendDj.regdttm})}</span>
								<p class="txt_djreview">#strCut($!{secondDj.recommendDj.comments}, 200)</p>
							</div>
						</div>
						<div class="wrap_album">
							#printAlbumThumb( $secondDj 2 "" "" )
							<dl class="info">
								<dt class="screen_out">앨범명</dt>
								<dd class="tit_album">
									#printAlbumName($secondDj, "", 12, 1, true)
								</dd>
								<dt class="screen_out">아티스트</dt>
								<dd class="txt_artist">
									#printArtistName($secondDj.keyArtistList, "name_artist", 16, true)
								</dd>
								<dt class="screen_out">발매일</dt>
								<dd class="txt_issuedate">$!{CheckDate.makeReleaseDate($!{secondDj.releaseDt})}</dd>
							</dl>
						</div>
					</li>
				</ul>
				<a href="/musicbar/djalbum/list?genre_group_cd=KO&genre_cd=KO11&order_type=RDATE" class="link_more">전체보기</a>
			</div>
			<div class="section_eventinfo">
				<h3 class="tit_comm tit_eventinfo">이벤트 참여 및 점수 집계 안내</h3>
				<ul class="list_eventinfo">
					<li>2010년 12월부터 올해 11월까지 1곡 이상의 인디 장르곡을 발매한 아티스트의 음악정보를 SNS에 보낸 횟수와 음원판매수를 합산하여 누적집계하며, 1시간마다 갱신됩니다.</li>
					<li>SNS에 음악정보 보내기는 Daum뮤직 내 아티스트, 앨범, 포토, 뮤직비디오, 뮤직BAR, 뮤직게시판, 곡리스트에서 모두 가능합니다.</li>
					<li>한 유저당 여러 번 보내기가 가능하며, 보내기 참여수가 높을수록 이벤트 당첨확률이 높아집니다.</li>
					<li>한 음악정보를 계속해서 중복으로 보낸 것은 집계에서 제외합니다.</li>
					<li>그린플러그드 레드 공연티켓은 1인 2매 발급되며, 공연당일 현장에서 본인 확인 후 입장 가능합니다.</li>
					<li>이벤트 당첨자는 2012년 1월 3일 공지사항을 통해 안내드릴 예정입니다.</li>
				</ul>
			</div>
			<div class="section_banner">
				<h3 class="screen_out">배너영역</h3>
				<a href="/musicbar/musicbar/detail?menu_id=4&board_id=2451" class="link_banner fst"><img src="http://i1.daumcdn.net/img-contents/administration/search/111114_music/banner01.gif" width="435" height="94" alt="한겨울에 떠나는 뜨거운 음악 MT"></a>
				#if( $MathTool.toNumber($CheckDate.getCurrentDate()) >= 20111201 ) 
				<a href="/musicbar/musicbar/detail?board_id=2574" class="link_banner">	
				#else
				<a href="javascript:alert('12월 1일부터 오픈됩니다.');" class="link_banner">
				#end	
				<img src="http://i1.daumcdn.net/img-contents/administration/search/111114_music/banner02.gif" width="440" height="94" alt="지금 뮤직BAR에서는 크리스마스 캐롤이 공짜"></a>
			</div>
		</div>
	</div><!-- // daumContent -->
	
	<div id="daumFoot">
		<p class="copyright">Copyright (c) <a href="http://info.daum.net/Daum/index.html?t__nil_copy=daum">Daum Communications</a>. All rights reserved.</p>
	</div><!-- // daumFoot -->
</div></div>

<script type="text/javascript">
var focusChart = function(){
	window.scrollTo(0, 700);
}
// 01 > 더보기
var viewMoreChart = function(btn){
	var trs = daum.$$('.tbl_music tr');
	if( trs.length > 10 ){
    	for( var i=11; i<=30; i++){
    		daum.Element.removeClassName(trs[i],"hide");
    	}
	}
	daum.Element.addClassName(btn, 'hide');
	daum.Element.removeClassName(daum.Element.getNext(btn), 'hide');
}
var viewShortChart = function(btn){
	var trs = daum.$$('.tbl_music tr');
	if( trs.length > 10 ){
    	for( var i=11; i<=30; i++){
    		daum.Element.addClassName(trs[i],"hide");
    	}
	}
	daum.Element.addClassName(btn, 'hide');
	daum.Element.removeClassName(daum.Element.getPrev(btn), 'hide');
	focusChart();
}

// 02 > 탭 on
var tab = daum.$$('.tap_cont');
var curTab = 0;
var viewTab = function(idx){
	daum.Element.removeClassName(tab[curTab], 'on');
	daum.Element.addClassName(tab[idx], 'on');
	curTab = idx;
}
viewTab(daum.random(0,2));

// 03 > DJ display
var djDraw = function( data ){
		return daum.Music.template.djTemplate.evaluate({
			"dj_id" : data.djId,
    		"dj_img" : data.djImg,
    		"dj_name" : data.djName,
    		"review_date" : data.reviewDt,
    		"dj_review" : data.djReview,
    		"album_thumb" : daum.Music.printAlbumThumb( data.album, {type:2} ),
    		"album_title" : daum.Music.printAlbumName( data.album, {type:2, len:12, tag:true} ),
    		"artist" : daum.Music.printArtistName( data.album.keyArtistList, {classname:'f_l',len:16, tag:true} ),
    		"issue_date" : data.releaseDt
    	});
    }
daum.extend( daum.Music.template, {		
		djTemplate : new daum.Template([
			'<li>',
			'	<div class="wrap_djreview">',
			'		<div class="djreview">',
			'			<a href="/musicbar/djalbum/list?dj_id=#{dj_id}" title="#{dj_name}님의 추천평"><img src="#{dj_img}" class="img_dj" alt="#{dj_name}님의 추천평"></a>',
			'			<a href="/musicbar/djalbum/list?dj_id=#{dj_id}" title="#{dj_name}님의 추천평" style="text-decoration: none;"><strong class="main_dj_recommend txt_djname">#{dj_name}님의 추천평</strong></a>',
			'			<span class="txt_bar">|</span><span class="txt_reviewdate">#{review_date}</span>',
			'			<p class="txt_djreview">#{dj_review}</p>',
			'		</div>',
			'	</div>',
			'	<div class="wrap_album">',									 			
            '		#{album_thumb}',
    		'		<dl class="info">',
    		'			<dt class="screen_out">앨범명</dt>',
    		'			<dd class="tit_album">#{album_title}</dd>',
    		'			<dt class="screen_out">아티스트</dt>',
    		'			<dd class="txt_artist">#{artist}</dd>',
    		'			<dt class="screen_out">발매일</dt>',
    		'			<dd class="txt_issuedate">#{issue_date}</dd>',
    		'		</dl>',
    		'	</div>',
    		'</li>'
		].join('') )	
  	});
				
domReady( function(){
    var dtoList = {
    #foreach($song in $chartSongList)
	#if( $foreach.index < 30 )
	#if( $!{song.status} )#set($downloadStatus = $song.status)#end##
    #if( $!{song.song} )#set($song = $song.song)#end##
    	"$!{song.songId}" : {title:"$song.title.replaceAll('\"', '&quot;')", albumId:"$!{song.album.albumId}", thumb : '$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "42x42", "ALBUM")', albumTitle:"$!{song.album.title.replaceAll('\"', '&quot;')}",lyricsYn:"$!{song.lyricsYn}", packageSaleYn:"$!{song.album.packageSaleYn}", adultYn:"$!{song.adultYn}", downloadStatus:"$!{downloadStatus}",AODLinkId:"$!{song.AODLinkId}", MP3LinkId:"$!{song.MP3LinkId}", BGMLinkId:"$!{song.BGMLinkId}",vclipLinkId:"$!{song.vclipLinkId}", svcstatus:"$!{song.svcstatus}",keyArtistList : [#foreach( $artist in $song.keyArtistList ){artistId:"$!{artist.artistId}", artistName:"$!{artist.name.replaceAll('\"', '&quot;')}", name:"$!{artist.name.replaceAll('\"', '&quot;')}", thumb:"$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "42x42", "ALBUM")" }#if($velocityHasNext),#end#end]}
    	
    	#if($foreach.index < 29),#end
	#end
    #end
    };
    daum.Music.DTO.setSong(dtoList);
    dtoList = null;
	
	
	var djList = [
	#foreach($album in $djAlbumList)
		{"album" : {"albumId" : "$!{album.albumId}",
		"title" : "$!{album.title}",
		"volume" : "$!{album.volume}",
		"thumb" : "$ImageUtil.getImageUrl("$!{album.mainImage.filePath}", "72x72", "ALBUM", "C")",
		"playYn" : "$!{album.playYn}",
		"keyArtistList" : [#foreach( $artist in $album.keyArtistList ){artistId:"$!{artist.artistId}", artistName:"$!{artist.name.replaceAll('\"', '&quot;')}", name:"$!{artist.name.replaceAll('\"', '&quot;')}", thumb:"$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "42x42", "ALBUM")" }#if($velocityHasNext),#end#end]},
		"releaseDt" : "$!{CheckDate.makeReleaseDate($!{album.releaseDt})}",
		"djId" : "$!{album.recommendDj.djId}",
		"djImg" : "$ImageUtil.getImageUrl("$!{album.recommendDj.imageUrl}", "149x101", "PHOTO", "C")",
		"djName" : "$!{album.recommendDj.nickName}",
		"djReview" : "#strCut($!{album.recommendDj.comments.replaceAll('\"', '&quot;')}, 200)",
		"reviewDt" : "$!{CheckDate.makeReleaseDate($!{album.recommendDj.regdttm})}"}
		#if($velocityHasNext),#end
	#end
	];	
	
	// 03 > DJ random display
	var firstDj = djList.splice(daum.random(0, djList.length-1), 1)[0];
	var secondDj = djList.splice(daum.random(0, djList.length-1), 1)[0];
	while( firstDj.djId == secondDj.djId || !secondDj ){
		secondDj = djList.splice(daum.random(0, djList.length-1), 1)[0];
	}
	
	djList = null;
	
	console.log(firstDj);
	console.log(secondDj);
	daum.$('djWrap').innerHTML = djDraw( firstDj ) + djDraw( secondDj );
});
</script>

<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->

#if( $StringUtils.equals("$!{command.debugmode}","2") )
<strong>차트</strong><br/>
#foreach($song in $chartSongList)
	#if( $foreach.index < 30 )
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	점수 : $song.freq<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>

	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>

	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	<br/>
	#end
#end
<br/><br/>
<strong>DJ 앨범</strong><br/>
#foreach($album in $djAlbumList)
	-------------------------------------- <br/>
	$foreach.index <br/>
	앨범아이디 : $album.albumId <br/>
	앨범명 : $album.title <br/>
	앨범볼륨 : $album.volume <br/>
	앨범이미지 : $album.mainImage.filePath <br/>
	앨범장르 : $album.genre.genreGroupName > $album.genre.genreName <br/>
	앨범재생여부 : $album.playYn <br/>
	#foreach($masterSong in $album.masterSongList)
		타이틀곡명 : $masterSong.title <br/>
		타이틀곡아이디 : $masterSong.songId <br/>
		타이틀곡듣기여부 : $masterSong.AODLinkId <br/>
	#end
	발매일 : $album.releaseDt <br/>
	#foreach($artist in $album.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
		아티스트링크 : 아직 형식미정입니다.<br/>
	#end
	추천dj아이디 : $album.recommendDj.djId<br/>
	추천dj이미지 : $album.recommendDj.imageUrl<br/>
	추천dj이미지 : $ImageUtil.getImageUrl("$!{$album.recommendDj.imageUrl}", "90x90", "PHOTO", "C")<br/>
	추천dj명 : $album.recommendDj.nickName<br/>
	추천dj추천평 : $album.recommendDj.comments<br/>
	추천곡명 : $album.recommendDj.songList.get(0).title <br/>
	추천곡아이디 : $album.recommendDj.songList.get(0).songId <br/>
	추천곡듣기여부 : $album.recommendDj.songList.get(0).AODLinkId <br/>
	추천일 : $album.recommendDj.regdttm <br/>
	<br/><br/>
#end
#end