#macro(printTopChartMore $text $url)
	<span class="arr_comm link_more"><a href="$url" title="$text">$text</a></span>
#end

#macro(printTop10ChartSongList $songList $className $value)
	#foreach($song in $songList)
		#if ($foreach.index == 0)#set($isFirstHotIssue = true)#else#set($isFirstHotIssue = false)#end
		#set($title = $song.title.replaceAll("\'","&apos;"))
		#set($artistName = $!StringCutUtil.removeTag( "#printArtistName( $!{song.keyArtistList} '' 20 true )") )
		<li id="track$!{song.songId}_$value" class="track #if($isFirstHotIssue)open_direct #end#if(($foreach.index%2)==0)bg_cont #end#if( $StringUtils.isNotBlank("$!{song.hotIssue.issueId}") && $StringUtils.isNotBlank("$!{song.hotIssue.contents}"))hot_issue #end#if($foreach.index==0)noline_under #end#if($foreach.index==9)noline_upper #end">
			<div class="col_check">
				##<span class="section_checkbox">></span>
				##id="allCheck$!{song.songId}" 
				<input class="all_chk" type="checkbox" name="trackCheckbox$value" value="$!{song.songId}"> ##  onclick="return false;"
			</div>
			<div class="col_num">
				#set($index = $foreach.index + 1)
				<span class="num_top num$index"></span>
			</div>
			<div class="col_songinfo">
				<a #if(!$isFirstHotIssue)style="display:none;"#end class="album_type1 CT_ZONE_HOME_SONGLIST_ALBUMTHUMB" href="/album/main?album_id=$!{song.album.albumId}" onclick="daum.Music.albumDetail($!{song.album.albumId});return false;">
            		<img width="42" height="42" alt="이미지정보" src="$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "42x42", "ALBUM")">
            		<span class="bg_album1"></span>
        		</a>
				<span class="col_song">
					<strong class="screen_out">곡명</strong>
					#printSongName( $!{song} "song_name CT_ZONE_HOME_SONGLIST_SONG" 35 true false false )
					#if ($!{song.hotIssue.issueId} && $StringUtils.isNotBlank("$!{song.hotIssue.contents}"))<a title="핫이슈공감" class="btn_comm btn_hot CT_ZONE_HOME_SONGLIST_BTNHOTISSUE" href="javascript:;">&nbsp;</a>#end
				</span>
				<span class="col_artist">
					<strong class="screen_out">아티스트</strong>
					#printArtistName( $!{song.keyArtistList} "CT_ZONE_HOME_SONGLIST_ARTIST" 14 true )
				</span>
				<p #if(!$isFirstHotIssue)style="display:none;"#end class="txt_desc CT_ZONE_HOME_SONGLIST_HOTISSUE_TITLE"><a href="/chart/issuesong/list?issue_id=$!{song.hotIssue.issueId}" title="$!{song.hotIssue.title}">#strCut("$!{song.hotIssue.title}", 55)</a></p>
			</div>
			<div class="col_access">
				#printListItemButton( $!{song.songId} "listen" $!{song.AODLinkId} "" false "" "" "" "" "" "" "")
				##printListItemButton( $!{song.songId} "lyrics" $!{song.lyricsYn} $value "li")
				##<a class="btn_song lyrics_song#if(!$!{song.songId}||!$StringUtils.equals($!{song.lyricsYn},"Y")) lyrics_off#end" href="javascript:;" title="가사 보기" onclick="daum.Music.lyricsDetail('$!{song.songId}');return false;">가사 보기</a>
				#if(!$!{song.songId}||!$StringUtils.equals($!{song.lyricsYn},"Y"))
				<span class="btn_song lyrics_song lyrics_off">가사 보기</span>
				#else
				##<a class="btn_song lyrics_song" href="/chart/chartsong/list?song_id=$!{song.songId}" title="가사 보기">가사 보기</a>
				<a class="btn_song lyrics_song" href="/album/main?album_id=$!{song.album.albumId}&artist_id=#getArtistId($!{song})&song_id=$!{song.songId}" title="가사 보기">가사 보기</a>
				#end
				#printListItemButton( $!{song.album.albumId} "album" "#getArtistId($!{song})" "" "" "" "" "" "" "" "" "" )
				##printListItemButton( $!{song.songId} "video" $!{song.vclipLinkId} 11 "detail" 1 "$!{value}" "li")
				##<a class="btn_song video_song#if(!$!{song.songId}||!$!{song.vclipLinkId}||$StringUtils.equals("$!{song.vclipLinkId}","0")) video_off#end" href="/artist/vclip/detail?artist_id=#getArtistId($!{song})&vclip_id=$!{song.vclipLinkId}" title="뮤직비디오 보기" onclick="daum.Music.videoDetail('$!{song.vclipLinkId}','#getArtistId($!{song})');return false;">뮤직비디오 보기</a>
				#if(!$!{song.songId}||!$!{song.vclipLinkId}||$StringUtils.equals("$!{song.vclipLinkId}","0"))
				<span class="btn_song video_song video_off">뮤직비디오 보기</span>
				#else
				##<a class="btn_song video_song" href="/chart/chartsong/list?vclip_id=$!{song.vclipLinkId}&amp;song_id=$!{song.songId}" title="뮤직비디오 보기">뮤직비디오 보기</a>
				<a class="btn_song video_song" href="/album/main?album_id=$!{song.album.albumId}&artist_id=#getArtistId($!{song})&song_id=$!{song.songId}&vclip_id=$!{song.vclipLinkId}" title="뮤직비디오 보기">뮤직비디오 보기</a>
				#end
				#printListItemButton( $!{song.songId} "my" true "" $!{song.AODLinkId} "" "" "" "" "" "" ""  )
				#printListItemButton( $!{song.songId} "buy_one" "$value" "$!{song.songId}" $!{song.album.albumId} $!{title} $!{artistName} $!{song.album.packageSaleYn} "" "" "" "")
			</div>
			#printListItemButton( $!{song.songId} "mp3" $!{song.MP3LinkId} "N" $!{song.album.packageSaleYn} $!{song.album.albumId} $!{title} $!{artistName} "" "" "" "")
			#printListItemButton( $!{song.songId} "bgm" $!{song.BGMLinkId} "N" "" "" "" "" "" "" "" "")
		</li>
	#end
#*  
<script type="text/javascript">
var l = [];
</script>
 
#foreach($song in $songList)
## 예외 처리
#if( $!{song.song} )
	#set($song = $song.song)
#end	
<script type="text/javascript">
l.push({
	songId : '$!{song.songId}',
	title : '#escScript($!{song.title})',
	artistname : '#escScript("#printArtistName( $!{song.keyArtistList} '' 0 false )")',
	thumb : '$ImageUtil.getImageUrl("$!{song.mainImage.filePath}", "42x42", "ALBUM")'
});
</script>
#end
<script type="text/javascript">
daum.Music.Social.setListData(l);
l = null;
</script>
*#
#end

#macro(printRecommandSonginTop $song $className $value)
		#set($title = $song.title.replaceAll("\'","&apos;"))
		#set($artistName = $!StringCutUtil.removeTag( "#printArtistName( $!{song.keyArtistList} '' 20 true )") )
		<li id="recommand$!{song.songId}_$!{value}" class="recommand bg_cont">
            <span class="ico_comm col_recom">추천</span>
			<div class="col_songinfo">
				<a #if(!$isFirstHotIssue)style="display:none;"#end class="album_type1 CT_ZONE_HOME_SONGLIST_ALBUMTHUMB" href="/album/main?album_id=$!{song.album.albumId}" onclick="daum.Music.albumDetail($!{song.album.albumId});return false;">
            		<img width="42" height="42" alt="이미지정보" src="$ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", "42x42", "ALBUM")">
            		<span class="bg_album1"></span>
        		</a>
				<span class="col_song">
					<strong class="screen_out">곡명</strong>
					#printSongName( $!{song} "song_name CT_ZONE_HOME_SONGLIST_SONG" 35 true false false )
					#if ($!{song.hotIssue.issueId} && $StringUtils.isNotBlank("$!{song.hotIssue.contents}"))<a title="핫이슈공감" class="btn_comm btn_hot CT_ZONE_HOME_SONGLIST_BTNHOTISSUE" href="javascript:;">&nbsp;</a>#end
				</span>
				<span class="col_artist">
					<strong class="screen_out">아티스트</strong>
					#printArtistName( $!{song.keyArtistList} "CT_ZONE_HOME_SONGLIST_ARTIST" 14 true )
				</span>
				<p #if(!$isFirstHotIssue)style="display:none;"#end class="txt_desc CT_ZONE_HOME_SONGLIST_HOTISSUE_TITLE"><a href="/chart/issuesong/list?issue_id=$!{song.hotIssue.issueId}" title="$!{song.hotIssue.title}">#strCut("$!{song.hotIssue.title}", 55)</a></p>
			</div>
			<div class="col_access">
				#printListItemButton( $!{song.songId} "listen" $!{song.AODLinkId} "" false "" "" "" "" "" "" "")
				##printListItemButton( $!{song.songId} "lyrics" $!{song.lyricsYn} $value "li")
				##<a class="btn_song lyrics_song#if(!$!{song.songId}||!$StringUtils.equals($!{song.lyricsYn},"Y")) lyrics_off#end" href="javascript:;" title="가사 보기" onclick="daum.Music.lyricsDetail('$!{song.songId}');return false;">가사 보기</a>
				#if(!$!{song.songId}||!$StringUtils.equals($!{song.lyricsYn},"Y"))
				<span class="btn_song lyrics_song lyrics_off">가사 보기</span>
				#else
				##<a class="btn_song lyrics_song" href="/chart/chartsong/list?song_id=$!{song.songId}&amp;info_type=recommand" title="가사 보기">가사 보기</a>&nbsp;
				<a class="btn_song lyrics_song" href="/album/main?album_id=$!{song.album.albumId}&artist_id=#getArtistId($!{song})&song_id=$!{song.songId}" title="가사 보기">가사 보기</a>
				#end
				#printListItemButton( $!{song.album.albumId} "album" "#getArtistId($!{song})" "" "" "" "" "" "" "" "" "" )
				##printListItemButton( $!{song.songId} "video" $!{song.vclipLinkId} 11 "detail" 1 "$!{value}" "li")
				##<a class="btn_song video_song#if(!$!{song.songId}||!$!{song.vclipLinkId}||$StringUtils.equals("$!{song.vclipLinkId}","0")) video_off#end" href="/artist/vclip/detail?artist_id=#getArtistId($!{song})&vclip_id=$!{song.vclipLinkId}" title="뮤직비디오 보기" onclick="daum.Music.videoDetail('$!{song.vclipLinkId}','#getArtistId($!{song})');return false;">뮤직비디오 보기</a>
				#if(!$!{song.songId}||!$!{song.vclipLinkId}||$StringUtils.equals("$!{song.vclipLinkId}","0"))
				<span class="btn_song video_song video_off">뮤직비디오 보기</span>
				#else
				##<a class="btn_song video_song" href="/chart/chartsong/list?vclip_id=$!{song.vclipLinkId}&amp;song_id=$!{song.songId}&amp;info_type=recommand" title="뮤직비디오 보기">뮤직비디오 보기</a>
				<a class="btn_song video_song" href="/album/main?album_id=$!{song.album.albumId}&artist_id=#getArtistId($!{song})&song_id=$!{song.songId}&vclip_id=$!{song.vclipLinkId}" title="뮤직비디오 보기">뮤직비디오 보기</a>
				#end
				#printListItemButton( $!{song.songId} "my" true "" $!{song.AODLinkId} "" "" "" "" "" "" ""  )
				#printListItemButton( $!{song.songId} "buy_one" "$value" "$!{song.songId}" $!{song.album.albumId} $!{title} $!{artistName} $!{song.album.packageSaleYn} "" "" "" "")
			</div>
			#printListItemButton( $!{song.songId} "mp3" $!{song.MP3LinkId} "N" $!{song.album.packageSaleYn} $!{song.album.albumId} $!{title} $!{artistName} "" "" "" "")
			#printListItemButton( $!{song.songId} "bgm" $!{song.BGMLinkId} "N" "" "" "" "" "" "" "" "")
		</li>
#end


#macro(replaceAmp $string)$!{string.replaceAll('&', '&amp;')}#end

#macro(strCutWithSpace $string $bytes)$StringCutUtil.cutStringRealLength($string,$bytes," . .",0)#end

	## 곡명 (Feat. 피처링 아티스트명) ####################################################################################################
#macro( printTopSongName $song $classname $len $tag $isNoneSongName $unconditional)
#set( $printName  = "")	
#set( $printName = $!{song.title} + $StringUtils.trim("#printFeatArtistName($song)") )##
#htmlTopSongName( $song $classname $len $tag $printName $isNoneSongName $unconditional)
#end

## 곡명 - 아티스트명 ####################################################################################################
#macro( printTopSongArtistName $song $classname $len $tag )
#set($realTag = $tag)
#set($totalLen = $len)
#set($rowatistName = "#printArtistName( $song.keyArtistList '' 0 false )")
#set( $printName = "#printSongName( $song '' 0 false false false )" + " - " + "$StringUtils.trim($rowatistName)")
#htmlTopSongName( $song $classname $totalLen $realTag $printName false false)
#end

## 곡명 프린트
#macro( htmlTopSongName $song $classname $len $tag $printName $isNoneSongName $unconditional)
#if( $len <= 0 )#set( $len = 100 )#end
#if(($StringUtils.isNotBlank("$!{song.AODLinkId}") && !$StringUtils.equals("$!{song.AODLinkId}", "0")) || !!$unconditional)#set($listenAble = true)#else#set($listenAble = false)#end## 
#if($tag)##
#***##if($listenAble)<a href="#" #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname}"#end title="#escTitle($!{printName})" onclick="daum.Music.AodPlayer.add(this,$!{song.songId});return false;">##
#***##strCutWithSpace("$!{printName}", $len)##
#***##else##
#***##if(!$isNoneSongName)##
#***#<span class="ico_nolisten#if($StringUtils.isNotBlank("$!{classname}")) $!{classname}#end" title="$!{printName}">## #if($StringUtils.isNotBlank("$!{classname}"))class="$!{classname} "#end	우선 막음 없는 것들
#***##strCutWithSpace("$!{printName}", $len)##
#***##end##
#***##end##
#***##if($listenAble)</a>#else#if(!$isNoneSongName)</span>#end#end##
#if($StringUtils.equals("$!{song.adultYn}", "Y")) <span class="ico_adult" title="19세 미만 청취 불가">&nbsp;</span>#end##
#else##
#***##strCutWithSpace("$!{printName}", $len)##
#end
#end
