{
		"searchData" : [
#if("$command.target" == "BGM")
    	#foreach($item in $dto.bgmList)
    		#if($foreach.index > 0)
    	,
    		#end
    	{
    		"SongId": "$!{item.songId}",
    		"Title": "$!{StringCutUtil.removeCarriageReturn($!{StringCutUtil.removeTagJSON($!{item.songTitle})})}",
    		"ArtistId": "$!{item.artistId}",
    		"ArtistName": "$!{StringCutUtil.removeCarriageReturn($!{StringCutUtil.removeTagJSON($!{item.artistName})})}",
    		"AlbumId": "$!{item.bgmAlbumId}",
    		"AlbumTitle": "$!{StringCutUtil.removeCarriageReturn($!{StringCutUtil.removeTagJSON($!{item.albumName})})}",
    		"ListenYN" : "$!{item.listenYN}",
    		"LyricsYN" : "$!{item.lyricsYN}",
    		"BlacklistYN" : "$!{item.blacklistYN}",
    		"CorpName" : "$!{item.corpName}",
    		"BgmTrackId" : "$!{item.bgmTrackId}",
    		"ValidBeginDate" : "$!{item.validEndDate}",
    		"ValidEndDate" : "$!{item.validEndDate}",
    		"Lyrics" : "$!{StringCutUtil.carriageReturnReplace($!{StringCutUtil.removeTagJSON($!{StringCutUtil.escapeBackslash($!{StringCutUtil.escapeTab($!{item.lyrics})})})})}",
    		"keyArtistList" : [
    				{
    					"artistId" : "$!{item.artistId}",
    					"name" : "$!{StringCutUtil.removeCarriageReturn($!{StringCutUtil.removeTagJSON($!{item.artistName})})}"
    				}
    		]
    	}	
    	#end 
#else
        	#foreach($item in $dto.bgmResult.documentList)
        		#if($foreach.index > 0)
        	,
        		#end
        	{
        		"SongId": "$!{item.song_id}",
        		"Title": "$!{StringCutUtil.removeCarriageReturn($!{StringCutUtil.removeTagJSON($!{item.song_name})})}",
        		"ArtistId": "$!{item.artist_id}",
        		"ArtistName": "$!{StringCutUtil.removeCarriageReturn(${StringCutUtil.removeTagJSON($!{item.artist_name})})}",
        		"AlbumId": "$!{item.album_id}",
        		"AlbumTitle": "$!{StringCutUtil.removeCarriageReturn(${StringCutUtil.removeTagJSON($!{item.album_name})})}",
        		"ListenYN" : "$!{item.listen_yn}",
        		"LyricsYN" : "$!{item.lyrics_yn}",
        		"BGMSaleStatus" : "$!{item.bgm_yn}",
        		"BgmTrackId" : "$!{item.song_id}",
        		"ValidBeginDate" : "",
        		"ValidEndDate" : "",
        		"Lyrics" : "",
        		"keyArtistList" : [
        		#set($artistList = $item.getKeyArtistList())
        		#foreach($artist in $artistList)
        			#if($foreach.index > 0) , #end
        				{
        					"artistId" : "$!{artist.artistId}",
        					"name" : "$!{StringCutUtil.removeCarriageReturn(${StringCutUtil.removeTagJSON($!{artist.name})})}"
        				}
        		#end
        		]
        	}
        	#end
        #end
        ],
		
    	"pageHandler" : {
        	"page_no": "$!{command.page_no}",
        	"onePageCnt": "$!{dto.ph.onePageCnt}",
        	"oneBlockCnt": "$!{dto.ph.oneBlockCnt}",
        	"totalCnt": "$!{dto.ph.totalCnt}"
        }
}
