#parse("/velocity/common/ua_setting.vm")
<main id="daumContent" class="cont_detail">
    <article id="mArticle">
        <h2 class="screen_out">톡뮤직 상세페이지 본문</h2>
        <div class="detail_intro" style="height: 240px; margin-bottom: 15px;">
            <img src="$!{ImageUtil.getMobileImageUrl("$!{talkDetailContent.imageUrl}", "500x340", "PHOTO", "C")}" class="thumb_visual thumb_top" alt="$!{EscapeUtil.encodeHtmlTag($!{talkDetailContent.title})}" style="-webkit-filter: blur(5px);">
            <div class="info_intro">
                <h3 class="tit_intro">$!{talkDetailContent.title}<br>#if("$!{talkDetailContent.subTitle}" == "")&nbsp;#else$!{talkDetailContent.subTitle}#end</h3>
                <span class="txt_nick">#if("$!{talkDetailContent.writer.nickName}" == "")&nbsp;#else$!{talkDetailContent.writer.nickName}#end</span>
				<span class="date_intro">
					<span class="txt_intro">$!{CheckDate.makeReleaseDate($!{talkDetailContent.regdttm})}</span>
					<span class="txt_bar"> | </span>
					<span class="txt_intro">조회 $!{StringUtil.formatTypeByNumber($!{talkDetailContent.pvCnt})}</span>
				</span>
            </div>
        </div>
	    #foreach($talkEntireContent in $talkEntireContents.boardTempleteList)
		    #if ($talkEntireContent.templeteName == "BA")  ## 텍스트기본
				#printTemplateBA($talkEntireContent)
			#elseif ($talkEntireContent.templeteName == "AI")  ## 통이미지
			    #printTemplateAI($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "AL")  ## 앨범리스트
			    #printTemplateAL($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "SL")  ## 곡리스트
			    #printTemplateSL($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "VL")  ## 동영상뷰어
			    #printTemplateVL($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "PV")  ## 포토뷰어
			    #printTemplatePV($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "PO")  ## 폴리스트
			    #printTemplatePO($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "VC")  ## 1단동영상
			    #printTemplateVC($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "LP")  ## 생중계플레이어
			    #printTemplateLP($talkEntireContent)
		    #elseif ($talkEntireContent.templeteName == "MR")  ## 뮤직룸
                #printTemplateMR($talkEntireContent)
		    #end
	    #end
        <div class="detail_cont detail_share">
            <h4 class="screen_out">sns 공유</h4>
            <strong class="screen_out">sns 공유 목록</strong>
            <div class="info_share">
                <ul class="list_share">
                    <li>
                        <a href="javascript:;" class="ico_comm link_kakao" id="shareKakaotalk" onclick="return daum.Music.Talk.shareSns('kakaotalk');">카카오톡</a>
                    </li>
                    <li>
	                    <a href="javascript:;" class="ico_comm link_kastory" id="shareKakaostory" onclick="return daum.Music.Talk.shareSns('kakaostory');">카카오스토리</a>
                    </li>
                    <li>
	                    <a href="javascript:;" class="ico_comm link_fb" id="shareFacebook" onclick="return daum.Music.Talk.shareSns('facebook');">페이스북</a>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="showShareableSns()" class="ico_comm link_share">기타 공유</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="detail_relation" style="display:none; height:200px">
            <h4 class="screen_out">관련 글 컨텐츠</h4>
            <div id="detail_relation_div">
            </div>
        </div>

        <iframe src="http://bbs.talkmusic.kakao.com/gaia/do/talk/comment/commentList?articleId=$!{talkDetailContent.articleId}&amp;bbsId=$!{talkDetailContent.bbsId}&amp;commentPerCount=5" style="margin-bottom: -7px;" name="commentFrame" id="commentFrame" width="100%" height="105px" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" title="commentFrame"></iframe>
##        <iframe src="http://local.bbs.music.devel.kakao.com:8888/gaia/do/talk/comment/commentList?&articleId=1&bbsId=K001&amp;commentPerCount=5" style="margin-bottom: -7px;" name="commentFrame" id="commentFrame" width="100%" height="105px" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" title="commentFrame"></iframe>

        <div class="dimmed_layer" id="dimmedLayer" onclick="closeShareableSns()" style="display:none"></div>
        <div class="share_layer" id="shareLayer" onclick="closeShareableSns()" style="display:none">
            <div class="inner_share_layer" onclick="dontCloseShareLayer(event)">
                <div class="layer_body">
                    <strong class="screen_out">공유 전체목록</strong>

                    <form name="shareForm" id="shareForm" style="display: none;">
                        <input type="hidden" name="link" id="share_link" value="">
                        <input type="hidden" name="imageUrl" id="share_imageUrl"
                               value="#if($!{talkDetailContent.cropYn} == "Y")$!{ImageUtil.getFaceDetectImageUrl(
						           "$!{talkDetailContent.imageUrl}", "C640x420")}#else$!{ImageUtil.getTenth2ImageUrl(
						           "$!{talkDetailContent.imageUrl}", "C640x340t")}#end">
                        <input type="hidden" name="contentTitle" id="share_contentTitle"
                               value="$!{talkDetailContent.title} $!{talkDetailContent.subTitle}">
                    </form>
                    <ul class="list_share">
                        <li>
                            <a href="javascript:;" class="link_share" id="shareKakaotalk" onclick="return daum.Music.Talk.shareSns('kakaotalk');">
                                <span class="ico_comm ico_kt"></span>
                                <span class="txt_share">카카오톡</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareKakaostory" onclick="return daum.Music.Talk.shareSns('kakaostory');">
                                <span class="ico_comm ico_ks"></span>
                                <span class="txt_share">카카오스토리</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareFacebook" onclick="return daum.Music.Talk.shareSns('facebook');">
                                <span class="ico_comm ico_fb"></span>
                                <span class="txt_share">페이스북</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareTwitter" onclick="return daum.Music.Talk.shareSns('twitter');">
                                <span class="ico_comm ico_tw"></span>
                                <span class="txt_share">트위터</span>
                            </a>
                        </li>
##                        <li>
##                            <a href="javascript:;"  class="link_share" id="shareMail" onclick="return daum.Music.Talk.shareSns('mail');">
##                                <span class="ico_comm ico_mail"></span>
##                                <span class="txt_share">메일</span>
##                            </a>
##                        </li>
                        <li>
                            <a href="javascript:;" class="link_share" id="shareUrl" onclick="shareUrl();">
                                <span class="ico_comm ico_url"></span>
                                <span class="txt_share">URL</span>
                            </a>
                        </li>
                    </ul>
                    <div class="box_address" id="urlShare" style="z-index:9998;">
                        <label class="screen_out" for="urlAdd">공유 URL</label>
                        <input type="text" id="urlAdd" class="inp_address" style="z-index:9999;">
                        <p class="desc_url">URL공유시 전체 선택하여 복사하세요</p>
                    </div>
                </div>
                <script src="http://m1.daumcdn.net/svc/original/U03/cssjs/socialshare/socialshare-1.7.4.min.js"></script>
            </div>
            <div class="layer_foot">
                <a href="javascript:;" onclick="closeShareableSns()" class="btn_close"><span class="ico_comm ico_close">닫기</span></a>
            </div>
        </div>
    </article>
</main>

<script type="text/javascript">
    var lastWidth = $(window).width();
    var lastHeight = $(window).height();
    $(window).resize(function(){
        if($('#shareLayer').css('display') == 'block' && ($(window).width() != lastWidth || $(window).height() != lastHeight)){
            closeShareableSns();
            showShareableSns();
            lastWidth = $(window).width();
            lastHeight = $(window).height();
        }
    });

    #foreach($talkEntireContent in $talkEntireContents.boardTempleteList)
        #if ($talkEntireContent.templeteName == "PV")
            #printTemplatePVData($talkEntireContent)
        #end
    #end

    var relation_items = [];
    #foreach($relatedTalkContent in $relatedTalkContents)
    relation_items.push({
        toHTML: function () {
            var hotInfo  = '<a href="/talk/detail/$!{relatedTalkContent.menuId}/$!{relatedTalkContent.boardId}" class="link_relation">';
            hotInfo += '<img src="$!{ImageUtil.getTenth2ImageUrl("$!{relatedTalkContent.imageUrl}", "C270x180")}" width="135" height="90" class="thumb_relation" alt="$!{EscapeUtil.encodeHtmlTag($!{relatedTalkContent.title})}">';
            hotInfo += '<span class="info_relation">';
            hotInfo += '<strong class="tit_relation">$!{relatedTalkContent.title}#if("$!{relatedTalkContent.subTitle}" != "") $!{relatedTalkContent.subTitle}#end</strong>';
            hotInfo += '</span>';
            hotInfo += '<span class="txt_relation">$!{CheckDate.makeReleaseDate($!{relatedTalkContent.regdttm})}</span>';
            hotInfo += '</a>';
            return hotInfo;
        }
    });
    #end

    jQuery(document).ready(function () {

        daum.Music.Talk.useFooter();

        if (relation_items.size() > 0) {
            jQuery(".detail_relation").show();
            var dataSource = new slide.DataSource(relation_items);
            var option = {
                panelType: slide.FIXED,
                panelWidth: 140,
                threshold: 20,
                gestureRatio: 1
            };
            var slider = new slide.Slide(jQuery("#detail_relation_div").get(0), dataSource, option);
        }
    });

    $(window).load(function(){
        var relationSilde = jQuery("#detail_relation_div :first-child").attr('id');
        jQuery("#"+relationSilde).css({"margin-top":"15px", "margin-right":"0px", "margin-bottom":"15px", "margin-left":"7px"});

	    // 투표 결과를 돌려줄때
        switch ("$!{resultCode}") {
            case "DUPLICATED" :
                message = "이미 투표하셨습니다.";
                alert(message);
                break;
            case "SUCCESS" :
                message = "투표 완료하였습니다.";
                alert(message);
                break;
            case "FAILURE" :
                message = "투표 실패하였습니다. 다시 시도 해주세요.";
                alert(message);
                break;
            case "NODATE" :
                message = "투표기간이 아닙니다.";
                alert(message);
                break;
        }

    });

    function pollVoteForTalk(diff, diff2, pollSeq, radioButton) {
        if(diff2 < 0) {
            alert("투표 시작일이 아닙니다.");
            return;
        }
        if(diff > 0) {
            alert("투표 기간이 종료됐습니다.");
            return;
        }
        var menuId =  $!{talkDetailContent.menuId};
        var boardId = $!{talkDetailContent.boardId};
	    var pollId =  $('input[name="' + radioButton+ '"]:checked').val();

        if(!pollId) {
            alert("항목을 선택하신 후 투표해주세요.");
        } else {
            var jsonUrl = "/talk/pollRegist.json";
            var param = "board_id=" + boardId + "&poll_seq=" + pollSeq + "&poll_id=" + pollId + "&menu_id=" + menuId;

            var opt = {
                paramString : param,
                method : "POST",
                onsuccess : showVoteMessageForTalk,
                onfailure : showErrorMessageForTalk
            };
            new daum.Ajax().request(jsonUrl, opt);
        }
    }

    //폴형 투표 후 상황 js  -> responseCode = resultCode|pollSeq|pollId
    function showVoteMessageForTalk(res) {
        var menuId =  $!{talkDetailContent.menuId};
        var boardId = $!{talkDetailContent.boardId};

        try {
            var responseCode = res.responseText.split("|");
            switch (responseCode[0]) {
                case "LOGIN_REQUIRED" :
                    var URL = "https://accounts.kakao.com/login";
                    var returnUrl = location.protocol + "//" + location.host + "/talk/pollRegistAfterLogin?board_id=" + boardId + "&poll_seq=" + responseCode[1] + "&poll_id=" + responseCode[2] + "&menu_id=" + menuId;
                    if(confirm("먼저 로그인 하셔야 합니다.\n로그인 페이지로 이동 하시겠습니까?")){
                        var loginUrl = URL+"?continue="+ escape(returnUrl);
                        location.replace(loginUrl);
                        return true;
                    }
                    return false;
                case "DUPLICATED" :
                    message = "이미 투표하셨습니다.";
                    alert(message);
                    break;
	            case "SUCCESS" :
                    $('#voteMusic' +responseCode[1]+'_'+responseCode[2]).prop("checked", false);

                    message = "투표 완료하였습니다.";
                    alert(message);

                    var loginYn = $('#vote' +responseCode[1]).val();
		            if(loginYn == "Y"){
	                    // change class
	                    $('#voteButton' +responseCode[1]).removeClass('btn_voting1');
	                    $('#voteButton' +responseCode[1]).addClass('link_result2');
	                    $('#voteResult' +responseCode[1]).removeClass('link_result2');
	                    $('#voteResult' +responseCode[1]).addClass('btn_voting1');
                    }
                    break;
                case "FAILURE" :
                    message = "투표 실패하였습니다. 다시 시도 해주세요.";
                    alert(message);
                    break;
                case "NODATE" :
                    message = "투표기간이 아닙니다.";
                    alert(message);
                    break;
            }
        } catch(e) {
            showErrorMessageForTalk();
        }
    }

    //폴형 결과 보기 js
    function showPollResultForTalk(diff2, pollSeq){
        if(diff2 < 0) {
            alert("투표 시작일이 아닙니다.");
            return;
        }

        var menuId = $!{talkDetailContent.menuId};
        var boardId = $!{talkDetailContent.boardId};

        document.location.href = "/talk/pollResult.popup?menuId=" + menuId + "&boardId=" + boardId + "&pollSeq=" + pollSeq;
    }

    function showErrorMessageForTalk() {
        alert("데이터를 불러오는데 실패하였습니다. 잠시 후 다시 이용해주세요.");
    }

    function showShareableSns(){
        $('body').bind('touchmove', function(e){e.preventDefault()});
        $('body').css('overflow', 'hidden');

        $('#nav').hide();
        $('#dimmedLayer').show();
        $('#shareLayer').show();

        $('#dimmedLayer').css("top", $(window).scrollTop());
        $('#shareLayer').css("top", $(window).scrollTop());

	    var share_layer = 200;  //해당 default 영역
        $('.inner_share_layer').css('top', ($(window).height() - share_layer)/2);
	}

    function dontCloseShareLayer(e){
        if (!e) e = window.event;
        e.stopPropagation();
    }

    function closeShareableSns(){
        $('body').unbind('touchmove');
        $('body').css('overflow', 'auto');

        $('#dimmedLayer').hide();
        $('#shareLayer').hide();
        $('#nav').show();

        $("#urlShare").removeClass("address_open");
        $("#urlAdd").val("");
    }

    function shareUrl(){
	    $("#urlShare").addClass("address_open");
	    $("#urlAdd").val(window.location.href);
    }

    function isOldIE() {
        if (util.userAgent().ua.indexOf("msie 7") > 0 || util.userAgent().ua.indexOf("msie 8") > 0 || util.userAgent().ua.indexOf("msie 9") > 0) {
            return true;
        }
        return false;
    }

    function playerUrl(serviceUserId, trackId) {
        #if($StringUtils.isNotBlank("$!{user.userId}"))
            jQuery.ajaxSetup({
                async: false
            });
            jQuery.getJSON( "/talk/api/playerUrl.json", "serviceUserId="+serviceUserId+"&trackId="+trackId, function( data ) {
                jQuery.each(data, function( key, val ) {
                    if (data.playerUrl != "") {
                        window.open(data.playerUrl,"privacyWindow","width=760,height=580,resizable=no,scrollbars=no,status=no,toolbar=no");
                        jQuery.ajaxSetup({
                            async: true
                        });
                    } else {
                        alert("재생정보가 올바르지 않습니다.");
                    }
                });
            });
        #else
            if(confirm("카카오뮤직 로그인이 필요합니다. 로그인 하시겠습니까?")) {
                location.href = "https://accounts.kakao.com/login?continue=#getter('URI')";
            }
        #end
    }

    function launchMusicApp(uri) {
        var protocol = uri.substring(0, uri.indexOf("://"));
        var uriPath = uri.substring(uri.indexOf("://") + 3, uri.indexOf("?"));
        var storeURL = util.userAgent().os.android ? "market://details?id=com.kakao.music" : "itms-apps://itunes.apple.com/app/id696690152";
        var param = uri.substring(uri.indexOf("?") + 1, uri.length);
        var urlScheme = getUrlScheme(protocol, uriPath, param, "com.kakao.music");
        var intentUri = getIntentUri(protocol, uriPath, param, "com.kakao.music");
        daumtools.web2app({
            urlScheme: urlScheme,
            intentURI: intentUri,
            storeURL: storeURL,
            appName: "",
            onUnsupportedEnvironment: function () {
            }
        });
    }

    function getUrlScheme(scheme, uriPath, param, pkg) {
        var str = scheme + "://" + uriPath;
        if (jQuery.trim(param) != "") {
            str += "?" + jQuery.trim(param);
        }
        return str;
    }

    function getIntentUri(scheme, uriPath, param, pkg) {
        var str = "intent://" + uriPath;
        if (jQuery.trim(param) != "") {
            str += "?" + param;
        }
        str += "#Intent;scheme=" + scheme + ";package=" + pkg + ";end";
        return str;
    }

    var gvTimeStamp = $timestamp;
    var __TiaraObject = __TiaraObject || {};
    if ('undefined' === typeof __TiaraObject.startTime) {
        __TiaraObject.startTime = new Date();
    }

    _tiq.push(['__setSection', 'talkmusic#detail']);
    _tiq.push(['__setPageName', 'detail']);
    _tiq.push(['__setParam', 'puid', gvTimeStamp]);
    _tiq.push(['__setParam', 'svcdomain', 'talkmusic.kakao.com']);
    _tiq.push(['__setConfig',
        {enablePageshow: true, enableButton: false, enableHash: true, enableScroll:true}
    ]);

    _tiq.push(['__clickOn']);
    _tiq.push(['__trackPageview']);

    //content tiara
    jQuery(function() {
        var ua = navigator.userAgent.toLowerCase();
        var isIOS = /iP[ao]d|iPhone/i.test(ua);
        var contentStat = function() {
            _tiq.push(['__content', 't_content', {
                        "c_id":"$!{talkDetailContent.boardId}",
                        "c_title":"$!{talkDetailContent.title} $!{talkDetailContent.subTitle}",
                        "type":"article",
                        "cg_id":"$!{talkDetailContent.groupBoardId}",
                        "cg_title":"$!{talkDetailContent.subTitle}",
                        "category":"$!{talkDetailContent.menuName}",
                        "author":"$!{talkDetailContent.writer.nickName}",
                        "author_id":"$!{talkDetailContent.writer.djId}",
                        "regdate":"$!{CheckDate.makeAPIDateTime($!{talkDetailContent.regdttm})}",
                        "plink":"http://talkmusic.kakao.com/talk/detail/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}",
                        "image":"$!{talkDetailContent.imageUrl}",
                        "media":"mweb",
                        "comment_cnt":"$!{talkDetailContent.replyCount}",
                        "subscribe_cnt":"$!{talkDetailContent.pvCnt}",
                        "duration": new Date().getTime() - __TiaraObject.startTime.getTime()
                    }
                    ]
            );
        };
        contentStat();
//        jQuery(window).on(isIOS ? "pagehide" : "beforeunload", contentStat);
    });

</script>
