<main id="daumContent">
    <article id="mArticle">
        <div class="quiz_result">
            <strong class="screen_out">퀴즈 결과 확인</strong>
            <div class="thumb_result">
                <span class="ico_comm ico_end">end</span>
                <img src="$!{ImageUtil.getFaceDetectImageUrl("$!{talkQuizAddInfo.quizImage}", "C300x280")}"  class="thumb_g" style="width:94px;height:94px">
                <span class="ico_comm ico_smart"></span>
            </div>
            <p class="desc_result">
	            #if($!{loginStatus})
                    $!{nicName} 님,<br/>
		        #else
                    &nbsp;<br/>
	            #end
                당신의 점수는 <span class="num_result">$!{grade}</span>점입니다.
            </p>
            <div class="info_result">
                <span class="txt_result"><span class="txt_get">$!{rank}등</span><span class="txt_bar">|</span>$!{totalCount}명 참여</span>
            </div>
            <div class="btn_move">
                <a href="javascript:showShareableSns();" class="link_move link_type1">공유하기</a>
	            #if("$!{talkQuizAddInfo.showAnswerYn}" == "Y" && $!{loginStatus})
                    <a href="/talk/quizAnswer/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}" class="link_move link_type2">정답보기</a>
	            #end
            </div>
        </div>
        <div class="graph_rank" style="display: none">
##            <strong class="tit_graph">내친구 랭킹</strong>
##            <ol class="info_graph">
##                <li class="graph_comm graph_on"> <!-- 1,2,3위에 graph_on 클래스 추가 -->
##                    <div class="thumb_poll"><img src="/mobile-2014/mobile/kakaomusic_prj_150304/images/thumb_visual08.jpg" class="thumb_vote" alt= "에이핑크 " style="width:40px;height:40px"></div>
##                    <div class="info_poll">
##				    		<span class="score_info">
##					    		<em class="emph_rank">1<span class="screen_out">위</span></em>
##							    <span class="txt_rate">카카오 엄마</span>
##							    <span class="txt_vote">100점 <span class="txt_bar"> | </span> 전체 265등</span>
##						    </span>
##                    </div>
##                </li>
##                <li class="graph_comm graph_on"> <!-- 1,2위에 graph_on 클래스 추가 -->
##                    <div class="thumb_poll"><img src="/mobile-2014/mobile/kakaomusic_prj_150304/images/thumb_visual08.jpg" class="thumb_vote" alt= "에이핑크 " style="width:40px;height:40px"></div>
##                    <div class="info_poll">
##				    		<span class="score_info">
##					    		<em class="emph_rank">2<span class="screen_out">위</span></em>
##						    	<span class="txt_rate">아빠</span>
##						    	<span class="txt_vote">98점 <span class="txt_bar"> | </span> 전체 2,265등</span>
##						    </span>
##                    </div>
##                </li>
##                <li class="graph_comm graph_on"> <!-- 1,2위에 graph_on 클래스 추가 -->
##                    <div class="thumb_poll"><img src="/mobile-2014/mobile/kakaomusic_prj_150304/images/thumb_visual08.jpg" class="thumb_vote" alt= "에이핑크 " style="width:40px;height:40px"></div>
##                    <div class="info_poll">
##				    		<span class="score_info">
##					    		<em class="emph_rank">3<span class="screen_out">위</span></em>
##						    	<span class="txt_rate">그게나야</span>
##						    	<span class="txt_vote">50점 <span class="txt_bar"> | </span> 전체 4,565등</span>
##						    </span>
##                    </div>
##                </li>
##                <li class="graph_comm">
##                    <div class="thumb_poll"><img src="/mobile-2014/mobile/kakaomusic_prj_150304/images/thumb_visual08.jpg" class="thumb_vote" alt= "에이핑크 " style="width:40px;height:40px"></div>
##                    <div class="info_poll">
##				    		<span class="score_info">
##					    		<em class="emph_rank">4<span class="screen_out">위</span></em>
##						    	<span class="txt_rate">위로</span>
##						    	<span class="txt_vote">45점 <span class="txt_bar"> | </span> 전체 58,865등</span>
##						    </span>
##                    </div>
##                </li>
##                <li class="graph_comm">
##                    <div class="thumb_poll"><img src="/mobile-2014/mobile/kakaomusic_prj_150304/images/thumb_visual08.jpg" class="thumb_vote" alt= "에이핑크 " style="width:40px;height:40px"></div>
##                    <div class="info_poll">
##				    		<span class="score_info">
##					    		<em class="emph_rank">5<span class="screen_out">위</span></em>
##						    	<span class="txt_rate">Goodbye sun</span>
##						    	<span class="txt_vote">26점 <span class="txt_bar"> | </span> 전체 289,565등</span>
##						    </span>
##                    </div>
##                </li>
##            </ol>
        </div>



        <div class="dimmed_layer" id="dimmedLayer" onclick="closeShareableSns()" style="display:none"></div>
        <div class="share_layer" id="shareLayer" onclick="closeShareableSns()" style="display:none">
            <div class="inner_share_layer" onclick="dontCloseShareLayer(event)">
                <div class="layer_body">
                    <strong class="screen_out">공유 전체목록</strong>

                    <form name="shareForm" id="shareForm" style="display: none;">
                        <input type="hidden" name="link" id="share_link" value="http://talkmusic.kakao.com/talk/quiz/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}">
                        <input type="hidden" name="imageUrl" id="share_imageUrl"
                               value="#if($!{talkDetailContent.cropYn} == "Y")$!{ImageUtil.getFaceDetectImageUrl(
                                   "$!{talkDetailContent.imageUrl}", "C640x420")}#else$!{ImageUtil.getTenth2ImageUrl(
                                   "$!{talkDetailContent.imageUrl}", "C640x340t")}#end">
                        <input type="hidden" name="contentTitle" id="share_contentTitle"
                               value="$!{talkDetailContent.title} $!{talkDetailContent.subTitle}">
                    </form>
                    <ul class="list_share">
                        <li>
                            <a href="javascript:;" class="link_share" id="shareKakaotalk" onclick="return daum.Music.Talk.shareSns('kakaotalk');">
                                <span class="ico_comm ico_kt"></span>
                                <span class="txt_share">카카오톡</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareKakaostory" onclick="return daum.Music.Talk.shareSns('kakaostory');">
                                <span class="ico_comm ico_ks"></span>
                                <span class="txt_share">카카오스토리</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareFacebook" onclick="return daum.Music.Talk.shareSns('facebook');">
                                <span class="ico_comm ico_fb"></span>
                                <span class="txt_share">페이스북</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="link_share" id="shareTwitter" onclick="return daum.Music.Talk.shareSns('twitter');">
                                <span class="ico_comm ico_tw"></span>
                                <span class="txt_share">트위터</span>
                            </a>
                        </li>
                    ##                        <li>
                    ##                            <a href="javascript:;"  class="link_share" id="shareMail" onclick="return daum.Music.Talk.shareSns('mail');">
                    ##                                <span class="ico_comm ico_mail"></span>
                    ##                                <span class="txt_share">메일</span>
                    ##                            </a>
                    ##                        </li>
                        <li>
                            <a href="javascript:;" class="link_share" id="shareUrl" onclick="shareUrl();">
                                <span class="ico_comm ico_url"></span>
                                <span class="txt_share">URL</span>
                            </a>
                        </li>
                    </ul>
                    <div class="box_address" id="urlShare" style="z-index:9998;">
                        <label class="screen_out" for="urlAdd">공유 URL</label>
                        <input type="text" id="urlAdd" class="inp_address" style="z-index:9999;">
                        <p class="desc_url">URL공유시 전체 선택하여 복사하세요</p>
                    </div>
                </div>
                <script src="http://m1.daumcdn.net/svc/original/U03/cssjs/socialshare/socialshare-1.7.4.min.js"></script>
            </div>
            <div class="layer_foot">
                <a href="javascript:;" onclick="closeShareableSns()" class="btn_close"><span class="ico_comm ico_close">닫기</span></a>
            </div>
        </div>

    </article>
</main>

<script type="text/javascript">
    if("$!{talkQuizAddInfo.quizTitle}" != ""){
        jQuery("#quizTitle").text("$!{talkQuizAddInfo.quizTitle}");
    }

    function showShareableSns(){
        $('body').bind('touchmove', function(e){e.preventDefault()});
        $('body').css('overflow', 'hidden');

        $('#nav').hide();
        $('#dimmedLayer').show();
        $('#shareLayer').show();

        $('#dimmedLayer').css("top", $(window).scrollTop());
        $('#shareLayer').css("top", $(window).scrollTop());

        var share_layer = 200;  //해당 default 영역
        $('.inner_share_layer').css('top', ($(window).height() - share_layer)/2);
    }

    function dontCloseShareLayer(e){
        if (!e) e = window.event;
        e.stopPropagation();
    }

    function closeShareableSns(){
        $('body').unbind('touchmove');
        $('body').css('overflow', 'auto');

        $('#dimmedLayer').hide();
        $('#shareLayer').hide();
        $('#nav').show();

        $("#urlShare").removeClass("address_open");
        $("#urlAdd").val("");
    }

    function shareUrl(){
        $("#urlShare").addClass("address_open");
        $("#urlAdd").val($("#share_link").val());
    }

</script>