<main id="daumContent" class="cont_detail">
    <article id="mArticle">
        <div id="contents_slide" style="position: relative; min-height: 500px;"></div>
        <div class="paging_quiz" style="max-width:640px; left: 0; right:0; margin: auto;">
            <div class="inner_paging">
                <span class="paging_num"><span class="screen_out">현재페이지</span><span class="num_page">1</span> <span class="txt_bar">/</span> <span class="screen_out">전체페이지</span> $!{talkQuizContents.totalQuizCount}</span>
                <button class="btn_page btn_prev"><span class="txt_page txt_type3">이전</span></button> <!-- 이전 페이지가 없을 경우 button태그를 span태그로 변경 부탁 드립니다. -->
                <button class="btn_page btn_next">#if($!{talkQuizContents.totalQuizCount} == 1)<span class="txt_page txt_type2">완료#else<span class="txt_page txt_type1"> 다음#end</span></button>
            </div>
        </div>
    </article>
</main>

<script type="text/javascript">
	if("$!{talkQuizAddInfo.quizTitle}" != ""){
        jQuery("#quizTitle").text("$!{talkQuizAddInfo.quizTitle}");
    }

    var items = [];
    #foreach($quizContent in $talkQuizContents.boardTempleteList)
    items.push({
        toHTML: function () {

            var hotInfo  = '<div class="quiz_detail_height" quizSeq="$!quizContent.quizSeq">';
            #if ("$!{quizContent.quizImage}" == "")  ##짧은문장형
                    hotInfo += '<div class="quiz_detail">';
                    hotInfo += '<input type="hidden" name="hintUrl" value="$!{quizContent.hint}">';
                    hotInfo += '<input type="hidden" name="hintBoardIdSequence" value="$!{quizContent.boardId}_${velocityCount}">';
                    hotInfo += '<div class="info_question">';
                    hotInfo += '<div class="inner_question">';
                #if("$!{isQuizAnswer}" != "true" && "$!{quizContent.hint}" != "")
                    hotInfo += '<a href="javascript:quizHint();" class="thumb_hint">';
                    hotInfo += '<span class="ico_comm ico_hint">hint</span>';
                    hotInfo += '<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{talkQuizAddInfo.quizImage}", "C300x280")}" width="60" height="60" class="thumb_g">';
                    hotInfo += '</a>';
                #end
                    hotInfo += '<strong class="tit_question"><span class="ico_comm ico_question">Q.</span>$!{EscapeUtil.encodeHtmlTag($!{quizContent.quizTitle})}</strong>';
                    hotInfo += '</div>';
                    hotInfo += '</div>';
                #if("$!{quizContent.quizList[0].quizImageUrl}" != "")
                    hotInfo += '<ul class="list_answer1 #if($!isQuizAnswer == "true")list_correct#end">';
                    #foreach($quiz in $quizContent.quizList)
                        hotInfo += '<li #if($!isQuizAnswer == "true" && $quizContent.answer == $velocityCount)class="correct_answer"#end>';
                        hotInfo += '<label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">';
                        hotInfo += '<span class="thumb_answer">';
                        hotInfo += '<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{quiz.quizImageUrl}", "C300x280")}" class="thumb_g" alt="$!{EscapeUtil.encodeHtmlTag($!{quiz.quizItem})}">';
                        hotInfo += '</span>';
                        hotInfo += '<span class="txt_answer">$!{quiz.quizItem}</span>';
                        hotInfo += '</label>';
                        hotInfo += '<input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" value="$!{velocityCount}" class="ico_comm inp_answer">';
                        hotInfo += '</li>';
                    #end
                    hotInfo += '</ul>';
                #else
                    hotInfo += '<ul class="list_answer2 #if($!isQuizAnswer == "true")list_correct#end">';
                    #foreach($quiz in $quizContent.quizList)
                        hotInfo += '<li #if($!isQuizAnswer == "true" && $quizContent.answer == $velocityCount)class="correct_answer"#end>';
                        hotInfo += '<input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" value="$!{velocityCount}" class="ico_comm inp_answer">';
                        hotInfo += '<label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">';
                        hotInfo += '<span class="txt_answer">$!{quiz.quizItem}</span>';
                        hotInfo += '</label>';
                        hotInfo += '</li>';
                    #end
                    hotInfo += '</ul>';
                #end
                    hotInfo += '</div>';

            #else ##이미지형

                    hotInfo += '<div class="quiz_detail quiz_type2">';
                    hotInfo += '<input type="hidden" name="hintUrl" value="$!{quizContent.hint}">';
                    hotInfo += '<input type="hidden" name="hintBoardIdSequence" value="$!{quizContent.boardId}_${velocityCount}">';
                    hotInfo += '<div class="thumb_question">';
                    hotInfo += '<img src="$!{ImageUtil.getMobileImageUrl("$!{quizContent.quizImage}", "640x0", "PHOTO", "R")}" class="thumb_visual">';
                    hotInfo += '</div>';
                    hotInfo += '<div class="bg_question">';
                #if($!isQuizAnswer != "true" && "$!{quizContent.hint}" != "")
                    hotInfo += '<a href="javascript:quizHint();" class="thumb_hint" style="margin-top: -40px;">';
                    hotInfo += '<span class="ico_comm ico_hint">hint</span>';
                    hotInfo += '<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{talkQuizAddInfo.quizImage}", "C300x280")}" width="60" height="60" class="thumb_g">';
                    hotInfo += '</a>';
                #end
                    hotInfo += '<strong class="tit_question"><span class="ico_comm ico_question">Q.</span>$!{EscapeUtil.encodeHtmlTag($!{quizContent.quizTitle})}</strong>';
                    hotInfo += '</div>';
                #if("$!{quizContent.quizList[0].quizImageUrl}" != "")
                    hotInfo += '<ul class="list_answer1 #if($!isQuizAnswer == "true")list_correct#end">';
                    #foreach($quiz in $quizContent.quizList)
                        hotInfo += '<li #if($!isQuizAnswer == "true" && $quizContent.answer == $velocityCount)class="correct_answer"#end>';
                        hotInfo += '<label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">';
                        hotInfo += '<span class="thumb_answer">';
                        hotInfo += '<img src="$!{ImageUtil.getFaceDetectImageUrl("$!{quiz.quizImageUrl}", "C300x280")}" class="thumb_g" alt="$!{EscapeUtil.encodeHtmlTag($!{quiz.quizItem})}">';
                        hotInfo += '</span>';
                        hotInfo += '<span class="txt_answer">$!{quiz.quizItem}</span>';
                        hotInfo += '</label>';
                        hotInfo += '<input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" value="$!{velocityCount}" class="ico_comm inp_answer">';
                        hotInfo += '</li>';
                    #end
                    hotInfo += '</ul>';
                #else
                    hotInfo += '<ul class="list_answer2 #if($!isQuizAnswer == "true")list_correct#end">';
                    #foreach($quiz in $quizContent.quizList)
                        hotInfo += '<li #if($!isQuizAnswer == "true" && $quizContent.answer == $velocityCount)class="correct_answer"#end>';
                        hotInfo += '<input type="radio" id="ans$!{quizContent.quizSeq}_${velocityCount}" name="ans_$!{quizContent.quizSeq}" value="$!{velocityCount}" class="ico_comm inp_answer">';
                        hotInfo += '<label class="lab_answer" for="ans$!{quizContent.quizSeq}_${velocityCount}">';
                        hotInfo += '<span class="txt_answer">$!{quiz.quizItem}</span>';
                        hotInfo += '</label>';
                        hotInfo += '</li>';
                    #end
                    hotInfo += '</ul>';
                #end
                    hotInfo += '</div>';
            #end

            #if($!talkQuizAddInfo.progressStatus == "END")

                hotInfo += '<div class="graph_check">';
                hotInfo += '<strong class="tit_graph">정답체크 비율</strong>';
                hotInfo += '<ol class="info_graph">';
                #foreach($quiz in $quizContent.quizList)
                    hotInfo += '<li class="graph_comm #if($quizContent.answer == $velocityCount)check_on#end">';
                    #if("$!{quizContent.quizList[0].quizImageUrl}" != "")
                        hotInfo += '<div class="thumb_poll"><img src="$!{ImageUtil.getFaceDetectImageUrl("$!{quiz.quizImageUrl}", "C300x280")}" class="thumb_vote" alt= "" style="width:40px;height:40px"></div>';
                    #end
                    hotInfo += '<div class="info_poll">';
                    hotInfo += '<span class="score_info">';
                    hotInfo += '<span class="txt_rate">$!{quiz.quizItem}</span>';
                    hotInfo += '<span class="txt_vote">$!{quiz.quizPerc}% <span class="txt_bar"> | </span> $!{quiz.quizCount}표 획득</span>';
                    hotInfo += '</span>';
                    hotInfo += '<span class="box_graph">';
                    hotInfo += '<span style="width:$!{quiz.quizPerc}%" class="bar_g"></span>';
                    hotInfo += '</span>';
                    hotInfo += '</div>';
                    hotInfo += '</li>';
                #end
                hotInfo += '</ol>';
                hotInfo += '</div>';

            #end

            hotInfo += '</div>';
            return hotInfo;

        }
    });
    #end

    var screenHeight = 0;
    var currentIndex = 0;
    var quizValue = {};
	var lastQuiz = false;

    var dataSource = new slide.DataSource(items);
    var option = {
        gestureThreshold: 9999
    };

    #if($!isQuizAnswer == "true")
        var talkQuizUserRequestMap = $!{talkQuizUserRequestMap};
    #end

    jQuery(document).ready(function() {

        if (isOldIE()) {
            jQuery.each(items, function(index, obj) {
                jQuery("#contents_slide").append(obj.toHTML());
            });
            jQuery(".thumb_hint").remove();
            jQuery(".paging_num").remove();
            jQuery(".btn_prev").remove();
            jQuery(".txt_page").eq(0).html("완료");
            jQuery(".btn_next").click(function() {
                oldIESubmit();
            });

            return;
        }

        var talkQuizHint = jQuery.cookie("talkQuizHint") != undefined ? jQuery.cookie("talkQuizHint").split("_") : null;
        var talkQuizHintSeq = 0;

        if(talkQuizHint != null && talkQuizHint[0] == '$!{talkQuizAddInfo.boardId}' && talkQuizHint[1] != '') {
            talkQuizHintSeq = talkQuizHint[1];
            quizValue = JSON.parse(jQuery.cookie('talkQuiz'));
        } else {
            jQuery.cookie("talkQuiz", "", {path : "/"});
        }
        jQuery.cookie("talkQuizHint", "", {path : "/"});

        var slider = new slide.Slide(jQuery("#contents_slide").get(0), dataSource, option);
        slider.on('slide:after', function _slideAfter(type) {
            slideAfter();
        });

        if (talkQuizHintSeq != 0) {
            slider.setIndex(talkQuizHintSeq - 1);
            slideAfter();
        }

        #if($!isQuizAnswer == "true")
            var cookieValueRequestMap = talkQuizUserRequestMap[jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").attr("quizSeq")];
            jQuery(".panel[aria-hidden='false']").find("input[type='radio']").eq(cookieValueRequestMap - 1).attr("checked", true);
        #end

        jQuery(".btn_prev").click(function() {
            var checkedValue = jQuery(".panel[aria-hidden='false']").find("input[type='radio']:checked").val();
            if (checkedValue != undefined) {
                quizWriteCookie(checkedValue);
            }
            slider.prev(1);
        });

        jQuery(".btn_next").click(function() {
            var checkedValue = jQuery(".panel[aria-hidden='false']").find("input[type='radio']:checked").val();
            #if($!isQuizAnswer != "true")
                if (checkedValue == undefined) {
                    alert("정답을 체크해 주세요");
                    return false;
                }
            #end

            quizWriteCookie(checkedValue);
            slider.next(1);
	        if(lastQuiz){
                var returnUrl = location.protocol + "//" + location.host;
		        #if("$!{isQuizAnswer}" == "true")
                    location.replace(returnUrl + "/talk/quiz/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}");
	            #elseif("$!{talkQuizAddInfo.svcStatus}" == "7")
                    location.replace(returnUrl + "/talk/quiz/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}?svcStatus=7");
                #else
                    location.replace(returnUrl + "/talk/quizResult/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}");
                #end

	        }
        });
    });

    jQuery(window).load(function() {
        if (!isOldIE()) {
            screenHeight = jQuery(window).height() - 41;
            quizDetailHeight();
        }
    });

    function slideAfter() {
        currentIndex = dataSource.getIndex();

        quizDetailHeight();

        if (util.userAgent().platform != 'mobile') {
            jQuery(document).scrollTop(0);
        } else {
            jQuery(document).scrollTop(41);
        }

        lastQuiz = false;
        jQuery(".num_page").html(dataSource.getIndex() + 1);
        jQuery(".txt_page").eq(1).html("다음");
        if(currentIndex == 0){
            jQuery(".txt_page").eq(0).removeClass("txt_type1");
            jQuery(".txt_page").eq(0).addClass("txt_type3");
        }else{
            jQuery(".txt_page").eq(0).removeClass("txt_type3");
            jQuery(".txt_page").eq(0).addClass("txt_type1");
        }
        if (currentIndex == items.length - 1) {
            jQuery(".txt_page").eq(1).removeClass("txt_type1");
            jQuery(".txt_page").eq(1).addClass("txt_type2");
            jQuery(".txt_page").eq(1).html("완료");
            lastQuiz = true;
        }

        var cookieJsonValue = JSON.parse(jQuery.cookie('talkQuiz'));
        #if($!isQuizAnswer == "true")
            cookieJsonValue = talkQuizUserRequestMap;
        #end
        var cookieValue = cookieJsonValue[jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").attr("quizSeq")];
        jQuery(".panel[aria-hidden='false']").find("input[type='radio']").eq(cookieValue - 1).attr("checked", true);
        jQuery.cookie("talkQuizHint", "", {path : "/"});
    }

    function quizWriteCookie(checkedValue) {
        quizValue[jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").attr("quizSeq")] = checkedValue;
        jQuery.cookie('talkQuiz', JSON.stringify(quizValue), {path : "/"});
    }

    function quizDetailHeight() {
        if (screenHeight < jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").height()) {
            #if($!isQuizAnswer == "true")
                jQuery("#contents_slide").height(jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").height() + 48);
            #else
                jQuery("#contents_slide").height(jQuery(".panel[aria-hidden='false']").find(".quiz_detail_height").height() + 60);
            #end

        } else {
            jQuery("#contents_slide").height(screenHeight + 120);
        }
    }

    function quizHint(link, value) {
        var checkedValue = jQuery(".panel[aria-hidden='false']").find("input[type='radio']:checked").val();
        if (checkedValue != undefined) {
            quizWriteCookie(checkedValue);
        }

        var hintUrl = jQuery(".panel[aria-hidden='false']").find("input[name='hintUrl']").val();
        var hintBoardIdSequence = jQuery(".panel[aria-hidden='false']").find("input[name='hintBoardIdSequence']").val();

        jQuery.cookie("talkQuizHint", hintBoardIdSequence, {path : "/"});
        location.href = hintUrl;
    }

    function isOldIE() {
        if (util.userAgent().ua.indexOf("msie 7") > 0 || util.userAgent().ua.indexOf("msie 8") > 0 || util.userAgent().ua.indexOf("msie 9") > 0) {
            return true;
        }
        return false;
    }

    function oldIESubmit() {
        #if("$!{isQuizAnswer}" == "true")
            window.location.href = "/talk/quiz/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}";
        #else
            jQuery(".quiz_detail_height").each(function(index, obj) {
                var checkedValue = jQuery(obj).find("input[type='radio']:checked").val();
                if (checkedValue == undefined) {
                    jQuery('html, body').animate({
                        scrollTop: jQuery(obj).offset().top
                    }, 1000);
                    alert("퀴즈 문항을 체크해 주세요");
                    return false;

                } else {
                    quizValue[jQuery(obj).attr("quizSeq")] = checkedValue;
                    jQuery.cookie('talkQuiz', JSON.stringify(quizValue), {path : "/"});

                }
                window.location.href = "/talk/quizResult/$!{talkQuizAddInfo.menuId}/$!{talkQuizAddInfo.boardId}"
            });
        #end
    }

</script>