<main id="daumContent">
    <article id="mArticle">
        <div class="quiz_entry">
            <div class="inner_entry" style="overflow: hidden;">
                <strong class="tit_entry #if("$!{quizInfo.titleAlign}" == "CENTER") tit_bot#end"><p class="detail_content_title">$!{talkDetailContent.title}</p><p class="detail_content_title">$!{talkDetailContent.subTitle}</p></strong>
                <img id="quiz_image" src="$!{ImageUtil.getMobileImageUrl("$!{quizInfo.quizImage}", "640x0", "PHOTO", "R")}">
                <div class="info_entry" style="margin-left: -135px; width: 240px;">
                    <dl class="quiz_term" style="margin-bottom: 6px;">
                        <dt class="txt_term" style="padding-top: 1px;">기간</dt>
                        <dd class="date_term">$!{CheckDate.makeReleaseDate($!{quizInfo.quizStartDate})} ~ $!{CheckDate.makeReleaseDate($!{quizInfo.quizEndDate})}</dd>
                    </dl>
                    <p class="desc_info">
                       $!{quizInfo.quizInfo}
                    </p>
                </div>
                <div class="btn_entry">
	                #if("$!{talkDetailContent.svcStatus}" == "7")
		                #set ($quizAnswer = "/talk/quizAnswer/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}?svcStatus=7")
		                #set ($quizResult = "/talk/quizResult/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}?svcStatus=7")
		                #set ($quizDetail = "/talk/quizDetail/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}?svcStatus=7")
		            #else
			            #set ($quizAnswer = "/talk/quizAnswer/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}")
			            #set ($quizResult = "/talk/quizResult/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}")
			            #set ($quizDetail = "/talk/quizDetail/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}")
	                #end

	                #if("$!{talkDetailContent.progressStatus}" == "END" && $!{quizRanking} > 0)   ## 퀴즈 종료 + 퀴즈 참여
                        <a href="$quizResult" class="link_entry link_type3">내 퀴즈 랭킹</a>
		                <a href="$quizAnswer" class="link_entry link_type1">정답보기</a>
	                #elseif("$!{talkDetailContent.progressStatus}" == "END")   ## 퀴즈 종료 + 퀴즈 미참여
                        <a href="javascript:;" class="link_entry link_type2" style="cursor :default;" >내 퀴즈 랭킹</a>
                        <a href="$quizAnswer" class="link_entry link_type1">정답보기</a>
	                #elseif($!{quizRanking} > 0)   ## 퀴즈 참여함
                        <a href="$quizResult" class="link_entry link_type1">내 퀴즈 랭킹</a>
                        <a href="javascript:;" class="link_entry link_type2" style="cursor :default;" >퀴즈 풀기</a>
	                #elseif("$!{talkDetailContent.progressStatus}" == "ING")  ## 퀴즈 진행중
                        <a href="javascript:;" class="link_entry link_type2" style="cursor :default;">내 퀴즈 랭킹</a>
                        <a href="$quizDetail" class="link_entry link_type1" >퀴즈 풀기</a>
	                #else
		                #if("$!{talkDetailContent.svcStatus}" == "7")
	                        <a href="$quizResult" class="link_entry link_type1">내 퀴즈 랭킹</a>
	                        <a href="$quizDetail" class="link_entry link_type1">퀴즈 풀기</a>
		                #else
                            <a href="javascript:;" class="link_entry link_type2" style="cursor :default;">내 퀴즈 랭킹</a>
                            <a href="javascript:;" class="link_entry link_type2" style="cursor :default;">퀴즈 풀기</a>
		                #end
	                #end
                </div>
            </div>
        </div>
    </article>
</main>

<script type="text/javascript">
    if("$!{quizInfo.quizTitle}" != ""){
        jQuery("#quizTitle").text("$!{quizInfo.quizTitle}");
    }

    jQuery.cookie("talkQuiz", "", {path : "/"});
    jQuery.cookie("talkQuizHint", "", {path : "/"});

    jQuery(window).load(function() {
        if (util.userAgent().platform == 'mobile') {
            jQuery(".inner_entry").height(jQuery(window).height() - 63);
            if (jQuery(".inner_entry").width() < jQuery("#quiz_image").width()) {
               jQuery("#quiz_image").css("left", -((jQuery("#quiz_image").width() - jQuery(".inner_entry").width()) / 2));
            } else {
                jQuery("#quiz_image").css("width", "100%");
                jQuery("#quiz_image").css("height", "");
            }
        }
    });

    jQuery(document).ready(function() {
        jQuery(".detail_content_title").wordBreakKeepAll();
        jQuery(".desc_info").wordBreakKeepAll();
        if (util.userAgent().platform == 'mobile') {
            jQuery("#quiz_image").css("height", "100%");
            jQuery("#quiz_image").css("display", "block");
            jQuery("#quiz_image").css("position", "absolute");
            jQuery("#quiz_image").css("z-index", "-1");
        } else {
            jQuery("#quiz_image").css("width", "100%");
            jQuery("#quiz_image").css("display", "block");
        }
    });

    /*!
     * jQuery word-break keep-all Plugin
     * ver 1.3.0
     *
     * Copyright 2012, Ahn Hyoung-woo (mytory@gmail.com)
     * Dual licensed under the MIT or GPL Version 2 licenses.
     * http://jquery.org/license
     *
     * https://github.com/mytory/jquery-word-break-keep-all
     * http://mytory.co.kr/archives/2801
     *
     * Date: 2013-09-04
     */

    jQuery.fn.wordBreakKeepAll = function(option) {
        var is_there_end_angle_bracket = function(str){
            return str.lastIndexOf('<') < str.lastIndexOf('>');
        };

        var is_there_start_angle_bracket = function(str){
            return str.lastIndexOf('>') < str.lastIndexOf('<');
        };

        var is_there_no_angle_bracket = function(str){
            //only -1
            return str.lastIndexOf('>') == str.lastIndexOf('<');
        };

        var defaultOption = {
            OffForIE: false, // If IE, turn off plugin.
            useCSSonIE: true // on IE, use CSS word-break: keep-all
        };

        var opt = $.extend(defaultOption,option);

        if( /MSIE/.test(navigator.userAgent) && opt.OffForIE == false && opt.useCSSonIE == true){
            var addWordBreakKeepAll = function(obj){
                $(obj).css({
                    'word-break': 'keep-all',
                    'word-wrap': 'break-word'
                });
                if($(obj).css('display') == 'inline'){
                    $(obj).css('display','block');
                }
            };
        }else if( ! /MSIE/.test(navigator.userAgent) || /MSIE/.test(navigator.userAgent) && opt.OffForIE == false && opt.useCSSonIE == false ){
            var addWordBreakKeepAll = function(obj){

                var html = $(obj).html();

                // to store line break
                html = html.replace(/(\r\n|\n|\r)/gm, ' ＃＆＊＠§ ');

                // .html() 로 집어 넣었을 때, 여는 태그만 있으면 브라우저가 자동으로 닫는 태그를 집어 넣기 때문에 <,>를 다 없앤다.
                var textArr = html.split(' ');

                // remove empty array
                textArr = textArr.filter(function(e){return e;});
                $(obj).text('');
                var skip = false;
                var full_str = '';

                for(var i=0,j=textArr.length; i<j; i++){
                    var str = textArr[i];

                    /*
                     * 태그가 닫히고 끝났으면 일단 이놈은 적용하지 않고 다음 놈부터 skip = false;
                     * 태그가 열리고 끝났으면 skip = true;
                     * 태그가 없는 경우 특별히 skip을 조정하지 않는다. 태그 안의 속성도 글자만 있을 수 있다.
                     *
                     * nowrap 적용할 경우 : 태그가 없다 and skip == false
                     * nowrap 적용 안 하는 경우 : 태그가 있는 경우 or skip == true
                     *
                     * skip = true 로 변경하는 경우 : 지금 태그가 열린 경우
                     * skip = false 로 변경하는 경우 : 지금 태그가 닫힌 경우
                     */
                    if(skip == false && is_there_no_angle_bracket(str) &&  str.indexOf('＃＆＊＠§') == -1 ){
                        full_str += '<span style="white-space: nowrap">'+str+'</span> ';
                    }else{
                        full_str += str + ' ';
                    }

                    if(is_there_start_angle_bracket(str)){
                        skip = true;
                    }
                    if(is_there_end_angle_bracket(str)){
                        skip = false;
                    }
                };
                $(obj).html(full_str.replace(/＃＆＊＠§/g, "\n"));
            };
        }
        return this.each(function(){
            addWordBreakKeepAll(this);
        });
    };

    var gvTimeStamp = $timestamp;
    var __TiaraObject = __TiaraObject || {};
    if ('undefined' === typeof __TiaraObject.startTime) {
        __TiaraObject.startTime = new Date();
    }

    _tiq.push(['__setSection', 'talkmusic#quiz']);
    _tiq.push(['__setPageName', 'quiz']);
    _tiq.push(['__setParam', 'puid', gvTimeStamp]);
    _tiq.push(['__setParam', 'svcdomain', 'talkmusic.kakao.com']);
    _tiq.push(['__setConfig',
        {enablePageshow: true, enableButton: false, enableHash: true, enableScroll:true}
    ]);

    _tiq.push(['__clickOn']);
    _tiq.push(['__trackPageview']);

    //content tiara
    jQuery(function() {
        var ua = navigator.userAgent.toLowerCase();
        var isIOS = /iP[ao]d|iPhone/i.test(ua);
        var contentStat = function() {
            _tiq.push(['__content', 't_content', {
                        "c_id":"$!{talkDetailContent.boardId}",
                        "c_title":"$!{talkDetailContent.title} $!{talkDetailContent.subTitle}",
                        "type":"article",
                        "cg_id":"$!{talkDetailContent.groupBoardId}",
                        "cg_title":"$!{talkDetailContent.subTitle}",
                        "category":"$!{talkDetailContent.menuName}",
                        "author":"$!{talkDetailContent.writer.nickName}",
                        "author_id":"$!{talkDetailContent.writer.djId}",
                        "regdate":"$!{CheckDate.makeAPIDateTime($!{talkDetailContent.regdttm})}",
                        "plink":"http://talkmusic.kakao.com/talk/quiz/$!{talkDetailContent.menuId}/$!{talkDetailContent.boardId}",
                        "image":"$!{talkDetailContent.imageUrl}",
                        "media":"mweb",
                        "comment_cnt":"$!{talkDetailContent.replyCount}",
                        "subscribe_cnt":"$!{talkDetailContent.pvCnt}",
                        "duration": new Date().getTime() - __TiaraObject.startTime.getTime()
                    }
                    ]
            );
        };
        contentStat();
//        jQuery(window).on(isIOS ? "pagehide" : "beforeunload", contentStat);
    });
</script>