    <article id="mArticle">
        <div class="error_info">
            <div style="text-align: center;">
                <img src="http://cfile36.uf.daum.net/image/26670F4655387F8D216AD8" style="width:68px; height:68px;"/>
            </div>
            <strong class="tit_error">지금 로그인 해주세요.</strong>
            <p class="desc_error">
                1.로그인을 하면 퀴즈 정답을 볼 수 있어요 (정답 비공개 퀴즈는 예외)<br>
                2.이벤트가 있을 경우, 꼭 로그인을 해야만 응모가 가능해요!<br>
            </p>
            <div class="btn_move">
                <a href="javascript:kakaoLogin();" class="link_move link_type1">로그인 후 제출</a>
                <a href="javascript:nonLogin();" class="link_move link_type2">그냥제출</a>
            </div>
        </div>
    </article>

    <script type="text/javascript">
        var URL = "https://accounts.kakao.com/login";
        function kakaoLogin() {
            var loginUrl = URL+"?continue="+ escape(window.location);
            location.replace(loginUrl);
        }

        function nonLogin() {
            location.replace(window.location+"?nonLogin=Y");
        }
    </script>