<main id="daumContent" class="cont_layer">
    <article id="mArticle">
        <div class="photo_cont">
            <div class="cont_photo">
                <strong class="tit_photo desc_layer">Photo view</strong>
                <div id="contents_slide">
                </div>
            </div>
            <p class="desc_photo desc_layer">
                <em class="num_desc_text">1.</em> <span class="desc_photo_text"></span>
            </p>
            <div class="box_info desc_layer">
                <div class="paging_photo">
                    <span class="page_number"><span class="screen_out">현재페이지</span><span class="num_page">1</span> <span class="txt_bar">/</span> $viewer.photoList.size()</span>
                    <button class="btn_prev" type="button"><span class="ico_comm">이전</span></button>
                    <button class="btn_next on" type="button"><span class="ico_comm">다음</span></button>
                </div>
            </div>
            <a href="javascript:history.go(-1);" class="link_close desc_layer"><span class="ico_comm ico_close"></span></a>
        </div>
    </article>
</main>

<script type="text/javascript">
    jQuery(document).ready(function () {

        var viewContent = true;
        var items = [];
        #foreach($photo in $viewer.photoList)
            items.push({
                toHTML: function() { return '<div class="wrap_thumb_gradient wrap_thumb" style="height:100%;"><img src="$!{ImageUtil.getMobileImageUrl("$!{photo.filePath}", "640x0", "PHOTO", "R")}" alt="" style="width:100%; position: absolute; top: 0; bottom:0; left: 0; right:0; margin: auto; z-index: -1;"></div>'; }
            });
        #end

        var items_text = [];
        #foreach($photo in $viewer.photoList)
            items_text.push('$!{EscapeUtil.encodeHtmlTag($!{photo.imageComment})}');
        #end

        var currentIndex = $!{imgorder};
        var dataSource = new slide.DataSource(items);
        var option = {};
        var slider = new slide.Slide(jQuery("#contents_slide").get(0), dataSource, option);

        if (isOldIE()) {
            slider.on('next', function _slideAfter(type) {
                jQuery(".wrap_thumb_gradient").find("img").css("z-index", "0");
                jQuery(".wrap_thumb_gradient").height(jQuery(".cont_photo").height());
            });

            slider.on('prev', function _slideAfter(type) {
                jQuery(".wrap_thumb_gradient").find("img").css("z-index", "0");
                jQuery(".wrap_thumb_gradient").height(jQuery(".cont_photo").height());
            });

            jQuery(".btn_prev").click(function() {
                slider.prev(1);
            });

            jQuery(".btn_next").click(function() {
                slider.next(1);
            });

            jQuery(".btn_prev").addClass("on");
            jQuery(".btn_next").addClass("on");
            jQuery(".page_number").hide();
            jQuery(".desc_photo").hide();

        } else {
            if (currentIndex != 0) {
                slider.setIndex(currentIndex);
            }

            jQuery(".photo_cont").click(function() {
                if (viewContent) {
                    jQuery(".wrap_thumb_gradient").removeClass("wrap_thumb");
                    jQuery(".desc_layer").fadeOut(300);
                    viewContent = false;
                } else {
                    jQuery(".wrap_thumb_gradient").addClass("wrap_thumb");
                    jQuery(".desc_layer").fadeIn(300);
                    viewContent = true;
                }
            });

            slider.on('slide:after', function _slideAfter(type) {
                currentIndex = dataSource.getIndex();

                if (viewContent) {
                    jQuery(".wrap_thumb_gradient").addClass("wrap_thumb");
                    jQuery(".desc_layer").fadeIn(300);
                } else {
                    jQuery(".wrap_thumb_gradient").removeClass("wrap_thumb");
                    jQuery(".desc_layer").fadeOut(300);
                }

                if (currentIndex == 0) {
                    jQuery(".btn_prev").removeClass("on");
                } else if (currentIndex == dataSource.length) {
                    jQuery(".btn_next").removeClass("on");
                } else {
                    jQuery(".btn_prev").addClass("on");
                    jQuery(".btn_next").addClass("on");
                }

                jQuery(".num_page").html(currentIndex + 1);
                jQuery(".desc_photo_text").html(items_text[currentIndex]);
                jQuery(".num_desc_text").html(currentIndex + 1 + ".");
            });

            jQuery(".btn_prev").click(function() {
                if (dataSource.getIndex() != 0) {
                    slider.prev(1);
                }
                event.stopPropagation();
            });

            jQuery(".btn_next").click(function() {
                slider.next(1);
                event.stopPropagation();
            });

            if (currentIndex == 0) {
                jQuery(".btn_prev").removeClass("on");
            } else if (currentIndex == dataSource.length) {
                jQuery(".btn_next").removeClass("on");
            } else {
                jQuery(".btn_prev").addClass("on");
                jQuery(".btn_next").addClass("on");
            }

            jQuery(".num_page").html(currentIndex + 1);
            jQuery(".desc_photo_text").html(items_text[currentIndex]);
            jQuery(".num_desc_text").html(currentIndex + 1 + ".");

            if (items_text[0] == "") {
                jQuery(".num_desc_text").hide();
                jQuery(".desc_photo_text").hide();
            }

        }
    });

    jQuery(window).load(function() {
        if (isOldIE()) {
            jQuery(".wrap_thumb_gradient").find("img").css("z-index", "0");
            jQuery(".wrap_thumb_gradient").height(jQuery(".cont_photo").height());
        }
    });

    function isOldIE() {
        if (util.userAgent().ua.indexOf("msie 7") > 0 || util.userAgent().ua.indexOf("msie 8") > 0 || util.userAgent().ua.indexOf("msie 9") > 0) {
            return true;
        }
        return false;
    }

    var gvTimeStamp = $timestamp;
    var __TiaraObject = __TiaraObject || {};
    if ('undefined' === typeof __TiaraObject.startTime) {
        __TiaraObject.startTime = new Date();
    }

    _tiq.push(['__setSection', 'talkmusic#imageviewer']);
    _tiq.push(['__setPageName', 'imageviewer']);
    _tiq.push(['__setParam', 'puid', gvTimeStamp]);
    _tiq.push(['__setParam', 'svcdomain', 'talkmusic.kakao.com']);
    _tiq.push(['__setConfig',
        {enablePageshow: true, enableButton: false, enableHash: true}
    ]);

    _tiq.push(['__clickOn']);
    _tiq.push(['__trackPageview']);
</script>