#if($StringUtils.equals("${result.resultType}","SUCCESS"))
	#set( $message = "#printRemainderInfoUse( $!{result.ticket})" )
#else
	#set( $message = "$!{result.message}" )
#end	
{
	"result" : {
		"type" : "${result.resultType}",
		"message" : "$!{message}"
	}
}
 