## 스페셜 배너 랜덤 노출
#if( !$CollectionUtils.isEmpty($bannerList) )
#set( $firstIdx = $MathTool.random(0, $bannerList.size()) )
#set( $secondIdx = $MathTool.random(0, $bannerList.size()) )
#foreach($i in [1..10])
#if( $firstIdx == $secondIdx )
	#set( $secondIdx = $MathTool.random(0, $bannerList.size()) )
#else
	#break
#end
#end

#set( $firstBanner = $bannerList.get($firstIdx) )
#set( $secondBanner = $bannerList.get($secondIdx) )
			
<div class="now_bnr">
	<h4 class="screen_out">스페셜 배너</h4>
	<a href="$!{firstBanner.url}" class="link_special">
		<img src="$!{firstBanner.imagepath}" width="485" height="115" class="thumb_bnr" alt="">
		<span class="frame_g"></span><!-- 2014-05-28 추가 -->
	</a>
	<a href="$!{secondBanner.url}" class="link_special">
		<img src="$!{secondBanner.imagepath}" width="485" height="115" class="thumb_bnr" alt="">
		<span class="frame_g"></span><!-- 2014-05-28 추가 -->
	</a>
</div>
#end