#set($recommObjType = "onair")
#set($minDay = "20140204")
##printOnairProgramDetail($selectedProgram $recommObjType)


<h4 class="screen_out">프로그램 정보</h4>
<div class="now_song">
		#set($nowDateTime =  $MathTool.toNumber($CheckDate.getNowDateTime()))
		#if( $nowDateTime >= $MathTool.toNumber($lastSchedule.programStartTime) &&  $nowDateTime <= $MathTool.toNumber($lastSchedule.programEndTime) )
			<em class="btn_now txt_onair">방송중</em>
		#end
		<strong class="tit_song">$!{selectedProgram.programMasterName}</strong>
		<a href="#none" class="btn_now link_recomm" onclick="daum.Music.API.Recommend.sendByToken({id:'$!{selectedProgram.seq}',el:'recomNum',contents:'$!{recommObjType}', user:'#if($StringUtils.isNotEmpty($!{user.userId}))Y#end', token:'$!securitytoken'});return false;"><span class="screen_out">추천수 </span>
			<span id="recomNum">$!{selectedProgram.recommendCount}</span>
		</a>
		#if( $StringUtils.isNotBlank("$!{selectedProgram.homepageLink}"))
			<a href="$!{selectedProgram.homepageLink}" class="btn_now link_homepage" target="_blank">홈페이지</a>
		#end
		#if( $!{adminRoleId} && $!{adminRoleId} > 2 )
			#if( $StringUtils.isNotEmpty("$!{selectedProgram.programId}") &&  $StringUtils.isNotEmpty("$!{selectedProgram.channelId}") &&  $StringUtils.isNotEmpty("$!{selectedProgram.channelType}"))
				<a class="btn_comm btn_recom" href="http://op2.admin.music.daum.net/broadcast/program/form.daum?programId=$!{selectedProgram.programId}&channelType=$!{selectedProgram.channelType}&channelId=$!{selectedProgram.channelId}" target="_blank"><em class="num_recom" title="프로그램 운영">admin</em></a>
			#else
				<a class="btn_comm btn_recom" href="http://op2.admin.music.daum.net/broadcast/program/list.daum" target="_blank"><em class="num_recom" title="프로그램 운영">admin</em></a>
			#end
		#end
		

</div>




<h4 class="screen_out">곡 리스트</h4>
<div id="nowMusicListWrap" class="now_musiclist">
    <div class="music_opt">
        <div class="opt_btn">
        #printListButtonOnairTop( "song" "" "" "" "" "$!{selectedProgram.programMasterName} $!{lastSchedule.startDate}")
        </div>
    
    
        <div id="dateContainer" class="opt_date">
        </div>
        #set($prefix = "$!{selectedProgram.programMasterName} 선곡표 $!{lastSchedule.startDate.substring(0,4)}-$!{lastSchedule.startDate.substring(4,6)}-$!{lastSchedule.startDate.substring(6,8)}")
        ##set($_link = "http://music.daum.net/onair/radio/channel?channelId=$!{selectedProgram.channelId}&programId=$!{selectedProgram.programId}&seachDate="+$!{lastSchedule.startDate})
        #set($_link = $URI.replaceAll("(\?([^#\s]*))?",""))
		#set($_link = $_link + "?channelId=$!{selectedProgram.channelId}&programId=$!{selectedProgram.programId}&searchDate=$!{lastSchedule.startDate}")

		#printSnsButton ("" "onair" $!{_link} $!{prefix} "onair")
    
    </div>


    <table id="trackContainer" class="tbl_now">
    	<caption class="screen_hide">방금 그곡 리스트</caption>
    	<colgroup>
    		<col style="width:32px">
    		<col style="width:24px">
    		<col style="width:60px">
    		<col style="width:71px">
    		<col style="width:auto">
    		<col style="width:181px"> 
    		<col style="width:307px">
    	</colgroup>
    	<thead>
    		<tr>
    			<th scope="col" class="fst">
    				<input id="allCheck" class="inp_comm" type="checkbox" name="allCheck">
    				<label for="allCheck" class="screen_out">전체선택</label>
    			</th>
    			<th scope="col"><span class="th_cell th_no">NO</span></th>
    			<th scope="col"><span class="th_cell th_time">방송시간</span></th>
    			<th scope="col"><span class="th_cell screen_out">앨범</span></th>
    			<th scope="col"><span class="th_cell th_song">곡명</span></th>
    			<th scope="col"><span class="th_cell th_artist">아티스트</span></th>
    			<th scope="col"><span class="th_cell th_buy">구매하기</span></th>
    		</tr>
    	</thead>
    	<tbody id="trackSongContainer">
    	</tbody>
    </table>

    <div class="">
        <div class="opt_btn">
    		#printListButtonOnairFoot( "song" "" "" "" "" "$!{selectedProgram.programMasterName} $!{command.searchDate}")
        </div>
		#if($sameDateScheduleList.size() > 1)
    	<div class="opt_broadcast f_r">
    		#foreach($schedule in $sameDateScheduleList)
    			#if($foreach.index > 0)|#end
    			<a id="broadcastTimeBtn_$!{foreach.index}" data-starttime="$!{schedule.programStartTime}" href="javascript:;" class="link_broadcast" onclick="songListView.changeSonglist($!{selectedProgram.channelId},$!{selectedProgram.mediaType},$!{selectedProgram.programId},$!{schedule.programStartTime},$!{schedule.programEndTime});return false;">
    				$CheckDate.makeBroadCastTime("$!{schedule.programStartTime}") 방송
    			</a>
    		#end
    	</div>
		#end
    </div>
						
</div>
#set( $PATH = "#getter('PATH_URI', '')" )
<script type="text/javascript">
	// 곡리스트
	var songListViewParam = {
		channelId : "$!{selectedProgram.channelId}",
		mediaType : "$!{selectedProgram.mediaType}",
		programId : "$!{selectedProgram.programId}",
		programStartTime : "$!{lastSchedule.programStartTime}",
		programEndTime : "$!{lastSchedule.programEndTime}"
	}	
		
	var songListView = new daum.Music.ScriptView({
		"initLoadData" : false,
		"songContainerId" : "trackSongContainer",
		"jsonUrl" : "/onair/programSonglist.json",
		//"query" : "channelId=$!{selectedProgram.channelId}&channelType=$!{selectedProgram.channelType}&programId=$!{lastSchedule.tvProgramId}&programStartTime=$!{lastSchedule.programStartTime}&programEndTime=$!{lastSchedule.programEndTime}",
		"type" : "song",
		"dataParam" : songListViewParam,
		"programStartTime":"$!{lastSchedule.programStartTime}"
	});
	
	// 달력
	var dateViewParam = {
		searchDate :"$!{lastSchedule.startDate}",
		channelId : "$!{selectedProgram.channelId}",
		channelType : "$!{selectedProgram.channelType}",
		mediaType : "$!{selectedProgram.mediaType}",
		programId : "$!{selectedProgram.programId}",
		programName : "$!{selectedProgram.programMasterName}",
		tagId : "$!{selectedGenre.tagId}"
	}

	var dateView = new daum.Music.ScriptView({
		//"initLoadData" : false,
		"dataAjaxCall" : false,
		"dateContainerId" : "dateContainer",
		"songContainerId" : "trackSongContainer",
		"jsonUrl" : "/onair/programScheduleSongList.json",
		//"query" : "searchDate=$!{lastSchedule.startDate}&channelId=$!{selectedProgram.channelId}&channelType=$!{selectedProgram.channelType}&programId=$!{selectedProgram.programId}",
		"type" : "date",
		"dataParam" : dateViewParam,
		"path" : "$!PATH",
		"programStartTime":"$!{lastSchedule.programStartTime}"
		
	});
	
	// 레이어 달력	
	var calendarLayer = new daum.Music.OnairCalendar(
		{
			selectedDay : "$!{lastSchedule.startDate}",
			dataParam : dateViewParam,
			jsonUrl : "/onair/programScheduleList.json",
			calContainerId : "calwrap",
			useScheduleDays : true,
			selectDateAddFunc : dateView.changeDate.bind(dateView),
			minDay : "$!minDay"
		}
	);

</script>
<script type="text/javascript">  
	var controller = new daum.Music.ListPrototype();
	controller.initialize();  
</script> 


<div class="wrap_comment">
	<iframe id="commentFrame" frameborder="0" width="100%" height="" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN', '')/gaia/do/comment/commentList?bbsId=$!{selectedProgram.bbsId}&articleId=$!{selectedProgram.articleId}&templatePath=/content.htmp"></iframe>
</div>