<div class="wrap_tit">
	<h3>이벤트</h3>
	<a class="btn_comm btn_list" href="/event/list?service_id=$!{event.serviceId}">전체목록</a>
</div>
<div class="wrap_img thumb_link">
	<table cellpadding="0" cellspacing="0" border="0" summary="이벤트 터짐방지 테이블" width="100%">
		<tbody><tr><td>
		#if( $StringUtils.equals("$!{event.musicEventSpecial}","Y"))
			$!{event.eventHtml}
		#else
			##$!{event.eventHtml}			
			##$!StringCutUtil.removeTag( $str )
			##이벤트 이미지 src 값만 빼옴
			##set($imgsrc =$!event.eventHtml.replaceAll('<img.+?src=[\"]',''))
			##set($imgsrc = $!imgsrc.replaceAll('[\"].+?>',''))
			##<img width="100%" src="$!{imgsrc}" >
				
		##	$!event.eventHtml.replaceAll('width=[0-9]*','width=698')
		##옛날 이벤트들은 현재 이벤트영역폭이 달라서  리사이즈 해서 보여주는 분기를 태움
			#if($command.event_id < 5000) 
			#if($StringUtils.isNotBlank("$!{event.eventHtml}"))
				#if($!event.eventHtml.indexOf('img') > -1)
    				#if($!event.eventHtml.split('<img.+?src\s*=\s*[\"]')[1])
    					#set($imgsrc = $!event.eventHtml.split('<img.+?src\s*=\s*[\"]')[1].split('[\"]')[0])
    					<img width="698px" src="$!{imgsrc}" >				
					#end
				#else
    				$!{event.eventHtml}	
				#end
			#end
			#else
				$!{event.eventHtml}
			#end
		#end
	
		</td></tr></tbody> 
	</table>	
</div>
#printEvent($event $album $artist $songList)
#*
<div class="wrap_img thumb_link">
	<table cellpadding="0" cellspacing="0" border="0" summary="이벤트 터짐방지 테이블" width="100%">
		<tbody><tr><td>
		##if( $StringUtils.equals("$!{event.musicEventSpecial}","Y"))
			$!{event.eventHtml}
		#*
		#else
			##이벤트 이미지 src 값만 빼옴
			#set($imgsrc =$!event.eventHtml.replaceAll('<img.+?src=[\"]',''))
			#set($imgsrc = $!imgsrc.replaceAll('[\"].+?>',''))
			<img width="100%" src="$!{imgsrc}" >
		#end
		
		
		</td></tr></tbody>
	</table>	
</div>
<div class="box_event_info">
	<div class="wrap_info">
		<span class="ico_comm ico_tit">event</span>
		<h3 class="tit_event tit">$!{event.musicEventTitle}</h3>
		#set($infotype = "gift")
		#if($album)
		<div class="wrap_album_img">
			#printAlbumThumb( $album 3 )
		</div>
		#end
		#if($artist)
			#printArtistThumb($artist 2)
		##<a class="album_type3 thumb_link" href="#">
		##	<img width="100" height="100" alt="마이 프린세스 OST" src="http://cfile108.uf.daum.net/S110x110/154AF6334DB778140F8961">
		##		<span class="line_thumb"></span>
		##</a>
		#end
		<div class="list_info">
			#if($album||$artist)
			#set($infotype = "album") ## 앨범이나 아티스트 이미지가 있다면 이벤트설명 width 를 조절하기위해 클래스명 변경	
			<dl class="wrap_event_info">
				<dt class="tit_info album">대표곡</dt>
				<dd class="txt_info txt_album">
					#printSongName( $!{album.masterSong} "ico_comm ico_listen" 10 true )
				</dd>
			</dl>
			<dl class="wrap_event_info">
				<dt class="tit_info album">아티스트</dt>
				<dd class="txt_info txt_album">
					#printArtistName( $album.keyArtistList "txt_artist" 15 true )
				</dd>
			</dl>
			#end
			<dl class="wrap_event_info">			
				<dt class="tit_info $!{infotype}">기간</dt>
				<dd class="txt_info txt_$!{infotype}">#printDateWithName($event.startDate true) ~ #printDateWithName($event.endDate true)
				</dd>
			</dl>
			<dl class="wrap_event_info">
				<dt class="tit_info $!{infotype}">발표</dt>
				<dd class="txt_info txt_$!{infotype}">#printDateWithName($event.winningDate true)
				</dd>
			</dl>
			<dl class="wrap_event_info">
				<dt class="tit_info $!{infotype}">경품</dt>
				<dd class="txt_info txt_$!{infotype}">
				$!{event.description}
				</dd>
			</dl>
		</div>
		<div class="cl_b"></div>
	</div>
	#if($StringUtils.equals("$!{event.musicEventType}","2"))
		<div class="wrap_free">
			<div class="wrap_tool_btn">
				<div class="tool_btn f_l">
					#printListButton( "song", "controlBtn")
				</div>
			</div>
			<div class="bg_thead">
				<input id="allCheck" class="all_chk" type="checkbox">
				<label class="screen_out" for="allCheck">전체선택</label>
			</div>
			#if(!$CollectionUtils.isEmpty($songList)) 
				<table id="trackContainer" class="tbl_music" >  
					#printListItems( "event" $songList )   
				</table>
			#else 
				리스트가 없습니다.    
			#end
			<div class="wrap_tool_btn">
				<div class="tool_btn f_l">
					#printListButton( "song", "controlBtn")
				</div>
			</div>
			<a class="arr_comm btn_more" href="/album/main?album_id=$!{album.albumId}" title="앨범정보 더보기">앨범정보 더보기</a>
			<script type="text/javascript">  
   				daum.Music.List.init();  
			</script>   
		</div>
	#end
	<div class="wrap_notice">
		<strong class="screen_out">이벤트 안내</strong>
		<ul class="list_notice">
			<li>이벤트 당첨시 자세한 당첨안내는 응모하신 ID의 한메일로 발송해드립니다.</li>
			<li>공연 티켓경품은 배송되지 않고 현장에서 본인 확인 후 입장 가능하며 양도는 불가능합니다.</li>
			<li>티켓 외의 경품은, 종료일 전에 배송받으실 주소와 전화번호로 개인정보를 꼭 수정해주세요. (재배송 불가)
				<a href="https://user.daum.net/daumuser/moreInfo.daum" target="_blank" title="개인정보 수정하기">개인정보수정</a></li>
		</ul>
	</div>
</div>
#if($StringUtils.equals("$!{event.musicEventType}","2"))
<div id="gaiaiframe"></div>
<script type="text/javascript">
domReady( function(){
daum.$("gaiaiframe").innerHTML = '<iframe id="commentFrame" width="100%" frameborder="0" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN')/gaia/do/comment/commentList?bbsId=$!{album.bbsId}&articleId=$!{album.articleId}&templatePath=/content.htmp">';
});
</script>
##<div><iframe id="commentFrame" width="100%" frameborder="0" scrolling="no" charset="utf-8" title="댓글 영역" src="#getter('GAIA_DOMAIN')/gaia/do/comment/commentList?bbsId=$!{album.bbsId}&articleId=$!{album.articleId}&templatePath=/content.htmp"></div>
#else
<div class="section_cmtlist">
	<div class="tit_cont">
		<h4 class="tit_comm f_l">댓글</h4>
		<span class="txt_bar f_l">|</span><span class="txt_count f_l">총 <em class="fc_blue fw_b">$!{commentTotalCount}</em> 개</span>
	</div>
		<div class="comment_form">
		<form action="">
			<fieldset>
				<legend class="screen_out">댓글 작성폼</legend>			
				#if(${event.musicPollItems.size()}> 0)
				## 로그인 전
				#if($StringUtils.equals("${user}","()"))
				<div class="wrap_poll">
					#foreach($poll in $event.musicPollItems)
					<div class="list_poll">
						<span class="inp_poll"><input type="radio" id="poll$!{foreach.index}" onclick="daum.Music.login();return false;"value="$poll" name="poll"></span>
						<span class="label_poll"><label for="poll$!{foreach.index}">$poll</label></span>
					</div>
					#end
				</div>
				<div class="cmt_write">			
					<div class="bg_cmt wrap_textarea">
						<textarea id="commentContent"  onfocus="daum.Music.login();" rows="" cols="" name="comment" onkeyup="daum.Music.updateChar(300,'commentContent','characters')"></textarea>
					</div>
					<input class="bg_cmt btn_regist" type="button" value="댓글등록" onclick="daum.Music.login(); return false;">
					<script type="text/javascript">
							daum.$("commentContent").value = "";
					</script>
				</div>
				#else
				## 로그인후  입력가능
				<div class="wrap_poll">
					#foreach($poll in $event.musicPollItems)
					<div class="list_poll">
						<span class="inp_poll"><input type="radio" id="poll$!{foreach.index}" value="$poll" name="poll"></span>
						<span class="label_poll"><label for="poll$!{foreach.index}">$poll</label></span>
					</div>
					#end
				</div>
				<div class="cmt_write">			
					<div class="bg_cmt wrap_textarea">
						<textarea id="commentContent" rows="" cols="" name="comment" onkeyup="daum.Music.updateChar(300,'commentContent','characters')"></textarea>
					</div>
					<input class="bg_cmt btn_regist" type="button" value="댓글등록" onclick="sendApplication('$event.eventId', $event.eventKey,'','/event/detail?event_id=$command.event_id','항목을 선택하시고 내용을 입력해주세요.', 'comment', 'poll'); return false;">
					<script type="text/javascript">
							daum.$("commentContent").value = "";
					</script>
				</div>
				#end
				
				
				#else
				<div class="cmt_write">
					## 로그인 전
					#if($StringUtils.equals("${user}","()"))
					<div class="bg_cmt wrap_textarea">
						<textarea id="commentContent" onfocus="daum.Music.login();" rows="" cols="" name="comment" onkeyup="daum.Music.updateChar(300,'commentContent','characters')"></textarea>
					</div>
					<input class="bg_cmt btn_regist" type="button" value="댓글등록" onclick="daum.Music.login(); return false;">
					#else
					##로그인후 입력가능하도록
					<div class="bg_cmt wrap_textarea">
						<textarea id="commentContent" rows="" cols="" name="comment" onkeyup="daum.Music.updateChar(300,'commentContent','characters')"></textarea>
					</div>
					<input class="bg_cmt btn_regist" type="button" value="댓글등록" onclick="sendApplication('$event.eventId', $event.eventKey,'','/event/detail?event_id=$command.event_id','내용을 넣어주세요.', 'comment'); return false;">	
					#end
					<script type="text/javascript">
							daum.$("commentContent").value = "";
					</script>
				</div>
				#end
			</fieldset>
			<div class="txt_info">
				<div class="f_l">
					<em id="characters" class="fw_b">0</em> / 300byte##<span class="txt_bar">|</span><a class="fc_link" href="#">댓글 운영원칙</a>
				</div>
			</div>
		</form>
	</div>
	<ul class="list_comm">
		#if(${event.musicPollItems.size()}> 0)
			#foreach ($comment in $commentList)
			<li>
			<span class="select_poll">$comment.poll</span>
			<div class="txt_poll">
				<strong class="name">$comment.daumName</strong>
				<p>
				<span class="txt">$comment.comment</span><span class="date">$CheckDate.dateFormat("yy.MM.dd", "HH:mm", "yyyy-MM-dd HH:mm", "$!{comment.regDate}")</span>
				</p>
			</div>
			</li>
			#end
		#else
			#foreach ($comment in $commentList)
			<li>
			<strong class="name">$comment.daumName</strong>
			<p>
				<span class="txt">$comment.comment</span><span class="date">$CheckDate.dateFormat("yy.MM.dd", "HH:mm", "yyyy-MM-dd HH:mm", "$!{comment.regDate}")</span>
			</p>
			</li>
			#end
		#end
	</ul>
	## 댓글 page
	#printPaging($pagingUrl, $command.page_no, $pageHandler)
</div>
#end
*#
#if( $StringUtils.equals("$!{command.debugmode}","2") )	

#getter('GAIA_DOMAIN', '')<br>
$userInfo<br>

$event.musicEventType = 5번 폴형+댓글+경품형 (ex. http://music.daum.net/event/detail?event_id=3276)<br>
$event.musicEventType = 4번 폴형 (ex. http://music.daum.net/event/detail?event_id=3193)<br>
$event.musicEventType = 3번 폴+댓글형 (ex. http://music.daum.net/event/detail?event_id=3194)<br>
$event.musicEventType = 2번 구매대상 (ex. http://music.daum.net/event/detail?event_id=3541)<br>
$event.musicEventType = 1 또는 null (ex. 기존것들 http://music.daum.net/event/detail?event_id=3192)<br>

아티스트
http://music.daum.net/event/detail?event_id=3194<br>

앨범
http://music.daum.net/event/detail?event_id=3193<br>
http://music.daum.net/event/detail?event_id=3195<br>

이벤트 기본정보<br>
eventId : $event.eventId<br>
eventKey : $event.eventKey<br>
eventTitle : $event.eventTitle // 이벤트제목<br>
startDate : $event.startDate // 이벤트 시작일<br>
endDate : $event.endDate // 이벤트 종료일<br>
winningDate : $event.winningDate // 발표일자<br>
description : $event.description //이벤트 설명인데 현재 경품 내역용으로 입력하고있음<br>

이벤트 추가 설정 정보<br>
musicEventType : $event.musicEventType<br>
musicEventSpecial : $event.musicEventSpecial<br>
musicEventTitle : $event.musicEventTitle	// 추가설정한 이벤트 제목<br>
musicAlbumId : $event.musicAlbumId<br>
musicArtistId: $event.musicArtistId<br>
musicPollItems : ${event.musicPollItems}<br>

앨범정보<br>
대표 이미지 : $album.mainImage.filePath<br>
앨범명 : $album.title<br>
발매일 : $album.releaseDt<br>
</dl>


앨범 구매이벤트인경우 곡 목록<br>
<br>
#foreach( $song in $songList )<br>
$!{song.songId} : $!{song.title}<br>
#end<br>

뮤직스페셜<br>
$!{musicSpecial}<br>

아티스트 정보<br>
대표 이미지 : $artist.mainImage.filePath<br>
아티스트 명 : $artist.name<br>
대표 곡정보 : $!{artistMainSong.title}<br>
>>>>>>>> : $!{artistMainSong.AODLinkId}<br>
>>>>>>>> : $!{artistMainSong.songId}<br>
>>>>>>>> : $!{artistMainSong.album.albumId}<br>
>>>>>>>> : $!{artistMainSong.album.title}<br>

자동결제자 대상 이벤트 여부 : $!{autoPaymentYn}<br>
자동결제 건수 : $!{autoPaymentCount}<br>
시작페이지 대상자 이벤트 여부 : $!{startPageYn}<br>

<br>
선물리스트 : $!{event.presentList}<br>	
<br>
$commentList
==사용자 정보==<br>
<br />
${daumUser}
#if($StringUtils.equals("${user}","()"))
로그인 안됨 -_-^
#else
로그인 됬음 +ㅁ+
#end
${user}
<br />

==댓글입력(닫아놓음)==
</br>
<input type="text" name="comment">
<button onclick="sendApplication('$event.eventId', $event.eventKey,'','http://music.daum.net/event/detail?event_id=$command.event_id','', 'comment'); return false;" >응모하기</button>
<button onclick="refresh();" >리로딩</button>
</br>
<p>&nbsp</p>
</br></br>

==응모내용==
<p>&nbsp</p>
</br>

${commentTotalCount}
<br />

#foreach ($comment in $commentList)
	아이디 : $comment.daumId<br/>
	이름 : $comment.daumName<br/>
	댓글 : $comment.comment<br/>
	코멘트 정보 : $comment <br/>
	<br/>
#end
///
$event.presentMap<br/>
#end



<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- event.eventHtml 이 일정한 형식으로 나오나요? ( 스페셜이 아닌경우엔 이미지만 나오는 형식?)
<br/>- 댓글운영원칙 링크 는 어디로?
-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
<br/>-스폐셜 이벤트 들중에   이 값들이  없는건  어떻게?event.eventHtml(ex)eventid = 4260
<br/>-poll 형중에 event.musicPollItems 값이 있는걸 못 찾겠어요
<br/>-뮤직 스폐셜을 event.musicEventSpecial, musicSpecial - 두값중 어떤걸 기준으로 분기할까요.(3194) =>  event.musicEventSpecial 이걸로 해주세요
<br/>-댓글 총갯수도 내려주세요. => ${commentTotalCount}
<br/>-유저정보도 내려주세요(로그인 유무)
<br/>-
</div>		
