<style type="text/css">
	body {overflow:hidden;}
</style>

<div class="popup_mp">
	<div class="popup_head">
		<h1 class="screen_out">다음 마이피플 채널링 이벤트 알림 팝업</h1>
		<p class="img_mp txt_mypeople"></p>	</div>
	<div class="popup_body">
		<div class="wrap_tab wrap_tab01">
			<h2 class="img_mp tit_mpinform">알림신청 방법</h2>
			<ol class="tab_mp">
				<li>현재단계 알림신청 버튼클릭</li>
				<li>원하는 알림 상세설정</li>
				<li>신청 완료</li>
			</ol>
		</div><!-- // tab -->
		<div class="section_mp"></div>
	</div><!-- // popup_body -->
</div>

#set($logOn = false)
#if($StringUtils.isNotBlank("$!{user.userId}"))
	#set($logOn = true)
	#set($user_daumId = $!{user.daumId})
	#set($user_userId = $!{user.userId})
#end
<script type="text/template" id="settingTemplate">
<%
var i=0, 
    len=0, 
    index =0,
    _isSubscribe =  obj.isSubscribe,
    _noticeList = obj.noticeList,
	_enabledList = obj.enabledList,
	_txtType = "신청";
	
	if( _isSubscribe === "YES"){
		_txtType = "변경" ; 
	}	
%>	
	<h3 class="screen_out">원하는 알림 상세설정</h3>
	<h4 class="img_mp tit_informsel">원하시는 알림을 선택해 주세요</h4>
	<form action="#">
	<fieldset>
		<legend class="screen_out">알림 상세설정</legend>
		<table class="tbl tbl_mp" summary="게시판의 뮤직 콘서트초대, 영화 시사초대, 영화 예매권 별로 정보가 게시됨">
			<caption class="screen_hide">상세설정 목록</caption>

			<colgroup>
				<col width="149">
				<col width="auto">
			</colgroup>

			<tbody>
				<tr class="fst">
					<th scope="row" class="tit">1.뮤직 콘서트초대</th>
					<td class="cont">

                    <%
                    index = 0; 
                        for( i=0,len=_noticeList.length; i<len; i++){
                    	 	if( _noticeList[i].code.substring(0,1) === "A"){
                    	 	
                             var code = _noticeList[i].code,
	                             name = _noticeList[i].name,
	                             checked = "";
							 if((_isSubscribe === "NO" && index==0) || (_isSubscribe === "YES"  && _enabledList[code] == true)){
							  	checked = 'checked="checked"'; 
							 }
							 index += 1;
                    %>
                    	<input type="checkbox" id="<%=code%>" name="movie" class="inp" value="<%=code%>" <%=checked%>>
                    	<label for="<%=code%>" class="lab"><%=name%></label>
                    <%}}%>
					</td>
				</tr>
				<tr>
					<th scope="row" class="tit">2.영화 시사초대</th>

					<td class="cont">
                    <%
                    index = 0; 
                        for( i=0,len=_noticeList.length; i<len; i++){
                        	if( _noticeList[i].code.substring(0,1) === "B"){
                             var code = _noticeList[i].code,
                              	 name = _noticeList[i].name,
                             	 checked = "";
 
							 if((_isSubscribe === "NO" && index==0) || (_isSubscribe === "YES"  && _enabledList[code] == true)){
							  	checked = 'checked="checked"'; 
							 }		
							 index += 1;					 
                    %>
                    	<input type="checkbox" id="<%=code%>" name="movie" class="inp" value="<%=code%>" <%=checked%>>
                    	<label for="<%=code%>" class="lab"><%=name%></label>
                    <%}}%>
					</td>
				</tr>
				<tr>
					<th scope="row" class="tit">3.영화 예매권</th>

					<td class="cont">
                    <%
                     index = 0; 
                        for( i=0,len=_noticeList.length; i<len; i++){
                    	 	if( _noticeList[i].code.substring(0,1) === "C"){
                             var code = _noticeList[i].code,
                              	name = _noticeList[i].name,
                             	checked = "";
							  if((_isSubscribe === "NO" && index==0) || (_isSubscribe === "YES"  && _enabledList[code] == true)){
							  	checked = 'checked="checked"'; 
							 }							 
                    	 	index += 1;
                    %>
                    	<input type="checkbox" id="<%=code%>" name="movie" class="inp" value="<%=code%>" <%=checked%>>
                    	<label for="<%=code%>" class="lab"><%=name%></label>
                    <%}}%>
					</td>
				</tr>
			</tbody>
		</table>

		<ul class="list_info">
			<li>당첨만을 설정하시면, 응모 이벤트 중 당첨된 경우만 알림을 드립니다</li>
			<li>비당첨포함까지 설정하시면 당첨여부와 상관없이 응모한 이벤트의 결과 알림을 받으실 수 있습니다</li>
		</ul>
		<div class="wrap_btn change_<%=_isSubscribe%>">
			<a href="#" class="img_mp btn_inform2" onclick="return false">알림<%=_txtType%></a>
		</div>
	</fieldset>
	</form> 
</script>

		
<script type="text/javascript">
var sizeY = 658;
if( daum.Browser.ie == true){
	sizeY = 638;
}
daum.Browser.resizePop(778, sizeY);

daum.addEvent(window, 'load',daum.Music.MyPeople.init.bind(daum.Music.MyPeople, $logOn, "$!{user_userId}"));
</script>