#if($exception)
	#parse("/velocity/purchase/common/complete_error.vm")
	<script type="text/javascript">
		daum.$('wPhone').id = "complete";
	</script>
#else
 
	## 언제 사용하는지 잘 모르겠음..--------------
	#if(!$StringUtil.equals("$!{dto.paymentType}","TICKET") && !$StringUtil.equals("$!{dto.paymentType}","DAUMCASH"))
	## BI 결제창을 거친 구매일 경우에 장바구니 창 닫아줌.
    <script type="text/javascript">
		try {
			opener.close();
		} catch(e) {
			var winTicket = daum.Browser.popup('',0,0,{name:"mobile", scroll:'no',resize:true,status:1});
            winTicket.close();
		}
	</script>
	#end
	 ## 언제 사용하는지 잘 모르겠음..--------------
	
	#if($StringUtils.isNotBlank("$!{purchaseInfo.itemId}") && $purchaseInfo.itemId.indexOf("RI")>-1) ## 통화연결음
	<div id="wPhone" class="popWrap">	
    <div id="wSelSong">
		<div class="titCon"><h3 class="bg1">통화연결음 설정</h3></div>
		<div class="cont">
			<p>			
				#if($!{purchaseInfo.sendNumber} || $StringUtil.equals("$!{purchaseInfo.corpCd}", "KT"))통화연결음 설정 SMS가 휴대폰으로 전송되었습니다.#else 휴대폰(<strong class="fontCor01">$StringCutUtil.getFullPhoneNum("$!{purchaseInfo.getNumber}")</strong>)에 선택하신 통화연결음이 설정되었습니다.#end	
			</p>
		</div>	
	</div>
	<div class="btnSend">
		<div class="btn">			
			##<a href="javascript:;" onclick="daum.Music.Phone.openerWinPurchase('/my/depository/bgm/list', 'mobile');" title="확인"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_ok_1.gif" alt="확인"></a>&nbsp;
			<a href="/my/depository/bgm/list"  onclick="window.close();" target="mobile" title="확인"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_ok_1.gif" alt="확인"></a>
		
		</div>
	</div>
	</div>
	#else	## 벨소리 
	<div id="wPhone" class="popWrap">	
	<div id="wSelSong">
		<div class="titCon"><h3 class="bg7">벨소리 구매</h3></div>
		<div class="cont">
			#if($StringUtils.isNotBlank("$!{purchaseInfo.getNumber}"))
			<p>휴대폰(<strong class="fontCor01">$StringCutUtil.getFullPhoneNum("$!{purchaseInfo.getNumber}") </strong>)에 선택하신<br /> 벨소리가 전송되었습니다.</p>
			#else
				## 재전송시 사용하는 화면
			<p>휴대폰(<strong class="fontCor01">$StringCutUtil.getFullPhoneNum("$!{command.getNumber}") </strong>)에 선택하신<br />  
			#if($StringUtils.equals( "$!{dto.apiResult.result}" , "S" ))벨소리가 전송되었습니다.#else 벨소리 전송에 실패했습니다.<br />고객센터에 문의해주시기 바랍니다.<br /><a href="http://cs.daum.net/faq/site/65.html" target="_blank" title="고객센터 바로가기" class="blue_d1">고객센터 바로가기</a>#end
			#end
		</div>	
	</div>
	<div class="btnSend">
		<div class="btn">			
			##<a href="javascript:;" onclick="daum.Music.Phone.openerWinPurchase('/my/depository/mobile/list', 'mobile');" title="확인"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_ok_1.gif" alt="확인"></a>
			<a href="/my/depository/mobile/list" onclick="window.close();" target="mobile" title="확인"><img src="http://i1.daumcdn.net/img-contents/music/2009_home/phonemusic/bt_ok_1.gif" alt="확인"></a>
		</div>
	</div>
	</div>
	#end
#end

## 창 리사이징이 있을 경우 제거
<script type="text/javascript">
	daum.addEvent(window, 'load', function(){
		daum.Browser.resizePop(470, 320);
	}); 
</script>
	