#uaCheck()
<div id="daumContent" class="cont_bar">
	<h2 class="screen_out">뮤직 BAR</h2>
	<div class="cont_navi">
		<h3 class="tit">DJ 추천음악</h3>
		#btnPrev()
		<a href="/musicbar/djalbum/list" class="bround btn_djlist">전체목록</a>
	</div>
	
	<div class="section_category">
		<ul class="list_info list_category">
		#foreach($dj in $allDjList)
    		<li>
                <div class="wrap_cont">
					<a href="/musicbar/djalbum/list?dj_id=$!{dj.djId}" class="tit_chart">
						<span class="f_l">#strCut("$!{dj.nickName}", 35)</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
    		</li>
		#end
		</ul>
	</div>
	
	#SearchForm("only_bottom")
</div>

#parse("/velocity/mobileweb/realtimeissue.vm")

#stop

#foreach($dj in $allDjList)
		<li>
            <a href="/djalbum/list?dj_id=$!{dj.djId}">$dj.nickName</a>
		</li>
#end