<?xml version="1.0" encoding="UTF-8"?>
<datalist>
<count><![CDATA[$AllChartInfo.size()]]></count>		
#if(${AllChartInfo.size()} > 0)	
	#foreach($itemList in $AllChartInfo)
	#if($foreach.index == 0) #set($stddate = $!{CheckDate.getDiffHour($itemList.stddate,1)})
	#else	#set($stddate = $itemList.stddate)
	#end
	<data>
	  	<lastModified><![CDATA[]]></lastModified>
	  	<regDate><![CDATA[]]></regDate>
	  	<dataKey><![CDATA[$foreach.index]]></dataKey>
			<field>                                    
			  <id>text01</id>                          
			  <item>                                   
			    <link><![CDATA[]]></link>              
			    <content><![CDATA[$itemList.title]]></content>  
			  </item>                                  
			</field>                                   
			<field>                                    
			  <id>text02</id>                          
					  <item>                                   
					    <link><![CDATA[$itemList.pcMore]]></link>              
					    <content><![CDATA[]]></content>  
					  </item>
			</field>  
			<field>                                    
			  <id>text03</id>     
				<item>                                   
				    <link><![CDATA[$itemList.mobileMore]]></link>              
				    <content><![CDATA[]]></content>  
			    </item> 
			</field>  
			<field>                                    
			  <id>text04</id>                          
			  <item>                                   
			    <link><![CDATA[]]></link>              
			    <content><![CDATA[$stddate]]></content>
			  </item>                                  
			</field>  
			<field>                                    
			  <id>text05</id> 
			  #if(${itemList.modRankList.size()} > 0)	                        
				  #foreach($item in $itemList.modRankList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end                                 
			</field> 
			<field>                                    
			  <id>text06</id>
			  #if(${itemList.mainImageList.size()} > 0)	
				  #foreach($item in $itemList.mainImageList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end  
			</field>                                   
			<field>                                    
			  <id>text07</id>                          
				#foreach($item in $itemList.onlyAlbumId)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                               
			</field>  
			<field>                                    
			  <id>text08</id>                          
				#foreach($item in $itemList.songIdList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end
			</field>  
			<field>                                    
			  <id>text09</id>                          
				#foreach($item in $itemList.vclipIdList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                 
			</field>  
			<field>                                    
			  <id>text10</id>    
			  #if(${itemList.MP3SaleStatusList.size()} > 0)	                        			  			  		  		  
				  #foreach($item in $itemList.MP3SaleStatusList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end 
			</field> 
			<field>                                    
			  <id>text11</id>  
			  #if(${itemList.BGMSaleStatusList.size()} > 0)	                        			  			  		  		  
				  #foreach($item in $itemList.BGMSaleStatusList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end 
			</field>                                   
			<field>                                    
			  <id>text12</id>                          
			  #if(${itemList.bellSaleStatusList.size()} > 0)	                        			  			  		  		  
				  #foreach($item in $itemList.bellSaleStatusList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end                                   
			</field>  
			<field>                                    
			  <id>text13</id>  
			  #if(${itemList.ringSaleStatusList.size()} > 0)	                        			  			  		  		  	  
				  #foreach($item in $itemList.ringSaleStatusList)
					  <item>                                   
					    <link><![CDATA[]]></link>              
					    <content><![CDATA[$item]]></content>  
					  </item>
				  #end 
			  #else 
					  <item>                                   
					      <link><![CDATA[]]></link>              
					      <content><![CDATA[]]></content>  
				      </item> 
			  #end  
			</field>  
			<field>                                    
			  <id>text14</id>                          
				#foreach($item in $itemList.tvPotKeyList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                  
			</field>  
			<field>                                    
			  <id>text40</id>                          
				#foreach($item in $itemList.songTitleList)
				  <item>                                   
				    <link><![CDATA[]]></link>              
				    <content><![CDATA[$item]]></content>  
				  </item>
				#end                                 
			</field>  
			<field>                                    
			  <id>text41</id>                          
				#foreach($item in $itemList.keyArtistNameList)
				  $item
				#end                                
			</field>                                   
			<field>                                    
			  <id>text42</id> 
			  #if(${itemList.lyricsList.size()} > 0)	                        			  
				  #foreach($item in $itemList.lyricsList)
				  	$item
				  #end 
		 	  #else 
				  <item>                                   
				      <link><![CDATA[]]></link>              
				      <content><![CDATA[]]></content>  
			      </item> 
			  #end 
			</field>  
			<field>                                    
			  <id>text43</id>
			  #if(${itemList.albumIdList.size()} > 0)	                        			  			  
				  #foreach($item in $itemList.albumIdList)
				  	$item
				  #end 
		 	  #else 
				  <item>                                   
				      <link><![CDATA[]]></link>              
				      <content><![CDATA[]]></content>  
			      </item> 
			  #end                                   
			</field>  
			<field>                                    
			  <id>text44</id>
			  #if(${itemList.AODLinkIdList.size()} > 0)	                        			  			  
				  #foreach($item in $itemList.AODLinkIdList)
				  	$item
				  #end 
		 	  #else 
				  <item>                                   
				      <link><![CDATA[]]></link>              
				      <content><![CDATA[]]></content>  
			      </item> 
			  #end                                   
			</field>  
			<field>                                    
			  <id>text45</id>                          
			  #if(${itemList.MP3LinkIdList.size()} > 0)	                        			  			  		  
				  #foreach($item in $itemList.MP3LinkIdList)
				  	$item
				  #end 
		 	  #else 
				  <item>                                   
				      <link><![CDATA[]]></link>              
				      <content><![CDATA[]]></content>  
			      </item> 
			  #end                                  
			</field> 
			<field>                                    
			  <id>text46</id>   
			  #if(${itemList.BGMLinkIdList.size()} > 0)	                        			  			  		  		  
				  #foreach($item in $itemList.BGMLinkIdList)
				  	$item
				  #end 
		 	  #else 
				  <item>                                   
				      <link><![CDATA[]]></link>              
				      <content><![CDATA[]]></content>  
			      </item> 
			  #end                                 
			</field>  
			<field>                                    
			  <id>text47</id>                          
				#foreach($item in $itemList.vclipList)
				  $item
				#end                                 
			</field>
		</data>
	#end
#end
</datalist>
