<div class="wrap_cont section_favorite">
	<h3 class="tit_mymusic tit_recent">최근 들은 음악</h3>
	<div class="wrap_tab">
		<ul class="tab_mycont tab_recent">
			<li><a href="/my/recent/song/list" class="tab_recentsong">최근 들은 노래</a></li>
			<li><a href="/my/recent/album/list" class="tab_seekalbum">최근 찾은 앨범</a></li>
			<li class="on"><a href="/my/recent/vclip/list" class="tab_seemv on">최근 본 뮤비</a></li>
		</ul>		
	</div>

	<div class="wrap_list_mv wrap_desc">			
		<div class="wrap_tool_btn">
			<div class="tool_btn f_l">
				#printDeleteBtn("vclip") ## 삭제 버튼
			</div>
			<em class="txt_quantity f_l">총 <strong id="myCount" class="fc_blue">#if($!{myCount}) $myCount #else 0 #end</strong> 편</em>
			<em class="ico_mymusic ico_guide">최대 <strong class="fc_blue ls_0">100</strong> 개 기준</em>	
			<div class="sort_option f_r">
				#if($StringUtils.equals("$!{command.getOrdering()}","RECENT_DESC")||$StringUtils.isBlank("$!{command.getOrdering()}"))#set($classNameDate = "link_option")#end
				#if($StringUtils.equals("$!{command.getOrdering()}","RELEASE_DESC"))#set($classNameRelease = "link_option")#end
				#if($StringUtils.equals("$!{command.getOrdering()}","ALPHANUMERIC_ASC"))#set($classNameTitle = "link_option")#end
				<a class="$!{classNameDate}" href="/my/recent/vclip/list?ordering=1">저장순</a><span class="txt_bar">|</span>
				<a class="$!{classNameRelease}" href="/my/recent/vclip/list?ordering=2">발매순</a><span class="txt_bar">|</span>
				<a class="$!{classNameTitle}" href="/my/recent/vclip/list?ordering=3">제목순</a>
			</div>
		</div>
	#if(!$CollectionUtils.isEmpty($myList))
		<div  class="box_list_mv">
			<ul id="trackContainer" class="list_mv">
				#foreach($vclip in $myList)
				##set( $idx = $foreach.index + 1 )
				<li id="track$!{vclip.vclipId}" class="listli" style="position:relative;">
					#printVideoSet($vclip $foreach.index "check")
				</li>
				##if( $foreach.index % 4 == 3)
    			##<li class="wrap_quickview hide" id="open_direct$!{foreach.index}"></li>
				##end
				#end
				#set($emptyWidth = (4 - $myList.size() % 4) % 4 *172)
				<li class="empty listli #if($emptyWidth == 0)hide#end" style="width:$!{emptyWidth}px;">&nbsp;</li>
			</ul>	
		</div>
		<div class="btm_mymusic">
			<div class="wrap_tool_btn f_l">
				<div class="tool_btn">
					#printDeleteBtn("vclip") ## 삭제 버튼
				</div>

			</div>
			##page
			#printPaging($pagingUrl $command.page_no $pageHandler "f_l" 10)
		</div>
		#printVideoCover()
		<script type="text/javascript">
		var VideoDataList = [];
    	#foreach( $vclip in $myList )
    		VideoDataList.push({
    			vclipId : "$!{vclip.vclipId}",
    			songId : "$!{vclip.song.songId}",
    			albumId : "$!{vclip.album.albumId}",
    			artistId : "#getArtistId($!{vclip})",
    			count : "$!{foreach.count}",
    			size : "$!{vclipList.size()}"
    		});
    	#end
		//new daum.Music.DragnSelect(document,"trackContainer",{liclassName:"listli",containment:"trackContainer"});
		var controller = new daum.Music.ListPrototype();
		controller.initialize({MySection:true});
		daum.Music.Video.init({totalCount:$myList.size(), imgString:"thumbLink", colCount:4});
	//	daum.Music.MYvideo.init({totalCount:$myList.size(), imgString:"thumbLink", colCount:4, isPromotion:false});
		</script>
	#else
		<div class="wrap_nodata">
			<strong>최근 본 뮤직비디오가  없습니다</strong>
		</div>
		<div class="wrap_tool_btn">
			<div class="tool_btn">
				#printDeleteBtn("vclip") ## 삭제 버튼
			</div>
		</div>		
	#end	
	</div>
</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
최근찾은 뮤비 갯수: $myCount (최대 100개까지만 노출예정)<br/>
현재오더링 : #if($!{command.getOrdering()}) $command.getOrdering() #end (default:최신순(오더링값없을때))<br/><br/> 

마이리스트 :$myList<br />
#if($!{myList})
	#foreach($item in $myList)
		$item
		HD여부 : $item.HDYn<br/>
		뮤직비디오아이디: $item.vclipId<br/>
		티비팟아이디: $item.tvpotVId <br/>
		뮤직비디오 제목: $item.title <br/>
		성인구분 : $item.adultYn <br/>
		송 ID: $item.song.songId <br/>
		송 제목: $item.song.title <br/>
		듣기ID : #if($!{item.song.AODLinkId}) $item.song.AODLinkId #end <br/>
		앨범 ID: $item.album.albumId <br/>
		이미지 주소: $item.mainImage.filePath <br/>

		#foreach($artist in $item.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		
		발매일 : $CheckDate.makeReleaseDate($!{item.regdttm})<br/> 
---------------------------<br/>
	#end
#end


<b>왼쪽레프트정보</b><br/>
다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
	#if($foreach.index < 4)
		$item.get("SUBJECT") ||  $item.get("URL") <br />
	#end
#end <br />	
<br>

<br/>현재페이지 : $command.getPage_no() <br/>
#end

<div id="FTMessage">
-----------------------------------------
FT 체크 (화이링)
-----------------------------------------
<br/>- 뮤직비디오 바로보기 버튼을 누르면. 서버 오류 500 이 뜹니다.

-----------------------------------------
개발 체크 (화이링)
-----------------------------------------
</div>	