<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta property="og:title" content=" | Daum 뮤직 :: 언제 어디서나 Music on Daum"> 
<meta property="og:image" content="http://m1.daumcdn.net/img-contents/music/mobile/music.png">
<meta property="og:description" content="">	
<meta property="og:site_name" content="Daum 뮤직">
	
<title>Daum 뮤직</title>
<style type="text/css">
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#2e2e2e url(http://i1.daumcdn.net/img-contents/event/promotion/140814_music/bg_music.gif) repeat-x}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* global */
#daumIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.hide {display:none}

/* promotion */
.prm_music {overflow:hidden;position:relative;width:900px;height:2300px;margin:0 auto}
.head_music {float:left;width:900px;height:768px;background:url(http://i1.daumcdn.net/img-contents/event/promotion/140814_music/music_head.jpg) no-repeat}
.head_music .link_daum {position:absolute;top:16px;left:43px;width:60px;height:29px}
.head_music .link_music {position:absolute;top:16px;left:103px;width:42px;height:29px}
.cont_event {float:left}
.info_event1 {float:left;width:900px;height:708px;background:url(http://i1.daumcdn.net/img-contents/event/promotion/140814_music/music_event1_140820_v2.jpg) no-repeat} /* 2014-08-20 수정 */
.info_event1 .link_down {position:absolute;top:1406px;left:200px;width:500px;height:70px}
.info_event2 {float:left;width:900px;height:731px;background:url(http://i1.daumcdn.net/img-contents/event/promotion/140814_music/music_event2.jpg) no-repeat}
.info_event2 .link_kakao {position:absolute;top:2137px;left:200px;width:500px;height:70px}
.footer_event {float:left;width:900px;padding-top:41px;color:#646464;text-align:center}
.footer_event .link_daum {color:#646464}
.footer_event .link_daum:hover {text-decoration:underline}
</style>
</head>
<body>
<div id="daumPromotion" class="prm_music">
    <div id="daumHead" class="head_music ir_pm">
        <h1>
            <a href="http://www.daum.net/" id="daumLogo" class="link_daum">Daum</a>
            <a href="http://music.daum.net/" id="daumServiceLogo" class="link_music">뮤직</a>
        </h1>
        <p>지금 나오는 그 노래~ 궁금해? 방금그곡에서 알려줄께</p>
        <h2>방금그곡앱 오픈</h2>
    </div>
    <hr class="hide">
    <div id="daumContent" class="cont_event">
        <div class="info_event1 ir_pm">
        	<h3>이벤트 하나</h3>
        	<h4>방금그곡앱 다운받고 무료 쿠폰 받자</h4>
        	<p>
				방금그곡앱 신규고객 3만명에게 추첨을 통해 스마트폰 무제한 이용권 또는 MP3 1곡 다운로드 이용권을 드립니다. (일부 관리사 음원은 제외)
			</p><!-- 2014-08-20 수정 -->
        	<dl>
        		<dt>기간</dt>
        		<dd>9월 3일 수요일까지</dd>
        		<dt>참여방법</dt>
        		<dd>방금그곡앱 다운받기 → 앱 실행 후 쿠폰받기 클릭</dd>
        		<dt>주의사항</dt>
        		<dd>- 방금그곡앱 신규이용자만 응모가능<br>- 안드로이드 전용 (아이폰은 추후 이벤트 예정)</dd>
        	</dl>
        	<a href="https://play.google.com/store/apps/details?id=net.daum.entertainment.music.android" target="_blank" class="link_down">방금그곡앱 다운 받기</a>
        </div>
        <div class="info_event2 ir_pm">
        	<h3>이벤트 둘</h3>
        	<h4>방금그곡 카스 채널 공유하고 특급 경품 받자</h4>
        	<p>방금그곡 카스 채널을 공유하시면 추첨을 통해 5분께 경품을 드리며 당청자는 카카오스토리 페이지를 통해 공지됩니다.</p>
        	<dl>
        		<dt>경품내역</dt>
        		<dd>하만 카돈 사운드스틱2 - 2명</dd>
        		<dd>닥터드레 이어폰 - 2명</dd>
        		<dd>티볼리 오디오 - 1명</dd>
        	</dl>
        	<dl>
        		<dt>기간</dt>
        		<dd>9월 3일 수요일까지</dd>
        		<dt>참여방법</dt>
        		<dd>방금그곡 카스 채널 소식받기 → 채널에 있는 방금그곡앱 소개글 공유하기</dd>
        	</dl>
        	<a href="https://story.kakao.com/_djF8UFhCZHFmbFREeE9ZS0tSbXBvaktjUQ" target="_blank" class="link_kakao">카스채널 바로가기</a>
        </div>
    </div>
    <hr class="hide">
    <div id="daumFoot" class="footer_event">
		<address class="txt_copyright">Copyright (c)<a href="http://info.daum.net/" class="link_daum"> Daum Communications.</a> All rights reserved.</address>    
    </div>
</div>
## 미니다음을 통하지 않고 tiara 수집할때 사용
#parse("/velocity/common/manual_tiara.vm")
</body>
</html>