<div class="wing_best">
	<h3 class="tit_comm tit_best">댓글수 BEST</h3>
	<div class="wrap_tab">
		<h4 class="tab_wing musicbar on">
			<a id="MusicBarTab" href="$Config.getProperty('SERVICE_DOMAIN').getValue()/musicbar/top">뮤직 BAR</a>
		</h4>
		<ul id="MusicBarList" class="list_cont" style="display:block;">
		#foreach($board in $bestMusicbarList)
			<li>
				<a href="$Config.getProperty('SERVICE_DOMAIN').getValue()/musicbar/musicbar/detail?board_id=$!{board.boardId}" title="$!{board.title}">#strCut("$!{board.title}", 25)</a>
				##<span class="txt_cmt">[#if( $StringUtils.equals("$!{board.eventYn}", "N") )$!{board.replyCount}#else$!{board.eventCommentCount}#end]</span>
				<span class="txt_cmt">[#if( $StringUtils.equals("$!{board.eventYn}", "Y") && $StringUtils.equals("$!{board.purchaseEventYn}", "N") && !$StringUtils.equals("$!{board.eventType}", "1"))$!{board.eventCommentCount}#else$!{board.replyCount}#end]</span>
			</li>
		#end
		</ul>
		<h4 class="tab_wing board">
			<a id="BoardTab" class="CT_ZONE_WING_BEST_BOARD" href="$Config.getProperty('GAIA_DOMAIN').getValue()/gaia/do/musicbar/list?bbsId=M004">게시판</a>
		</h4>
		<ul id="BoardList" class="list_cont CT_ZONE_WING_BEST_BOARD_LIST" style="display:none;">
		#foreach($board in $bestGaiaList)
			<li>
				<a href="$Config.getProperty('GAIA_DOMAIN').getValue()/gaia/do/musicbar/read?bbsId=M004&articleId=$!{board.articleId}" title="$!{board.subject}">#strCut("$!{board.subject}", 25)</a>
				<span class="txt_cmt">[$!{board.commentCount}]</span>
			</li>
		#end
		</ul>
	</div>
	<a id="btnMore" class="btn_comm btn_more CT_ZONE_WING_BEST_MORE" href="$Config.getProperty('SERVICE_DOMAIN').getValue()/musicbar/top">더보기</a>
</div>
<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->

<script type="text/javascript">
	var MusicBarTab = daum.$('MusicBarTab');
	var BoardTab = daum.$('BoardTab');
	var MusicBarList = daum.$('MusicBarList');
	var BoardList = daum.$('BoardList');
	
	daum.addEvent(MusicBarTab, "mouseover", showTabList);
	daum.addEvent(BoardTab, "mouseover", showTabList);
		
	function showTabList(e) {
		var el = daum.getElement(e);
		var parentEl = daum.getParent(el);
		daum.addClassName(parentEl, 'on');
		if( el.id == 'MusicBarTab' ){
			daum.removeClassName(daum.getParent(BoardTab), 'on');
			MusicBarList.style.display = "block";
			BoardList.style.display = "none";
			daum.$("btnMore").href ="$Config.getProperty('SERVICE_DOMAIN').getValue()/musicbar/top";
		} else{
			daum.removeClassName(daum.getParent(MusicBarTab), 'on');
			BoardList.style.display = "block";
			MusicBarList.style.display = "none";
			daum.$("btnMore").href ="$Config.getProperty('GAIA_DOMAIN').getValue()/gaia/do/musicbar/list?bbsId=M004";
		}
	}
</script>



#if( $StringUtils.equals("$!{command.debugmode}","2") )	
뮤직바 리스트
#foreach($board in $bestMusicbarList)
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/>
	댓글수 : $board.replyCount <br/>
	이벤트 댓글수 : $board.eventCommentCount <br/>
	등록일 : $board.regdttm <br/>
	링크 : $Config.getProperty('SERVICE_DOMAIN').getValue()/musicbar/contents.do?board_type=$board.boardType&board_id=$board.boardId <br/><br/>
#end
<br/><br/>
가이아 게시판 리스트
#foreach($board in $bestGaiaList)
	게시판아이디 : $board.articleId <br/>
	글제목 : $board.subject <br/>
	댓글수 : $board.commentCount <br/>
	등록일 : $board.registDate <br/>
	링크 : $Config.getProperty('GAIA_DOMAIN').getValue()/gaia/do/music/artist/read?articleId=$board.articleId&bbsId=M002 <br/><br/>
#end
#end