<div class="wing_realtime">
	<h3 class="tit_comm tit_realtime">실시간 차트</h3>
		<ol class="list_music list_realtime">
		#foreach($item in $realTimeChartSongList)
			#if ($foreach.first)
			<li class="fst">
			#else
			<li>
			#end
				<div class="col_num">
					<span class="num_top num$velocityCount">$velocityCount</span>
				</div>
				<div class="col_songinfo">
					#if ($foreach.first)
						#if("$!{item.album.albumId}" != "0" && "$!{item.songId}" != "0" && "$!{item.album.mainImage.filePath}" !="")
						<a class="albumtype$velocityCount" href="$Config.getProperty('SERVICE_DOMAIN').getValue()/album/main?album_id=$item.album.albumId">
							<img src="$ImageUtil.getImageUrl("$!{item.album.mainImage.filePath}", "74x74", "ALBUM", "C")" width="42" height="42" class="thumb_album" alt="$!{item.title}">
							<span class="bg_album$velocityCount"></span>
						</a>
						#else
						<div class="albumtype$velocityCount">
							<img src="http://s1.daumcdn.net/img-contents/music/2014_home/nowsong/img_none1.jpg" width="42" height="42" class="thumb_album" alt="${item.title}">
							<span class="bg_album$velocityCount"></span>
						</div>
						#end
					#end
					<span class="col_song">
						#if("$!{item.songId}" != "0" && "$!{item.AODLinkId}" != "" && "$!{item.AODLinkId}" != "0")
						<a href="javascript:;" class="song_name" onclick="daum.Music.AodPlayer.add(this, '$!{item.songId}');return false;">
							<span class="screen_out">곡명 </span>#if("$!{item.songId}" != "0")#printSongName( $!{item} "" 20 false)#else ${item.title}#end
						</a>
						#else
						<em class="song_name">
							<span class="screen_out">곡명 </span>#if("$!{item.songId}" != "0")#printSongName( $!{item} "" 20 false)#else ${item.title}#end
						</em>
						#end
					</span>
					<span class="col_artist">
						<strong class="screen_out">아티스트</strong>
							#if("$!{item.songId}" != "0")
            					#set($artistCount = 0)
    							#set($etcArtistCount = 0)
            					#foreach($songArtist in $!{item.keyArtistList})
            						#set($artistCount = $artistCount +1)
									#if ($foreach.first)
										#set($strCutLen = 20)
									#else
										#set($strCutLen = 13)
									#end
    								#if("$!{songArtist.artistId}" != "0")
                						<a href="$Config.getProperty('SERVICE_DOMAIN').getValue()/artist/main?artist_id=${songArtist.artistId}" class="link_artist">#strCut(${songArtist.name}, $strCutLen, "..")</a>
    								#else
    								#strCut(${songArtist.name}, $strCutLen, "..")
    								#end
            						#if($artistCount == 1) #set($etcArtistCount = $!{item.keyArtistList.size()} - 1) #break #end
    							#end
    							#if($etcArtistCount > 0)
    							외 ${etcArtistCount}명
    							#end
            				#else
								<em href="#none" class="link_artist">#strCut($!{item.artistName}, 13, "..")</em>
    						#end
				</div>
			</li>
		#end
		</ul>
		<a id="btnMore" class="btn_comm btn_more" href="$Config.getProperty('SERVICE_DOMAIN').getValue()/chart/">더보기</a>
</div>
<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->

#if( $StringUtils.equals("$!{command.debugmode}","2") )	
뮤직바 리스트
#foreach($item in $realTimeChartSongList)
	곡아이디 : $item.songid <br/>
	곡제목 : $item.title <br/>
#end
#end