#if(!$CollectionUtils.isEmpty($vclipList))
<div class="section_video">
	<h3 class="tit_top tit_video">뮤직비디오</h3>
	<ul class="list_mv CT_ZONE_HOME_VCLIPLIST">
		#foreach($vclip in $vclipList)
		<li>
			#set($index = $foreach.index + 1)
			#printVideoThumb($vclip 1 "" "" "top")
			<div class="wrap_info">
				<strong class="wrap_title">
    				#set($vclipNameCount = 20)
					#printVideoName( $!{vclip} "" $vclipNameCount true )
				</strong>
				<span class="wrap_artist">
					#printArtistName($!{vclip.keyArtistList} "" 14 true)
					#if($StringUtils.isNotBlank("$!{vclip.regDateTime}"))<span class="txt_bar"> | </span><em class="txt_date">$!{CheckDate.makeReleaseDate($!{vclip.regDateTime})}</em>#end
				</span>
			</div>
		</li>
		#end
	</ul>
	<a class="btn_comm btn_more" href="/vclip/chart">더보기</a>	
</div>
#end

#if(!$CollectionUtils.isEmpty($recentBoardList))
<div class="section_musicbar">
	<h3 class="tit_top tit_bar">뮤직BAR</h3>
	<ul class="list_thumb">
		#foreach($board in $recentBoardList)
		#if($foreach.first)
		<li>
		#else
		<li class="lst">
		#end
			#if($StringUtils.isNotBlank("$!{board.imageUrl}"))
			<div class="wrap_thumb">
				<a class="thumb_link" title="#escTitle($!{board.title})" href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}">
					<img width="220" height="138" alt="#escTitle($!{board.title})" src="$ImageUtil.getImageUrl("$!{board.imageUrl}", "220x138", "PHOTO", "C")"/>
					<span class="line_thumb"></span>
				</a>
			</div>
			#end
			
			<div class="wrap_info">
				#if($StringUtils.isNotBlank("$!{board.subTitle}"))<em class="fc_etc">[#strCut("$!{board.subTitle}", 35)]</em>#end
				<strong class="tit"><a href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}">#strCut("$!{board.title}", 50)</a></strong>
				<p class="txt_desc">
					<a href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}">#strCut("#stripHTML($!{board.summary})", 400)</a>
				</p>
			</div>
		</li>
		#end
	</ul>
	<a class="btn_comm btn_more" href="/musicbar/top">더보기</a>	
</div>
#end


<div id="musicLayerAD"></div>

<script type="text/javascript">
    //daum.Music.Home.Live.init();
	/* 요즘 탭 제거
    daum.Music.setTab(
    	daum.$$(".section_live .wrap_option .tab_live li a"), 
    	daum.$$(".section_live .sns_info"),
    	daum.$$(".section_live .wrap_option .tab_live li") 
    );
	*/
    var controller = new daum.Music.ListPrototype();
	
	//뮤직탑 레이어 팝업 광고 인벤토리
	daum.Music.LayerAD.init();
</script>
	
<script type="text/javascript">//<![CDATA[
//var ct_pid = "music_top"; 
//]]></script>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
	
<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>
- 220x190이미지<br/>
---------------------<br/>
개발 체크<br/>
---------------------<br/>
</div>

이달의 앨범<br/>
#foreach($award in $awardList)
	#foreach($album in $award.albumList)
		"albumId" : "$!{album.albumId}" <br />
		"title" : "$!{album.title}" <br />
		"releaseDt" : "$!{album.releaseDt}" <br />
		"playYn" : "$!{album.playYn}" <br />
		"image" : "$!{album.mainImage.filePath}" <br />
		평론가 : "$!{album.criticims}"<br/>
		평론 : "$!{album.criticimsContents}"<br/>
		"artists" <br />
			#foreach($artist in $album.keyArtistList)
				"Id" : "$!{artist.artistId}" <br />
				"name" : "$!{artist.name}" <br />
			#end
		<br />
	#end
#end

실시간순위  : $chartMap.get("realTimeMaxDate")<br/>
#foreach($song in $realTimeChartSongList)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	19금 여부 : $song.adultYn
	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	피쳐링아티스트 :<br/>
	#foreach($artist in $song.featArtist)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	이슈제목 : $song.hotIssue.title<br/>
	이슈내용 : $song.hotIssue.contents<br/>
	이슈 더보기(앵커는 issueId 로 걸면 될듯?) : http://music.daum.net/chart/issuesong.do?issue_id=$song.hotIssue.issueId
	
	<br/>
#end
<br/>
일간순위  : $chartMap.get("dayMaxDate")<br/>
#foreach($song in $dayChartSongList)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	19금 여부 : $song.adultYn
	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	피쳐링아티스트 :<br/>
	#foreach($artist in $song.featArtist)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	이슈제목 : $song.hotIssue.title<br/>
	이슈내용 : $song.hotIssue.contents<br/>
	이슈 더보기(앵커는 issueId 로 걸면 될듯?) : http://music.daum.net/chart/issuesong.do?issue_id=$song.hotIssue.issueId
	
	<br/>
#end
<br/>
주간순위  : $chartMap.get("weekMaxDate")<br/>
#foreach($song in $weekChartSongList)
	순위 : $song.rank<br/>
	변동순위 : $song.modRank<br/>
	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	앨범제목 : $song.album.title<br/>
	앨범아이디 :  $song.album.albumId<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	19금 여부 : $song.adultYn
	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	피쳐링아티스트 :<br/>
	#foreach($artist in $song.featArtist)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	이슈제목 : $song.hotIssue.title<br/>
	이슈내용 : $song.hotIssue.contents<br/>
	이슈 더보기(앵커는 issueId 로 걸면 될듯?) : http://music.daum.net/chart/issuesong.do?issue_id=$song.hotIssue.issueId
	
	<br/>
#end
<br/>
뮤직비디오<br/>
#foreach($vclip in $vclipList)
	{
		"vclipId" : "$!{vclip.vclipId}",
		"title" : "$!{vclip.title}",
		"keyArtistList" : [
			#foreach($artist in $vclip.keyArtistList)
				#if($foreach.index > 0),#end
				{
					"name" : "$!{artist.name}",
					"artistId" : "$!{artist.artistId}"
				}
			#end
		],
		"image" : "$!{vclip.mainImage.filePath}",
		"regdttm" : "$!{vclip.regDateTime}",
		"tagType(HOT, LIVE, ONLY(독점))" : "$!{vclip.motTagType}"
	}
#end
<br/>
좌측상단배너<br/>
#foreach($motTemplete in $leftUpBannerList)
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
#end
<br/><br/>
좌측하단배너 통이미지<br/>
#foreach($motTemplete in $leftDownBannerTotalImageList)
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
#end
<br/><br/>
좌측하단배너 일반형(통이미지형이 없을때 노출)<br/>
#foreach($motTemplete in $leftDownBannerNormalList)
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
#end
<br/><br/>
이벤트<br/>
#foreach($motTemplete in $eventList)
	타이틀 : $motTemplete.title <br/>
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
#end
<br/><br/>
국내앨범<br/>
#foreach ($album in $koreanAlbumList)
	앨범아이디 : $album.albumId<br/>
	앨범명 : $album.title<br/>
	#foreach ($artist in $album.keyArtistList)
		아티스트아이디 : $artist.artistId<br/>
		아티스트명 : $artist.name<br/>
	#end
	발매일 : $album.releaseDt<br/>
	앨범평 : $album.description<br/>
	듣기가능 : $album.playYn<br/>
	이미지주소 : $album.mainImage.filePath<br/>
	AODLINKID : $album.masterSong.AODLinkId<br/>
	ICON(HOT, FIRST(선공개), COMING(발매예정), FREE(무료)) : $album.tagType<br/>
	<br/>
#end
해외앨범<br/>
#foreach ($album in $foreignAlbumList)
	앨범아이디 : $album.albumId<br/>
	앨범명 : $album.title<br/>
	#foreach ($artist in $album.keyArtistList)
		아티스트아이디 : $artist.artistId<br/>
		아티스트명 : $artist.name<br/>
	#end
	발매일 : $album.releaseDt<br/>
	앨범평 : $album.description<br/>
	듣기가능 : $album.playYn<br/>
	이미지주소 : $album.mainImage.filePath<br/>
	AODLINKID : $album.masterSong.AODLinkId<br/>
	ICON(HOT, FIRST(선공개), COMING(발매예정), FREE(무료)) : $album.tagType<br/>
	<br/>
#end
최신 dj추천앨범 2개<br/>
#foreach($album in $djAlbumList)
	앨범아이디 : $album.albumId <br/>
	앨범명 : $album.title <br/>
	앨범볼륨 : $album.volume <br/>
	앨범이미지 : $album.mainImage.filePath <br/>
	앨범장르 : $album.genre.genreGroupName > $album.genre.genreName <br/>
	앨범재생여부 : $album.playYn <br/>
	발매일 : $album.releaseDt <br/>
	#foreach($artist in $album.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
		아티스트링크 : 아직 형식미정입니다.<br/>
	#end
	추천dj이미지 : $album.recommendDj.imageUrl<br/>
	추천dj이미지 : $ImageUtil.getImageUrl("$!{$album.recommendDj.imageUrl}", "90x90", "PHOTO", "C")<br/>
	추천dj명 : $album.recommendDj.nickName<br/>
	추천dj추천평 : $album.recommendDj.comments<br/>
	추천일 : $album.recommendDj.regdttm <br/>
	<br/><br/>
#end
최신  뮤직바 4개<br/>
#foreach($board in $recentBoardList)
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/>
	카테고리 : $board.subTitle <br/>
	요약 : $board.summary <br/>
	이미지 : $board.imageUrl <br/>
	추천수 : $board.recommendCount <br/>
	댓글수 : $board.replyCount <br/>
	등록일 : $board.regdttm <br/>
	작성자 : $board.writer.nickName <br/>
	링크 : http://music.daum.net/musicbar/musicbar/detail?menu_id=$board.menuId&board_id=$board.boardId <br/><br/>
	#foreach($song in $board.songList)
		곡제목 : $song.title<br/>
		곡아이디 : $song.songId<br/>
		가사유무 : $song.lyricsYn<br/>
		듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
		MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
		BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
		벨소리 서비스 여부 : $song.bellSalesStatus<br/>
		통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
		아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		<br/>
	#end
	<br/>
#end
핫이슈 상단 1개<br/>
#foreach($motTemplete in $hotissueUpList)
	타이틀 : $motTemplete.title <br/>
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	#foreach($song in $hotissueSongList)
		#if($song.songId == $motTemplete.generalText)
			곡제목 : $song.title<br/>
			곡아이디 : $song.songId<br/>
			듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
			아티스트 :<br/>
			#foreach($artist in $song.keyArtistList)
				아티스트명 : $artist.name<br/>
				아티스트아이디 : $artist.artistId<br/>
			#end
		#end
	#end
	<br/>
#end
<br/>
핫이슈 하단3개<br/>
#foreach($motTemplete in $hotissueDownList)
	타이틀 : $motTemplete.title <br/>
	링크 : $motTemplete.linkUrl <br/>
	#foreach($song in $hotissueSongList)
		#if($song.songId == $motTemplete.generalText)
			곡제목 : $song.title<br/>
			곡아이디 : $song.songId<br/>
			듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
			아티스트 :<br/>
			#foreach($artist in $song.keyArtistList)
				아티스트명 : $artist.name<br/>
				아티스트아이디 : $artist.artistId<br/>
			#end
			이미지 : $!{song.album.mainImage.filePath} <br/>
		#end
	#end
	<br/>
#end
<br/>
공지사항<br/>
#foreach($notice in $recentNoticeList)
	제목 : $notice.get("SUBJECT") <br/>
	링크 : $notice.get("URL") <br/>
	<br/><br/>
#end

이달의 앨범<br/>
#foreach($award in $awardList)
	#foreach($album in $award.albumList)
		"albumId" : "$!{album.albumId}" <br />
		"title" : "$!{album.title}" <br />
		"releaseDt" : "$!{album.releaseDt}" <br />
		"playYn" : "$!{album.playYn}" <br />
		"image" : "$!{album.mainImage.filePath}" <br />
		평론가 : "$!{album.criticims}"<br/>
		평론 : "$!{album.criticimsContents}"<br/>
		"artists" <br />
			#foreach($artist in $album.keyArtistList)
				"Id" : "$!{artist.artistId}" <br />
				"name" : "$!{artist.name}" <br />
			#end
		<br />
	#end
#end
#end
<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->