#uaCheck()
#*
#set( $ticketId = ["APG0027","APG0026","APMOG0034","APMOG0033","AMG0020","AMG0019","AMG0022","AMG0021","MCG0011","MCG0015","MCG0018","MCG0017","MCG0020","MCG0019","MCG0022","MCG0021"])

<div id="daumContent" class="cont_purchase"> 
#if( !$isIos == true )		
	#printPurchaseMenuApp("2")
#end
   	<div class="wrap_cont">
		<strong class="screen_out">이용권 구매</strong>		  	
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info">스트리밍<br />무제한</em>
				<span class="tit_etc">PC + 스마트폰에서 무제한 전곡듣기 <span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[0]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount54">5,400원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[1]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount60">6,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info">스마트폰<br />무제한</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 무제한 전곡듣기 + 스마트폰에서 무제한 대여<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[2]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount72">7,200원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[3]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount80">8,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type2">MP3 30곡 +<br />무제한 듣기</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 30곡 다운 + 무제한 전곡듣기<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[4]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount81">8,100원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[5]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount90">9,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type2">MP3 100곡 +<br />무제한 듣기</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 100곡 다운 + 무제한 전곡듣기<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[6]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount117">11,700원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[7]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount130">13,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type3">MP3 30곡</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 30곡 다운, 다운 MP3 평생 소장, 모든 기기 가능<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[8]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount54">5,400원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[9]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount60">6,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type3">MP3 40곡</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 40곡 다운, 다운 MP3 평생 소장, 모든 기기 가능<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[10]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount63">6,300원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[11]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount70">7,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type3">MP3 50곡</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 50곡 다운, 다운 MP3 평생 소장, 모든 기기 가능<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[12]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount72">7,200원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[13]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount80">8,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<div class="box_type2">
			<div class="tit_purchase">
				<em class="tit_info info_type3">MP3 100곡</em>
				<span class="tit_etc etc_type2">PC, 스마트폰에서 MP3 100곡 다운, 다운 MP3 평생 소장, 모든 기기 가능<span class="ico_bar"></span></span>
			</div>
			<ul class="list_purchase">
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[14]}',''); return false;">
						<span class="txt_info">매월 자동결제<span class="txt_persent">10%</span></span> 
						<span class="txt_amount"><span class="bg_amount txt_amount93">9,000원</span></span>
					</a>
				</li>	
				<li>
					<a href="#none" class="link_purchase" onclick="javascript:music.mobile.Ticket.buyTicket('$!{ticketId[15]}',''); return false;">
						<span class="txt_info">30일 이용권</span> 
						<span class="txt_amount"><span class="bg_amount txt_amount100">10,000원</span></span>
					</a>
				</li>	
			</ul>
		</div>
		<strong class="tit_purchaseinfo">이용권 구매 안내</strong>
		<ul class="list_notice">
			<li><em class="emph_notice">이용권 구매 시 부가세 10%가 별도 청구 됩니다.</em></li>
			<li>30일권 상품은 구매 후 최대 30일 이내에 <a href="/my/own_ticket/ticket/app/list" class="link_notice">이용권 관리</a>에서 사용하기를 클릭해야 하며, 30일 이후부터 자동으로 이용권 사용이 시작됩니다.</li>
			<li>본 상품은 구매일로부터 7일 이내 청약철회가 가능합니다. 단, 이용권 구매 후 전곡듣기를 1건이라도 사용하셨거나 다운로드를 1곡이라도 사용 시에는 취소, 환불이 불가능합니다.</li>
			<li>사용중인 음악감상 이용권이 있을 경우에는 다른 음악감상 이용권은 구매하실 수 없습니다.</li>
			<li>스마트폰 무제한 이용권에 제공되는 대여 기능은 노래 재생 시 WIFI나 데이터를 사용하지 않는 기능으로, 스마트폰 무제한 이용권을 사용중인 기간에만 제공됩니다.</li>
			<li>MP3는 모든 기기에서 사용가능하며, 일부 MP3는 음원 권리사의 요청으로 구매 후 1년만 재다운로드가 가능합니다.</li>
			<li>기간 내에 사용하지 않은 MP3 이용권은 이월되지 않습니다.</li>
			<li>음원 권리사의 요청에 따라 MP3 다운로드 기기는 3대로 제한되며, 스마트폰 무제한 다운로드 기기는 2대로 제한 됩니다.</li>
		</ul>
	</div>
</div> 

#parse("/velocity/mobileweb/ticket/ticketitem/ticket.vm")
#parse("/velocity/mobileweb/realtimeissue.vm")
*#
<script type="text/javascript">
    alert("2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.")
    history.back();
</script>