<h3 class="screen_out">메뉴</h3>
<div class="snb_musicbar">
	<ul id="MusicBarListMenu" class="list_menu CT_ZONE_MUSICBAR_MENU">
		<style type="text/css">
		#foreach($motTemplete in $rightMenuList)
			.menu$!{foreach.count} {background:url($motTemplete.imageUrl) no-repeat;}
			.menu$!{foreach.count}_on {background:url($motTemplete.activatedImageUrl) no-repeat;}
			.snb_musicbar .list_menu li .menu$!{foreach.count}_on {position:absolute;top:-1px;left:0;height:34px;}
			#if( $StringUtils.isEmpty("$!{motTemplete.linkUrl}") && !$StringUtils.equals("$!{motTemplete.title}","뮤직게시판"))
			.snb_musicbar .list_menu li .wrap_menu.menu$!{foreach.count} {position:relative;top:0px;left:0;height:32px;}
			#end
		#end
		</style>
		
		#foreach($motTemplete in $rightMenuList)
		<li>
			#if( $StringUtils.isEmpty("$!{motTemplete.linkUrl}") && !$StringUtils.equals("$!{motTemplete.title}","뮤직게시판"))
			<span class="wrap_menu menu$!{foreach.count}"></span>
			#else
			<span class="wrap_menu#if( $StringUtils.equals("$!{motTemplete.activatedYn}","Y") )_on#end">
				#if($StringUtils.equals("$!{motTemplete.title}","뮤직게시판"))
				<a class="menu$!{foreach.count}#if( $StringUtils.equals("$!{motTemplete.activatedYn}","Y") )_on#end" href="$Config.getProperty('GAIA_DOMAIN').getValue()/gaia/do/musicbar/list?bbsId=M004" value="$!{motTemplete.activatedYn}" onmouseover="daum.Music.MusicBar.changeMenuTab(this, $!{foreach.count}); return false;">$!{motTemplete.title}</a>
				#else
				<a class="menu$!{foreach.count}#if( $StringUtils.equals("$!{motTemplete.activatedYn}","Y") )_on#end" href="$Config.getProperty('SERVICE_DOMAIN').getValue()$!{motTemplete.linkUrl}" value="$!{motTemplete.activatedYn}" onmouseover="daum.Music.MusicBar.changeMenuTab(this, $!{foreach.count}); return false;">$!{motTemplete.title}</a>
				#end
			</span>
			#end
		</li>
		#end
	</ul>
	<span class="bg_bar bg_top"></span>
</div>