#if(!$CollectionUtils.isEmpty($relationArtistAlbumList))
<div class="wing_recommend fst_able">
	<h3 class="tit_comm tit_relation">관련 아티스트 추천앨범</h3>
	<ul class="list_album">
		#foreach($album in $relationArtistAlbumList)
			#if( $foreach.index < 5 )
		<li>
			#printAlbumThumb( $album 1 "" "" )
			<span class="wrap_info">
				<span class="wrap_title">
					<strong>#printAlbumName( $album "fw_b" 19 1 true )</strong>
				</span>
					#printArtistName( $album.keyArtistList "txt_artist" 12 true )
				#if( $StringUtils.isNotBlank("$!{album.releaseDt}") )
				<span class="txt_bar fs_11"> | </span>
				<span class="txt_sub">$!{CheckDate.makeReleaseDate($!{album.releaseDt})}</span>
				#end
			</span>
		</li>
			#end
		#end
	</ul>
</div>
#end