#if( $StringUtils.isNotBlank("$!{album.albumId}") )##앨범 상세페이지 이면	
	#set($reportWingUrl = "AL&album_id=" + $album.albumId)
	#set($reportType = "AL")
	#set($reportId = $album.albumId)
#else	##아티스트 페이지 이면
	#set($reportWingUrl = "AR&artist_id=" + $artist.artistId)
	#set($reportType = "AR")
	#set($reportId = $artist.artistId)	
#end
<div class="wing_report">
	<h3 class="screen_out">제보</h3>
	<a class="btn_report music"  title="음악정보제보" onclick="daum.Music.ReportPop('$reportType','$reportId');return false;" href="/user/report.popup?obj_type=$!{reportWingUrl}" target="blank">음악정보제보</a>
	<a class="btn_report error" title="음원오류신고" onclick="daum.Music.ReportPop('$reportType','$reportId','E');return false;" href="/user/report.popup?obj_type=$!{reportWingUrl}&info_type=E" target="blank">음원오류신고</a>
</div>