#if("$!{callback}" != "")
if (typeof(${callback}) == "function") ${callback} (
#end
{
	"lyricsList" : [
#foreach(${lyrics} in ${dto.lyricResult.documentList})
	#if(${foreach.index} > 0) , #end
	${JsonTool.toJson(${lyrics})}
#end
	]
}
#if("$!{callback}" != "")
);
#end

