#uaCheck()
#set($type = $request.getParameter("type"))
#set($query = $request.getParameter("query"))
<div id="daumContent" class="cont_search">
	<h2 class="screen_out">검색결과 </h2>
#SearchForm("top_in_two")	
	<div class="section_result">
		<div class="wrap_head">
			<strong class="fc_blue">'$!{command.query}'</strong>(으)로 검색한 결과입니다.</h3>
		</div>
#if($StringUtils.equals("$!{mobileWebSearchType}","song"))
		<ul class="tab_menu">
			<li class="on"><a href="/search/list?type=song&query=$!{command.query}" class="txt_menu"><strong>곡</strong><span class="fc_blue txt_num"></span></a></li>
			<li class="lst"><a href="/search/list?type=album&query=$!{command.query}" class="txt_menu"><strong>앨범</strong><span class="fc_blue txt_num"></span></a></li>
		</ul><!-- // 탭 -->
		<h3 class="screen_out">곡 검색결과</h3>
	#set($songList = $dto.songResult.documentList)
	#set($songCount = $dto.songResult.totalResultsCount)

	#set ($url = "?query=$!{command.encodedQuery}")
	#if( $StringUtils.isNotEmpty("$!{command.searchRange}") ) #set ($url = $url + "&searchRange=$!{command.searchRange}") #end
	#if( $StringUtils.isNotEmpty("$!{command.artistId}") ) #set ($url = $url + "&artistId=$!{command.artistId}") #end
	#if( $StringUtils.isNotEmpty("$!{command.genreId}") ) #set ($url = $url + "&genreId=$!{command.genreId}") #end
	#if( $StringUtils.isNotEmpty("$!{command.releaseYear}") ) #set ($url = $url + "&releaseYear=$!{command.releaseYear}") #end
	#if( $StringUtils.isNotEmpty("$!{command.listenFilter}") ) #set ($url = $url + "&listenFilter=$!{command.listenFilter}") #end
	#if( $StringUtils.isNotEmpty("$!{command.bgmFilter}") ) #set ($url = $url + "&bgmFilter=$!{command.bgmFilter}") #end

	#if ($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))
		#set ($songview = "on")
	#else
		#if($!{songCount} && $!{songCount} > 0)
			#set ($songview = "on")
		#else
			#set ($songview = "off")
		#end
	#end
		
	#if($StringUtils.equals($!{songview},"on"))
		<ul class="list_info list_music">
		#if(($!{songCount}) && $!{songCount} > 0)		
			#set ($count = 0)
			#foreach($song in $songList)
				#if($StringUtils.equals("$!{song.listen_yn}","Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
				#if($StringUtils.equals("$!{song.mp3_yn}","Y")) #set ( $_mp3Able = true ) #else #set ( $_mp3Able = false ) #end
				#if($StringUtils.equals("$!{song.bgm_yn}","Y")) #set ( $_bgmAble = true ) #else #set ( $_bgmAble = false ) #end
#set($song_type = "")
#if($musicUser)
#set($user_daumId = $!{musicUser.daumId})
#set($user_adultYn = $!{musicUser.adultYn})
#elseif($user)
#set($user_daumId = $!{user.daumId})
#set($user_adultYn= $!{user.adultYn})
#end
#if(("$!song.song_adult_yn"=="Y") && ("$user_adultYn")!="Y")
#set($song_type = "adult")
#end
			<li> 
				<div class="wrap_cont">
					<a href="#" class="wrap_folding">
						<span class="info">
							<span class="wrap_song">
								<strong class="tit">#strCut($!song.song_name, 26)</strong>
								##if("$!{song.song_adult_yn}"=="Y")<span class="ico_rating" title="19세 미만 청취 불가"><span class="inner">19</span></span>#end
								#adultIcon($!{song.song_adult_yn})
								#if("$!song.feat_artist_name"!="")(Feat. $!song.feat_artist_name.replaceAll("\|","\,"))#end
							</span>
							<span class="txt_info">#if(!$CollectionUtils.isEmpty($song.getKeyArtistList()))#foreach($artist in $song.getKeyArtistList())#if($velocityCount!=1), #end$artist.name#end#{else}V.A#end<span class="txt_bar"> | </span>#if("$!{song.album_volume}"!="")$!{song.album_volume}집 #end$!{song.album_name}</span>
						</span>
						<span class="bround btn_fold">
							<span class="ico_music ico_fold">펼치기/접기</span>
						</span>
					</a>
					#if($_listenAble)
					<a href="javascript:;" onclick="music.mobile.mMusicPlay.playSample('$!{song.song_id}','$!{song_type}','close');" class="bround btn_listen" title="곡 듣기">
						<span class="ico_music ico_listen off">듣기</span>
					</a>
					#else
					<a class="bround btn_listen off" title="곡 듣기">
						<span class="ico_music ico_listen">듣기</span>
					</a>
					#end
				</div>
				<div class="wrap_action">
					<a #if("$!song.lyrics_yn" == "Y")#if("$song_type" != "adult")href="/song/vcliplyrics?song_id=$!{song.song_id}&album_id=$!{song.album_id}"#else href="javascript:;" onclick="music.mobile.adultcheck(); return false"#end#end class="bround btn_lyrics #if("$!song.lyrics_yn" != "Y") off#end">
					##<a #if("$!song.lyrics_yn" == "Y")href="/song/vcliplyrics?song_id=$!{song.song_id}&album_id=$!{song.album_id}"#end class="bround btn_lyrics #if("$!song.lyrics_yn" != "Y") off#end">			
						<span class="ico_music ico_lyrics"></span>가사 
					</a>
					<a href="/album/main?album_id=$!{song.album_id}" class="bround btn_album">
						<span class="ico_music ico_album"></span>앨범 
					</a>
###if("$!{song.mp3_yn}"!="" && "$!{song.mp3_yn}"!="0")
##if($_mp3Able)
##					<a href="javascript:;" onclick="music.mobile_billing.mMusicMp3buy.goMp3Add('$!{song.songId}', '$!{song.album.albumId}'); return false;" class="bround btn_buy">MP3 구매</a>
##else
		            <a class="bround btn_buy off" href="javascript:;" onclick="alert('2015년 6월 30일 다음뮤직 서비스 종료에 따라 상품 판매가 종료되었습니다. 이미 구매하신 이용권으로 음악감상 / MP3 다운로드 / BGM 구매는 6월 14일까지 가능합니다. \n그동안 이용해주셔서 감사합니다.'); return false;">MP3 구매</a>
##end

#if($ua_result.os.ios && $_listenAble)
					#if($MathTool.toNumber($ua_result.browser.major) > 3)
					##<a href="/appHub?obj_type=SO&obj_id_list=$!{song.song_id}" class="bround btn_app">
					<a onclick="music.mobile.mMusicPlay.playOnApp('SO', '$!{song.song_id}', '$!{song.album_id}');return false;" href="javascript:;" class="bround btn_app">
					#else
					<a onclick="alert('사용하시는 IOS 버전에서는 지원하지 않는 기능입니다. IOS를 최신버전으로 업그레이드 해 주세요');" href="javascript:;" class="bround btn_app">
					#end
#elseif(($ua_result.os.android && $StringUtils.equals("$!{command.for_android_app}", "Y")))
		            <a onclick="music.mobile.mMusicPlay.playOnApp('SO', '$!{song.song_id}', '$!{song.album_id}');return false;" href="javascript:;" class="bround btn_app">
#else
					<a class="bround btn_app off">
#end
						듣기
					</a>
					<div id="sId_$!{song.song_id}" class="audio"></div>
				</div>
				
			</li>
			#end	
		#else			
				<tr class="first"><td style="text-align:center;height:60px;" colspan="8">곡/노래 검색결과가 없습니다.</td><tr>	
		#end    	
		</ul>

	<!-- 페이징 -->	
		#if(($!{songCount}) && $!{songCount} > 0)		
			#if( $StringUtils.isNotEmpty("$!{command.sortType}") ) #set ($url = $url + "&sortType=$!{command.sortType}") #end
			##printPagingClickLog("${url}&page_no=", $dto.ph.pageNo, $dto.ph)
			#mobilePaging($pagingUrl, $dto.ph.pageNo, $dto.ph, "", 10)
		#end
	#end	
		
		<!--검색결과 없음 -->
		#if($StringUtils.equals($!{songview},"off"))
	 ##   #if($songCount <= 0)
			<div class="section_result">
        		<div class="wrap_result">
        			<span class="txt_search"><strong class="fc_blue">'$!{command.query}'</strong>(으)로 검색한 결과가 없습니다.</span>
        			<span class="txt_explan">검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요</span>
        			<span class="txt_explan">두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요</span>
        			<span class="txt_explan">키워드에 있는 특수문자를 뺀 후에 검색해 보세요</span>
        		</div>
			</div> 	
		</div>
		#end
		

	
#else
		<ul class="tab_menu">
			<li class=""><a href="/search/list?type=song&query=$!{command.query}" class="txt_menu"><strong>곡</strong><span class="fc_blue txt_num"></span></a></li>
			<li class="lst on"><a href="/search/list?type=album&query=$!{command.query}" class="txt_menu"><strong>앨범</strong><span class="fc_blue txt_num"></span></a></li>
		</ul><!-- // 탭 -->
		<h3 class="screen_out">앨범 검색결과</h3>
	#set($albumList = $dto.albumResult.documentList)
	#set($albumCount = $dto.albumResult.totalResultsCount)

	#set ($url = "?query=$!{command.encodedQuery}")
	#if( $StringUtils.isNotEmpty("$!{command.searchRange}") ) #set ($url = $url + "&searchRange=$!{command.searchRange}") #end
	#if( $StringUtils.isNotEmpty("$!{command.genreId}") ) #set ($url = $url + "&genreId=$!{command.genreId}") #end
	#if( $StringUtils.isNotEmpty("$!{command.releaseYear}") ) #set ($url = $url + "&releaseYear=$!{command.releaseYear}") #end
	#if( $StringUtils.isNotEmpty("$!{command.listenFilter}") ) #set ($url = $url + "&listenFilter=$!{command.listenFilter}") #end
	#if( $StringUtils.isNotEmpty("$!{command.bgmFilter}") ) #set ($url = $url + "&bgmFilter=$!{command.bgmFilter}") #end

	#if ($StringUtils.equals($!{command.listenFilter},"y") || $StringUtils.equals($!{command.bgmFilter},"y"))
		#set ($albumview = "on")
	#else
		#if($!{albumCount} && $!{albumCount} > 0)
			#set ($albumview = "on")
		#else
			#set ($albumview = "off")
		#end
	#end
		#if($StringUtils.equals($!{albumview},"on"))		
		#if(($!{albumCount}) && $!{albumCount} > 0)
		<ul class="list_info list_thumb">
			#foreach($album in $albumList)
				#set ( $count = $foreach.index + 1 )
			<li> 
				<div class="wrap_cont">
					<a href="/album/main?album_id=$!{album.docid}" class="wrap_thumb">
						<span class="thumb">
							<img #if($isWVGA)width="141" height="141"#else width="94" height="94"#end alt="" src="$ImageOldUtil.getImageUrl("$!{album.album_thumb_url}", $ImageOldUtil.ALBUM_110_110)" class="thumb_img">
							<span class="bg_outline"></span>
						</span>
						<span class="info">
							<strong class="tit">#if("$!{album.album_volume}" != "")$!{album.album_volume}집#end $!{album.album_name}</strong>
							<span class="txt_info">#if("$!album.artist_name"!="")$!album.artist_name.replaceAll("\|",", ")#{else}V.A#end<span class="txt_bar"> | </span>$CheckDate.makeReleaseDate(${album.release_date})</span>
						</span>
					</a>
				</div>

			</li>
			#end
		</ul>
		#end
			
		<!-- 페이징 -->	
    	   	#if( $StringUtils.isNotEmpty("$!{command.sortType}") ) #set ($url = $url + "&sortType=$!{command.sortType}") #end
    		#mobilePaging($pagingUrl, $dto.ph.pageNo, $dto.ph)
			
		#end
			
			<!--검색결과 없음 -->
			#if($StringUtils.equals($!{albumview},"off"))
	   ##     #if($albumCount <= 0)
			<div class="section_result">
        		<div class="wrap_result">
        			<span class="txt_search"><strong class="fc_blue">'$!{command.query}'</strong>(으)로 검색한 결과가 없습니다.</span>
        			<span class="txt_explan">검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요</span>
        			<span class="txt_explan">두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요</span>
        			<span class="txt_explan">키워드에 있는 특수문자를 뺀 후에 검색해 보세요</span>
        		</div>
			</div>
	    	</div>
	    	#end
#end	
	</div>	
#SearchForm("")
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")

#*
<b>사용자 정보</b><br />
#if($musicUser)
	daumId : $!{musicUser.daumId} <br />
	adultYn : $!{musicUser.adultYn} <br />
#elseif($user)
	daumId : $!{user.daumId} <br />
	adultYn : $!{user.adultYn} <br />
#end
*#
