#uaCheck()
<script type="text/javascript">
#if($!result.resultType == "USER_NOT_ADULT")
	//alert("해당곡은 실명인증이 된 19세 이상 사용자만 이용 가능합니다");
	function noticeInfo(){
    	if(confirm('이 곡은 청소년보호법에 따라 19세 미만 사용자는 이용할 수 없습니다. 나이 및 본인 여부 확인 페이지로 이동하시겠습니까?')){
    		var newurl='http://m.music.daum.net'+window.location.pathname+window.location.search;
    	    var encodertnurl=encodeURIComponent(newurl);
    	    var encodecancelurl=encodeURIComponent('http://m.music.daum.net'); 
    		window.location.href = 'https://member.daum.net/m/youth/adult_check?rtnUrl='+encodertnurl+'&cancelUrl='+encodecancelurl;
    		return true;
    	}
    	else{
            #if($!{fromwhere} == 'falsereferer') 
    		    window.location.href = 'http://m.music.daum.net';
			#else
			    goToBack();
    		#end
            return true;
    	}
	}
	noticeInfo();

#elseif($!result.resultType == "PACKAGE_ALBUM")
	alert("음원 권리사의 요청으로 \n개별곡 구매가 제한된 곡입니다.\n앨범 전곡 구매만 가능하니 \nPC 웹을 이용해 주세요.");
	goToBack();
#elseif($!result.resultType == "DUPLICATED")
	alert("이미 구매하신 음원입니다. \n PC나 앱의 구매음악 메뉴에서 확인해 보실 수 있습니다.");
	goToBack();
#elseif($!result.resultType == "FAILURE")
	alert("다시 구매시도를 부탁드립니다.");
	goToBack();
#end

function goToBack(){
#if($StringUtils.equals("$!{isDaumMusicApp}", "true"))
	JSInterface.goToBack();
#else
	window.history.back()
#end
}

</script>

