#uaCheck()
<div id="daumContent" class="cont_detail">
	<h2 class="screen_out">상세</h2>
	<div class="section_intro">
		<div class="cont_navi">
			<h3 class="tit">선정단 100자평</h3>
			#btnPrev()
		</div>

		<div class="wrap_detail_tit">
			<a href="/album/main?album_id=$!{album.albumId}">
			<div class="thumb">
				<img #if($isWVGA)width="49" height="49"#else width="33" height="33"#end alt="이미지정보" src="$ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "41x41", "ALBUM", "C")">
				<span class="outline"></span>
			</div>
			<h4 class="tit"><span class="tit_album">#strCut("$!{album.title}", 30)</span></h4>
			</a>
		</div>

		<div class="wrap_cont">
			#foreach($commander in $imageneInfo.commanderList)
			<div class="hundred_letter">
				<strong class="tit_hundred">$!{commander.commandDj.name}님의 100자평</strong>
				<p class="desc">
					$!{commander.command}
				</p>
			</div>
    		#end
		</div>
	</div>

#SearchForm("only_bottom")
</div>

#parse("/velocity/mobileweb/realtimeissue.vm")

#*

앨범 <br>
albumId : $!{album.albumId}<br>
title : $!{album.title}<br>
typeName : $!{album.typeName}<br>
mainImage : $!{album.mainImage.filePath}<br>
썸네일 : $ImageUtil.getMobileImageUrl("$!{album.mainImage.filePath}", "41x41", "ALBUM", "C") <br/>

<br/>

앨범소개<br/>
- 앨범소개 : $!{album.description}<br><br>

100자평<br/>
#foreach($commander in $imageneInfo.commanderList)
닉네임 : $commander.commandDj.nickname<br/>
내용 : $commander.command<br/>
#end



*#