<MUSIC>
	<ISSUESONGS>
		#foreach ($song in $issueSongList)
			<SONG>
				<ISSUE_ID><![CDATA[$!{song.hotIssue.issueId}]]></ISSUE_ID>
				<ISSUE_TITLE><![CDATA[$!{song.hotIssue.title}]]></ISSUE_TITLE>
				<ISSUE_WINGTITLE><![CDATA[$!{song.hotIssue.wingTitle}]]></ISSUE_WINGTITLE>
				<ISSUE_URL>#if($!{song.hotIssue.issueId} && $!{song.hotIssue.issueId} != '0')<![CDATA[http://music.daum.net/chart/issuesong/list?issue_id=$!{song.hotIssue.issueId}]]>#end</ISSUE_URL>
				<CONTENTS><![CDATA[$!{song.hotIssue.contents}]]></CONTENTS>
				<REGIST_TIME><![CDATA[$!{song.hotIssue.regdttm}]]></REGIST_TIME>
				<TITLE_LINK><![CDATA[$!{song.hotIssue.titleLink}]]></TITLE_LINK>
				<RELATED_TITLE><![CDATA[$!{song.hotIssue.relatedTitle}]]></RELATED_TITLE>
				<SEARCH_WORD><![CDATA[$!{song.hotIssue.searchWord}]]></SEARCH_WORD>
				<ENCODED_SEARCH_WORD><![CDATA[$!{song.hotIssue.getEncodedSearchWord()}]]></ENCODED_SEARCH_WORD>
				<SONG_TITLE><![CDATA[$!{song.title}]]></SONG_TITLE>
				<SONGID><![CDATA[$!{song.songId}]]></SONGID>
				<LYRICSYN><![CDATA[$!{song.lyricsYn}]]></LYRICSYN>
				<VCLIPLINKID><![CDATA[$!{song.vclipLinkId}]]></VCLIPLINKID>
				<TVPOTID><![CDATA[$!{song.tvpotVId}]]></TVPOTID>
				<ALBUM_IMAGE><![CDATA[$!{song.album.mainImage.filePath}]]></ALBUM_IMAGE>
				<ALBUMID><![CDATA[$!{song.album.albumId}]]></ALBUMID>
				<ALBUM_TITLE><![CDATA[$!{song.album.title}]]></ALBUM_TITLE>
				<MP3YN><![CDATA[$!{song.MP3LinkId}]]></MP3YN>
				<BGMYN><![CDATA[$!{song.BGMLinkId}]]></BGMYN>
				<AODYN><![CDATA[$!{song.AODLinkId}]]></AODYN>
				<BELLYN><![CDATA[$!{song.bellSaleStatus}]]></BELLYN>
				<RINGYN><![CDATA[$!{song.ringSaleStatus}]]></RINGYN>								
				<ARTISTS>
					#if($!{song.keyArtistList} && $!{song.keyArtistList.size()} > 0 )
						#foreach($artist in $song.keyArtistList)
							<ARTIST>
								<ARTISTID><![CDATA[$!{artist.artistId}]]></ARTISTID>
								<ARTISTNAME>#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[]]>#end</ARTISTNAME>
								<ARTISTURL>#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</ARTISTURL>
							</ARTIST>
						#end
					#else
						<ARTIST>
							<ARTISTID></ARTISTID>
							<ARTISTNAME><![CDATA[]]></ARTISTNAME>
						</ARTIST>
					#end
				</ARTISTS>
				<FEAT_ARTISTS>
				#if($!{song.featArtist} && $!{song.featArtist.size()} > 0 )
					#foreach($artist in $song.featArtist)
						<FEAT_ARTIST>
							<ARTISTID><![CDATA[$!{artist.artistId}]]></ARTISTID>
							<ARTISTNAME>#if($artist.name)<![CDATA[$!{artist.name}]]>#else<![CDATA[]]>#end</ARTISTNAME>
							<ARTISTURL>#if($!{artist.artistId} && $!{artist.artistId} != '0')<![CDATA[http://music.daum.net/artist/main?artist_id=$!{artist.artistId}]]>#end</ARTISTURL>
						</FEAT_ARTIST>
					#end
				#else
					<FEAT_ARTIST>
						<ARTISTID></ARTISTID>
						<ARTISTNAME><![CDATA[]]></ARTISTNAME>
					</FEAT_ARTIST>
				#end
				</FEAT_ARTISTS>
			</SONG>
		#end
	</ISSUESONGS>
</MUSIC>