
#set($chartType = "$!{command.chart_type}")
#set($genreCd= "$!{command.genre_cd}")
#set($dateKey = "$!{command.date_key}")
#set($date = "$!{command.date}")
#set($pageNo = "$!{command.page_no}")

## 상단 네비게이션 탭
#printChartNaviTab($chartType $genreCd $dateKey $date $pageNo)
<div class="wrap_cate">
	<h3 class="tit_chart tit_hot_issue">핫이슈 공감 <em>요즘 화제인 그 노래들! 한번에 완전 정복하세요</em></h3>
</div>
<div class="wrap_tbl_music wrap_hotissue">
	## 리스트 상단 버튼 set
	<div class="wrap_tool_btn">
    	<div class="tool_btn">
    	##	#printListButton("song", "controlBtn" "" "")
			#printListButton("song"  "" "" "" "")
    	</div>
    </div>
	
	## 리스트 테이블 시작
	<div class="bg_thead">
		<input id="allCheck" class="all_chk" type="checkbox">
		<label for="allCheck" class="screen_out">전체선택</label>
	</div>
	
	<table id="trackContainer" class="tbl_music" summary="요즘 화제인 노래들의 앨범, 날짜, 내용의 정보를 제공합니다.">
		<caption class="screen_out">인기차트 - 핫이슈 공감</caption>
		#printListHeader( "hotissue" )
		<tbody>
			#if(!$CollectionUtils.isEmpty($!{issueSongList}))
			#printIssueSongTable($issueSongList)
			#else
			<tr>
				<td rowspan="2">
					<div class="txt_coupon " style="width:300px">
						<strong>핫이슈 공감 정보가 없습니다.</strong>
					</div>
				</td>
			</tr>	
			#end
		</tbody>
	</table>
	
	<div class="btm_hotissue">
		<div class="wrap_tool_btn">
			<div class="tool_btn">
		##		#printListButton("song", "controlBtn" "" "")
			#printListButtonFoot("song"  "" "" "" "")
			</div>
		</div>
		<div class="wrap_paging">
			#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
		</div>
	</div>
</div>	
#set($song_id = "" )
#set($list_count = "")
#foreach($song in $issueSongList)
#if( $StringUtils.equals("$!{song.hotIssue.issueId}", "$!{command.issue_id}"))
#set($song_id = $song.songId)
#set($list_count = $foreach.count)
#end
#end
<script type="text/javascript">
	var controller = new daum.Music.ListPrototype();
	controller.initialize({pageType:'chart', colNum:11, rowIndex:2, isDuplicate:false});
	#if(!$CollectionUtils.isEmpty($chartSongList))
       	domReady( function(){
		#if( $StringUtils.isNotBlank("$!{command.song_id}") )
    		#if( $StringUtils.isNotBlank("$!{command.vclip_id}") )
    		controller.viewVideo(daum.$$('#track' + $!{command.song_id} + " .col_video .video_song")[0], $!{command.vclip_id}, {colNum:11, container:'trackContainer', pageType:'chart'}); return false;
    		#else
    		controller.viewLyrics(daum.$$('#track' + $!{command.song_id} + " .col_lyrics .lyrics_song")[0], $!{command.song_id},'Y', {container:'trackContainer', checkboxName:'trackCheckbox' , tag:'tr'});return false;
			#end
    	#else
			if(!!daum.$$(".btn_hot")[0])daum.Music.Chart.clickHotIssue(daum.$$(".btn_hot")[0], '$chartSongList[0].songId', 'first');return false;
		#end
	    });
	#end
	//new daum.Music.CheckBoxDrag("trackContainer");
	//var checkboxDrag = daum.Music.selectByDrag().init("#trackContainer .track", "col_check");
	</script>
#*
<script type="text/javascript">
var controller = new daum.Music.ListPrototype();
controller.initialize({colNum:4});
daum.Fx.scrollTo('track' + $song_id , {duration:700, offset:-50});
daum.addClassName('track' + $song_id, 'on');
</script>
*#
#*
<script type="text/javascript">
var issueList =[ #foreach($song in $issueSongList)#if($foreach.index>0),#end{songId:"$!{song.songId}", word:"$!{song.hotIssue.searchWord}", encode_word:"$!{song.hotIssue.getEncodedSearchWord()}", count:"$!{foreach.count}"}#end];
daum.Music.SocialWeb.initialize({searchWordList:issueList, songId:"$!{song_id}", count:"$!{list_count}"});
</script>
*#
<script type="text/javascript">//<![CDATA[
//var ct_pid = "music_hotissue_list"; 
//]]></script>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>
- song.album.playYn 값이 없습니다. 
---------------------<br/>
개발 체크<br/>
- song.album.playYn 값 추가 됐습니다
---------------------<br/>
</div>


각 링크는 아직 정해지지 않았습니다.
<br/>
#foreach($song in $issueSongList)
	이슈제목 : $song.hotIssue.title<br/>
	이슈내용 : $song.hotIssue.contents<br/>
	등록일 : $song.hotIssue.regdttm<br/>
	제목링크 : $song.hotIssue.titleLink<br/>
	하단링크명 : $song.hotIssue.relatedTitle<br/>
	하단링크 : $song.hotIssue.relatedLink<br/>
	관련검색어 : $song.hotIssue.searchWord<br/>
	utf-8로 인코딩된 검색어 : $!{song.hotIssue.getEncodedSearchWord()}<br/>

	곡제목 : $song.title<br/>
	곡아이디 : $song.songId<br/>
	가사유무 : $song.lyricsYn<br/>
	뮤직비디오유무 : $song.vclipLinkId<br/>
	티비팟아이디 : $song.tvpotVId<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	앨범제목 : $song.album.albumId<br/>
	앨범아이디 : $song.album.title<br/>
	앨범이미지 : $song.album.mainImage.filePath<br/>
	썸네일 : $ImageUtil.getImageUrl("$!{song.album.mainImage.filePath}", $ImageUtil.ALBUM_45_45)<br/>
	듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
	MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
	BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
	벨소리 서비스 여부 : $song.bellSalesStatus<br/>
	통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
	아티스트 :<br/>
	#foreach($artist in $song.keyArtistList)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	피쳐링아티스트 :<br/>
	#foreach($artist in $song.featArtist)
		아티스트명 : $artist.name<br/>
		아티스트아이디 : $artist.artistId<br/>
	#end
	<br/><br/>
#end



##page
#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
#end