#if( !$StringUtils.equals("$!{command.playlist_id}","0") ) #set( $pageType = "MODIFY" )
#else #set( $pageType = "REGIST" ) #end
<div class="section_listinfo">
	<div class="wrap_listinfo">
		<h3 class="tit_mymusic tit_playlist">재생목록 정보</h3>
		<div id="playlistInfo" class="wrap_selectlist">
			#printAlbumThumb( $!{baseInfo} "playlist_3" $!{command.playlist_id} "" )
			<div class="wrap_info">
				<strong class="wrap_title">
				
				#if( $StringUtils.equals("$!{pageType}","REGIST") )
					<input id="inputPlaylistName" class="inp_title inp_add" type="text">
					<button class="btn_mymusic btn_submit" onclick="daum.Music.Playlist.regist();">확인</button>					
				#else
					#set( $namep = $baseInfo.playListName.replaceAll('"', '&quot;')  )
##					<a id="textPlaylistName" title="$!StringCutUtil.removeTag($namep)"><strong>#strCut($StringUtils.trim("$!StringCutUtil.removeTag($namep)"),26)</strong></a>
                    <span id="textPlaylistName" title="$StringUtils.trim("$!StringCutUtil.removeTag($namep)")"><strong>#strCut($StringUtils.trim("$!StringCutUtil.removeTag($namep)"),26)</strong></span>
					<input id="inputPlaylistName" class="hide inp_title inp_modify" value="$!StringCutUtil.removeTag($namep)" type="text">
##					#if( !$StringUtils.equals("$!{baseInfo.gubunCd}", "Y") )
##					<a href="#" class="btn_mymusic btn_modify" onclick="daum.Music.Playlist.rename();return false;">수정</a>
##					#end
					<a href="#" class="btn_mymusic btn_cancel" style="display:none;" id="buttonRenameCancel" onclick="daum.Music.Playlist.renameCancel();return false;">취소</a>
				#end
				</strong>
				## $baseInfo.playListId
				<dl class="wrap_col">
					<dt class="tit_info">곡수</dt>
					<dd class="txt_info">총 <strong id="totalCount">#if( $StringUtils.equals("$!{pageType}","REGIST") )0#else $!{baseInfo.totalPlayCnt}#end</strong> 곡</dd>
				</dl>
				<dl class="wrap_col">
					<dt class="tit_info">재생시간</dt>
					<dd class="txt_info" id="totalTime">#if( $StringUtils.equals("$!{pageType}","REGIST") )-#else $!{baseInfo.totalPlayTime}#end</dd>
				</dl>
				<dl class="wrap_col">
					<dt class="tit_info album">최종편집</dt>
					<dd class="txt_info" id="modifyDate">#if( $StringUtils.equals("$!{pageType}","REGIST") )-#else $!{CheckDate.makeReleaseDate($!{baseInfo.modDttm})}#end</dd>
				</dl>
##				#if( !$StringUtils.equals("$!{pageType}","REGIST") && !$StringUtils.equals("$!{baseInfo.gubunCd}","Y") )
##				<a href="#" class="btn_mymusic btn_dellist" onclick="daum.Music.Playlist.remove();return false;">재생목록 삭제</a>
##				#end
				
			</div>
		</div>
##		<a class="ico_mymusic ico_add" href="#" onclick="daum.Music.Playlist.detail('', 'add');return false;">새로운 목록 추가</a>
	</div>
	<div class="wrap_anotherlist">
		<h3 class="tit_mymusic tit_anotherlist">다른 재생목록</h3>
		#if(!$CollectionUtils.isEmpty($otherLists))	
		<div class="wrap_list_another scroll3">
			<ul class="list_another">
				#foreach($item in $otherLists)		
					#set( $otherName = $item.playListName.replaceAll('"', '&quot;')  )
				#if( $foreach.index %2 == 0 ) #set( $line = 1 ) #else #set( $line = 2 ) #end
				<li class="bg_list_another$!{line}">
					#printAlbumThumb( $!{item} "playlist_1" $!{item.playListId}  "")
					<!--<a class="album_type3" href="#" title="Noise On Fire">
						<img src="http://i1.daumcdn.net/cfile36/S120x120/70/20363C3848C6B0B15D5913" alt="ONly Girl(In The Wo...)" width="42" height="42">
						<span class="bg_album3"></span>
					</a>-->
					<span class="wrap_info">
						<span class="wrap_title">
							<a href="/my/playList/detail?playlist_id=$!{item.playListId}" onclick="daum.Music.PlayList.detail('$!{item.playListId}');return false;" title="$!StringCutUtil.removeTag($otherName)">#strCut("$!StringCutUtil.removeTag($otherName)",20)</a>
						</span>
						<span class="txt_size fs_11">총 <strong> $!{item.totalPlayCnt} </strong> 곡</span>
						<span class="txt_bar fs_10"> | </span>
						<span class="txt_sub fs_11">$!{CheckDate.makeReleaseDate($!{item.modDttm})}
						<span class="ls_1">저장</span></span>
					</span>
				</li>
				#end
				#*<li class="bg_list_another2">
					<a class="album_type1" href="#" title="Noise On Fire">
						<img src="http://i1.daumcdn.net/cfile179/S120x120/70/181412204BDE8389446664" alt="Wild Days" width="42" height="42">
						<span class="bg_album1"></span>
					</a>
					<span class="wrap_info">
						<span class="wrap_title">
							<a href="#">Wild Days</a>
						</span>
						<span class="txt_size fs_11">총 <strong> 15 </strong> 곡</span>
						<span class="txt_bar fs_10"> | </span>
						<span class="txt_sub fs_11">2011.03.21 <span class="ls_1">편집</span></span>
					</span>
				</li>
								<li class="bg_list_another1">
					<a class="album_type1" href="#" title="Noise On Fire">
						<img src="http://i1.daumcdn.net/cfile36/S120x120/70/20363C3848C6B0B15D5913" alt="ONly Girl(In The Wo...)" width="42" height="42">
						<span class="bg_album1"></span>
					</a>
					<span class="wrap_info">
						<span class="wrap_title">
							<a href="#">Noise On Fire</a>
						</span>
						<span class="txt_size fs_11">총 <strong> 150 </strong> 곡</span>
						<span class="txt_bar fs_10"> | </span>
						<span class="txt_sub fs_11">2011.03.21 <span class="ls_1">편집</span></span>
					</span>
				</li>
				<li class="bg_list_another2">
					<a class="album_type3" href="#" title="Noise On Fire">
						<img src="http://i1.daumcdn.net/cfile179/S120x120/70/181412204BDE8389446664" alt="Wild Days" width="42" height="42">
						<span class="bg_album3"></span>
					</a>
					<span class="wrap_info">
						<span class="wrap_title">
							<a href="#">Wild Days</a>
						</span>
						<span class="txt_size fs_11">총 <strong> 15 </strong> 곡</span>
						<span class="txt_bar fs_10"> | </span>
						<span class="txt_sub fs_11">2011.03.21 <span class="ls_1">편집</span></span>
					</span>
				</li>*#
			</ul>
		</div>
		#else
		<div class="wrap_addlist">
##			<p class="txt_addlist">
##				좋아하는 음악들을<br>
##				재생목록으로 편하게 관리하세요
##			</p>
##			<a class="btn_mymusic btn_addlist" href="/my/playList/detail" onclick="daum.Music.PlayList.detail();return false;">재생목록 추가</a>
		</div>
		#end
	</div>
</div>


#*
<div class="section_listinfo">
	<div class="wrap_listinfo">
		<h3 class="tit_mymusic tit_playlist">플레이리스트 정보</h3>
		<div class="wrap_selectlist">
			<a class="album_type3" href="#">
				<img src="http://i1.daumcdn.net/cfile68/S160x160/150FC5394D65B0A60F1C67" alt="Galaxy Express" width="110" height="110">
				<span class="bg_album3"></span>
			</a>
			<div class="wrap_info">
				<strong class="wrap_title">
					<input class="inp_title inp_add" type="text">
					<button class="btn_mymusic btn_submit">확인</button>
					<button class="btn_mymusic btn_cancel">취소</button>
				</strong>
				<dl class="wrap_col">
					<dt class="tit_info">곡수</dt>
					<dd class="txt_info">총 <strong>0</strong> 곡</dd>
				</dl>
				<dl class="wrap_col">
					<dt class="tit_info">재생시간</dt>
					<dd class="txt_info">-</dd>
				</dl>
				<dl class="wrap_col">
					<dt class="tit_info album">최종편집</dt>
					<dd class="txt_info">-</dd>
				</dl>
			</div>
		</div>
		<a class="ico_mymusic ico_add" href="#">새로운 리스트 추가</a>
	</div>
	<div class="wrap_anotherlist">
		<h4 class="tit_mymusic tit_anotherlist">다른 플레이리스트</h4>
		<div class="wrap_addlist">
			<p class="txt_addlist">
				좋아하는 음악들을<br>
				플레이리스트로 편하게 관리하세요
			</p>
			<button class="btn_mymusic btn_addlist">플레이리스트 추가</button>
		</div>
	</div>
</div>
*#
						