<style type="text/css">
	.layer_new .txt_advice {text-align:center;}
	.layer_new .txt_enter {text-align:center;}
	.layer_duplicated {height:150px; padding:22px 22px 0; background:url(http://s1.daumcdn.net/img-contents/music/2011_home/popup/bg_popup_empoly2.gif) no-repeat;}
	.layer_duplicated .dupicated_data {text-align:center;color:#139FD0;font-weight:bold;
</style>

<div id="daumWrap" class="popup_playlist">
	<div class="popup_head">
		<h1 class="tit_popup tit_list ir_pm">재생목록에 노래 담기</h1>
	</div>
	<div class="popup_body">
		<p id="Information" class="empoly_info">한 개의 목록에 최대 <em>200</em>곡 까지 담을 수 있습니다.<br>노래를 담을 목록와 위치를 선택해 주세요.</p>
      	<form id="playListInsertForm" name="contents_form" action="">
      		<fieldset>
      			<legend class="screen_out">재생목록에 노래 담기 폼</legend>
      			<div class="list_select">
	      			<select name="list_select" id="listSelect" style="height:23px; padding: 2px 0 3px 0;">
					#if($!{myPlayList})
					#foreach($item in $myPlayList)
	      				<option data-listname="$!{item.playListName}" value="$!{item.playListId}" data-listCount="$!{item.totalPlayCnt}">$!{item.playListName} ($!{item.totalPlayCnt})</option>
					#end
					#end
	      			</select>
	      		</div>
      			<div class="box_empoly">
					<span>
	      				<input type="radio" id="putStart" name="list_put" checked="checked" onclick="daum.Music.ListPopup.setPutList('start');"> 
	      				<label for="putStart">목록 제일 처음에 담기</label>
	      			</span>
      				<span class="lst">
	      				<input type="radio" id="putEnd" name="list_put" onclick="daum.Music.ListPopup.setPutList('end');">
	      				<label for="putEnd">목록 제일 끝에 담기</label>
	      			</span>
      			</div>
      			<div class="wrap_btn">
		      		<a class="btn_popup btn_empoly" id="empoly" name="empoly" onclick="daum.Music.ListPopup.addSongPlayList('$!{songIds}', $!{addCount}); return false;">담기</a>
		      		<a class="btn_popup btn_new" id="newList" name="new_list" onclick="daum.Music.ListPopup.createNewPlayList('$!{songIds}', $!{addCount}, '$!{myPlayList.size()}', '#strCut($!{newPlayListName},37)'); return false;">새목록에 담기</a>
	      		</div>
      		</fieldset>
      	</form>
		
	</div>
</div>

##$Cookies.get("PLPUT")

<script type="text/javascript">
<!--
if( daum.Browser.getCookie("PLPUT") == "end" ){
	daum.$$('input')[1].checked = true;
}
domReady(function(){
	daum.Music.Util.resizePop(daum.$("daumWrap"));
}); 
//-->
</script>
#if( $StringUtils.equals("$!{command.debugmode}","2") )
추가될노래: $songIds  <br/>
추가될 곡수: $addCount <br/>
추가될 플레이리스트명 : $newPlayListName <br/>
#if($!{myPlayList})
	#foreach($item in $myPlayList)<br/>
		ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
	#end <br/>
#end
#end