#uaCheck()
<div id="daumContent"  class="cont_buy" role="main">
<h2 class="screen_out">이용권 구매</h2>
<div class="section_tit">
	<h3 class="tit_buy">이용권 구매 결제하기</h3>
</div>
#set( $param_ticket_id = "AMG0015" ) ##MCG0101
#if( $StringUtils.isNotBlank("$!{ListTool.get($!{command.itemId},0)}") )
	#set( $param_ticket_id = $!{ListTool.get($!{command.itemId},0)} )
#end	

#set( $shopping = "false" )
#if($StringUtils.isNotEmpty("$!{shoppingSubscriptionResult}") && $StringUtils.equals("$!{shoppingSubscriptionResult}", "true"))
	#set( $shopping = $!{shoppingSubscriptionResult} )
#end

#set( $ticket_id = $StringUtils.trim("#checkTicketId($param_ticket_id, $shopping)"))

#set( $param_ticket_id = "#print_OnlyChar($ticket_id)")
#set($arrCode = ["MCG", "BTG", "APG", "MOG", "AMG"]) ## AMMOG APMOG AMMOG

#if( $param_ticket_id.length() == 5)
	#set( $param_ticket_id = $param_ticket_id.substring(2,5)) 
#end

<script type="text/javascript">
	function viewAgree(obj){
		var el = daum.$("box_agree");
		
		if(!daum.hasClassName(el, "show")){
			daum.Element.addClassName(el, "show");
			obj.innerHTML = '접기 <span class="ico_comm ico_fold"></span>';
		}else{
			daum.Element.removeClassName(el, "show");
			obj.innerHTML = '펼쳐보기 <span class="ico_comm ico_fold"></span>';
		}
	}
</script>



<form name="frm" action="javascript:music.mobile.Ticket.getPurchase();">
##	<input type="hidden" name="itemId" />
##	<input type="hidden" name="payment_type" />
##	<input type="hidden" name="referer" />
	<fieldset class="fld_check">
		<legend class="screen_out">이용권 구매 결제 수단 선택 폼</legend>
		<strong class="screen_out">상품 정보</strong>
		
		<!-- 2013-09-26 수정 -->
		<ul class="list_album">
			<li>
				<strong class="tit_album">상품명</strong>
				<span class="cont_album">${item.title}</span>
			</li>
			<li>
				<strong class="tit_album">상품가격</strong>
				<span class="cont_album"><span class="txt_num">$Number.format("integer", ${item.price})</span>원</span>
			</li>
		</ul>
		<!-- END 2013-09-26 수정 -->
		
		<div class="buy_check">
			<strong class="tit_check">결제 수단 선택</strong>
			<ul class="list_check"  id="purchaseType">
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="daumCash" name="daumBuy" class="screen_out" checked="checked" name="daumBuy" value="DAUMCASH" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="daumCash" class="lab_check lab_on"><span class="ico_comm ico_check"></span>Daum 캐쉬 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(잔액 <span class="txt_num">$Number.format("integer", ${daumCashBalance})</span>원)</span>
					<a href="javascript:;" onclick="javascript:music.mobile.Ticket.openCash();" class="link_charge">충전하기</a>
				</li>
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="phoneCash" name="daumBuy" class="screen_out" name="daumBuy" value="MOBILE" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="phoneCash" class="lab_check "><span class="ico_comm ico_check"></span>핸드폰 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
				</li>
				<li class="on"> <!-- off 클래스 추가시 mp3 구매 비활성화 -->
					<input type="radio" id="cardCash" name="daumBuy" class="screen_out" name="daumBuy" value="CREDITCARD" onclick="javascript:music.mobile_billing.changePaymentType(this);">
					<label for="cardCash" class="lab_check "><span class="ico_comm ico_check"></span>신용카드 결제</label> <!-- 선택시 lab_on 클래스 추가 -->
					<span class="txt_check">(<span class="txt_num">1,000</span>원 이하 결제 불가)</span>
				</li>
			</ul>
		</div>
<!-- 2014-06-17 수정, 추가 시작 -->
		<div class="buy_agree">
			<input type="checkbox" id="agreeYn" name="agreeYn" class="inp_agree"><label for="agreeYn" class="lab_agree">구매 전 이용안내 내용에 동의합니다.</label>
			<div class="box_agree" id="box_agree"><!-- open 클래스 추가시 활성화 -->
				<div class="desc_agree">
					<p class="txt_agree">&middot; MP3 상품의 경우, 구매일로부터 1개월 내에 다운로드 하지 않은 곡수는 자동 소멸됩니다.</p>
					<p class="txt_agree">&middot; 30일권 상품은 구매 후 최대 30일 이내에 사용을 개시해야 하며, 30일 이후부터는 자동으로 이용권 사용이 시작됩니다.</p>
					<p class="txt_agree">&middot; 다음서비스 약관 제16조 제2, 3, 4항의 규정에도 불구하고, 다음 뮤직 이용권의 결제취소, 환불 등에 관해서는 아래의 사항이 적용됩니다.</p>
					<p class="txt_agree">(1) 청약철회 및 다음 뮤직 이용계약의 해지, 해제의 방법과 그 효과 </p>
					<p class="txt_agree">① 다음 뮤직 이용권은 해당 이용권을 전혀 사용하지 아니하였을 경우에 한하여 구매일로부터 7일 이내에 결제 취소(청약철회)가 가능하고, 위 조건에 해당하면 전액 결제취소 및 환불이 됩니다. 단, 다음 뮤직 이용권의 내용이 표시·광고 내용과 다르거나 계약 내용과 다르게 이행된 경우에는 해당 콘텐츠를 공급받은 날로부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 청약 철회 등을 할 수 있습니다.</p>
					<p class="txt_agree">② 제1항의 청약 철회 가능한 기간(구매일로부터 7일 이내)을 경과하여 청약 철회를 신청하거나 전자상거래 등에서의 소비자 보호에 관한 법률, 콘텐츠산업 진흥법 등 기타 관계 법령에서 정한 청약철회 제한 사유에 해당하는 콘텐츠의 경우에는 청약 철회가 제한됩니다. 다음 뮤직(또는 “회사”라고도 함, 이하 같음)은 청약철회가 제한되는 콘텐츠에 대해 그 사실을 팝업화면이나 연결화면으로 표시합니다.</p>
					<p class="txt_agree">③ 구매일로부터 7일 이내에 다음 뮤직 이용권을 사용한 이력이 있는 경우, 다음 뮤직은 서비스 이용일과 이용 건수 등을 적용하여 합리적인 범위 내에서 차감하고 남은 금액을 환불합니다.</p>
					<p class="txt_agree">④ 청약철회는 고객님이 전화, 전자우편 등의 방법으로 할 수 있으며, 회사에 의사를 표시하여 회사에 도달될 때 그 효력이 발생하고, 회사는 고객님의 의사표시를 수령한 후 지체 없이 이러한 사실을 고객님에게 회신합니다.</p>
					<p class="txt_agree">(2) 콘텐츠 하자 등에 따른 이용자 피해보상</p>
					<p class="txt_agree">회사는 콘텐츠 하자 등에 의한 이용자 피해보상의 기준, 범위, 방법 및 절차에 관한 사항을 “콘텐츠이용자보호지침”이 정하는 바에 따라 처리합니다.</p>
				</div>
				<button type="button" class="btn_fold" onClick="javascript:viewAgree(this);">펼쳐보기<span class="ico_comm ico_fold"></span></button><!-- 상단에 show 클래스 추가시, 텍스트 '접기'로 변경 -->
			</div>
		</div>
		<dl class="buy_money">
			<dt class="tit_money">최종 결제 금액<span class="info_money">(10% 부가세 포함)</span></dt>
			<dd class="item_money"><span class="txt_num">$Number.format("integer", ${item.salePrice})</span>원</dd>
		</dl>
		<!-- 2014-06-17 수정, 추가 끝 -->		
		<div class="buy_btns">
			<p class="txt_buy">${user.daumName}님, 위 내역을 결제 하시겠습니까?</p>
			<button type="submit" class="btn_buy btn_pay">결제하기</button>
			<button type="button" class="btn_buy btn_cancel" onClick="javascript:window.history.back();">취소</button>
		</div>
	</fieldset>
</form>
</div>

<form name="frmCart"></form>

<script type="text/javascript">
music.mobile_billing.resetPaymentType();
var ticketItemList = { 
    "AMG0019" : {title:"월30곡 MP3 다운로드+무제한 듣기", auto:"false", isAod:"true",price:"8000",salePrice:"8800", mobileDataItemYn:"N",itemType:"AODMP3TICKET", saleItem:"false"}, 
    "APG0026" : {title:"30일 듣기", auto:"false", isAod:"true",price:"6000",salePrice:"6600", mobileDataItemYn:"N",itemType:"AODTICKET", saleItem:"false"},
    "APMOG0033" : {title:"[스마트폰]1개월 무제한 ", auto:"false", isAod:"true",price:"8000",salePrice:"8800", mobileDataItemYn:"Y",itemType:"AODTICKET", saleItem:"false"},
    "MCG0015" : {title:"월30곡 MP3 다운로드", auto:"false", isAod:"false",price:"6000" ,salePrice:"6600", mobileDataItemYn:"N", itemType:"MP3CONNECTION", saleItem:"false"}
};

var arr_inuse_ticket_list = [
#foreach($item in $inUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end

#foreach($item in $notInUseTicketList)
#set( $isAod = false)

#if($StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AP" ) || $StringUtils.equals( "$StringUtils.mid(${item.itemId}, 0, 2)", "AM" ) )
#set( $isAod = true)
#end

#if($inUseTicketList.size()!=0 || $foreach.index>=1),#end {itemId:"$!{item.itemId}",  auto:"$!{item.periodic}", isAod:"$isAod",startDate:"$!{item.startDate.substring(0, 8)}", endData:"$!{item.endDate.substring(0, 8)}", itemType:"$!{item.itemType}", mobileDataItemYn:"$!{item.mobileDataItemYn}"}
#end
]; 

music.mobile.Ticket.init(ticketItemList, 
	{ticketId:"$!{ticket_id}",
	form : document.frmCart,
	daum_cash : "#if($daumCashBalance==-9999)0#{else}$daumCashBalance#end",
	payment_type : "#if($daumCashBalance==-9999)MOBILE#{else}DAUMCASH#end",
	own_ticket_list : ["$isAodUse", "$isAodUseTransform", "$isMobileAodUse", "$isTodayPeriodic"], 
	inuse_ticket_list : arr_inuse_ticket_list,
	shoppingSubscriptionResult : "$!{shopping}", 
	BI_DOMAIN : "#getter('BI_DOMAIN', '')",
	referer : "$!{command.referer}",
	SERVICE_DOMAIN : "#getter('SERVICE_DOMAIN', '')"
	});

</script>

#parse("/velocity/mobileweb/realtimeissue.vm")
