#uaCheck()
<div id="daumContent" class="cont_now" role="main">
<div id="mArticle">
	<div class="now_navi">
		<h3 class="tit_navi">장르별 선곡표</h3>
		<a href="javascript:;" class="btn_prev" onclick="window.history.back();"><span class="ico_now ico_prev"></span>이전</a>
	</div>
	#foreach($genre in $genreList)
	<div class="now_selection #if($foreach.first)selection_open#elseif($foreach.last)selection_lst#end"> <!-- selection_open 클래스 추가시 상세리스트 활성화 -->
		<strong class="tit_selection">
			<a href="#none" class="link_selection">$!{genre.tagName}<span class="txt_num">($genre.programList.size())</span><span class="ico_now ico_fold">상세리스트 열기/닫기</span></a>
		</strong>
	
    	<div class="selection_list">
    		<ul class="list_detail">
    			#foreach($program in $genre.programList)
    			<li>
    				<a href="/onair/radio/detail?channelId=$!{program.channel.channelId}&programId=$!{program.programId}" class="link_detail">
    					<strong class="tit_detail">
							$!{program.programMasterName}
							#if($StringUtils.equals("$!{program.weekendYn}", "Y"))
								(주말)
							#end
						</strong>
						<span class="desc_detail">$!{program.channel.channelName} $CheckDate.makeBroadCastTime($!{program.broadcastTime})</span>
    					<span class="desc_recomm"><span class="ico_now ico_recomm">추천</span>$!{program.recommendCount}</span> <!-- 최대 5자리 -->
    				</a>
    			</li>
    			#end
    		</ul>
    		##<a href="#none" class="link_more">펼쳐보기<span class="ico_now ico_more"></span></a>
    	</div>
	</div>
	#end
	
	
    <script type="text/javascript">
    jQuery( ".link_selection" ).click(function() {
    	jQuery( this ).parents(".now_selection").toggleClass("selection_open");
    });
	</script>
	
	#SearchForm("only_bottom")

</div>
</div>
#parse("/velocity/mobileweb/realtimeissue.vm")	