
	#set($shareTitle = "SUPPORT YOUR MUSIC!")
	
	#if(!$CollectionUtils.isEmpty($upBannerList))	
		#foreach($motTemplete in $upBannerList)
        	#if($foreach.first)
				#set($thumb = $motTemplete.imageUrl)
			#end
        #end
	#end	
##	#getSymShareBtn("top" $shareTitle "/sym/top" "$!{thumb}")
	
	<div class="intro_area">
		<div class="wrap_intro">
			<div class="left">
				<h3 class="tit_intro">SYM SUPPROT YOUR MUSIC</h3>
				<div class="desc_intro">sym은 좋은 음악을 하고 있지만 대중과 소통이
					어려운 아티스트를 리스너들로부터 후원금을
					투자 받아 지원하는 음악 프로젝트입니다
				</div>
			</div>
			<div class="wrap_intro_img"><div class="wrap">
				<a class="btn_go" #if(!$CollectionUtils.isEmpty($upBannerList))href="$!{upBannerList[0].linkUrl.replaceAll('&', '&amp;')}"#end>Go</a>
				<ul>
				#if(!$CollectionUtils.isEmpty($upBannerList))	
					#foreach($motTemplete in $upBannerList)
                    	##이미지 : $motTemplete.imageUrl <br/>
                    	##링크 : $motTemplete.linkUrl <br/>
						<li>
        					<span class="thumb">
								<img src="$!{motTemplete.imageUrl}" width="290" height="285" alt=""/>
							</span>
        					<div class="desc">
        						<a class="link" href="$!{motTemplete.linkUrl.replaceAll('&', '&amp;')}">$!{motTemplete.title}</a><br/>
        						<a class="link" href="$!{motTemplete.linkUrl.replaceAll('&', '&amp;')}">$!{motTemplete.content}</a>
        					</div>
        					<div class="wrap_desc"></div>
        				</li>
                    #end
				#end		
				</ul>
			</div></div>
		</div>
		<div class="step_process_sym">
			<h4 class="tit_process_sym">sym 참여과정</h4>
			<ul>
				<li class="step01">
					<h5 class="tit_step_sym">모집</h5>
					<div class="desc_step">음반발매를 원하는
						아티스트를 모집</div>
				</li>
				<li class="step02">
					<h5 class="tit_step_sym">투표</h5>
					<div class="desc_step">온라인과 오프라인
						투표로 아티스트
						선정</div>
				</li>
				<li class="step03">
					<h5 class="tit_step_sym">펀딩</h5>
					<div class="desc_step">소셜 펀드레이징을
						진행</div>
				</li>
				<li class="step04">
					<h5 class="tit_step_sym">제작</h5>
					<div class="desc_step">목표금액을 달성하면
						후원금으로 음반 제작</div>
				</li>
				<li class="step05">
					<h5 class="tit_step_sym">보상</h5>
					<div class="desc_step">후원을 하신 분들께
						금액별 보상 제공</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="content">
		<div class="article_musicbar_top">
			
			<div class="section_best">
				<h3 class="tit_bar tit_sym tit_story">스토리</h3>
				<ul class="list_thumb list_thumb_sym">
				#if(!$CollectionUtils.isEmpty($recentBoardList))	
					#foreach($board in $recentBoardList)
					<li>
						<div class="wrap_thumb">
							
							<a title="$!{board.title} 바로가기" href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}" class="thumb_link" target="musicbar_story">
								<img src="$ImageUtil.getImageUrl("$!{board.imageUrl}", "220x138", "PHOTO", "C")" alt="$!{board.title}" />
								<span class="line_thumb"></span>
							</a>
						</div>
						<div class="wrap_info">
							<strong class="tit">
								<a class="link" title="$!{board.title} 바로가기" href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}" target="musicbar_story">#if($StringUtils.isNotEmpty($!{board.subTitle}))[$!{board.subTitle}]#end#strCut("#stripHTML($!{board.title})", 32)</a>
							</strong>
							<p class="txt_desc">
								<a href="/musicbar/musicbar/detail?menu_id=$!{board.menuId}&amp;board_id=$!{board.boardId}" target="musicbar_story">#if( $board.songList.size() != 0 )#strCut("#stripHTML($!{board.summary})", 210)#{else}#strCut("#stripHTML($!{board.summary})", 430)#end</a>
							</p>
							#set($idx = 0)
        					#foreach($song in $board.songList)
        						#if( $StringUtils.isNotBlank("$!{song.AODLinkId}"))
        						#set($idx = $idx + 1)
        						#if( $idx < 3 )
        						<span class="song_listen #if($idx == 2)type_listen#end">
        								#printSongArtistName( $song "ico_comm ico_listen" 60 true )
        						</span>
        						#end
        						#end
        					#end
							#*
							<span class="song_listen"><a onClick="daum.Music.AodPlayer.add(this,8264964);return false;" title="믿어줄래 [Full Melody Korean Ver.] - 박재범" class="ico_comm ico_listen" href="#none">Another Bick In The Wall, (Part 2) - Pink Floyd</a></span>
							<span class="song_listen type_listen"><a onClick="daum.Music.AodPlayer.add(this,8766894);return false;" title="Abandoned(Feat. Dok2) - 박재범" class="ico_comm ico_listen" href="#none">Us And Them - Pink Floyd</a></span>
							*#
						</div>
						<a href="/musicbar/musicbar/list?menu_id=$!{board.menuId}" class="btn_comm btn_more">더보기</a>
					</li>
					#end
				#end
				</ul>
			</div>
			
		</div>
		
		<div class="qna_guide">
			<h4 class="tit_qna_guide">참여안내</h4>
			<ul>
				<li class="fst">
					<div class="questions"><strong><span class="link">SUPPORT YOUR MUSIC, 어떻게 진행되나요?</span></strong></div>
					<p class="answers">
						1. 음반 발매를 원하는 아티스트는 Daum뮤직을 통해 지원서를 접수합니다. <br>
                        2. 이후 선정된 후보를 대상으로 Daum뮤직에서 온라인 투표(30%)가 진행됩니다. <br>
							&nbsp;&nbsp;&nbsp;오프라인 오디션 현장 투표(30%) 결과와 프로젝트 매니저 심사(40%) 결과를 최종 합산하여  프로젝트를 진행할 아티스트가 <br>
							&nbsp;&nbsp;&nbsp;선정됩니다.  <br>
                        3. 음반 제작을 위한 소셜 펀드레이징을 진행합니다. 네티즌들의 자발적인 참여와 목표액 달성 시 Daum뮤직에서 제공하는  <br>
							&nbsp;&nbsp;&nbsp;추가 후원금 100만원으로 음반을 제작합니다. <br>
                        4. 펀딩에 참여하는 네티즌에게는 펀딩 금액별로 다양하고 재미있는 보상이 제공됩니다.  <br>
							&nbsp;&nbsp;&nbsp;보상 내역은 아티스트가 직접 결정합니다.  <br>
							&nbsp;&nbsp;&nbsp;(예: 음반 내 thanks to 이름 기재, 발매 공연 초대, 아티스트와 함께 하는 MT, 축가 등)  <br>
                        5. 음반의 정식 발매 및 판매가 이루어지며, 음반 발매 기념 공연이 진행됩니다.  <br>
                        6. 연간 3팀의 프로젝트 완료 후 합동 공연 SYM CIRCUIT이 열립니다.   <br>
					</p>
				</li>
				<li>
					<div class="questions"><strong><span class="link">SUPPORT YOUR MUSIC, 참여하면 어떤 좋은 점이 있나요?</span></strong></div>
					<p class="answers">
						<strong class="tit_qna">아티스트</strong>
						1. 외부 자본의 개입 없이 소셜 펀드레이징을 통해 모인 자금으로 음반을 제작할 수 있습니다.<br>
						2. 펀딩 성공 시 Daum뮤직에서 추가 후원금 100만원과 홍보 배너로 빵빵한 지원을 받게 됩니다.<br>
						3. 민트페이퍼의 지원(레코딩 스튜디오, 디자인, 멘토링 등)을 무상으로 받을 수 있습니다.<br>
                        4. 민트페이퍼와 Daum뮤직을 통해 SYM 프로젝트 진행 과정을 꾸준히 알릴 수 있습니다. <br>
						5. 한 해 동안 다양한 방식으로 민트페이퍼의 지원을 받으며, 3팀의 프로젝트 완료 후 합동 공연 SYM CIRCUIT에 참여하게 <br>
							&nbsp;&nbsp;&nbsp;됩니다.<br>
                        
                        <strong class="tit_qna tit_qnd_other">후원자</strong>
                        1. 펀딩 참여를 통해 음반 제작에 참여하며 아티스트와 직접적인 관계를 맺게 됩니다. <br>
                        2. 사인 음반부터 아티스트와 함께 하는 MT, 축가 등 아티스트가 직접 결정한 다양한 보상을 펀딩 참여 금액별로 제공 받게<br>
							&nbsp;&nbsp;&nbsp;됩니다.<br>
                        3. 가장 먼저 thanks to에 자신의 이름이 기재된 음반을 받을 수 있습니다.<p> 
				</li>
				<li>
					<div class="questions"><strong><span class="link">아티스트 지원은 누가 할 수 있나요?</span></strong></div>
					<p class="answers">
						1. 좋은 음악을 하고 있으며 음반 작업을 계획 중인 아티스트라면 누구나 지원 가능합니다. <br>
                        2. 소속된 레이블(기획사)이나 후원자가 없어야 합니다.<br>
                        3. 적극적으로 SYM에 참여할 의지가 있어야 합니다.<br>
                        4. 지원 시 필요한 음원(데모/발매 음원 모두 가능), 라이브 영상, 프로필 사진이 있어야 합니다(선정 심사 시 필요).
                         </p>
				</li>
				<li class="lst">
					<div class="questions"><strong><span class="link">펀딩 참여는 어떻게 하면 되나요?</span></strong></div>
					<p class="answers">
						프로젝트 대상 아티스트가 선정되면 'Funding' 탭을 통해 직접 결제할 수 있습니다. 
                        기존 Daum뮤직에서 사용하는 결제 방식(다음캐시, 신용카드, 핸드폰 결제)으로 가능합니다. 
                        일반적으로 최소 금액은 10,000원이며, thanks to에 펀딩 참여자의 이름이 기재된 사인 음반이 보상으로 제공됩니다. 
                        펀딩 금액과 금액별 보상은 아티스트가 직접 결정하는 내용으로, 프로젝트 진행 아티스트에 따라 달라질 수 있습니다.   </p>
				</li>
			</ul>
		</div>
	</div>

<!--THIS DOCUMENT IS GENERATED BY HTTP WRITER, WWW.DAUM.NET-->
#if( $StringUtils.equals("$!{command.debugmode}","2") )
#*
우측메뉴<br/>
#foreach($motTemplete in $rightMenuList)
	타이틀 : $motTemplete.title <br/>
	일반이미지 : $motTemplete.imageUrl <br/>
	활성화이미지2 : $motTemplete.activatedImageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	활성화여부 : $motTemplete.activatedYn <br/>
	<br/><br/>
#end
*#

상단 배너(5개인데 2개만 운영하면 2개만 나옴)<br/>
#foreach($motTemplete in $upBannerList)
	이미지 : $motTemplete.imageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	<br/><br/>
#end


최신  뮤직바 2개<br/>
#foreach($board in $recentBoardList)
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/>
	카테고리 : $board.subTitle <br/>
	요약 : $board.summary <br/>
	이미지 : $board.imageUrl <br/>
	추천수 : $board.recommendCount <br/>
	댓글수 : $board.replyCount <br/>
	등록일 : $board.regdttm <br/>
	작성자 : $board.writer.nickName <br/>
	링크 : http://music.daum.net/musicbar/musicbar/detail?menu_id=$board.menuId&board_id=$board.boardId <br/><br/>
	#foreach($song in $board.songList)
		곡제목 : $song.title<br/>
		곡아이디 : $song.songId<br/>
		가사유무 : $song.lyricsYn<br/>
		듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
		MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
		BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
		벨소리 서비스 여부 : $song.bellSalesStatus<br/>
		통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
		아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		<br/>
	#end
	<br/>
#end
#end