#*
{
"result" : [
            #foreach($item in $symVoteResults)
				#if($foreach.index > 0),#end
				{
                	"artistid" : "$item.artistId",
                	"cnt" : "$item.cnt",
                	"perc" : "$item.perc"
				}
            #end
			]
}
*#

{
"result" : {
            #foreach($item in $symVoteResults)
				#if($foreach.index > 0),#end
				"$item.artistId" : {
                	##"artistid" : "$item.artistId",
                	"cnt" : "$item.cnt",
                	"perc" : "$item.perc"
				}
            #end
		    }
}