#parse("/velocity/wing/piece/musicbarMenu.vm")
#parse("/mot/wing/noticebox.html")##공지박스
#parse("/mot/wing/recentmusicbar.html")##뮤직바최신
#parse("/mot/wing/bestmusicbar.html")##뮤직바인기
#parse("/mot/wing/realtimechart.html")##실시간차트
##parse("/mot/wing/djrecommend.html")##dj추천음악
#parse("/mot/wing/hotvclip.html")##hot영상
##parse("/mot/wing/todaynews.html")##오늘의 주요뉴스
##parse("/mot/wing/starranking.html")##스타랭킹
##parse("/mot/wing/eventbanner.html")##배너