#set($link = "/onair/timeline?")
#set($date = $!{command.searchDate})
###parse("/velocity/onair/template/timeline.vm")
<form name="searchForm" action="/onair/timeline" method="get">
	<input type="hidden" name="channelIds"/>
	<input type="hidden" name="searchDate" value="$!{command.searchDate}"/>
	<input type="hidden" name="radioChannelType" value="$!{command.radioChannelType}"/>
	<input type="hidden" name="tvChannelType" value="$!{command.tvChannelType}"/>
##	<input type="hidden" name="searchChannelType" value="$!{command.searchChannelType}"/>
</form>

#set($urlParam = "channelIds="+${command.channelIdsToString()})
#if("$!{command.radioChannelType}" != "")
	#set($urlParam = $urlParam+"&radioChannelType="+$!{command.radioChannelType})
#end
#if("$!{command.tvChannelType}" != "")
	#set($urlParam = $urlParam+"&tvChannelType="+$!{command.tvChannelType})
#end



			
			#parse("/velocity/onair/common/menu.vm") 
			
			<h3 class="screen_out">방금 그 곡</h3>
			<div class="now_detail now_channel">
				#parse("/velocity/onair/common/searchMenu.vm") 
				
				<h4 class="screen_out">주요채널 타임라인</h4>
				
				#set($minDay = "20140204")
				#set($searchDate = $!{command.searchDate})
				#set($link = "/onair/timeline?"+$urlParam+"&")
            	
				
				#*
				<strong class="ico_now tit_main">TV 전체, Radio 전체</strong>
				<div id="dateContainer" class="opt_date">
					<strong class="screen_out">날짜</strong>
            		##<a class="box_date" href="javascript:;" onclick="daum.Music.Layer.view({el:this,type:'calendarDay',classname:'layer_info layer_cal cal_days',left:-19, arrow_left:21});drawCalendar();return false;">
            		##	#printImageDate($date "day" "") ##YYYY.MM.DD
            		##</a>
            		#if($Number.toNumber($searchDate) <= $minDayMap)
						<em class="btn_now link_prev">이전일</em> <!-- 버튼 비활성화시 em 태그로 변경 -->
            		#else
            			<a href="$!{link}searchDate=$!CheckDate.getDiffDate($searchDate, -1)" class="btn_now link_prev">이전일</a>
					#end
					<div class="date_cont">
						<span class="screen_out">$!{command.searchDate.substring(0,4)}년 $!{command.searchDate.substring(4,6)}월 $!{command.searchDate.substring(6,8)}일 ($!{command.weekDay})</span>
						#foreach($index in [0..7])
							<span class="txt_date txt_num$!StringUtils.mid($searchDate, $index, 1)"></span>
                    		#if($index == 3 || $index == 5)<span class="txt_date txt_dot"></span>#end
						#end	
						<span class="txt_date txt_$CheckDate.getDayEngNameByDate($!searchDate)"></span>
						<a href="#none" class="btn_now link_calendar" onclick="calendarLayer.toggle('$!searchDate');return false;">달력 보기</a>
    						<div id="calwrap" class="calendar_comm" style="display:none"> <!-- 활성화시 display:block -->
    						</div>
					</div>
            		#if($Number.toNumber($CheckDate.diffOfDate("$searchDate")) <= 0) ##오늘날짜 비교해서 높으면 비활성화
						<em class="btn_now link_next">다음 일</em>
            		#else
            			<a class="btn_now link_next" href="$!{link}searchDate=$CheckDate.getDiffDate($searchDate, 1)" title="다음일">다음일</a>
            		#end
            	</div>
				<script type="text/javascript">
				// 달력

            	var changeTimelineLocation = function(searchDate){
					location.href = "/onair/timeline?${urlParam}&searchDate=" + searchDate;
				}
				
            	// 레이어 달력	
            	var calendarLayer = new daum.Music.OnairCalendar(
            		{
            			selectedDay : "$!searchDate",
            			calContainerId : "calwrap",
            			useScheduleDays : false,
            			selectDateAddFunc : changeTimelineLocation,
						minDay : "$!minDay"
            		}
            	);
            	</script>
				
				<ul class="tab_sort tab_channel">
					<li #if("${command.channelIdsToString()}" == "" && (("$!{command.tvChannelType}" == "1" && "$!{command.radioChannelType}" == "4") || ("$!{command.tvChannelType}" == "" && "$!{command.radioChannelType}" == ""))) class="on" #end><a href="#none" class="link_tab link_main" title="전체채널" id="channelMain">전체채널</a></li> <!-- on 클래스를 추가시 활성화 -->
					<li #if("${command.channelIdsToString()}" != "" || ("$!{command.tvChannelType}" == "1" && "$!{command.radioChannelType}" != "4") || ("$!{command.tvChannelType}" != "1" && "$!{command.radioChannelType}" == "4"))class="on"#end><a href="#none" class="link_tab link_choice" title="채널선택" id="channelSel">채널선택</a></li> <!-- on 클래스를 추가시 활성화 -->
				</ul>
				
				
				<div class="detail_time">
					<span class="desc_time">
						<strong class="screen_out">현재 시간</strong>
						<span class="screen_out">오후 00시 00분 00초</span>
						<span class="txt_clock txt_pm"></span> <!-- 오전 : txt_am, 오후 : txt_pm 로 클래스 조절 -->
						<span class="txt_clock txt_num0"></span><span class="txt_clock txt_num1"></span>
						<span class="txt_clock txt_dot dot_off"></span> <!-- dot_off 클래스 추가시 이미지 흐려짐 --><!-- 깜빡이는 효과 -->
						<span class="txt_clock txt_num4"></span><span class="txt_clock txt_lst txt_num6"></span>
						<span class="txt_clock txt_sec5"></span><span class="txt_clock txt_sec2"></span>
					</span>
					<div class="desc_btns">
						<button type="button" class="btn_now btn_stop" id="refresh">일시정지</button>
						<div class="bg_tip box_tip" style="display:none"> <!-- 일시정지 버튼에 마우스 오버시 display:block 으로 활성화 -->
							<p class="txt_tip">20초 후에 업데이트 됩니다.</p>
							<span class="bg_tip tip_end"></span>
							<span class="bg_tip ico_arr"></span>
						</div>
					</div>
				</div>
				*#
				
				
				
				
				<div class="opt_date">
					<strong class="screen_out">현재 시간</strong>
					<div class="date_cont desc_time">
						<span class="screen_out">00시 00분 00초</span>
						<span class="txt_date txt_num1"></span>
						<span class="txt_date txt_num6"></span>
						<span class="txt_date txt_colon"></span>
						<span class="txt_date txt_num3"></span>
						<span class="txt_date txt_num4"></span>
						<span class="txt_date txt_colon"></span>
						<span class="txt_date txt_num0"></span>
						<span class="txt_date txt_num5"></span>
					</div>
					<div class="desc_btns">
						<button type="button" class="btn_now btn_stop" id="refresh">일시정지</button>
						<div class="bg_tip box_tip" style="display:none">
							<!--일시정지 버튼에 마우스 오버시 display:block 으로 활성화-->
							<p class="txt_tip">10초 후에 업데이트 됩니다.</p>
							<span class="bg_tip tip_end"></span>
							<span class="bg_tip ico_arr"></span>
						</div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="detail_channel">
					<div class="channel_list">
						<ul class="list_detail" style="left:0px;width:10000px" id="listdetail"> <!-- left 값 -194px 단위로 조절하여 슬라이드 효과 -->
                        #set($count = 0)
						#set($songStartTime = "")
                        #foreach($channelSong in $songList)
							#if($count == 0)
								#set($songStartTime = ${channelSong.startTime})
							#end
							<li onMouseover="daum.Music.Onair.Timeline.showSongDetail(this);" onMouseout="daum.Music.Onair.Timeline.showSongDetail(this);"> <!-- on 클래스 추가시 상세 내용(플레이어) 노출 -->
								<strong class="screen_out">방송 시간</strong><span class="txt_clock" data-time="$!{channelSong.startTime}">${channelSong.compareStartTimeToCurrentTime($!{command.searchDate}, true)}</span>
								<span class="box_shadow"></span>
								<span class="box_thumb">
									#if("$!{channelSong.song.album.albumId}" != "0")
    								<a href="/album/main?album_id=$!{channelSong.song.album.albumId}" class="link_detail">
									#else
    								<em href="#none;" href="#none" class="link_detail">
									#end
										#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
											<em class="ico_now ico_hot">Hot</em>
										#end
									
    									#if("$!{channelSong.song.album.albumId}" != "0" && "$!{channelSong.song.songId}" != "0" && "$!{channelSong.song.album.mainImage.filePath}" !="")
    									<img src='$ImageUtil.getImageUrl("$!{channelSong.song.album.mainImage.filePath}", "190x190", "ALBUM", "C")' width="190" height="190" class="thumb_detail" alt="${channelSong.title}">
    									#else
    									<img src="http://s1.daumcdn.net/img-contents/music/2014_home/nowsong/img_none1.jpg" width="190" height="190" class="thumb_detail" alt="${channelSong.title}">
										#end
									#if("$!{channelSong.song.album.albumId}" != "0")
    								</a>
									#else
    								</em>
									#end	
								</span>
								<span class="desc_detail #if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "") desc_special#end">
    								<!-- 2014-03-20 수정 시작 -->
									
									#*
									#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.hotIconImage}" != "" && "$!{channelSong.copy}" != "")
										<img src="$!{channelSong.hotIconImage}" width="66" height="60" class="thumb_album" alt="HOT">
									#end
									*#
									
    								<strong class="tit_detail">
										#if("$!{channelSong.song.songId}" != "0" && "$!{channelSong.song.AODLinkId}" != "" && "$!{channelSong.song.AODLinkId}" != "0")
										<a href="javascript:;" class="link_tit" onclick="daum.Music.AodPlayer.add(this, '$!{channelSong.song.songId}');return false;" style="text-decoration:none">
											<span class="screen_out">곡명 </span>#if("$!{channelSong.song.songId}" != "0")#printSongName( $!{channelSong.song} "" 30 false)#else ${channelSong.title}#end
										</a>
										#else
										<em class="link_tit">
											<span class="screen_out">곡명 </span>#if("$!{channelSong.song.songId}" != "0")#printSongName( $!{channelSong.song} "" 30 false)#else ${channelSong.title}#end
										</em>
										#end
    								</strong>
    								<span class="txt_program">
										#set($href= "")
										#if("$!{channelSong.song.songId}" != "0" && "$!{channelSong.schedule.programId}" != "" && "${channelSong.channel.mediaType}" == "1")
											#set($href= "/onair/tv?programId="+${channelSong.schedule.programId})
										#elseif("$!{channelSong.song.songId}" != "0" && "$!{channelSong.schedule.programId}" != "" && "${channelSong.channel.mediaType}" == "4")
											#set($href= "/onair/radio/channel?channelId=$!{channelSong.channel.channelId}&programId=$!{channelSong.schedule.programId}#nowMusicListWrap")
											
										#end
										#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
											<span class="txt_special"><span class="screen_out">스페셜 BGM </span>$!{channelSong.copy}</span>
										#else
											<span class="screen_out">프로그램 </span>
											<a href="/onair/timeline?channelIds=${channelSong.channel.channelId}" class="link_channel">$!{channelSong.channel.channelName}</a> - 
											<a href="$href" #if($href =="")class="link_txt"#else class="link_program"#end>$!{channelSong.schedule.programName}</a>
										#end	
    								</span>
    								<!-- 2014-03-20 수정 끝 -->
									<span class="txt_artist"><span class="screen_out">아티스트 </span>
									#if("$!{channelSong.song.songId}" != "0")
    									#set($artistCount = 0)
										#set($etcArtistCount = 0)
    									#foreach($songArtist in $!{channelSong.song.keyArtistList})
    										#set($artistCount = $artistCount +1)
											#set($strCutLen = 17)
											#if($!{channelSong.song.keyArtistList.size()} == 1)
												#set($strCutLen = 35)
											#end
											#strCut(${songArtist.name}, $strCutLen, "..")
											#if($artistCount < $!{channelSong.song.keyArtistList.size()} && $artistCount < 2),#end
    										#if($artistCount == 2) #set($etcArtistCount = $!{channelSong.song.keyArtistList.size()} - 2) #break #end
										#end
										#if($etcArtistCount > 0)
										외 ${etcArtistCount}명
										#end
									#else
									#strCut($!{channelSong.artistName}, $strCutLen, "..")
									#end
									</span>
								</span>
								
								<span class="box_detail">
									#if("$!{channelSong.song.songId}" != "0" && "$!{channelSong.song.AODLinkId}" != "" && "$!{channelSong.song.AODLinkId}" != "0")
									<a href="#none" class="btn_now link_play" onclick="daum.Music.AodPlayer.add(this, '$!{channelSong.song.songId}');return false;">노래 듣기</a>
									#else
									<em href="#none" class="btn_now link_play">노래 듣기</em>
									#end
									<span class="detail_btn">
										#if("$!{channelSong.song.songId}" != "0")
											#if("$!{channelSong.song.album.albumId}" != "0")
										<a href="/album/main?album_id=${channelSong.song.album.albumId}" class="btn_now link_album">앨범 보기</a>
											#else
										<em href="#none" class="btn_now link_album">앨범 보기</em>		
											#end
											#if("$!{channelSong.schedule.programId}" != "" && "${channelSong.channel.channelType}" == "1")
										<a href="/onair/tv?programId=$!{channelSong.schedule.programId}#nowMusicListWrap" class="btn_now link_mp3">선곡표가기</a>
											#elseif("$!{channelSong.schedule.programId}" != "" && "${channelSong.channel.channelType}" == "4")	
										<a href="/onair/radio/channel?channelId=$!{channelSong.channel.channelId}&programId=$!{channelSong.schedule.programId}#nowMusicListWrap" class="btn_now link_mp3">선곡표가기</a>
											#else
										<em href="#none" class="btn_now link_mp3">${channelSong.schedule.programName}</em>
											#end
										#else
										<a href="#none" class="btn_now link_result">통합검색 결과보기</a>	
										#end
									</span>
								</span>
							</li>
							#set($count = $count+1)
							#if($count == 5)
								#break
							#end
						#end
						</ul>
					</div>
				</div>
				
				#*
				<div class="detail_layer" style="display:none" id="detail_layer"> <!-- 활성화시 display:block -->
					<div class="inner_choice">
						<span class="ico_now ico_arr"></span>
						<div class="layer_body">
							#set($channelCount = 0)
							#set($preChannelType = "")
                            #foreach($channel in $channelList)
                				#set($checked = "")
                				#foreach($selectedChannel in $command.channelIds)
                					#if($selectedChannel == ${channel.channelId})
                						#set($checked = "class='on'")
                						#break
                					#end
                        		#end
								#if($channelCount == 0)
									
							<strong class="txt_now tit_tv">TV</strong>
							<ul class="list_chice">
								<li #if("$!{command.tvChannelType}" =="1" || ("$!{command.tvChannelType}" =="" && "$!{command.radioChannelType}" =="" && "${command.channelIdsToString()}" == ""))class="on"#end>
									<a href="#none" class="btn_now" id="tvChannelType">TV전체</a>
								</li> <!-- 선택시 li에 on클래스 추가 -->
								#end
								
								#if($channelCount != 0 && $preChannelType != ${channel.channelType})
							</ul>
							<strong class="txt_now tit_radio">라디오</strong>
							<ul class="list_chice">
								<li #if("$!{command.radioChannelType}" =="4" || ("$!{command.tvChannelType}" =="" && "$!{command.radioChannelType}" =="" && "${command.channelIdsToString()}" == ""))class="on"#end>
									<a href="#none" class="btn_now" id="radioChannelType">Radio전체</a>
								</li> <!-- 선택시 li에 on클래스 추가 -->
								#end
								
								<li $checked>
									<input type="hidden" value="${channel.channelId}">
									<a href="#none" class="btn_now" id="channelType_${channel.channelType}" #if("${channel.channelType}" == "4") title="${channel.frequency}"#end>${channel.channelName}</a>
								</li>							
								
								#set($channelCount = $channelCount +1)
								#set($preChannelType = ${channel.channelType})
                            #end
							</ul>
						</div>
						<div class="layer_foot">
							<p class="txt_desc">채널을 선택해주세요 (중복선택 가능)</p>
							<div class="area_btn">
								<a href="#none" class="btn_now btn_confirm">확인</a>
								<a href="#none" class="btn_now btn_cancel">취소</a>
							</div>
						</div>
					</div>
				</div>
				*#
				
				
			</div>
			
			
			
			<h4 class="screen_out">곡 리스트</h4>
			<div class="now_musiclist now_timelist" style="height:680px"> <!-- 68px 단위로 더보기 클릭시 리스트 늘어남 -->
				<div class="timeline_slide" style="top:0px"> <!-- 68px 단위로 슬라이드 --> 
					<table class="tbl_now">
						<caption class="screen_hide">방금 그곡 리스트</caption>
						<colgroup>
							<col style="width:57px">
							<col style="width:79px">
							<col style="width:300px">
							<col style="width:auto"> 
							<col style="width:234px">
						</colgroup>
						<thead class="screen_out">
							<tr>
								<th scope="col">방송시간</th>
								<th scope="col">앨범</th>
								<th scope="col">곡명, 아티스트</th>
								<th scope="col">채널, 프로그램</th>
								<th scope="col">구매하기</th>
							</tr>
						</thead>
    					<tbody id="timelinelist">
                            #set($songEndTime = "")
                            #set($count = 0)
                            #foreach($channelSong in $songList)
    							#set($count = $count + 1)
    							#if($count > 5)
								
								<tr #if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")class='tr_special'#end>
									<td class="td_clock"><span class="ico_now ico_clock" data-time="$!{channelSong.startTime}">${channelSong.compareStartTimeToCurrentTime($!{command.searchDate}, true)}</span></td>
									<td class="td_album">
											#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "" && "$!{channelSong.hotIconImage}" != "")
												#set($linkSpecialCn = "link_special")
											#else
												#set($linkSpecialCn = "")
									        #end
										
        									#if("$!{channelSong.song.album.albumId}" != "0")
										<a href="/album/main?album_id=${channelSong.song.album.albumId}" class="link_album $!{linkSpecialCn}">
											#else
										<em href="#none" class="link_album $!{linkSpecialCn}">
											#end
        									
											#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "" && "$!{channelSong.hotIconImage}" != "")
												<img src="$!{channelSong.hotIconImage}" width="66" height="60" class="thumb_album" alt="HOT">												
											#else
												
												#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
													<em class="ico_now ico_hot">Hot</em>
												#end
													
												#if("$!{channelSong.song.album.albumId}" != "0" && "$!{channelSong.song.songId}" != "0" && "$!{channelSong.song.album.mainImage.filePath}" != "")
            									<img src='$ImageUtil.getImageUrl("$!{channelSong.song.album.mainImage.filePath}", "42x42", "ALBUM", "C")' width="42" height="42" class="thumb_album" alt="#strCut(${channelSong.song.title}, 10, "..")">
            									#else
            									<img src="http://i1.daumcdn.net/img-contents/music/2011_home/common/noalbum_42_42.gif" width="42" height="42" class="thumb_album" alt="#strCut(${channelSong.title}, 10, "..")">
            									#end
    											<span class="frame_g"></span>	
											#end	
											
											#if("$!{channelSong.song.album.albumId}" != "0")
										</a>
											#else
										</em>
											#end
									</td>
									<td class="td_song">
										<span class="txt_desc">
											#set($className = "")
											#if("$!{channelSong.song.songId}" != "0" && "${channelSong.song.AODLinkId}" != "" && "${channelSong.song.AODLinkId}" != "0")
												#set($className = "link_song")	
											#end
											#if("$!{channelSong.song.songId}" != "0")#printSongName($!{channelSong.song} $className 35 true)#else<em class="link_song">#strCut(${channelSong.title}, 35)</em>#end
										</span>
        								#if("$!{channelSong.hotYn}" == "Y" && "$!{channelSong.copy}" != "")
    										<span class="txt_special">$!{channelSong.copy}</span>
										#else
											#if("$!{channelSong.song.songId}" != "0")
            									#set($artistCount = 0)
    											#set($etcArtistCount = 0)
            									#foreach($songArtist in $!{channelSong.song.keyArtistList})
            										#set($artistCount = $artistCount +1)
    												#set($strCutLen = 17)
    												#if($!{channelSong.song.keyArtistList.size()} == 1)
    													#set($strCutLen = 35)
    												#end
    												#if("$!{songArtist.artistId}" != "0")
                										<a href="/artist/main?artist_id=${songArtist.artistId}" class="link_artist">#strCut(${songArtist.name}, $strCutLen, "..")</a>
    												#else
    													#strCut(${songArtist.name}, $strCutLen, "..")
    												#end
    												#if($artistCount < $!{channelSong.song.keyArtistList.size()} && $artistCount < 2),#end
            										#if($artistCount == 2) #set($etcArtistCount = $!{channelSong.song.keyArtistList.size()} - 2) #break #end
    											#end
    											#if($etcArtistCount > 0)
    											외 ${etcArtistCount}명
    											#end
            								#else
                                			 <em href="#none" class="link_artist">#strCut($!{channelSong.artistName}, 35, "..")</em>
    										#end
										#end
									</td>
									<td class="td_program">
										<span class="txt_desc"><a href="/onair/search/channel?searchSDate=${command.searchDate}&searchEDate=${command.searchDate}&channelIds=${channelSong.channel.channelId}" class="link_channel">${channelSong.channel.channelName}</a></span>
										#if("$!{channelSong.schedule.programId}" != "" && "$!{channelSong.schedule.programId}" != "0" && "$!{channelSong.channel.mediaType}" == "1")
										<a href="/onair/tv?programId=${channelSong.schedule.programId}#nowMusicListWrap" class="link_program" title="${channelSong.schedule.programName}">${channelSong.schedule.programName}</a> <!-- a태그 em으로 변경시 딤드 처리 -->
										#elseif("$!{channelSong.schedule.programId}" != "" && "$!{channelSong.schedule.programId}" != "0" && "$!{channelSong.channel.mediaType}" == "4")	
										<a href="/onair/radio/channel?channelId=${channelSong.channel.channelId}&programId=${channelSong.schedule.programId}#nowMusicListWrap" class="link_program" title="${channelSong.schedule.programName}">${channelSong.schedule.programName}</a> <!-- a태그 em으로 변경시 딤드 처리 -->
										#else	
										<em href="#none" class="link_program" title="${channelSong.schedule.programName}">${channelSong.schedule.programName}</em>
										#end
										
									</td>
									<td class="td_option">
										#printListItemButtonOnair(${channelSong.song.songId}, "listen", "", ${channelSong.song.AODLinkId})
										#printListItemButtonOnair(${channelSong.song.album.albumId}, "album", "")
										#printListItemButtonOnair(${channelSong.song.songId}, "my", "", ${channelSong.song.AODLinkId})
										#printListItemButtonOnair(${channelSong.song.songId}, "mp3", "", ${channelSong.song.MP3LinkId})
										#printListItemButtonOnair(${channelSong.song.songId}, "bgm", "", ${channelSong.song.BGMLinkId})
									</td>
								</tr>
    							#end
                            	#if($count == ${songList.size()})
                            		#set($songEndTime = ${channelSong.startTime})	
                            	#end
    						#end
    					</tbody>
    				</table>
				</div>
				<a href="#none" class="btn_more" onclick="javascript:daum.Music.Onair.Timeline.getBottomSongList();"><span class="btn_now txt_more">더보기</span></a> <!-- 2014-04-04 수정 -->
			</div>
	<div id="musicLayerAD"></div>


#parse("/velocity/onair/common/specialbanner.vm") 
#parse("/velocity/onair/common/programChart.vm")



<script type="text/javascript">
	
	var tvChannelType="$!{command.tvChannelType}";
	var radioChannelType="$!{command.radioChannelType}";
	var selectedChannelIds = [];
	#foreach($selChannel in $!{command.channelIds})
	selectedChannelIds.push("${selChannel}");
	#end
	selectedChannelIds.join("",",");
	var nextPageNo = $!{command.pageNo}+1;
	var totalPage = $!totalPage;
	var option = {
		 nextPageNo : nextPageNo,
		 tvChannelType : tvChannelType,
		 radioChannelType : radioChannelType,
		 selectedChannelIds : selectedChannelIds,
		 searchDate : "$!{command.searchDate}",
		 totalCnt : $totalCnt,
		 totalPage :$!totalPage,
		 songStartTime : "${songStartTime}",
		 songEndTime : "${songEndTime}"
	};
	
	jQuery("document").ready(
	function(){
    	new daum.Music.Onair.Timeline.init(option);
		
   		daum.Music.Onair.Timeline.getSongList('', '', 1, '');
		daum.Music.Onair.Timeline.run();
		
		var selectedChannelSize= jQuery("ul.list_chice li.on").length;
		if(selectedChannelSize > 0){
			var html = '';
			var isTv = false;
			var isRadio = false;
			
			jQuery("ul.list_chice li.on a.btn_now").each(function(index, item){
			
				if(index == 0)	html = jQuery(item).html();
    			
    			if(item.id == "tvChannelType") isTv = true;
    			if(item.id == "radioChannelType") isRadio = true;
			});
			
			if(isTv && isRadio){
   				html = "TV 전체, Radio 전체";
			}else{
    			if(selectedChannelSize > 1){
    				html = html +" 외 "+(selectedChannelSize-1)+"개 채널";
    			}
			}
			jQuery("div strong.tit_main").html(html);
		}
	});		
	jQuery("#refresh").click(daum.Music.Onair.Timeline.changeButtenClass);
	jQuery('#channelSel').click(daum.Music.Onair.Timeline.channelSel);
	jQuery('#channelMain').click(daum.Music.Onair.Timeline.channelMain);
	jQuery('.btn_confirm').click(daum.Music.Onair.Timeline.confirm);
	jQuery('.btn_cancel').click(daum.Music.Onair.Timeline.cancel);
	jQuery(".list_chice li .btn_now").click(daum.Music.Onair.Timeline.selectChannelId);
	jQuery(".now_timelist").scroll(daum.Music.Onair.Timeline.timelineScroll);
	
	jQuery(".btn_stop").mouseover(function(){
		jQuery("div.box_tip").css("display","block");
	}).mouseout(function(){
		jQuery("div.box_tip").css("display","none");
	});
	
	jQuery(".list_buy").click(function(event){
		console.log(event.target);
	});

		//뮤직탑 레이어 팝업 광고 인벤토리
(function( $dm ){
$dm.LayerAD = function(){
	var init = function() {
		checkCookie();
	};
	var cookieName = "displayLayerAD";
	
	var checkCookie = function() {
		var cookieVal = daum.Browser.getCookie(cookieName);
		if(cookieVal != "off") {
			adAjaxCall();
		}

	};
	
	var adAjaxCall = function() {
		var inventoryApiUrl = "/home/api/inventory.json";
		var opt = {
			method: "GET",
			paramString : "",
			onsuccess : setData.bind(this)
		};
		new daum.Ajax().request(inventoryApiUrl, opt); 
	};
	
	var layerADTemplate = new daum.Template([
        '<div class="music_layer" style="top:222px;margin-left:-184px">',
        '	<div class="inner_music_layer1">',
        '		<div class="layer_head">',
        '			<strong class="screen_out">다음 뮤직 앨범</strong>',
        '		</div>',
        '		<div class="layer_body">',
        '			<a href="#{url}" class="ir_pm link_bnr">',
        '				<img src="#{image}" width="385" height="385" class="thumb_bnr" alt="첫 솔로 데뷔곡 너 밖에 몰라 티져 뮤비 최초 공개 HYORIN">',
        '			</a>',
        '		</div>',
        '		<div class="layer_foot">',
        '			<a href="#none" onclick="daum.Music.LayerAD.todayClose(); return false;" class="btn_popup btn_today">오늘 더 보지 않기</a>',
        '			<a href="#none" onclick="daum.Music.LayerAD.hide(); return false;" class="btn_popup btn_close">다음 뮤직 이벤트 레이어 닫기</a>',
        '		</div>',
        '	</div>',
        '</div>'
	].join('') );
	
	var setData = function(res) {
		var layerADContainer = daum.$("musicLayerAD");
		var layerADContent = null;
		var data = daum.jsonToObject(res.responseText);
		if(data.Item == undefined) return;
		var url = data.Item.A.Link;
		var image = data.Item.A.Img.src;
		if(!!url && !!image) {
    		layerADContent = layerADTemplate.toElement({
				url : url,
				image : image
			});
		}
		layerADContainer.appendChild(layerADContent);
	};
	
	
	var todayClose = function() {
    	if(!!confirm('오늘 하루 안보이길 원하세요?')) {
    		var d = new Date();
    		d.setHours(23);
    		d.setMinutes(59);
    		d.setSeconds(59);
    		d = d.toGMTString();
    		document.cookie = cookieName+'=off;expires='+d+';path=/;domain='+location.host;
    	}
    	hide();
	};
	
	var hide = function() {
		daum.hide("musicLayerAD");
	};
	
	return {
		init : init,
		hide : hide,
		todayClose : todayClose
	};
}();
})( daum.Music );

daum.Music.LayerAD.init();
</script>
<script type="text/javascript">  
	var controller = new daum.Music.ListPrototype();
	controller.initialize();  
</script>  


