
	#set($shareTitle = "SUPPORT YOUR MUSIC! : $!{symInfo.title}기")
##	#getSymShareBtn("story" $shareTitle "/sym/story/list?sym_seq=$!{command.sym_seq}&menu_id=$!{command.menu_id}" "$!{symInfo.filePath}")
	
	<div class="top_receipt">
		<div class="cont_img">
			<img class="img_banner" src="$!{symInfo.filePath}" width="828" height="194" title="" alt="SUPPORT YOUR MUSIC" />
			<h3 class="tit_receipt tit_tab04">음반 제작을 위한후원 펀드레이징</h3>
			<div class="des des_tab04">후원이 성공적으로 마감되었습니다. 그들의 소식을 만나보세요</div>
		</div>
		
		#getSymProcessTab("story")
		
	</div>
	<div class="content story">
		<div class="article_musicbar_top">
			<div class="section_best">
				
			#if( $StringUtils.isBlank("$!{boardList}") || $!{boardList.size()} == 0 )
        	<div class="wrap_nodata list_recom">
        		<strong>해당 게시판 내용이 없습니다.</strong>
        	</div>
        	#else
				<ul class="list_thumb list_thumb_music">
                #if(!$CollectionUtils.isEmpty($boardList))
					#foreach($board in $boardList)
            		<li>
            			<div class="wrap_thumb">
            				<a class="thumb_link" href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" title="$!{board.title} 바로가기" target="musicbar_story">
            					<img width="220" height="138" alt="" src="$ImageUtil.getImageUrl("$!{board.imageUrl}", "220x138", "PHOTO", "C")">
            					<span class="line_thumb"></span>
            				</a>
            			</div>
            			<div class="wrap_info">
            				<strong class="tit">
								#set($titleLength = 50 - $!board.subTitle.length())
            					<a href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" title="$!{board.title}" target="musicbar_story">#if($StringUtils.isNotBlank("$!{board.subTitle}"))<span class="fc_etc">[$!{board.subTitle}]</span>#end #strCut($!{board.title}, $!{titleLength})</a>
            				</strong>
            				<p class="txt_desc">
            					<a href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" target="musicbar_story">#if( $board.songList.size() > 0 && $board.songList )#strCut("#stripHTML($!{board.summary})", 145)#{else}#strCut("#stripHTML($!{board.summary})", 340)#end</a>
            				</p>
            				<span class="txt_origin">
            					#if( $StringUtils.isNotBlank("$!{board.writer.nickName}") )
            					<a href="javascript:;" onclick="daum.Music.MusicBar.linkToWriter('$!{command.menu_id}', '$!{board.writer.nickName}'); return false;" title="$!{board.writer.nickName}" style="color:#888;" target="musicbar_story">$!{board.writer.nickName}</a>	
            					<span class="txt_bar"> | </span>
            					#end
            					<span class="txt_day">$!{CheckDate.makeReleaseDate($!{board.regdttm})}</span>
            					<span class="txt_bar"> | </span>
            					<span>댓글 <em class="fc_red">#if( $StringUtils.equals("$!{board.eventYn}", "Y") && $StringUtils.equals("$!{board.purchaseEventYn}", "N"))$!{board.eventCommentCount}#else$!{board.replyCount}#end</em></span>
            					<span class="txt_bar"> | </span>					
            					<span class="ico_comm ico_recom">
            						<span class="screen_out">추천</span><em class="fc_red">$!{board.recommendCount}</em>
            					</span>				
            				</span>
            				#foreach($song in $board.songList)
                				#if($StringUtils.isNotBlank("$!{song.AODLinkId}") )
									#if( $foreach.index < 2)
                    				<span class="song_listen">
                    					#printSongArtistName( $song "ico_comm ico_listen" 60 true )
                    				</span>
                    				#end
                				#end
            				#end
            			</div>		
						<a class="btn_comm btn_more" href="/musicbar/musicbar/detail?menu_id=$!{command.menu_id}&board_id=$!{board.boardId}" title="더보기">더보기</a>
            		</li>
					#end
				#end
                </ul>				
				#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
			#end	
			</div>
		</div>
	</div>

#if( $StringUtils.equals("$!{command.debugmode}","2") )
#*	
우측메뉴<br/>
#foreach($motTemplete in $rightMenuList)
	타이틀 : $motTemplete.title <br/>
	일반이미지 : $motTemplete.imageUrl <br/>
	활성화이미지2 : $motTemplete.activatedImageUrl <br/>
	링크 : $motTemplete.linkUrl <br/>
	활성화여부 : $motTemplete.activatedYn <br/>
	<br/><br/>
#end
*# 
스토리갯수 : $boardCount <br/>

투표탭 활성화여부 : $symInfo.voteYn<br/>
투표 시작일 : $symInfo.voteStrdttm<br/>
투표 종료일 : $symInfo.voteEnddttm<br/>
펀드탭 활성화여부 : $symInfo.fundYn<br/>
펀드 시작일 : $symInfo.fundStrdttm<br/>
펀드 종료일 : $symInfo.fundEnddttm<br/>
스토리탭 활성화여부 : $symInfo.rvActiveYn<br/>
스토리 menu_id : $symInfo.rvMenuId<br/>

#foreach($board in $boardList)
	뮤직바 상단 이미지 : $board.menuImage <br/>
	메뉴 타이틀 : $board.menuName <br/>
	뮤직바아이디 : $board.boardId <br/>
	글제목 : $board.title <br/> ## 제목
	카테고리 : $board.subTitle <br/> ## 기획특집 제목
	요약 : $board.summary <br/> 
	이미지 : $board.imageUrl <br/> 
	추천수 : $board.recommendCount <br/> 
	댓글수 : $board.replyCount <br/>
	이벤트댓글수 : $board.eventCommentCount <br/>
	등록일 : $board.regdttm <br/>
	작성자 : $board.writer.nickName <br/>
	링크 : http://music.daum.net/musicbar/musicbar/detail?menu_id=$command.menu_id&board_id=$board.boardId <br/><br/>
	#foreach($song in $board.songList)
		곡제목 : $song.title<br/>
		곡아이디 : $song.songId<br/>
		가사유무 : $song.lyricsYn<br/>
		듣기아이디(널이면 비활성화) : $song.AODLinkId<br/>
		MP3아이디 (널이면 비활성화) : $song.MP3LinkId<br/>
		BGM아이디(널이면 비활성화) : $song.BGMLinkId<br/>
		벨소리 서비스 여부 : $song.bellSalesStatus<br/>
		통화연결음 서비스 여부 : $song.ringSalesStatus<br/>
		아티스트 :<br/>
		#foreach($artist in $song.keyArtistList)
			아티스트명 : $artist.name<br/>
			아티스트아이디 : $artist.artistId<br/>
		#end
		<br/>
	#end
	<br/>
#end
<br/><br/>
	#printPaging($pagingUrl, $command.page_no, $pageHandler, "", 10)
#end
	
	
	