
#set($artistList = $dto.artistResult.documentList)
#set($artistCount = $dto.artistResult.totalResultsCount)
#set($query = $!{command.query})
#set ($url = "/search/artist/list?query=$!{query}")
#set ($artistUrl = "&artistId=$!{command.artistId}")
#set ($rangeUrl = "&searchRange=$!{command.searchRange}")
#set ($nationUrl = "&nationId=$!{command.nationId}")
#set ($genreUrl = "&genreId=$!{command.genreId}")
#set ($releaseUrl = "&releaseYear=$!{command.releaseYear}")
#set ($listenUrl = "&listenFilter=$!{command.listenFilter}")
#set ($bgmUrl = "&bgmFilter=$!{command.bgmFilter}")
#set($url = $url + $artistUrl + $rangeUrl + $nationUrl + $genreUrl + $releaseUrl + $listenUrl + $bgmUrl)

<ul class="tab_cont tab_search">
	#printSearchNaviTab()
</ul>


<div class="section_artist cont_artist">
	#parse("/velocity/search/piece/finder2.vm")
	
    #parse("/velocity/search/piece/highlight.vm")
	
    #if(($!{artistCount}) && $!{artistCount} > 0)
	<div class="wrap_title">
		<h3 class="tit_search tit_artist">아티스트</h3>
		<span class="txt_bar"> | </span>
		<span class="txt_quantity">총 <strong class="fc_blue ls_0">$!{artistCount}</strong> 건</span>
		
		#*
		<div class="sort_option f_r">
			#printSearchSortOption( $url, $!{command.sortType} )
		</div>
		*#
	</div>
	
	<ul class="list_info list_artist">
		#foreach($artist in $artistList)	
		<li>
			#printArtistThumb($artist 6)
			
			<div class="wrap_info">
				<span class="txt_name">
					<a href="/artist/main?artist_id=$!{artist.artistId}" onclick="daum.Music.artistDetail($!{artist.artistId});return false;">$!{artist.artist_name}</a>
				</span>
				#if($StringUtils.isNotBlank("$!{artist.credit_name}") || ($StringUtils.isNotBlank("$!{artist.artist_type}") && !$StringUtils.equals("$!{artist.artist_type}", "None")))
				<dl class="col_info">
					<dt>활동</dt>
					<dd>
						#set($activityInfo = "")
						#if($StringUtils.isNotBlank("$!{artist.credit_name}"))
							#set($activityInfo = $!{artist.credit_name})
						#else
							#if($StringUtils.isNotBlank("$!{artist.artist_type}") && !$StringUtils.equals("$!{artist.artist_type}", "None"))
								#set($activityInfo = $!{artist.artist_type})
							#end
						#end
						#strCut("$activityInfo.replaceAll('\|','\, ')", 24)
					</dd>
				</dl>
				#end
				
			#if(!$artist.artist_type || "$artist.artist_type" == "")
				#set($belongedBandList = $!{artist.getBelongedBandList()})
				#if($!{belongedBandList} && $belongedBandList.size() > 0)
				<dl class="col_info">
					<dt>그룹</dd>
					<dd>
					#set($groupString = "")
#foreach($band in $belongedBandList)##
#***##if( $StringCutUtil.getStringByte("#stripHTML($groupString)") > 40)...#break#end##	
#***##if($foreach.index > 0), #end##
#***##if($StringUtils.isNotBlank("$!{band.artistId}") && !$StringUtils.equals("$!{band.artistId}","0"))<a href="/artist/main?artist_id=$!{band.artistId}" onclick="daum.Music.artistDetail($!{band.artistId});return false;">$!{band.name}</a>#else $!{band.name}#end##
#***##set($groupString = $groupString + $!{band.name})##		
#end##
					##if($!{artist.moreBand})...&nbsp;&nbsp;#end
					</dd>
				</dl>
				#end									
				#if($StringUtils.isNotBlank("$!{artist.artist_life_date}") && ($StringUtils.isNotBlank("$!{artist.birthDt}") || $StringUtils.isNotBlank("$!{artist.deathDt}")))
				<dl class="col_info">
					<dt>생몰</dt>
					<dd>#if($StringUtils.isNotBlank("$!{artist.birthDt}"))$!{CheckDate.makeReleaseDate($!{artist.birthDt})}#if($StringUtils.isNotBlank("$!{artist.deathDt}")) ~ $!{CheckDate.makeReleaseDate($!{artist.deathDt})}#end#end</dd>
				</dl>
				#end
			#else
				#set($memberList = $!{artist.getMemberList()})
				#if(!$CollectionUtils.isEmpty($memberList))
				<dl class="col_info">
					<dt>멤버</dt>
					<dd>
					#set($memberString = "")
#foreach($member in $memberList)##
#***##if( $StringCutUtil.getStringByte("#stripHTML($memberString)") > 40)...#break#end##
#***##if($foreach.index > 0), #end## 
#***##if($StringUtils.isNotBlank("$!{member.artistId}") && !$StringUtils.equals("$!{member.artistId}","0"))<a href="/artist/main?artist_id=$!{member.artistId}" onclick="daum.Music.artistDetail($!{member.artistId});return false;">$!{member.name}</a>#else $!{member.name}#end##
#***##set($memberString = $memberString + $!{member.name})##		
##if($foreach.count > 5)...#break;#end##
#end##
					</dd>	
				</dl>
				#end
				#if($StringUtils.isNotBlank("$!{artist.artist_life_date}") && ($StringUtils.isNotBlank("$!{artist.birthDt}") || $StringUtils.isNotBlank("$!{artist.deathDt}")))
				<dl class="col_info">
					<dt>결성</dt>
					<dd>#if($StringUtils.isNotBlank("$!{artist.birthDt}"))$!{CheckDate.makeReleaseDate($!{artist.birthDt})}#if($StringUtils.isNotBlank("$!{artist.deathDt}")) ~ $!{CheckDate.makeReleaseDate($!{artist.deathDt})}#end#end</dd>
				</dl>
				#end
			#end
				
				#if($StringUtils.isNotBlank("$!{artist.nation_name}"))
				<dl class="col_info">
					<dt>국가</dt>
					<dd>$!{artist.nation_name}</dd>
				</dl>
				#end
				
				#set($song = $artist.getRepresentationSong())
				#if($StringUtils.isNotBlank("$!{song.songId}"))
				<span class="wrap_listen">
					#printSearchSongName($song, "ico_comm ico_listen", 33, true, false )
				</span>
				#end
			</div>
			
		</li>
		#end
	</ul>
	
	## 페이징
	#if($StringUtils.isNotBlank("$!{command.sortType}")) #set($url = $url + "&amp;sortType=$!{command.sortType}") #end
	#set($url = $url + "&amp;page_no=")
	#printPaging($url, $dto.ph.pageNo, $dto.ph, "", 10)
	
    #else
    <ul class="list_search_guide">
    	<li class="ico_comm">검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요.</li>
    	<li class="ico_comm">두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요.</li>
    	<li class="ico_comm">키워드에 있는 특수문자를 뺀 후에 검색해 보세요.</li>
    </ul>
    #end
</div>



<div id="FTMessage">
---------------------<br/>
FT 체크<br/>
---------------------<br/>

---------------------<br/>
개발 체크<br/>
---------------------<br/>

</div>
#if( $StringUtils.equals("$!{command.debugmode}","2") )

#set($artistList = $dto.artistResult.documentList)
#set($artistCount = $dto.artistResult.totalResultsCount)

<h2>본문영역</h2>
#set ($url = "?query=$!{command.encodedQuery}")
#if( $StringUtils.isNotEmpty("$!{command.nationId}") ) #set ($url = $url + "&typeId=$!{command.nationId}") #end
#if( $StringUtils.isNotEmpty("$!{command.typeId}") ) #set ($url = $url + "&typeId=$!{command.typeId}") #end
#if( $StringUtils.isNotEmpty("$!{command.genreId}") ) #set ($url = $url + "&genreId=$!{command.genreId}") #end
		
<!-- 아티스트 -->
	#if(($!{artistCount}) && $!{artistCount} > 0)	
	<div class="collTitle">
		<h3>아티스트 <span class="num">총  ${artistCount}건</span></h3>
#*		<h3 class="fl">아티스트 <span class="num">총  ${artistCount}건</span></h3>
		<span class="fl">&nbsp;
			#if($StringUtils.equals($!{command.sortType}, "0"))
				<span class="nrl base">정확도</span>
			#else
				<a href="$url&sortType=0" class="stlink">정확도</a>
			#end
			#if($StringUtils.equals($!{command.sortType}, "1"))
				<span class="nrl vline"> | </span><span class="nrl base">최근데뷔</span>
			#else
				<span class="nrl vline"> | </span><a href="$url&sortType=1" class="stlink">최근데뷔</a>
			#end
		</span>
*#
	</div>	
				
	<div class="collWid collTot">	
	#foreach($artist in $artistList)
		#set ($count = $foreach.index + 1)
		<div class="clearfix #if ($foreach.index == 0) mThumImgListFst #else mThumImgList #end">
			<a href="/artist/artist?artistDetailId=$!{artist.artist_id}" class="collImg" onclick="return gLink(null, 'SRAY', '1', '$!{count}');"><img src="$ImageOldUtil.getImageUrl("$!{artist.artist_thumb_url}", $ImageOldUtil.ARTIST_74_107)" width="74" height="107" alt="#getStrongText(${artist.artist_name})" class="oline"></a>
			<div class="collCont">
				<span class="tit2 subj2">#if($StringUtils.isNotEmpty("$!{artist.artist_id}") && !$StringUtils.equals("$!{artist.artist_id}","0"))<a href="/artist/artist.do?artistDetailId=$!{artist.artist_id}" onclick="return gLink(null, 'SRAY', '2', '$!{count}');">${artist.artist_name}#if( $StringUtils.isNotEmpty("$!{artist.artist_name_kor}") )($artist.artist_name_kor)#end</a>#else ${artist.artist_name}#if( $StringUtils.isNotEmpty("$!{artist.artist_name_kor}") )($artist.artist_name_kor)#end#end</span>
					
				#if($StringUtils.isNotEmpty("$!{artist.artist_type}") || $StringUtils.isNotEmpty("$!{artist.nation_name}") || $StringUtils.isNotEmpty("$!{artist.debut_date}"))
				<dl class="collDl">
					<dd class="tit">활동정보</dd>
					<dd class="con">
						#set($chkL = "off")
						#if($StringUtils.isNotEmpty("$!{artist.credit_name}"))
							$!{artist.credit_name}
							#set($chkL = "on")
						#else
							#if($StringUtils.isNotEmpty("$!{artist.artist_type}"))
								$!{artist.artist_type}
								#set($chkL = "on")
							#end
						#end					
						#if($StringUtils.isNotEmpty("$!{artist.nation_name}"))
							#if($StringUtils.equals($!{chkL},"on")) <span class="vline"> | </span> #end
							$!{artist.nation_name}
							#set($chkL = "on")
						#end
				#*
						#if($StringUtils.isNotEmpty("$!{artist.debut_dttm}")&&!$StringUtils.equals($!{artist.debut_dttm},"00000000"))
							#if($StringUtils.equals($!{chkL},"on")) <span class="vline"> | </span> #end
							$ConverterUtil.formatByStar(${artist.debut_dttm}, "****") 데뷔
							#set($chkL = "on")
						#end
				*#
						#if($StringUtils.isNotEmpty("$!{artist.artist_lifetime}"))
							#if($StringUtils.equals($!{chkL},"on")) <span class="vline"> | </span> #end
							$!{artist.artist_lifetime}
						#end
					</dd>
				</dl>
				#end
				
				#if($StringUtils.isNotEmpty("$!{artist.class_name}") || $StringUtils.isNotEmpty("$!{artist.genre_name}"))
				<dl class="collDl">
					<dd class="tit">장르</dd>
					<dd class="con">
						#if($StringUtils.isNotEmpty("$!{artist.class_name}"))
							<a href="/genre/genre.do?styleKind=genre&genreCode=$!{artist.class_id}" onclick="return gLink(null, 'SRAY', '3', '$!{count}');">$!{artist.class_name}</a>
							#if($StringUtils.isNotEmpty("$!{artist.genre_name}")) &gt; #end
						#end
						#if($StringUtils.isNotEmpty("$!{artist.genre_name}"))
							<a href="/genre/genre.do?styleKind=styleGroup&styleGroupCode=$!{artist.genre_id}" onclick="return gLink(null, 'SRAY', '4', '$!{count}');">$!{artist.genre_name}</a>#end
					</dd>
				</dl>
				#end
				#set($song = $artist.getRepresentationSong())
				#if($StringUtils.isNotEmpty("$!{song.songId}"))
				<dl class="collDl">
					<dd class="tit">대표곡</dd>
					<dd class="con">
						<a href="/song/song.do?songId=$!{song.songId}" class="gray_d2 fl" title="$!{song.title} 곡 상세정보 바로가기" onclick="return gLink(null, 'SRAY', '5', '$!{count}');">$!{song.title}</a>
						#if($StringUtils.equals("$song.listenYN", "Y")) #set ( $_listenAble = true ) #else #set ( $_listenAble = false ) #end
						<input class="typeBtn btSetMiniSmall btMiniSmallListen#if(!$_listenAble)_dis#end" type="button" #if($_listenAble)onclick="listenSong('$!{song.songId}');return gLink(null, 'SRAY', '6', '$!{count}');"#else disabled="true"#end title="#escTitle($!{song.title}) 곡 듣기" value="#escTitle($!{song.title}) 곡 듣기"/>	
					</dd>
				</dl>
				#end
				#set($memberList = $!{artist.getMemberList()})				
				#if($memberList.size() > 0)
				<dl class="collDl">
					<dd class="tit">멤버</dd>
					<dd class="con">
#foreach($member in $memberList)##
#***##if($foreach.index > 0), #end## 
#***##if($StringUtils.isNotEmpty("$!{member.artistDetailId}") && !$StringUtils.equals("$!{member.artistDetailId}","0"))<a href="/artist/artist.do?artistDetailId=$!{member.artistDetailId}" class="stit" onclick="return gLink(null, 'SRAY', '8', '$!{count}');">$!{member.name}</a>#else $!{member.name}#end##
#end##
						#if($!{artist.moreMember})...&nbsp;&nbsp;<a href="/artist/intro.do?artistDetailId=$!{artist.artist_id}#wArtiMember" class="mlink" target="_blank" onclick="return gLink(null, 'SRAY', '8', '$!{count}');">더보기</a>#end
					</dd>
				</dl>
				#end
				
				#set($belongedBandList = $!{artist.getBelongedBandList()})
				#if($!{belongedBandList} && $belongedBandList.size() > 0)
				<dl class="collDl">
					<dd class="tit">소속</dd>
					<dd class="con">
#foreach($band in $belongedBandList)##
#***##if($foreach.index > 0), #end##
#***##if($StringUtils.isNotEmpty("$!{band.artistDetailId}") && !$StringUtils.equals("$!{band.artistDetailId}","0"))<a href="/artist/artist.do?artistDetailId=$!{band.artistDetailId}" class="stit" onclick="return gLink(null, 'SRAY', '7', '1');">$!{band.name}</a>#else $!{band.name}#end##
#end##
						#if($!{artist.moreBand})...&nbsp;&nbsp;<a href="/artist/intro.do?artistDetailId=$!{artist.artist_id}" class="mlink" target="_blank" onclick="return gLink(null, 'SRAY', '7', '1');">더보기</a>#end
					</dd>
				</dl>
				#end									
			</div>
		</div>	
	#end								
	</div>
	<div class="collBottom"></div>
		
<!-- 페이징 -->	
	#if( $StringUtils.isNotEmpty("$!{command.sortType}") ) #set ($url = $url + "&sortType=$!{command.sortType}") #end
		#printPagingClickLog("${url}&pageNo=", $dto.ph.pageNo, $dto.ph, "", 10)
	#end
	
	<!--검색결과 없음 -->
    #if($artistCount <= 0)
		<div class="rsltHelp">
    		<p><span class="dot">ㆍ</span>검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 검색해 보세요.</p>
    		<p><span class="dot">ㆍ</span>두 단어 이상의 키워드로 검색 하신 경우, 정확하게 띄어쓰기를 한 후 검색해 보세요.</p>
    		<p><span class="dot">ㆍ</span>키워드에 있는 특수문자를 뺀 후에 검색해 보세요.</p>
    	</div>
	</div>
	#end
	
<!-- 제보 -->
##	<hr/><div id="wInfoArea"><span class="tit">지금 보시는 검색 결과에 추가, 수정이 필요한 내용을 직접 등록해 주세요.</span><input type="button" class="typeBtn btnInfo fl" value="제보하기" title="제보하기"></div>
	
<!-- 클릭로그 -->
<script type="text/javascript">init("AY", "$!{command.eucKrQuery}", "-1", "@@@");</script>

#end