<div class="wrap_cont section_favorite">
	<h3 class="tit_mymusic tit_favorite">즐겨 듣는 음악</h3>
	<div class="music_chart">
		<em class="ico_mymusic ico_guide">최대 플레이수 <strong class="fc_blue ls_0">100</strong> 개 기준</em>
		<div class="wrap_tool_btn">
			<div class="tool_btn f_l">
				##	#printListButton( "song", "controlBtn" )
				#printListButton( "song" "listen" "" "" "" )
			</div>
			<em class="txt_quantity f_l">총 <strong class="fc_blue">#if($!{myCount}) $myCount #else 0 #end</strong> 곡</em>
		</div>
		<div class="bg_thead">
			<input type="checkbox" id="allCheck" class="all_chk">
			<label for="allCheck" class="screen_out">전체선택</label>			
		</div>
		#if(!$CollectionUtils.isEmpty($myList))
		<ul id="trackContainer" class="list_music">
			#printListItems( "song_li" $myList "" false )
		</ul>
		#else 
			<div class="wrap_nodata"><strong>즐겨 듣는 음악이 없습니다</strong></div>
		#end 
		
		<div class="wrap_tool_btn">
			<div class="tool_btn f_l">
			##	#printListButton( "song", "controlBtn" )
				#printListButtonFoot( "song"  "listen" "" "" "")
			</div>
		</div>
	</div>
</div>
#printSNSList( $myList )
<script type="text/javascript">
	var controller = new daum.Music.ListPrototype();
	controller.initialize({isDuplicate:false, MySection:true});
    // 	daum.Music.List.init();	// chart : 뮤직비디오 바로보기에 관련동영상 포함 여부
    //new daum.Music.CheckBoxDrag("trackContainer");
	//var checkboxDrag = daum.Music.selectByDrag().init("#trackContainer .track", "col_check");

 </script>

#if( $StringUtils.equals("$!{command.debugmode}","2") )

<b>왼쪽레프트정보</b><br/>
다음이름: $left.cpDaumName <br/>
전화번호 $left.cpNumber <br/>
유저아뒤 : $left.userId <br/>
음악감상잔여일 $left.aodLeftDay <br/>
mp3잔여곡 : $left.Mp3LeftCount <br>

<br>
MY 뮤직<br/> 
플레이리스트 $left.myPlayCount <br/>

#foreach($item in $left.myPlayList)<br/>
	ㅡ순서: $item.playListId || 이름: $item.playListName ($item.totalPlayCnt) || 디폴트: $item.gubunCd
#end <br/>

<br/>
즐겨 듣는 음악 <br/>
최근 들은 음악 <br/>
관심음악 : $left.favoriteCount <br/>
관심음악제일마지막에 저장된 탭 : $left.lastSavedObjType <br/>
구매음악 : $left.ownCount <br/>
		
MY관리 <br/>
이용권현황 $left.ticketOwnCount <br/>
내알림  $left.announceCount <br/>
내설정 <br/>

공지사항 <br/><br/>
#foreach($item in $left.recentNoticeList)<br/>
	#if($foreach.index < 4)
		$item.get("SUBJECT") ||  $item.get("URL") <br />
	#end
#end <br />	
<br>

<b>즐겨듣는음악</b><br/>
갯수: #if($!{myCount}) $myCount #else 0 #end 곡 (최대 100개까지만 노출예정) <br/><br/>
#if($!{myList})
	#foreach($item in $myList)
		노래아이디: $item.songId <br/>
		노래제목: $item.title <br/>
		성인곡여부: #if($!{item.adultYn}) $item.adultYn #end <br/>
	
		#foreach($artist in $item.keyArtistList)
			아티스트명 : $artist.name (아이디 : $artist.artistId )<br/>
		#end
	
		#foreach($artist in $item.featArtist)
			피처링아티스트명 : $artist.name (피처링아이디 : $artist.artistId) <br/>
		#end
	
		듣기아이디(널이면 비활성화): $item.AODLinkId <br/>
		가사여부: $item.lyricsYn <br/>	
		앨범아이디 : $item.album.albumId <br/>
		뮤직비디오아이디 (널이면 비활성화) :#if($!{item.vclipLinkId}) $item.vclipLinkId #end <br/>
		MP3아이디(널이면 비활성화) :#if($!{item.MP3LinkId}) $item.MP3LinkId #end <br/>
		BGM아이디(널이면 비활성화) :#if($!{item.BGMLinkId}) $item.BGMLinkId #end <br/>
		Bell판매상태(널이면 비활성화) :#if($!{item.bellSalesStatus}) $item.bellSalesStatus #end <br/>
		ring판매상태(널이면 비활성화) :#if($!{item.ringSalesStatus}) $item.ringSalesStatus #end <br/>
	-----------------------------<br/>
	#end
#end
<br/>

#페이징없음

#end