{
"resultCode": "$!{resultCode}",
"resultMessage": "$!{resultMessage}",
"nickName" : "$!{user.daumName}",
"userRequestId" : "$!{userRequestId}",
"duplicatedUserId" : "$!{duplicatedUserId}",
"addSongList" : [ 
            	#foreach($song in $addSongList)
            		#if($foreach.index > 0),#end
            		{
            			"songId":"$!{song.songId}",
            			"title":"#strCut("$!{song.title}", 50)",
            			"keyArtistList": [
            				#foreach($artist in $song.keyArtistList)
            					#if($foreach.index > 0),#end
            					{
            						"artistId":"$!{artist.artistId}",
            						"name":"$!{artist.name}"
            					} 
            				#end
            			],
            			"featArtistList": [
            				#foreach($artist in $song.featArtistList)
            					#if($foreach.index > 0),#end
            					{
            						"artistId":"$!{artist.artistId}",
            						"name":"$!{artist.name}"
            					} 
            				#end
            			],
            			"AODLinkId":"$!{song.AODLinkId}",
            			"typeCd" : "$!{song.typeCd}",
            			"lyricsYn":"$!{song.lyricsYn}",
            			"albumId":"$!{song.album.albumId}",
            			"vclipLinkId":"$!{song.vclipLinkId}",
            			"tvpotVId":"$!{song.tvpotVId}",
            			"MP3LinkId":"$!{song.MP3LinkId}",
            			"BGMLinkId":"$!{song.BGMLinkId}",
            			"bellSalesStatus":"$!{song.bellSalesStatus}",
            			"ringSalesStatus":"$!{song.ringSalesStatus}",
            			"userId" : "$!{encodedUserId}"
            		}
            	#end
            	]	
}
