#uaCheck()
<div id="daumContent" class="cont_mov">
	<h2 class="screen_out">뮤비</h2>
	#SearchForm("only_top")

	<div class="section_category">
		<div class="wrap_head">
			<h3 class="tit">뮤비</h3>
		</div>
		<ul class="list_info list_category">
			<li>
				<div class="wrap_cont">
					<a href="/vclip/chart" class="tit_chart">
						<span class="f_l">인기 뮤비</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/vclip/newest" class="tit_chart">
						<span class="f_l">최신 뮤비</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="wrap_cont">
					<a href="/vclip/type?obj_type=02" class="tit_chart">
						<span class="f_l">라이브</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
		#foreach($theme in $themeList)
			#if($StringUtils.isNotBlank("$!{theme.title}"))
			<li>
				<div class="wrap_cont">
					<a href="/vclip/theme?theme_id=$!{theme.vclipThemeId}" class="tit_chart">
						<span class="f_l">#strCut("$!{theme.title}", 30)</span>
						<span class="ico_music ico_arrow"></span>
					</a>
				</div>
			</li>
			#end
		#end
		</ul>
	</div>
	
</div>

#parse("/velocity/mobileweb/realtimeissue.vm")

#stop

<a href="/vclip/chart">인기뮤비</a><br/>
<a href="/vclip/newest">최신뮤비</a><br/>
<a href="/vclip/type?obj_type=02">라이브</a><br/>
#foreach($theme in $themeList)
        <a href="/vclip/theme?theme_id=$theme.vclipThemeId">$theme.title</a></br>
#end
